[2016-09-16 18:14] otravers commented on #39
I can replicate this behavior as of Docker for Windows 1.12.-stable (b7135).

[2016-09-16 18:22] otravers commented on #18
As a Windows user currently diving into Docker, it does feel like Docker for Windows and Kitematic are somewhat disconnected. It would make sense to install the latter with the former. It would also make sense for Kitematic to be aware of Docker for Windows Shared Drives (https://github.com/docker/kitematic/issues/376) under Volumes, and integrate with that functionality (instead of overlapping it

[2016-09-16 18:27] billhab commented on #77
I have uninstalled Docker, then installed Docker toolbox.   Neither work.
I reinstalled 1.12.0 stable then got notice of new stable version.
I installed stable version but installer told me it didn't have privileges to install new services.
I'm done playing games here.

[2016-09-16 19:18] drm2 commented on #6
@rneugeba I apologize. You are correct, at the moment, but I believe the plan is to get native container support on Windows 10 eventually (hopefully sooner rather than later). I'm not saying another hypervisor software should be implemented (that would be no different than Docker Toolbox). I'm just saying that when native container support is available in Windows 10, it will be nice to not need Hy

[2016-09-16 19:25] billhab opened #88 "Unable to install Docker 1.12.1 after uninstalling Docker 1.12.0"
![snap1](https://cloud.githubusercontent.com/assets/4042769/18598587/8ded49ce-7c21-11e6-946d-f4eadf18e97a.gif)

Seeing docker stuff left over in Windows registry that was left after uninstall.

### Expected behavior

### Actual behavior

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a doc

[2016-09-16 21:06] thasmo commented on #77
So, after trying over a dozen different tweaks, settings and changes it suddenly works but I'm not able to break it on purpose so I've no idea what it did it. :(

[2016-09-17 00:04] twsouthwick commented on #54
Seeing same as original issue. Uploaded id: 10497C6E-1B27-4F0E-8743-A18C2C79AA76/2016-09-16_17-02-49

[2016-09-17 04:07] hanbaobao2005 commented on #60
@dgageot I tried beat25 installation file, the frozen issue still exsit.
@ebriney Thanks for the reminder. The script works, most of files are removed, expected : Docker.Backend.dll
Docker.Core.dll
InstallerCli.exe
Interop.NetFwTypeLib.dll
WindowsFirewallHelper.dll

The files even can't be deleted manually.

[2016-09-17 04:40] jasonsoft commented on #48
Hi @dgageot,

I just tried both version of `beta26` and `stable-1.12.1`, but I still got `509: certificate signed by unknown authority` .  I import my certificate under `Trust Root Certification Authorities` folder.  Do you have any suggestions that I can try?  Thank you

[2016-09-17 04:45] jasonsoft commented on #87
Hi @Matthias247  & @dgageot ,

I used to got the same problem as well.  After I installed 1.12.1 or beta26, it seems to me that the problem has been resolved.

[2016-09-17 10:59] fordprefect-001 commented on #54
Still seeing the same issue with beta26.

Have uploaded crash report with ID: 1FB51E6A-6A9D-4E4D-8014-2A5EE6725A3F/2016-09-17_09-18-02

[2016-09-17 13:23] glennsills opened #89 "docker-machine commands not working as documented"
### Expected behavior
docker-machine active should display default
docker-machine ls should display list of all docker machines
docker-machine ip default should list the  IP information for the default machine

### Actual behavior
docker-machine active displays "No active host found"
docker-machine ip returns 'Error: No machine name(s) specified and no "default" machine exists.'
docker-machine ls

[2016-09-17 22:14] cweagans commented on #6
@drm2 That's not accurate. Native containers use the Windows kernel, which *might* be useful to some people, but the vast majority of people want to use the linux-based containers from hub.docker.com. Two separate things.

[2016-09-18 01:21] seals55 opened #90 "Switch to windows containers fails"
### Expected behavior

Run Windows Containers
### Actual behavior

Docker crashes
### Information
- Diagnostic ID from "Diagnose & Feedback" in the menu.
  162DAE84-1A39-4CBD-9225-B35B0AEAFDF6/2016-09-17_21-06-13
- a reproducible case if this is a bug, Dockerfiles FTW
  Can't get that far
- page URL if this is a docs issue or the name of a man page
- host distribution and version (Windows version,

[2016-09-18 05:26] friism commented on #89
Docker for Windows is not designed to be used with, or managed by, `docker-machine`. Details in the [docs](https://docs.docker.com/docker-for-windows/#/what-to-know-before-you-install) and on the [forums](https://forums.docker.com/t/isnt-the-mobylinuxvm-the-default-docker-machine/17043/2).

[2016-09-18 05:26] #89 closed

[2016-09-18 05:29] friism commented on #6
@cweagans container images work the same way whether they're for Linux or Windows. Also note that Windows Server Containers (shared kernel) and Windows Hyper-V containers (lightweight Hyper-V VM per container) images are interchangeable, i.e. the same Windows Container image can be run in either mode.

Docker Hub can store, and already has, both Linux and Windows container images.

[2016-09-18 09:06] cweagans commented on #6
@friism I understand. I'm pointing out that Docker for Windows is designed to run *Linux* images. AFAIK, Docker for Windows is just starting up a Linux VM using HyperV, running the Docker daemon in that VM, and handling any of the hoops you'd normally have to jump through in order to connect your local Docker client to that daemon and *not* one VM per container.

Where did you see that Windows Ser

[2016-09-18 09:28] rneugeba commented on #6
@cweagans maybe to clarify, there are Linux and Windows container images on the hub (as well as ARM images, etc). Linux containers can be run on Linux Container engine, which, with Docker for Windows are run inside a Linux VM on top of Hyper-V.

Windows container images can be run on *two* different types of Container engines, either as native Windows Server containers (where they run on the same

[2016-09-18 11:00] qwebek commented on #76
Hey Eric,

Does this mean you already had MobyLinuxVM VM in Hyper-V after docker isntallation and start?

How did you copy the settings?

Thanks

[2016-09-18 11:07] qwebek commented on #67
I was able to create Vargrant machine and was able to connect to it using ssh as described by @ericis in [Cannot run Docker after reinstall #76](https://github.com/docker/for-win/issues/76)

[code]
By the way, I was installing vargrant not to program files but some not windows system folders

Also, I was also able to manually create new VM in Hyper-V with new vhdx that is stored in users/user/work

[2016-09-18 16:13] AndyBerman commented on #20
I'm also getting this error with the latest versions of Stable and Beta.
My diagnostic ID is C4B7AC32-0BF9-4F9C-BBBA-7BE438801DE6/2016-09-18_12-07-58

[2016-09-18 18:38] cbeech1980 opened #91 "Docker won't start on Windows 10 - Provider is not capable of the attempted operation"
All,

Fresh install of Docker for Windows on Windows 10 and am having problems starting Docker. Have submitted crash report > CF8EB4B4-0807-4953-85BD-E3C31FBFD4E6/2016-09-18_14-32-51.

The exception thrown is below;

I have attached the log file from docker also.

Any help would be greatly appreciated as I sacrificed by working docker-toolbox configuration to move to the new Windows version!

Than

[2016-09-19 05:00] r2evans commented on #88
@billhab, I had exactly the same issue: could not install 1.12.1 (nor 1.12.0) with a failure shown in your image. I went so far as to completely uninstall docker (losing my images, unfortunately, but not a huge deal for me on this machine) and tried reinstalling. After the failed installs, I noticed I had a stagnant DockerNAT vEthernet device sitting around, and though I researched removing it for

[2016-09-19 08:08] protubero commented on #77
I'm trying to Mount host volumes for some weeks now, without success. Log files tell me, that sharing works, but the Directory Content shown only lists previously mounted Folders and nothing else. I'm Kind of frustrated with this.

D9E7060A-B59A-4546-BAB8-3E537A4C22D6/2016-09-19_10-04-47

[2016-09-19 18:03] ljfolino commented on #27
To add some more detail I was able to work around COMODO by adding c:\windows\system32\vmwp.exe to the "Detect shellcode injection" exclusion in the HIPS Settings.  This got Hyper-V working and vagrant, but docker is still throwing the same errors as stated above.

[2016-09-19 22:28] borgdrone7 opened #92 "MobyLinux has aio-max-nr set by default to 65536 instead of 1048576"
### Expected behavior
Recommended value for aio-max-nr is 1048576

### Actual behavior
Actual default value is 65536

### Information
This is impossible to change from within container and apply it to all other containers (sysctl: setting key "fs.aio-max-nr": Read-only file system) because well, you know :). Problem arises when trying to run 5+ MySQL instances, MySQL fails because aio-max-nr is se

[2016-09-19 22:40] justincormack commented on #92
Hi, sorry about that. There is planned to be an interface to set the default `sysctl` values but it is not there yet. I have increased the default, and this should be in the next beta, which is currently scheduled for early next week.

[2016-09-19 22:57] borgdrone7 commented on #92
Thanks, will wait for the next beta 👍. Also decision by the team to prevent us to access the host directly is very hard to grasp.

[2016-09-19 23:07] justincormack commented on #92
You can set the value temporarily with `docker run --privileged alpine sh -c 'echo 1048576 > /proc/sys/fs/aio-max-nr'` - this will last until the next restart. You can use the automatic restart features in Docker to set this to run always.

You can access the host directly, but we cannot support the product if you do so, and we do not document it, as the interfaces are subject to change.

[2016-09-19 23:12] rneugeba commented on #92
@borgdrone7 we are trying to strike a balance. Sensible default values, tight integration and ease of use works for a lot of people. If we provide a generic interface to things like sysctl, people can accidentally break things either quite badly or, worse, in a subtle way, making it quite hard to support. Please let us know if you have any suggestions.
Thanks
Rolf

[2016-09-19 23:18] torleif opened #93 "Windows volumes unmounting periodically"
### Expected behavior

After a docker volume has been mounted, it persists

### Actual behavior

After a few minutes, the volume will silently fail and stop giving access to the mounted file:

[code]

### Information

Operating System: Windows 10
Docker Image: https://github.com/sminnee/docker-silverstripe-lamp
Docker folder path: //c/Users/<username>/website:/var/www
The following mounted informa

[2016-09-19 23:37] borgdrone7 commented on #92
Thanks @justincormack that fixes it until interface is done.
@rneugeba, in my case I am testing locally on my Windows machine and production will be Linux anyway which I will have access to at the end of the day anyway. Generally I don't think anyone will run production code on Windows for docker as per se. For example even if I wanted to run it on Windows in production I would create bare Linux V

[2016-09-20 07:29] josemanners commented on #77
I followed the instructions in this article https://blogs.msdn.microsoft.com/stevelasker/2016/06/14/configuring-docker-for-windows-volumes/

and after a few tries the way I made it work was by giving Docker the local computer name as part of the credential (i.e. MYCOMPUTER\DockerHost )

[2016-09-20 13:48] billhab commented on #77
josemanners - is your system windows 10 with hyper-v?

[2016-09-20 16:22] masaeedu opened #94 "Use UAC or create dedicated account during installation instead of asking for administrative account password"
Copied from docker/docker#26728 per @justincormack's recommendation.

___

When using volume mounts with Docker for Windows, the UI requires the user to enter their Windows username and password:

![Shared drives setting prompts for user's password](https://zmugkg.by3302.livefilestore.com/y3m26ckOwlhjlSV11vHJ9C3YoYHRbIaq67kXeoliwtiG_rCfVTUXq9qupdGmK9I7x9hL4x3fK7BkQ8CjNAri0aewwXI-80UyLvUflCH3gclFPI

[2016-09-20 19:30] dkarlovi opened #95 "Throw an error if mounting a volume not enabled in Shared Drives"
### Expected behavior
If the drive the folder being shared is not enabled in Shared Drives setting, it should throw an error.

    C:\Users\$me\test>docker run -v c:/Users/$me/test:/data -ti --rm alpine ls /data
    docker: c:\ drive is not enabled in "Shared Drives" setting, quitting.

    C:\Users\$me\test>

### Actual behavior
It fails silently. I've just tested it, you can specify whatever you

[2016-09-20 20:37] friism commented on #95
@dkarlovi thanks for reporting, we've been wanting to do this for a while and the feature will hopefully ship next week

[2016-09-21 07:56] dkarlovi commented on #95
@friism thanks, looking forward to it. :+1:

[2016-09-21 10:11] bbodenmiller commented on #48
1.12.1 worked for me. Perhaps some documentation is needed around where certs should be placed?

[2016-09-21 11:17] maxday commented on #54
hi @dgageot do you still need more info or should we remove the tag ?
Thanks

[2016-09-21 14:34] dgageot commented on #93
Hi @torleif thank you for the report. Can you tell us which version of Docker for Windows you are using. Also, it would be helpful if you could share a log file when the issue occurs again.

[2016-09-21 14:43] dgageot commented on #88
@r2evans Thanks for the report. Most recent versions contain code to workaround stagnant DockerNAT vEthernet devices, so that's good to know it worked for you!

@billhab You could try to manually uninstall Docker for Windows with the script you'll find in `C:\Program Files\Docker\Docker\resources\ForceRemoveDocker.ps1`

[2016-09-21 14:45] dgageot commented on #86
Hi @glennsills Did version `1.12.1` fix the issue for you?

[2016-09-21 14:46] dgageot commented on #82
Hi @kishutvn Did a more recent version fix the issue for you?

[2016-09-21 14:46] dgageot commented on #81
Hi @nickalbrecht Did you manage to fix your issue?

[2016-09-21 14:46] glennsills commented on #86
@dgageot

Yes, thanks.

[2016-09-21 14:47] dgageot commented on #79
Hi @DiJu519 Did you manage to fix your issue with a more recent version?

[2016-09-21 14:49] dgageot commented on #77
@billhab @thasmo @protubero @josemanners Stay tuned and thank your for being really patient. A better file sharing should ship in next beta!

[2016-09-21 14:50] dgageot commented on #76
Hi @ericis @qwebek Do you still have the issue? Did you try a more recent version?

[2016-09-21 14:53] dgageot commented on #73
Hi @purveshgosai14 I'm going to close this issue in a couple of days since similar issues seems to be fixed in recent version. Please come back to me if you still have the issue or if the issue is still there. Thanks a lot!

[2016-09-21 14:55] dgageot commented on #60
Hi @hanbaobao2005 did you manage to reinstall a fresh version then?

[2016-09-21 15:36] josemanners commented on #77
@billhab to answer your question, I'm running Windows 10 Enterprise Build 14393.105

[2016-09-21 15:51] jasonsoft commented on #48
@bbodenmiller ,

Would you mind me asking where did you put your certs?

[2016-09-21 16:01] dgageot commented on #86
Thanks @glennsills closing the issue then!

[2016-09-21 16:01] #86 closed

[2016-09-21 16:02] dgageot commented on #48
@bbodenmiller yes, of course! We will

[2016-09-21 16:22] ecamaj commented on #54
It is not working for me too, tried both stable and beta versions.

EDAB61E7-0B34-4AF5-9D72-654DCFBA8D96/2016-09-21_18-16-31

Thank you,
Eddie

[2016-09-21 21:29] r2evans commented on #88
@dgageot My point is that it *did not* work for me: the only time I was able to (re)install docker was after the stagnant DockerNAT vEthernet device was no longer present. The installer failed repeatedly with the device present; after a reboot, I noticed the device was gone and retried the install.

So, if there is code specifically to catch this type of error (I have no reason to think otherwise)

[2016-09-21 21:35] dgageot commented on #88
@r2evans That's a shame then! It would be useful to get a full log of what's happening when you try to start Docker and it fails.

[2016-09-21 21:37] r2evans commented on #88
I'm in a position where I *might* be able to try to retrigger it. For future reference (me or anybody else), how do you get a log of a failing install?

(Similar question: is there a way I can backup my current images and re-implant them on a fresh installation?)

[2016-09-22 01:24] hanbaobao2005 commented on #60
@dgageot Nope, I have installed a Ubuntu to practice docker.

[2016-09-22 01:36] torleif commented on #93
I'm currently using 1.12.1-stable.

It didn't seem to happen after I updated from the previous stable version.

I had a look at the log file, it seems there's nothing but apache output.

[2016-09-22 07:28] moler commented on #77
I had the similar issue with Docker 1.12.0-stable (Hyper-V) on Windows 10. I thing that the main problem was with my firewall which blocked Hyper-V Virtual Ethernet Adapter (DockerNAT). I did follow:

1. Updated to new stable version 1.12.1
2. Shared c in Docker settings and restarted Docker via Setting-Reset-Restart Docker
3. Turned off antivirus software including firewall
4. Restarted Docker vi

[2016-09-22 08:54] vandammeb commented on #37
Any update on this issue?
@ecsousa : I tried the workaround with the nginx proxy, but could not get that working (nginx would not bind to the specified ip). Is it possible to post your complete nginx config and your docker(-compose) file?

[2016-09-22 09:38] qwebek commented on #76
Hi @dgageot

I have not resolved my issue yet, but It looks like my issue is not related to Docker but to Hyper-V itself
So please close #67  if you like

Thanks.

[2016-09-22 11:16] kishutvn commented on #82
Hi @dgageot,
Stuck up with other issues, sorry for coming late on this thread.
-----------------------
More details----, Attached log, version info
------
crash id:2AA78F72-7B74-4BB8-9E3D-134C8538E37C/2016-09-22_16-35-30
Unable to write to the database. Exit code: 1
   at Docker.Backend.Database.WriteKeys(ICollection`1 keyValues)
   at Docker.Backend.Database.ModifyDatabase(ICollection`1 keyValues

[2016-09-22 12:02] myfriend12 commented on #62
So just an update, I installed the latest beta 26 which enabled the option "Switch to Windows Containers" and after doing that docker was able to start, however, now I get the following error when I try to pull an image:

[code]

What exactly does that switch to Windows/Linux containers do? I have looked to try to find information but can not find anything.

[2016-09-22 13:04] ecsousa commented on #37
@vandammeb Here's my nginx config file.

[nginx.conf.txt](https://github.com/docker/for-win/files/487283/nginx.conf.txt)

Note that, if you have changed the subnet address on network config, you will have to change the listen address on nginx config.

Also, remember to specify ```-e DOCKER_HOST=10.0.75.1``` (or your host IP) when you are creating your container, to make sure docker client will try

[2016-09-22 13:43] billhab commented on #77
@moler All that was tried. Didn't work.  I have McAfee firewall. Turning it off didn't help.

[2016-09-22 13:44] billhab commented on #77
@dgageot  What makes you believe that the next beta will fix this issue?

[2016-09-22 17:21] aerialls opened #96 "Proxy information (HTTP_PROXY, HTTPS_PROXY) are not available at build time"
### Expected behavior

After setting the proxy settings, the HTTP_PROXY, HTTPS_PROXY headers should be visible when building containers.
### Actual behavior

HTTP_PROXY, HTTPS_PROXY are not available at build time.
### Information
- The diagnostic ID is 61C12625-59B8-4A08-B1C8-A025F055BCA9/2016-09-22_19-14-37
- I'm using Windows 10 Enterprise 1607
- I'm using Docker 1.12.1-beta26 (build 7018)
###

[2016-09-22 20:35] alexander-mazur commented on #54
The same problem for me: D5A2E073-A690-49AE-A9AD-DFF5D9FBDB32/2016-09-22_13-33-34

Thanks,
 Alex

[2016-09-23 00:20] edzam commented on #81
I am having this exact same issue.  I had done a windows update just today.  It messed up my volume I had that was on a separate user account on my local machine.  I decided to reset to factory defaults, thats when I started getting this exact issue.

[2016-09-23 03:18] sarveshkaushal opened #97 "Kitematic fails to start on windows 7"
### Expected behavior- Kitematic should load

### Actual behavior- Kitematic fails with following error-'we 're sorry! There seems to have been an unexpected error with Kitematic.
 Error: connect ENOENT //./pipe/docker_engine
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or t

[2016-09-23 03:23] friism commented on #97
Thanks for reporting - this tracker is for issues with Docker for Windows, so I recommend re-opening on either the [Toolbox](https://github.com/docker/toolbox/) or [Kitematic](https://github.com/docker/kitematic) issue trackers.

[2016-09-23 03:23] #97 closed

[2016-09-23 04:12] DiJu519 commented on #79
Hey @dgageot sorry for the late reply.

I did! I'm able to pull from docker hub (docker pull hello-world) and, at least hit my private repository(complains about unauthorized creds, need to figure out where those go).

Thank you.

[2016-09-23 04:12] #79 closed

[2016-09-23 07:25] bbodenmiller commented on #48
@jasonsoft looks like mine is in both `Trusted Root Certification Authorities` and `Intermediate Certification Authorities`.

[2016-09-23 08:14] wind-rider opened #98 "Local security policy prevents sharing drive in Docker for Windows"
### Expected behavior

Docker can mount shared drives.
### Actual behavior

Docker cannot mount shared drives because a local security policy prevents the command "net use":
`net use \\<machinename>\c /user:<username> <password>`

The security policy is "Access this computer from the network". This policy is restricted by my company to only specific usernames and therefore I cannot modify it (even

[2016-09-23 10:02] krystan commented on #81
@dgaeot yeah I understand that but I hadn't touched the switch something had set it to private and that is what caused this issue for me.  Also resting to factory defaults failed to work as it could not delete the switch (cone to think of it I can't clean it up either even with the requisite ps commands)

[2016-09-23 13:23] faustool opened #99 "Security policies problems with current Proxy mechanism"
I am aware of the existing mechanism to setup corporate proxy in Docker for Windows settings UI. And I also know how to put my user and password in the URL:

user:pass@proxyhost:port

However, what my corporation (like many others I suppose) doesn't approve is the use of plain text passwords.

Please consider a more secure way to set this up.

[2016-09-23 13:27] rneugeba commented on #99
@faustool thanks for the feedback. We are indeed looking at improved proxy support, but we don't have ETA for this yet

[2016-09-23 13:31] rneugeba commented on #98
@wind-rider thank you for the detailed report. Unfortunately we rely on CIFS for shared volumes. Do you have a suggestion which would work in your environment?

[2016-09-23 13:41] rneugeba commented on #91
@cbeech1980 it looks like you might still have VMware running on your system and I'm pretty sure vmware fusion and Hyper-v don't play well together

[2016-09-23 13:43] cbeech1980 commented on #91
I have VMware Workstation 10 installed on my machine - although it's not running. Are you recommending I need to uninstall this application in order to get Docker for Windows working?

[2016-09-23 13:50] rneugeba commented on #91
I honestly don't know, but none of the Hyper-V commands in our debug log
seem to work, although the Hyper-v feature is installed, but does not seem
to work.

There are various VMware related processes running on your machine and
Hyper-V does not play nice with other virtualisation applications like
VMware or VirtualBox (or the other way round)

On Fri, Sep 23, 2016 at 2:43 PM, cbeech1980 <notifica

[2016-09-23 14:07] rneugeba commented on #82
@kishutvn you seem to be running windows 10 Pro in a VMware VM. Docker for windows also makes use of Hardware virtualisation (which VMware also uses).  In your case Hyper-V fails to start because the VM does not support the hardware virtualisation it needs:
[code]
This *may* work if you enable nested virtualisation for your Windows VM, but in general this is a configuration we do not support, so I

[2016-09-23 14:07] #82 closed

[2016-09-23 14:10] rneugeba commented on #93
Thanks for getting back to us. I'm closing this issue as you don't seem to be able to reproduce it anymore. Should this happen again, please upload the diagnostics and let us know the ID it provides.
Thanks

[2016-09-23 14:10] #93 closed

[2016-09-23 14:18] dgageot commented on #98
@wind-rider @rneugeba next beta of Docker for Windows (maybe next week) does not rely on "net use" anymore. I hope it will help!

[2016-09-23 14:19] stuft2 commented on #25
Any updates... still having issues here.

[2016-09-23 14:46] rneugeba commented on #91
if you could try un-installing VMware and try installing Docker again, that would be great. Otherwise, I'm inclined to close this issue as VMware and Hyper-V can't be used together. There seem to be various guides on the web that show how one can switch between them, but, I don't know how reliable they are.

[2016-09-23 17:40] rneugeba commented on #25
@stuft2 sorry, I was on PTO and thanks for providing the information.

It looks like your firewall is blocking SMB/CIFS, though, I'm a little surprised not to see the initial syn packet on the TCP dump.

can you disable the rule, by any chance?

[2016-09-24 11:45] rneugeba commented on #49
@bbodenmiller the docs are now at: https://github.com/docker/docker.github.io
and we accept PRs :)

Thanks for the suggestion, closing

[2016-09-24 11:45] #49 closed

[2016-09-24 18:15] gegana commented on #5
Same problem here
`version: '2'
services:
    helloworld-service:
        container_name: helloworldapp
        build: .

    reverse-proxy:
        container_name: reverse-proxy
        image: nginx
        ports:
         - "9090:8080"
        volumes:
         - ./nginx.conf:/etc/nginx/nginx.conf:ro`

[2016-09-24 19:33] ecamaj commented on #54
Any news? "No one assigned"?

[2016-09-24 21:42] gegana opened #100 "Cannot mount nginx config to volume in nginx container using docker-compose or docker"
Using docker command to run official nginx image with custom mounted nginx configuration should result in a running nginx container with the configuration file mounted in the specified volume where nginx can read of.

Or
Using docker-compose with the following yaml file:
[code]

### Expected behavior
A nginx container reading configuration from /etc/nginx/nginx.conf.

### Actual behavior
[code]

#

[2016-09-24 22:46] byhoratiss commented on #54
Same problem for me: C4AEC54D-1884-4A8A-A3FC-0A3D1565E149/2016-09-24_19-45-14

:(

[2016-09-25 16:13] Gmanweb commented on #74
same problem trying to start docker on windows, fresh install.
version
[code]
ERROR:
[code]

[2016-09-26 09:54] rneugeba commented on #100
@gegana thanks for the report. Can you check you:
- let us know what the version of Docker for Windows is you are running
- check that the volume is actually mounted via: `docker run --rm -v c:/Users:/data alpine ls /data`
- Upload a diagnostic and report the ID so that we can take a closer look.
Thanks

[2016-09-26 10:18] rneugeba commented on #25
re-opening as this is not yet fixed in shipping version, but hopefully will be fixed/improved in Beta27

[2016-09-26 11:18] osmanhankir opened #101 ""Docker is starting..." but it doesn't."
### Expected behavior
Docker Starts

### Actual behavior
Status remains at "Docker is starting..."

### Information
Diagnostic ID: 0B41D486-A7F7-4098-A88C-E442C68D1D84/2016-09-26_12-14-40

Log File:
[code]

### Steps to reproduce the behavior

  1. Reinstall Docker for Windows
  2. Launch Docker for Windows

-----------------

Hi, my Docker installation was working flawlessly until an update dialo

[2016-09-26 13:06] osmanhankir commented on #101
Never mind, it just took about an hour to start for some reason. There may be something else going on but I can deal with that later.

[2016-09-26 13:06] #101 closed

[2016-09-26 14:10] AndyBerman commented on #74
I'm having the same problem.  Have tried uninstalling & reinstalling both Docker and Hyper-V.

[2016-09-26 14:26] aliens9889 opened #102 "Problems with docker-compose run db sh"
Hello everybody, I'm new on docker and I'm working on a project that started before I get in. So my problem is with docker-compose build and docker-compose up -d Cuz I'm trying to run the project for the first time in Windows and I don't know what I missing around.

When I try to run the docker-compose build this is what I get:

[code]

this my prepare.sh
[code]

this is my run.sh

[code]
this is

[2016-09-26 15:25] aliens9889 opened #103 "Can't Open run.sh"
Hi everybody!! I was checking what would be the reason of why I write this command `docker-compose run db sh` the only thing i got is this

[code]

After this I was checking what it's going on and when I type docker logs this is what I got.

`sh: can't open '/app/docker/run.sh`

So I don't have a clue I could how can fix it. Any suggetions!?

And By the way Thanks for the Help!

[2016-09-26 15:39] stuft2 commented on #25
@rneugeba I uninstalled the previous stable version of Docker for Windows and then installed the latest beta version. I haven't been able to disable the inbound rule for port 445. I'm still not getting the expected output in PowerShell.

[code]

[2016-09-26 15:47] khalidsalomao commented on #24
Problem solved!

[2016-09-26 15:55] dgageot commented on #73
Closing as similar issues are fixed and we couldn't reproduce this specific error

[2016-09-26 18:04] rneugeba commented on #54
Thanks again for all of you reporting this issue and apologies for the dealy, I was on PTO.

I went through the diagnostics to see if there is a trend, some communality etc.

First off the easy ones...

@alexander-mazur You are running windows 10 inside a VMware VM. While this may or may not work, it's a configuration we don't really support as we have no influence (nor visibility) about how the V

[2016-09-26 18:07] RotaryDragon commented on #25
Just a note that unchecking the "Remember my credentials" box when sharing a drive causes the sharing to fail with no explanation even if the credentials are correct (the popup just comes back empty) so I'm not sure why it's even there as this has caused me a lot of confusion :P

[2016-09-26 18:14] rneugeba commented on #25
@stuft2 is your firewall managed by some corporate policy, or what's the reason you can't disable the rule?

[2016-09-26 18:29] ecamaj commented on #54
Sure, I can help you.
eduard.camaj@gmail.com -> mail/Google chat

Im free tomorrow from 15h onwards.

[2016-09-26 18:29] nickalbrecht commented on #81
Oops, sorry for not getting back to you. No, Reset to Defaults does not resolve the issue, as soon as the Reset tries to restart docker after what I assume was the reset steps, it comes up with a very similar error.

Crash/Diagnostic Id

[2016-09-27 00:10] devito opened #104 "Error on running container: "encountered an error during Start failed in Win32: The system cannot find the path specified. (0x3)""
### Expected behavior

Container created and running.
### Actual behavior

PS C:\WINDOWS\system32> docker run -it microsoft/windowsservercore powershell
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: container 7e2f0768c6e99524263520eca9bcfc70eadd21d1cb4d094d0258177bf40a2367 encountered an error during Start failed in Win32: The system cannot find the path spec

[2016-09-27 03:02] whyzdev opened #105 "address hard coded max size of hyper-v machine disk"
### Expected behavior
- The max size of MobyLinux.vhdx is expected to be configurable during installation and reset.
- User may want to grow/shrink the vhdx and docker host partition in Docker settings, on best possible effort basis.
### Actual behavior

Currently the max size of MobyLinux.vhdx is hard coded to 60GB in MobyLinux.ps1. As workaround, user may change MobyLinux.ps1 the size and reset

[2016-09-27 03:05] gegana commented on #100
@rneugeba

I figured out the problem. Volume sharing was enabled, but somehow Docker was not able to write files, only folders. It appears that my version of Docker for windows (1.12.1-stable | build: 713) does not like unicode passwords. I used my windows live account as credentials for the shared drives settings. Changing my password to just letters and numbers, along with prepending my username

[2016-09-27 03:10] whyzdev opened #106 "make shell cursor blink"
### Expected behavior
Shell cursor should blink when moving by left/right arrow keys .

### Actual behavior
Cursor in docker container shell (e.g. ubuntu image) does not blink. So it's hard to see where the cursor is when moving with left/right arrow keys. However in Vim, for example, the cursor blinks.

### Information
Same as above in Windows 10 cmd.

### Steps to reproduce the behavior
cmd or p

[2016-09-27 07:38] stuft2 commented on #25
Currently it's managed by my company but I'm looking into disabling it.

[2016-09-27 09:15] davidobrien1985 commented on #90
Same here on my Windows 10 machine.

[2016-09-27 10:45] rneugeba commented on #100
@gegana the version you are using should support UTF-8 encoded passwords. We test it with quite a number of interesting characters, such as `ø§£µîüéàæøå`...could you reveal the character you were using?

We also test with live accounts and just <email address> should work, at least it does for us. We should probably improve the documentation.

we made some improvements, which will be available in

[2016-09-27 11:13] rneugeba commented on #102
I can reproduce your issue when I use Windows style line endings (CRLF) in `prepare.sh`. If I convert to Unix style line endings (LF) it works fine.  Since the shell scripts are executed in a Linux/Unix container the files must have Unix style line endings. See the Docker for Windows troubleshoot: https://docs.docker.com/docker-for-windows/troubleshoot/

closing

[2016-09-27 11:13] #102 closed

[2016-09-27 11:14] rneugeba commented on #103
please provide details, such as docker version, sample docker files etc. without this we can't reproduce and therefore can't help
thanks

[2016-09-27 11:20] rneugeba commented on #106
My cursor is blinking in interactive mode when using powershell and cmd and the cursor keys work

Are you using ConEmu by any chance? See: https://github.com/docker/docker/issues/13817 and https://github.com/docker/docker/pull/25578

[2016-09-27 11:24] rneugeba commented on #105
Hi @whyzdev thanks for your suggestion. This is one of the features on our roadmap, but we don't have an ETA for it yet.

The VHDX is dynamically sized, so it only grows when in use. There is a potential way to shrink it once files are deleted, but we haven't implemented/tested it yet.

/cc @dgageot

[2016-09-27 11:26] rneugeba commented on #104
@friism could you take a look?

[2016-09-27 11:31] ryan413 opened #107 "[Windows] Unable to start: The VM couldn't get an IP address after 60 tries"
**Description**

**Steps to reproduce the issue:**
1. right click on docker icon in taskbar
2. select switch to linux containers
3.

**Describe the results you received:**
error message:
Unable to start: The VM couldn't get an IP address after 60 tries
at <ScriptBlock>, <No file>: line 340
   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.ContainerE

[2016-09-27 12:05] rneugeba commented on #107
Thanks for the report.

You menitoned above "Switch to Linux Containers". Does this mean you had Linux containers working, switched to Windows containers, and when you switched back you got the error?

Could you also send diagnostics (via the UI) and provide us with the ID it prints? This would help us with debugging. This sounds related to #54

thanks

[2016-09-27 14:25] friism commented on #102
If you're using Visual Studio Code, also check out this blog post for how to get correct line endings: https://blogs.msdn.microsoft.com/stevelasker/2016/09/22/running-scripts-in-a-docker-container-from-windows-cr-or-crlf/

[2016-09-27 14:38] ryan413 commented on #107
9F859781-284C-44AE-9492-64E1DA42268A/2016-09-27_09-30-53

I've not been able to start up linux containers since reimaging to Windows 10 (non-insider).  I was able to get Docker running in Windows container mode, but haven't been able to run a (windows) container either.

[2016-09-27 15:08] rneugeba commented on #107
Thanks for the Diag. I took a look at the details and it's the same symptoms as others are seing and what is discussed/debugged on https://github.com/docker/for-win/issues/54

I added your details to that issue and am closing this as duplicate.

If you still have issues regarding windows containers, please open a separate issue

[2016-09-27 15:08] #107 closed

[2016-09-27 15:08] rneugeba commented on #54
@ryan413 reported the same issue here https://github.com/docker/for-win/issues/107 with the same build 14393 symptoms. diag ID: 9F859781-284C-44AE-9492-64E1DA42268A/2016-09-27_09-30-53

[2016-09-27 16:07] scalap commented on #20
Hi,
Is there some news about it ?
I'm also getting this error with the latest versions of Stable and Beta.
5B488398-3EFC-44B6-81E1-224DCAD55A11/2016-09-27_18-03-09

Version: 1.12.1-beta26
OS: Windows 10 Pro Edition: Professional Id: 1607 Build: 14393

Thanks.

[2016-09-27 16:09] stuft2 commented on #25
Once I disabled the Windows Firewall, I then reinstalled Docker and shared the C drive. Then I ran the follow code in PowerShell and command prompt:
```docker run --rm -v c:/Users:/data alpine ls /data```

![dockerissue](https://cloud.githubusercontent.com/assets/20521760/18881829/16d4d556-849a-11e6-9642-b9a11dd2c577.jpg)

[2016-09-27 16:20] rneugeba commented on #54
quick update.

I had a screen sharing session with @ecamaj (thanks again very much for taking the time) and it appears that on his system the Linux kernel hangs half way through the boot when probing the virtual storage devices over VMBus. This is consistent with the symptoms seen by other users which are on 14393 (or above): The VM is running but there is no heartbeat from the `hv_util` kernel dr

[2016-09-27 17:22] kcturner123 opened #108 "unauthorized: authentication required error when attempting to push image"
I have been working through the tutorial for Docker for Windows and everything has worked perfectly until I tried to push the docker-whale image to my newly created repository. I found a number of older issues similar to this for Linux and Mac, but not for the Windows version.

### Actual behavior
C:\Users\Kim\mydockerbuild>docker push kimdockertutorial/docker-whale
The push refers to a repository

[2016-09-27 21:54] devito commented on #104
I did some more searching online and found this: http://stackoverflow.com/questions/38732280/windows-containers-on-windows-10-anniversary-update-not-working

where this failure came up in the 2nd update.

I did the following from the top answer:

stop the dockerd service
docker network create -d nat MyNatNetwork (though this got the following failed: Error response from daemon: HNS failed with err

[2016-09-28 11:05] Matthias247 commented on #72
Unfortunately I have issues with this as well. I'm using docker for windows mainly as some build/cross-compilation tool, by running a build scripts inside linux containers. This problems e.g. leads to automake failing:

Always happens if the PC is going to sleep (e.g. during lunch time). Does not recover until I manually restart docker, so I think it's not really syncing during runtime but only at

[2016-09-28 12:32] Morgy93 opened #109 "Symlinks don't work as expected"
### Expected behavior
I expect symlinks created from outside of the container to work.

### Actual behavior
Symlinks created from outside the container don't work.

### Information

  - Diagnostic ID: EF5CEE54-6553-4655-A810-98A1549E5A7D/2016-09-28_13-38-06
  - Repo: https://github.com/werfu/magento-docker-compose-dev

  - Docker Version 1.12.1-stable (build: 7135) 995236d
  - Windows 10 Pro Versi

[2016-09-28 13:00] chakrim99 commented on #87
Hi,

I have docker 1.12.1 ver and when i run "docker run -it ubuntu bash" or "docker pull ubuntu" command I am getting the below error:

Unable to find image 'ubuntu:latest' locally
Pulling repository docker.io/library/ubuntu
docker: Error while pulling image: Get https://index.docker.io/v1/repositories/library/ubuntu/images: dial tcp: lookup index.docker.io on [2001:4860:4860::8888]:53: dial udp

[2016-09-28 13:22] milmber opened #110 "Private Docker Trusted Registry - "server misbehaving""
When I perform any operation against a docker private trusted registry it doesn't work using Docker 1.12.1-beta26 for both MacOS and Windows 10. Oddly enough the behaviour against the exact same docker private trusted registry works as expected with Docker 1.11.2, build b9f10c9 on Windows 7.

### Expected behavior

PS C:\Users\myuser> docker pull myserver0025.mycompany.global.ad:443/myuser/centos

[2016-09-28 16:44] rneugeba commented on #109
thanks for the report. where do you create the symlink? on the host?
thanks

[2016-09-28 18:48] cgatian commented on #74
Any resolution to this?

[2016-09-28 19:34] cgatian commented on #74
So in my situation, I had Docker automatically install Hyper-V.  This completes without a hickup. However, if you uninstall Hyper-V and attempt to reinstall it you will see the installation is actually not allowed.  Verify your CPU supports virtualization by performing opening task manager and verifying that Virtualization is enabled.  If it's not shown, then it will not work.

![image](https://cl

[2016-09-28 19:46] dgageot commented on #100
@gegana Beta27 was released today with hardened file sharing feature. Could you take a look and close this issue if it is fixed? Thanks a lot!

[2016-09-28 19:46] dgageot commented on #95
@dkarlovi Beta27 was released today with hardened file sharing feature and the kind of error message that you asked for. Could you take a look and close this issue if it is fixed? Thanks a lot!

[2016-09-28 19:46] dgageot commented on #77
@billhab Beta27 was released today with hardened file sharing feature. Could you take a look and close this issue if it is fixed? Thanks a lot!

[2016-09-28 19:47] dgageot commented on #48
@bbodenmiller @jasonsoft I hope it works well for you two. Can this is issue be closed?

[2016-09-28 19:47] AndyBerman commented on #74
It shows Virtualization is Enabled.

[2016-09-28 20:12] gegana commented on #100
@dgageot I'll take a look when I get the chance. Thank you for the support.

[2016-09-28 21:55] rneugeba commented on #51
could you retry with Beta27 which we released today. with recent Beta's there have been a lot of improvements around DNS resolutions.
thanks

[2016-09-28 22:09] rneugeba commented on #27
can we close this issue?

[2016-09-28 22:12] rneugeba commented on #43
@l8nite is there any update? We are keen to improve the experience for VPN users but if the update helped we would like to close this issue
thanks

[2016-09-28 22:31] rneugeba commented on #60
closing this issue. original reporter moved to ubuntu and otherwise no activity.

please re-open/update if there still is an issue

[2016-09-28 22:31] #60 closed

[2016-09-28 22:33] rneugeba commented on #26
closing as per @dgageot comment 12 days ago

[2016-09-28 22:33] #26 closed

[2016-09-28 22:36] rneugeba commented on #92
we shipped Beta27 today. so I'm closing this. please re-open if the issue is not resolved.
thanks for the report!

[2016-09-28 22:36] #92 closed

[2016-09-28 22:37] rneugeba commented on #95
closing this as fixed. Please re-open if there still is an issue

[2016-09-28 22:37] #95 closed

[2016-09-28 22:38] rneugeba commented on #98
@wind-rider bet27 shipped a couple of hours ago. It would be great if you could retry

[2016-09-28 22:41] rneugeba commented on #88
closing this due to lack of activity. @r2evans please re-open if it's still a issue
thanks for reporting
rolf

[2016-09-28 22:41] #88 closed

[2016-09-28 22:43] rneugeba commented on #76
@qwebek I assume you were suggesting to close this issue (#76) rather than #67. So closing it. Please feel free to re-open if I mis-understood

[2016-09-28 22:43] #76 closed

[2016-09-28 22:56] rneugeba commented on #6
I'm closing this issue. While we understand the background for the request, qe currently have no concrete plans to offer other virtualization backends for Docker for Windows for the reasons outlined above. We continue having Toolbox and docker-machine updates for non-Hyper-V users.

[2016-09-28 22:56] #6 closed

[2016-09-28 22:57] r2evans commented on #88
Thanks, I'll leave it to @billhab as the OP in case the problem persists.

[2016-09-28 23:47] bbodenmiller commented on #48
Sounds good to me. Should I open a new issue about how it should be documented?

[2016-09-28 23:58] derekssmith commented on #51
I installed Beta27 however I was not able to confirm the fix.   Running `docker-compose up` sent the build process into an infinite loop, where it kept re-building two of my docker images over and over again.

[2016-09-29 01:14] billhab commented on #77
It seemed to work on Beta27 before Docker crashed.  Beta27 is very unstable.  Since it crashed I can't get Docker to run again.

[2016-09-29 01:17] hanbaobao2005 commented on #60
Thank you @rneugeba

[2016-09-29 02:45] friism commented on #74
@cgatian is the screenshot you posted from another system than then one where you experienced the problem?

[2016-09-29 03:03] friism commented on #48
cc @londoncalling for docs

[2016-09-29 03:29] whyzdev commented on #106
You are right. I realize that the cursor eventually shows up and blinks at somewhere in the command line. It is just slow, after left/right array keys are released. The problem happens when keeping press the arrow keys for moving the cursor. This is in cmd when docker run/exec containers with some images i tried. It's not ConEmu unlike the other two issues.

[2016-09-29 03:34] whyzdev commented on #105
yep, dynamical growth of vhdx and vm partition currently works till the preset maximum size is reached. When vhdx is manually resized larger, the vm partition also need manual resize.

[2016-09-29 07:53] chrisella commented on #74
Exactly the same problem here, it's particularly annoying as it happened for me once I just finished moving all of our build flow and tool-chain to containers, typical ha.
I don't know if it's relevant but I think it's failing coincided with a windows 10 update for me.

[2016-09-29 08:42] rneugeba commented on #106
Thanks for getting back. Can this issue be closed?
Thanks

[2016-09-29 09:25] alvesman opened #111 "Crash on start after upgrading to 1.12.1-stable on Windows 10"
### Docker start

### Crash on start after upgrading to 1.12.1-stable on Windows 10

### Information

log file
[log.txt](https://github.com/docker/for-win/files/500249/log.txt)

[2016-09-29 09:29] lewislabs opened #112 "Unable to launch docker with update to beta27 on Windows 10"
### Expected behavior
Docker starts up on machine startup
### Actual behavior
Docker fails to start with the error message
[code]

[2016-09-29 10:13] jpek42 commented on #25
Working with latest drop (1.12.2-rc1-beta27 - build 7450). I set up a share of my 2nd drive (D), and the mapping worked fine. I then connected to VPN to our company network, and got a failure:

PS C:\Users\pekj> docker run --rm -v d:\git-magestic:/data alpine ls /data
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: mkdir /d: file exists.

I went into settings,

[2016-09-29 10:48] dgageot commented on #108
Hi @kcturner123 thank you for your report. I believe you need to login to the  hub before you push: https://docs.docker.com/engine/getstarted/step_six/

[2016-09-29 10:51] dgageot commented on #110
Hi @milmber I believe this is not an issue woth Docker for Windows. You might want to take a look at this ticket: https://github.com/docker/distribution/issues/489

[2016-09-29 11:12] dgageot commented on #90
@seals55 @davidobrien1985 This should be fixed in Beta27. However, as noted in the changelog, Windows Containers will really work with Windows 10 Pro as soon as the `KB3192366` update becomes public.
You might be able to go as far as running a `docker info` or `docker pull` though

[2016-09-29 11:18] dgageot commented on #112
Hi @lewislabs thank you for your bug report. I don't understand what's happening. Maybe you could uninstall and reinstall.

[2016-09-29 11:28] dgageot commented on #111
Hi @alvesman Could you try to reset to factory defaults and see if it fixes the issue?

[2016-09-29 11:29] dgageot commented on #111
In fact, I'm going to close this as a duplicate of https://github.com/docker/for-win/issues/81

[2016-09-29 11:29] #111 closed

[2016-09-29 11:37] alvesman commented on #111
Yes, I've reseted to factory defaults. Same behavior.
Thanks, I'll keep watching [https://github.com/docker/for-win/issues/81](url)

[2016-09-29 11:41] dgageot commented on #77
@billhab Do you have a log or a diagnostic id to share?

[2016-09-29 12:38] billhab commented on #77
Every time Docker crashed it took a diagnostic dump which it said was being uploaded. So I assume someplace that information is available.

From: David Gageot
Sent: Thursday, September 29, 2016 7:41 AM
To: docker/for-win
Cc: billhab ; Mention
Subject: Re: [docker/for-win] Volume mounts do not work on windows 10 (#77)

@billhab Do you have a log or a diagnostic id to share?

—
You are receiving thi

[2016-09-29 12:44] dgageot commented on #77
@billhab if you give me a diagnostic id for a recent crash, yes I can find this information.

[2016-09-29 12:55] alvesman commented on #81
Solved the problem by manually creating the VM. Got the parameters by looking at C:\Program Files\Docker\Docker\resources\MobyLinux.ps1, from line 199.

[2016-09-29 13:00] lewislabs commented on #112
I actually had real trouble uninstalling as well, but I've managed to do that now and have just gone back to the stable version. I'll close the issue.

[2016-09-29 13:00] #112 closed

[2016-09-29 13:04] billhab commented on #77
I noticed several diagnostic ids in the crash notifications. How do I find what those Ids are?

From: David Gageot
Sent: Thursday, September 29, 2016 8:44 AM
To: docker/for-win
Cc: billhab ; Mention
Subject: Re: [docker/for-win] Volume mounts do not work on windows 10 (#77)

@billhab if you give me a diagnostic id for a recent crash, yes I can find this information.

—
You are receiving this becau

[2016-09-29 13:08] dgageot commented on #96
ping @justincormack @dave-tucker do we have a plan in docker/docker to fix that issue?

[2016-09-29 13:11] dgageot commented on #94
Hi @masaeedu thank you for the time you took to fill an issue. We understand your concerns and we are working on improving the way file sharing works.

What I can tell you is that out of the three alternatives you proposed, only the first one (technical user) would help. The last two wouldn't solve it because we don't need a priviledge to mount a shared drive in the Linux VM, we need an actual pas

[2016-09-29 13:44] dgageot commented on #81
@alvesman Thank you for trying to fix the issue this way. Unfortunately, it might cause even worse effects in the future.

It would be really helpful if you could try this:
 + Open an elevated powershell in `C:\Program Files\Docker\Docker\resources`
 + Replace line 340 of `MobyLinux.ps1` (`throw $_.Exception`) with just `throw`
 + Run `./MobyLinux.ps1 -Destroy`
 + Run `./MobyLinux.ps1 -Create`

Th

[2016-09-29 13:50] alvesman commented on #81
@dgageot Thank you, this is the output I got:

`PS C:\Program Files\Docker\Docker\resources> ./MobyLinux.ps1 -Destroy
VM MobyLinuxVM is stopped
Destroying Switch DockerNAT...
Removing VM MobyLinuxVM...
Delete VHD E:\Hyper-V\Hyper-V Discs\MobyLinuxVM.vhdx
PS C:\Program Files\Docker\Docker\resources>
PS C:\Program Files\Docker\Docker\resources> ./MobyLinux.ps1 -Create
Creating Switch: DockerNAT...
S

[2016-09-29 13:59] dgageot commented on #81
Thanks @alvesman, That's really helpful. Could you add those lines to the script, just before line 210?

[code]

[2016-09-29 14:07] alvesman commented on #81
@dgageot
The new output:

`PS C:\Program Files\Docker\Docker\resources> ./MobyLinux.ps1 -Destroy
VM MobyLinuxVM does not exist
Destroying Switch DockerNAT...
Removing VM MobyLinuxVM...
Delete VHD E:\Hyper-V\Hyper-V Discs\MobyLinuxVM.vhdx
PS C:\Program Files\Docker\Docker\resources>  ./MobyLinux.ps1 -Create
Creating Switch: DockerNAT...
Switch created.
Set IP address on switch
Creating dynamic VHD:

[2016-09-29 14:34] dgageot commented on #81
Thanks @alvesman, that's still a mystery to me. The only difference I see is that you changed the path to HyperV virtual disks...

[2016-09-29 14:39] kcturner123 commented on #108
David,

Thanks for the response, but I had already logged in successfully before trying the push. The problem turned out to be that I didn’t understand the repository name and image tagging dependency. The instructions in the tutorial do not really explain it, but I found the information I needed in a different guide. I didn’t understand that the tag for the image had to be username/repository nam

[2016-09-29 14:40] dgageot commented on #48
I'm going to close this issue and create an issue in our internal tracker to make sure this is documented

[2016-09-29 14:40] #48 closed

[2016-09-29 14:45] dgageot commented on #20
Hi everyone, thank you for the bug reports, we didn't find a solution to your issues yet but we are working on it!

[2016-09-29 14:52] dgageot commented on #108
@kcturner123 Happy that you managed to find a solution! Closing

[2016-09-29 14:52] #108 closed

[2016-09-29 15:17] rlpowell commented on #72
My symptom was that on *every change* vim would say "WARNING File has changed since last read!".  Took me ages to figure out it was a time problem.

This *was not* happening 2 or 3 updates ago, even with regular laptop sleep/hibernation.

[2016-09-29 15:36] friism commented on #108
@kcturner123 Is this the guide that you were following? https://docs.docker.com/engine/getstarted/step_six/

[2016-09-29 15:37] dgageot commented on #81
@alvesman Maybe you could try to hard-code `$vhd.Path` to a path on drive `C`

[2016-09-29 15:47] alvesman commented on #81
@dgageot Changed Hyper-V defs to point to C drive but got same result (previous version was working fine with disk on E drive):
`PS C:\Program Files\Docker\Docker\resources> ./MobyLinux.ps1 -Create
Creating Switch: DockerNAT...
Switch created.
Set IP address on switch
Creating dynamic VHD: c:\Hyper-V\Hyper-V Discs\MobyLinuxVM.vhdx
Creating VM MobyLinuxVM...
c:\Hyper-V\Hyper-V Discs\

ComputerName

[2016-09-29 15:50] matsaleh13 opened #113 "docker-compose: "Couldn't connect to Docker daemon. You might need to install Docker:""
### Expected behavior

command: docker-compose -f docker-compose-test.yml up --build test
expect that docker-compose connects to docker daemon and executes the yml file to completion.
### Actual behavior

docker-compose starts executing, completes the first step (pulls mongo container image from repo), then hangs indefinitely. At this point, there appears to be no activity from docker at all, alth

[2016-09-29 15:51] kcturner123 commented on #108
Yes, that was the tutorial that I was following. It wasn’t quite clear to me in that tutorial that I had to name the repository docker-whale for it to work. I found another guide on the web site that explained it in a different way that made it clear to me. I think a little more explanation in the tutorial of how repositories and tags are used or perhaps some links to more detailed explanations, w

[2016-09-29 15:52] dgageot commented on #81
@alvesman I'm really puzzled... I guess it's either the `-VHDPath $vhd.Path` or the `-SwitchName $SwitchName` that's failing. Could you try modify the script without all those parameters, then add them one by one and do destroy/create cycles each time. This could, you could identify which parameter causes the error.

[2016-09-29 15:53] matsaleh13 commented on #113
Also, forgot to mention that I completely uninstalled Docker for Windows (not Toolbox), rebooted, then reinstalled, and still got this error. Version is latest stable as of the date of this ticket.

[2016-09-29 16:35] alvesman commented on #81
@dgageot The offending parameter is SwitchName in:
`$vm = New-VM -Name $VmName -Generation 2 -VHDPath $vhd.Path -SwitchName $SwitchName`
Removing it:
`$vm = New-VM -Name $VmName -Generation 2 -VHDPath $vhd.Path `
And then, after running the script, manually (in Hyper-V manager) attaching the network adapter to “DockerNAT” solves the problem.
I’m puzzled since `Write-Output "[$ SwitchName]"` output

[2016-09-29 16:41] dgageot commented on #81
\0/ @alvesman Can you please print the output of `Get-VMSwitch`?

[2016-09-29 16:55] alvesman commented on #81
@dgageot

**PS C:\Program Files\Docker\Docker\resources> ./MobyLinux.ps1 -Destroy****
VM MobyLinuxVM is stopped
**Destroying Switch DockerNAT...**
Removing VM MobyLinuxVM...
Delete VHD E:\Hyper-V\Hyper-V Discs\MobyLinuxVM.vhdx

**PS C:\Program Files\Docker\Docker\resources> Get-VMSwitch**

`Name                                   SwitchType NetAdapterInterfaceDescription`
`----

[2016-09-29 17:00] alvesman commented on #81
@dgageot
After changing existing switch DockerNAT from Private to internal, running the original script
(`$vm = New-VM -Name $VmName -Generation 2 -VHDPath $vhd.Path -SwitchName $SwitchName`) went OK. No errors and docker started fine.

[2016-09-29 17:00] dgageot commented on #81
@alvesman
What is strange is that the Destroy script does a `Remove-VMSwitch DockerNAT`. It should remove the lingering switches.

Can you run `Remove-VMSwitch DockerNAT` and then `Get-VMSwitch` manually?

[2016-09-29 17:05] dgageot commented on #81
So to sum up, at least two users had the `DockerNAT` changed to `private` instead of `internal`. After that, the VM cannot be created anymore and the destroy script is not able to cleanup the bad switch

[2016-09-29 17:07] alvesman commented on #81
@dgageot  your last post summarizes the problem. Thank you. All is nunning now.

`PS C:\Program Files\Docker\Docker\resources> Remove-VMSwitch DockerNAT`
`Confirm`
`Are you sure you want to remove the virtual switch "DockerNAT"?`
`[Y] Yes  [A] Yes to All  [N] No  [L] No to All  [S] Suspend  [?] Help (default is "Y"): Y`
`Remove-VMSwitch : Falha ao remover o comutador Ethernet virtual.`
`Falha na e

[2016-09-29 17:08] dgageot commented on #81
@alvesman can you check if any of your VMS is using that switch? The Windows Phone emulator maybe?

[2016-09-29 17:11] dgageot commented on #81
[code]

[2016-09-29 17:13] alvesman commented on #81
No, only MobyLinuxVM
`PS C:\> ((get-vm).NetworkAdapters) | ? { $_.SwitchName -eq "DockerNAT" }`

`Name            IsManagementOs VMName      SwitchName MacAddress   Status IPAddresses`
`----            -------------- ------      ---------- ----------   ------ -----------`
`Network Adapter False          MobyLinuxVM DockerNAT  00155D330C7A        {}`

[2016-09-29 18:04] wind-rider commented on #98
Unfortunately it still doesn't work, in the logs there is a different error now. I couldn't get from the log info what was wrong this time, though..

I uploaded a new diagnostic with id `599EC82B-AF34-41B4-AE3E-219FD54886DF/2016-09-29_20-03-03`

[2016-09-29 18:10] dgageot commented on #81
Thank you very much @alvesman! Thanks to your help, next version should contain both better diagnostic tools and a workaround to this issue.

[2016-09-29 18:12] dgageot commented on #98
Copying the error here for the record:
[code]

[2016-09-29 19:12] londoncalling commented on #27
@rneugeba well it's very meticulously documented, and I don't know that there is any development side work that can be done ... it sounds like it's a Windows OS compatibility problem. Seems like you could close it.

[2016-09-29 19:38] londoncalling commented on #25
@rneugeba  can you keep me up-to-date with whether we need more docs for this? What I've done is in this PR: https://github.com/docker/pinata/pull/5125 and published here: [Shared Drives UI description](https://docs.docker.com/docker-for-windows/#/shared-drives)  and more importantly here in Troubleshooting: [Verify domain user has permissions for shared drives (volumes)](https://docs.docker.com/d

[2016-09-29 19:47] rneugeba commented on #27
closing. please re-open if the problem persists and not covered by the docs.

[2016-09-29 20:05] techie-babel commented on #67
I'm running Windows 10 Pro version 1607 and I'm having a similar issue. The Create process successfully creates the virtual switch, but fails when creating the VM with the error message "Unable to execute Start: Unable to create: Hyper-V encountered an error trying to access an object on computer 'XXXXX' because the object was not found."

Because the switch was being successfully created, I focus

[2016-09-29 21:10] DiJu519 opened #114 "Unable to Share C Drive"
### Expected behavior

Would be able to Share C Drive using Settings > Share Drive
### Actual behavior

UI asks for Credentials, Hangs for a bit
### Information
- 851AEEB8-7FE4-423D-BB53-655B70B251FE/2016-09-29_17-04-20
- Windows 10, Docker Version 1.12.2-rc1-beta27 build 7450
  - Cisco VPN is Active

In file explorer, \10.0.75.1\C just hangs, but \localhost\C works.

[2016-09-29 22:09] qwebek commented on #67
Hi, thanks for info
I have tracked this down to the issue in hyper-v: go to hyper-v manager and
try to create gen2 vm pointing to some vhd that you have created
beforehand, when i finish this kind of vm through wizard it is failing with
error after you press finish

Ihave created manually  vm named as docker needs  and attached to it
mobylinux vhdx and that seem to run fine - but doxker ifnores th

[2016-09-29 22:53] matsaleh13 commented on #113
Added 'docker version' and 'docker-compose version' output above.

[2016-09-29 23:24] stopthatastronaut commented on #90
Ummm... yeah, nah. Updated to Beta27, still the same issue.

[2016-09-29 23:26] stopthatastronaut commented on #90
[code]

[2016-09-29 23:51] Irieish commented on #54
Thanks @rneugeba!  Below is my latest diag ID after installing beta 27 (1.12.2-rc10beta27 (build: 7450) 179c18c / Win10 1607 (build: 14393.222) . Still unable to start / no IP address. Figured a fix was still in the works, but wanted to share anyway in case it helps w/ troubleshooting.

6F013C72-7104-4907-BC8B-D7F1D42EE211/2016-09-29_16-23-01

Unable to start: The VM couldn't get an IP address aft

[2016-09-30 08:10] cerebrate opened #115 "Cannot start container in Docker for Windows build 27."
### Expected behavior

A container should be started from the chosen image.

### Actual behavior

Container does not start, giving error as follows:

"Create container failed with error: container bb9ac81141335921cbea705cb3f965352fdf43ae3c0b464db2e0b51ce449ca66 encountered an error during Start failed in Win32: The JSON document is invalid. (0xc037010d)"

### Information

  Diagnostic ID: 80ECCE05

[2016-09-30 09:22] naeemsarfraz commented on #115
I'm getting the same issue, I installed build 14936 yesterday and began to see this error. My logs from the docker logs:

[00:31:15.250][WindowsDockerDaemon][Info   ] time="2016-09-30T00:31:15.249815100+01:00" level=error msg="libcontainerd: failed to start container: container 470199c47d093d343d6604460aabd273702bf33ae63acd77c4dc99d3bdbf714d encountered an error during Start failed in Win32: The J

[2016-09-30 10:37] lbroekhuizen opened #116 "Starting microsoft/nanoserver hangs and docker ps hangs"
### Expected behavior
Starting the container from kitematic
Start docker cli.
Show running container with docker ps

### Actual behavior
Container hangs in stage starting
docker ps hangs.

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
00DE5373-1382-415E-9896-9FB98E5C1C95/2016-09-30_12-31-30
  - a reproducible case if this is a bug, Dockerfiles FTW
Plain dockerfiles fro

[2016-09-30 11:08] Matthias247 commented on #87
@dgageot In Beta27 the problem no longer shows up. Although I didn't find anything related to this in the changelog.

[2016-09-30 12:54] dgageot commented on #116
Hello @lbroekhuizen Thank you but the bug report. Yes, we know this issue. It's a shame but until you get Windows update KB3192366, windows containers won't work.

Here's the extract from Beta27 Changelog:
[code]

[2016-09-30 12:59] dgageot commented on #87
@Matthias247 That's the magic of bug fixing I guess ;-) To be fair, beta27 contains quite a few fixes to VpnKit, the component in charge of the networking. We might have not listed all the fixes in the changelog.

@chakrim99 Could you try Beta27?

[2016-09-30 13:05] dgageot commented on #113
Hi @matsaleh13 thanks a lot for such level of details. I see that you are using a stable version of Docker for Windows (1.12.1-stable). Is it possible that you try the latest beta version (Beta27)? It might fix your issue.

https://docs.docker.com/docker-for-windows/

[2016-09-30 13:17] BarnumD commented on #90
Win 10 anniversary update applied. Beta 27 - build 7450.
Switch to windows containers..
`Error response from daemon: i/o timeout

   at Docker.Backend.DockerDaemonChecker.Check()
   at Docker.Backend.ContainerEngine.Windows.DoStart(Settings settings)
   at Docker.Backend.ContainerEngine.Windows.Start(Settings settings)
   at Docker.Backend.Backend.Start(Settings settings)
   at Docker.Core.Pipe.Na

[2016-09-30 15:15] friism commented on #116
Also see here: https://github.com/Microsoft/Virtualization-Documentation/issues/358

I'm closing this issue since we can't fix it in Docker for Windows and it's tracked by the Microsoft guys.

[2016-09-30 15:15] #116 closed

[2016-09-30 15:57] dev2see commented on #74
The same problem

[2016-09-30 17:58] kksat opened #117 "No switch to windows containers in docker for win beta 27"
### Expected behavior

docker --version
Docker version 1.12.2-rc1, build 45bed2c, experimental
(27 beta)

right mouse Click on docker icon in tray - menu option to switch to windows docker containers.

### Actual behavior

right mouse Click on docker icon in tray -  NO menu option to switch to windows docker containers.

### Information
A diagnostic was uploaded with id: ECA7C915-7564-4ADD-8988-5E

[2016-09-30 19:19] dgageot commented on #117
Hi @kksat which version of windows 10 do you have? Windows containers are only supported on  buildNumber >= 14372

[2016-09-30 20:20] BarnumD opened #118 "BIP not implemented on docker for windows containers?"
Using Windows containers, adding bip to the docker daemon doesn't change the container's IP like it does on docker for windows with Linux containers.
`"bip": "10.11.12.1/23",`
The ip address is something other than 10.11.12.x

[2016-10-01 01:07] ezeeetm opened #119 "docker run nanoserver locks up docker engine"
### Expected behavior
I am trying to reproduce the behavior demonstrated here https://youtu.be/85nCF5S8Qok?t=15m29s.
`docker run -it nanoserver cmd`
which (in the video) opens an interactive session with a nanoserver container as expected

### Actual behavior
I am running in Docker for Windows (switched to Windows Engine/containers)
`docker run -it microsoft/nanoserver:latest cmd`
This results in

[2016-10-01 03:19] friism commented on #119
Can you make sure you have all the latest Windows updates? See here: https://github.com/Microsoft/Virtualization-Documentation/issues/358

[2016-10-01 04:04] gegana commented on #100
@dgageot Is working good.

[2016-10-01 08:01] rneugeba commented on #100
@gegana thanks for getting back.You should also update to Beta27.1 as we discovered an issue with Beta27 and we pushed a hotfix.

Closing this issue

[2016-10-01 08:01] #100 closed

[2016-10-01 12:57] ezeeetm commented on #119
@friism there was one update.  Applied it and now I can run nanoserver containers.  Thank you.

Crazy note:  the first time I ran nano (with cmd as my entrypoint) I was in my host filesystem.  dir returned all the files in my host system home dir (c:\users\my user\).

I tried to reproduce with both cmd and powershell, no luck.  Any idea what might cause that...it was kind of interesting/cool?

[2016-10-01 13:07] #119 closed

[2016-10-01 17:12] dgageot commented on #115
@naeemsarfraz Can you make sure you have all the latest Windows updates? See here: Microsoft/Virtualization-Documentation#358

[2016-10-01 17:12] dgageot commented on #117
@kksat Can you make sure you have all the latest Windows updates? See here: Microsoft/Virtualization-Documentation#358

[2016-10-01 17:13] dgageot commented on #104
@devito Can you make sure you have all the latest Windows updates? See here: Microsoft/Virtualization-Documentation#358

[2016-10-01 17:13] dgageot commented on #90
Can you make sure you have all the latest Windows updates? See here: Microsoft/Virtualization-Documentation#358

[2016-10-01 18:11] oparoz opened #120 "Docker doesn't start"
## Expected behavior

Docker should start in a minute or 2
### Actual behavior

Docker never starts and burns CPU cores doing nothing unless you exit Docker while booting it...
Happens with both stable and beta 27
### Information

[code]

This seems like a networking issue. I'm not sure what it's waiting for though
### Steps to reproduce the behavior
1. Install
2. Launch

[2016-10-01 18:18] oparoz commented on #27
The statement in the documentation is no longer true. The Comodo firewall no longer has issues with Hyper-V.

[2016-10-01 18:27] oparoz commented on #120
What makes things worse is that it becomes impossible to uninstall or upgrade Docker once someone has tried to start it. Processes just hang and need to be killed.

[2016-10-01 23:29] Irieish commented on #54
Just installed the latest update to beta 27 (1.12.2-rc1-beta27.1 (build 7538) a0eb77a / Win10 1607 (build: 14393.222). Still unable to start / no IP address.

6F013C72-7104-4907-BC8B-D7F1D42EE211/2016-10-01_16-18-20

Unable to start: The VM couldn't get an IP address after 60 tries
at <ScriptBlock>, <No file>: line 340
   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)

[2016-10-01 23:41] Irieish commented on #54
Here are the results if I switch to Windows containers... Docker starts, but...

PS C:\WINDOWS\system32> docker --version
Docker version 1.12.2-rc1, build 45bed2c, experimental
PS C:\WINDOWS\system32> docker-compose --version
docker-compose version 1.8.1, build 004ddae
PS C:\WINDOWS\system32> docker-machine --version
docker-machine.exe version 0.8.2, build e18a919

PS C:\WINDOWS\system32> docker p

[2016-10-01 23:47] Irieish commented on #54
I also get the following error response from the Docker daemon:
PS C:\WINDOWS\system32> docker run --rm -v c:/Users:/data alpine ls /data
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: invalid bind mount spec "c:/Users:/
data": invalid volume specification: 'c:\Users:\data'.
See 'C:\Program Files\Docker\Docker\Resources\bin\docker.exe run --help'.

[2016-10-02 01:18] vpalacio commented on #54
Having same problem. Diag id: EE75E116-3427-49F8-BCE0-E47C9C15B029/2016-10-01_21-17-02

[2016-10-02 02:12] Velok commented on #54
Same problem for me.
Diag ID: 04EAF3DD-1F41-4F49-8BA8-D56593EA1555/2016-10-02_04-00-55
Fresh native Windows 10 Pro Installation (Build 14393.222)
Tried first with 1.12.1-stable and now with the newest beta. Unfortunately no luck.

[2016-10-02 06:38] sanori opened #121 "Unable to start: The VM couldn't get an IP address after 60 tries - after Window 10 update"
### Expected behavior
Docker daemon start

### Actual behavior
Failed to start with the following error messages
[code]
### Information
  - This error occurs after Windows 10 Version 1607 update, KB3188128, KB3176936, KB3194496
  - Diagnostic ID: 1A21DDEE-16A0-43FE-941A-B856D15B66BC/2016-10-02_15-27-20
  - Logs:
[code]
### Steps to reproduce the behavior

  1. Start the Windows 10

[2016-10-02 08:47] davidobrien1985 commented on #90
Just updated Win10 to build 14936.

Crash log ID: 7FF335B8-A6FB-4C48-BC1E-B9F79F69CB3A/2016-10-02_19-45-36

[code]

[2016-10-02 09:23] naeemsarfraz commented on #115
@dgageot I haven't had chance to look through that link yet as I needed to get things up and running for a demo yesterday. So this is what I did:
- Restored the previous build of windows and tried the tooling, result: still broken with the same error
- Cleared the c:\ProgramData\docker folder, a couple of directories couldn't be removed so I renamed them
- Re-installed Docker for Windows: same res

[2016-10-02 10:36] rneugeba commented on #54
moving details from #121 reported by @sanori to here (closing #121 as a duplicate):

 1A21DDEE-16A0-43FE-941A-B856D15B66BC/2016-10-02_15-27-20

[2016-10-02 10:37] rneugeba commented on #121
@sanori thanks for reporting. unfortunately, this looks like a failure other users experience as well, which is already tracked under #54. I've moved your details there and close this as a duplicate

[2016-10-02 10:37] #121 closed

[2016-10-02 10:39] rneugeba commented on #120
@oparoz thanks for the report. Is the UI responsive enough to send us a diagnostics for us to take a look at?

[2016-10-02 18:24] oparoz commented on #120
@rneugeba - Sometimes it is, sometimes it isn't :). I managed to create one yesterday I think: `a49b2a4a-3ae9-42df-8788-66bc7e3272ff`

[2016-10-02 18:32] oparoz commented on #120
And the beta just started in 6 minutes. Better than ever before.

This part takes 5 minutes
[code]

[2016-10-02 18:43] protubero commented on #77
I tested it again without success with the folowing version of Docker:
Docker version 1.12.2-rc1, build 45bed2c, experimental

It fails when i enter my credentials. The log file says:

[20:36:16.082][SambaShare     ][Error  ] Unable to mount C drive: mount error(115): Operation in progress
Refer to the mount.cifs(8) manual page (e.g. man mount.cifs)
mount: mounting //10.0.75.1/C on /c failed: Inva

[2016-10-02 18:51] protubero commented on #77
Now it works! I ended Kasperski Endpoint Security 10 for Windows, and it immediatly worked ;-)

[2016-10-02 19:07] oparoz commented on #5
Apparently fixed on beta27

[2016-10-02 20:09] whyzdev commented on #106
sure. let's close it. Thanks,

[2016-10-02 20:09] #106 closed

[2016-10-03 13:02] mpspenna commented on #54
Same issue here. it seems to be the same with Irieish

Docker Version 1.12.2-rc1-beta27.1 (build :7538)

id: A9B841F6-058F-4297-A652-6ECA3935145D/2016-10-03_09-59-47

Unable to start: The VM couldn't get an IP address after 60 tries
em <ScriptBlock>, <Nenhum arquivo>: linha 340
   em Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   em Docker.Backend.ContainerEngine.Linux.

[2016-10-03 13:02] kksat commented on #117
Thank you, @dgageot. I have build lower than 14372. i will update my windows 10.

[2016-10-03 13:02] #117 closed

[2016-10-03 13:47] PetaPetaPeta commented on #114
I'm getting this issue as well.

[2016-10-03 15:15] mclougke opened #122 "Occasional port 80 already in use"
### Expected behavior

load container, servicing port 80 / localhost:nnnnn
### Actual behavior

Stopping httpd: G[  OK  ](98)Address already in use: make_sock: could not bind to address [::]:80
(98)Address already in use: make_sock: could not bind to address 0.0.0.0:80
no listening sockets available, shutting down
Unable to open logs
### Information
- Diagnostic ID from "Diagnose & Feedback" in th

[2016-10-03 15:41] maxsu commented on #65
I'd like to confirm another sighting of this issue in the wild. Exact same message as pcarrier, however the environment variable was properly set.

The fix I found was to enable the Hyper-V > Hyper-V Management Tools >Hyper-V Module for Windows PowerShell feature in Windows Features. I had previously enabled Hyper-V by itself.

I could be wrong, but I suspect that Docker for Windows checks for Hyp

[2016-10-03 16:02] friism commented on #65
@maxsu thanks for digging in to this, I've created an internal issue to track.

[2016-10-03 17:21] londoncalling commented on #27
@oparoz ,thanks I will update the docs on the next go-round

[2016-10-03 17:48] taylorb-microsoft commented on #115
We have tracked down a bug that results in the error: "Start failed in Win32: The JSON document is invalid. (0xc037010d)" that would effect Windows Insiders.

Users running Windows 10 Anniversary update (build 10.0.14393) should be unaffected.  Those with latter builds 10.0.14931/10.0.14936 will see this error.  We've fixed the bug and it's progressing though the inner rings - once I know the buil

[2016-10-03 17:52] mpwagne opened #123 "Docker For Windows Beta 27.1 networking issue (HNS failed with error)"
**Issue**
The new Docker For Windows Beta 27.1 is causing an issue for my windows containers (this was working fine on Beta 27 last week).  Seems to be some kind of networking issue.

**When executing run command:**
docker run -e environment=LOCAL -d -p 80:80 --name tc1 testapi

**I get this error:**
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: failed to cre

[2016-10-03 18:05] friism commented on #123
Can you check whether something else might be running on port 80? http://stackoverflow.com/a/48199/2942

Also, did you clean out all of `$env:programdata\docker`?

[2016-10-03 20:14] douglaswaights opened #124 "net use fails in running containers on windowservercore and only works on nanoserver for shares on the host"
Hi,

net use doesn't appear to work on the windowsservercore image. I get the below trying to map to a shared folder inside a container on the host machine.

PS C:> net use \* \dwsp3\git
Enter the user name for 'dwsp3': cegal64\douglaswa
Enter the password for dwsp3:
System error 67 has occurred.

On nanoserver however it does work.
C:>net use \* \dwsp3\git
User name: cegal64\douglaswa
Password: D

[2016-10-03 20:34] mpwagne commented on #123
Thanks for prompt response.

I checked resmon and Port 80 is free.  To double confirm I also tried:
docker run -d -p 83:80 --name tc2 microsoft/iis
received same error.

Yes, to clarify my cleaning steps...
- Uninstalled Docker for Windows
- Deleted C:\Program Files\Docker
- Deleted C:\ProgramData\Docker  (after taking ownership)
- Deleted MobyLinuxVM vm
- Reinstalled Docker for Windows/ shifted i

[2016-10-03 21:12] mpwagne commented on #123
ok not sure how I got in this state but this cleaup step solved the nat issue for me:
Get-ContainerNetwork | Remove-ContainerNetwork

[2016-10-03 21:48] #123 closed

[2016-10-04 00:41] reypm opened #125 "Can't share host drive (D) with Docker in Windows with a user with or without password"
### Expected behavior
 - D drive can be shared with a Windows user with or without password
 - D drive is shared against the container with run command

### Actual behavior
The current user haven't a password because I am the only want using this PC so I get rid of it.  I am running a container with a volume as following:

[code]
And I get the following output|error:

After get the error I have tr

[2016-10-04 06:30] Morgy93 commented on #109
@rneugeba Yeah, I created the symlinks on the host machine (via the Linux subsystem for Windows [Bash on Ubuntu on Windows]) and they do work fine on that one, but not within the docker container.
While I create the symlink in the container, it works within the container but not on the host system.

[2016-10-04 06:47] rneugeba commented on #109
@Morgy93 thanks for getting back to me. Unfortunately, this doesn't work...

Native NTFS does not support symlinks. These are emulated with WSL by setting some file attribute (I  think) and then add the target of the link in the file. CIFS/SMB on linux does something similar for emulating symlinks (see [here](http://wiki.samba.org/index.php/UNIX_Extensions#Minshall.2BFrench_symlinks)), so does cyg

[2016-10-04 06:47] #109 closed

[2016-10-04 06:49] rneugeba commented on #109
@londoncalling could we add a section to the docs explaining the symlink behaviour?

[2016-10-04 07:11] Morgy93 commented on #109
@rneugeba Just to make it clear: There is no way to get working symlinks on the host and within the container at the same time?

[2016-10-04 07:15] rneugeba commented on #109
@Morgy93 unfortunately, they use incompatible ways of emulating symlinks, so at the moment it is not possible.

[2016-10-04 09:15] andythorne commented on #98
Same error for me since beta 27:

[code]

[2016-10-04 10:17] dgageot commented on #110
Closing the issue

[2016-10-04 10:17] #110 closed

[2016-10-04 10:18] dgageot commented on #91
Closing the issue since VMware and Hyper-V can't be used together and there's nothing we can do about it.

[2016-10-04 10:18] #91 closed

[2016-10-04 13:23] mpwagne commented on #123
I would suggest someone checks on the installer to make sure it properly cleans on uninstall.

[2016-10-04 13:34] crutchfield commented on #74
Appears to be same issue I am having as well.  Tried stable and beta versions and got the same results.  Errors appear in log right before attempting to read/write certificates.  Be happy to provide more info to help isolate.

[09:12:41.534][DataKit        ][Info   ] +850368us       fs9p [ERROR] dispatcher caught Unix.Unix_error(Unix.EPIPE, "bytes_read", ""): no more requests will be handled
[09:1

[2016-10-04 13:47] friism commented on #74
@chrisella @crutchfield thanks for reporting, a fix is in the works!

[2016-10-04 13:47] chrisella commented on #74
@friism Excellent great news! :)
thanks

[2016-10-04 14:21] husainaloos commented on #74
There might be two different problems here, with the same error message:

`Unable to write to the database. Exit code: 1
   at Docker.Backend.Database.WriteKeys(ICollection`1 keyValues)
   at Docker.Backend.Database.ModifyDatabase(ICollection`1 keyValuesToWrite, ICollection`1 keysToRemove)
   at Docker.Backend.Database.Write(Settings settings)
   at Docker.Backend.ContainerEngine.Linux.DoStart(Set

[2016-10-04 14:55] dgageot commented on #125
Hi @reypm thanks for this detailed bug report. I'm sorry you won't be able to share any drive if you don't have a password. This is a limitation of Windows. Now, of course, it should work if you set a password.

Can you try with another password, maybe without special characters? We still have issues with some specials characters.

The next version of Docker for Windows contains more fixes to the

[2016-10-04 14:56] dgageot commented on #124
@friism Any idea?

[2016-10-04 15:00] reypm commented on #125
Hi @dgageot my current password is like `1qazxsw2` just for fun and try and that one doesn't work either. Any ETA for this version?

[2016-10-04 15:02] dgageot commented on #5
Hi everyone, is it fixed for all of you with Beta27?

I'm going to tag the ticket as "will be closed" and will close it in a week of so if nobody complains :-) Thanks again for your reports!

[2016-10-04 16:54] devito commented on #104
On top of getting the latest windows updates I also had to do the following:

[code]
restart system
and then do this
[code]

I believe when I was investigating this earlier I damaged my virtual network switch.  Doing this additional step corrected that.

Thanks

[2016-10-04 17:58] DeltaWhy opened #126 "Downloads for old versions"
Is there any way to download the installer for a previous version? I'm unable to use 1.12.1 due to issue #130. Additionally, this would be helpful in the future for ensuring the same version of Docker is running in development and in production.

Edit: I checked again and it looks like the issue I'm having with 1.12.1 is different from #81. I created a new issue.

[2016-10-04 18:19] pihalve opened #127 "Docker failed to initialize (NLog problem)"
### Expected behavior

Docker for Windows should start up.
### Actual behavior

Shows error message: "Method not found: 'Void NLog.Targets.FileTarget..ctor(System.String)'."
### Information

Host: Win10 Anniversary Version 1607 (OS Build 14393.222)
- Diagnostic ID from "Diagnose & Feedback" in the menu.
- a reproducible case if this is a bug, Dockerfiles FTW
- page URL if this is a docs issue or t

[2016-10-04 18:50] londoncalling commented on #109
@rneugeba See https://github.com/docker/docker.github.io/pull/34 (I tagged you on it, too).

[2016-10-04 18:56] spirodonfl commented on #54
I'm getting the same thing :(

Docker Version 1.12.2-rc1-beta27.1 (build :7538)

id: 32E3502E-79EE-4887-996B-B594615603BE/2016-10-04_10-50-40

[2016-10-04 20:23] friism commented on #124
I can mount a network drive just fine:

[code]

This works in both windowsservercore and nanoserver (using the container host hostname):

[code]

I don't know about the path you're trying to use. It works me in neither Core nor Nanoserver containers. Maybe @jhowardmsft has ideas.

[2016-10-04 21:41] douglaswaights commented on #124
hmmm.

I just tried again on both base images to check i wasn't going crazy.

Same result for the host share.... it works on nanoserver but not windowsservercore (i havent tried the network share again but most probably the same result).

Additionally I tried using a local admin account for the user password prompt just in case it doesn't like domain accounts for whatever reason... but still the s

[2016-10-04 21:44] jhowardmsft commented on #124
Are you on the 9D update? (Run Windows Update). It sounds like the Windows firewall as the most likely cause.

[2016-10-04 21:51] douglaswaights commented on #124
In the host? or container?

Just updating my win 10 machine a few updates...

the servercore image is
microsoft/windowsservercore   latest                                     f20579da8e4e        12 days ago         7.329 GB

[2016-10-04 21:52] jhowardmsft commented on #124
Container

[2016-10-04 21:56] friism commented on #124
@douglaswaights I'm running this in a full VM2016 VM (running containers). I haven't tested on Windows 10.

[2016-10-04 22:00] douglaswaights commented on #124
@jhowardmsft could you point me in the right direction for how to do that in the container? Sorry for being a bit dumb!

[2016-10-04 22:04] douglaswaights commented on #124
ah sconfig figured it out- trying to update now the container now

[2016-10-04 22:21] douglaswaights commented on #124
sconfig is taking an age inspecting the system, i'll report back when and if i manage to get the updates down to the container!

Thanks!

[2016-10-04 22:54] JohnPAguirre commented on #104
Just wanted to say that after a few days this fixed the same problem I had.  Thank you very much!

[2016-10-05 05:45] riveryc commented on #20
@dgageot I'll give it a try for the recent beta version tonight. Just got back from a holiday. :) Thanks.

[2016-10-05 06:45] rneugeba commented on #120
@oparoz thanks for the ID above, but I could not find any diagnostics logs for it.

when you say that the latest Beta starts in 6minutes, this seems very very long and disabling the firewall should not be necessary. @dgageot any idea what happens between the two steps above which could take that long?

Also, once it starts, could you go to the diagnostics menu and manually update the diagnostics a

[2016-10-05 06:47] rneugeba commented on #103
I'm closing this issue as there is not enough information available. please re-open if this is still a issue and provide additional info.
thanks

[2016-10-05 06:47] #103 closed

[2016-10-05 07:06] rneugeba commented on #114
@DiJu519 thanks for your report.

Do you know if the VPN changes your firewall settings, in particular if it blocks port 445? Could you check with `Get-NetFirewallRule –DisplayGroup "File and Printer Sharing"` (from an elevated powershell) or add the output with and without VPN to the issue?

[2016-10-05 08:02] Morgy93 commented on #109
I've been seriously confused by this issue which got mostly resolved by reading this thread: https://forums.docker.com/t/symlinks-on-shared-volumes-not-supported/9288

I was sure that I already worked with symlinks on the Windows host side which also worked within the Linux vm / container - but, yeah.. sure... I used Docker Toolbox back then with Oracle VM VirtualBox and not the new Docker for Win

[2016-10-05 08:51] douglaswaights opened #128 "sconfig hangs in windowsservercore"
Hi,

### Expected behavior
sconfig brings up the interface and options as expected

### Actual behavior
In a running windowservercore container typing sconfig causes the system to hang on inspecting system and never shows the options...

### Information
I'm running on Windows 10 anniversary edition
the imageid is f20579da8e4e
The reason for using sconfig is to try and install the latest windows up

[2016-10-05 08:52] douglaswaights commented on #124
Unfortunately sconfig seems to hang
https://github.com/docker/for-win/issues/128

[2016-10-05 09:52] jdoose commented on #20
I experienced this error when using Docker for Windows Beta in a VMWare virtual machine and unchecked option "Virtualize Intel VT-x/EPT or AMD-V/RVI" in processor settings of the vm. Checking this option solved this for me. Maybe this helps somebody.

Btw: Thanks to the Docker team for this awesome piece of work!

[2016-10-05 12:06] astau opened #129 "Docker for Windows takes very long to start"
### Expected behavior
Docker Engine should start in few seconds or minutes.

### Actual behavior
It takes more than 20 minutes or sometimes an hour for Docker engine up and running,

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  3DB8EFF1-FCBE-47D3-8906-6013333D4FAA/2016-10-05_19-56-06
  - host distribution and version (Windows version, build number, etc)
Windows 10 B

[2016-10-05 12:08] astau commented on #129
Note the time difference on the log file between lines "Opening ports for C:\Prog...." and next.

[2016-10-05 12:28] chakrim99 commented on #87
@dgageot, Thank you, I tried by switching to beta version, and able run Ubuntu container. But one observation is, after the switch, lost the older containers created, not relevant to the current issue but wanted to let you as i am not sure if its expected behavior.
Can you also please suggest me how to move the "Virtual hard disks" to D or E drive, I tried as specified from [https://forums.docker.

[2016-10-05 13:23] DeltaWhy opened #130 "'Unable to write to the database' on Windows 10 Enterprise"
### Expected behavior

Docker continues to work after upgrading to 1.12.1
### Actual behavior

[code]

I have the Hyper-V manager open while starting/restarting Docker and it looks like the VM never starts. Starting it manually gives the same error.
### Information

Windows 10 Enterprise 1511
Diagnostic ID: C380F3E2-0971-484D-BDF3-D7A856B52C33/2016-10-05_09-04-45

[2016-10-05 13:47] rneugeba commented on #109
@Morgy93 glad that the explanation helped a little. One thing you can try, which may help to understand it better, is the following.
- create a symlink in WSL and then look at it with powershell. the symlinks are just text files with some special characters and the location to the file being linked to.
- create a symlink on a share volume in a container. again look at the contents of the file on t

[2016-10-05 15:28] david-billings commented on #54
Same issue on 1.12.1-stable

Windoze 10 Pro v1511 10586.420

[2016-10-05 16:52] spirodonfl commented on #54
I would be happy to lend my machine remotely if that helps. :)

[2016-10-05 17:02] Velok commented on #54
Hmmm according to david-billings comment it seems that this issue don't effect only the ones who run build 14393 and above.. right?

[2016-10-05 18:03] schwamster commented on #72
also ran into that problem while running terraform within a container to create an infrastructure on azure.
creating a storage account failed with an authorization problem.  cvillerms Tipp helped

[2016-10-05 18:13] jhowardmsft commented on #128
@patricklang can you confirm. I don't think this is expected to work.

[2016-10-05 18:39] friism commented on #128
Yeah, I don't think it's expected to work.

[2016-10-05 18:43] douglaswaights commented on #128
OK thanks for the replies, so how then do i do a windows update for a running servercore container with regards #124 ?

Thanks
Doug

[2016-10-05 20:09] spirodonfl commented on #54
Well, not entirely because I have another machine that's running the same builds and works just fine.

[2016-10-05 20:58] fegonfe opened #131 "unknown blob when downloading nanoserver image"
docker pull microsoft/nanoserver:latest
latest: Pulling from microsoft/nanoserver

### Expected behavior
image downloaded

### Actual behavior
5496abde368a: Downloading (retries a few times and then abort)
unknown blob

other images downloads additional files but not the base image
docker pull microsoft/dotnet:1.0.1-nanoserver-core
5496abde368a: Downloading
68c8748424c9: Download complete
255fd0bb

[2016-10-05 22:16] riveryc commented on #20
@dgageot Hi mate, just tested with the latest beta version and it's working all fine now!

Thanks for your work!
River

[2016-10-05 22:16] #20 closed

[2016-10-06 07:28] rneugeba commented on #54
@david-billings could you provide an diagnostics ID, so that I could take a closer look?

@Velok the message (can't get IP in 60 seconds) basically means that the VM didn't start. that can have a number of causes. AFAIK, all issues which weren't on 14393 and above, had other, unrelated  causes.

@spirodonfl thanks for the offer, i will almost certainly take you up on it as I can't reproduce the is

[2016-10-06 07:45] rneugeba commented on #129
@astau thank you for the report.

@dgageot could you take a look what in the code path could take this long?

[2016-10-06 07:50] david-billings commented on #54
Hi Rolf,

I have just created one with ID: 6411192A-3DDD-4922-B72B-6C642BCBAD74/2016-10-06_08-42-56

Docker was working for me a couple of weeks ago and I haven't changed the version. Some windows updates may have been installed since then as this is my work laptop so I don't control the updates.

But they update I am on is KB3163018 - I can't see anything related to Hyper-V but generally it's a '

[2016-10-06 09:17] jayfresh opened #132 "Sharing drives does not work for Azure AD user accounts"
Hi,

I'm attempting to share my C: drive as per the instructions here - https://docs.docker.com/docker-for-windows/#/shared-drives.

However, it doesn't seem possible to use my login details in the Shared Drives username/password dialog - none of the usernames of the form AzureAD\username, or email@domain or AzureAD\email@domain get through the login.

I've tried setting up a local admin user, "ad

[2016-10-06 10:31] simonferquel commented on #132
When the popup appears, what is the value prefilled for user name ?
Can you try not to change it and give your Azure AD password ?

[2016-10-06 10:57] jayfresh commented on #132
Hi Simon, there isn't any value prefilled for user name. And if I fill in a user name and password, the popup reappears without any value prefilled - see screenshot.

I'm using the latest stable build.
![creds](https://cloud.githubusercontent.com/assets/11040/19149910/1dc715da-8bbc-11e6-9e86-d0233674ce44.png)

[2016-10-06 11:02] jayfresh commented on #132
I've downloaded the beta version and it's a bit different - there *is* a prefilled user name, but when I put my password in, the popup disappears and the C drive checkbox goes back to being unchecked. I'm just checking the log...

[2016-10-06 11:06] simonferquel commented on #132
Ok, we might have to setup a lab to further test AzureAD related scenarios.
I'll track the issue in our internal repo, in the mean time, having a local account with correct NTFS rights is a perfectly suitable workaround

[2016-10-06 11:20] jayfresh commented on #132
the problem with using a local account to share the drive is that you hit the problem mentioned in the troubleshooting - you can't be logged in as your AzureAD account and run docker commands, as that's not the same user account as you used to share the C drive...

[2016-10-06 11:24] jayfresh commented on #132
Here's the diagnostic ID running this on the beta version: B84C9FF9-58D6-4C1D-8BBA-D94E145DE072/2016-10-06_12-23-37

[2016-10-06 11:40] jayfresh commented on #132
In the log, got the error `System error 1332 has occurred. No mapping between account names and security IDs was done.`

[2016-10-06 12:32] simonferquel commented on #132
With the beta you should be able to:
- Log on with the AzureAD account
- Create a local account (without login in)
- Put correct ntfs rights for the local account
- Launch Docker For Windows from the Azure AD account session, and when sharing the drive, specifiy the local account and password

What you can't do is switch from different user account sessions and run docker commands (all docker comm

[2016-10-06 13:07] AndyBerman commented on #20
I'm still getting this error with the latest Beta: 1.12.2-rc1-beta27.1 (build 7538)

[2016-10-06 13:15] oparoz commented on #120
Here is a new ID generated after it had started:
D8F2CE2C-C114-49A2-B30D-49F9D84B97F3/2016-10-06_15-10-48

Cheers.

[2016-10-06 14:03] DeltaWhy opened #133 "Switching tabs in settings loses changes"
### Expected behavior

Clicking 'Apply' in settings should apply all changes I've made.
### Actual behavior

Clicking 'Apply' only applies settings on the current tab. There is no warning when switching tabs that changes will be lost. As a result, the VM has to be restarted multiple times instead of just once when I am finished changing all the settings.

[2016-10-06 15:43] jayfresh commented on #132
Thanks! Two queries though - the popup credentials won't let me change the username to use the local admin account, it just says it's an invalid login/password when I submit it. Secondly, I don't know what you mean about the correct ntfs rights for the local account, could you explain? Thanks again.

[2016-10-06 15:56] simonferquel commented on #132
as a username just put your username without the AzureAD prefix (and make sure the account password is not expired)

The thing about NTFS rights is that you have to make sure the local user has the rights to read and/or write in the folder you want to mount as a volume in a container

[2016-10-06 20:50] qwebek commented on #67
Hello,

To my regret i have solved this issue only by reinstalling windows with 1601 enterprise version

By the look of things the cause of issue was some sofrware that was installed on the box or some actions performed on windows that somehow someway made hyper-v not to work as it should (not able to create VM with existing vhdx and crashing)

I would suggest if you spot such issue -  try to roll

[2016-10-07 07:29] rneugeba commented on #67
Hi @qwebek
thanks for getting back and glad that it is now working for you, albeit fixing it with a rather large hammer of re-installing.

Thanks for the recommendation of doing upgrades instead of re-install.

I'm closing this issue as it now seem resolved.

[2016-10-07 07:29] #67 closed

[2016-10-07 09:51] lusitania opened #134 "memory requirements for mobylinux/boot2docker too high to wield swarm"
### Expected behavior
Startup memory and memory demand of idle VM in the order of an alpine container, below 100MB. This order of memory usage is vital for spawning multiple (reads at least 3) nodes in order to test a modestly complex, distributed application on an average developer machine (with 4 or 8 GB of RAM).

### Actual behavior
Minimum configurable memory 1 GB via GUI. Memory demand of idl

[2016-10-07 11:25] lusitania opened #135 "v1.12.2-rc1 shouldn't require more permissions than stable to share drives"
### Expected behavior
1.12.1 stable was fine with a user in group Guests to share a drive. (Members of group Guests are not allowed to log in locally on my machine.)

### Actual behavior
1.12.2-rc1 requires a user in group Users to share drives.

### Information

  - Diagnostic ID: 5B7AC43B-CA65-42E7-98A8-B482CA7FC66D/2016-10-07_11-41-37
  - host distribution and version: Windows 10 Pro 1607, 1439

[2016-10-07 11:42] lusitania opened #136 "shared devices should be shared paths"
All my docker stuff lives deep inside my home folder, neatly separated from any confidential content.
### Expected behaviour

Windows shares should only provide access to "secured areas" rather than exposing the whole disk. Security models should be multi-layered, in this case: shares level, user account level and folder permissions.
### Actual behaviour

The whole disk is exposed on the shares le

[2016-10-07 15:02] friism commented on #134
Thanks for opening. You can test single-node swarm with Docker for Windows by running `docker swarm init`.

If, for some reason, you need to test multi-node swarms and your laptop does not have enough memory, I recommend using docker-machine and a cloud provider like Digital Ocean, AWS or Azure.

[2016-10-07 15:02] #134 closed

[2016-10-07 16:03] tombueng commented on #54
Same problem here: AC164914-1774-4F99-85E6-1453A758294D/2016-10-07_17-51-59

[2016-10-07 19:19] Cuchulain commented on #114
Yes, the problem may be a firewall. I use "Kaspersky Internet Security" with its own firewall module and when I disable this, Docker disk sharing began work :)

[2016-10-07 20:52] gitwhistle commented on #54
I was able to solve this problem by editing the file "C:\Program Files\Docker\Docker\resources\MobyLinux.ps1" as suggested by the user named escufi in the thread at https://forums.docker.com/t/the-vm-couldnt-get-an-ip-address-after-60-tries-again/11936/7.

[2016-10-07 20:56] spirodonfl commented on #54
@gitwhistle I did that too and it didn't work for me. :(

[2016-10-07 20:58] gitwhistle commented on #54
@spirodonfl Hm, that's not good.

[2016-10-07 21:54] spirodonfl commented on #54
So I just did a fresh install of Win 10 because reasons. Still no go.

[2016-10-07 22:05] spirodonfl commented on #54
So it's probably a hardware issue because the new install is running 14393.0 (not 14393.222) and it's still not working. I've got an AMD chip and an older Mobo. So maybe something inside MobyLinux isn't happy with that.

[2016-10-07 22:07] artisticcheese commented on #131
Same for WindowsServerCore. Solution is to use 1.13 client from here (https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_10) but this shall be documented somewhere on docker website since anybody who would want to use windows containers with official RC client from docker website would fail to do so.

[2016-10-07 23:03] fegonfe commented on #131
Thanks. I was able to download it.
Now the problem is that it hangs on docker run. It seems very likely a deadlock because docker and dockerd are just waiting

[2016-10-08 00:03] mparrett commented on #54
Same issue here.

[2016-10-08 02:36] spirodonfl commented on #54
@mparrett What the heck... Are you able to see what your recent updates were?

[2016-10-08 02:40] mparrett commented on #54
@spirodonfl Looks like it was KB3194496.

![image](https://cloud.githubusercontent.com/assets/214866/19209722/e44de468-8cc5-11e6-8d4f-1d32a82c249b.png)

[2016-10-08 02:41] spirodonfl commented on #54
Yeah I've got that one too. So strange.

[2016-10-08 02:42] mparrett commented on #54
@spirodonfl Anything odd in your Network Adapters?

[2016-10-08 02:43] spirodonfl commented on #54
Not that I can see. I only have one wired Ethernet which seems fine and has been working fine all along. The other is the NAT one, created by Docker, and I've compared it to my two other machines, both working fine with Docker, and no differences at all. It's something specific to this machine, probably this hardware I bet.

[2016-10-08 02:51] spirodonfl commented on #54
@mparrett If you do Win +R and then type in "winver", what version does it say you're running?

[2016-10-08 03:31] mparrett commented on #54
@spirodonfl Version 1607 (OS Build 14393.222)

[2016-10-08 03:32] spirodonfl commented on #54
@mparrett Yeah, same as me. You on an Intel chip or AMD?

[2016-10-08 03:35] mparrett commented on #54
@spirodonfl Core i7-4770

[2016-10-08 03:37] spirodonfl commented on #54
Yeah, intel. The other two machines that are working for me... Both Intel. Haha.

[2016-10-08 03:42] gmsantos commented on #54
Same issue here too: 1007F081-20FB-4D77-B150-6F2AE6AB41FD/2016-10-08_00-40-15

Clean Windows 10 1607 installation, Hyper-V, Containers and Bash on Ubuntu on Windows only.

Windows Containers are running fine.

[2016-10-08 08:58] peijie commented on #27
I have same issue after upgrade to windows 10 anniversary version. The MobyLinuxVM is not created. The following is the error message:

Unable to create: Hyper-V encountered an error trying to access an object on computer 'HOME-NOTEBOOK' because the object was not found. The object might have been deleted. Verify that the Virtual Machine Management service on the computer is running.
at <ScriptBlo

[2016-10-08 09:39] peijie commented on #27
i fixed the issue by restarting the docker service and start docker desktop again

[2016-10-08 09:43] fduarte42 opened #137 "Symlink Emulation fails."
### Expected behavior
Symlinked file should show content of original file

### Actual behavior
Sometimes container sees the following content:
XSym 0021 607cac914a72ec8c3c3f1d6d7eb98214 ../../../autoload.php

### Information
I used my container image fduarte/docker-php based on library/php:apache:7.0 to install Typo3. I see this if I start to reload the backend over and over again. Sometimes it ha

[2016-10-08 12:55] billhab commented on #77
This thing still doesn't work!!   I have drive C and drive D shared.  Docker asked for credentials and the setting panel shows both drives check.  But when I try the volume mount I get.

com.github.dockerjava.api.exception.InternalServerErrorException: D: drive is not shared. Please share it in Docker for Windows Settings

[2016-10-08 13:13] billhab commented on #77
Everytime I try to set the drives to be shared and Accept,  I enter credentials it spins for a minute and then removes the checks from the drives.

[2016-10-08 13:58] vpalacio commented on #54
same here

[2016-10-08 14:00] vpalacio commented on #54
I'm running i7-4770k

[2016-10-08 14:11] billhab commented on #77
It works only if I am not connected to my VPN and the firewall is turned off.

[2016-10-08 18:17] Velok commented on #54
My Machine is also running a i7-4770K on a ASUS TUF Gryphon Z87. Are there any Hardware Infos in the DiagFile or only the Logs?

[2016-10-08 18:35] vshantharaj commented on #114
Had a similar issue (windows firewall) disabling worked!!!

[2016-10-08 20:56] spirodonfl commented on #54
@velok and @vpalacio: Have you guys tried any of the other solutions that seemed to work for others? Like editing the MobyLinux.ps1 file or disabling the firewall or things like that?

I think the debug logs have all the hardware information but I'm not sure what gets sent when you submit your diagnostic.

[2016-10-08 23:22] ryan413 commented on #54
guessing just coincidence, but also running i7-4770k w/ z87i

[2016-10-09 00:24] Velok commented on #54
@spirodonfl: Tried with deactivated firewall, deactivated Windows Defender and also tried the the Script Edit.. nothing helped.

[2016-10-09 06:45] spirodonfl commented on #54
Ok well I can confidently say that Hyper-V and NAT is not an issue. I just did the following:

1) Download Ubuntu Server 16.x because it comes with Hyper-V stuff baked inside.
2) Create a new VM in Hyper-V manager (after deleting / removing everything Docker does)
3) Generation 2, default settings, load up the ISO to boot first
4) Install Ubuntu Server at default settings
5) Run three commands, ma

[2016-10-09 07:40] naeemsarfraz commented on #104
@devito thanks for the info you posted, helped me but I'm still not 100%.

I'm now running Win 10 build 14942. I can start a container without any problems except for when I try to use the -p 80:XXXX argument.

`C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: failed to create endpoint furious_galileo on network nat: HNS failed with error : Unspecified error.`

[2016-10-09 09:04] lusitania commented on #134
really? that's it?

 - a single-node swarm is irrelevant. having only a manager doesn't do anything.
 - why do you need over 1/2GB of RAM for a service of 50MB on idle? even my hoster's rescue image is below 200MB of utilisation.
 - i believe it was your founder, solomon hykes, who talks a lot about enabling people. by saying "go elsewhere, pay someone" you are breaking your own mantra.

sorry for

[2016-10-09 12:38] gmsantos commented on #54
@ryan413 don't think if the processor is an issue, I'm running an AMD Phenon II here ...

[2016-10-09 15:56] fordprefect-001 commented on #54
Likewise i am running an AMD FX-9370, i have no problems running a fedora 24 hyper-v vm, with all the hyper-v tools...

The image always hangs at the point the kernel is trying to register the storage driver

hv_vmbus: registering driver hv_storvsc

[2016-10-09 18:31] friism commented on #134
If you think there ways to make Boot2docker use less memory, feel free to open an issue on that project or consider contributing a patch: https://github.com/boot2docker/boot2docker

[2016-10-10 06:59] jplonghi commented on #130
Save problem for me

`2016/10/10 00:55:24 Failed to contact the database on \\.\pipe\dockerDataBase: open \\.\pipe\dockerDataBase: The system cannot find the file specified.

[00:55:24.185][NamedPipeServer][Error  ] Unable to execute Start: Unable to write to the database. Exit code: 1    at Docker.Backend.Database.WriteKeys(ICollection`1 keyValues)
   at Docker.Backend.Database.ModifyDatabase(ICo

[2016-10-10 11:58] JimmyHannon commented on #114
Same issue for me. Disabling my firewall solves the problem. But of course i don't want to disable it completely. So i tried adding a rule to allow all connections on 445 but that doesn't work. Any suggestions for adding a specific rule to the firewall?

[2016-10-10 14:01] david-billings commented on #54
Running i7-6700HQ

[2016-10-10 14:06] vshantharaj commented on #114
Probably still not the best solution - but i just enabled/allowed inbound traffic on local address- 10.0.75.1 (all ports)

looking for a better rule to enable the same

[2016-10-10 14:24] Velok commented on #54
When I start Docker it creates (or Hyper V does it) a new vEthernet Adapter (DockerNAT) but it is unidentified / Public and has no Network Connection. Also the Standard Gateway and DNS-Server are not configured.

Is this the expected behavior?

![dockerbug](https://cloud.githubusercontent.com/assets/6967752/19239018/6b6be130-8f04-11e6-8993-3cc64378e73a.png)

[2016-10-10 15:49] dgageot commented on #133
Thank you @DeltaWhy for the bug report. You are right, the behaviour should be improved.

[2016-10-10 15:52] dgageot commented on #43
I'm going to close the issue since nobody complained nor responded lately. Feel free to reopen in case the issue is still there of course!

[2016-10-10 15:52] #43 closed

[2016-10-10 15:53] dgageot commented on #5
Hi, I'm closing the issue has said a week ago. Feel free to reopen if the issue is still there, of course!

[2016-10-10 15:53] #5 closed

[2016-10-10 15:57] BarnumD commented on #118
Thanks, but, for me that's not a fix :(  We rely on that because docker chooses networks that are part of our corporate ranges.

[2016-10-10 15:58] dgageot commented on #118
@BarnumD No worries, we are going to both fix the GUI and add the feature. Sorry for the misunderstanding.

[2016-10-10 16:50] CloningMishap commented on #43
@dgageot Thanks! I just tested it out and it appears to be fixed. I can now ping google.com from inside the container while connected to my Split-VPN through AnyConnect.

[2016-10-10 18:43] cerebrate commented on #115
Appears to work again under 14942, FWIW.

[2016-10-10 19:55] survivant opened #138 "MongoDb doesn't start when using volumes"
I'm trying to start mongo using volume to persist the data between restarts.

I been in Docker Settings and check the C: checkbox and enter credentials.

when I start mongo db using this command line :
$ docker run -p 27017:27017 -v c:/test-mongo:/data/db mongo

I obtain the error below

2016-10-10T19:48:32.036+0000 I CONTROL  [initandlisten] MongoDB starting : pid=1 port=27017 dbpath=/data/db 64-

[2016-10-10 19:57] survivant commented on #138
the problem using volume is that I can't share files : like logs.   I need to be able to see the files that the application will generate.

[2016-10-10 20:00] survivant commented on #138
I'm using Windows 10 PRO

c:\>ver

Microsoft Windows [Version 10.0.14393]

$ docker version
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 17:52:38 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 17:52:38 2016
 OS/Ar

[2016-10-10 20:14] fegonfe commented on #131
I had to install version 1.13 AND KB3194496. Now, it is working.

[2016-10-10 20:16] artisticcheese commented on #131
Why did you close this? This is really a workaround for public issue. Anybody who will try out right now Docker on Windows will fail to do so since the only Beta version which is available through Docker website is 1.12

[2016-10-10 21:07] londoncalling opened #139 "Enabling Hyper-V feature turns my wi-fi off"
@rneugeba @friism I'm adding this issue per feedback we got through the docs, [docs issue #100 "Feedback for: docker-for-windows/index.md"](https://github.com/docker/docker.github.io/issues/100#issuecomment-252415791) from https://github.com/shazChaudhry

### Expected behavior
Install Docker for Windows (which enables Hyper-V), or enable Hyper-V manually, and all works, with Wi-Fi enabled.

### Ac

[2016-10-10 21:40] fegonfe commented on #131
The hang problem seems duplicate to issue #115.

[2016-10-10 22:21] spirodonfl commented on #54
@Velok Yes, that's the correct setup to begin with. It enables the guest machine to talk to your host machine. But something is happening inside the guest machine (MobyLinuxVM) and it's not communicating correctly (or at all).

[2016-10-10 22:33] rneugeba commented on #139
@shazChaudhry the issue you reported on https://github.com/docker/docker.github.io/issues/100 has been moved here.

We enable Hyper-V on installation if it is not enabled. This should not interfere with your networking setup and the rest of the installation does not touch the network interface either.

Could you describe in a bit more details what's happening and how to reproduce it, what the vers

[2016-10-10 22:35] rneugeba commented on #135
@dgageot could you take a look?

[2016-10-11 03:05] spirodonfl commented on #54
Ok, so, if my understanding is correct, this is an issue with the underlying VM of MobyLinuxVM. From the information I can gather, it's based on alpine linux, and I found certain versions to be wonky when trying to run them in my Hyper-V manager. Just a thought. Anyways, I'm gonna leave this be and use my Ubuntu hyper-v install to manage my docker containers for me. :)

@rneugeba You can hit me up

[2016-10-11 05:47] clns opened #140 "Exception 0xc000001d 0x0 0x0 0x18000890c"
### Actual behavior

Docker throws an exception everytime I run a command that accesses the daemon (e.g. `docker -v` works since it's client-side only).

### Information

  - Diagnostic ID: AD497577-51CA-4C56-B6F8-08A16B9710EC/2016-10-11_08-39-38
  - a reproducible case: it happens everytime, cannot use Docker at this moment
  - host distribution and version (Windows version, build number, etc): M

[2016-10-11 07:46] simonferquel commented on #139
There are known issues with some old wireless device drivers and Hyper-V. Can you try to update your wifi drivers ?

[2016-10-11 08:05] simonferquel commented on #138
The problem is that mounting volumes from a Windows directory is done using samba/cifs, and that mongo db has certain requirements on the filesystem that are not fulfilled by cifs (ability to exclusively lock a file, msync, fsync....).

I suggest that you mount your folder somewhere else in the container, and create a symlink so that logs (and logs only) are rerouted to that share

[2016-10-11 08:09] simonferquel commented on #135
@rneugeba I'll take a look at it, I'm pretty sure it is related to the new credential checks we do.
Thanks for the feedback !

[2016-10-11 08:22] david-billings commented on #54
Interestingly I "Reset to factory defaults" and docker is now working for me.

[2016-10-11 08:37] vandammeb commented on #37
@ecsousa Still no luck with the workaround you suggested. The same nginx bind issue persists:

nginx_1      | 2016/10/10 16:41:17 [emerg] 1#1: bind() to 10.0.75.1:9003 failed (99: Cannot assign requested address)

Would you mind having a look at my stackoverflow question?
My docker-compose file and network info are available there.

[2016-10-11 08:42] vandammeb commented on #37
@dgageot Any chance this issues has been addressed in the current beta? (i'm using the stable version)

[2016-10-11 09:39] simonm3 opened #141 "Fails to install on windows 10"
Downloaded the installer. Ran it. Get this error message.

Unable to start: 'MobyLinuxVM' failed to start.
at , : line 340
at Docker.Core.Pipe.NamedPipeClient.TrySend(String action, Object[] parameters)
at Docker.Core.Pipe.NamedPipeClient.Send(String action, Object[] parameters)
at Docker.Core.Backend.BackendClient.Start(Settings settings)
at Docker.Actions.DoStart(Settings settings, Boolean showW

[2016-10-11 10:09] simonferquel commented on #135
@lusitania can you confirm that:
- the user in question is not the special "Guest" account, just a member of the Guests group
- the Guests group is denied log on locally
- There is no other restriction on the Guests group ?

If this is the case, it should be fixed in an upcoming beta (maybe not the really next one, but soon :) )

[2016-10-11 10:12] rneugeba commented on #141
Thanks for your report. Could you please provide the diagnostics ID displayed in the error message as it provides additional information for use to look at.

[2016-10-11 10:41] rneugeba commented on #140
@clns thanks for your report. Can you quit the app, start it again and then, if the error comes up post another diagnostics ID. Unfortunately, the one you supplied did not catch enough of the logs.
thanks

[2016-10-11 10:58] rneugeba commented on #114
@Cuchulain thanks for testing. Is there a way you can add custom rules to the "Kaspersky Internet Security"? It should be sufficient to allow inbound traffic on port 445 on 10.0.75.1 from 10.0.75.2.

@JimmyHannon @vshantharaj on my system in "Windows Firewall with Advanced Security", under Inbound Rules, I have a Standard Rule ("File and Printer Sharing (SMB-In)") enabled for Public/Private profil

[2016-10-11 11:03] simonm3 commented on #141
There is no diagnostic id. Here is the screenshot

[image: Inline images 1]

On 11 October 2016 at 11:12, Rolf Neugebauer <notifications@github.com>
wrote:

[2016-10-11 11:04] simonm3 commented on #141
Oh it appears when submitted

EF1BAE87-F8CE-4F76-974D-8C9A15763FBD/2016-10-11_12-03-40

On 11 October 2016 at 12:03, simon mackenzie <simonm3@gmail.com> wrote:

[2016-10-11 11:16] jayfresh commented on #132
OK, that works! Great, thanks for the support. I'll look out for updates where it stops being necessary to use a local admin account

[2016-10-11 11:22] iamffz opened #142 "Unable to start: The VM couldn't get an IP address after 60 tries"
[18:19:19.654][Notifications  ][Info   ] Docker is restarting...
[18:19:19.696][NamedPipeClient][Info   ] Sending Stop()...
[18:19:19.853][NamedPipeServer][Info   ] Stop()
[18:19:20.095][HyperV         ][Info   ] Stop
[18:19:20.268][PowerShell     ][Info   ] Run script with parameters: -Stop True...
[18:19:23.155][HyperV         ][Info   ] Stopping VM MobyLinuxVM...
[18:19:29.019][HyperV         ]

[2016-10-11 11:51] clns commented on #140
I quit the app and tested:

[code]

Then started Docker for Windows and tested again. Same exception as in the original comment.

New Diagnostic ID: D5D7C5E8-58B0-4E45-A45D-DFED839BEFB1/2016-10-11_14-50-44

[2016-10-11 12:22] rneugeba commented on #140
Thanks for the quick reply. Which shell are you when you invoke the `docker` command and could you try running `C:\Program Files\Docker\Docker\Resources\bin\docker version`, ie with the full path where the docker CLI is installed?

Thanks

[2016-10-11 12:24] clns commented on #140
I'm in PowerShell:

[code]

[2016-10-11 12:25] clns commented on #140
I've been using docker the same way for a while (since the first beta invitations went out) and didn't have any problems. It's true lately (in the past month) I didn't use it much, if at all, and docker kept updating all this time, of course. And now I can't seem to make it work, no matter what I do.

[2016-10-11 13:28] survivant commented on #138
thanks @simonferquel for the explanation.  Can you help me clarify what as to be done on my side ?  I saw the problem often in few forums but never a complete working solution.

here my setup :  windows 10 with the latest docker using hyper-v.

I want to share a folder on my windows be to able to exchange files/dump with mongodb.

using the command line :  docker run -v c:/temp:/data/db mongo
will

[2016-10-11 14:21] jayfresh commented on #132
Sadly, I spoke too soon. Whilst I can run a command like `docker run --rm -v c:/Users:/data <image> ls /data`, I can't run a command like `docker run --rm -v c:/Users/<Azure account>:/data <image> ls /data` - I get a `Permission denied` error. However, I can run `docker run --rm -v c:/Users/<admin account>:/data <image> ls /data`.

I verified I can't access other account folders in `c:/Users`. I'v

[2016-10-11 15:44] tagplus5 commented on #54
@spirodonfl you can use Ubuntu on Hyper-V instead MobyLinuxVM or you just connect over ssh?

[2016-10-11 15:50] spirodonfl commented on #54
@tagplus5 Ubuntu on Hyper-V.

[2016-10-11 16:27] stfgit commented on #138
You can succeed by running :
docker run -p 27017:27017 -v /**_userlogin_**/_dockerVolMongo_/db:/data/db mongo

Assuming you shared succesfully C drive in docker settings (using **_userlogin_** credentials) :

![image](https://cloud.githubusercontent.com/assets/6339425/19278601/2c992b68-8fde-11e6-8026-b1e243c57389.png)

The windows host directory will be located at:
C:\Users\\**_userlogin_**\\_dock

[2016-10-11 16:36] masaeedu commented on #94
@dgageot Are you sure this is the case? What API are you using to share drives? Since an elevated Hyper-V management console is able to share drives with a stopped machine without explicitly asking for a password, and all functionaliy for the management console is exposed through Powershell, I am fairly confident it should be possible to do this without prompting for a password. Of course I haven'

[2016-10-11 16:42] dgageot commented on #94
@masaeedu it's a cifs mount from a Linux VM. Something that knows nothing about uacs

[2016-10-11 16:47] masaeedu commented on #94
@dgageot In that case, given an elevated process, you can set access for any host volume folders to Everyone and create the appropriate CIFS mount without a password. As a bonus you wouldn't have to share the whole drive.

[2016-10-11 20:12] survivant commented on #138
@stfgit  if I use that command it works.. but it produce the same results at creating a volume with : docker create volume...

if I try that : docker run -p 27017:27017 -v c/Users/Sebastien/mongovol/db:/data/db mongo
c:\>docker run -p 27017:27017 -v c/Users/Sebastien/mongovol/db:/data/db mongo
docker: Error response from daemon: create c/Users/Sebastien/mongovol/db: "c/Users/Sebastien/mongovol/db"

[2016-10-11 22:03] ShahidB opened #143 "Windows 10 Education error: fatal: could not create work tree dir 'stat-nlp-book'.: Permission denied"
Hi all,

I have a fresh install of Win10 Edu and am attempting to clone a respository. I have an admin account and run Windows Powershell with admin rights too. Docker is fired up with admin rights and I've set the C drive to be shared (plus restarted the PC to be sure). When I type the following command I get an error:

[code]

I know this is to do with permissions, but as far as I can tell I sho

[2016-10-12 08:12] JimmyHannon commented on #114
Thanks @vshantharaj. After figuring out how to add this custom rule on my firewall (ESET Smart Security) it worked.

[2016-10-12 14:17] clns commented on #140
Anyone experiencing the same issue?

[2016-10-12 14:33] rneugeba commented on #142
@iamffz: thanks for your report. Could you provide a diagnostics ID? it should be printed as part of the erro dialogue and should be of the form `<UUID>/<date>`. It allows us to take a closer look at what is happening.
thanks

[2016-10-12 14:37] rneugeba commented on #140
@clns I have never seen this issue and I haven't seen it reported elsewhere, so this is kinda odd.

Could you completely un-install the Docker for Windows app and download a new installer from https://download.docker.com/win/beta/InstallDocker.msi

It could be that some of the upgrades from earlier betas did not work as cleanly as they should have...

thanks

[2016-10-12 14:38] lusitania commented on #135
* yes, the user is *not* the built-in user Guest (which is blocked) but a custom user added to Guests
* yes, the Guests group is added to Security Settings\Local Policies\User Rights Assignments\Deny log on locally
* other than those changes mentioned above Groups has its default configuration. however, i don't know of potential transitiv effects (some settings applying to something which influenc

[2016-10-12 15:58] clns commented on #140
@rneugeba I just tried that, no changes.

I tried playing with `dockerd`. First I stopped the **Docker for Windows Service** in Services and then ran this in PowerShell (as Administrator):

[code]

I can see an error at the top, not sure if that matters or not. I also checked Event Viewer, no logs there. Is there anything else I can do?

[2016-10-12 16:59] rneugeba commented on #54
Thanks for all the updates and apologies in lack of updates (I was travelling last week). I went through the new reports and here is a quick summary:

- @david-billings great that the factory reset worked for you. Having looked at your diag, it was a different issue. The Linux VM booted fine, but for some reason a daemon inside the VM died.
- @mpspenna you are also on 10586 and the daemon also is

[2016-10-12 17:27] nostrebor opened #144 "Huge Amounts of Utilized Memory on Windows 10"
### Expected behavior
When I docker-compose down, containers should have their resources freed.

### Actual behavior
After removing and killing containers, their RAM is still utilized, and not visible in Windows Task Manager.

### Information

  - Diagnostic ID: 8784047B-D986-4DFE-847B-921694A3CEF6/2016-10-12_10-22-32
  - Running an ELK stack that is utilizing ~20gb of RAM when active.

### Steps

[2016-10-12 18:04] spirodonfl commented on #54
@rneugeba just emailed you

[2016-10-12 19:58] mparrett commented on #54
@rneugeba Here you go. 3B202DED-A6CA-4F10-9F6C-BD0C5BD618D1/2016-10-12_12-53-21

By the way, the 60 -> 300 retry workaround mentioned in this thread does get it going. (And apparently my VirtualBox and Windows Update hunches didn't have anything to do with it starting to work for me.)

[2016-10-12 20:13] tagplus5 commented on #54
`D8883BB8-83DC-4C84-BEB7-5418E2AF50CC/2016-10-12_23-12-52`

[2016-10-12 20:17] rneugeba commented on #54
@spirodonfl *Many* thanks for providing access to your system.

First, I verified that you have the same issue as I witnessed on @ecamaj's system. There, I saw that the boot of the Linux kernel hangs here:
[code]
The "good" news is that it hangs on your system as well on the same line. So it's the same issue. This is the Hyper-V specific Linux storage driver talking to the host to enumerate the st

[2016-10-12 20:18] spirodonfl commented on #54
Cool! Glad it helped!!! :) Thanks for the update @rneugeba

[2016-10-12 20:41] rneugeba commented on #54
@tagplus5 thanks for the ID. Unfortunately you seem to have the same issue as other are seeing. See my latest update.

@mparrett thanks for the ID. It is odd that it takes so long but I can't see anything obviously wrong.  the next Beta28 (hopefully out later this week) will have some additional debugging enabled which may shed some light on your and @gitwhistle issue. I'd be interested in getting

[2016-10-12 22:50] survivant commented on #138
I try with symbolic link but I got a new error

c:\test>mklink /d mongozzz c:\test\xyz

C:\test>docker run -p 27017:27017 -v c:/test/mongozzz:/data/db mongo
docker: Error response from daemon: mkdir /c/test/mongozzz: file exists.

[2016-10-13 04:29] davidshq opened #145 "docker-compose.exe and docker-machine.exe do not exist."
### Expected behavior

docker-compose and docker-machine to exist.

### Actual behavior
docker-compose and docker-machine don't seem to exist.

### Information

  - Diagnostic ID: 741DEED0-67F4-4993-A5C2-82E18E346788/2016-10-13_00-24-16
  - Windows 10 Version 1607 OS Build 14393.321

### Steps to reproduce the behavior

  1. Downloaded InstallDocker.msi
  2. Ran InstallDocker.msi
  3. Check c:\pro

[2016-10-13 10:11] iamffz commented on #142
diagnostic id : 5D6A3F06-7427-4449-9C56-129893A7B8E6/2559-10-13_10-42-54

[2016-10-13 10:29] rneugeba commented on #142
@iamffz thanks for the report. Unfortunately, from looking at the logs, you have the same issue as others users seem to experience. This is tracked under #54. I'll close this as a duplicate and add your details to #54

[2016-10-13 10:29] #142 closed

[2016-10-13 10:31] rneugeba commented on #54
On https://github.com/docker/for-win/issues/142 @iamffz reported the same issue. Diag ID: 5D6A3F06-7427-4449-9C56-129893A7B8E6/2559-10-13_10-42-54 build number 14393.

[2016-10-13 10:32] david-billings commented on #54
Thanks @rneugeba - The support you're providing to me and others here is excellent.  👍

[2016-10-13 10:46] rneugeba commented on #145
the binaries should be in `C:\Program Files\Docker\Docker\resources\bin` and you PATH should be set accordingly. This will only work in new shells opened after installing Docker for Windows and only if you don't completely reset your PATH in your init files.

Could you check if the files are there?
thanks

[2016-10-13 11:58] clns commented on #140
Some more info on this. Apparently this is a Windows - Go issue, and it's actually reported in a few places like https://github.com/syncthing/syncthing/issues/3432 https://github.com/golang/go/issues/13541.

I think this is related to `kernel32.dll`, and the problem is originating in [Microsoft/go-winio:zsyscall.go#L88](https://github.com/Microsoft/go-winio/blob/f1a78c8/zsyscall.go#L88)

I encount

[2016-10-13 16:40] brendamkt commented on #54
I can't confirm the same issue.

[code]
Has anyone found a work around?

[2016-10-13 16:42] rneugeba commented on #54
@brendamkt could you supply a diagnostics ID? if you do I can tell you if you have the same kernel hang or not. if you have the kernel hang, i'm working on a fix...

[2016-10-13 16:44] brendamkt commented on #54
376EC945-7724-4ED8-8819-B9295D96D2BD/2016-10-13_10-30-28

[2016-10-13 17:17] l8nite commented on #43
@dgageot This is still failing here on latest beta version. I am connected to VPN in both of the below examples.

When running ping outside of a docker container, everything works as expected:

[code]

Inside the container this time, I get a DNS resolution (but to IPv6) that I can't route to. And internal DNS names are not resolved

[code]

New Diagnostic ID here: 65D06FF4-BA21-452C-9BC6-466F91C0C

[2016-10-13 17:54] kukjevov commented on #54
FB5CEB8E-709F-4A8F-8F18-DE39D01B068D/2016-10-13_19-51-38

[2016-10-13 18:56] gitwhistle commented on #54
@rneugeba Sorry for the delay I've been traveling.  I set the conditional back to 60 and it started fine when I restarted the machine.  Let me know if you want more information from me.

[2016-10-13 19:15] danbeaulieu commented on #74
This doesn't appear to be fixed on
[code]

Current crash report 816C0048-9BC7-4861-9DF8-0BEC0FEDE44F/2016-10-13_15-11-07

[2016-10-13 19:20] douglaswaights commented on #124
Having not been able to update a running windows server core container, i've been waiting for the GA release of Windows Server 2016 and the associated server core Docker image on Docker Hub to try and see if the 'net use' problem has  been resolved for Windows 10 anniversary edition.

Unfortunately the problem still remains (after  yesterdays release and new image tag) meaning 'net use' still retu

[2016-10-13 19:49] jhowardmsft commented on #124
I think you might be running up against a known issue being tracked internally and is currently a candidate for a future servicing update.

It's specific to Hyper-V containers (as opposed to a Windows Server container where `net use` works fine, although you have to be running Windows Server 2016 rather than client Windows 10 to support Windows server containers), and also specific to the windowss

[2016-10-13 20:00] douglaswaights commented on #124
@jhowardmsft OK good to know its being tracked and hopefully not too far away :-). Thanks for the update!

[2016-10-13 20:24] jhowardmsft commented on #124
Here's a workaround :smile:

[code]

[2016-10-13 22:14] douglaswaights commented on #124
@jhowardmsft Thanks! This got me a bit further.

Doing the work around i can type ´net use´and it lists 0 connections rather than errors. If i then do net use * \\dwp3\git (which is a share on my local laptop) i can map the drive.... as i´m able to on nano server.

However it still wont let me map network shares (i guess you expected this) which is the objective.

Another related? observation... (

[2016-10-13 23:49] Irieish commented on #54
Quick snapshot/results after installing the latest beta 28 (7813). Same error.

6F013C72-7104-4907-BC8B-D7F1D42EE211/2016-10-13_16-40-36

Unable to start: The VM couldn't get an IP address after 60 tries
at Fatal, <No file>: line 328
at Start-MobyLinuxVM, <No file>: line 242
at <ScriptBlock>, <No file>: line 338
   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Do

[2016-10-14 00:04] Irieish commented on #54
And same results if I switch to Windows Containers. Docker starts, but...

[Docker-Windows Containers 101316.txt](https://github.com/docker/for-win/files/528414/Docker-Windows.Containers.101316.txt)

[2016-10-14 05:48] StefanScherer commented on #90
There is a test script from Microsoft to check the system and get some more details.

[code]

(It's like the check-config.sh script on Linux, and I like this idea).

The script explicitly checks that Windows 10 build should not be 14936.

[2016-10-14 07:27] StefanScherer commented on #90
This might help, got this from a Slack channel:

I managed to get it to work by deleting my NAT and nat'ed vSwitch, and then re-install.

( re-created the NAT vswitch following this: https://msdn.microsoft.com/en-us/virtualization/hyperv_on_windows/user_guide/setup_nat_network the "Multiple Applications using the same NAT")

[2016-10-14 12:20] rneugeba commented on #144
@nostrebor thanks for reporting the issue.

You seem to have set the memory for the VM to 20GB. We currently do not configure dynamic memory for the VM because that may cause other issues, like, for example, intermittent failures when your containers require more memory, but there is non available on the host.

So, since you configured Docker for Windows to use 20G of memory, this is expected beha

[2016-10-14 12:20] #144 closed

[2016-10-14 12:38] rneugeba commented on #140
Hi @clns this does indeed look like a golang/windows issue, and there seems little we can do at our end. It's the first time I'm seeing this and you, unfortunately, seem to be the only user (sofar) reporting it.

I'm closing this issue here as it seem unrelated to Docker for Windows (and we can't reproduce it). May I suggest to raise an issue on https://github.com/Microsoft/go-winio/issues as thos

[2016-10-14 12:38] #140 closed

[2016-10-14 12:40] justincormack commented on #140
@clns can you also open an issue on https://github.com/docker/docker/issues as it looks like we need to address this there too.

[2016-10-14 13:50] billhab opened #146 "Java API - Executing a program from within a shell script fails on Windows 10"
### Expected behavior
Program invoked from a shell script executes properly

### Actual behavior
Program invoked within a shell script works with CLI
Program invoked within a shell script fails when invoked using Java API CreateContainer/StartContainer.

Inconsistent behavior.  Either case works fine if docker is running under Linux but fails under Windows 10.  When it fails the return code is 1 o

[2016-10-14 15:18] friism commented on #146
That sounds very strange...

Are you sure the Java program using `.cmd(script)` manages to successfully create the container? If so, it'll be visible (even after exiting) with `docker ps -a`. If you find your container in that ps output, you can get the logs (even though it's stopped) with `docker logs <container-id>`

[2016-10-14 15:42] #145 closed

[2016-10-14 16:30] billhab commented on #146
friism
Using docker logs was a good tip.  I checked and had a permission error because the user was not permissioned to run the script.  So I changed the program to use root and re-ran it.  This time the return code was 127.  Looking at the logs again it complained that the java JDK folder didn't exist even though it appears as a mounted volume when I inspect the container.  When I run the same sc

[2016-10-14 16:36] friism commented on #146
Thanks for following up.

You can use `docker inspect <stopped-container-id>` to see mounts.

Closing this for now since I don't think it's a Docker for Windows issue, feel free to re-open.

[2016-10-14 16:36] #146 closed

[2016-10-14 16:44] billhab commented on #146
Problem is how the host path is defined in the Java API.  If you don't specify a drive letter for Windows docker the mount fails silently.  As a Windows user I would expect Docker to honor the current drive (which it doesn't).  A nice 'gotcha'.  The CLI -v option is very specific so the mount happens correctly.  Unfortunately docker is not consistent so I have to include OS testing so the same cod

[2016-10-14 16:57] friism commented on #146
@billhab can you provide more details on the inconsistency, perhaps with an example?

[2016-10-14 18:52] srinathanand commented on #74
Same problem on Windows 10 Version 1607 (OS Build 14393.321).

Docker version returns - docker --version
Docker version 1.12.1, build 23cf638

Hyper-V is enabled with a pop-up that came up when installing Docker and on restart this is the error -

[code]
Crash report diagnostic id - 41EAEBF4-5972-49F7-9CDB-36E06570325D/2016-10-14_14-29-22

[2016-10-14 19:00] AndyBerman commented on #74
Upgrading to the Beta Channel Version 1.12.2-beta28 (7813) resolved this problem for me.

[2016-10-14 19:05] vpalacio commented on #54
just responding, unfortunately, I have tried other solutions with no success.

Thanks all for keeping on top of this.

[2016-10-14 19:32] srinathanand commented on #74
Thanks @AndyBerman. I'll try that and post my results.

[2016-10-14 19:40] srinathanand commented on #74
@AndyBerman -I downloaded the Beta installer and ran it but I am still seeing the same problem. Here is my Docker version -
docker --version
Docker version 1.12.2, build bb80604, experimental

[2016-10-14 20:57] Talonon commented on #113
I was having the same issue with stable, updating to Beta28 fixed the issue.

[2016-10-14 21:18] briwilcox opened #147 "Unable to create...The computer '...' could not be resolved"
### Expected behavior

Docker daemon with Hyper-V starts at startup
### Actual behavior

Docker fails to start
### Information

A diagnostic was uploaded with id: EA9197C6-EA7F-4D1B-B97A-9C7C8602B5FF/2016-10-14_14-15-00

Below I've replaced my actual computer name with (computer-name)

[14:07:10.373][Program        ][Info   ] Version: 1.12.1-stable
[14:07:10.457][Program        ][Info   ] Starting

[2016-10-15 09:41] fordprefect-001 commented on #54
Just updated the version of Windows 10 pro on my system to 14931 (current preview release in the slow ring) and beta-28 is now working correctly.

[2016-10-16 07:52] rs38 commented on #90
[-> deep link](https://msdn.microsoft.com/en-us/virtualization/hyperv_on_windows/user_guide/setup_nat_network#multiple-applications-using-the-same-nat)
which slack channel are you referring?

[2016-10-16 08:40] rs38 commented on #113
I could workaround very similar errors with either trying to define DOCKER_HOST as TCP "127.0.0.1:2375" instead of pipe.
also you may try to clean the Windows NAT devices with `get-netnat | remove-netnat` when reinstalling Docker for Win.  check this [link](https://msdn.microsoft.com/en-us/virtualization/hyperv_on_windows/user_guide/setup_nat_network#troubleshooting)

[2016-10-16 12:35] joshuaavalon commented on #147
Yes, I am facing the same problem. It works the time when I install it  several weeks ago. Today I want to start learning about Docker and I get the same error.

[2016-10-16 16:16] heaths opened #148 "Unable to edit command line"
### Expected behavior

Using the left arrow should allow me to edit the command line.

### Actual behavior

Left arrow acts like backspace. This is a regression from a couple beta builds ago.

### Information

* Windows 10 Anniversary Update, 10.014393.321
* Using Windows Containers with microsoft/windowsservercore:latest
* Diagnostics ID: 46038B3F-DEDA-4C40-9668-9A6DE7D46E18/2016-10-16_09-14-19

[2016-10-16 16:48] rneugeba commented on #148
Thanks for reporting. I can't reproduce this. I can start a interactive container like `docker run -ti --rm alpine:latest /bin/sh` and command line editing works as expected. I'm using powershell to start the container.

Could you provide more details, like which shell you are using etc

[2016-10-17 01:45] saturnjct commented on #54
Just tried the beta.

A diagnostic was uploaded with id: C7F8D9C9-7B1E-47C8-87C6-DAA4ED986B8E/2016-10-16_22-44-27

[2016-10-17 06:50] simonferquel commented on #132
Try to add read access directly to your local user on the folder you want to mount. I think that for security reasons, rights on the administrators group are ignored if you are not in an elevated context (which is not possible remotely)

[2016-10-17 07:51] DmitryEfimenko commented on #54
same in beta.

Diagnostic ID: BA8C3637-E962-4F1D-BEAD-558251A15F1F/2016-10-17_00-47-26

[2016-10-17 08:08] chrisella commented on #74
I've also installed the latest Beta version (1.12.2-beta28 (7813)) and am having the same issue persist with the failure to write to the database.
:(

[2016-10-17 08:15] cdelfierro commented on #54
Same issue. Tried reinstalling Docker (beta & stable), factory defaults, etc. Still getting the error
[code]

Diagnostic ID: F8A8CC53-1F71-452D-8AD8-206BE931E9E0/2016-10-17_05-08-14

[2016-10-17 08:15] simonferquel commented on #138
Hmm I was thinking the other way around (mounting a Linux volume, into /data/db, a windows volume in /mongologs, and making a symlink in a docker file from the log folder in /data/db to the windows volume). In any case, data files can't be stored directly in the Windows volume.

But what I did instead, was creating a dockerfile based on the mongo image, declare a new volume /data/logs and add para

[2016-10-17 08:18] simonferquel commented on #138
Here is the dockerfile:
[code]
I built the image with `docker build -t mymongo .`
and run it with `docker run -d --name mongo -v C:\mongologs:/data/logs mymongo`

Now I can user `docker start|stop mongo` to start or stop my server

[2016-10-17 08:20] simonferquel commented on #138
If you want to be able to directly copy your data directory to another machine (without mongodump), you can create a named volume that you mount in /mongo/db, and while your mongo container is stopped, mount the same named volume in a separate container and copy it to a windows mounted volume.

On the target machine, you just do the exact opposite.

[2016-10-17 08:21] simonferquel commented on #135
Can you try the latest beta ? It should just work for your scenario now :)

[2016-10-17 09:30] lusitania commented on #135
Indeed, it does. Thanks

[2016-10-17 09:30] #135 closed

[2016-10-17 11:22] enricosada commented on #90
Same for me like @StefanScherer

I just used https://msdn.microsoft.com/en-us/virtualization/hyperv_on_windows/user_guide/setup_nat_network the "Multiple Applications using the same NAT", no need for reinstall

Also i **didnt** do step 2, the remove of containernerwork ( `Get-ContainerNetwork | Remove-ContainerNetwork -force` ), so just recreated nat and dockernat and restarted the service

[2016-10-17 12:27] srinathanand commented on #74
@chrisella - where did you get the 1.12.2-beta28 (7813) from ?

[2016-10-17 12:28] survivant commented on #138
thanks @simonferquel for the workaround.  I'll try the dockerfile solution.  I was just hopping that could be solved internally with docker/mongo with buildin support.

One thing that I didn't try.  could it works if we mount a SMB drive in Win10 and use it as volume for mongodb ?

[2016-10-17 12:29] chrisella commented on #74
Downloaded the BETA channel here : [https://docs.docker.com/docker-for-windows/](https://docs.docker.com/docker-for-windows/)

[2016-10-17 13:39] simonferquel commented on #138
That is exactly what the "Drive sharing" feature does, and unfortunately, Linux SMB support is not rich enough to support MongoDB. Another solution is to work with windows containers instead of Linux (which requires windows 10 anniversary update) and use a flavor of mongo working on Windows like mongo:windowsservercore. But we do not support (yet!) networking between Windows and Linux containers

[2016-10-17 13:53] srinathanand commented on #74
@chrisella - Thanks I downloaded the same version. When you say restart do you mean a Windows restart or Docker for Windows restart ?

[2016-10-17 13:55] crutchfield commented on #74
I just downloaded and installed beta and the issue is resolved.

Client:
 Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:        Tue Oct 11 05:27:08 2016
 OS/Arch:      windows/amd64
 Experimental: true

Server:
 Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:        Tue Oct 11 05:27:08 2016
 OS/Arch:

[2016-10-17 14:10] chrisella commented on #74
@srinathanand I restarted windows ... which obviously also restarts Docker :) though I didn't do that directly.
I hope you have some luck, since installing that Beta I've gone all day so far and not had any issues

[2016-10-17 14:24] srinathanand commented on #74
@chrisella - Restarted both docker and windows with no luck so far. It takes a lot of time trying to start up but fails with the same message every time.

@friism - Do you know what else I can try to fix this problem ? I am on the latest beta (1.12.2-beta28(7813)).

My latest crash report id is -
24C0616A-C2A9-476B-8F52-DF26B11C72F5/2016-10-17_10-00-29

[2016-10-17 14:37] srinathanand commented on #74
Here is my Windows version information -

OS Name	Microsoft Windows 10 Enterprise
Version	10.0.14393 Build 14393

[2016-10-17 14:54] billhab opened #149 "Sharing a volume with multiple containers not working"
### Expected behavior
Container A and Container B, running at the same time, share the same Java home volume.

### Actual behavior
Container A mounts the volume successfully and Java home can be used.
Container B mounts the volume but access to Java home results in directory not found.

### Information
   - Docker Beta 27
   - host distribution and version (Windows version, build number, etc)

[2016-10-17 15:32] srinathanand commented on #74
UPDATE: Looking back at @cgatian comments I tried to find out if Virtualization was enabled or not for my CPU. I am running a Intel Xeon CPU E5645 @ 2.40 GHz. I downloaded a program called SecurAble and found out that Hardware Virtualization is a No for my CPU and I don't see a Virtualization label when I run Task Manager as shown in the screenshot by cgatian.

I am assuming this is the cause for

[2016-10-17 15:43] simonferquel commented on #149
Hi,
Could you provide a list of command lines for the repro ?

[2016-10-17 15:49] tommiehansen opened #150 "Poor performance"
### Expected behavior

Should be at least as fast as running vmware
### Actual behavior

It's 90% slower
### Information

When performing a base CodeIgniter benchmark i get around 3000 REQ/s (Apache Bench) in vmware but Docker seems to have some sort of rate limit or be seriously bogged down by something. No matter what image i try it's always at its best around 80 REQ/s. It also doesn't seem to m

[2016-10-17 16:15] heaths commented on #148
As noted, I was using Windows containers with "microsoft/windowsservercore:latest". The default shell is "cmd.exe", which is what I was using. But even if I switch to "powershell.exe" this happens (it's still based on "conhost", so that's not surprising).

[2016-10-17 16:24] rneugeba commented on #148
ah, sorry, I missed that. Thanks for the reply

[2016-10-17 16:46] friism commented on #74
@srinathanand yeah, it wouldn't work without that

[2016-10-17 16:46] simonferquel commented on #143
Is Bango the user whose credentials you put in the "Share drive" Settings ?
What is the output of `docker run --rm -v c:/Users:/data alpine ls /data` ?

[2016-10-17 17:02] srinathanand commented on #74
Thanks @friism for confirming. Should this be added as a pre-requisite for the Docker for Windows installation ? Just checking the Task Manager should help people if they should use Docker for Windows or the Docker Toolbox.

Current "Getting Started" says this -
[code]

[2016-10-17 17:10] billhab commented on #149
This was all done in Java code.  I changed the code to minimize the mounts and it started working.  Is there a limit to the number of mounts per container or a limit on the total number?

[2016-10-17 18:37] friism commented on #148
@heaths hm, I can't reproduce - what's your `docker version`?

![working-navigation](https://cloud.githubusercontent.com/assets/126104/19450391/10e57b0e-945e-11e6-85cf-940e8743404c.gif)

[2016-10-17 18:39] friism commented on #131
@artisticcheese @fegonfe The latest beta ships with 1.12-cs2 which has a fix for this. Please upgrade, and feel free to re-open if you find that the problem is not solved.

[2016-10-17 18:39] #131 closed

[2016-10-17 18:47] friism commented on #115
Closing this issue for now - with 1.12-cs2 (bundled in Docker for Windows beta28) shouldn't exhibit this problem (and is working on insider-build machine). Please re-open if you've upgraded both Windows 10 and Docker for Windows and am still seeing this problem.

[2016-10-17 18:47] #115 closed

[2016-10-17 19:02] friism commented on #90
@seals55 have you checked whether this works with the latest Docker for Windows beta and with your Windows 10 system fully patched?

[2016-10-17 19:08] friism commented on #150
@tommiehansen we're aware of some bottlenecks in the host-guest networking setup that powers the Linux development experience of Docker for Windows. My experience is that the current performance is acceptable for the development tasks that Docker for Windows is targeted at (having said that, we're working on removing the bottlenecks).

Outside of Apache Bench tests, have you found the current syst

[2016-10-17 19:16] friism commented on #74
@srinathanand I don't think VirtualBox will work without this either, but adding it to the prerequisites is a good idea.

@londoncalling this is where to find it

![image](https://cloud.githubusercontent.com/assets/126104/19451900/8af8f9f2-9463-11e6-92d4-40df5d1967d1.png)

[2016-10-17 19:18] friism commented on #149
@billhab no, I don't think there's a limit on the number of mounts.

If you have time, it'd be useful if you could provide a repro just using Docker commands. This will rule out issues with Java, and will help us debug.

[2016-10-17 19:29] jamescrowley opened #151 "Misleading error message when HyperV won't start under Bootcamp"
### Expected behavior

When Docker for Windows provides an error message, it should be relevant to the capabilities of the machine.

### Actual behavior

I receive a message stating "Hardware assisted virtualization and data execution protection must be enabled in the BIOS" when opening Docker for Windows on a bootcamp-ed Windows running on a MacBook Pro. MacBook's don't have BIOS and I can't enab

[2016-10-17 20:08] heaths commented on #148
[code]

[2016-10-17 20:22] friism commented on #148
@heaths and what's the command that you run where arrow navigation fails?

[2016-10-17 20:36] heaths commented on #148
Any command, really. For example:
[code]
When I use the left arrow to, say, edit "world" to "friism", it actually deletes characters. After characters are removed, using the right arrow does not restore them (so it's not seemingly just a drawing issue).

[2016-10-17 20:48] friism commented on #148
ah, I get it too when running `cmd`. Pinging @jhowardmsft to see he remembers what the situation is.

[2016-10-17 23:25] rneugeba commented on #148
this seems specific to `cmd` (tested with running docker both from `cmd` and `powershell`). with:
[code]
command line editing seems to work

[I'm on build 14931]

[2016-10-17 23:25] jhowardmsft commented on #148
The left arrow functionality is only expected to work interactively when using PowerShell and WindowsServerCore images. Using nanoserver or cmd won't work due to functionality currently in the platform.

[2016-10-17 23:26] friism commented on #148
Thanks @jhowardmsft , closing issue since this is a Windows limitation.

[2016-10-17 23:26] #148 closed

[2016-10-17 23:35] muellerkyle commented on #54
I'm also unable to start up Docker. HyperV image does not receive an IP Address.

Diagnostic ID: C33E60ED-3E7C-4850-A257-4FC546E00E81/2016-10-17_19-34-01

[2016-10-17 23:56] ShahidB commented on #143
Hi Simon,

Yes it is. I ran the code you suggested and an image wasn't found, this was subsequently downloaded and installed. Now when I re run that code nothing happens. Sorry I don't have the results to paste here, I restarted my PC after toggling the user settings again to see if anything changed. Still get the permissions error.

Thanks for helping out!

[2016-10-18 00:18] PatrickLang commented on #128
Sorry for the slow response here. @friism just pinged me again on this today and I got some more info

@douglaswaights - all of Microsoft's fixes will come down in a Windows Update package on the host machine, in an updated container image such as `microsoft/windowsservercore`, or both depending on the fix. You shouldn't need to run sconfig/wusa/other tools in the container to get a fix inside the

[2016-10-18 01:04] reypm commented on #125
@dgageot any advice? I can't share the drives from Windows to Docker. This information comes from log file:
[code]

[2016-10-18 01:18] reypm commented on #125
Here are the logs again, apparently it mount the drive and unmount it because of an error. Also I've notice that is trying to mount `C` drive when I only marked `D`?

[code]

[2016-10-18 01:33] blaggacao commented on #56
This hurts too much for beeing closed.

[2016-10-18 04:15] ManoMarks opened #152 "Trouble with docker save for Windows containers"
### Expected behavior

`docker save microsoft/nanoserver -o ns.tar` should create the `ns.tar` file
### Actual behavior

On Windows 10 pro, fully updated this is the result:

`PS C:\Users\Mano Marks\Code\images> docker save microsoft/nanoserver -o ns.tar
Error response from daemon: open C:\ProgramData\Docker\windowsfilter\f54e9f119ae2d95d2b15118c6d9fc251648ae030b78d7934a8a
6bfd8d31a350b\bcd.bak: T

[2016-10-18 06:00] russianlagman opened #153 "Shared volumes completely broken under Windows 10"
### Expected behavior
Trying to access volumes and get empty directories.

### Actual behavior
[code]
After docker restart:
[code]
### Information
  - Diagnostic ID BA87146F-843B-4AD9-A8F7-017C19CE805F/2016-10-18_12-48-03
[code]
In the logs I see something about the successful mounts:
[code]

[2016-10-18 07:24] rneugeba commented on #128
@PatrickLang thanks for the details

@douglaswaights I'm closing this issue, as I think your question is answer. Please re-open if this is not the case.

thanks for reporting

[2016-10-18 07:24] #128 closed

[2016-10-18 08:13] rneugeba commented on #153
Thanks for reporting.
Which version of Docker for Windows are you using (`About Docker...` menu). It looks like you might be on the stable channel. Could you try the latest Beta from https://download.docker.com/win/beta/InstallDocker.msi? we changed a few things regarding volume mounts which have not yet been rolled into the stable release. If anything they should provide better diagnostics.
Thank

[2016-10-18 08:30] dgageot commented on #151
Thanks @jamescrowley could you provide a diagnostic id?

[2016-10-18 08:32] simonferquel commented on #143
If you try to delete / recreate the share manually and then restart Docker for Windows (wihout resetting credentials), do you see a difference ?

[2016-10-18 08:37] simonferquel commented on #125
Can you check the "Turn on password protected sharing" setting in the
advanced sharing control panel and then reset your credentials / re-enable
the shared drive in Docker for Windows ?

On Tue, Oct 18, 2016 at 3:18 AM, ReynierPM <notifications@github.com> wrote:

--
Simon Ferquel - simon.ferquel@docker.com

[2016-10-18 08:39] dgageot commented on #81
@alvesman @nickalbrecht @krystan Can you confirm that this is fixed in latest Beta? (>=Beta28)

[2016-10-18 08:42] dgageot commented on #80
@randomxxxx Did you get the chance to test a more recent version? Given this is an old issue not reported by anyone else, I am inclined to close this issue in a couple of days unless there's more feedback. Thanks a lot for your help!

[2016-10-18 08:45] dgageot commented on #87
I'm going to close this issue. Thanks a lot for your help!

@chakrim99 Please create separate tickets for those other issues. That really helps us to have separate tickets for separate issues.

[2016-10-18 08:45] #87 closed

[2016-10-18 08:50] dgageot commented on #127
Hi @pihalve do you still have this issue? Which version of Docker for Windows are you using? Have you tried Beta28?

[2016-10-18 08:52] dgageot commented on #130
@DeltaWhy @jplonghi Could you please give a try to Docker for Windows Beta28 and tell us if you still see the issue?

[2016-10-18 08:53] dgageot commented on #120
@oparoz Could you please give a try to Docker for Windows Beta28 and tell us if you still have the issue?

[2016-10-18 08:57] dgageot commented on #141
Hi @simonm3 Could you try Docker for Windows Beta28 and tell us if you still have the issue?

[2016-10-18 08:59] dgageot commented on #98
@andythorne @wind-rider We added more fixed to Beta28. Could you try it?

[2016-10-18 09:58] pihalve commented on #127
Yes, I still have the issue. I've been using version 1.12.1-stable. And today I've followed your suggestion and installed Beta28. The issue remains. I remember reading in some forum about a guy who had the same problem, and his solution was to copy the NLog DLL to the GAC. However, I don't find that a real solution, but more of a workaround.

[2016-10-18 10:04] rneugeba commented on #114
@JimmyHannon thanks for reporting back

@Cuchulain any updates from your side?

We can't really fix this issue for any given firewall software, but should update the documentation accordingly.. Maybe we can also add a test to see if the required ports are open. @dgageot WDYT?

[2016-10-18 10:12] russianlagman commented on #153
@rneugeba 1.12.1-stable (build 7135) 995236d, tried reinstall with no success, trying beta now.

[2016-10-18 11:09] douglaswaights commented on #128
Thanks for the update!
Doug

[2016-10-18 11:28] simonm3 commented on #141
Unfortunately not. Different error though

Unable to start: The running command stopped because the preference
variable "ErrorActionPreference" or common parameter is set to Stop:
'MobyLinuxVM' failed to start.
at Start-MobyLinuxVM, <No file>: line 237
at <ScriptBlock>, <No file>: line 338
   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2
parameters)
   at Docker.Backend.ContainerE

[2016-10-18 11:44] reypm commented on #125
@simonferquel I have check the "Turn on password protected sharing" back to on and the from Shared Drives reset credentials, tried again and the result is the same. The UI gets freeze with a text saying "Updating drives" so I've check the logs and see what is happening:
[code]
Apparently the D drive was mount but then I've tried to build some images and start it's containers but it fails because D

[2016-10-18 12:01] ShahidB commented on #143
Hi Simon,

I've deleted the share but am unsure how to recreate it manually for the C drive. I've Googled and looked through settings in net share but haven't had any luck?

Thanks again for your help

[2016-10-18 12:05] simonferquel commented on #125
Can you please reset credentials and re-enable the shared drive, and then send a diagnostic ? the logs don't contain enough info for me to debug the issue.

[2016-10-18 12:09] simonferquel commented on #147
Can you upload a diagnostic so we can understand the state of your machine (Settings / Diagnose & Feedback / Upload a diagnostic) ?

[2016-10-18 12:15] simonferquel commented on #127
@pihalve Can you have a look to your GAC and see if some other application has put NLog in it ?

[2016-10-18 12:20] simonferquel commented on #143
You can do it using the UI :
- right click on your C drive and click properties
- go to the "Sharing"tab
- click on Advanced Sharing
- Check "Share this folder"
- Make sure the share name is "c"
- Click on permissions
- Remove "Everyone"
- Add your user and check the Allow Full Control checkbox
- Confirm it and you're done !

On Tue, Oct 18, 2016 at 2:01 PM, ShahidB <notifications@github.com> wrot

[2016-10-18 12:23] ShahidB commented on #143
The network path is set to C:\Shared for some reason, I'm going to undo this and try your instructions cheers!

[2016-10-18 12:29] reypm commented on #125
@simonferquel here is the logs:

[code]

BTW did you know any way to attach logs file to this issues? I've tried dragging & dropping but seems to be only for images

[2016-10-18 12:32] reypm commented on #125
Also I have  tried with C and E as well and didn't work either

[2016-10-18 12:36] tommiehansen commented on #150
@friism Thanks for the quick response, great that you're aware of some of the limitations.

Upon further inspection i instead tried runing against the IP that the VM `MobyLinuxVM` get assign via `DockerNAT`. Perfoming a benchmark against that IP increased the throughput around 350% for PHP and around 800% for a regular html file. It's still around 3-5x slower then regular VMWare + LAMP (or LEMP),

[2016-10-18 12:39] simonferquel commented on #125
By any chance, do you have a 3rd party firewall installed on your machine ?

[2016-10-18 12:40] reypm commented on #125
@simonferquel you mean something like ESET Smart Security? Yes, I have it. What should I disabled there in order to test? The firewall itself?

[2016-10-18 12:42] ShahidB commented on #143
Hi Simon,

Tried your suggestion, unfortunately no different. Permission is still denied.

Does uppercase/lowercase matter in the naming of C?

[2016-10-18 12:45] simonferquel commented on #143
It shouldn't.
By any chance do you have a 3rd party firewall ?

[2016-10-18 12:49] simonferquel commented on #125
You can run a quick test with the firewall deactivated yes. If it works, we'll figure out a network rule that doesn't block samba shares with the VM

[2016-10-18 12:51] pihalve commented on #127
I've checked, and NLog is in the .NET 4.0 GAC:
NLog, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5120e14c03d0593c, processorArchitecture=MSIL

When I list it with traced references, it just shows:
SCHEME: <WINDOWS_INSTALLER>  ID: <MSI>  DESCRIPTION : <Windows Installer>
So that doesn't seem to be of much help.

So I tried to uninstall Docker from Programs and Features. NLog is still in the GA

[2016-10-18 12:54] reypm commented on #125
@simonferquel that was the problem, now is running properly some rule were stopping the application to work as it should be. What can I do in order to discover the conflict rule?

[2016-10-18 12:56] ShahidB commented on #143
Hi Simon,

I do indeed, Kaspersky Internet Security, my earlier efforts involved checking the program allowed Docker and it did. I temporarily disable it and try again.

[2016-10-18 13:00] simonferquel commented on #127
It came with another app (we don't touche the GAC). Unfortunately NLog does
not keep their nuget / assembly versions in sync, and so if an app put its
version of NLog in the GAC, it pollutes every other app on the system.

Thanks for the report, we are tracking this issue internally now and will
produce a fix in an upcoming version.

In the mean time, as a workaround you can uninstall your current

[2016-10-18 13:03] ShahidB commented on #143
Hi Simon,

Turned off both Windows Defender and exited Kaspersky entirely - no joy.

[2016-10-18 13:04] pihalve commented on #127
Ok, thank you. I will give it a try.

[2016-10-18 13:12] simonferquel commented on #143
I suspect exiting Kaspersky does not turn off its firewall service (that runs even before a user session is active). Most of our issues with file sharing involve 3rd party Firewalls, so I'd like you to try to explicitly disable Kaspersky firewall (I have no idea how to do that though, I don't use this product).

In the mean time, could you send a diagnostic file (using the Diagnose & feedback tab)

[2016-10-18 13:15] simonferquel commented on #125
You have to create a rule that allows inbound TCP connection on port 445 on the interface with IP 10.75.0.1 (should be named vEthernet (DockerNAT))

[2016-10-18 13:18] simonferquel commented on #138
@survivant Are you ok if I close this issue ?

[2016-10-18 13:34] reypm commented on #125
@simonferquel qq before continue testing this: what's the proper way to mount the volumes in Windows?

I have tried the following:

[code]
- This cause the container exit with status 0

[code]
- This one ends with the following errors:
[code]

[code]
This last one ends with the following errors:
[code]

[2016-10-18 13:58] russianlagman commented on #153
@rneugeba okay, in the 1.12.2-beta28 (7813) b09fe3d drive sharing from the settings UI is also broken.
I enter valid credentials, but drive C doesn't go to the "shared state".

[code]

[2016-10-18 14:03] simonferquel commented on #153
By any chance, do you have a 3rd party firewall running ?

[2016-10-18 14:05] dgageot commented on #152
@friism Anything you are aware of?

[2016-10-18 14:07] dgageot commented on #147
Hi @briwilcox You might want to try the Beta channel instead of the stable one because it contains more recent fixes: https://docs.docker.com/docker-for-windows/

[2016-10-18 14:10] russianlagman commented on #153
@simonferquel I do, it is Avast Premier brandmauer. I've disabled it and now it's working fine!

[2016-10-18 14:17] reypm commented on #125
@simonferquel sorry for my ignorance but I am not sure how to deal with this problem. What do you mean with *your container entrypoint returned without any error*? Could you take a quick look to this [Dockerfile](https://github.com/reypm/php55-dev/blob/master/Dockerfile) and tell me what could be failing on Windows?

[2016-10-18 14:26] dgageot commented on #77
@billhab @protubero Thanks a lot for your feedback. I'm going to close this issue as a duplicate of https://github.com/docker/for-win/issues/114

[2016-10-18 14:26] friism commented on #150
@tommiehansen By default (when using `localhost`), the data path goes through a proxy that Docker for Windows runs. This is where the bottleneck is. One of the reasons we run this proxy is to make sure Docker for Windows works for users on VPN and when changing networks (which tends to cause problems with TCP/IP networking between host and guest VM). As mentioned, we're aware of the problem.

Out

[2016-10-18 14:30] dgageot commented on #25
Thank you all for your feedback. I'm going to close this issue as a duplicate of #114

The major remaining roadbock to sharing a drive is firewalls. All other issues (password escaping, domain names...) look like they have been fixed.

[2016-10-18 14:30] #25 closed

[2016-10-18 14:31] #77 closed

[2016-10-18 14:32] friism commented on #152
It's working on my machine, both WS2016 and Windows 10.

@ManoMarks what's `docker version`?

[2016-10-18 14:33] dgageot commented on #94
ping @simonferquel

[2016-10-18 14:36] dgageot commented on #125
@reypm Could you run this simple command to confirm that fire sharing works (or not):

[code]

[2016-10-18 14:39] dgageot commented on #136
@lusitania FWIW, you can already create a dedicated user that has access to only a sub-folder, not the whole C drive. Then you can use that user's pwd to share the drive in Docker for Windows UI

[2016-10-18 14:40] reypm commented on #125
@dgageot sure, here is the output:
[code]

[2016-10-18 14:43] dgageot commented on #125
@reypm Thanks a lot. It shows that file sharing works now. Could you create a new ticket with any new issue you might have? If it's a docker-compose issue, you might also want to take a look at [compose issues](https://github.com/docker/compose/issues)

[2016-10-18 14:43] reypm commented on #125
@simonferquel I have created a rule as you can see in the image below:

![2016-10-18_10-41-04](https://cloud.githubusercontent.com/assets/627886/19482598/90fe64b0-951f-11e6-92f4-60154ab288d4.png)

But still not working with the firewall enabled, the only way I could get it working is disabling the firewall, mounting the drive, enable the firewall, any ideas?

[2016-10-18 14:45] dgageot commented on #125
@reypm you might want to change the `Remote` to `any` or `10.75.0.2`

[2016-10-18 14:51] dgageot commented on #129
Hi @astau Could you give a try to Beta28. It contains better logs that would help us diagnose the issue if its still there.

[2016-10-18 14:54] tommiehansen commented on #150
@friism I see.

I instantely noticed it when i began benchmarking different stacks and configs for web servers. No matter what i tried it was obvious there was a cap/limit of sorts.

[2016-10-18 14:56] dgageot commented on #113
@rs38 @matsaleh13 Can you confirm that Beta28 fixes the issue?

[2016-10-18 15:00] reypm opened #154 "Container exit with code 0 in Windows host"
### Expected behavior
I am able to start a container successfully
### Actual behavior
Container exit with state 0
[code]
### Information

  - Diagnostic ID: 979AB768-7447-4296-B6E0-504D205FC9D1/2016-10-18_10-52-11
  - Docker, Docker Compose and Windows information:

[code]
### Steps to reproduce the behavior

  1. Clone the following repository [reypm/php55-dev](https://github.com/reypm/php55-dev)

[2016-10-18 15:14] reypm commented on #125
@dgageot that change doesn't make it to works but anyway is working now that's something I need to figure it out and if I can I will come back for help :p closing the issue now

[2016-10-18 15:14] #125 closed

[2016-10-18 15:24] DiJu519 commented on #114
@rneugeba  Sorry for the delay in getting back to you.

Attached is the output of the command, with VPN On

[output.txt](https://github.com/docker/for-win/files/536667/output.txt)

[2016-10-18 15:34] cfstras commented on #72
For me, resuming from hibernate leaves the docker clock at the same time it was hibernated at. Restarting docker fixes the timestamp, but also means restarting containers...

[2016-10-18 15:49] ManoMarks commented on #152
Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:        Tue Oct 11 05:27:08 201
 OS/Arch:      windows/amd64
 Experimental: true

Server:
 Version:      1.12.2-cs2-ws-beta
 API version:  1.25
 Go version:   go1.7.1
 Git commit:   050b611
 Built:        Tue Oct 11 02:35:40 201
 OS/Arch:      windows/amd64

I did try another Windows machine and it worked

[2016-10-18 17:16] ShahidB commented on #143
Hi Simon,

I booted up without Kaspersky firing, but Windows Defender working, and it all seems to work!

Thank you for your help, hopefully I can find a way to have both Kaspersky and Docker going, but until then, I know I can get to work.

Thanks again!

[2016-10-18 17:48] survivant commented on #138
yes.

[2016-10-18 17:48] #138 closed

[2016-10-18 19:15] sskorol opened #155 ""Unknown shorthand flag" error is displayed for chained commands"
### Expected behavior
Docker allows executing chained commands like `rm` with `ps` in `powershell`.
### Actual behavior
`unknown shorthand flag: 'a' in -aqf` error is displayed (see steps). If we remove `a` flag, the same error will point to `q` flag.
### Information

  - Diagnostic ID: 3B7C330D-8F81-4A02-8E61-95882CAAC6B3/2016-10-18_21-58-23
  - Host distribution and version (Windows 10 Pro):
[co

[2016-10-18 20:16] sskorol commented on #153
Just compared `stable` and `beta` versions. `Stable` displays empty share. And `beta` lists all subfolders and files. Will double check with `compose`, as in `stable` version I had issues with permissions (internal container's app couldn't write to mounted volume with `permission denied` error).

[2016-10-18 20:32] simonferquel commented on #94
Sharing a folder to "Everyone" without password protection expose a very
large hole in security (far larger than having the current encrypted
credential sharing). It is not gonna happen.
We might explore other possibilities in the future though.

On Tue, Oct 18, 2016 at 4:33 PM, David Gageot <notifications@github.com>
wrote:

--
Simon Ferquel - simon.ferquel@docker.com

[2016-10-18 20:35] simonferquel commented on #154
what is the entrypoint command of your container ? seems like everything is
fine, but the entry point is returning quickly without error (exit code 0
means "everthing is fine")

On Tue, Oct 18, 2016 at 5:00 PM, ReynierPM <notifications@github.com> wrote:

--
Simon Ferquel - simon.ferquel@docker.com

[2016-10-18 20:39] simonferquel commented on #143
Just create a rule allowing inbound connection to port 445 on ip 10.0.75.1 from remote address 10.0.75.2 and you should be alright

[2016-10-18 20:41] simonferquel commented on #153
You can create a rule allowing inbound connection on port 445 and IP address 10.0.75.1 from address 10.0.75.2 and you should be fine

[2016-10-18 20:49] masaeedu commented on #94
@simonferquel "Everyone" is just one possible principal you could share the folder with. Since you can create users, the access rights can be as expansive or restrictive as you want. The point I'm trying to convey is that the CIFS share does not need to be mounted under the user's principal, since this forces the user to have a password.

Since Win 10 does not recommend even having a password (I u

[2016-10-18 21:35] ShahidB commented on #143
Thanks Simon, I've added this packet rule. I'm not familiar with network protocols or virtualisation so may have balls this up. It doesn't appear to be working (I have to pause kaspersky to be able to access the git via my browser) but I have a friend who does know vm/networking who can help with this.

Either way, I'll be alright!

![untitled](https://cloud.githubusercontent.com/assets/22779938/1

[2016-10-18 21:49] ShahidB commented on #143
Update: Removed the remote port field so it was blank (realised my mistake), and it appears fully sorted. I.e. the firewall is letting Docker do it's thing. Thanks!

[2016-10-19 00:32] seals55 commented on #90
@friism no, all windows updates + docker 1.12.2-beta28 (7813) still failed.

I followed the steps @enricosada linked and now it works

[code]

So some kind of issue with older docker setup in hyper-v I guess?

[2016-10-19 00:39] reypm commented on #154
@simonferquel yes, was something related to my entrypoint I have fixed it by adding:
[code]
Thanks for your time, will close the issue now

[2016-10-19 00:39] #154 closed

[2016-10-19 01:02] vpalacio commented on #54
Still having issues after new upate:

B808095F-E4BA-4A3D-8AA7-C471FA8E658E/2016-10-18_20-58-50

[2016-10-19 03:18] iamffz commented on #54
@rneugeba I think that would be caused by the cpu amd.

sorry for my bad english.

[2016-10-19 10:16] simonferquel commented on #155
You have to note that "docker" here is not a Powershell commandlet but in executable.
To do what you want to achieve, you might want to write:
`(& docker ps -aqf "status=exited") | ForEach-Object { docker rm -vf $_ }`
The `(& <...>)` syntax capture the output of an executable to a powershell list of strings, so that we can "Foreach-Object" it.

[2016-10-19 10:16] #155 closed

[2016-10-19 10:31] #153 closed

[2016-10-19 10:33] simonferquel commented on #149
Seems to me the problem came from the Java code and not from Docker for Windows. I've marked the issue as "Will be closed" so if we don't receive more feedback on this, we'll close it in a few days

[2016-10-19 10:34] #143 closed

[2016-10-19 11:37] sskorol commented on #155
@simonferquel thanks for clarification!

[2016-10-19 12:26] donut87 opened #156 "Problem starting docker"
### docker should run ubuntu

### docker shows some mysterious error log

### Information

  - Diagnostic ID: A9ABE01C-504B-4B17-A4F0-1ED5A4EF1DF3/2016-10-19_14-24-33
  - Log:

Exception 0xc000001d 0x0 0x0 0x18000890c
PC=0x18000890c

syscall.Syscall(0x7ffad4c7dc40, 0x2, 0x270, 0x3, 0x0, 0x274, 0x0, 0x0)
        /usr/local/go/src/runtime/syscall_windows.go:163 +0x5c
github.com/Microsoft/go-winio.se

[2016-10-19 15:30] DeltaWhy commented on #130
That works and appears to handle the custom CA certificates correctly.

[2016-10-19 15:39] mauro-dellachiesa opened #157 "Docker volumes stop working unexpectedly"
### Expected behavior

Docker volumes continue to work, as long as the corresponding settings for Docker are not modified/updated.
### Actual behavior

Docker volumes stop working unexpectedly
### Information
- Diagnostic ID: 7EBFAC4B-2E44-489E-8838-9F0B9CC9F88E/2016-10-19_11-46-54
- page URL if this is a docs issue or the name of a man page
- Windows 10 Pro 1607, 14393.321
### Steps to reproduce

[2016-10-19 17:01] rneugeba commented on #156
Thanks for reporting. This issue was reported by a different user a couple of days ago as: https://github.com/docker/for-win/issues/140

this appears to be a upstream issue which is tracked in these two issues:
https://github.com/docker/docker/issues/27423
https://github.com/Microsoft/go-winio/issues/34
so I'm closing this in favour of the upstream issues.

[2016-10-19 17:01] #156 closed

[2016-10-19 17:02] rneugeba commented on #156
@donut87 you may want to add your details to the issues I referenced.

[2016-10-19 17:59] donut87 commented on #156
I will do that. Thank you for the quick response.

On 19 Oct 2016 7:02 p.m., "Rolf Neugebauer" <notifications@github.com>
wrote:

[2016-10-19 18:18] LarryEitel commented on #54
@iamffz Can you please tell us why you suspect the issue to be AMD processor? The machine I am encountering this problem IS running an AMD processor.

Is it a fact that NO ONE is able to run Windows Docker if they run on a AMD processor?

[2016-10-19 18:47] rneugeba commented on #54
I don't think this is an AMD issue.

It looks like a race condition between the Linux kernel code and Hyper-V host code during storage device probing.  We started testing an updated Linux kernel and hopefully will ship it soon (unfortunately, this is a major change which not only affects Docker for Windows so we need to test it thoroughly).

The latest Beta28 added some additional logging and if y

[2016-10-19 19:43] muellerkyle commented on #54
Not that I have any technical proof of the issue being AMD related. But, for the record and for the sake of providing information, I also am running on an AMD processor and am experiencing this issue.

[2016-10-19 19:52] saturnjct commented on #54
My system also has an AMD processor. Does anyone with an Intel processor experience this issue?

[2016-10-19 19:58] Velok commented on #54
I have a Intel i7-4770 and also this issue. Aswell as some others here. It's not CPU related.

[2016-10-19 20:01] sskorol commented on #157
Noticed something similar with beta. After rebooting, shared volumes stopped working. I've been playing with `net share` and `resetting creds` to make it work again.

[2016-10-19 20:02] jplonghi commented on #130
@dgageot  didn't work for me, this is the crash report id:
7107CCD3-6829-42E3-BCC5-27BE9B671686/2016-10-19_13-58-01

[2016-10-19 20:23] oparoz commented on #120
I've just tried and no luck. It took 20 minutes to open the ports.

[code]

[2016-10-19 21:45] LarryEitel commented on #54
@rneugeba Do you have any kind of guesstimate as to when we might see an updated Linux kernel? Days, weeks, month(s)? Thank you for any thoughts.

[2016-10-19 21:52] rneugeba commented on #54
We hopefully have a Beta with a fix within a couple of weeks and and may have an interim fix before.

[2016-10-19 22:43] LarryEitel commented on #54
@rneugeba Thank you :)

[2016-10-19 22:49] briwilcox commented on #147
@simonferquel A diagnostic was uploaded with id: EA9197C6-EA7F-4D1B-B97A-9C7C8602B5FF/2016-10-14_14-15-00

[2016-10-19 23:02] briwilcox commented on #147
@dgageot I tried docker beta. Fails to start for a different reason:

Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: The computer '024156360653' could not be resolved. Make sure you typed the machine name correctly and that you have network access.
at New-Switch, <No file>: line 123
at <ScriptBlock>, <No fil

[2016-10-20 03:40] iamffz commented on #54
@LarryEitel because i only one have an AMD processor. Others people in my team have an Intel processor and their run normally.

Thank you

[2016-10-20 04:00] Irieish commented on #54
@iamffz I have an Intel i7-3770K and still experience the MobyLinuxVM/Hyper-V issue.
Looking forward to the updated kernel/fix. Thanks @rneugeba!

[2016-10-20 07:52] simonferquel commented on #157
@mauro-dellachiesa @sskorol do you have a VPN connection or a connection profile change (private, public or domain) when this happen ?

[2016-10-20 09:04] sskorol commented on #157
@simonferquel I'm using Docker on my local PC, which is not a part of any domain or VPN. Not sure if it'd help, but my network configuration uses automatic IP / DNS resolution (which is required by internet provider).

[2016-10-20 09:36] simonferquel commented on #157
@mauro-dellachiesa I see from the logs that your machine is a member of a domain. It seems possible that Windows is switching from private to public or domain network profile, and that the Windows Firewall blocks file sharing when it happens. Can you look at your inbound firewall rules (Control Panel / System and Security / Windows Firewall / Advanced Settings / Inbound Rules) and enable all rules

[2016-10-20 09:37] simonferquel commented on #157
@sskorol Can you try the same operation ?

[2016-10-20 10:07] sskorol commented on #157
@simonferquel just tried. This rule was disabled for `domain` and enabled for `private / public`. However, Windows Firewall is fully managed by `Kaspersky Total Security` on my PC. So not sure if these rules are applied when KTS is enabled. Anyway, just tried to run `docker run --rm -v c:/Grid/uploads:/data alpine ls /data` and it lists all files / subfolders correctly (assuming that I tried it af

[2016-10-20 10:11] entzik commented on #72
same issue here, exactly as reported by @cfstras . Annoying thing for me is one of the containers is running keycloak and after the laptop sleeps, it  issues OIDC certificates with an outdated timstamp so all my authentication chain is broken.

I would rather have docker stop all my containers after a sleep, at least I would know I have to restart everything.

[2016-10-20 11:18] Angatar opened #158 "SSH connection issue lead to "Error creating machine: Error detecting OS: OS type not recognized""
### Steps to reproduce the behavior
  1. Having NO SSH client on windows (Windows 10 pro)
  2. Install Docker for Windows
  3. Create a virtual switch in your Hyper-V Manager as recommended
  4. Open cmd as an Administrator and create a new machine...

### Actual behavior
`docker-machine create -d hyperv -hyperv-virtual-switch "Virtual_Ethernet" dev`
Running pre-create checks...
Creating machine..

[2016-10-20 12:09] simonferquel commented on #157
@sskorol We have a known issue related with 3rd party firewall interfering with samba share. In beta 30, we'll try to detect these cases, and provide guidance how to configure your firewall.
The main thing is that we need to be able to connect to samba shares from our Linux VM to the Windows host. For that we need a rule allowing inbound TCP traffic on 10.0.75.1:445 from 10.0.75.2:* for whatever n

[2016-10-20 12:54] tommiehansen commented on #139
Try running a `repair` on your default connection, if that fails try it on `dockerNAT`.

If all fail uninstall Docker and run a `repair` on your default connection. Then re-install Docker.

[2016-10-20 13:02] mauro-dellachiesa commented on #157
Thanks @simonferquel. I'll give it a try and update my findings here.

[2016-10-20 13:42] kukjevov commented on #54
This is not AMD problem i have Notebook and PC both on AMD processors. Same Windows 10 version and on Notebook it is working, on PC it is not.

[2016-10-20 14:26] rneugeba commented on #158
Hi,

thanks for your report

This seems an issue with `docker-machine` and not Docker for Windows. Could you either try the [Docker Machine forum](https://forums.docker.com/c/open-source-projects/machine) or the `docker-machine` [github pages](https://github.com/docker/machine).

Closing this issue here.

[2016-10-20 14:26] #158 closed

[2016-10-20 15:02] shazChaudhry commented on #139
I have done windows updates, uninstalled and installed Docker several time. However, my wi-fi is still turned off every time hyper-v feature is enabled. wi-fi drivers are also up to date.

I have just done:
1. Got docker for windows (beta) from https://docs.docker.com/docker-for-windows/
2. Installed Docker (1.12.2, build bb80604, experimental), enabled Hyper-V feature, double checked that Virtual

[2016-10-20 15:32] b69ca commented on #90
This issue appears to exist because you can only have a single hyper-v NAT network at present. When the switch to Windows containers happens, it seems to create a NAT network, resulting in this issue if one already exists.

[2016-10-20 16:16] lusitania commented on #136
@dgageot I am aware of this, however, this is not the idea of [least privileges](https://en.wikipedia.org/wiki/Principle_of_least_privilege).

[2016-10-20 17:38] ldubrois opened #159 "Incompatible with Ember-Cli"
**Description**
When running, on Windows, Ember-Cli and Docker, the Host becomes unusable as everything is extremly slow. Docker only is fine, Ember-CLI is fine, but Docker + Ember-CLI is very very slow.

**Steps to reproduce the issue:**
1. Start Docker
2. Start Ember server
3. Make few changes on the Ember app to trigger Ember builds.

**Describe the results you received:**
After half an hour, t

[2016-10-21 04:11] Loyalsoldier opened #160 "Hope you guys add the version number into the file name of the docker-for-windows exe file downloaded from the website"
I'm here just to suggest that you guys should add the version number into the file name of the docker-for-windows exe file downloaded from the website.

[2016-10-21 04:37] friism commented on #160
@Loyalsoldier Why would you like that? Even if you get an old installer, it'll immediately ask to update to the latest version for that channel.

[2016-10-21 05:26] #160 closed

[2016-10-21 08:57] phinz commented on #113
I have the same issue with Version 1.12.2-beta28 (7813).

[code]

**Docker for Windows log output**
[code]

**A diagnostic was uploaded with id:**
`27CD7270-7059-46B7-84EC-4EACB238CD43/2016-10-21_10-56-21`

Have this issue for a while now.

[2016-10-21 09:12] justincormack opened #161 "entropy support for pre-Ivy Bridge machines"
See https://forums.docker.com/t/low-entropy-for-linux-containers-on-windows-host/21958/16 there are still machines around without `rdrand` support.

We could create an hvsock and feed randomness from the host potentially.

Or use haveged https://github.com/harbur/docker-haveged but needs network access.

[2016-10-21 13:50] riezebosch opened #162 "archive for older releases"
### Expected behavior

I'm creating a chocolatey package to install docker for windows. It is common the tie the package to the specific release of the software and the package includes the hash to validate the download. Currently it is only possible to download the latest release. The effect of this is twofold:
1. The install of the package will with every new release due to a changing checksum
1

[2016-10-21 14:06] friism commented on #162
Thanks for opening this issue!

It's not really meaningful for the the installers to be versioned since they're just envolopes around the app, and even if you get an old envelope, the app will immediately start auto-updating once install completes.

Your effort is appreciated, but I'm not sure a Chocolatey package is required - Docker for Windows will install unattended with two commands:

    Inv

[2016-10-21 14:29] mauro-dellachiesa commented on #157
Guys,
Today after starting my PC from hibernation I found that Docker was not working correctly. Tried this:
`C:\Users\Usuario>docker run --rm -v c:/Users:/data alpine ls /data`
And got the error:

After restarting Docker and re running the same command the error disappeared, but volumes do not work.
Here is another diagnostic I uploaded: 7EBFAC4B-2E44-489E-8838-9F0B9CC9F88E/2016-10-21_11-23-42

B

[2016-10-22 12:28] casperdcl commented on #147
Similar issue here:

25749FEA-4204-443F-B987-F081E680E169/2016-10-22_13-25-05

My PC was win 8.1, upgraded to 10+hyper V and has zonealarm. I disabled zonealarm completely during installation and startup but docker still fails to start.

[2016-10-22 12:30] casperdcl commented on #157
I get this every time I resume from sleep. Solve it by going to docker settings and un-sharing then re-sharing `C`.

[2016-10-22 12:45] Thog opened #163 "Allow changing vhdx path"
It would be nice to be able to change the path of the MobyLinuxVM virtual drive on the GUI instead of having to tweak it under PowerShell...

[2016-10-22 15:34] friism commented on #157
@casperdcl can you run a diagnostic trace when sharing is not working and post the id here?

[2016-10-22 17:45] wind-rider commented on #98
@dgageot unfortunately using beta28 doesn't help either.

After trying to share my C-drive and clicking 'Apply' it asks for my credentials, tries for some time and then returns the GUI to the initial state - the C drive without a checkmark in front of it.

Please find the updated diagnostics with id: ```599EC82B-AF34-41B4-AE3E-219FD54886DF/2016-10-22_19-43-42```

[2016-10-22 19:08] peternagy1332 commented on #54
@rneugeba I think it is the same issue here
ID: F6CA41D0-E5FD-4FDF-B9E3-F14404A225AC/2016-10-22_21-04-03
OS: Microsoft Windows 10 Pro Version 1607 (OS Build 14393.321)
CPU: Intel i7-4700MQ
Question: so is it a proper workaround to install the latest Ubuntu on Hyper-V instead of MobyLinux?

[2016-10-23 01:40] mikeywashere opened #164 "Docker cannot connect to Hyper-V container"
### Expected behavior

### Actual behavior

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

371e06e9-329b-4548-b3f0-9c00854ff8f3

### Steps to reproduce the behavior

![image](http

[2016-10-23 09:03] rneugeba commented on #54
We have a potential/likely fix in the master branch (updating the Linux kernel from 4.4.25 to 4.8.3). It worked on @spirodonfl machine (many thanks for testing!). The next Beta, which should come out this week, should include the fix

[2016-10-23 12:57] apupier opened #165 "Cannot run a container after fresh install on Windows 10 if Docker Toolbox was installed before"
### Expected behavior

- no error when launching docker run hello-world on a fresh install
- alert user that some environment variables are set that will prevent the usage of docker

### Actual behavior

fail to execute basic command docker run hello-world

### Information

  - 1A75BB5B-FE64-4BCE-AB42-09775FB3F977/2016-10-23_14-50-46
  - a reproducible case if this is a bug, Dockerfiles FTW
  - pa

[2016-10-23 20:25] coolfarmer commented on #25
All works in Beta28! Thanks :D

[2016-10-24 08:09] phinz commented on #113
Here i have the docker-compose output:

[code]

[2016-10-24 09:54] #80 closed

[2016-10-24 10:49] simonferquel commented on #157
@mauro-dellachiesa, @casperdcl Should be related to the "Network profile change" bug we have. Next beta should fix it.

[2016-10-24 10:51] simonferquel commented on #164
Some insider preview builds have their Hyper-V / Container support broken. I suggest you retry with the latest stable (anniversary update)

[2016-10-24 10:57] simonferquel commented on #98
This policy is quite self-explanatory and it is blocking remote File Sharing. D4W uses remote file Sharing (the Linux VM connects to the Samba port on the Windows host) to enable mounting Windows folders. If your administrators forbid remote file sharing (that is what does the policy), there is unfortunately nothing we can do to make it work.

[2016-10-24 11:11] rneugeba commented on #165
@apupier thanks for your report. Do you, by any chance, have the  `DOCKER_HOST` environment variable set? If so, could you unset it and try again? Unlike Docker Toolbox, with Docker for Windows you don't need to have any environment variables set, except for the PATH.

[2016-10-24 11:22] rneugeba commented on #164
Microsoft have a tool https://github.com/Microsoft/Virtualization-Documentation/blob/master/windows-server-container-tools/Debug-ContainerHost which checks for common/known problems. Could you try that?
Thanks

[2016-10-24 11:38] timotei opened #166 "Docker with Windows Containers doesn't work with HTTP Proxy"
### Expected behavior

Be able to pull `microsoft/dotnet-framework` through a HTTP proxy
### Actual behavior

[code]
### Information
- Diagnostic id:  C39EA216-FE6C-4A08-B0DB-AD68F0B85953/2016-10-21_17-04-30
- Windows version: Microsoft Windows [Version 10.0.14393](Win 10 Pro, x64)

Docker version:

[code]

Logs:

[code]

I set the proxy in the Docker companion app, and it seems to work to pull wi

[2016-10-24 14:06] apupier commented on #165
@rneugeba Thanks!! it was that, I had several environment variables set. I remove dal lof them and it works. I will rename the issue.

[2016-10-24 14:08] rcarmo commented on #72
Add me to the list. Using `make` inside Moby with time drift is impossible, so much so that I've resorted to building my containers on a remote box instead.

[2016-10-24 14:20] friism commented on #98
We should probably add this to the FAQ... cc @londoncalling

[2016-10-24 14:21] rneugeba commented on #165
Glad it is now working for you (and it was an easy fix). Thanks for renaming the issue, it might help other users to find it.

This is actually documented in the troubleshoot documentaion section under: https://docs.docker.com/docker-for-windows/troubleshoot/#/unset-dockerhost
It's not very prominent as we don't seem to have many users reporting an issue with it anymore.

I'll close this issue for

[2016-10-24 14:21] #165 closed

[2016-10-24 14:45] casperdcl commented on #157
@friism I replied to your message 2 days ago via email but it isn't showing up here:

Do you still want a trace?

[2016-10-24 14:58] friism commented on #166
Currently, the Windows daemon is configured separately (and not in companion app). So you need to set `$Env:http_proxy = "gabaf-proxy"` and probably also `https_proxy`. We're making this clearer in the gui in the next version and I'm also adding an issue to track doing this right.

[2016-10-24 15:04] friism commented on #157
@casperdcl let's hang back and see if the fix that @simonferquel mentioned works (should be coming in a couple days)

[2016-10-24 15:21] JnMik opened #167 "Sharing windows host SSH key with a docker container resolve in a "Permissions are too open" error."
Hey guys !

We're having issues with Docker on windows that we don't have on Linux.

Mounting the host (windows 10) ssh key into the container via volume makes the permissions over 600 and using composer install resolve in an ssh error "SSH keys are too open" when installing private repositories.

Probaly some kind of NTFS / linux problem or something..

We tried with the SSH_AGENT_SOCKS as well w

[2016-10-24 16:43] spirodonfl opened #168 "Docker Shared Drive Takes A Long Time To Load"
### Expected behavior
With my C drive shared, I can see Docker startup in approx 30 seconds.

### Actual behavior
With my C drive shared, Docker takes up to 6 minutes to startup.

### Information
If I don't share my C drive and I use a custom powershell script to setup a mount by myself (after sharing the C drive manually), Docker is good to go after about 30 seconds and I can use the mounted C dr

[2016-10-24 17:31] coolfarmer commented on #167
Exactly the same behavior here, we need help!

[2016-10-24 17:32] ocafebabe commented on #161
I was reading this thread about low entropy with Docker containers: http://stackoverflow.com/questions/26021181/not-enough-entropy-to-support-dev-random-in-docker-containers-running-in-boot2d

And one of the proposed solution is to mount  /dev/urandom from the host as /dev/random into the container! Would it be possible to mimic this in Docker for Windows?

[2016-10-24 17:35] justincormack commented on #161
@ocafebabe no, because you could not cross mount a device from one OS to another, even if there was one.

[2016-10-24 17:47] JnMik commented on #167
Would that be a good idea to have a Windows volume plugin driver that makes all of this way easier ?

https://docs.docker.com/engine/extend/plugins_volume/

[2016-10-24 17:51] justincormack commented on #167
I reopened the `docker/docker` issue as I don't think this is specific to Docker for Windows...

[2016-10-24 18:17] ocafebabe commented on #161
@justincormack ok thanks!

[2016-10-24 20:25] fmasa commented on #150
I have found another possible bottleneck when using DfW for PHP development. Ever since beta 21, reading multiple files (hundreds - i.e. PHP framework), there is ~30-40% performance hit compared to same stack on beta 21.

[2016-10-25 07:42] timotei commented on #166
OK, it seems it *needs* to have the HTTP_PROXY in the Machine-wide env variables in order to be properly taken. Will it be possible to set these also via the GUI? Right now I have to do a hack-ish CMD that does something like:

[code]

[2016-10-25 10:31] rneugeba commented on #168
@spirodonfl is this with the image I gave you? It looks like there is an issue with the kernel which we are debugging at the moment.