[2016-07-29 00:46] kwinz opened #2 ""Inconsistent parameters PolicyStore PersistentStore and Dhcp Enabled" after update"
### Expected behavior

### Actual behavior
During and since upgrade to version 1.12.0-beta21 (build 5971) 5b59d37
I get the error "Inconsistent parameters PolicyStore PersistentStore and Dhcp Enabled."
I am not aware of having changed any settings from the defaults.
The docker symbol displayed red on each restart.

The error did resolve itself after 3-4 times of restarting docker. Now everything s

[2016-07-29 03:41] adithep opened #3 "localhost force bind"
Copy from https://forums.docker.com/t/locahost-only-bind/18622

With the new docker for windows version(beta 20 build 5779), it binds to localhost only, but I don't think that is a good idea for windows because certain ports are blocked for example 445, 80

### Expected behavior
samba

### Actual behavior
Error response from daemon: driver failed programming external connectivity on endpoint samba

[2016-07-29 04:01] friism commented on #3
It's because your Windows machine is already running SMB on port 445. That means the port is in use, and the docker container cannot bind to it. Disabling port 445 would not work since Docker for Windows relies on the host SMB server to do volume sharing.

Can you not map your container SMB server to a different port.

[2016-07-29 05:07] adithep commented on #3
@friism I guess I can, but the question is bind to localhost is a good idea? I think this should be optional like before because unlike mac, widows uses so many ports by default.

[2016-07-29 08:03] dgageot commented on #2
Here's the full error message for reference:

[code]

[2016-07-29 08:09] dgageot commented on #2
I'm pretty sure this happens when we call:
[code]

[2016-07-29 12:39] staeppvargen opened #4 "no images and containers after update to 1.12.0-beta21 (build 5971)"
### Expected behavior
After docker-update I expect that all images and container are still there.

### Actual behavior
After docker-update all my docker-containers and images seem to be gone ("docker ps -a" and "docker images" show nothing).

### Information
- A20E5259-982A-4F12-B301-CD5CE7FFCE26/2016-07-29_14-06-39
- I updated to version  1.12.0-beta21 (build 5971)
- There was the question if I w

[2016-07-29 13:17] matevarga opened #5 "Cannot bind mount a file that already exists in the container"
`C:\Users\m\src\phr\docker\local [develop ≡]> docker run -it -v  C:\Users\m\src\phr\docker\local\broker-config.yml:/cryptoservice/broker-config.yml image-name bash`

`C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: oci runtime error: rootfs_linux.go:53: mounting "/var/lib/docker/aufs/mn
t/90d24356afdeb7b9ddad4b3b6903be92063151c33bf34f3d63ede464437060c6/cryptose

[2016-07-29 14:43] raesene opened #6 "Feature Request: Swapable Virtualization backends"
### Expected behavior
Able to change the virtualization back end used by Docker for Windows to accomodate scenarios where the user already has a virtualization product installed.

### Actual behavior
Docker for Windows requires Hyper-V which doesn't co-exist with other virtualization platforms for windows (e.g. Virtualbox, VMWare Workstation)

### Information

It would be really nice if it was pos

[2016-07-29 14:59] rneugeba commented on #4
Thanks for the report and apologies that you lost the images and containers. Normally, the installer does not overwrite existing containers/images, but it seems that the installer detected an Docker Toolbox image somewhere and offered to migrate that. We are considering to disable the Toolbox migration when updating from one Docker for Windows version to a newer one.

[2016-07-29 15:17] ahaak opened #7 "Can not use Kitematic with Docker for Windows"
### Expected behavior
Using/connect Kitematic to run Docker containers.

### Actual behavior
When opening Kitematic an error occurs at 99% of the initial setup. Error message: connect TIMED OUT 198.105.244.23:2375.
### Information

  - Diagnostic ID: 3D05AAEF-630B-4F46-A82E-D9A6415A59F9/2016-07-29_09-10-02
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs iss

[2016-07-29 15:33] bobbyAtSperry opened #8 "Interactive run error - 'The parameter is incorrect'"
I've just started with Docker for Windows 10. Went through some getting started examples yesterday fine. Today, after updating to the latest stable release, I'm getting "The parameter is incorrect" coming up when I try to run containers. They run OK and can be seen with the ps command but they are not interactive.

Here is a simple example:

[code]
I only get the error when the -i flag is present.

[2016-07-29 15:37] DeltaWhy opened #9 "Open source?"
Are there any plans to release source, at least for the MobyLinuxVM portion?

I've been unable to use this at work due to our SSL inspection proxy. With Toolbox I was able to build a custom boot2docker.iso that has the root CA certificates added and sets the proxy environment variables appropriately.

[2016-07-29 15:52] vlascik commented on #6
+1, this decision was just bad, forcing all docker users to convert all their VMs from vmware/vbox/android emulators/etc to hyper-v, because hyper-v disables other vm solutions...I mean, really??
You should make mobylinux.iso bootable in vmware&co. or provide a separate version that is bootable again. 1.11 worked great.

[2016-07-29 16:08] rneugeba commented on #8
which shell are you using? It works for me:
[code]

[2016-07-29 16:12] bobbyAtSperry commented on #8
Windows powershell. I might try a) rebooting, b) the command line prompt. I'll let you know how I get on.

I've already tried resetting docker to factory settings.

[2016-07-29 16:15] rneugeba commented on #8
Can you make sure you are picking up `docker.exe` from `C:\Program Files\Docker\Docker\resources\bin\docker.exe`. The installer should add this to you path

[2016-07-29 16:21] bobbyAtSperry commented on #8
I think it must be as that is the only docker.exe that shows up when I search the c drive.

[2016-07-29 16:29] bobbyAtSperry commented on #8
OK, i've just tried it from Command Prompt and it works fine. Still doesn't work from Windows PowerShell though. So it appears that I have a workaround. Strange that it doesn't work in Powershell. I could have sworn that's what I was using yesterday when it worked OK but I may be mistaken.

Thanks for the help @rneugeba

[2016-07-29 16:56] friism commented on #9
@DeltaWhy thanks for opening this issue!

We decide what components to open source as the components mature and make sense as stand-alone projects. This blog post has more details on that thinking: https://blog.docker.com/2016/05/docker-unikernels-open-source/

Instead of having you build your own boot2docker, we'd much rather make Docker for Windows work for you. Can you provide more details on w

[2016-07-29 18:30] alebianco opened #10 "User folder can't be mounted if C drive isn't shared"
### Expected behavior

Folders in the user's space can be mounted in a container without additional configurations.
Folder is mounted with cifs filesystem

### Actual behavior

Mounted folders turns out to be empty unless the C drive is shared
Folder is mounted with tmpfs filesystem

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
90E72802-EF07-4D06-8B68-EC91E23CDBBE/201

[2016-07-29 18:36] friism commented on #6
Thanks for the feedback. We know that this is a serious limitation and we're thinking about how to improve.

The problem is that Docker for Mac and Windows are a lot more than scripts that setup Linux with Docker in a Hyper-V VM. They also:

 * Manage networking to ensure that Docker works with VPN and proxies
 * Ensure that host volume mounting into containers works reliably
 * Manage seamless up

[2016-07-29 18:38] DeltaWhy commented on #9
The proxy support is a huge improvement over Toolbox, and I can actually use it with the insecure-registries option, but I dislike the idea of completely disabling TLS verification rather than adding the root certs.

I actually took it a step farther though and modified dockerd so that it sets the proxy environment variables and adds the CA certs for every container that it creates. This lets me u

[2016-07-29 18:50] alebianco opened #11 "sqlite dabatase in mounted folder is always locked"
### Expected behavior

a sqlite database file can be place is a folder mounted from the host and used normally

### Actual behavior

any operation on such database results in a "database is locked" error
database files placed in non-mounted folder work as expected

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
90E72802-EF07-4D06-8B68-EC91E23CDBBE/2016-07-29_20-36-27

[2016-07-29 20:58] staeppvargen commented on #4
Fortunately I was just about to get started with "Docker for Windows", so there was no harm.
I remember that I got the same question already before. Can you tell me on Win10, **where exactly this "default"-docker from toolbox is installed** or in which way "Docker for Windows" detects it? I'd like to get rid of the old stuff completely since I realized that lots of errors are coming from these "ol

[2016-07-29 21:39] dgageot commented on #7
Hi @ahaak, thanks for the report. Can you try to install a more recent version of Kitematic? Old versions are no longer compatible witch recent versions of Docker for Windows.
The latest version can be found here: https://github.com/docker/kitematic/releases/tag/v0.12.0

[2016-07-29 23:06] vlascik commented on #6
Thanks, it's good to know Docker Toolbox will still be updated, I checked it earlier today and it was still on 1.11, I assumed it's dead, but it's on 1.12 now. Maybe it would be a good idea to mention somewhere on your site what docker's plans for the future of toolbox vs. docker for win/mac are, to avoid the confusion?
I suspect you won't support two similar solutions forever, but please have a p

[2016-07-30 02:39] Kassius509 opened #12 "Failed to start VM "MobyLinuxVM", Hyper-V component not running"
### Expected behavior
MobyLinuxVM starts and allows Docker to run successfully.

### Actual behavior
Docker crashes, error states that MobyLinuxVM failed to start, because one of the Hyper-V components is not running.
Attempted to start MobyLinuxVM in the Hyper-V manager and it failed presenting the same error.

### Information
  - Diagnostic ID from "Diagnose & Feedback" in the menu.
B34992D5-8A0

[2016-07-30 04:19] CharlesSong commented on #2
Failed to create Switch "DockerNAT": Inconsistent parameters PolicyStore PersistentStore and Dhcp Enabled

   在 Docker.Core.Pipe.NamedPipeClient.TrySend(String action, Object[] parameters)
   在 Docker.Core.Pipe.NamedPipeClient.Send(String action, Object[] parameters)
   在 Docker.Core.Backend.BackendClient.Start(Settings settings)
   在 Docker.Actions.<>c__DisplayClass26_0.<RestartVm>b__0()
   在 Doc

[2016-07-30 12:14] rneugeba commented on #6
I have to second @friism comments and add that integrating a different hyper-visor is likely an effort of one or two man years of engineering followed by the complexity of maintaining several versions. Furthermore, native Windows container in Windows 10 Pro (coming with RS1) also require Hyper-V so won't co-exist with other virtualisation solutions.

[2016-07-30 12:20] rneugeba commented on #8
Could it be something in your powershell profile?

Could you try: `powershell -noprofile` and then on the new command line:
[code]

[2016-07-30 12:24] rneugeba commented on #4
By default it looks in `~\.docker\machines\machine\default\disk.vmdk`

[2016-07-31 02:19] staeppvargen commented on #4
hm... nothing there and anywhere else to find. I'll pass that "find toolbox-residues" issue to the esoterism-department :)

[2016-07-31 05:13] bigeyex opened #13 "Docker takes forever to startup, with errors on reading /etc/resolv.conf"
### Expected behavior
Docker for windows startup normally

### Actual behavior
the try icon keeps saying "Docker is starting...".

Errors in the log includes
[12:57:34.985][DataKit        ][Info   ] +1993786us       fs9p [ERROR] dispatcher caught Unix.Unix_error(Unix.EPIPE, "bytes_read", ""): no more requests will be handled
[12:57:47.562][VpnKit         ][Error  ] com.docker.slirp.exe: Error read

[2016-08-01 03:39] btbxbob commented on #13
Same problem here，Diagnostic ID:
9910108D-50EC-40E2-AA03-91C99D5C15AB/2016-08-01_11-38-26

[2016-08-01 06:11] dgageot commented on #13
@bigeyex @btbxbob Thanks for the report!. The `etc/resolv.conf` error message can be safely ignored. The rest is a real issue!

[2016-08-01 08:09] ebriney commented on #4
You just have to delete `~\.docker` to get rid of old toolbox VMs

[2016-08-01 08:11] #4 closed

[2016-08-01 08:25] ebriney commented on #11
Thanks for reporting, we will add the flag to fix your issue.

[2016-08-01 08:27] alebianco commented on #11
thanks @ebriney
in the meantime, if you know of any workaround or changes i can do manually to fix this, please let me know. Most of my images use sqlite with a mounted folder and are unusable at the moment

[2016-08-01 08:41] ebriney commented on #11
Unfortunately we moved the binding code in C# so there is no workaround except installing a previous version and wait for the hot fixes release soon

[2016-08-01 11:09] rneugeba commented on #13
I had a look at the two diagnostics and the cause is entirely different.

@bigeyex I noticed an un-natural long delay (22s) early in the application startup. I've filed an internal issue to investigate. Unfortunately, the diagnosis uploaded then is truncated. Did you maybe hit the "Upload diagnostics" link too early? Could you retry and wait for longer or check if if the whale icon in the try beco

[2016-08-01 11:19] Sebas- opened #15 "Cifs mount argument rfc, add noserverino"
### Expected behavior
A php application inside a i386 container should be able to recognize directories when using calls like 'stat' and 'is_dir' on mounted volumes.

### Actual behavior
'stat' and 'is_dir' return false when executing the command on a mount volume path.

### Information

The following stackoverflow post explains the issue:
http://stackoverflow.com/questions/26718203/php-file-direc

[2016-08-01 13:42] bigeyex commented on #13
Hi, I re-installed docker and recorded another diagnostic:
B8135B95-E027-4F0C-8271-65F697ECDC90/2016-08-01_21-39-07

btw, here's the log file:
[log-2016-08-01_21-34-53.txt](https://github.com/docker/for-win/files/393901/log-2016-08-01_21-34-53.txt)

Hope these will help.

[2016-08-01 14:11] rneugeba commented on #15
@Sebas- Thanks for the report.

This works fine with the default php images:
[code]

and also with 32bit debian:
[code]

[2016-08-01 14:40] mcesar commented on #9
I have the same problem with TLS verification and root certs.  I would like to know how to disable the TLS verification. The text below shows the output when creating a container using a hello-world image.

\> docker run hello-world
Unable to find image 'hello-world:latest' locally
Pulling repository docker.io/library/hello-world
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error while

[2016-08-01 15:00] dgageot commented on #2
@kwinz @CharlesSong I couldn't repdoduce this issue. Can you run this command:

[code]

[2016-08-01 15:24] rneugeba commented on #13
@bigeyex it looks like on your system it fails to connect to the docker daemon. Could you try a factory reset via `Settings->Reset->Reset to factory defaults...`

[2016-08-01 15:36] rneugeba commented on #12
This looks like an issue with the Hyper-V installation:
[code]

Ah, I see you are running this in qemu and or KVM. Unfortunately, this is not a supported configuration as we have no control over the quality of support for the required nested virtualisation in either.

[2016-08-01 15:36] #12 closed

[2016-08-01 15:39] rneugeba commented on #8
Closing this issue for now, as it seems specific to your setup. I can't reproduce it with a variety of Windows builds. Please feel free to re-open and/or provide additional information.

Thanks

[2016-08-01 15:39] #8 closed

[2016-08-01 15:51] rneugeba commented on #10
We are using CIFS/SMB to share the host file system with the container and that requires authentication. Unfortunately, this means that the user has to explicitly enable sharing as documented in the getting started guide:
https://docs.docker.com/docker-for-windows/#/shared-drives

[2016-08-01 15:51] #10 closed

[2016-08-01 16:06] bobbyAtSperry commented on #8
Thanks @rneugeba

I tried your suggestion above and it all worked. I then tried it opening as usual and it also worked!?

Only thing I can think is that the machine has been rebooted (though I thought I'd already tried that?). All working now anyway. If it happens again I'll try
- rebooting
- command prompt workaround
- -noprofile workaround.

Thanks again.

[2016-08-01 16:49] Kassius509 commented on #12
Thx for the info!

[2016-08-01 18:46] alebianco commented on #10
Wouldn't it be enough to share a specific folder? instead of the whole drive?

[2016-08-01 19:44] friism commented on #10
@alebianco the sharing is a one-time setup. Otherwise we'd have to pop up the sharing prompt for each `docker run`

[2016-08-01 20:00] friism commented on #9
We have a roadmap item to let end-users add certs to the certstore in Moby - would that cover your needs?

[2016-08-01 20:07] mcesar commented on #9
Well, I guess. There is some workaround in the meanwhile?

[2016-08-01 20:35] cramhead opened #16 "Fails to connect to docker"
### Expected behavior
Should connect to docker.io/library/hello-world, download the image and run it
### Actual behavior
Network times out

### Information
 - A diagnostic was uploaded with id: C83DC67F-0792-40A5-9882-F6F60EE44A9F/2016-08-01_13-46-15
 - Windows 10, Version 1511, OS build 10586.494
![window build](https://cloud.githubusercontent.com/assets/386035/17308585/a56e0f08-57ef-11e6-8bbb-03

[2016-08-01 22:38] nivekastoreth commented on #16
Same issue here.

Diagnostic: 31B7762B-8EE0-4651-B171-4DEDFF0EEB18/2016-08-01_18-34-31

[2016-08-02 06:47] alebianco commented on #10
ok, i see. it's just that sharing a whole drive when i just need a folder it's a lot. I thought it would be possible to share just the specific folders, and have it done automatically during installation, like it's done on mac (and i guess linux). thanks anyway :)

[2016-08-02 07:37] maxday opened #17 "The VM couldn't get an IP address after 60 tries"
Hi,
First, thanks for your work, I've seen a great demo at DevoxxFR and I can't wait to use it :)

I'm running Docker for Windows Version: 1.12.0-beta21 on a WIN10 VM.
Hyper-V is activated and Windows services are OK.
The MobyLinuxVM is well created but Docker fails to start because it cannot get an IP for the VM.

The DNS server radio button configuration is set to "automatic".
I've tried to rebo

[2016-08-02 08:20] Sebas- commented on #15
Thanks for the response.

Looks like i've got an interesting issue then. The php version in your test is 5.6 and 7 so those are not the same, but when I added the official debian php 5.3 build (from debian 7), it did not show the issue.

My container has a manually compiled version (on the 32bit/debian container) build, and that one does show the issue (.

I'm a little bit puzzled to why that is.

[2016-08-02 09:35] rneugeba commented on #15
Thanks. we are looking into the suggested CIFS mount option

[2016-08-02 09:38] rneugeba commented on #10
We are actively looking into other solutions to make the experience more aligned with Docker for Mac. It's a significant development effort

[2016-08-02 10:40] dgageot commented on #16
Hi @cramhead and @nivekastoreth, thanks for the report! Can you tell us:
 + If you had to disable HyperV after you installed Docker. For eg. to use VirtualBox.
 + What's the output of `Get-NetAdapter "vEthernet (DockerNAT)"` ran in an elevated PowerShell?

If the command shows multiple net adapters, can you try this command before you restart Docker and see if it fixes the issue?

[code]

[2016-08-02 10:46] dgageot commented on #17
Hi @maxday, thank you very much for taking the time to share your feedback. I'm afraid running Docker for Windows inside a VM is not something that we officially support. Some many things can break.
However, we can try to help you.

+ Can you tell us which Hypervisor you are using to run the VM (Vbox, vmware...)?
+ Is it configured for nested virtualisation?

ping @rneugeba Can you provide insight

[2016-08-02 10:49] swilsonalfa commented on #16
Hi. I am experiencing this issue as well. However, I was able to restore it by manually setting up the NAT and then assigning it to the VM's network adapter.

I mainly followed the below guide. It seems that a change was made to Hyper-V in a recent Windows 10 build.

https://charbelnemnom.com/2016/05/how-to-configure-hyper-v-virtual-switch-that-supports-nat-network-with-powershell-hyperv-powershel

[2016-08-02 11:42] juherr opened #18 "Docker for windows should detect Kitematic installed by Docker Toolbox"
### Expected behavior

Launch installed Kitematic.
By default, Docker Toolbox installs it in `C:\Program Files\Docker Toolbox\kitematic`
### Actual behavior

Ask to install Kitematic
### Information
- Diagnostic ID: 63FC49AC-136A-4694-8FC1-E651A239AEE3/2016-08-02_13-35-11
- Windows 10 Pro
### Steps to reproduce the behavior
1. Install Docker for Windows & Docker Toolbox
2. Run Kitematic from Docke

[2016-08-02 13:11] glennsills commented on #16
I am getting exactly the same behavior on version 1607 build 14393.10

[2016-08-02 13:23] nivekastoreth commented on #16
@dgageot: I started yesterday with virtualbox, hyper-v, docker-machine and docker4windows installed.  I've since fully uninstalled all of the above and reinstalled hyper-v and docker4windows.

[code]
As noted above, the suggested elevated powershell command(s) appeared to be a valid workaround.

[2016-08-02 13:58] dgageot commented on #16
\o/ Thanks @nivekastoreth, that's what I thought. Will be shipped in next Beta!

[2016-08-02 14:22] glennsills commented on #16
@dgageot
I have similar symptoms except I do not have multiple adapters

See 'C:\Program Files\Docker\Docker\Resources\bin\docker.exe run --help'.
PS C:\WINDOWS\system32> Get-NetAdapter "vEthernet (DockerNAT)"

Name                      InterfaceDescription                    ifIndex Status       MacAddress             LinkSpeed
----                      --------------------                    ---

[2016-08-02 15:17] maxday commented on #17
Hi @dgageot ,
Thanks for your quick answer.
It's running with VMWare and the nested virtualisation is enabled.
Feel free to ask if you need any further info

[2016-08-02 17:07] cramhead commented on #16
I had multiple adapters that I could not remove, even though I'm a local admin. I renamed them and disabled them.
I only have one DockerNAT and still have the problem.
--
PS C:\Users\mdentremont> Get-NetAdapter "vEthernet (DockerNAT)"

Name                      InterfaceDescription                    ifIndex Status       MacAddress             LinkSpeed
----                      ------------------

[2016-08-03 00:01] harryo commented on #16
I have the same problem: Network timed out while trying to ....

A diagnostic was uploaded with id: 3032F0A7-2367-4488-BCF1-C23EB0A3F2D8/2016-08-03_01-54-04
Windows 10 Pro, only one adapter shown after `Get-NetAdapter "vEthernet (DockerNAT)"`

I tried already fixed DNS, uninstall/remove Wifi (only ethernet)/re-install, but still the same problem.

This is on my desktop; it works well on my laptop,

[2016-08-03 00:48] krisbulman opened #19 "docker-compose failing"
### Expected behavior
[code]

### Actual behavior
[code]

### Information

  - ID 28C8317A-5C2F-4BC9-AA3B-D47229AA1776/2016-08-02_21-42-43
  - ```Docker version 1.12.0, build 8eab29e, experimental```
  - Windows 10 Insider Preview Build 14393

### Steps to reproduce the behavior

  1. Install docker for windows beta), test docker-compose --version
  2. Reset to factory defaults
  3. Follow instruc

[2016-08-03 04:48] Reanmachine commented on #5
Having this issue myself.

Docker:

    Client:
     Version:      1.12.0
     API version:  1.24
     Go version:   go1.6.3
     Git commit:   8eab29e
     Built:        Thu Jul 28 21:15:28 2016
     OS/Arch:      windows/amd64

    Server:
     Version:      1.12.0
     API version:  1.24
     Go version:   go1.6.3
     Git commit:   8eab29e
     Built:        Thu Jul 28 21:15:28 2016
     OS/Ar

[2016-08-03 05:59] cuikangyi commented on #17
I have the same problem on Windows 10,version1607,OS build 14393.
docker version 1.12.0-stable(build:5968)

[2016-08-03 06:00] dgageot commented on #19
Hi @krisbulman thanks a lot for taking time to report this issue.

This is a known [Compose bug](https://github.com/docker/compose/issues/2775) and [Python bug](http://bugs.python.org/issue1602). It comes from `cp65001` (the windows equivalent of utf-8) not being recognised as a valid encoding.

You must have set this encoding in your shell with something like `chcp 55001`.

I'm sorry I'm going to

[2016-08-03 06:00] #19 closed

[2016-08-03 09:27] dgageot commented on #16
@cramhead Can you make sure to run the commands in an elevated Powershell? Being a local admin is not enough I'm afraid.

[2016-08-03 09:52] dgageot commented on #2
@kwinz @CharlesSong Hi, any chance you had time to run the command?

[2016-08-03 12:13] riveryc opened #20 "Unable to remove from the database. Exit code: 1"
### Expected behavior
Start Docker after default installation, Docker icon shouldnot be red with error message box
### Actual behavior
An error window is showing with:
"An Error Occured"
Unable to remove from the database. Exit code: 1
   at Docker.Core.Pipe.NamedPipeClient.TrySend(String action, Object[] parameters)
   at Docker.Core.Pipe.NamedPipeClient.Send(String action, Object[] parameters)

[2016-08-03 12:15] riveryc commented on #20
Docker version: 1.12.0-stable (build: 5968) 9cd1dc2

Thanks
River

[2016-08-03 12:35] riveryc commented on #20
Also, I can see the VM in Hyper-V Manager "MobyLinuxVM"'s status is off. it hasn't been started yet.
I'm using Microsoft Live account as login to my windows 10 pro.
I tried run "Docker for Windows" as Administrator, it doesn't help neither, same error message.

I also tried to manually started that VM in Hyper-V Manager, and then start the "Docker for Windows", looks like the "Docker for Windows"

[2016-08-03 13:17] dgageot commented on #20
@samoht Any idea why the database fails to start? What can we do to better diagnose?

[2016-08-03 13:43] cbrevik commented on #2
@dgageot I'm getting the same thing, just ran the command:

[code]

[2016-08-03 14:24] LarryEitel opened #21 "Recommended number of cores and amount of memory to allocate"
I am running `Win10Pro` with `16G` with `i7-3770K CPU 3.50GHz`.

Just curious... Normally Docker fires up with `2 CPUs` and `2048 MB`.

Other than trial and error, are there any thoughts as to determining how to set these values?

Thank You

[2016-08-03 14:30] dgageot commented on #2
Thanks a lot @cbrevik for the feedback!

Can you run this command in an elevated Powershell before you restart Docker and see if it fixes the issue?

[code]

[2016-08-03 14:33] dgageot commented on #21
Hi @LarryEitel thank you for taking the time to ask your question!

I guess the answer really depends on the workload you plan to run with Docker. 2CPUs should be plenty enough for most development task. However, since you have 16Gb on the host, you might want to give more memory to the containers. Something between 4Gb and 8Gb will leave plenty of memory on the host.

[2016-08-03 14:39] LarryEitel commented on #21
Thank you @dgageot.

I will drop back to 2CPUs. At the moment, I have set 4Gs and my memory usage shows `System and compressed memory` at about 2Gs. I am assuming that although I have it set at 4Gs, it will only USE it as needed.

[2016-08-03 14:41] LarryEitel commented on #21
FYI, just tried to bump to 8Gs and Docker Windows complained that there was not enough memory to start Docker. So, for now I will keep it at 4Gs.

[2016-08-03 14:57] dgageot commented on #21
@LarryEitel Good to know! Feel free to close the ticket if you think your question was answered. And have fun!

[2016-08-03 15:00] dgageot commented on #18
Thanks @juherr for the report. That's right, we could do that. @FrenchBen wdyt?

[2016-08-03 16:25] #21 closed

[2016-08-03 16:55] cramhead commented on #16
@dgageot Thanks.
Renaming worked well. Is there a way to actually remove them.
I've tested Docker version 1.12.0, build 8eab29e, experimental and the hello-world was downloaded and run with no errors or warnings.
I would think this one closed.
Thanks so much for all your effort.

[2016-08-03 16:55] #16 closed

[2016-08-03 23:56] figui commented on #20
Check in windows Events Log, on the root of the left pane, click create new filter (from the right pane), then check "from source" and then in the dropdown menu check "Hyper-V Hypervisor".

Im getting the following warnings from Hyper V :

"**Hypervisor launch has been disabled through the hypervisorlaunchtype bcdedit setting.**"

but if i check the **bcdedit /enum** (with admin privileges) i got

[2016-08-04 00:29] figui commented on #20
Also, i found in my registry this key
"\HKEY_LOCAL_MACHINE\SYSTEM\ControlSet\Control\SystemStartOptions" with this value "NOEXECUTE=OPTIN  **HYPERVISORLAUNCHTYPE=OFF**  USEPLATFORMCLOCK" and if i edit and restart windows, the value will appear again.

I have installed Ubuntu a long side of windows and using grub for the dual boot

[2016-08-04 01:48] FrenchBen commented on #18
@dgageot I like that idea - Although I would prefer it lived under the same folder as Docker for Windows:
`C:\Program Files\Docker\kitematic`

[2016-08-04 06:28] cbrevik commented on #2
Thanks @dgageot, that seemed to solve it for me!

In my case, it might be that this problem corresponded with installing Xamarin, and using the Visual Studio Emulator for Android. The emulator uses Hyper-V as well, and started messing around with the virtual switches on my first run.

[2016-08-04 07:47] dgageot commented on #7
Closing. Checking the version of Kitematic was added to master branch

[2016-08-04 07:47] #7 closed

[2016-08-04 07:47] dgageot commented on #11
Closing. `nobrl` option was added on master branch.

[2016-08-04 07:47] #11 closed

[2016-08-04 07:57] dgageot commented on #2
Closing. This was added to master branch and is planned to be released both on stable and beta channels.

[2016-08-04 07:57] #2 closed

[2016-08-04 08:42] ktor opened #22 "Network timed out while trying to connect to https://index.docker.io"
### Expected behavior
Pulling hello-world when I am not behind proxy.

### Actual behavior

    Unable to find image 'hello-world:latest' locally
    Pulling repository docker.io/library/hello-world
    docker: Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/hello-world/images. You may want to check your internet connection or if you are behind a proxy.

[2016-08-04 09:01] riveryc commented on #20
Thanks for that @figui .
I just checked on my PC (Win10), it has default value as for that Key you mentioned:
FLIGHTSIGNING  NOEXECUTE=OPTIN  HYPERVISORLAUNCHTYPE=AUTO

but, still the same issue happening. Not too sure if this is related.

Thanks for your help anyway!
River

[2016-08-04 09:07] riveryc commented on #20
Just tested with beta version, still the same issue, logged as:
A7277B05-898F-4809-AF02-9C0E94AAD48F/2016-08-04_19-05-46
Just let me know if you need more info to diagnostic. :)

Thanks
River

[2016-08-04 09:13] rneugeba commented on #16
@cramhead We haven't found a way to remove the adapters via PS, but you can remove them manually via the `devmgmt.msc` (aka `Device Manager`). You should see them as disabled `Hyper-V Virtual Ethernet Adapter` under the `Network Adapter` section. Righ-click and select `uninstall` should remove the adapter.

[2016-08-04 09:33] rneugeba commented on #15
@Sebas- we took another look at the option and it looks like it might break hardlinks semantics (e.g: http://www.spinics.net/lists/linux-cifs/msg10477.html). Since your example seem to work with some standard 32bit images (like PHP on 32bit debian) and you ahve a work-around. I'm closing this issue.

Thanks, for the issue report and the nice and simple repro. It made it very easy to test for us.

[2016-08-04 09:33] #15 closed

[2016-08-04 10:33] dgageot commented on #22
Hi @ktor, thank you for the report. That really helps improve the product!

I see from the diagnostic information that you have multiple "vEthernet (DockerNAT)" network adapters.

Could you run this command **from an elevated powershell"**, then restart Docker and see if it fixes the issue?

[code]

[2016-08-04 11:35] Sebas- commented on #15
Oke, thanks for info.

[2016-08-04 14:49] dgageot commented on #17
@cuikangyi Do you have a log or diagnostic id to share?

[2016-08-04 16:20] ktor commented on #22
Hi @dgageot , thank you! It worked!

[2016-08-04 16:21] #22 closed

[2016-08-04 16:40] blitzd commented on #6
@rneugeba I wouldn't think they'd want to tightly couple native container functionality on Windows to the overall solution for managing docker on Windows anyways.

It wouldn't be as much of an issue if Hyper-V played nice with other VM solutions, but it doesn't - so anyone with an existing VM solution installed that is not Hyper-V simply can't use Docker for Windows.

Having used Hyper-V for Linux

[2016-08-04 18:23] oscarpicasso-intact opened #23 "x509: certificate signed by unknown authority"
### Expected behavior
Run hello-world image

### Actual behavior
C:\Apps>docker run hello-world
Unable to find image 'hello-world:latest' locally
Pulling repository docker.io/library/hello-world
docker: Error while pulling image: Get https://index.docker.io/v1/repositories/library/hello-world/images: x509: certificate signed by unknown authority.
See 'docker run --help'.
### Information

  - Diagn

[2016-08-04 22:12] cramhead commented on #16
That's awesome. Thanks. I had tried to remove them via "Network
Connections", but that option was grayed.

On Thu, Aug 4, 2016 at 2:13 AM, Rolf Neugebauer <notifications@github.com>
wrote:

[2016-08-04 22:58] rneugeba commented on #16
yes, the network connection removal somehow doesn't work but `devmgmt.msc` does. The adapters shouldn't be there in the first place but we haven't been able to reliably reproduce it, though many users have them. So it's hard to discuss this with the Windows team.

[2016-08-05 01:05] TaylorBarrick commented on #17
I have the problem describe above and here is a log file and diagnostic ID

A diagnostic was uploaded with id: F92E5AB4-A9AA-4269-A7D6-8FEB6F6E3D34/2016-08-01_22-30-16
Windows 10.0.14393

[22:26:32.349][ApiProxy ][Info ] dns server: ready
[22:26:32.353][ApiProxy ][Info ] docker proxy: ready
[22:26:32.356][ApiProxy ][Info ] listen tcp 10.0.75.1:53: bind: The requested address is not valid in its co

[2016-08-05 01:11] cuikangyi commented on #17
@dgageot Sorry,I forget to see.
Then I reset to factory defaults, and it can be work.
Thank you for your reply.

[2016-08-05 03:19] howlerwolf1313 commented on #11
Hey @dgageot,
New to Docker in Windows, how do we go about adding that "nobrl" option when mounting shared drives? Do I need to be using the beta to get the fix? Thank you

[2016-08-05 03:24] figui commented on #20
@riveryc i think that it is not a Docker problem, it is a problem with WIndows Hyper-V, if you want to create other VM you will have the same error, i don't know who are forcing to stop Hyper-V... in my GRUB  menus entry, i have 2 Windows 10 options if i select the first i have Hyper-V activated, if i select the second, Hyper-V are disabled.

Also i write in W10 forums for this problem, if i have

[2016-08-05 05:36] mahnunchik opened #24 "ERROR: Network timed out while trying to connect"
### Expected behavior

`docker pull` works

### Actual behavior

`docker pull` does not work

[code]

### Information

![error1](https://cloud.githubusercontent.com/assets/780935/17427227/29b64a5c-5b09-11e6-8339-995eb72e3c01.PNG)

![image_from_skype](https://cloud.githubusercontent.com/assets/780935/17427213/f5706318-5b08-11e6-89a9-9f8ac977461d.png)

### Steps to reproduce the behavior

  1. `dock

[2016-08-05 06:49] alebianco commented on #11
@howlerwolf1313 it should be released on a beta first (hasn't been released yet that i know) and then hopefully in the stable version after a while.

[2016-08-05 07:28] dgageot commented on #11
@howlerwolf1313 It should be relased on beta channel next week

[2016-08-05 09:16] bagratte opened #25 "Mounted volumes are empty in the container."
[code]
7DF51AAC-D04D-4FDC-AE2F-D19EAA0DC8EF/2016-08-05_13-06-39

[2016-08-05 09:32] dgageot commented on #25
Hi @bagratte, thank you for taking the time to report the issue.

Have you shared the C drive before you run the docker command?

![capture](https://cloud.githubusercontent.com/assets/153495/17432575/3ca47872-5b00-11e6-83cc-70b765500222.PNG)

[2016-08-05 09:33] dgageot commented on #24
Hi @mahnunchik Could you share your logs or a diagnostic id? Thanks a lot!

[2016-08-05 09:34] bagratte commented on #25
Yes, I have shared the C drive as in your screenshot.

[2016-08-05 10:00] Icantthinkofanyname commented on #24
I have the same issue. I tried it both on stable and beta version as well.

[2016-08-05 10:10] dgageot commented on #24
Hi @Icantthinkofanyname could you share your logs or a diagnostic id? Thanks a lot!

[2016-08-05 11:25] Kantis commented on #25
Also having this problem.

http://i.imgur.com/0a4S0k8.png

http://i.imgur.com/CLclsxx.png

I've tried unsharing/re-sharing, uninstalling and re-installing docker

[2016-08-05 12:30] mahnunchik commented on #24
@dgageot logs http://pastebin.com/RYi6tY04

[2016-08-05 13:45] dgageot commented on #24
@Icantthinkofanyname @mahnunchik Can you try with a fixed DNS server?
Something like `8.8.8.8`

![settings-network](https://cloud.githubusercontent.com/assets/153495/17438527/9279a4a2-5b23-11e6-95be-aa1c8dab7fc9.png)

[2016-08-05 13:50] mahnunchik commented on #24
@dgageot I've tried, nothing has changed.

[2016-08-05 16:12] howlerwolf1313 commented on #11
@alebianco @dgageot Thank you.

[2016-08-05 17:11] oscarpicasso-intact opened #26 "Timeout when trying to login to internal registry"
### Expected behavior
When trying to login to an internal docker registry with:
docker login -u docker-user -p *****  docker-rep.dep.ca.inet:18443

Expected successful login acknowledged with the message
"Login Succeeded"

The exact same command run successfully from a Linux host.

### Actual behavior
Error response from daemon: Get https://docker-rep.dep.ca.inet:18443/v1/users/: dial tcp: lookup

[2016-08-05 17:32] glennsills commented on #24
I had this problem. I had previously been using Docker Toolbox with VirtualBox which I had uninstalled before installing Docker for Windows. I tried many suggestions involving fiddling around with the virtual network. Then I noticed that the uninstalling Docker Toolbox had left some folder in my AppData folder and so had Virtual Box. I deleted all that stuff manually, reinstalled Docker for Window

[2016-08-05 18:07] sdevane opened #27 "Docker fails to start on Windows 10"
### Expected behavior

Docker should start
### Actual behavior

Docker fails to start and an Error reported in a window
### Information
- Diagnostic ID from "Diagnose & Feedback" in the menu.
- a reproducible case if this is a bug, Dockerfiles FTW
- page URL if this is a docs issue or the name of a man page
- host distribution and version (Windows version, build number, etc)
### Steps to reproduce

[2016-08-05 19:01] ProCynic commented on #25
Same here.

[code]

![image](https://cloud.githubusercontent.com/assets/239858/17447518/70a3e1b2-5b14-11e6-8318-651605971d59.png)

[code]

[2016-08-05 19:09] changeisnormal commented on #24
@dgageot I've also tried that and it didn't work for me either.
@glennsills I had never install toolbox with VirtualBox before so I don't think that fits my situation.

[2016-08-05 19:24] changeisnormal commented on #24
@dgageot

A diagnostic was uploaded with id: A4341136-0CD7-4779-AF29-A378002D0636/2016-08-05_15-23-48

[2016-08-05 20:43] hineios commented on #24
I had the same problem. But after changing to a fixed DNS server it fixed my problem!

[2016-08-05 21:19] hineios commented on #25
Also the same problem.
I think it is because of some issues with permissions.

When I try to run containers that need to write some files to the disk (like for instance, Bitnami's laravel container) the container fails to write those files due to a permission denied error.

![docker-permission_denied_error](https://cloud.githubusercontent.com/assets/9935493/17450867/af3dd8ce-5b5a-11e6-9e02-264d935

[2016-08-05 22:31] dsperling commented on #27
I am see a similar issue with the Anniversary update (version 1607).  Here is my docker version output.

[code]

[2016-08-06 00:36] Morgy93 commented on #27
Same problem here.
I already posted mine here: https://github.com/docker/docker/issues/25443
I'll just copy it over here:

**Output of `docker version`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- Docker for Windows latest (08/05/16 MM/TT/JJ) (there's no version info on the website, nor for the InstallDocker.msi)
- Windows 10 Pro
- version 1607
- build 14393

[2016-08-06 02:57] searene commented on #25
Same problem here. I've tried multiple commands to mount the host directory, but none of them worked.

[code]

`/data` was created, but it contained nothing.

[2016-08-06 03:30] friism commented on #25
Can you check whether you have 3rd party antivirus software installed? Some users have reported problems due to that:

 * https://twitter.com/philiciousPhil/status/761529849878089728
 * https://forums.docker.com/t/volume-mounts-in-windows-does-not-work/10693/108?u=friism

[2016-08-06 04:08] searene commented on #25
Yes, I have Mcafee installed and I don't have the permission to uninstall or disable it. I guess the anitvirus software might be the reason but there's no way for me to check it.

[2016-08-06 05:37] ProCynic commented on #25
@friism I've just got windows defender and firewall.  Everything default I think.

[2016-08-06 06:00] ProCynic commented on #25
@friism oh wow, just got it.  Based on a [comment](https://forums.docker.com/t/volume-mounts-in-windows-does-not-work/10693/110) in that forum thread you linked, I changed my windows password to not have special characters, reset the credentials in docker, and it started working.  I don't know what docker is doing with passwords.  How bizarre.

[2016-08-06 12:03] hineios commented on #25
Well the password thing did it for me!
thanks @ProCynic

[2016-08-06 12:08] bagratte commented on #25
I also confirm the workaround of removing special characters from the password. In my case the offending character was the semicolon (```;```).
This must be either documented or, better still, fixed.

[2016-08-06 12:12] jpek42 commented on #25
I've had nothing but flaky behavior with shared drives with DFW for months. Just updated to the latest build (5971), and have shared my 2 drives. One of them appears to be visible, while the other is not:

[code]

Maybe this is some sort of permissions thing, but as I provided my own credentials, not sure what it could be. Here is log snippet from above:

I do not have special characters in my pas

[2016-08-06 12:54] PetaPetaPeta opened #28 "VM not created in Hyper-V"
### Expected behavior

When the Docker for Windows application is started a VM should be created in Hyper-V.

### Actual behavior

Upon starting the application nothing seemingly happens. This is confirmed by the log file seen here: http://pastebin.com/keXwv0r0.
I have let the application run for 10 minutes without any changes to the log file. From the task manager I can confirm that both Docker.S

[2016-08-06 16:14] roukmoute opened #29 "volume binding does not work?"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I use `Windows PowerShell`

**Steps to reproduce the issue:**

I've tried to create a folder via docker and binding volume.

[2016-08-06 17:01] PetaPetaPeta commented on #29
Did you follow the suggestion in this post? https://github.com/docker/for-win/issues/25#issuecomment-237806257

[2016-08-06 18:37] roukmoute commented on #29
Now yes :-D

And it almost work!

[code]

[2016-08-06 18:54] roukmoute commented on #29
OK :)

I don't know why but apparently the problem comes from foler `/tmp`.
If I do exactly the same command but replace `/tmp` with `/code`, it works:

[code]

[2016-08-07 13:43] PetaPetaPeta commented on #28
# Network debug

From starting the resource monitor(resmon.exe) I have the following things:
![image](https://cloud.githubusercontent.com/assets/2445709/17462664/ba2d99d0-5cb4-11e6-9bd0-f6b864912cad.png)
![image](https://cloud.githubusercontent.com/assets/2445709/17462665/c273a3a0-5cb4-11e6-8a80-7de3e14739af.png)
![image](https://cloud.githubusercontent.com/assets/2445709/17462666/d471df04-5cb4-11

[2016-08-07 19:33] cedseat commented on #15
Hi, is it possible to have your workaround?

[2016-08-07 21:36] PetaPetaPeta commented on #28
(X-post from https://forums.docker.com/t/docker-for-windows-does-not-start-after-reinstall)
I have tried to keep it running for 8 hours since last start. It seems like this is due to some timeout error. The updated log can be seen here: http://pastebin.com/qkK9tefv. Note that there is an 8 hour delay between getting a diagnostic ID and the next event. The thing that I am seeing as the possible cul

[2016-08-08 06:34] sujunxuan commented on #13
Some problem.
Diagnostic ID:
503C3EEF-783A-40C8-9D81-D6EE4F1F257E/2016-08-08_14-32-13
[log-2016-08-08_13-24-49.txt](https://github.com/docker/for-win/files/406194/log-2016-08-08_13-24-49.txt)

[2016-08-08 08:12] Sebas- commented on #15
@cedseat sure, but keep in mind this is not officially supported in any way or form :)

https://github.com/ambrero/docker-remount/releases

[2016-08-08 10:08] eino-makitalo commented on #27
I fixed my problem with hyper-v console and choosing MobyLinuxVM and right mouse click to update settings to newest. Then it gave warning that it is not running with older version of Hyper-V but after that. I managed to start Docker again.  Situation before:   I updated my Windows 10 to newest version and docker for windows hangs in situation ..."Starting ".  Before update I killed all docker and

[2016-08-08 10:20] Morgy93 commented on #27
I also upgraded the configuration from 7.0 to 8.0 (whatever that means), but no change.
After I removed the VM manually, it gets the 8.0 automatically, but still the same error occurs.
I cannot start the VM within the Hyper-V either:
<img width="305" alt="unbenannt" src="https://cloud.githubusercontent.com/assets/7961978/17476802/33c387c0-5d62-11e6-9047-386b9fa2c466.PNG">
It basically just states

[2016-08-08 12:47] Sebas- commented on #15
@cedseat  you can verify if the remounting works like this:

``

/ # tail -f /mnt/messages
Aug  8 12:45:44 moby kern.info kernel: docker0: port 2(veth05615c9) entered forwarding state
Aug  8 12:45:45 moby user.info KVP: umount: /C and /c
Aug  8 12:45:45 moby user.info KVP: mount: cifs //10.0.75.1/C to /C and /c
Aug  8 12:45:46 moby user.info KVP: umount: /D and /d
Aug  8 12:45:46 moby user.info KV

[2016-08-08 16:46] shairez commented on #27
I reverted back from the windows 10 anniversary update and now it works again.

So it might be a temporary solution for you too, until they'll sort it out.

[2016-08-08 19:25] brighthero opened #30 "Docker simply doesn't start after installation"
### Expected behavior
Docker starts after installation normally

### Actual behavior
Docker is stuck at "Docker is starting..."

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu is not possible, button doesn't seem to be working.

  - Log file excerpt:
[code]
The program then gets stuck after that and nothing happens (waited for 30 mins)

[log-2016-08-08_21-15-05.txt](http

[2016-08-08 20:11] rneugeba commented on #27
In general, several of us run the anniversary update (including WSL) and we do test releases on it as well and we haven't seen any issues. So we are curious to get to the bottom of this.

@Morgy93 when you say "Upgraded configuration from 7.0 to 8.0" what do you mean?

[2016-08-08 20:13] friism commented on #27
![image](https://cloud.githubusercontent.com/assets/126104/17494509/d95f6012-5d69-11e6-80b7-c3b98ae64bf7.png)

@rneugeba I suspect it's the Hyper-V VM configuration version

[2016-08-08 20:43] NicoTexas opened #31 "VPNKIT restarting in middle of pull"
### Expected behavior
Being able to pull images
### Actual behavior
When downloading big images from a local registry (Artifactory 4.11) the pull stops randomly, sometimes shortly after I started the pull, sometimes after few minutes (image is 8.5GB).
I am able to pull smaller images from Artifactory.
### Information
  - Diagnostic ID
EFE1F7F6-7085-4DAD-895D-849B3227EBCC/2016-08-08_15-33-53
  - ho

[2016-08-08 21:24] dsperling commented on #27
I was finally able to get the 'stable' release running on 1607 on a PC that previous failures.  Here are the steps I used.

1. Download the Docker for Windows 'stable' installer
2. Disconnect the PC from local networking
3. Uninstall any previous Docker version and ensure no VM's are listed in the Hyper-V Manager
4. Install Docker for Windows 'stable'
5. The last step allows you to launch Docker.

[2016-08-08 21:48] technivore commented on #25
I am affected by this issue as well. I log into my machine with a domain account (username = "mtr932") and when I use that account's credentials to share the C: drive (specifying them in "domain\username" format) and then run the command in the "shared drives" dialog, I see this:
[code]
If I create a local administrator on the machine and use those credentials instead to share the C: drive, I see

[2016-08-09 06:01] Morgy93 commented on #27
@rneugeba Yeah, that what @friism said. :grin:

[2016-08-09 09:26] PetaPetaPeta commented on #28
I have found that the following makes Docker start:

1.  Start Docker for Windows
2. Put computer to sleep for about 8 hours
3. Start computer again
4. Docker will now start up and it is possible to connect to the service, but the tray  says Docker is runnig
5. Put computer to sleep for about 8 hours
6. Start computer again
7. Docker now runs as expected

This heavily indicates some timeout issue.

[2016-08-09 09:28] PetaPetaPeta commented on #27
I seem to have some of the same issues. Should #28  and this be merged into one?

[2016-08-09 10:47] rneugeba commented on #28
I'm a little confused about what the issue is here: The initial report is about Windows 10 pro build 10586 (or 1511 release) and the logs form the third comment suggest this is for Windows 10 Pro build 14393 (or 1607 release). Furthermore, the logs in the third comment suggest that the application started fine.

Also, if you have an issue, could you please use the `Upload diagnostic...` in the `Di

[2016-08-09 15:15] PetaPetaPeta commented on #28
I updated the Windows version between the first and the second comment in order to see if that solved the issue. It did not.
With regards to the log in the third comment. Look at the difference in time between line 12 and 13. The As I mentioned in comment number 4 Docker only starts after a number of hours. During those hours the application attempts to send the seemingly same request to the same

[2016-08-09 16:29] Senegura commented on #24
Fixed DNS server don't solve my problem. I am always get Network timed out while trying to connect to ... You may want to check your internet connection or if you are behind a proxy.

[2016-08-09 17:01] dsperling commented on #27
@PetaPetaPeta I agree that the issue I am seeing matches #28.  However the original issue that @sdevane reported is a different issue in MobyLinuxVM:

`'MobyLinuxVM' failed to start worker process: The process terminated unexpectedly.
`

So I suggest we keep #28 for the issue we are seeing #27 reflects @sdevane original issue.

[2016-08-09 17:11] dsperling commented on #28
I have an easy workaround for this problem so users seeing this issue can run Docker 'stable' on Windows 1607.

1.  Install Docker 'stable'
2. Ensure the checkbox on the last screen is checked so that Docker is launched after the install.
3.  You will not see the Docker tray, but if you look at Task Manager, "Docker for Windows.exe" is running.
4.  Pull out your network cable
5.  Docker tray appea

[2016-08-09 17:32] Morgy93 commented on #27
I guess I tried almost everything possible related to network stuff.
But I can even remove the network switch and network adapter within the VM and it fails to start with the same error as before.
So I'd assume that it's not directly an issue with the network stuff for the VM to fail booting.

Even though I reported thousands of crash reports already, here's the latest one: EF5CEE54-6553-4655-A810

[2016-08-09 17:40] Morgy93 commented on #27
There seem to be other people out there who are having the same issue, probably using some whole different VM: https://social.technet.microsoft.com/Forums/en-US/a539273e-d80e-4dcb-993a-5b1dd0935728/vm-not-starting?forum=virtualserver
So maybe this has nothing to do with docker at all?!

[2016-08-09 18:07] Morgy93 commented on #27
I'm sure now. I tried the HoloLens emulator and Windows Phone emulator from Visual Studio 2015 (I used the Windows Phone emulator before and it always worked fine) and both VM fail to start with the same error as the docker VM.

So I'm creating a new thread over here: https://social.technet.microsoft.com/Forums/windows/en-US/home?forum=win10itprovirt

[2016-08-09 18:51] PetaPetaPeta commented on #28
I can confirm that fix proposed by dsperling works with a wireless adapter as well. All you have to do is go into your adapters and enable/disable a couple of times.

@dsperling: The issue is also present in an earlier version of Windows, namely the one mentioned in the original comment.

[2016-08-09 18:52] PetaPetaPeta commented on #27
Temporary fix proposed here(https://github.com/docker/for-win/issues/28#issuecomment-238622233) solves the starting of a VM for me.

[2016-08-10 03:24] myfriend12 commented on #28
I am having the same issue with a fresh install of docker and I am completely lost. I keep getting the following error. I have tried to re-install docker, remove everything, but nothing works.

Attached are the log files. Anyone have any idea because I am lost. Below are the versions I am running:

[logs.txt](https://github.com/docker/for-win/files/410264/logs.txt)

[2016-08-10 05:42] myfriend12 commented on #27
I am having the same issue with a fresh install of docker and I am completely lost. I keep getting the following error. I have tried to re-install docker, remove everything, but nothing works.

Attached are the log files. Anyone have any idea because I am lost. Below are the versions I am running:

[logs.txt](https://github.com/docker/for-win/files/410264/logs.txt)

[2016-08-10 07:28] swissgrammie opened #32 "Volume not writable in windows"
### Expected behavior
be able to write to a volume in windows.
### Actual behavior
no write privilege

### Information

E9C6CB2E-BD24-4E1B-9A89-F55DD8093E0B/2016-08-10_09-19-31

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows

[2016-08-10 08:00] swissgrammie commented on #32
moved to 1.12.0-stable (build 5968) and now I dont even get access to the directory

[09:55:59.854][SambaShare     ][Info   ] "C" is shared
[09:55:59.859][SambaShare     ][Info   ] Challenging credentials with host
[09:55:59.927][SambaShare     ][Info   ] Challenging credentials with host succeeded
[09:55:59.938][NamedPipeClient][Info   ] Received response for TryShare
[09:55:59.933][NamedPipeServ

[2016-08-10 08:58] derfalx opened #33 "Failed to create VM MobyLinuxVM on Win 10 - invalid amount of arguments"
### Expected behavior
Docker should start

### Actual behavior
Docker does not start

### Information

Diagnostic ID: E0BC3065-6B9C-4BB1-83EF-966436C17D7A/2016-08-10_10-46-01

I'm getting this error, after starting my computer this morning.
OS: Latest Win 10 Pro Version (Version: 1607 Build: 1493.10)
Architecture: x64

The following Stacktrace is shown to me:
[code]

Logfile: [log-2016-08-10_10-14

[2016-08-10 11:08] abuechler commented on #23
Same here reproduced with:

* Windows 10
* Proxy CA certificate configured on Windows
* Proxy (with user and password) configured in Docker Settings

[code]

[2016-08-10 13:33] ftheodule opened #34 "Problem (Unable to remove from the database. Exit code: 1) lauching docker Stable in a Windows 10 pro virtual machine (installed on the VirtualBox Hypervisor)"
- Diagnostic ID from "Diagnose & Feedback" in the menu.
B09AF01B-E38D-4EF5-8248-2BBFFC3539E4/2016-08-10_15-08-45
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

This problem is reproductible; logs tell :
Failed to set up server socket listening on "hyperv

[2016-08-10 21:26] cedseat commented on #15
Thanks! Where did you found the *.cs source codes?

[2016-08-10 21:31] Sebas- commented on #15
Nowhere, look at the top of the cs files.

Just lucky that the application is so well set up (code wise), they are doing a good job with it, and I believe that it will be sourced eventually.

[2016-08-10 21:36] cedseat commented on #15
Excellent 😉

[2016-08-10 21:55] justincormack commented on #15
@Sebas it will work if you compile with `-DLARGEFILE_SOURCE _FILE_OFFSET_BITS=64` this is how Debian compiles everything which is why it works.

[2016-08-11 05:06] ndj888 opened #35 "The run -v don't work in Win10"
I use "docker run -v" mount windows folder  , it's successful ,but I ls the Dir , it's empty.
This is my docker for Win10 version and docker info :
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:

[2016-08-11 05:10] ndj888 commented on #35
I to close RAV  try , but problem is not solved.

[2016-08-11 05:35] kukjevov commented on #17
I have same problem.

It looks like problem of Windows 10 Redstone 1 update (build 14393) with combination of latest stable docker version.

I have enabled windows features like "Containers", "Hyper-V" and "Windows subsystem for linux (beta)".
I have restarted computer. I tried to reinstall docker, reset to factory defaults.

Nothing helped.

And according this it looks like problem of Redstone 1.

[2016-08-11 05:36] gcristofol commented on #35
Same here,
A diagnostic was uploaded with id: 06AA63FB-3E00-4EEC-ADC1-74042CE4B7AA/2016-08-11_17-34-57

[2016-08-11 09:47] rneugeba commented on #35
Thanks for the reports. We discovered an issue with how we handle passwords and some passwords with some non alphanumeric characters won't work (examples characters are `;`, `"`, `,`, `*`). If your password contained some of these, the sharing may not work.

Do you have some of these special characters in your password?

We do have a fix for this and will push it out on the beta channel as Beta22

[2016-08-11 10:08] rneugeba commented on #34
Thank you for your report. Unfortunately we not support running Docker for Windows in a Windows 10 Pro VM. Docker for Windows relies on Hyper-V which in turn requires hardware virtualisation support. If you run Windows 10 In a VM, your Hypervisor (Virtual Box in your case) must support a feature called nested virtualisation, which is very hard to get working correctly. According to [this issue](ht

[2016-08-11 10:08] #34 closed

[2016-08-11 10:33] rneugeba commented on #33
Thank you for your report. I don't think we have seen this error before and it's kinda weird. Could you try executing this commands on an elevated powershell:
[code]
Thanks

[2016-08-11 12:19] rneugeba commented on #32
Thanks for the reports. We discovered an issue with how we handle passwords and some passwords with some non alphanumeric characters won't work (examples characters are ;, ", ,, *). If your password contained some of these, the sharing may not work.

Do you have some of these special characters in your password?

We do have a fix for this and will push it out on the beta channel as Beta22 very soo

[2016-08-11 12:37] rneugeba commented on #31
Hi @NicoTexas thank you for your report. How do you determine that the pull is hung? When the system is in the state, can you from another terminal windows still pull smaller images?

[2016-08-11 12:46] rneugeba commented on #30
Thanks for your your report. I see the following in the logs:
[code]
which does not look good. I also noticed that you are on Windows build 14393 which, while it work ok for us, some other users reported issues, in particular on #27 it was reported that potentially VMs created on the previous released build (10586) may not work.

Could you try and install and install the application again.
Thanks

[2016-08-11 13:02] rneugeba commented on #29
Hi @roukmoute. Thanks for your report. In general using `/tmp` works:
[code]
Maybe your application (Symfony) also uses `/tmp` and it clashes.

Closing this for now, please re-open if there is still an issue.

[2016-08-11 13:02] #29 closed

[2016-08-11 13:35] rneugeba commented on #28
@PetaPetaPeta @dsperling thanks for the update/details. We will release a Beta22 on the beta channel shortly (hopefully sometime today) and it has some improvements to the mixpanel code. Since we can easily reproduce the issue you are seeing it would be great if you could give the new Beta a try once it is out and report back. If the issue is still there we'll look into it more.

Thanks

[2016-08-11 14:55] friism commented on #15
@cedseat what problem are you encountering with the default mount options? Is it also related to custom-build PHP, or something else?

[2016-08-11 15:01] ndj888 commented on #35
Yes, I am so happy to test the new version,Some suggestions, but don't know is properly.
My PC using WIN10 system and using Microsoft user to login , win8 ago us to local user to login system , look ,it's differently.

[2016-08-11 15:10] ndj888 commented on #35
@rneugeba My password is easy, Oh , using capital letter , so maybe is another problem.

[2016-08-11 16:43] friism commented on #35
The fix to address the password bug was pushed today, please update to the latest beta: https://download.docker.com/win/beta/1.12.0.6313/NOTES

[2016-08-11 16:44] friism commented on #32
The fixed was pushed earlier, please give it a try: https://download.docker.com/win/beta/1.12.0.6313/NOTES

[2016-08-11 16:46] friism commented on #26
Hm, is your host using a proxy?

[2016-08-11 16:53] friism commented on #3
@adithep we want using Docker to be a consistent experience across platforms, and we want running Docker containers to feel like running any other app.

I'm closing this issue for now, feel free to follow up if you have concerns.

[2016-08-11 16:53] #3 closed

[2016-08-11 17:35] dsperling commented on #28
@rneugeba  looks like Beta 22 fixes this issue on my PC.

Note:  This was tested with 1607 + the Cumulative Update for 1607 (KB3176495) which was released August 10.

[2016-08-11 18:00] Sebas- commented on #15
@justincormack Looks like that works, updating the app container tomorrow, thanks!
I would probably not have figured that one out within the time I have :)

[2016-08-11 19:04] oscarpicasso-intact commented on #26
The host uses a proxy and I configured Docker to use it. Before doing the configuration for the proxy I add another error:

[code]

[2016-08-11 21:20] derfalx commented on #33
It returns `2`.

I took a look into Hyper-V-Manager, it shows two virtual computer. Both are MobyLinuxVM with configurationversion 8.0 and 2048MB starting storage. Is it normal to have two virtual computer?

[2016-08-11 21:36] rneugeba commented on #33
Ah, two VMs. That's no good. Someone else has reported this as well, but we have no idea how this happens (windows is sometimes weird like this). In the upcoming Beta22 we guard against this, but for now can you please exit the app, delete both of them in Hyper-V Manager or via powershell, and try starting the app again?
Thanks

[2016-08-12 01:14] ndj888 commented on #35
@friism Can't download the beta.

[2016-08-12 07:05] rneugeba commented on #35
@ndj888 apologies, but we had to pull the beta22 because some users experienced issues with the update process. It'll be live once we fixed it.

[2016-08-12 08:03] cedseat commented on #15
The problem is here : https://github.com/docker/docker/issues/24837
@Sebas why do you delete your github repo? https://github.com/ambrero/docker-remount/releases

[2016-08-12 08:43] hofsa opened #36 "Login to internal docker registry with self-signed Server-Certificate fails"
### Expected behavior
When trying to login to an internal docker registry with:
docker login registry.isc.ejpd.admin.ch
Expected successful login acknowledged with the message
"Login Succeeded"
The exact same command run successfully from a Linux host.

### Actual behavior
Login fails with:
"Error response from daemon: Get https://registry.isc.ejpd.admin.ch:5000/v1/users/: x509: certificate signed

[2016-08-12 09:27] Sebas- commented on #15
@cedseat request by docker, github/docker does not allow decompiled code to be put in a public repository.

assuming you made local checkout or downloaded the zip?

[2016-08-12 09:57] derfalx commented on #33
Deleting both virtual computer helped! Now Docker is working again.
Thank you for your help!

[2016-08-12 10:09] rneugeba commented on #33
@derfalx thanks for reporting back and glad it is working for you now. Closing this issue

[2016-08-12 10:09] #33 closed

[2016-08-12 12:03] hofsa commented on #36
### Workaround
I was able to skip certificate-validation using the "insecure-registries" - option for the docker daemon:

[code]
`docker login registry.isc.ejpd.admin.ch` works now as expected.

[2016-08-12 13:46] saule1508 commented on #24
I just installed docker, then I had this error. I switched to fixed DNS (8.8.8.8) and it solved the problem. Then I reverted the setting (removed the fixed DNS) and it keeps working.
I found the solution here: http://stackoverflow.com/questions/31990757/network-timed-out-while-trying-to-connect-to-https-index-docker-io

[2016-08-12 17:07] oscarpicasso-intact commented on #26
After some more tests, I got the following results:

- If the internal docker registry host is added on the exclusion list of the proxy, I get the timeout error
 `Error response from daemon: Get https://docker-rep.dep.ca.inet:18443/v1/users/: dial tcp: lookup docker-rep.dep.ca.inet on 192.168.65.3:53: read udp 192.168.65.2:45051->192.168.65.3:53: i/o timeout`

[2016-08-13 18:38] swissgrammie commented on #32
well the release notes are there but even when i uninstall docker and then
reinstall from the download beta i still get the beta21 version.

On Thu, Aug 11, 2016 at 6:44 PM, Michael Friis <notifications@github.com>
wrote:

--
Graham Cunningham
Tel  : +41 26 401 4049

[2016-08-13 18:51] toddlucas opened #37 "Unable to connect to docker host from within a container"
### Expected behavior

I would like to connect my dockerized app to ports on my local host, to use development databases, etc.
### Actual behavior

I am unable to make any connection to the docker host, either using the container's IP or the gateway IP (e.g. 172.17.0.1).
### Information

Docker version 1.12.0, build 8eab29e

I also attempted to create a dedicated bridge subnet using `docker networ

[2016-08-13 19:55] rneugeba commented on #32
@swissgrammie unfortunately we had to pull the release last minute as we discovered an issue with the auto-update. This issue is now fixed and we are planning another beta release early next week. Apologies for the delay

[2016-08-15 15:59] pkonovalov-softheme opened #38 "After adding "DOCKER_TLS_VERIFY": false to docker daemon configuration file can't start docker"
### Expected behavior
I want to disable DOCKER_TLS_VERIFY by adding "DOCKER_TLS_VERIFY": false to docker daemon configuration file
### Actual behavior
Dacker failed to start
### Information
Win10 ver 1607
Docker 1.12: 5968

[2016-08-15 16:40] rneugeba commented on #38
`DOCKER_TLS_VERIFY` is a environment variable and not a docker daemon config file options. See: https://docs.docker.com/engine/reference/commandline/dockerd/#/daemon-configuration-file for the documentation. I suspect you might want to use `"tlsverify": false,`

[2016-08-16 10:15] pkonovalov-softheme commented on #38
[log-2016-08-15_16-53-40.zip](https://github.com/docker/for-win/files/419967/log-2016-08-15_16-53-40.zip)

The same with "tlsverify": false.  Docker can't not start any more. Typically when the user input incorrect value program just returs message to the user and ignore that setting, not fail to start.

Other issue, if "tlsverify": false not working - wow can I disable tls verification win window

[2016-08-16 14:23] anusornc commented on #27
report
[log-2016-08-16_21-18-18.txt](https://github.com/docker/for-win/files/420454/log-2016-08-16_21-18-18.txt)
id = 5A0795B3-B950-4CC3-B296-F392FD31D7B2/2016-08-16_21-19-47

The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Hyper-V encountered an error trying to access an object on computer 'AJ' because the object was not foun

[2016-08-16 17:48] rneugeba commented on #38
Ah, it turns out that if you specify `"tlsverify": false` to the config file, the daemon expects `tlscert` and `tlskey` to be set as well.

Stepping back, what is the issue you are trying to solve?

[2016-08-16 17:51] rneugeba commented on #27
@anusornc in your case it looks like the user running the app may not be a local administrator. You have to be a local administrator to manage Hyper-V VMs.

[2016-08-16 18:58] pkonovalov-softheme commented on #38
I want do disable tls verification because PyCharm(Python IDE) when i want to connect remotly to container using docker API see that DOCKER_TLS_VEROFY is true but DOCKER_CERT_PATH doesn't exits and fails to connect. I want to solve this.

[2016-08-17 00:18] ptrewhella opened #39 "chown has no affect for mounted volumes"
### Expected behavior

Directory owner can be changed with chown within the container for mounted volumes.
### Actual behavior

Using chown within the container for a mounted volume does nothing.
### Information
- Diagnostic ID from "Diagnose & Feedback" in the menu.
- Windows 10 Pro, Docker 1.12.0-beta21 (build 5971) - also tried stable release
### Steps to reproduce the behavior
1. C:\Users\sote

[2016-08-17 00:24] ptrewhella commented on #39
Here is a similar command executed on my Mac. Notice the owner is changed to postgres:postgres.

iridium:rt ptrewhella$ docker run --rm -v /Users/ptrewhella/data:/var/lib/postgresql/data postgres /bin/bash -c "chown postgres:postgres /var/lib/postgresql/data && ls -lh /var/lib/postgresql"
total 512
drwxr-xr-x 2 postgres postgres 68 Aug 17 00:23 data
iridium:rt ptrewhella$

[2016-08-17 07:38] samuelkdavis opened #40 "Network timed out when trying to connect to dockerhub.io"
Execute run hello-world in a 'docker for windows' environment.
### Expected behavior
Unable to find the image locally, so downloads from dockerhub
### Actual behavior
Network times out consistently

docker run hello-world
Unable to find image 'hello-world:latest' locally
Pulling repository docker.io/library/hello-world
docker: Network timed out while trying to connect to https://index.docker.io/v1

[2016-08-17 07:39] samuelkdavis commented on #40
Attached logs

[logs.txt](https://github.com/docker/for-win/files/421978/logs.txt)

[2016-08-17 08:01] Jaykul opened #41 "Once stopped, service won't restart cleanly"
When I stop the docker service for any reason and then restart it later, it doesn't restart cleanly, so I have to use the "Restart Docker..." button in the GUI

That is, here's my test case:
[code]

### Expected behavior

I should be able to stop the docker service, and start it again later, and use it:

### Actual behavior
[code]

### Information

A diagnostic was uploaded with id: 26E1532F-8294-

[2016-08-17 08:30] samuelkdavis commented on #40
I tried this 3 times earlier, but it seems the 4th time + some unknown fiddling seems to have made it work. Changing the DNS to 8.8.8.8 did nothing for me earlier, but is working now.

![image](https://cloud.githubusercontent.com/assets/6887841/17729576/f1854804-64b8-11e6-8fde-9d9772517666.png)

Earlier I tried setting the network to internal and sharing the internet connection, but in it's curren

[2016-08-17 11:15] rneugeba commented on #41
Thanks for the report. Out of curiosity, why do you want to stop the service? When the app is not running it shouldn't consume many resources.

[2016-08-17 11:17] rneugeba commented on #35
The beta is now out and downloadable from https://download.docker.com/win/beta/InstallDocker.msi

It would great if you could try it and let us know if it fixed your issue.

Thanks
Rolf

[2016-08-17 11:21] rneugeba commented on #32
The beta is now out and downloadable from https://download.docker.com/win/beta/InstallDocker.msi

It would great if you could try it and let us know if it fixed your issue.

Thanks
Rolf

[2016-08-17 11:23] rneugeba commented on #28
Closing as the Beta22 seems to fix the issue. Note that Beat23 is out, but, unfortunately, due to a bug in the autoupdater, requires manual installation from https://download.docker.com/win/beta/InstallDocker.msi

[2016-08-17 11:23] #28 closed

[2016-08-17 11:25] rneugeba commented on #25
Thanks for all the reports and details. We have just released Beta23, which has significant fixes to the way the volume mounts are implemented. It would be great if you could try it and report back if it fixes the issue with volume mounts.

You can download the Beta from here: https://download.docker.com/win/beta/InstallDocker.msi

Thanks
Rolf

[2016-08-17 12:12] swissgrammie commented on #32
Hi,

just tried it, clean install with a reboot in between, no change, still
problems with accessing the volumes. I tried creating a local admin user
"docker" with an 8 character password and the same problem.
docker run --rm -v c:/Users:/data alpine ls /data

simply returns, nothing is displayed. The windows user i am using is an
admin.  and if i change the run command slightly
docker run --rm -v

[2016-08-17 13:04] rneugeba commented on #13
For those experiencing long delays during start, could you check out Beta23 from here: https://download.docker.com/win/beta/InstallDocker.msi

We made some changes to the Mixpanel integration and hopefully it shouldn't delay startup anymore.

We'd be interested to hear if Beta23 fixes the issue.

Thanks
Rolf

[2016-08-17 13:21] rneugeba commented on #40
Hi @samuelkdavis thanks for the report and glad it is now working for you. From the logs, it's clear that the issue was related to DNS but it's hard to tell exactly what based on the logs alone. I'm closing this issue for now, but if it happens again, please re-open. Also, if it happens again, it would be great if you could got to `Diagnose & Feedback` and `Upload a diagnostic...` as this would pr

[2016-08-17 13:21] #40 closed

[2016-08-17 13:24] rneugeba commented on #32
@swissgrammie thanks for getting back to us so quickly. Could you got to `Diagnostics & Feedback` and upload a diagnostics report for us to take a look at? We'd need the diagnostics ID printed out.
thanks
rolf

[2016-08-17 13:59] swissgrammie commented on #32
3086D4E4-A0C7-4566-B101-2EEB1A64DA21/2016-08-17_15-57-46

On Wed, Aug 17, 2016 at 3:24 PM, Rolf Neugebauer <notifications@github.com>
wrote:

--
Graham Cunningham
Tel  : +41 26 401 4049

[2016-08-17 14:28] rneugeba commented on #32
Hi Graham,
thanks again for the quick response. I took a look at the logs. The shared drive is not mounted inside the Linux VM. The mount failed with:
[code]
I'm not entirely sure what that error is, but I noticed something else in the logs, which might help. If you do a `net share C`, from the logs it looks like it is shared with two users (`Administrator` and `Graham`). This could be the source

[2016-08-17 14:33] technivore commented on #25
I have uninstalled the stable and installed the new beta and I still have the same problem. In fact it now appears to be worse because I cannot mount any folders at all, whereas before I could at least mount folders in the root of my C: drive.

I have tried a local administrator account (with a simple alphanumeric password), my domain account (in domain\username format), and my domain account in j

[2016-08-17 14:54] rneugeba commented on #25
@technivore Beta23 should support spaces, and pretty much any character from UTF-8 range (that was the fix mentioned in the changelog). So unfortunately, there still seems to be another issue.

There isn't anything strange happening in the sense, that the subdirectories are there as mountpoints from the previous volume share. So if you first to `-v C:\:/tmp` and it fails, then `-v C:\Users:/tmp` a

[2016-08-17 15:16] technivore commented on #25
@rneugeba I don't know of any non-default authentication set up on my system. File and printer sharing is enabled for private networks but other than that I don't know what to look for. I'm on Win10 enterprise and joined to a domain. Please let me know what I can do to help troubleshoot; I really want to get this working and not have to go back to Docker Toolbox!

[2016-08-17 15:20] rneugeba commented on #25
@technivore thanks for getting back. domains users is one of the things we don't test regularly as we don't have AD setup (we do now test with strange passwords, live accounts etc). Look like I have to bite the bullet and set up AD somewhere soon.

[2016-08-17 15:30] technivore commented on #25
@rneugeba According to the mount.cifs man page there is a separate `domain` argument. Maybe the sharing credentials form needs to prompt for the (optional) domain or at least parse it out of the username input (if specified as domain\username or username@domain) and specify it in the mount command?

[2016-08-17 15:52] rneugeba commented on #25
@technivore we do parse and handle the domain and username part and pass it to the CIFS mount. Also, AFAIK, we have user with domain accounts where it is working.

[2016-08-17 16:06] mablae opened #42 "Issues with Teredo IPv6 Tunneling after installing"
### Expected behavior
Xbox One App Chats should work. Maybe Skype is also affected as they use the same network stack.

### Actual behavior
When Docker is installed the Xbox App Chat (Party) is not able to connect anymore, none the less the
teredo status shows that everything is fine: `type: qualified`

Disabling the `Hyper-V` network interfaces solved the issue for me.

### Information

Windows 1

[2016-08-17 18:47] Jaykul commented on #41
That is a *great* question @rneugeba 😄

I'm new, and I haven't figured out how to get _both_ the Linux Container Server service and the [Windows one](https://master.dockerproject.org/windows/amd64/dockerd.exe) to work simultaneously -- they both want to use the same pipe address for communication...

[2016-08-17 19:10] technivore commented on #25
Just a further update, if I specify the credentials in `domain\username` format for my *local* user (that is, `machine-name\username`) then I can once again mount volumes outside C:\Users at least. Thank you for your attention on this issue.

[2016-08-17 19:21] rneugeba commented on #41
@Jaykul making WIndows containers and Docker for Windows work easily together is definitely something we are working on. But before that is done you can run them side by side as described by @friism in this forum post: https://forums.docker.com/t/linux-and-windows-images-side-by-side/20518

It's a little pedestrian for now, but please let me know if this works for now.

[2016-08-17 19:22] technivore commented on #25
Another update: I explicitly granted full access for the local administrator user to my domain account's home directory (C:\Users\mtr932), rather than just relying on the fact that the local administrators group should have had full access. And now it works -- using local administrator credentials (in `machine-name\username` format), and explicitly granting that user full access to my user directo

[2016-08-17 19:27] rneugeba commented on #25
Hi Mathew, thanks for the info. Glad that you got unblocked. I'll close this issue for now, but update our internal tracking issue for AD users with the info you provided. We certainly should provided a smoother experience for these scenarios.

[2016-08-17 19:34] rneugeba commented on #25
re-opening as i just realised that there are a whole bunch of other users with different issues on this issue.

[2016-08-17 19:55] Jaykul commented on #41
That's very helpful, thanks ... I was looking for that `-H` syntax, but got distracted reading about `runtimes` in the [configuration](https://docs.docker.com/engine/reference/commandline/dockerd/#/docker-runtime-execution-options) (which I now see aren't even available on Windows).

Much to learn.

[2016-08-17 19:59] l8nite opened #43 "DNS resolution issues with AnyConnect VPN with Split-DNS"
### Expected behavior

Expect "google.com" to resolve while connected to VPN

### Actual behavior

"google.com" does not resolve while connected to VPN

### Information

  - Diagnostic ID: D90C5FE2-32AC-486E-AB8E-EF1EF4E0036E/2016-08-17_12-45-07
  - Windows 10 Enterprise 10511 (Build 10586.545)
  - Docker for Windows Beta

### Steps to reproduce the behavior

  1. Connect to AnyConnect VPN with sp

[2016-08-17 22:59] ProCynic commented on #25
hey @rneugeba, just wanted to report that I switched to the beta and volume mounting works fine, even when my password includes special characters.  Looks like that particular issue is solved.

[2016-08-17 23:33] rneugeba commented on #25
@ProCynic great! thanks for reporting back

[2016-08-18 01:47] fariazz opened #44 "Doc mentions non-existing feature"
The [documentation](https://docs.docker.com/docker-for-windows/) says:

There doesn't seem to be any option for that in the Settings section.

[2016-08-18 01:49] #44 closed

[2016-08-18 07:54] juherr opened #45 "Unable to start: The VM couldn't get an IP address after 60 tries"
### Expected behavior
Upgrade and start.
Or provide a better message in case of issue.

### Actual behavior
First, I tried the auto update which failed without any message (docker didn't start or started with the previous version).
Then, I tried a manual update which worked well but at the start I received:

[code]

### Information

  - Diagnostic ID: 63FC49AC-136A-4694-8FC1-E651A239AEE3/2016-08-1

[2016-08-18 09:33] rneugeba commented on #41
FYI, you need to start `dockerd` from an elevated prompt, but you connected to it via `-H` from a normal user if you pass ` -G <your user name>` as the `dockerd` command line argument.

Closing this issue for now

[2016-08-18 09:33] #41 closed

[2016-08-18 10:13] rneugeba commented on #45
@juherr Thanks for your report.I tried to reproduce and added `127.0.0.1 docker.local` to `C:\Windows\System32\drivers\etc\hosts` and I could start The app just fine. Did you change anything else?

[2016-08-18 10:19] rneugeba commented on #43
@l8nite Thanks for your detailed report and analysis. You are correct, we intercept DNS query and currently only forward it to one (the first) DNS server. We are working on fixing this

[2016-08-18 11:28] juherr commented on #45
@rneugeba Maybe the fix didn't fix. I've just added the configuration in my host again, and docker is running now.

[2016-08-18 13:28] rneugeba commented on #45
Thanks for getting back to me. I'm closing this issue as it seems to have fixed itself for you. We still have a related issue (#17) open in any case.

[2016-08-18 13:28] #45 closed

[2016-08-18 13:34] rneugeba commented on #27
For those who still experience this issue, could you try un-installing and then install the latest Beta (Beta23) from here: https://download.docker.com/win/beta/InstallDocker.msi

We made some significant changes to the way the VM is created/started but also improved the diagnostics so it would be useful for us to know if this issue is resolved.
Thanks
Rolf

[2016-08-18 15:09] Jaykul commented on #41
I don't think you should close it. The problem is real, and ought to be
fixed. I shouldn't need to rely on the desktop app to restart docker (and
the fact that the desktop app has a button to do so is enough argument that
this functionality is needed).

On Thu, Aug 18, 2016, 5:33 AM Rolf Neugebauer <notifications@github.com>
wrote:

[2016-08-18 16:03] Rhynier commented on #24
None of the advice above worked for me either. I am running Windows 10 Enterprise version 1511, build 10586.545. Uploaded diagnostic with ID AFCCE8AA-DEFB-4046-93FD-68B40FF3D9D8/2016-08-18_08-55-33.

[2016-08-18 22:56] sanseihappa opened #46 "Getting `ln: failed to create symbolic link` during dockerized build"
### Expected behavior
When I git clone my source repo
And I run the build of that source inside a container with local file system mounted
Then I expect that the build will work
### Actual behavior
The build is failing with

### Information

  - 1157C837-2963-4A79-A337-A44A61FC8BEF/2016-08-18_15-43-43
  - Windows 10.0.14393

### Steps to reproduce the behavior

In powershell
  1. `git clone <blah>

[2016-08-19 05:30] tomgeorge commented on #27
I have a similar issue.
[code]

Logs for a restart:

[code]

[2016-08-19 07:40] IhorSyerkov commented on #25
If you are login in with domain user like <username>@<company> you'll need change it to <DOMAIN>/<username> in docker setting > shaded drives.

[2016-08-19 08:09] PetaPetaPeta commented on #28
I just installed the latest beta and it solves my issue as well. Thank you very much for fixing this.

[2016-08-19 09:54] rneugeba commented on #46
@sanseihappa thanks for the report. Could you try Beta23 instead of the stable? We added some improvements to the beta for symlink handling. You can get the Beta23 here: https://download.docker.com/win/beta/InstallDocker.msi

Thanks
Rolf

[2016-08-19 10:06] rneugeba commented on #36
@hofsa Thanks for following up. Yes for now, you have to set the insecure registry setting. Unless I misunderstood, this fixes your issue. Closing...please re-open if I misunderstood.

[2016-08-19 10:06] #36 closed

[2016-08-19 10:12] rneugeba commented on #27
@tomgeorge thanks for the report. Could you provide the diagnostics id? Thanks

[2016-08-19 12:48] PetaPetaPeta opened #47 "Can't mount volumes"
### Expected behavior

Using the latest version of the Docker beta the following command should start a container and mount a directory with some files to a folder in the container:
`docker run -it -v terraform/opt busybox`
The files that are located in the terraform-folder on the host machine should also be located in the /opt-folder in the container.

### Actual behavior

There are no files in t

[2016-08-19 13:56] rneugeba commented on #41
I guess, I don't understand what the issue is. When I stop the service and then start the app, it asks me to restart the service and if you select `Start` it starts the service and the app.
![screen shot 2016-08-19 at 14 54 20](https://cloud.githubusercontent.com/assets/3338098/17811984/0c400b60-661d-11e6-996d-354861781978.png)

[2016-08-19 15:11] rneugeba commented on #47
As per the documentation the host source path must be an absolute path: https://docs.docker.com/engine/reference/run/#/volume-shared-filesystems

[2016-08-19 15:56] sanseihappa commented on #46
@rneugeba Yes! The Beta version is working for me and getting past that error!

[2016-08-19 20:01] stephan7878 commented on #30
Encountering this issue on both Windows 10 Version 1511 and Anniversary Edition.
Used both Docker Stable and Beta (22/23)

<pre><code>
Failed to start VM "MobyLinuxVM": 'MobyLinuxVM' failed to start.

Failed to start the virtual machine 'MobyLinuxVM' because one of the Hyper-V components is not running.

'MobyLinuxVM' failed to start. (Virtual machine ID D8D9797C-4500-48F7-A128-940D8AB93E9B)

The

[2016-08-19 20:46] tomgeorge commented on #27
@rneugeba do you mean the crash report id?  if so, one you can reference is:

8e3a687d-9c88-4adc-8572-2630686aad6b

Also, I have a few more pieces of info for you.  Here's my current docker version (I have tried stable and beta):

![dockerversion](https://cloud.githubusercontent.com/assets/1291508/17823685/c1ea7758-662b-11e6-8be9-a2a82ae6324b.png)

And looking through the event viewer in windows,

[2016-08-20 12:02] bbodenmiller commented on #26
Based on https://github.com/docker/for-win/issues/36, looks like you must mark your registry as insecure but it does look like you have other problems as well.

[2016-08-20 12:12] bbodenmiller opened #48 "Allow user to add custom Certificate Authorities"
### Expected behavior

I should be able to use a registry signed by a custom Certificate Authority without having to register it as insecure.

### Actual behavior

When attempting to use a registry signed by a custom Certificate Authority Docker for Windows returns a `x509: certificate signed by unknown authority` error. Only workaround is to register registry as insecure.

Related to https://gith

[2016-08-20 12:31] bbodenmiller opened #49 "Open source Docker for Windows documentation"
It appears the source of https://docs.docker.com/docker-for-windows/ is not on GitHub. Could that be open sourced so we can suggest improvements?

[2016-08-20 15:45] myfriend12 commented on #27
Mine also still does not start running the new beta. I also reset docker to default settings and still nothing.

[code]

Diagnostic ID - 29B832CD-87FF-4E78-9985-50BAB90BABD7/2016-08-20_08-44-06

[2016-08-20 22:12] michaelwiller opened #50 "SOLVED: Mounting directories on Windows 10 do not seem to work"
docker run --rm -v c:/Users/michael:/data alpine ls -la /data

### Expected behavior
List of C:\Users\michael
![ls](https://cloud.githubusercontent.com/assets/7422395/17834097/1b591234-6732-11e6-836e-1c7bf1bd307f.PNG)

### Actual behavior
Only showing "." and "..".

![ls](https://cloud.githubusercontent.com/assets/7422395/17834102/3f7c38f8-6732-11e6-8691-afd975f57d71.PNG)

### Information

  - Dia

[2016-08-20 22:37] michaelwiller commented on #50
Disabling Norton firewall and auto-protect allows the share to work. Even works with Norton protection reenabled. Restart Docker and the connection is lost again.
I have trust set up for com.docker.proxy, slirp and Docker for Windows.
Q: What traffic do I need to allow through?

[2016-08-21 00:16] michaelwiller commented on #50
I have created a rule in the firewall allowing incoming traffic for TCP/UPD on ports 139,445 on net 10.0.75.0/24. This seems to resolve matters.

Can anyone think of a better way?

[2016-08-21 10:10] yetanotherchris commented on #50
I was having the exact same problem as @michaelwiller but trying to map to a folder on C:

    docker run -it -v /C/Code/Nginx/logstash:/config-dir logstash bash -c "ls /config-dir"

The firewall walls fixed it (along with a Docker restart). I'm not tying it down to an IP.

[2016-08-21 14:31] Morgy93 commented on #27
@rneugeba
This whole issue is not related to docker.
There are several other people around who are facing the exact same issue while not beeing related to docker at all.
Have a look at: https://social.technet.microsoft.com/Forums/windows/en-US/2df51b2d-18d3-463e-8fe5-3517bfb2950f/vm-failed-to-start-worker-process-the-process-terminated-unexpectedly?forum=win10itprovirt

We obviously need to wait f

[2016-08-21 16:27] Jaykul commented on #41
Yes. And if you *only start it that way* it works. But it *only works* if you start it with the systray app. If you follow the steps in the original post, and

[code]

When you look in the app, it will think everything is fine ... but if you try commands like `docker version`, you'll just get errors. You end up having to use the Systray app to `restart` it to get it working again.

[2016-08-21 16:47] Morgy93 commented on #27
I can't believe it - I found a solution to this.

I was using "COMODO Internet Security Pro" as my 3rd party firewall, anti virus, sandbox and whatsoever program - after I removed it completely and rebooted my pc, all of my Hyper-V VM are working again - including docker of course.
I also reported this [here](https://social.technet.microsoft.com/Forums/windows/en-US/2df51b2d-18d3-463e-8fe5-3517bfb

[2016-08-21 17:11] Morgy93 commented on #27
Fun thing .. it's already reported on the official COMODO forums and they're aware of it: https://forums.comodo.com/bug-reports-cis/comodo-firewall-began-conflict-with-hyperv-t116351.0.html

[2016-08-21 17:17] tomgeorge commented on #27
@Morgy93 @rneugeba I can confirm that removing COMODO and restarting fixed my issue.  I had to also set the DNS servers in the docker settings window to be fixed at 8.8.8.8.  Woo!!

[code]

[2016-08-21 18:12] michaelwiller commented on #50
Glad I could help :)
This is why I left it open. Closing the issue and prefixing with "SOLVED:"

[2016-08-21 18:12] #50 closed

[2016-08-22 00:57] derekssmith opened #51 "DNS resolution does not work for built services in docker-compose."
I have a docker compose file that is a mix of image based services and built services (using build).  When I run the `docker-compose up` on my Ubuntu linux box everything works properly.  However running `docker-compose up` on my WIndows 10 box my built services can't perform name resolution to the image based services.
### Expected behavior

I have a Zookeeper (zoo1) service, Kafka (streams1), an

[2016-08-22 04:18] adithep commented on #3
Can I make a request then to make localhost optional for both mac and windows version? Should I create a new issue? I think there is nothing wrong with having ability to turn off localhost bind. I am having no problem with the mac version so far but I am already considering moving back to docker toolbox on windows machine because of this. It disrupts a lot of my workflow.

[2016-08-22 05:21] unixcx commented on #20
I have the same issue, Is it OK now?

[2016-08-22 08:37] yetanotherchris commented on #50
For anyone viewing this, here's two lines of powershell for the firewall rule:

     New-NetFirewallRule -DisplayName "Docker For-Win TCP" -Direction Inbound –LocalPort 139, 445 -Protocol TCP -Action Allow
     New-NetFirewallRule -DisplayName "Docker For-Win UDP" -Direction Inbound –LocalPort 139, 445 -Protocol UDP -Action Allow

[2016-08-22 09:25] forhonourlx opened #52 "Does Docker for Windows support CUDA?"
Does Docker for Windows support CUDA? And can I find the gpu device on Docker?

Thanks & Regards.

[2016-08-22 09:49] rneugeba commented on #41
Then don't start the service from the command line :)
I can understand why you might want to stop the service, but the service is only useful in conjunction with the application, so let the app start it when it needs it.

[2016-08-22 09:56] rneugeba commented on #52
Hi @forhonourlx Docker for Windows run a Linux VM on top of Hyper-V. Hyper-V does not support GPU device passthru so, I'm afraid, we can't offer CUDA support in Linux containers in Docker for Windows.

[2016-08-22 09:56] #52 closed

[2016-08-22 09:58] rneugeba commented on #49
@bbodenmiller thanks for the suggestion. I think it would be a good idea. I'm not fully familiar with the docs process, but I contacted some people and we'll investigate

[2016-08-22 11:18] rneugeba commented on #47
closing this issue. please re-open, if you still have issues when using the full path

[2016-08-22 11:18] #47 closed

[2016-08-22 16:04] unixcx commented on #20
windows Event log about "Hyper-V Hypervisor" :
Hyper-V detected access to a restricted MSR (Msr: 0x65C, IsWrite: 0x0, MsrValue: 0x1C2001B0168, AccessStatus: 0x0, Pc: 0xFFFFF801AEB9B25C, ImageBase: 0xFFFFF801AEB90000, ImageChecksum: 0x4F7DE, ImageTimestamp: 0x55C4EEA9, ImageName: esif_lf.sys).

[2016-08-22 18:39] hasMobi opened #53 "Crash after allowing "Elevated access" on Windows after system boot"
### Expected behavior

Docker service to start.

### Actual behavior

Docker service crashes on boot.

### Information

When I boot up the PC (Windows 10 Pro), I get a popup saying that the Docker service is not running and I need to enable Elevated access in Windows for it to start. I click Yes twice and then I get the following "Error during initialization" screen which is frozen, meaning that i

[2016-08-22 21:25] l8nite commented on #43
@rneugeba any ideas on a workaround I can use in the meantime? Is the DNS proxy source around here somewhere? Wondering if I can tweak it for my specific use-case (i.e., pick a different nameserver if the domain being queried isn't my corporate domain).

[2016-08-23 07:37] Jaykul commented on #41
Wait, what? Huh? Maybe this is what I'm not getting. *Why* is the service only useful in conjunction with the application?

I mean, we're using the docker cli or the PowerShell module to actually manage docker images and containers, the app basically just pops up and tells us we can do that.

However, regardless, YOU CANNOT just let the app start the service, because **the app won't start it, ever

[2016-08-23 07:46] rneugeba commented on #41
The application, ie the systray icon, will start the `com.docker.service` service when it starts and the service is not running (see the dialogue screenshot above). What you seem to be doing is to stop the service while the app is running and then manually restart the service while the app is *still* running. And yes, in that case the app (systray) will not be able to reconnect to the service.

If

[2016-08-23 13:08] cuikangyi opened #54 "Failed to start VM "MobyLinuxVM": The VM couldn't get an IP address after 60 tries"
[20:58:41.979][DockerService  ][Info   ] Version: 1.12.0-stable
[20:58:41.987][DockerService  ][Info   ] Starting on: 8/23/2016 8:58:41 PM
[20:58:41.995][DockerService  ][Info   ] Sha1: 9cd1dc28d3ac81cb5177ff9728f65200304b36f6
[20:58:42.579][BackendServer  ][Info   ] Started
[20:58:44.013][NamedPipeServer][Info   ] Version()
[20:58:44.019][NamedPipeServer][Info   ] Version done.
[20:58:44.723][Nam

[2016-08-23 14:22] khalidsalomao commented on #24
+1
Same problem here with Windows 10 Pro version 1607 build 14393.51.
Diagnostic ID: B625FBF8-26D1-4A80-8F24-B93512DD68B9/2016-08-23_11-18-23

[2016-08-23 14:34] rneugeba commented on #54
Hi @cuikangyi. Thanks for the bug report. Could you upload and provide a diagnostic ID for us to take a closer look?
Thanks
rolf

[2016-08-23 14:40] friism commented on #54
Also see https://github.com/docker/for-win/issues/17

[2016-08-23 14:42] rneugeba commented on #48
@bbodenmiller Yes, this definitely is on the roadmap. Thanks for filing this issue here (and commenting on the issues you referenced).

[2016-08-23 15:01] rneugeba commented on #9
@mcesar you could add an insecure registry setting as per https://github.com/docker/for-win/issues/36

[2016-08-23 20:06] mcesar commented on #9
@rneugeba I added both  index.docker.io and index.docker.io:5000 to insecure registry setting, but the problem remains the same.

[2016-08-23 23:02] cuikangyi commented on #54
@rneugeba Thanks for your replay.
diagnostic ID
99C4A82F-9319-4FEC-84B7-788A8624E363/2016-08-24_07-00-22

[2016-08-24 01:20] Jaykul commented on #41
So, is that the whole function of the app? Does it just start and fix the service? Or is it providing a bridge from a named pipe in the user space to the service, or what?

I mean, the other docker daemon (eg. from https://master.dockerproject.org/windows/amd64/docker-1.13.0-dev.zip) doesn't need the app, the service in that one stops and starts without problems.

[2016-08-24 01:29] friism commented on #41
@Jaykul the app:

 1. starts and stops the hyper-v VM
 2. starts and stops the on-host proxy which proxies the engine API from Linux unix socket to windows named pipe
 3. proxies networking to avoid problems with VPNs, etc.
 4. Manages volume sharing from host to containers.

[2016-08-24 01:34] zcl0621 commented on #24
+1
I always got this issue

[2016-08-24 12:57] katygarner opened #55 "Docker for windows: Network timed out while trying to connect to https://index.docker.io/"
### Expected behavior
Run:
 `docker run hello-world`
Expect no errors

### Actual behavior
Error returned
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/hello-world/images. You may want to check your internet connection or if you are behind a proxy.

### Information

Diagnostic ID: 8B05F453-80F1-

[2016-08-24 13:00] DeltaWhy opened #56 "Inotify on shared drives does not work"
I'm using docker-compose to run a Node.js application with nodemon. The application source is on the Windows host and mounted on the container so that I can make changes without rebuilding. However, nodemon does not pick up file changes. If I exec a shell inside the container and touch one of the files from there, nodemon picks it up and restarts the app, but any changes from Windows don't seem to

[2016-08-24 13:41] UTGuy commented on #25
@IhorSyerkov tried that... still not sharing the volume

[2016-08-24 16:34] rafiq-ahmed opened #57 "Network timeout"
### Expected behavior
Should connet to server and pull the image

### Actual behavior
docker run hello-world
Unable to find image 'hello-world:latest' locally
Pulling repository docker.io/library/hello-world
docker: Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/hello-world/images. You may want to check your internet connection or if you are behind a p

[2016-08-24 16:56] friism commented on #56
@DeltaWhy thanks, this is a known limitation that we're trying to figure out how to address.

`nodemon` has a fallback polling mode that I recommend you try: https://github.com/remy/nodemon#application-isnt-restarting

@londoncalling I checked the FAQ, and it looks like we don't have a mention that inotify doesn't work on Windows - it might be good to add.

[2016-08-24 17:27] londoncalling commented on #56
@friism adding it now to the FAQs

[2016-08-24 20:20] BarnumD opened #58 "Docker network 'bridge' subnet interferes with corporate network range."
docker network inspect bridge
'subnet' interferes with my corporate range, causing containers to not talk to that network.

Can we change the network subnet? Bring the default bridge down?

[2016-08-24 20:41] BarnumD commented on #58
You can add  `"bip": "10.11.12.1/24",` in the 'docker daemon' section of the docker for windows app to change the default bridge subnet range.

[2016-08-24 20:41] #58 closed

[2016-08-24 23:46] ngoodnight opened #59 "Docker daemon reports incorrect number of CPUs (does not match Hyper-V)"
### Expected behavior

In my use case, the Hyper-V VM used by Docker reports 15 virtual processors. I would expect the Docker daemon to report the same number, and running containers should also see 15 CPUs by default.

### Actual behavior

The Docker daemon reports 8 CPUs regardless of how many are allocated to the VM. All containers see/utilize only 8 CPUs.

### Information

OS: Latest Win 10 Pr

[2016-08-25 00:39] friism commented on #59
It looks like this is due to a kernel setting that we set, cc @justincormack

[2016-08-25 01:20] hanbaobao2005 opened #60 "Uninstallation program frozen"
Output of docker version:

1.12.1.6433
1.12.1-rc1-beta23
Docker windows
![image](https://cloud.githubusercontent.com/assets/1937472/17953308/0ca7edd4-6aa5-11e6-8cb7-e7aa0885b4ea.png)

Output of docker info:

(paste your output here)
Additional environment details (AWS, VirtualBox, physical, etc.):
OS: windows 10 Pro Version 1511
OS Build : 10586.545

Steps to reproduce the issue:
1. Uninstall Dock

[2016-08-25 07:03] rneugeba commented on #56
@DeltaWhy We are using SMB for the file sharing and the Linux SMB implementation does not support change notifications. We have update the FAQ accordingly andI'm closing this issues.
Thanks for reporting

[2016-08-25 07:03] #56 closed

[2016-08-25 08:05] rneugeba commented on #60
@hanbaobao2005 Thanks you for the report. Is the UI (systray icon) still running? If so, could you send a diagnostics report and pass on the ID it reports?
Thanks

[2016-08-25 08:19] justincormack commented on #59
Hi, fixing this for the next release. I think it was inherited from the old boot2docker config, was not intended to be limited.

[2016-08-25 08:28] rneugeba commented on #25
@UTGuy A couple of questions/comments.
- The first paths in `-v` have to be absolute (as per https://docs.docker.com/engine/reference/run/#volume-shared-filesystems)
- which shell are you using? It looks like it might be `git-bash` or similar since you quote `/c/foo/bar`.
- can you try, in powershell, the sample command listed in the UI: `docker run --rm -v c:/Users:/data alpine ls /data`?
thanks

[2016-08-25 08:30] rneugeba commented on #25
@IhorSyerkov actually it's `\` not `/`, so the for domain users the format is `domain\username`

[2016-08-25 09:02] hanbaobao2005 commented on #60
@rneugeba , the UI (systray icon) was closed when the uninstallation program is frozen.
Is there another way to collect the diagnostic report?
Thanks,

[2016-08-25 09:27] tonercart commented on #54
I have the same issue.

Diagnostic loaded E29FCE66-DA9C-40C9-85CC-AD63831ADA03/2016-08-25_10-23-51

[2016-08-25 10:21] ebriney commented on #60
@hanbaobao2005 did it works after killing the com.docker.service?

[2016-08-25 10:44] ebriney commented on #55
Thanks for the report. That's seem to be a DNS problem, we are working on better detection of DNS addresses for the next version.
Can you try to set google DNS (8.8.8.8) in the settings windows (settings/Network/DNS Server -> click on fixed then apply)?

[2016-08-25 10:46] katygarner commented on #55
Thanks @ebriney I've already tried this (from reading other issues) and it didn't solve the problem.

[2016-08-25 10:48] ebriney commented on #55
And if you use 10.29.1.9 which is your other DNS address?

[2016-08-25 10:52] katygarner commented on #55
@ebriney I've just tried and it's the same issue.

[2016-08-25 11:04] ebriney commented on #55
Ok, sorry. I'll try to figure out how what is wrong!

[2016-08-25 11:05] katygarner commented on #55
@ebriney thank you, please let me know if you need any more information from me.

[2016-08-25 12:40] ebriney commented on #55
For sure

[2016-08-25 12:43] ebriney commented on #57
Thanks for the report (duplicate of #55).

[2016-08-25 15:18] UTGuy commented on #25
@rneugeba Eventually I got it working by uninstalling and reinstalling docker. Shared the C drive using "Domain\Username". Relative pathing works using Docker-compose -volumes (e.g. ./foo:/home/foo).

It was probably something that the Anniversary update overwrote somewhere.... thats my only guess.

On a side note... it seems like relative pathing should also work with -v also.

[2016-08-25 16:01] rneugeba commented on #46
@sanseihappa thanks for getting back (I seem to have missed the reply initially and only noticed it now). I'll close this issue.

[2016-08-25 16:01] #46 closed

[2016-08-25 16:11] rneugeba commented on #59
@ngoodnight This should be incorporated in the next Beta. Closing this issue for now. Thanks for reporting it.

[2016-08-25 16:11] #59 closed

[2016-08-25 16:14] rneugeba commented on #57
@rafiq-ahmed as @ebriney said, this seems to be a duplicate of #55. So closing this in favour of #55. Please keep an eye on #55, or post updates there. Thanks again for reporting

[2016-08-25 16:14] #57 closed

[2016-08-25 17:00] ngoodnight commented on #59
Thanks for the quick response. I'll check the next beta release.

[2016-08-25 18:52] johnrb2 commented on #25
Samsies

Update: tried changing password (removed special characters), but it did not fix my problem.

Update 2: Another thing I can't figure out and I think it is related is that with the docker-toolbox I could use and from there I was able to login and pull my image into my vm. I am unable to ssh into MobyLinuxVM. Also when I pull up the vm through the Hyper-V Manager it just shows a black scree

[2016-08-25 22:28] rneugeba commented on #25
@UTGuy thanks for reporting back. Yes, it looks like the Anniversary update has caused quite a few issues...

[2016-08-25 22:43] rneugeba commented on #25
@johnrb2 it looks like you entered the username in an interesting way. You seem to have tried combination of `johnrb2/foo.bar`, `machine.foo.local\johnrb2`, `johnrb2/foo.local`, `foo.local\johnrb2`, and `machine.foo.local\johnrb2`. Judging by the log files, you domain is `FOO`.
Could you try `FOO\johnrb2` (obviously i annonymised this a little...)
thanks

[2016-08-25 23:36] johnrb2 commented on #25
@rneugeba I tried and it didn't work. Thank you for the suggestion.

D91B0EBA-383B-4CC3-9C6F-FA4C02EE6D81/2016-08-25_17-35-02

[2016-08-26 00:27] rneugeba commented on #25
@johnrb2 thanks for getting back. There is a little too  much noise in the diagnostics. Could you:
- reset credentials (in the shared drive settings)
- quit the app
- on an elevated shell: `net share C /delete`
- start the app
- share drive with `FOO\johnrb2`
- execute: `docker run --rm -v c:/Users:/data alpine ls /data`

If this fails, generate another diagnostics report and report the ID.

Thank

[2016-08-26 00:59] johnrb2 commented on #25
@rneugeba  Here is what I got.

 D91B0EBA-383B-4CC3-9C6F-FA4C02EE6D81/2016-08-25_18-58-10

[2016-08-26 01:07] rneugeba commented on #25
@johnrb2 thanks for the quick return. On the Linux side I see:
[code]
Do you know if there is any third party firewall or virus scanning software on your host?

[2016-08-26 01:08] johnrb2 commented on #25
@rneugeba I am running Sophos Endpoint Security and Control.

[2016-08-26 06:25] ChristianPejrup commented on #25
@rneugeba What about an issue with special characters in the computer name (just a guess here). A lot of companies the one I work at included use some special naming convention for the computers. As there seem to have been an issue with the special characters in the password...could there be a similar issue here?
I cant test it out my self - when the computer is on the domain I need domain admin c

[2016-08-26 07:50] rneugeba commented on #25
@ChristianPejrup that issue was fixed with Beta23 and @johnrb2 is on Beta24

[2016-08-26 08:14] ChristianPejrup commented on #25
@rneugeba i do realize that it has been fixed for passwords (https://docs.docker.com/docker-for-windows/release-notes/) but mount happens as a network share - could there be a problem with having "-" in the computer name when setting up the network share?

[2016-08-26 08:22] rneugeba commented on #25
@ChristianPejrup no, this shouldn't be a problem as the computer name is not used. We use the internal switch for SMB mounting and just use the IP address.

[2016-08-26 22:15] johnrb2 commented on #25
@rneugeba I disabled the third party software and attempted it again and it still didn't work for me.

D91B0EBA-383B-4CC3-9C6F-FA4C02EE6D81/2016-08-26_16-14-23

Are you still seeing the same thing?

[2016-08-27 12:42] staeppvargen opened #61 "Docker fails trying at each system start to update from 5971 to 6563"
### Expected behavior
1) System starts up. Docker shows "whish to updatefrom 5971 to 6563"-layer => confirm
2) Docker downloads new files and asks for admin rights to install => password & confirm
3) Docker is up and running in the new version

### Actual behavior
1) and 2) like above
3) Docker is dying silently in the background
4) At next system- or  manual docker start it asks again if it shoul

[2016-08-27 14:25] friism commented on #61
Thanks for reporting, and sorry about the breakage. Beta21 had a [bug that means that later auto-updates cannot be applied](https://docs.docker.com/docker-for-windows/release-notes/#/beta-23-release-2016-08-16-1-12-1-rc1-beta23).

Please download and run the installer directly: https://download.docker.com/win/beta/InstallDocker.msi

[2016-08-27 20:00] staeppvargen commented on #61
Thanks, that worked!

[2016-08-27 20:00] #61 closed

[2016-08-28 08:22] oparoz commented on #5
Same problem here when using compose.

It fails to mount those files
[code]

Tried both with stable and beta24.

[2016-08-28 11:25] marfillaster commented on #25
982D3056-7F02-499D-9D7C-EF0A998E78AF/2016-08-28_19-21-28

I think I'am having same problem. Already uninstalled and re-installed docker.
Docker cannot seem to see objects beyond /c/Users/username

    docker run --rm -v c:/Users:/data alpine ls /data
    ken

    docker run --rm -v c:/Users/ken:/data alpine ls /data
    _empty_

I only have windows defender and password is only alphanumeric

[2016-08-28 11:52] marfillaster commented on #32
[code]

8EE7D739-03B1-4BC2-ADE6-C43ACFCF34AF/2016-08-28_19-51-55

Shared directory still appear empty. Already tried, latest beta and stable.

[2016-08-28 19:17] runner7532 commented on #54
Would really like to see this get resolved. I have been getting this for a few days and have not been able to get it working after a few reinstalls. Its also on 2 different computers I use.

A diagnostic was uploaded with id: 25FF9A46-6991-4935-885B-AE50E0FB18AC/2016-08-28_13-10-19

[18:20:27.179][NamedPipeClient][Error  ] Unable to send Start: Failed to start VM "MobyLinuxVM": The VM couldn't get

[2016-08-29 00:07] myfriend12 opened #62 "'MobyLinuxVM' failed to initialize"
I am getting the following error:

[code]

Diagnostic ID: 34E4795C-2FA4-4167-88E5-05BE339614B2/2016-08-28_17-04-45

Running the latest beta running windows 10. Have been trying to get this to work with little to no success, even after researching. Would love to be able to start using it.

[2016-08-29 11:44] rneugeba commented on #54
@runner7532 thanks for the report. Could you try the latest beta from https://download.docker.com/win/beta/InstallDocker.msi? It looks like in your case the Linux VM hasn't fully started and we made some omprovements in that area.

[2016-08-29 15:43] gcortier commented on #20
Same issue here with a windows 10
It's not working :
`Unable to remove from the database. Exit code: 1
   à Docker.Core.Pipe.NamedPipeClient.TrySend(String action, Object[] parameters)
   à Docker.Core.Pipe.NamedPipeClient.Send(String action, Object[] parameters)
   à Docker.Core.Backend.BackendClient.Start(Settings settings)
   à Docker.Actions.DoStart(Settings settings, Boolean showWelcomeWindow

[2016-08-29 16:07] ptrewhella commented on #39
This behavior renders the PostgreSQL container pretty much useless on a Windows host, because it will not run as user _root_, and it will not run unless the user under which the process is running owns the files.

[2016-08-30 03:04] garveen commented on #56
https://wiki.samba.org/index.php/Samba_3.0_Features_added/changed

Samba 3.0.25:

`New file change notify subsystem which is able to make use of inotify on Linux.`

[2016-08-30 05:50] runner7532 commented on #54
Here is the Diagnostic ID for the beta version that I just installed
6D84E753-2F42-45E0-BE49-D065DFF0E8F1/2016-08-29_22-58-26

If you want the log I will get that as well.

[2016-08-30 06:23] greut opened #63 "Mount shared folders as a different user"
### Expected behavior

A mounted volume rights can be changed.

It doesn't seem that Windows shares allows this at runtime. Would it be possible to give a UID/GID pair from the UI (or JSON config) to enable this kind of behaviour from the Mobylinux VM?

[code]
### Actual behavior

Mounted volumes belong to `root`
### Information

https://forums.docker.com/t/mounting-a-volume-as-non-root-from-windo

[2016-08-30 08:21] rneugeba commented on #63
@greut thanks for the suggestion. My main concern is that if you run multiple containers than they all have to agree on the acceptable userid/groupid. Of course that is true now as well.

Could you give an example of something which complains about root being the default?

Would it work, if we hard code a different userid/groupid?

[2016-08-30 09:05] rneugeba commented on #56
@garveen unfortunately, the linux kernel implementation of SMB (in `./fs/cifs`) does *not* support inotify. There are various comments in the code that the older `dnotify` once was supported (and it is marked as experimental) but none of the code calls into the `fsnotify` API

[2016-08-30 09:28] garveen commented on #56
@rneugeba maybe other than smb:

If we have a tool that listen on native Windows' file system APIs, communicate with MobyLinux and generate Linux events, it would be great.

Does this idea practicable?

[2016-08-30 11:35] rneugeba commented on #38
can you try as suggested on this forum post: https://forums.docker.com/t/how-to-find-the-remote-api/20988

[2016-08-30 13:03] DeltaWhy commented on #56
I assume Hyper-V doesn't have anything akin to VirtualBox shared folders? Inotify works great with Docker Toolbox as well as Vagrant.

[2016-08-30 13:37] DeltaWhy opened #64 "Better TTY support"
When using `docker run -it` I often have rendering issues that I think are due to the container's process being unaware of the size of the Windows terminal. If it's sized too small then columns from `ls` will overlap. Another frequent issue is with recalling commands from my shell history that wrap onto a second line.

I'm not sure if these are issues with the Docker client or if they're inherent

[2016-08-30 14:16] pcarrier opened #65 "powershell cannot find hyper-v module on Docker startup ("The specified module 'Hyper-V' was not loaded because no valid module file was found in any module directory.")"
### Expected behavior

Docker starts happily on Windows 10 after enabling all Hyper-V-related Windows features, including "Hyper-V Module for Windows PowerShell".

### Actual behavior

On startup, "An error occured" window pops up with the following output:

[code]

The whale stays red.

Turning the Hyper-V and PowerShell-related Windows features off, rebooting, turning them back on, rebooting, et

[2016-08-30 14:22] pcarrier commented on #65
[code]

[2016-08-30 14:32] pcarrier commented on #65
What I did to solve this issue:

- In the start menu, search and open "Edit the system environment variables" In "System variables", create/update `PSModulePath` and set it to `C:\Program Files\WindowsPowerShell\Modules;c:\windows\system32\windowspowershell\v1.0\Modules` (taken from a fresh Windows PowerShell window with `echo $env:PSModulePath`).
- *Required:* In the start menu, search and open "

[2016-08-30 17:26] greut commented on #63
[composer](https://getcomposer.org/) is one of those tools, but it's not a blocker.

[code]
https://getcomposer.org/doc/faqs/how-to-install-untrusted-packages-safely.md

`1000:1000` or `1000:100` seems like good default values to me.

[2016-08-30 20:06] Kurdym commented on #32
+1 Same problem here.
Can I provide extra info?

[2016-08-30 22:10] vorpleblade opened #66 "docker-compose host volume does not mount"
# docker-compose host volume does not mount

### Expected behavior
docker-compose should mount the defined host volume in the container.

### Actual behavior
docker-compose does not mount local volume on docker host in windows.

### Information

Diag ID: `D9FD48C3-5135-4629-A764-D694FB410CF9/2016-08-30_09-36-08`

- Host OS
  - Windows 10 Enterprise
  - Version: 1607
  - OS Build: 14393.82
- Docker

[2016-08-31 08:36] jirapast commented on #55
i got same problem and have no idea to moving on

[2016-08-31 09:42] qwebek opened #67 "Docker fails to start - MobyLinuxVM.vhdx already exists, unable to create MobyLinuxVM"
### Expected behavior
Docker is started

### Actual behavior
Docker fails to start

 VHD C:\Users\Public\Public Documents\Hyper-V\Virtual hard disks\MobyLinuxVM.vhdx already exists
HyperV         ][Info   ] Creating VM MobyLinuxVM...
[NamedPipeServer][Error  ] Unable to execute Start: Unable to create:

### Information

  - E3B820D1-EFA6-4097-BA0E-BA68982EE30D/2016-08-31_12-00-32
  - a reproducibl

[2016-08-31 09:59] qwebek commented on #67
Several weeks fighting this error :)  but no luck

I have tried running docker as administrator, made reset to defaults, check for updates, - error is the same :(
Ther is possibility to create internal and external virtual switches in  Hyper-v

Found almost nothing regarding this particular error, have another PC with the same configuratoin and there was no docker install issues there... i have co

[2016-08-31 18:05] rneugeba commented on #67
@qwebek Thanks for reporting...this is a weird one, I haven't seen before. I assume you have tried un-installing and re-installing again...

Can you also try the following after exiting the docker for windows application via the whale systray icon from an **elevated powershell**:
[code]
and then start the App again via the Desktop icon. You should get prompted that the service is not running, sele

[2016-08-31 21:18] qwebek commented on #67
Thanks for responding! im not alone)

Result looks like the same
E3B820D1-EFA6-4097-BA0E-BA68982EE30D/2016-09-01_00-12-17

I hae also tried removing manually vhdx before docker start, its creating it, end result is the same..

[2016-08-31 21:32] rneugeba commented on #67
Thanks for the quick response. This is odd:
[code]

The `MobyLinux.ps1' -destroy` should remove the VHDX file, but alas, the output from the logs says that the file still exists, thought other bits, like the switch, which are also removed by the script, are re-created.

Could you try again:
[code]
and then double check that afterwards there is no `C:\Users\Public\Public Documents\Hyper-V\Virtual h

[2016-08-31 23:13] qwebek commented on #67
The command is removing the vhdx file successfuly, that was one of the first things i was checking

It is s creating  vhdx in that folder during docker startup, then somehow it looks to that folder again and reports that it aleready exist,

Another diagnostic
E3B820D1-EFA6-4097-BA0E-BA68982EE30D/2016-09-01_02-04-23

[2016-08-31 23:16] rneugeba commented on #67
@qwebek thanks for providing the info. @dgageot could you also take a look if there might be an issue?

[2016-09-01 03:57] Irieish commented on #54
Seem to be dealing w/ a similar issue, but am experiencing a Fatal <No File> error:

Unable to execute Start: Unable to start: The VM couldn't get an IP address after 60 tries
at Fatal, <No file>: line 313
at Start-MobyLinuxVM, <No file>: line 233
at <ScriptBlock>, <No file>: line 322    at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.LinuxContainers

[2016-09-01 07:14] dgageot commented on #38
@pkonovalov-softheme I think you used to use `docker machine` and now use Docker for Windows. Right?

What's happening is that your shell is configured with the `DOCKER_TLS_VERIFY` set to true so the python docker api thinks it should connect to the docker daemon with TLS.

I think the solution is *not* to change the daemon configuration but to unset the `DOCKER_TLS_VERIFY` and all the other all t

[2016-09-01 08:14] dgageot commented on #66
Hi @vorpleblade it doesn't look like an issue with volume mounting to me.

This error in the compose output seems to point to the actual issue: `requests.exceptions.ReadTimeout: HTTPConnectionPool(host='proxy.company.com', port=8080): Read timed out. (read timeout=60)`.

It looks like compose is trying to connect to `proxy.company.com` rather than to the docker daemon

[2016-09-01 09:11] dgageot commented on #62
@myfriend12 Thank you for reporting the issue! Can you please run this command from an **elevated shell** and tell us what's the output?

[code]

[2016-09-01 09:21] dgageot commented on #37
Hi @toddlucas thank you for reporting this issue. Your use case is common to a lot of users and we are currently trying to find the best way to solve it. However I don't know if/when this will happen yet.

[2016-09-01 09:31] rneugeba commented on #65
@pcarrier Thanks for your report and the update. Your last update seems to suggest that you were abel to fix this and you closed the issue, but then re-opened it.

Is this still an issue?

[2016-09-01 10:45] rneugeba commented on #64
@DeltaWhy There is fairly little we can do about this, as this primarily depends on the quality of the terminal emulation provided by others. However, there are a few things you can do to maybe improve things a little:

- with conhost based terminals (PS and CMD), make sure the `Properties->Layout->Wrap text output on resize` is selected.
- with conhost based terminals, it seems that the AE (1607)

[2016-09-01 14:16] marfillaster commented on #32
Seems working again in insider build 14915

[2016-09-01 15:06] vorpleblade commented on #66
I edited the output value.  The proxy server is available and used when building docker images.

[2016-09-01 15:42] pcarrier commented on #65
@rneugeba not to me, but anybody could run into this, arguably Docker for Windows can be "blamed" for not initializing the PowerShell module path the way the Windows PowerShell launcher does (no idea how), and it's not trivial to troubleshoot.

[2016-09-01 17:20] rneugeba commented on #65
@pcarrier thanks for the reply. I think this is is first time we have seen this issue. I'll be closing it for now. We added some additional logging to the diagnose which should help us catch this issue should others have it too. Thanks again for reporting and following up.

[2016-09-01 17:20] #65 closed

[2016-09-01 17:33] rneugeba commented on #53
@hasMobi thanks for the report. Could you retry with the latest Beta24 from https://download.docker.com/win/beta/InstallDocker.msi

Thanks

[2016-09-01 17:36] rneugeba commented on #35
Closing this issue as there has been no update for 15 days. I assume the update to Beta24 fixed the issue. If not, feel free to re-open with another diag report.
Tahnsk

[2016-09-01 17:36] #35 closed

[2016-09-01 17:43] rneugeba commented on #30
@stephan7878 thanks for the updates.

So you were running Docker for Windows in a Window 10 Pro VM on top of Hyper-V with nested virt? I've seen reports that window's nested virt might not be quite ready for prime time yet.

From your updates, it looks like you are now all up and running, so I close this issue for now. Feel free to re-open (or open another issue) should you have more issues.

[2016-09-01 17:43] #30 closed

[2016-09-01 18:09] rneugeba commented on #54
Collating the reports from #17 into this issue: This was the report from @maxday:
Hi,
First, thanks for your work, I've seen a great demo at DevoxxFR and I can't wait to use it :)

I'm running Docker for Windows Version: 1.12.0-beta21 on a WIN10 VM.
Hyper-V is activated and Windows services are OK.
The MobyLinuxVM is well created but Docker fails to start because it cannot get an IP for the VM.

T

[2016-09-01 18:10] rneugeba commented on #54
Collating the reports from #17 into this issue: This was the report from @TaylorBarrick:
I have the problem describe above and here is a log file and diagnostic ID

A diagnostic was uploaded with id: F92E5AB4-A9AA-4269-A7D6-8FEB6F6E3D34/2016-08-01_22-30-16
Windows 10.0.14393

[22:26:32.349][ApiProxy ][Info ] dns server: ready
[22:26:32.353][ApiProxy ][Info ] docker proxy: ready
[22:26:32.356][ApiP

[2016-09-01 18:11] rneugeba commented on #54
Collating the reports from #17 into this issue: This was the report from @kukjevov
I have same problem.

It looks like problem of Windows 10 Redstone 1 update (build 14393) with combination of latest stable docker version.

I have enabled windows features like "Containers", "Hyper-V" and "Windows subsystem for linux (beta)".
I have restarted computer. I tried to reinstall docker, reset to factory

[2016-09-01 18:12] rneugeba commented on #17
@kukjevov @maxday @TaylorBarrick I'm closing this issue as a duplicated of #54. While #54 is newer it has more comments on it. I've copied and pasted your reports in #54 so that they don't fall through the cracks.

[2016-09-01 18:12] #17 closed

[2016-09-01 18:19] rneugeba commented on #43
@l8nite we have a PR for hopefully fixing the DNS issue, so it should hopefully show up in the next Beta

[2016-09-01 18:24] rneugeba commented on #42
@mablae I can happily run skype along with Docker for Windows, but I'm on a IPv4 network (not sure if that is significant). I don't have an Xbox One App chat client but I can't really see how the Hyper-V networking interferes with other application. We just create an iternal switch with a default IP address of `10.0.75.1/24`. If you are using this prefix elsewhere on your network, you can change t

[2016-09-01 19:42] stephan7878 commented on #30
@rneugeba - yes that is correct and I did manage to get it working 100% with Beta 23.

1. Install Windows 10 in a Hyper-V VM
2. Disable dynamic memory and enable nested virtualization:
`Set-VMProcessor -VMName <VMName> -ExposeVirtualizationExtensions $true`
`Set-VMMemory -VMName <VMName> -DynamicMemoryEnabled $false`
3. Install Docker for Windows Beta 23

[2016-09-01 19:44] rneugeba commented on #30
Thanks for the confirmation. In general we don't recommend using nested virt as the support with most hypervisors is not mature enough

[2016-09-01 20:39] rneugeba commented on #27
Glad to hear that this issue is fixed for some of you.
As for the others:
- @sdevane could you try Beta24 from the link below and can you check if you have COMODO as removing this seemed to have fixed the issue for others
- @myfriend12 and @anusornc could you try Beta 24 from the link below and if you still have the issue, please create a new issue as your issue is different from the others

Beta2

[2016-09-01 21:59] rneugeba commented on #54
I had a look at your logs and there seem to be a number of different issues:
- @maxday: You are running Docker for Windows on Windows 10 Pro build 10586 (1511) in a VM. Unfortunately we do not support this configuration. Nested virtualisation is required for this and depending on your underlying hypervisor it may be broken in subtle ways. Nested virtualisation also changes the timing a lot dependi

[2016-09-01 22:16] rneugeba commented on #31
There was no update in 21 days. Closing. Please re-open with the requested information.

[2016-09-01 22:16] #31 closed

[2016-09-01 22:18] rneugeba commented on #13
No update/activity in 15 days. Closing for now. If you still have the same issue with Beta23/24 please re-open

[2016-09-01 22:18] #13 closed

[2016-09-01 22:19] rneugeba commented on #64
Closing as won't fix. Please let me know if there is an update.

[2016-09-01 22:19] #64 closed

[2016-09-01 23:11] rneugeba commented on #51
@derekssmith We have several compose tests which are run regular and most of them use the service name and they all pass. However, I don't think we have one where we pass the service name as part of the environment.

@friism could you take a look and maybe work with @derekssmith on an simpler repro?

[2016-09-01 23:44] Irieish commented on #54
Thanks rneugeba. Will post back after uninstall/reinstall of Beta24. Believe Windows is current (installed latest update released 8/31 before posting). Windows 10 Pro (Version 1607 / Build 14393.105).

[2016-09-01 23:45] rneugeba commented on #56
@DeltaWhy I haven't seen anything in the VBox source suggesting they support inotify on the shared folders, but I may have looked at the wrong place, but there seems plenty of evidence on the web that it doesn't, like for example: https://www.virtualbox.org/ticket/10660?cversion=0&cnum_hist=1

[2016-09-02 01:05] Irieish commented on #54
Thanks rneugeba. Will post back after uninstall/reinstall of Beta24. Believe Windows is current (installed latest update released 8/31 before posting). Windows 10 Pro (Version 1607 / Build 14393.105).

[2016-09-02 01:11] Irieish commented on #54
Same error after reinstall of Beta24.
Diagnostic ID: 6F013C72-7104-4907-BC8B-D7F1D42EE211/2016-09-01_18-05-55

Unable to start: The VM couldn't get an IP address after 60 tries
at Fatal, <No file>: line 313
at Start-MobyLinuxVM, <No file>: line 233
at <ScriptBlock>, <No file>: line 322
   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.LinuxContainer

[2016-09-02 01:42] myfriend12 commented on #62
I get the following error:

[code]

I also have the latest beta version running.

[2016-09-02 01:44] myfriend12 commented on #62
I ran the command in powershell with administrator permissions.

[2016-09-02 05:31] hanbaobao2005 commented on #60
@ebriney the service can be killed manually, unfortunately the frozen still exist.
Where can I find the logs for troubleshooting?
Thanks,

[2016-09-02 06:27] kukjevov commented on #54
Hi.

I have reported that there is problem with Redstone 1. I have multiple Windows installations and i tried it also on Windows 10 10586 and it worked without any problem. Then i tried it in work where i also have Windows 10 14393 Redstone 1 and it also worked.

Only difference that i see now is that Redstone 1 where it is not working was upgraded from Insider Preview build and Redstone 1 where i

[2016-09-02 07:03] treiboll opened #68 "Missing ipv4 address of new machine"
### Expected behavior
I expect after creating a new machine, that there schould be an ipv4 address available for the eth0 device of that machine of the subnet 10.0.75.0 as it es defined in the docker settings.

### Actual behavior
After creating new machines there are only ipv6 addresses and e.g. the joining to a swarm fails with errors. See below.

### Information
  - Diagnostic ID : 63A029AD-B8F

[2016-09-02 07:03] cuikangyi commented on #54
Hi, @kukjevov
For me that is the case.
On my PC, it canot work on Windows 10 14393, but it can work on Windows 10 10586.
And them are both fully reinstall.

[2016-09-02 07:18] dgageot commented on #68
@treiboll Thank you for this bug report. I believe it should be posted on the `Docker Machine` project: https://github.com/docker/machine/issues

[2016-09-02 07:20] dgageot commented on #66
Thank you @vorpleblade, I'm glad your issue is solved. Can I close the issue then?

[2016-09-02 07:23] treiboll commented on #68
@dgageot Thanks for your message. I created a new issue as you suggested.

[2016-09-02 07:23] treiboll commented on #68
Closing issue....

[2016-09-02 07:23] #68 closed

[2016-09-02 07:36] tonercart commented on #54
@rneugeba I managed to get working by first manually starting Docker and after that the next few re-boots were also fine. This morning however I had another failure on startup due to a different reason diagnostic is E29FCE66-DA9C-40C9-85CC-AD63831ADA03/2016-09-02_08-20-32

Again I can get going by manually starting Docker which is fine for my purposes.

FYI - Hardware is only a couple of years old

[2016-09-02 09:55] juhams commented on #27
docker 4win 1.20.1 beta24 did not start after installation.
Checked with hyperv manager and mobylinuxvm could not be started because the virtual disk was completely missing.
I created the disk manually and rebooted. --> docker 1.20.1 beta 24 running with win 10 build 14393.105

[2016-09-02 13:27] derekssmith commented on #51
To provide some more information on this.  If I manually configure a network, and then provide "extra_hosts" to map the names to the IP addresses.  It works.

I added this network configuration:

[code]

I gave each of my services a manual `ipv4_address`.  Then uses `extra_hosts` like this:

[code]

[2016-09-02 13:48] vorpleblade commented on #66
Thanks @dgageot please close the issue.

[2016-09-02 14:13] chen-xin commented on #27
Hi, I fixed my problem as following:
1. Open Hyper-V manager, delete all the "MobyLinuxVM' inside;
2. From the docker gui select "Reset/Restart Docker", and everything is OK, with all my images and containers.

Windows: 10.0.14393
Docker:  version 1.12.0, build 8eab29e

[2016-09-02 14:20] friism commented on #27
@londoncalling it might be worth adding this COMODO thing to the FAQ: https://forums.comodo.com/bug-reports-cis/comodo-firewall-began-conflict-with-hyperv-t116351.0.html

[2016-09-02 14:39] friism commented on #51
@derekssmith can you post output of `docker version` and `docker-compose version` please?

As Rolf mentioned, it be great if you could help narrow down the problem with a simpler repro or alternatively provide a repro that I can run with public images and/or a public project.

[2016-09-02 14:43] runner7532 commented on #54
Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Modifying the properties of the device 'Memory' failed.

The operation cannot be performed while the object is in its current state.
at New-MobyLinuxVM, <No file>: line 184
at <ScriptBlock>, <No file>: line 321
   at Docker.Backend.HyperV.RunScript(String action

[2016-09-02 14:50] #66 closed

[2016-09-02 15:38] katygarner commented on #55
@ebriney Do you have any more updates on what may be causing this problem?

[2016-09-02 16:11] devlife opened #69 "Docker shared drive settings not accepting my username/password"
### Expected behavior
I would expect that from the settings dialog I would be able to share drives after entering my system username/password.

### Actual behavior
The windows credentials dialog just displays again after I hit `OK`

### Information
Windows 10 1607
[code]

### Steps to reproduce the behavior

  1. Change your windows password to contain special characters
  2. Install docker for wi

[2016-09-02 17:01] devlife commented on #69
Nevermind. I didn't include the domain name.

[2016-09-02 17:01] #69 closed

[2016-09-02 20:23] cweagans commented on #6
It's almost like that problem has been [solved already](https://www.vagrantup.com), specifically: [networking](https://www.vagrantup.com/docs/networking/), [volume mounting](https://www.vagrantup.com/docs/synced-folders/), and [updates](https://www.vagrantup.com/docs/boxes/versioning.html#automatic-update-checking). :)

In all seriousness, though, what about a degraded functionality mode that can

[2016-09-03 00:57] cuikangyi commented on #54
Hi, @rneugeba
I have same error after reinstall of Beta24.
Diagnostic ID: 0EACCFD5-7AEF-41DC-AF11-4F1C524B72F5/2016-09-03_08-56-48

[2016-09-03 05:26] kukjevov commented on #54
Hi @rneugeba
Here is my diagnostic ID: FB5CEB8E-709F-4A8F-8F18-DE39D01B068D/2016-09-03_07-24-39

[2016-09-03 10:27] unixcx commented on #20
... 今天我重装了我的网卡,重启完机器,docker 居然重新工作了.

oh~ today my docker is working when I uninstall my network card driver, and install a new one.
I think this only because I reinstall my network driver.

[2016-09-03 11:22] Toyinster commented on #55
This is literally driving me insane - I have a fresh install of Windows 10 Professional and Docker 1.12.0. Hyper-V is installed and enabled. I have one instance of DockerNAT which appears to be healthy and I have changed the DNS to 8.8.8.8/8.8.4.4, Network DNS Server in Docker is set to Fixed 8.8.8.8

I don't have WIndows Insider running anymore after having to completely rebuild my system after t

[2016-09-03 14:35] derekssmith commented on #51
Here are the versions:

docker version
[code]

docker-compose version
[code]

I will see if I can put a simple script together that will recreate the issue.

[2016-09-03 22:11] Morgy93 commented on #27
@friism @londoncalling It might not just be limited to Comodo:

by [SuperCoach91](https://social.technet.microsoft.com/profile/supercoach91/?ws=usercard-mini)
https://social.technet.microsoft.com/Forums/windows/en-US/2df51b2d-18d3-463e-8fe5-3517bfb2950f/vm-failed-to-start-worker-process-the-process-terminated-unexpectedly?forum=win10itprovirt

[2016-09-04 08:12] friism commented on #55
@Toyinster insider builds are not required - can you please run the diagnostics and post the ID here so we can help you debug?

[2016-09-04 23:00] pcarrier commented on #65
Fair enough. I'll point out that PowerShell started from the start menu knows how to initialize PSModulePath when it's not set in the system environment variables, it'd be great if Docker had the same ability.

[2016-09-05 07:02] dgageot commented on #38
Hi @pkonovalov-softheme, did you manage to solve your issue? I'd like to close this issue since I don't think there's a bug here but I want to be sure that it's ok with you.

[2016-09-05 07:08] dgageot commented on #67
@qwebek @rneugeba I have to say that I have no idea what's going on... What I can see is:

 + We try to start the VM which triggers a VM creation
 + The creation of the VM fails
 + We prefer to ignore this error and rather check that hyperv is running properly
 + It seems to run properly
 + So we try to create the VM once again which, of course, fails with the same error

But, I have no idea why i

[2016-09-05 07:58] qwebek commented on #67
Damn,
could it be due to some permissions to some files or folders? Win 10 sometimes requires UAC permissions to some folders in program files, i don't know..

Maybe i can run try to run this separately? or whatever is creating VM

Thanks.

[2016-09-05 08:21] rneugeba commented on #67
@qwebek yes, trying to run this manually would be good. Something like:
- exit the application
- `Stop-Service com.docker.service`
- `.\MobyLinux.ps1' -destroy`
- check that the VHDX file is removed
- `.\MobyLinux.ps1 -Create True`
where the commands need to be executed from an elevated powershell and in the `C:\Program Files\Docker\Docker\resources` directory.

Otherwise, like @dgageot I'm runnin

[2016-09-05 08:25] rneugeba commented on #65
@dgageot have you seen this before, ie the module load path not being in the environment? We do explicitly load the module but assume the path is set.

[2016-09-05 09:01] codingkeith commented on #25
I have the same problem. I found that if I create a local user account and log in with that account the issue is resolved, but if I log in with a Windows Domain account the problem exists. My Windows Domain user is a Domain Administrator and a local Administrator and my local user is a local Administrator - so this is not a file permissions issue.

Diagnostic ID when logged in under Windows Domain

[2016-09-05 09:37] xckai commented on #55
same issue , I could't use docker search and docker pull .I got-->  response from daemon: Get https://index.docker.io/v1/search?q=kafka&n=25: dial tcp: i/o timeout

[2016-09-05 10:04] thesnarb commented on #38
HI @dgageot!  Thanks! Sorry, but I don't know because after this problems I started using bash on Win10 for my task instead of Docker :(

[2016-09-05 10:08] dgageot commented on #38
@thesnarb Thanks for the feedback. I'm going to close the issue then!

[2016-09-05 10:08] #38 closed

[2016-09-05 13:28] rneugeba commented on #25
@codingkeith the symptoms you report are in line with what I would expect when the CIFS mount in the VM fails. Something like `docker run --rm -v c:/Users:/data alpine ls /data` should show up empty.

How do you enter the domain account? It should work with `domain\user` but probably not with `user@domain`. Also, the 1.12.0-stable version you are using has an issue with a lot of special characters

[2016-09-05 13:56] KekSfabrik opened #71 "Docker re-starting containers before drive-sharing is done"
### Expected behavior

Containers with a restart olicy like `restart=always` or `restart=unless-stopped` are started after a system reboot and re-mount the volumes they have been started with
### Actual behavior

After a system reboot containers previously launched with a restart policy are restarted before the daemon was able to access the shared folder so none of the persisted files are present

[2016-09-05 14:15] codingkeith commented on #25
@rneugeba I did try with the Beta24 just to make sure it wasn't already fixed, but the problem was the same.

I am entering my domain user as DOMAIN\FIRST LAST (with a space between first name and last name). I can try other styles if you want, I am a domain admin so am free to experiment.

[2016-09-05 14:47] rneugeba commented on #25
@codingkeith Ah, I just realised that you switched users and this process is not as smooth as I'd like, especially wrt to shared volumes. When you switch users, say from user A to user B, and you had previously used the volume sharing as user A, even if you reset credentials etc, the drive is still shared with user A and may fail if you subsequently try to share a drive as user B.

Could you try,

[2016-09-05 14:58] maltyxx commented on #5
+1

[2016-09-05 15:01] rneugeba commented on #25
@johnrb2 thanks for checking and turning the 3rd party software off. Yes, I still see:
[code]
in your latest diagnostics.

I'm currently leaning towards this potentially being an issue with the firewall. Could you try a few more things?

First, open `Windows Firewall with Advanced Security`. Cortana should be able to help you with that.... Under `Inbound rules` can you sort the possibly long list

[2016-09-05 15:11] rneugeba commented on #71
@KekSfabrik thanks for the detailed report and (simple repro)! There is indeed a ordering/race issue: The docker daemon starts before we trigger the mount.

/cc @dgageot

[2016-09-05 15:17] codingkeith commented on #25
@rneugeba using` net share c` I was able to see that the local user was set up to access the drive rather than the domain user. After un-sharing the drive and resetting credentials and re-sharing it has worked on the stable release with my domain account - thanks.

[2016-09-05 15:19] dgageot commented on #71
@rneugeba That will not be an easy one to fix will it?

[2016-09-05 15:22] rneugeba commented on #27
@chen-xin thanks for reporting. Did this happen after you updated to 10.0.14393, ie did you have an installation of Docker for Windows before the windows upgrade?

@juhams thanks for reporting and glad it's working for you. I'm curious as to why the virtual disk wasn't there in the first place....but this might just be one of these things which might be hard to reproduce.

[2016-09-05 15:28] rneugeba commented on #25
@codingkeith excellent. Glad that it worked for you. As said the multiple user scenario is not very smooth at the moment, but we also don't want to unconditionally unshare the drive either in case the user uses it for something else.

@londoncalling maybe we could add something to the FAQ. something along the line of this https://github.com/docker/for-win/issues/25#issuecomment-244763522

[2016-09-05 15:30] rneugeba commented on #71
@dgageot nope...I think it's a reasonable thing to do, but currently can't think of an easy fix

[2016-09-05 18:50] johnrb2 commented on #25
@rneugeba I am actually out of town and won't be able to try your suggestion out until the middle of December, but I will try it thanks! Sorry for the delay.

[2016-09-05 19:28] rahilwazir commented on #62
I have the exact same issue

[code]

Crash Report ID: `C141349B-6EE0-48C7-9FCE-F3B2342CEE1C/2016-09-06_00-15-08`

Also ran the following (in PS as administrator)
[code]

OS: Windows 10 Pro 64bit, Hyper-V enabled
Docker: `1.12.1-beta24 (build: 6563)`

[2016-09-05 19:45] Toyinster commented on #55
Thanks @friism : 266A07B2-7A2A-4835-86FA-240386A20EDD/2016-09-05_20-44-37

[2016-09-06 00:48] manbearpigisreal commented on #55
Same issue here

ID: 97125ACF-EA70-4F3A-9758-7B71FBBF18EA/2016-09-05_20-46-39

[2016-09-06 07:43] ChristianPejrup commented on #25
@rneugeba Hi - I finally solved my problem (the broadsword solution) there is something funky about supplying a domain account when mapping a drive on the local computer.

Problem:
I think the domain part of the credentials are not translated/handled correctly when mounting the C drive from the Linux host running the docker instance.
I'm expecting this is because domain is not included in the mapp

[2016-09-06 09:54] friism commented on #62
@myfriend12 @rahilwazir it seems like you're encountering the error described here: https://blogs.technet.microsoft.com/rmilne/2014/01/15/hyper-v-could-not-initialize-could-not-create-or-access-saved-state-file/

Could you try the workaround described?

[2016-09-06 10:05] rneugeba commented on #25
@ChristianPejrup you should need to jump through these hoops. we have a test setup with a AD controller now and it seems to work when using `<domain>\<user>` in the username field. If the credentials are supplied like this, the domain is definitely passed through to Linux.

One issue with multiple users is explained here: https://github.com/docker/for-win/issues/25#issuecomment-244763522

[2016-09-06 10:08] rneugeba commented on #32
@Kurdym sorry, missed your comment. can you provide a diagnostics ID for me to take a look at?

[2016-09-06 10:10] rneugeba commented on #32
@swissgrammie do you still have the issue? If so, it could be related to firewall settings. Could you try what I suggest [here](https://github.com/docker/for-win/issues/25#issuecomment-244766650).
thanks
rolf

[2016-09-06 10:13] swissgrammie commented on #32
Hi Rolf,

So I had a workaround, which was whenever i changed networks, I had to
delete my share, recreate the share, grant myself full access and then
restart docker, i did this with a script. With the last windows update on
Friday however this all seems to work fine without recreating the share

regards
graham

On Tue, Sep 6, 2016 at 12:10 PM Rolf Neugebauer <notifications@github.com>
wrote:

[2016-09-06 10:29] rneugeba commented on #32
@swissgrammie glad to hear it works for you now.

I'm closing this issue. if you still have issues after trying:
- use the Beta channel (https://download.docker.com/win/beta/InstallDocker.msi)
- domain users should use `domain\username`
- if you have multiple users, make sure the share is done with your user (`net share c`) and not a different one. you can delete shares with `net share c /delete`

[2016-09-06 10:29] #32 closed

[2016-09-06 10:33] rneugeba commented on #20
@unixcx could you create a new issue and provide a diagnostics ID? This does not look like the same issue others are seeing. Thanks

[2016-09-06 10:37] rneugeba commented on #20
@riveryc could you try the latest beta from https://download.docker.com/win/beta/InstallDocker.msi

[2016-09-06 10:37] rneugeba commented on #20
@gcortier could you also try the beta from https://download.docker.com/win/beta/InstallDocker.msi and if it still does not work provide a diagnostics ID for us to take a look at the logs?

[2016-09-06 12:21] gcortier commented on #20
@rneugeba : I've already tryed the beta version too with the same result. I can't make a new try now because i've set up back my environnement to toolbox and i haven't time to reconfigure it. Maybe i will retry when i will move to another project.
But my problem looks very similar to @riveryc.
Let me know if the error is fixed by new version.
Thanks

[2016-09-06 13:22] rneugeba commented on #20
@gcortier thanks for getting back. I'm not entirely sure what the too cause is, so I was trying to get as much debug info as possible to look for similarities and differences. It works for most users, so it is *something* which is different. Please do retry once you have time/move to another project, we try to constantly improve Docker for Windows.

[2016-09-06 14:42] devlife opened #72 "Wrong Date/Time"
### Expected behavior

I would expect the container date and time would match host date and time
### Actual behavior

The container is a day+ behind my windows host
### Information
### Steps to reproduce the behavior
1. `docker run...` for ubuntu:latest
2. `date` from within the container
3. Note that the date/time is different than your windows host

[2016-09-06 15:33] cognition commented on #55
Sending build context to Docker daemon 6.144 kB
Step 1 : FROM microsoft/windowsservercore
latest: Pulling from microsoft/windowsservercore
1239394e5a8a: Retrying in 15 seconds     <-- counted down several times
1239394e5a8a: Downloading
unknown blob

7E6A9CC6-B3A4-49B4-9CE7-2C1656D9D91E/2016-09-06_11-20-53

[2016-09-06 17:49] londoncalling commented on #27
@Morgy93 thanks for providing more info on this. @friism @rneugeba I'll further update the FAQ and troubleshooting to clarify that this issue extends to many applications. (The first pass on this in the docs, w/focus on Comodo, is here. I'll update it today: https://docs.docker.com/docker-for-windows/troubleshoot/#/docker-fails-to-start-when-comodo-firewall-is-installed and https://docs.docker.com

[2016-09-06 18:00] sdevane commented on #27
Yes. Comodo was the problem for me too.

On 6 September 2016 at 18:49, Victoria Bialas <notifications@github.com>
wrote:

--
Best regards

Stephen Devane

[2016-09-06 22:28] rneugeba commented on #72
@devlife thanks for the report. We use the in kernel Hyper-V time synchronisation and it should work, but may only gradually adjust time. A couple of questions:
- did this happen after your computer was set to sleep?
- did you check the time soon after waking up after sleep?
- did the gap get less over time?

[2016-09-06 22:30] rneugeba commented on #49
A quick update. We are working on putting all the documentation up on github, but this is a bigger task. For now we will provide a feedback mechanism.

/cc @londoncalling

[2016-09-07 00:30] myfriend12 commented on #62
I did the following to the directory, .vmcx and .VMRS files in C:\ProgramData\Microsoft\Windows\Hyper-V\Virtual Machines and still get the same error. I have also gone into the permissions of each file and folder and given full permissions to everyone. Any other suggestions?

[2016-09-07 07:19] mustikkakeitto commented on #54
Hi, here is my diagnostic ID for this problem:
61006024-AE02-4DD7-84D6-8C9EE6A824AF/2016-09-07_10-13-35

[2016-09-07 09:19] Hobby-Student commented on #54
I now have the same problem. yesterday everything was working normal... but today docker is not getting its IP.
Diagnostic ID: 2908EE57-E9BE-4162-A362-8B6927FFDEF2/2016-09-07_11-14-48

Surface Pro 3 (128GB & 4GB RAM)
Windows 10 Pro x64 with all updates available (no Insider)

(Have another Windows 10 Pro x64 as VM on ESXi 6 and it never worked as it never gets an IP. I know, that nested virtualiza

[2016-09-07 10:56] DreamFlasher commented on #25
@rneugeba I followed your comment https://github.com/docker/for-win/issues/25#issuecomment-244766650 and figured out the crucial part is `domain\user`.

For others I'll share different things I tried:
What worked for me for the first time:
1. Create a local admin account
2. Use a password without special characters
3. in docker reset credentials, in powershell delete the share, then reshare and ma

[2016-09-07 12:30] Heliosare commented on #55
Same here :,(
ADB9E8D7-58E2-4C9A-96E0-F2D2FCAF9FE6/2016-09-07_14-24-49

[2016-09-07 21:00] TaylorBarrick commented on #54
I had some success for a while, but a recent reboot triggered the old behavior.
Current win build is 14915.rs_prerelease.160826-1902

Diagnostic ID: 0D363E23-6B8A-4A91-AB4F-C0283E39F2B2/2016-09-07_15-43-48

[2016-09-07 21:44] jlengrand commented on #27
Hi there,

I have been trying all of the suggestions above for hours without success so far.

MY diagnostic id is : 6D065BF0-47D5-4CEA-B931-BD18015F5257/2016-09-07_23-39-03

Reinstalling, Using the beta 23, deleting the MobyLinuxVM, disabling/reenabling network adapters, nothing has worked so far.
My MobyLinuxVM stays in a starting state and will not move from it whatever I do. This in turn blocks

[2016-09-07 23:50] Irieish commented on #54
Hi @rneugeba. Just installed beta25. Win10 Pro (1607 - build 14393.105). Slightly different error, but still not getting an IP address. Logs show everything pointing to DockerNAT, but the only adapter showing in devmgmt.msc, (including hidden) is vEthernet (DockerNAT) 2.

Get-VMSwitch reveals DockerNAT as an Internal Switch, and Hyper-V shows MobyLinuxVM using DockerNAT as the connection, but with

[2016-09-08 09:22] fordprefect-001 commented on #54
Have the same issue, clean install of Win 10 Pro 1607 build 14393.105.

The VM never starts up have left it for 60+ minutes without it responding.

Diagnostic ID: 21623F99-9384-43D1-99D9-97FD9FFA1CF3/2016-09-08_09-24-19

Get the same behaviour with the latest beta and the stable build.

[2016-09-08 13:09] jlengrand commented on #27
Also, maybe worth noting that I have tried installing Docker on a colleague's computer in order to check whether it was my local files causing the issue for some reason. The same behaviour happens on his machine (MobyLinuxVM refuses to start). He also has the anniversary update installed

[2016-09-08 13:35] sdevane commented on #27
On 8 September 2016 at 14:09, julien Lengrand-Lambert <
notifications@github.com> wrote:

check that the Windows firewall is ON. and that the HyperVM ferature is
enabled... also that Comodo firewall or AV is not installed - as we
discovered issues with it and Docker.

--
Best regards

Stephen Devane

[2016-09-08 13:39] jlengrand commented on #27
Thanks @sdevane  for the answer. As written above, the issue was solved by uninstalling a security package, but one that was not on the list yet :).

Cheers

[2016-09-08 13:48] cokacola1978 commented on #55
same here
 id: 7B3BFE8C-E485-46E2-8227-397D2372BB9E/2016-09-08_15-40-55

[2016-09-08 14:34] dgageot commented on #55
@katygarner @jirapast @Toyinster @manbearpigisreal @cognition @Heliosare @cokacola1978 A new version (Beta25) was released yesterday with fixes to the network/dns stack. Could you please give it a try and tell us if you see an improvement? Thanks a lot!

[2016-09-08 14:36] dgageot commented on #43
@l8nite A new version (Beta25) was released yesterday with fixes to the network/dns stack. Could you please give it a try and tell us if you see an improvement? Thanks a lot!

[2016-09-08 14:39] dgageot commented on #24
@mahnunchik @Icantthinkofanyname @changeisnormal @Senegura @Rhynier @khalidsalomao @zcl0621 A new version (Beta25) was released yesterday with fixes to the network/dns stack. Could you please give it a try and tell us if you see an improvement? Thanks a lot!

[2016-09-08 14:41] dgageot commented on #54
@cuikangyi @tonercart @runner7532 @Irieish A new version (Beta25) was released yesterday, could you please give it a try and tell us if you see an improvement? It might not fix the issue but at least extracts more diagnostic information. So please provide us the diag ids so that we can tackle this issue!

[2016-09-08 15:57] fordprefect-001 commented on #54
Diagnostic ID: 21623F99-9384-43D1-99D9-97FD9FFA1CF3/2016-09-08_09-24-19

Was created with Beta 25

Kind Regards

[2016-09-08 16:20] friism commented on #53
@hasMobi closing this issue for now, please report back if you're still seeing this problem with beta25 which was released yesterday.

[2016-09-08 16:20] #53 closed

[2016-09-08 16:36] friism commented on #5
Hm, this works for me:

[code]

Is this a compose-specific problem?

[2016-09-08 17:47] Irieish commented on #54
@dgageot, the Diagnostic ID above was generated  after installing beta25. (6F013C72-7104-4907-BC8B-D7F1D42EE211/2016-09-07_15-09-29)

[2016-09-08 20:42] GiorgioG commented on #54
A diagnostic was uploaded with id: ABE399C6-8409-4EBF-ADF1-A46986F0A531/2016-09-08_16-37-37

[2016-09-08 22:22] jjhii commented on #55
I was asked to put my log file here from another thread:
https://forums.docker.com/t/network-timed-out-on-pull/21449

Error:
PS C:\> docker pull nginx
Using default tag: latest
Pulling repository docker.io/library/nginx
Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/nginx/images. You may want
to check your internet connection or if you are behind a pro

[2016-09-09 05:19] TimMensch commented on #55
I was actively using Docker from Windows as recently as four days ago (Sept 4). I tried updating a package tonight only to find a similar error to the ones described in this bug:

[code]

I've installed nothing relevant since then. I checked for Windows updates, and none were installed after September 1st. There were a couple of Visual Studio updates installed on the 4th, but no other hints as to

[2016-09-09 05:38] TimMensch commented on #55
OK, after upgrading to the beta, I can pull images again. Odd, but there you go.

[2016-09-09 06:34] cokacola1978 commented on #55
it's OK for me with the last beta version
thanks @dgageot

[2016-09-09 06:48] dgageot commented on #55
@TimMensch @cokacola1978 Thanks a lot for the update!

@jjhii Which version of Docker for Windows are you using? If it's not Beta25, can you please give it a try?

@katygarner @jirapast @Toyinster @manbearpigisreal @cognition @Heliosare If I get good feedback from a couple of you or if I get no news at all, I'll tentatively close the issue.

[2016-09-09 06:51] qwebek commented on #67
Here is output of several commands, looks like the same error (

PS C:\Users\XXX> & 'C:\Program Files\Docker\Docker\resources\MobyLinux.ps1' -Create True
C:\Program Files\Docker\Docker\resources\MobyLinux.ps1 : A positional parameter cannot be found that accepts argument 'True'.
At line:1 char:1
+ & 'C:\Program Files\Docker\Docker\resources\MobyLinux.ps1' -Create Tr ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~

[2016-09-09 07:09] dgageot commented on #67
@qwebek Thanks for the update. As @rneugeba said, you should be in `C:\Program Files\Docker\Docker\resources` to run the commands. So let me refine the sequence of commands that you could run:

+ exit the application
+ Stop-Service com.docker.service
+ cd 'C:\Program Files\Docker\Docker\resources'
+ .\MobyLinux.ps1 -Destroy
+ check that the VHDX file (C:\Users\Public\Public Documents\Hyper-V\Virtu

[2016-09-09 07:21] qwebek commented on #67
Hi David,
Here is output

PS C:\program files\docker\docker\resources> Stop-Service com.docker.service
PS C:\program files\docker\docker\resources> .\MobyLinux.ps1 -Destroy
VM MobyLinuxVM does not exist
Destroying Switch DockerNAT...
Removing VM MobyLinuxVM...
Delete VHD C:\Users\Public\Public Documents\Hyper-V\Virtual hard disks\MobyLinuxVM.vhdx
PS C:\program files\docker\docker\resources> .\Moby

[2016-09-09 07:35] saule1508 commented on #24
@dgageot : it solved the problem for me, thanks. (in a previous post I mentioned that switching to fixed DNS solved my issue but it was only temporarily fixed).

[2016-09-09 07:35] dgageot commented on #67
@qwebek Can you please try to create a new VM with default options using the `Hyper-V Manager` GUI? I'm betting on a corrupted Hyper-V installation like described here: https://social.technet.microsoft.com/Forums/en-US/b7affd2b-e27a-40e1-bbdc-38a48e757a60/corrupted-hyperv-environment?forum=winserverhyperv

If it's case, I'd run ` .\MobyLinux.ps1 -Destroy` then go to Add/Remove Windows Features, re

[2016-09-09 07:36] dgageot commented on #24
@saule1508 \0/

[2016-09-09 07:38] dgageot commented on #60
@hanbaobao2005 The installation logs can be found in `C:\ProgramData\Docker`.

You could also kill the service manually, download beta25 from https://download.docker.com/win/beta/InstallDocker.msi and install it over your current installation

[2016-09-09 07:43] dgageot commented on #18
@FrenchBen What can we do to improve current behaviour?

[2016-09-09 07:47] dgageot commented on #62
@myfriend12 @rahilwazir Can you please try these commands from an **elevated Powershell**:

+ `cd 'C:\Program Files\Docker\Docker\resources'`
+ `.\MobyLinux.ps1 -Destroy`
+ `.\MobyLinux.ps1 -Create`
+ `.\MobyLinux.ps1 -Start`

[2016-09-09 08:11] qwebek commented on #67
OO  created and started VM with default params

![virtual_machine](https://cloud.githubusercontent.com/assets/21314161/18380007/0f131172-767e-11e6-99b4-33aeb6ab0987.png)

![virtual_machine_1](https://cloud.githubusercontent.com/assets/21314161/18380016/147f3032-767e-11e6-9655-5c415f69b478.png)

[2016-09-09 08:18] qwebek commented on #67
In that post you gave, the guy is describing the situation when HyperV fails to create VM when using existing vhdx, i will try to create new VM through HyperV UI using .vhdx created by docker, will update after minute

[2016-09-09 08:21] myfriend12 commented on #62
Ran the commands, this is the result:

[2016-09-09 08:22] qwebek commented on #67
Ok, its failing as described in above post link

![virtual_machine_2](https://cloud.githubusercontent.com/assets/21314161/18380384/c1c1275e-767f-11e6-9567-e0d324285f4a.png)

[2016-09-09 08:38] katygarner commented on #55
@dgageot Where can I get Beta25 from?  (the website has changed and only offers me the latest version of windows for docker - which I've tried and has the same issues)  Thanks

[2016-09-09 08:58] katygarner commented on #55
@dgageot Beta25 has fixed this problem for me.  Thanks

[2016-09-09 08:58] hanbaobao2005 commented on #60
@dgageot Thanks for the update, Let me try it :-)

[2016-09-09 09:00] dgageot commented on #55
\o/

[2016-09-09 09:23] antoniocanas commented on #72
This is happening to me as well, since last update

[2016-09-09 09:27] qwebek commented on #67
Multiple disable-reboot-enable-reboot Hyper-V doesn't help (
It just cannot create VM using exisitng vhdx
I also didint find a way to reinstall hyper-v except of that way that is done through turn windows features..
It looks like dead end)

[2016-09-09 12:17] dgageot commented on #48
@bbodenmiller for your information this will be included in next beta (Beta26)

[2016-09-09 12:22] dgageot commented on #9
@mcesar @DeltaWhy FYI, I'm going to close this issue because open sourcing the whole project is not something we plan to do in the short/medium term. Also the root issue you are describing is a duplicate of https://github.com/docker/for-win/issues/48 which FYI should be fixed in next Beta (beta26)

[2016-09-09 12:22] #9 closed

[2016-09-09 12:25] dgageot commented on #5
@oparoz @maltyxx @matevarga Could you please test with Beta25 that was released two days ago. It contains some fixes related to file mounting. If you still have the issue, could you confirm:

 + That it works with docker cli like it works for @friism
 + It still fails with Compose. In which case a simple compose file to reproduce the issue would be nice.

[2016-09-09 12:28] dgageot commented on #26
Hi oscarpicasso-intact, could you please try Beta25 because it contains fixes to the networking/dns resolution?

[2016-09-09 12:29] dgageot commented on #26
Hi @oscarpicasso-intact, could you please test Beta25? It contains fixes to the networking and dns resolution so maybe it can help.

[2016-09-09 12:30] dgageot commented on #23
@oscarpicasso-intact @abuechler I believe this is a duplicate of #48, so I'm going to close the issue. Feel free to reopen if you don't agree. Thank you for submitting those bug reports!

[2016-09-09 12:30] #23 closed

[2016-09-09 12:32] dgageot commented on #39
@ptrewhella I haven't tried it but Beta25 brings some changes to the file mounting. There's a slight chance that it might help. Could you give it a try?

[2016-09-09 12:33] cvillerm commented on #72
Same problem happening to me. The clock drift corresponded exactly to the time my laptop was in sleep mode. I didn't realize it immediately, but I started to see wrong behaviors in my Docker applications (ELK stack reporting logs with a time difference) just after resuming.

[2016-09-09 12:38] dgageot commented on #24
I believe this is a duplicate of #55

When I get a bit more users saying that Beta25 fixes the issue, I'll close both tickets

[2016-09-09 12:43] dgageot commented on #25
@DreamFlasher Good to know that it works for you!

If I read the history correctly, it seems that the issue is fixed for everybody so I'm going to close the ticket. Feel free to reopen a new one if it still occurs.

[2016-09-09 12:58] devlife commented on #72
@rneugeba My computer was not set to sleep. I'll set my computer to sleep and check the time and see if the gap has lessened.

[2016-09-09 13:10] DreamFlasher commented on #25
I think the credentials dialogue on windows needs to be changed. It should point out that the username needs to be entered in the form `domain\user` or `computername\user` -- ideally it would fill it out automatically for the current user.

[2016-09-09 13:33] devlife commented on #25
@DreamFlasher I'd suggest a checkbox for "current user" instead. But I love the idea of pointing out that you must enter the domain and username as you pointed out. That actually had me chasing my tail last week.

[2016-09-09 13:41] oparoz commented on #5
Here is an example which still doesn't work:
https://github.com/otbe/nc-docker-fpm/blob/master/example/docker-compose.yml

[code]

[2016-09-09 13:48] oparoz commented on #5
And regarding the test

[code]

Not sure if that's relevant, but I created the file manually and then

[code]

[2016-09-09 13:54] DreamFlasher commented on #25
Fine with me too, but the crucial part is that the user should be informed that the domain is important, because well, otherwise it doesn't work and you don't get any feedback at all.

[2016-09-09 14:21] jjhii commented on #55
@dgageot --- when I do check update, it says I have the latest version

Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      linux/amd64

[2016-09-09 15:02] cvillerm commented on #72
Disabling and then enabling again the **MobyLinuxVM > Settings > Integration Services > Time synchronization** service from **Hyper-V Manager** resyncs the clock of containers immediately.

[2016-09-09 15:56] stuft2 commented on #25
@rneugeba and @DreamFlasher , I'm working with johnrb2 on this issue. I'm running Docker version 1.12.0, and I entered the following in Powershell like @DreamFlasher suggested: docker run --rm -v c:/Users:/data alpine ls /data.  The data folder comes back empty for me.

[2016-09-09 16:01] DreamFlasher commented on #25
@stuft2 Did you make sure to enter the exact correct `domain\user` as username in credentials?

[2016-09-09 16:31] stuft2 commented on #25
@DreamFlasher I did login with the correct domain\user. I'm going to try the steps that @rneugeba suggested to johnbr2 4 days ago. Then I'll leave an update.

[2016-09-09 16:37] dgageot commented on #55
@jjhii Can you please double check in the About box?

[2016-09-09 16:51] stuft2 commented on #25
@rneugeba I did the the two shell and docker commands with nc -w and PS1 printed out the following:
[code]

[2016-09-09 17:20] l8nite commented on #43
@dgageot unfortunately it doesn't appear to have been resolved. It's actually worse now, as when I'm connected to the VPN I can no longer resolve internal OR external names.

[2016-09-09 17:22] purveshgosai14 opened #73 "Error"
![error](https://cloud.githubusercontent.com/assets/3169430/18396215/61487c36-7690-11e6-8793-2ef0d7a77ab2.jpg)
### Expected behavior

### Actual behavior

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows versio

[2016-09-09 17:22] ptrewhella commented on #39
@dgageot Yes, sure I'll try it now. Thanks.

[2016-09-09 17:31] ptrewhella commented on #39
@dgageot Just updated and ended up with the same results (root:root) after chown.

[2016-09-09 18:00] jjhii commented on #55
@dgageot - about box says Version 1.12.0-stable (build: 5968) 9cd1dc2

[2016-09-09 18:02] dgageot commented on #55
Then you won't see the fix. It's only on beta channel for now

Le ven. 9 sept. 2016 à 20:00, John J. Hughes II <notifications@github.com>
a écrit :

[2016-09-09 18:19] manbearpigisreal commented on #55
@dgageot This may sound silly, but where can I get the Beta version?

[2016-09-09 18:21] friism commented on #55
@manbearpigisreal Download from here: https://docs.docker.com/docker-for-windows/

[2016-09-09 18:30] FrenchBen commented on #18
@dgageot Could we package it as part of the Docker for Windows installer?

[2016-09-09 18:43] manbearpigisreal commented on #55
@dgageot @ebriney  awesome, beta works for me.

Thank you both.

[2016-09-09 18:53] londoncalling commented on #25
fyi, Rolf I'm working on adding this to the FAQs and will re-publish later
today. It's just taking me a little longer to figure this one out.

On Mon, Sep 5, 2016 at 8:28 AM, Rolf Neugebauer <notifications@github.com>
wrote:

[2016-09-09 19:08] jjhii commented on #55
@dgageot @manbearpigisreal  -- ok, installed version 1.12.1-beta25 (build: 6833) 158f2ee
Problem seems to be gone, thanks.

[2016-09-09 20:17] rahilwazir commented on #62
@friism Still same error as mentioned by @myfriend12, I also had `.vmcx` and `.VMRS` files.

@dgageot Ran the command, here's the output:

[code]

[2016-09-10 03:47] nijel91 opened #74 "Unable to run Docker for Windows on Windows 10 Ent"
### Expected behavior

Ability to run Docker for Windows
### Actual behavior

Docker Daemon not starting
### Information
- Diagnostic ID: 0FE9B5A9-AEF2-4210-BE1E-FFEAAFAD5A37/2016-09-09_22-42-17
- host distribution and version: Windows 10 Enterprise 10.0.10586
### Steps to reproduce the behavior

 to reproduce, please follow installation instructions

[2016-09-10 10:32] dgageot commented on #73
Hi @purveshgosai14 Thanks for submitting this issue. Can you please provide more information like:

 + The version of windows
 + The version of Docker for Windows

[2016-09-10 10:33] dgageot commented on #55
Looks like Beta25 fixes the issue for a lot of users and nobody complained that the issue is still here. So let's close this ticket!

[2016-09-10 10:33] #55 closed

[2016-09-10 10:33] dgageot commented on #24
Looks like Beta25 fixes the issue for a lot of users and nobody complained that the issue is still here. So let's close this ticket!

[2016-09-10 10:33] #24 closed

[2016-09-10 11:15] mahnunchik commented on #24
It solved my problem. Thanks!

[2016-09-11 09:53] ecsousa commented on #37
Hi,

I've was able to connect doing a working arround with ngix by starting it with the following config

[code]

Then, on container I just set `DOCKER_HOST` variable to `10.0.75.1`.

_NOTE: My Docker toolbox internal virtual switch subnet address is set to 10.0.75.0 (default), that's why I've used 10.0.75.1 IP address_

[2016-09-11 10:42] Mastergalen opened #75 "Cannot uninstall Docker v1.12.1-rc1-beta23 Build: 14393"
### Expected behavior

Docker should uninstall itself when uninstalling it from Control Panel -> Uninstall a program.

### Actual behavior

The uninstallation process is unable to proceed unless the original `InstallDocker.msi` file exists.

![2016-09-11 12_36_42-windows installer](https://cloud.githubusercontent.com/assets/1261152/18416729/71ccae50-781c-11e6-8b6b-810fcd4c353b.png)

### Informatio

[2016-09-11 15:19] kidlj commented on #56
Vagrant can make bi-directional file changes synchronization between Windows host and Linux guest machines. And Vagrant takes several ways to achieve this:

Samba: https://www.vagrantup.com/docs/synced-folders/smb.html
RSync: https://www.vagrantup.com/docs/synced-folders/rsync.html
Virtualbox shared folders: https://www.vagrantup.com/docs/synced-folders/virtualbox.html

Hope you can find some insp

[2016-09-11 15:56] Toyinster commented on #55
Thanks @dgageot - the update has fixed the issue! Great job.

[2016-09-12 06:44] dgageot commented on #62
@rahilwazir You should run ` Set-ExecutionPolicy -Scope Process Unrestricted` before, to allow the execution of Powershell scripts in your session.

[2016-09-12 06:55] xckai commented on #55
Using  ip:port instead of url:port as proxy , It will works fine

[2016-09-12 08:46] rahilwazir commented on #62
Ok so here's the output:

[code]

[2016-09-12 12:22] ruloweb commented on #62
I had a similar issue and solved it following this instructions: https://forums.docker.com/t/failed-to-create-vm-mobylinuxvm-cannot-find-an-overload-for-min-and-the-argument-count-2/17918

[2016-09-12 15:10] friism commented on #56
@kidlj yes, moving files and file changes back and forth works fine (as it does with Docker for Windows), but the inotify change notifications are not, and not with any of those solutions that you linked to either, at least not that I know of. Do you have an example of inotify working with either SMB, RSync or vbox shared folders?

[2016-09-12 15:50] Mastergalen commented on #75
After being able to find the build number within `Docker.Backend.dll` locate in `C:\Program Files\Docker\Docker` and checking the build number inside the properties of the file, I found that the build number i have installed is 6433.

The download link that works is https://download.docker.com/win/beta/1.12.1.6433/InstallDocker.msi

However, after downloading the file and trying the uninstall agai

[2016-09-13 02:51] kidlj commented on #56
@friism Thank you for the explanation. I thought inotify was the same as file changes synchronization, but now I get it.

I just found a vagrant solution for the same inotify issue, could it help?
https://github.com/adrienkohlbecker/vagrant-fsnotify

[2016-09-13 03:00] friism commented on #56
@kidlj I don't think it works for Windows, but might be an interesting model. Maybe @rneugeba has thoughts.

[2016-09-13 07:53] rahilwazir commented on #62
@ruloweb Nope, it still appears to throw the same error, after deleting the existing `.vhdx` file and VM from Hyper-V Manager.

[2016-09-13 13:31] ericis opened #76 "Cannot run Docker after reinstall"
### Expected behavior
Docker daemon starts when Windows starts.

### Actual behavior
Failure with error.

### Information

  - Diagnostic: 8800B175-02A6-4B07-92A0-BE9066A0F6D8/2016-09-13_08-23-57
  - Windows Enterprise 10 Version	10.0.14393 Build 14393
  - Docker 1.12.0-stable (build: 5968)

### Steps to reproduce the behavior

  1. Uninstall & reinstall

### Resolutions attempted

- Uninstall "Wi

[2016-09-13 14:06] billhab opened #77 "Volume mounts do not work on windows 10"
### Expected behavior
docker run -it -v //c/Users://c/users Ubuntu bash
ls -al /c/users should show windows usernames

### Actual behavior
Volume is created but /c/users is empty

### Information

I have read all the issues where this has been reported before.  Nothing I have tried makes any difference. It doesn't work.  Even though volume is created in the container, it does not show any director

[2016-09-13 14:13] billhab commented on #77
Fails the same way if powershell or cmd

If I inspect the container the mount appears with proper source location.

Running on Windows 10 pro

Found dns server 192.168.1.1
[09:49:11.084][ApiProxy       ][Info   ] Forward DNS query on udp to 192.168.1.1:53
[09:49:11.085][ApiProxy       ][Info   ] Forward DNS query on udp to 192.168.1.1:53
[09:49:11.090][VpnKit         ][Debug  ] com.docker.slirp.ex

[2016-09-13 15:23] moleCuleFFF commented on #63
Apache is a good case point, as Apache runs as user and group www-data:www-data it cannot write to named volumes. Basically making Drupal development on docker a real PITA due to its directory structure.

I think this will be one of the most requested features, the best way to manage this would be to allow you to declare a uid:gid per volume euither in docker-compose if your using it or Dockerfile

[2016-09-13 18:34] billhab commented on #77
![snap1](https://cloud.githubusercontent.com/assets/4042769/18486466/1c03ee4e-79bf-11e6-96cc-5d96d236b967.gif)

[2016-09-13 22:11] DeltaWhy commented on #56
I guess I was mistaken. It looks like `mocha --watch` works on both (I guess it's using polling) and `nodemon` doesn't by default, which is maybe why I got confused.

Rsync with rsync-auto should trigger inotify events since it's touching files on the Linux native FS, right? But that probably won't work for sharing a whole drive :wink:

Vagrant-fsnotify looks very interesting but I wonder if that

[2016-09-14 01:55] MadLittleMods opened #78 "Shared Drives not applying"
### Expected behavior

Entering correct credentials in the Windows Security dialog after sharing a drive will successfully share the drive with containers

### Actual behavior

When [sharing a drive](https://docs.docker.com/docker-for-windows/#/shared-drives), entering correct credentials re-opens the Windows Security dialog with no perceivable action taken.

### Information

 - Windows 10 Pro wit

[2016-09-14 02:05] MadLittleMods commented on #77
@billhab I think you are experiencing Hyper-V driver not supporting mounting volumes, see https://github.com/docker/docker/issues/22981

[2016-09-14 02:27] billhab commented on #77
I think this is going in the direction that I will not be able to mount volumes successfully in a Windows environment.  What good is docker if I can't access my data?  I have read so many comments the past couple days that make my head spin.  Do this: turn off your firewall or change firewall rules, play with domain user name, remove passwords with funny characters,  reset credentials/restart Dock

[2016-09-14 02:30] friism commented on #77
@MadLittleMods that's not the case - Docker for Windows supports volume mounting.

@billhab can you try the test command suggested in the app?

    docker run --rm -v c:/Users:/data alpine ls /data

[2016-09-14 02:43] billhab commented on #77
@MadLittleMods - If you look at the screen shot which is the above you'll see I have done that. In fact I have done it about a hundred times when trying different combinations of suggestions from various people.  It simply doesn't work.  Now I heard that using hyper-v with Docker which is my setup does not support mounting volumes.
Is my only recourse to uninstall docker and reinstall with virtual

[2016-09-14 03:09] MadLittleMods commented on #77
@friism What are the intricacies/caveats of it? Here is a quote I found from you:

---

Trying not to butt into this issue but here is an example:

[code]

`docker-compose.yml`
[code]

[code]

But the entrypoint can't be found

[code]

[2016-09-14 03:11] friism commented on #77
@MadLittleMods that comment was talking about something created with  `docker-machine create` using the hyper-v driver. Volume mounting from host won't work with that.

This question is about Docker for Windows, which has host volume mounting support and is different than docker machine.

[2016-09-14 03:23] DiJu519 opened #79 "Cannot pull from Docker Hub while Cisco Anyconnect VPN is active"
### Expected behavior
I'd be able to pull from Docker Hub

### Actual behavior
$ docker build .
Sending build context to Docker daemon 56.21 MB
Step 1 : FROM jenkins:1.642.4
Pulling repository docker.io/library/jenkins
Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/jenkins/images. You may want to check your internet connection or if you are behind a pr

[2016-09-14 03:29] billhab commented on #77
I'm sorry guys. this isn't helping me.  I just want to have access to a windows set of files (about 40gb of data) in a directory tree from a docker container.  Mounting the path as a volume doesn't work.   I'd like to find out how to make it work.  If there isn't a way to get it working then I'd like to know so I can move on to finding another solution.

[2016-09-14 06:45] dgageot commented on #78
Hi @MadLittleMods, thanks for the detailed report! Could you give a try to the Beta channel instead of the Stable channel? It contains multiple fixes to the file sharing.

[2016-09-14 06:48] dgageot commented on #76
Hi @ericis , thanks for the detailed report! Could you give a try to the Beta channel instead of the Stable channel? It contains multiple fixes that might help.

[2016-09-14 06:49] dgageot commented on #75
@ebriney Could you try to help @Mastergalen please?

[2016-09-14 06:50] dgageot commented on #73
@purveshgosai14 Have you had time to search for the information? Also, if you are on stable channel, you migh give a try to the beta channel since it contains multiple bug fixes around networking.

[2016-09-14 06:52] dgageot commented on #48
@bbodenmiller Docker for Windows Beta26 was released yesterday. Could you give it a shot and see if it fixes your issue?

[2016-09-14 06:57] dgageot commented on #42
Hi @mablae have you had time to upload a diagnostic so that we can help fix the issue? Or maybe your managed to fix the issue. In any case, please keep us posted. Without news, I will close the issue in a couple of days.

Thanks a lot!

[2016-09-14 06:59] dgageot commented on #43
ping @ebriney Coud you please try to debug @l8nite's DNS configuration and understand why we don't pick the right one? Thanks

[2016-09-14 07:03] bbodenmiller commented on #48
Sure, will check. Do I upload the CA cert or do you pull them from the Windows cert store? The latter would be the better option.

[2016-09-14 07:05] dgageot commented on #48
@bbodenmiller We do pull them from the cert store :-)

[2016-09-14 07:06] randomxxxx opened #80 "Problem with docker compose an firewall\proxy"
Hi all,

We are trying to get docker and docker compose working in our corporate environment. We have already made changes to allow images to be pulled and certain keyserver sites to be accessible. The issue we are having now is while Docker is building the image trying to access the internet - our network guy said that "my machine is still attempting to make the connection through the firewall an

[2016-09-14 07:12] dgageot commented on #20
Hi @riveryc have you had time to test a more recent version? If your issue is fixed, please close this ticket. Thanks!

[2016-09-14 08:03] martixingwei commented on #54
diagnostic id: 066578FF-A665-4917-BB3C-83A7E9C2AC6B/2016-09-14_01-00-09

[2016-09-14 08:22] phinz commented on #77
i have the same issue. The example command has a empty result:
[code]

Until i tried to mount a subfolder:
[code]
That seems very strange, because there are still more user folders in the path "c:/Users".

[code]
[code]

[2016-09-14 08:56] Mastergalen commented on #75
@ebriney Thank you, I eventually gave up on this though and just reset my Windows 10.

[2016-09-14 08:56] #75 closed

[2016-09-14 09:57] marc1404 commented on #77
Experiencing the same problems as @phinz
Windows 10 Pro, Version 1511
Docker for Windows, Version 1.12.0-stable, Build 5968

[2016-09-14 13:06] ericis commented on #76
Will do @dgageot. I'll report back within 24 hours. Thanks.

[2016-09-14 13:42] MadLittleMods commented on #78
@dgageot Same issue with Docker 1.12.1-beta25 (build:6833) 158f2ee

[2016-09-14 13:48] billhab commented on #77
Not only do you not see the content of the volume but you can't write back into it.  The source never sees what has been copied there.  This may be related or a different issue.

PS C:\Users\bihaber> docker run -it -v //d/scratch:/scratch bills:1.2 bash
root@b73c99d9b2c5:/# ls scratch
root@b73c99d9b2c5:/# ls -al scratch
total 4
drwxr-xr-x   2 root root   40 Sep 13 21:27 .
drwxr-xr-x 210 root root

[2016-09-14 14:30] friism commented on #78
@MadLittleMods could you please upload a diagnostic dump (it's in the Docker tray icon menu) so we can get more info about your system?

[2016-09-14 16:34] nickalbrecht opened #81 "Exception on startup - Unable to create: Sequence contains more than one element"
This has been an issue in the last three builds or so, I figured the next build each time would fix it. I haven't been using docker much, so nothing's loaded in it. But I wanted to report the problem to help get it resolved for the next person

### Expected behavior
Docker to finish startup and reside in the system tray with indications that it's running normally

### Actual behavior
The docker tr

[2016-09-14 21:54] Irieish commented on #54
Update after installing version 1.12.1-beta26 (build: 7018). Still unable to get an IP Address.

Diagnostic ID: 6F013C72-7104-4907-BC8B-D7F1D42EE211/2016-09-14_14-03-31

Unable to start: The VM couldn't get an IP address after 60 tries
at <ScriptBlock>, <No file>: line 340
   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.ContainerEngine.Linux.DoSta

[2016-09-14 23:33] Irieish commented on #54
While I still look forward to sorting out the issue above, I noticed the taskview option to switch to Windows Containers, from which Docker was finally able to start, but generates the following error when trying to pull the nginx image. Given the IP address issue above still remains, not sure if switching to Windows containers is the best action... just wanted to share and see what was recommende

[2016-09-14 23:38] ericis commented on #76
Okay, I'm up and running, but attempting to retrace my steps. Resources I used came from:
- https://github.com/docker/for-win/issues/67
- https://forums.docker.com/t/unable-to-send-start-failed-to-start-mobylinux-vm/13258/8

[2016-09-15 00:10] ericis commented on #76
Note: Windows 10 Enterprise running the latest Docker for Windows on top of Hyper-V (versions above).
(**not VirtualBox!**)

Steps I attempted that eventually got it working...
(1) Reinstall Docker (failed)
(2) Stop/Start Docker service manually (failed)
(3) Realized the issue seemed related to something in Hyper-V
(4) Used [Vagrant](http://vagrantup.com) to confirm I could create a Hyper-V image

[2016-09-15 07:32] qwebek commented on #76
Thanks for detailed description Eric, will try some of your steps

Cheers,

[2016-09-15 08:37] ebriney commented on #43
@l8nite Can you give me a new diagnostic id?

Because using your user id D90C5FE2-32AC-486E-AB8E-EF1EF4E0036E, there is only the previous bug report info.

Thanks for the help.

[2016-09-15 08:41] ebriney commented on #60
@hanbaobao2005 did it work?

If not you can still try the 'ForceRemoveDocker.ps1' script in Resources

[2016-09-15 13:50] kishutvn opened #82 "Unable to start docker on windows 10"
### Expected behavior
Docker service should start successfully
### Actual behavior

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

### Steps to reproduce the behavior

  1. ...ins

[2016-09-15 19:16] krystan opened #83 "Unable to start docker beta channel after upgrade"
### Expected behavior
Launch docker and it should run moby machine fine.

### Actual behavior

An Error message is displaed

### Information

No virtual machine was created .

I have uninstalled and reinstalled from scratch with no success.

[log.txt](https://github.com/docker/for-win/files/475405/log.txt)

### Steps to reproduce the behavior

  1. ...Clicked upgrade from previous version(not the

[2016-09-15 19:21] krystan commented on #83
I am closing this it has already been reported and classified as a bug no need to duplicate

[2016-09-15 19:21] #83 closed

[2016-09-15 19:21] krystan commented on #81
I duplicated this but closed my issue I can confirm I also see this behaviour

[2016-09-15 19:40] krystan commented on #81
Further investigation proved fruitful.

I went to the docker resources directory and ran

.\MobyLinux.ps1 -Destroy

I then opened up hyper-v manager went to my virtual switch and set it to internal
I then ran .\MobyLinux.ps1 -Create
I then opened up hyper-v manager and changed the switch back to private
I ran docker and it now worked as the vm had been created.

I hope this helps.

[2016-09-15 23:18] kryton opened #84 "Docker Build causes panic"
running Docker4Win (Beta) -  9C3411FC-B7F8-492E-9A8E-087E63AD674E/2016-09-15_18-18-08

set REPO=docker-registry-v2.XXXXXXXXXXX.com
docker build --rm=true -t %REPO%/dr_offline .

time="2016-09-15T18:14:36-05:00" level=error msg="Can't add file \\\\?\\C:\\GD\\work\\src\\offline\\.git\\hooks\\prepare-commit-msg.sample to tar: io: read/write on closed pipe"
An ertime="2016-09-15T18:14:36-05:00" level=

[2016-09-15 23:29] l8nite commented on #43
@ebriney I will reproduce and provide a new diagnostic ID this weekend. I don't have access to my windows machine at the moment.

[2016-09-16 07:21] oparoz commented on #5
Same problem on beta26

[2016-09-16 07:54] purveshgosai14 opened #85 "cannot opening the homepage on 192.168.99.100[port number]"
### Expected behavior
If I write 192.168.99.100[port number], it will open my home page but
### Actual behavior
my docker is already connected with database but now if I open http://192.168.99.100[port number], nothing is opening. The expected output is home page.

![screenshot 3](https://cloud.githubusercontent.com/assets/3169430/18579034/17ec500e-7bc1-11e6-9f94-4847a5013ccd.png)
![screenshot 4](

[2016-09-16 10:15] MadLittleMods commented on #78
Sorry @friism, I moved on to Docker Toolbox and VirtualBox driver. I would need to reinstall Docker for Windows and do the Hyper-V dance again.

[2016-09-16 11:42] glennsills opened #86 "Unable to run hello-world on clean install."
### Expected behavior
PS C:\Users\glenn> docker run hello-world
results in hello-world image being pulled from docker.io

### Actual behavior
Program errors out with message:

C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Network timed out while trying to connect to https://index.docker.io/v1/repositories/library/hello-world/images. You may want to check your internet connection or if y

[2016-09-16 11:51] Matthias247 opened #87 "Can not pull images from private registry"
### Expected behavior
We have set up an internal docker registry which we use for image sharing. It's located out `companyrepo:5000`. When I used the old boot2docker solution I could easily do `docker pull companyrepo:5000/myimage:1` to pull and use an image. I only had to add the server name to the insecure registry entries.

I want to be able to do the same thing with docker for windows.

### Ac

[2016-09-16 13:19] Matthias247 commented on #87
In the meantime I got it running in 2ways:

1. Use the full qualified domain name of the server. E.g. `docker pull companyrepo.ourcompany.com:5000/myimage:1`. This is not as nice since the images then have a different name.
2. Set the DNS search option **inside** the docker for windows host. I'm doing this with:
  docker run -it -v //:/host alpine //bin/sh
  open /host/etc/resolv.conf and add "sea

[2016-09-16 14:04] kryton commented on #84
please close. I had my docker host environment variable set, and this is probably why it was happening.
it's more an issue with the docker client I'd guess

[2016-09-16 14:04] #84 closed

[2016-09-16 14:37] friism commented on #85
@purveshgosai14 are you using Docker for Windows? In that case, container ports are exposed on `localhost`, and you shouldn't use `docker-machine` for local provisioning.

[2016-09-16 14:54] purveshgosai14 commented on #85
@friism I'm using Docker tool box.

[2016-09-16 15:28] friism commented on #85
@purveshgosai14 ok, closing this issue, please re-open in the toolbox issue tracker: https://github.com/docker/toolbox/

[2016-09-16 15:28] #85 closed

[2016-09-16 16:28] drm2 commented on #6
@rneugeba I don't think this is the case. There is a clear distinction between Hyper-V containers and [Native Windows Containers](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/about/about_overview). Is Docker for Windows using Hyper-V containers (which are essentially just VMs still), or is it actually using Native Containers?

[2016-09-16 16:35] dgageot commented on #86
@glennsills Thanks for the bug report. This is a known bug in version `1.12.0`. Please update to `1.12.1`

[2016-09-16 16:37] dgageot commented on #87
Hi @Matthias247 which version of Docker for Windows are you using? You might want to try a more recent version since we added some support for search domains in `beta26` and `1.12.1`

[2016-09-16 16:39] dgageot commented on #82
Hi @kishutvn Could you please try version beta26? If the problem is still here, could you upload a full diagnostic and paste the diag id here? That would be really helpful!

[2016-09-16 16:41] Matthias247 commented on #87
@dgageot It's 1.12.1 and beta26. Installed it just today in order to try it out.

[2016-09-16 16:42] dgageot commented on #81
@nickalbrecht Can you confirm that a "Reset to factory defaults" fixes the issue?

@krystan Please don't mess with the virtual switch!! ;-)

[2016-09-16 16:45] dgageot commented on #79
Hi @DiJu519 it looks like you are still using `beta21`. Please update to Beta26 because it contains lots of fixes to the networking.

[2016-09-16 16:48] dgageot commented on #78
@MadLittleMods I'm afraid I will have to close this issue as "Could not reproduce" then. Next version of Docker for Windows will have an improved file sharing that should solve similar issues. Feel free to reopen this ticket if you come back to using Docker for Windows!

[2016-09-16 16:48] #78 closed

[2016-09-16 16:50] dgageot commented on #77
@billhab Have you tried version Beta26? Both @marc1404 and @phinz report that it fixes their issue

[2016-09-16 16:52] dgageot commented on #76
@ericis You could also give a more recent version a try. Please tell us if your issue is fixed so that I can close the issue. Thanks a lot!

[2016-09-16 16:52] rneugeba commented on #6
@drm2 I'm fairly certain that Windows 10 AE only supports Hyper-V containers. Native Windows Containers are a feature of Windows Server 2016

[2016-09-16 16:53] dgageot commented on #74
Hi @nijel91 thank you for reporting this issue! Can you please update to `1.12.1-stable` or `beta26` and tell us if the issue is fixed for you now?

[2016-09-16 16:54] dgageot commented on #48
Hi @bbodenmiller Did `beta26` work for you?

[2016-09-16 16:57] dgageot commented on #42
@mablae I'm going to have to close this issue since we couldn't reproduce it and didn't get a more complete diagnostic. Thanks again for helping us and feel free to reopen the ticket if you still have the issue and can provide more information

[2016-09-16 16:57] #42 closed

[2016-09-16 17:00] dgageot commented on #26
Hi @oscarpicasso-intact, I'll be closing this issue in a couple of days under the assumption that more recent betas have fixed the issue for you. Thanks a lot for your contribution and please feel free to reopen the ticket with more information to help us reproduce and fix!

[2016-09-16 17:10] billhab commented on #77
Is it newer than what I am running and if so how do I get it?
PS C:\Users\bihaber> docker version
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016

[2016-09-16 17:16] thasmo commented on #77
@dgageot I'm running Docker for Windows version `1.12.1-beta26` and Docker doesn't mount the specified directory. Running `docker run --rm -v c:/Users:/data alpine ls -al /data` lists an empty directory, although I've enabled to share `C:` in the Docker UI settings.

[2016-09-16 17:24] billhab commented on #77
I just tried Docker for Windows version 1.12.1.beta26 and it doesn't work either.
Can I get this to work if I use Docker Toolbox instead??

[2016-09-16 17:53] danbeaulieu commented on #74
I was also having issues on Windows 10 Enterprise on several different hosts.

I just installed Docker for Windows Beta 26 and it was still not able to start, crash report:
0199DC35-2724-4E6E-B6BC-28BDF9573BF9/2016-09-16_13-52-02

[code]