[2016-11-29 20:22] MeQuake commented on #260
@rneugeba Firstly I have run this batch file as Administrator:
[code]
I've deleted VirtualBox, and networks related to it. Reinstalled docker.
Now Get-NetAdapter etc works but Docker still stucks on Opening ports for C:\Program Files\Docker\Docker\Resources\com.docker.proxy.exe...

A diagnostic was uploaded with id: C4DC4F87-08D7-4B7B-ADF1-4061DDD9288A/2016-11-29_21-22-16

[2016-11-29 20:40] asadsahi commented on #254
@rneugeba any update on this? Thanks

[2016-11-29 21:27] volak commented on #202
@friism Thanks for the update.. that process is .. unfortunate.  I'll have to transfer around 6gb packages to deploy each of my docker containers.  Not to mention the editing process is not really something I can put into ansible.

If I was running the registry on windows would I have this problem?  Is running registry on windows even possible?

[2016-11-29 22:08] friism commented on #202
@volak you can [run the registry in Windows](https://hub.docker.com/r/sixeyed/registry/) but it has the same behavior

[2016-11-29 22:20] bbodenmiller commented on #260
Here's my outputs:

[code]

Worth noting this machine was upgraded from Windows 8 to Windows 10 and I believe I had VirtualBox installed at one point. I'm not seeing anything in add/remove programs for VirtualBox however.

[2016-11-29 22:27] volak commented on #202
@friism You mention in a previous comment https://github.com/docker/docker/issues/27580#issuecomment-262162433 that the images would be pushable if docker could be forced to push foreign layers?  Is there a custom build or repo for that build?  I could take a stab at overriding "skip foreign layers" but Go is not my favorite language..

[2016-11-29 22:33] friism commented on #202
@volak no, currently the only approach is what's outlined in that comment

[2016-11-30 00:28] pcgeek86 opened #263 "Drive fails to mount on MobyLinuxVM"
### Expected behavior

Drive mounts correctly in the **MobyLinuxVM**.

### Actual behavior

Drive fails to mount in the **MobyLinuxVM**.

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu. **CD2D6506-5EEF-4653-87F4-75A568FEAF09/2016-11-29_17-23-48**
  - host distribution and version (Windows version, build number, etc) **Windows 10 Anniversary Update, logged in with Azure A

[2016-11-30 00:34] kallie-b commented on #196
Hi--apologies for the delay. I don't have feedback yet, but I'll get it to you as soon as possible.

[2016-11-30 01:53] ManoMarks opened #264 "Crash on updating Docker"
### Expected behavior
Docker would start up after updating

### Actual behavior
Crash on updating

### Information
8933275A-5908-48B5-91BD-6EFD64746CE2/2016-11-29_17-49-09
  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows versio

[2016-11-30 02:39] robrich opened #265 "MobyLinuxVM fails to get an IP"
### Expected behavior

When I start up Docker for Windows, I expect the Moby Linux VM to fire up.

### Actual behavior

Every time I start Docker for Windows, the Moby Linux VM starts, doesn't get an IP, and Docker for Windows crashes -- red whale tray icon and pop-up message showing the error.  If I stop and restart Moby Linux VM a few times, it eventually gets an IP, and all is well from then on

[2016-11-30 02:43] robrich commented on #265
Unlike https://github.com/docker/for-win/issues/247, I'm not starting Docker on boot.  The machine is running Outlook and Chrome, but I've not noticed a substantial system load when launching Docker.

[2016-11-30 02:44] rahilwazir commented on #62
@dgageot No this issue still exist with same error posted above.

[code]

Diagnostic id: `C141349B-6EE0-48C7-9FCE-F3B2342CEE1C/2016-11-30_07-42-05`

[2016-11-30 02:58] robrich commented on #265
It seems I may have duplicated https://github.com/docker/for-win/issues/54.  If you'd like, I'll close this and "me too" on that issue instead.

[2016-11-30 04:13] dungtruong opened #266 "Can't start Docker after installation and Hyper-V enabled."
During installation, Docket asked to enable Hyper-V and restarted the machine.  Docker crashed on startup.

![image](https://cloud.githubusercontent.com/assets/2350773/20739421/08bbe4ac-b6ed-11e6-8ac8-c8fba64dd08e.png)

Diagnostic Id: 72252DAE-FE60-438D-83D5-C1127AF135B2/2016-11-30_11-00-28
Log file: [log.txt](https://github.com/docker/for-win/files/620924/log.txt)

[2016-11-30 04:59] grushler commented on #176
The latest version works fine. Closing the issue. Thanks @dgageot

[2016-11-30 04:59] #176 closed

[2016-11-30 05:32] michaeldaw commented on #220
I am also seeing it on 14971.

[2016-11-30 05:41] friism commented on #220
Yeah, I see it too now on closer inspection.

Pinging @patricklang and @enderb-ms for ideas...?

[2016-11-30 06:05] dgageot commented on #263
Thanks you @pcgeek86 for your report. @simonferquel, can you take a look at the logs please?

[2016-11-30 06:09] dgageot commented on #263
In fact I just realised that @pcgeek86 is using an azure AD account. This is not supported yet and might never be supported. @simonferquel, can you confirm?

[2016-11-30 06:10] dgageot commented on #264
Closing. Duplicate of https://github.com/docker/for-win/issues/173

[2016-11-30 06:10] #264 closed

[2016-11-30 06:11] dgageot commented on #265
@robrich yes please! I'll close the issue. You can had your diagnostic id to #54

[2016-11-30 06:11] #265 closed

[2016-11-30 06:49] dungtruong commented on #266
Finally the problem has been solved when I tried couple of ways to bring Docker up. However, I am not sure what exact step-by-step which fixed the problem. Below is what I have done on my machine.

First, I had uninstalled Docker then re-installed it but the problem still persisted.  So I looked into Hyper-V Manager tool and removed all MobyLinuxVM virtual machines which had been created by Docker

[2016-11-30 06:49] #266 closed

[2016-11-30 07:54] StefanScherer commented on #90
I'm testing the Debug-ContainerHost.ps1 script of PR https://github.com/Microsoft/Virtualization-Documentation/pull/503 and also found that on Windows 10 after switching to Windows Containers the script complains about the `DisableVSmbOplock` registry key.

[code]

Using Windows 10 14393.447 + D4W Beta 30.1

[2016-11-30 09:00] rs38 commented on #90
I also noticed that recently and deleted the reg key. From what I understand, this was a workaround for a bug some months ago?! I cannot confirm 100% but I think this could indeed be a lost setting as my PC was already used with testing containers in Q2 2016 with Insider Preview.

[2016-11-30 09:39] rneugeba commented on #244
Beta31 has been release: https://download.docker.com/win/beta/InstallDocker.msi and TRIM support is enabled. I'm closing this issue for now. Please re-open if it is not working as expected.

Note, You have to quit the application (or restart) in order to reclaim the disk space.

[2016-11-30 09:40] dgageot commented on #252
@amalm @pmsousa Beta 31 was just released. It's expected to fix this issue. Please give it a try!

[2016-11-30 09:41] dgageot commented on #250
@amalm @pmsousa Beta 31 was just released with a fixed documentation url. Does it help?

[2016-11-30 09:41] rneugeba commented on #54
Finally, we released Beta31 https://download.docker.com/win/beta/InstallDocker.msi
This Beta has an update Linux kernel which should fix this issue, so I'm closing it.

If you still experience this issue it might be worth opening a new issue, since this one is quite long...

[2016-11-30 09:41] #54 closed

[2016-11-30 09:43] dgageot commented on #166
@amalm @pmsousa Beta 31 was just released. It's expected to fix this issue. Though, the GUI is a but funky for now. You should switch to `Linux Containers` and configure the proxies. When you switch to `Windows Containers`, the proxies settings should lso apply. Please give it a try!

[2016-11-30 09:44] dgageot commented on #90
@amalm @pmsousa Beta 31 was just released with an updated `dockerd`. Please give it a try and leet us know if it's better!

[2016-11-30 09:44] dgageot commented on #72
@amalm @pmsousa Beta 31 was just released. It's expected to fix this issue. Please give it a try!

[2016-11-30 09:54] rneugeba commented on #254
Could you try Beta31 which just got released: https://download.docker.com/win/beta/InstallDocker.msi

It has an updated Linux kernel (amongst other things)

[2016-11-30 11:39] rneugeba commented on #220
FWIW I see the same issue on three machines (all on fast ring insider builds `14971.1000`). In my case the thread consuming most of the CPU is at (my include typos as I could cut and paste):
[code]

This is not related to Docker for Windows as I see the same issue when starting other Hyper-V VM after a reboot without starting Docker for Windows. I'm therefore closing this issue, but:
- it would be

[2016-11-30 11:39] #220 closed

[2016-11-30 13:56] rneugeba commented on #118
@BarnumD for now you should be able to change the IP prefix used manually as documented [here](https://msdn.microsoft.com/en-gb/virtualization/windowscontainers/management/container_networking).

[2016-11-30 14:00] Ncage1974 opened #267 "Failure on running linux containers on windows 10 (beta 31)"
I was eagerly awaiting Beta 31 because it fixed the following issue
https://github.com/docker/for-win/issues/54

Unfortunately its more of the same. When i open up hyper-v i can see 'MobyLinuxVM' is constantly hogging about 25% of the CPU and restarting and doing it again and again until docker fails. The error message this time though is different:

Docker hv-sock proxy (vsudd) is not reachable

[2016-11-30 14:07] rneugeba commented on #74
This issue is getting quite messy: some users reported this as fixed, others use a CPU where it won't fix etc. So I'm closing this issue. Should you still have an issue, please open a new issue with details such as diagnostics ID using a recent Beta release
Thanks

[2016-11-30 14:07] #74 closed

[2016-11-30 14:23] StefanScherer opened #268 "Beta 31: Docker Compose client version 1.22 is too old."
### Expected behavior

Docker Compose should with Windows containers on Windows 10 and Docker 4 Windows Beta 31.

### Actual behavior

[code]

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build num

[2016-11-30 14:23] StefanScherer commented on #268
Can I set the client version in docker-compose as well?

[2016-11-30 14:24] justincormack commented on #268
I think this issue is discussed somewhere. What compose file version are you using?

[2016-11-30 14:25] StefanScherer commented on #268
[code]

Just to test DNS

[2016-11-30 14:25] justincormack commented on #268
Does it help if you use version: '2.1'?

[2016-11-30 14:28] justincormack commented on #268
cc @jhowardmsft too

[2016-11-30 14:29] StefanScherer commented on #268
Yes, looks better, starts creating the containers, but I have to download base images.... Switching to nanoserver ;-) Thank you!

[2016-11-30 14:29] bgrissin commented on #268
looks as though the client api is greater than the server ver.  can you set the client api version to be equal using env vars? and test

[2016-11-30 14:32] thaJeztah commented on #268
No, the minimum version was set for Windows daemons, because there was never a stable release of docker that supported older API versions. To support compose 2.1, it was changed from 1.25 to 1.24 actually; https://github.com/docker/docker/commit/e4af39aeb311a08fd2d15e01eabd6bae9db36382

[2016-11-30 14:34] justincormack commented on #268
Yes, `version: '2.1'` in the compose file is the minimum supported version for Windows containers.

[2016-11-30 14:37] StefanScherer commented on #268
Thanks. It worked. Will show the details in https://github.com/docker/docker/issues/28452#issuecomment-260773445

[2016-11-30 14:37] #268 closed

[2016-11-30 16:51] pcgeek86 commented on #263
Thanks for taking a look @dgageot. That would be very unfortunate if Docker for Windows could not work with Azure AD authentication. Microsoft is encouraging enterprises to use Azure AD sign-on with Windows 10.

[2016-11-30 17:03] friism commented on #220
Thanks @rneugeba

[2016-11-30 17:13] pmsousa commented on #252
@dgageot I've tried the new build and can confirm the problem is solved!!!! :D

[2016-11-30 17:47] treeder commented on #220
Did anyone figure out a way around this besides reinstalling non insider build of Windows?

[2016-11-30 18:06] PatrickLang commented on #220
Did anyone open feedback and submit logs using the Windows Feedback tool on this? Once it's filed I can ping someone on the Windows Insider team to make sure it's triaged. I don't have any machines running 14971 at the moment

[2016-11-30 18:13] PatrickLang commented on #220
Ah - found one "Hyper-V "system" still spinning CPU (one thread) now in RtlAvInsertNodeEx Build 14971"

If you're hitting this issue, search for and upvote it. in "Feedback Hub"

[2016-11-30 18:57] kallie-b commented on #196
Salam--I've sent you an email regarding the next step we should take to sort this out.

[2016-11-30 19:03] treeder commented on #220
Good find @PatrickLang . Here's the direct link to that in Feedback Hub: http://aka.ms/T0a5bo

[2016-11-30 19:18] SigmaOutdoors commented on #214
UPDATE : Got the latest docker (Version: 1.13.0-rc2)
I let it start up and fail as a Linux Container (default behavior).
I then switched it over to Windows Container as per this link (https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_10) and it started.  NOTE: I had tried to switch to Windows Container with prior docker versions with no luck, so this

[2016-11-30 19:38] dgageot commented on #267
ping @simonferquel

[2016-11-30 19:46] PatrickLang opened #269 "Docker for Windows should not set VSmbDisableOplocks registry key"
### Expected behavior
Docker for Windows should not set the registry key `HKLM:SOFTWARE\Microsoft\Windows NT\CurrentVersion\Virtualization\Containers\VSmbDisableOplocks`. That was needed for running Windows Server 2016 TP5 containers on Windows 10. It's no longer needed.

The troubleshooting script published in the [Windows containers documentation](https://msdn.microsoft.com/en-us/virtualization/

[2016-11-30 19:52] glennsarti commented on #54
@rneugeba Confirmed, I can now start the Docker VM and it gets an IP Address.  Thanks.

(Docker  Version 1.13.0-rc2-beta31 (9123))

[2016-11-30 20:00] simonm3 opened #270 "MobyLinuxVM.vhdx'. Error: 'General access denied error'."
I ran through the tutorial to create a dockerfile and it did not mention this would copy the entire folder I was working in which was 20GB. I looked at the size of images and containers and they all appeared to be small. So I just deleted the VM file which was taking all the space. However now I can't start docker. How can I recover?

[2016-11-30 20:02] dgageot commented on #269
Thanks @PatrickLang, this was fixed today on master

[2016-11-30 20:11] dgageot commented on #270
@simonm3 You can reset Docker to its factory settings: https://docs.docker.com/docker-for-windows/#/reset

[2016-11-30 20:27] tverboon commented on #267
Same issue for me. I'm trying to run Docker in a Windows 10 VM in Parallels Desktop Pro.

[2016-11-30 20:31] rneugeba commented on #220
@PatrickLang thanks. Up-voted. I also provided feedback via the insider feedback thing yesterday. Let me know if you need anything else.

[2016-11-30 20:34] jornh commented on #90
I'm on the beta channel. Have been experiencing the error + red whale icon on switching to Windows too.
@dgageot after I received the Beta 31 labelled `Version 1.13.0-rc2-beta31` today it looks like this error is gone for me 👍

[2016-11-30 21:01] rneugeba commented on #267
@Ncage1974 @tverboon we can't really support running Windows 10 in a VM and then run Docker for Windows on top as this requires nested virtualisation. Getting nested virtualisation right is very hard and we can't control nor check how you configured the VM nor what else is running on the physical host. Therefore I'm closing this issue.

Having said that, we do use nested virt on top of ESXi for so

[2016-11-30 21:01] #267 closed

[2016-11-30 22:34] rogermac opened #271 "Docker hv-sock proxy (vsudd) is not reachable"
### Expected behavior
Docker to start

### Actual behavior
Docker fails with error 'Docker hv-sock proxy (vsudd) is not reachable'

### Information

Windows 10 Enterprise - Version 1607 (OS Build 14393, 447)
Parallels Desktop 12 (with nested virtualization) - Version 12.1.1 (41491)

  - Diagnostic ID:
77F37409-16FA-428D-A2F3-5D7FEDC8B39D/2016-11-30_22-15-20

Previously was getting the error 'The V

[2016-11-30 23:13] friism commented on #202
I'm closing this issue since it's related to DTR and `docker/docker`.

[2016-11-30 23:13] #202 closed

[2016-11-30 23:34] PatrickLang commented on #220
We have a fix on the way for a future Windows Insider build. Not sure what the date or build number will be until it's out though.

[2016-11-30 23:35] volak commented on #202
Sorry - is there an open ticket somewhere else I can track the progress of this?

unless I'm mistaken until this is fixed there is no way to push images from a build server into production (without manual workaround) - which is a blocking issue for us

[2016-11-30 23:42] friism commented on #202
Here's the issue: https://github.com/docker/docker/issues/27580

I'll add note asking for it to be re-opened.

[2016-12-01 00:25] zifik opened #272 "docker-machine create does not work in Windows"
### Expected behavior
Docker swarm tutorial for [Install and Create a Docker Swarm](https://docs.docker.com/swarm/install-w-machine/) does not work for Docker in Windows. I simply wish to do some testing with Docker Swarm locally on my Windows 10 machine. I am able to create and run containers as expected with Docker installation. `docker-machine` execution is where things are failing.

### Actual

[2016-12-01 01:31] zifik commented on #254
I had same prob, switched to beta and its working again.

[2016-12-01 01:34] zifik commented on #247
I had same prob (I think). I uninstalled the whole shabang, deleted dirs, and reinstalled several times -- still same prob. Did a clean slate and switched to beta and problem went away.

[2016-12-01 01:42] mattzuba commented on #247
I found that just letting it sit for 30-45 minutes, it eventually came up,
but my fan was going full speed and laptop was hot afterwards.

On Wed, Nov 30, 2016, 5:34 PM Kris <notifications@github.com> wrote:

--

Thanks,
Matt Zuba
Sent from my mobile telecommunication device, please excuse any tpyos.

[2016-12-01 04:14] sozercan commented on #271
Same issue here (running Parallels 12.1.1 w/ nested virtualization)

482616AF-F981-470F-9AD1-96E07DF0C7F2/2016-11-30_20-10-37

[2016-12-01 05:33] friism commented on #272
Here's a Powershell script that does this: https://github.com/docker/labs/blob/master/swarm-mode/beginner-tutorial/swarm-node-hyperv-setup.ps1

And docs: https://github.com/docker/labs/blob/70aaca74374ddc15c94bf7b088df5e17ed2b89ec/swarm-mode/beginner-tutorial/README.md#creating-the-nodes-and-swarm

Let us know if that doesn't get you started.

[2016-12-01 05:33] #272 closed

[2016-12-01 05:45] tverboon commented on #267
@rneugeba Thank you for clarifying and I understand that's not worth the effort if it's impossible to get it totally right in all situations and environments.

That said, maybe you should consider removing or changing this blogpost: https://blog.docker.com/2016/04/containers-and-vms-together/

And I guess it could be more clear in: https://docs.docker.com/docker-for-windows/#what-to-know-before-yo

[2016-12-01 05:50] dgageot commented on #252
@amalm I'm going to assume Beta 31 fixed it for you too an close this issue. Feel free to reopen if that's not the case!

[2016-12-01 05:50] #252 closed

[2016-12-01 05:52] dgageot commented on #166
@timotei Beta 31 was just released. It's expected to fix this issue. Though, the GUI is a but funky for now: you should switch to `Linux Containers` and configure the proxies. When you switch to `Windows Containers`, the proxies settings should also apply. Please give it a try!

[2016-12-01 05:55] dgageot commented on #72
@devlife @cvillerm @Matthias247 @cfstras @provegard @zifik @rcarmo Beta 31 was just released. It's expected to fix this issue. Please give it a try!

[2016-12-01 06:09] dgageot commented on #90
Hi everyone, I'm going to close this issue. It seems like recent builds fix the original issue. Some issues like the invalid [DisableVSmbOplock](https://github.com/docker/for-win/issues/269) are reported elsewhere. As usual, feel free to reopen if you don't agree!

[2016-12-01 06:09] #90 closed

[2016-12-01 06:11] friism commented on #267
cc @londoncalling it might be worth adding a callout to that "what to know before you install" docs section that nested virtualization scenarios may work, but come with no guarantees.

[2016-12-01 06:17] dgageot commented on #104
@naeemsarfraz Can you tell us if Beta31, released yesterday, fixes your issue?

[2016-12-01 06:19] dgageot commented on #120
@oparoz Can you please take a look at Beta31 and provide an diagnostic id if the issue is still there?

[2016-12-01 06:24] dgageot commented on #124
@douglaswaights @jhowardmsft Hi, is this something fixed in recent versions? FYI, Docker for Windows Beta31 was released yesterday, maybe you can give it a try.

[2016-12-01 07:47] Mchl commented on #247
Update to 1.13.0-rc2-beta31 (9123) helped considerably. Most of the times Docker starts correctly on boot time.

[2016-12-01 08:38] amalm commented on #252
Would love to verify it, but am stuck upgrading to the Beta from Stable. The Installer script is stuck with "Preparing Docker VM upgrade' in the installer win.

There are some issues like this, e.g. https://forums.docker.com/t/cannot-uninstall-docker-for-windows/15661/13 but until now I have not succeeded to upgrade....

However I am convinced the issue is solved as it is verified by @pmsousa.

`V

[2016-12-01 08:41] rneugeba commented on #267
@tverboon thanks for the suggestion of improving the docs. As for the blog post it describes a different scenario.It uses a hypervisor to run different OSes which then then run native docker engines. In Docker for Windows you can run either Linux containers (which run in a Linux VM) or Hyper-V windows container (which also run in a VM), ie you need to be able to run a hypervisor on top of a hyperv

[2016-12-01 08:51] tverboon commented on #267
@rneugeba I see, thanks.

It is our build server that we need to run on Windows, because code coverage with OpenCover doesn't work with .Net Core on the Mac and now we have a Docker build task. Maybe I could connect to the Docker Host running on the Mac and perform the docker build en docker push(?), but I guess I will configure a Mac mini and boot Windows native with Bootcamp.

[2016-12-01 09:03] rneugeba commented on #271
@rogermac @sozercan you both seem to run a Windows 10 VM on a Mac using Parallels. Docker for Windows also uses VMs to run a Linux VM for Linux containers (or a minimal VM to run Hyper-V Windows containers). This requires a feature called nested virtualisation in Parallels. We can't really support this scenario because:
- Getting nested virtualisation right is very hard and we can test all virtual

[2016-12-01 09:03] #271 closed

[2016-12-01 10:03] cfstras commented on #72
Docker version 1.13.0-rc2-beta31 (9132) de6f6c2
- Working with docker, all good
- Hibernate PC in the evening
- Wake up
[code]

So the issue is still there. Do I maybe have to recreate my docker machine to get the fix in? Because I'd rather not go through the process of backing up development containers.

[2016-12-01 10:17] amalm opened #273 "Upgrade from 1.12.3 Stable to 1.12.3-beta31 hangs 'Preparing Docker VM upgrade'"
### Expected behavior
Upgrade from 1.12.3 Stable to 1.12.3-beta31 with InstallDocker.msi works.
The reason for this was to try the fix for  #252 .
###  Actual behavio
Install hangs with the message 'Preparing Docker VM upgrade'
### Information
The Docker Service is stopped, thus new Diagnostic ID can be generated. I have attached a zip archive w/ the log.txt and install.log.txt.

OS Name	Microsoft

[2016-12-01 10:49] dgageot commented on #72
@cfstras The Disable/Enable should have be done automatically. Can you share your logs?

[2016-12-01 11:00] rneugeba commented on #62
@rahilwazir thanks for the diagnostics. In there I saw remnants of both VMware and VirtualBox with some of the VMware processes still running. I also see errors in the logs of the form:
[code]
I suspect the error maybe due to either VMware or Virtual Box not being full un-installed. They do not work with Hyper-V. Could you try to uninstall these and try again?
Thanks

[2016-12-01 11:11] cfstras commented on #72
Sure.
before hibernate: (`log.1.txt`) http://pastebin.com/egk8bhzq
after hibernate: (`log.txt`) http://pastebin.com/ZUw2efY9

[2016-12-01 11:31] oparoz commented on #120
Just tried beta 31 and it launched within a minute. I need to do another test with a different network config to see if that's the culprit, but it's looking good so far.
Thanks!

[2016-12-01 12:02] andythorne opened #274 "Linux kernel crash in FPU switching code (Windows Build 14393.0, Skylake processor)"
### Expected behavior
Docker starts

### Actual behavior
Docker errors with the message:

[code]

### Information

  - Diagnostic ID: AAE5CCDB-AE7C-4949-832F-C26A12EE96C7/2016-12-01_11-58-21
  - Window 10 build 14393. On a work laptop.
  - beta 30 works without problem, beta 31 cannot start

### Steps to reproduce the behavior

  1. Fresh install
  2. Get this error when starting docker (hangs ~ 1

[2016-12-01 12:13] Matthias247 commented on #72
@dgageot Thanks for working on it. Just tested with beta31 but still experience the same problem after PC went to sleep after the amount of time that was set in the windows power options (power plan) settings.

[2016-12-01 12:14] andythorne commented on #274
Not sure if it's related to #271, I am **not** running window in a VM.

[2016-12-01 13:35] lotrdocker commented on #55
Last stable version 1.12.3 not working for me, got error "Network timed out while trying to connect to .... You may want to check your internet connection or if you are behind a proxy." where version 1.12.2 works perfectly.

[2016-12-01 13:36] rneugeba commented on #274
@andythorne thanks for your report and the diagnostics ID. It's definitely not related to #271.

There are several Linux kernel crashes in the logs, which is not good. Most of them are of the form:
[code]

There are also these messages in the Hyper-V even log:
[code]

We haven't seen this issue before and I need to dig around to see why this is happening.

[2016-12-01 14:55] green-frog commented on #208
@wadjeroudi Thanks, your solution worked perfectly for me.
I had a Windows crash (_BSOD SYSTEM_SERVICE_EXCEPTION_) during docker operation and got this issue after reboot.

[2016-12-01 16:49] rlpowell commented on #72
Same here:

rlpowell@680e70564cca> date
Thu Dec  1 01:22:37 PST 2016
rlpowell@680e70564cca> date
Thu Dec  1 08:48:11 PST 2016

I'll note that the list of integration services looks different; "Data Exchange" and "Backup" are now unchecked.  Maybe your code is toggling the wrong thing depending on versions of hyper-v, or something like that?

[2016-12-01 17:53] jabbera opened #275 "Cannot run windows containers (Error initializing network controller: HNS failed with error : The handle is invalid. )"
### Expected behavior

Able to switch to windows docker containers.

### Actual behavior

Daemon won't start:-(

Log contains this error: [12:49:36.415][WindowsDockerDaemon][Info   ] Error starting daemon: Error initializing network controller: Error creating default network: HNS failed with error : The handle is invalid.

Followed by:
[code]

### Information

  - Diagnostic ID: 9035EE83-6225-45D1

[2016-12-01 18:47] jabbera commented on #275
[NetTrace.zip](https://github.com/docker/for-win/files/625500/NetTrace.zip)

[2016-12-01 19:09] rahilwazir commented on #62
@rneugeba Thanks for the suggestion.

I uninstalled both of them, the issue persists.

[code]

Diagnostic id: `C141349B-6EE0-48C7-9FCE-F3B2342CEE1C/2016-12-02_00-05-33`

[2016-12-01 20:01] friism commented on #275
@jabbera thanks for posting this, can you please also run the DebugContainerhost script and post the results? https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/Debug-ContainerHost

We're working on integrating this into the Docker for Windows troubleshooting flow.

[2016-12-01 20:18] jabbera commented on #275
[windows_results.txt](https://github.com/docker/for-win/files/625655/windows_results.txt)
[linux_results.txt](https://github.com/docker/for-win/files/625659/linux_results.txt)

[2016-12-01 21:11] kallie-b commented on #196
It seems that the problem here was that the "bridge=none" option was enabled in eliassal's docker deamon file. This was preventing container endpoints from gaining external connectivity because they were not being connected to the default nat network that is automatically created by Docker and Windows.

The lab that eliassal is using here follows similar steps to those described in this [blog post

[2016-12-02 01:25] boyuan201582 opened #276 "The docker can't start"
[09:11:57.698][PowerShell     ][Info   ] Run script...
[09:12:00.980][HyperV         ][Info   ] Hyper-V is running
[09:12:00.980][HyperV         ][Info   ] Create
[09:12:00.981][PowerShell     ][Info   ] Run script with parameters: -Create True -SwitchSubnetAddress 10.0.75.0 -SwitchSubnetMaskSize 24 -CPUs 1 -Memory 1024 -IsoFile C:\Program Files\Docker\Docker\Resources\mobylinux.iso...
[09:12:01.1

[2016-12-02 05:14] dheater commented on #90
I just started getting this error when I updated to `Version 1.13.0-rc2-beta31`

`DisableVSmbOplock` was set to `1`. I've changed it to `0` and confirmed that I no longer get an error message from the debug script (see below).

Crash report: 400BFA24-1C02-4015-98FA-CF9C153CE0A1/2016-12-01_23-13-55

Tried the NAT steps from @seals55

PS C:\WINDOWS\system32> Get-ContainerNetwork | Remove-ContainerNe

[2016-12-02 07:56] danofa commented on #241
@rneugeba thanks for the info, I switched to the beta branch of docker (Docker version 1.13.0-rc2, build 1f9b3ef) and the issue has gone away, if I can help in any way with logs or debug info let me know.

[2016-12-02 08:25] timotei commented on #166
@dgageot I tested but it seems it doesn't work yet.

Docker info on linux containers:

[code]

Pull works fine

Docker info on Windows Containers:
[code]

docker version:
[code]

I get the same error:
[code]

The proxy settings are there

[2016-12-02 08:45] rneugeba commented on #241
@danofa glad the Beta is working for you

@linluxiang could you try the latest beta as well?

[2016-12-02 09:02] rneugeba commented on #276
@boyuan201582 thanks for your report. Could you please send us a diagnostics id. I should be displayed along with the error and is of the form `<uuid>/<date>`.
Thanks

[2016-12-02 12:22] boyuan201582 commented on #276
ok

Is this number '39672570-B2EA-48DF-89B6-996A32E1FD20/2016-12-02_20-20-39'?
tks

At 2016-12-02 17:02:44, "Rolf Neugebauer" <notifications@github.com> wrote:

@boyuan201582 thanks for your report. Could you please send us a diagnostics id. I should be displayed along with the error and is of the form <uuid>/<date>.
Thanks

—
You are receiving this because you were mentioned.
Reply to this email

[2016-12-02 13:21] #270 closed

[2016-12-02 14:49] rneugeba commented on #276
Hi @boyuan201582 I noticed in your debug logs that you have some VMware processes and VMware and VirtualBox network adapters present. Hyper-V, which is used by Docker for Windows, unfortunately does not play well with other virtualisation products installed. Could you try un-installing VMWare and VirtualBox. You may also have to un-install and re-enabled Hyper-V as well

[2016-12-02 15:32] rneugeba commented on #62
@rahilwazir thanks for trying. I'm somewhat clutching at straws here as this looks like a Windows/Hyper-V issue with very little information available. The thing in the logs, which sticks out is the already mentioned:
[code]
But, it doesn't really say why it timed out...

Microsoft suggests [here](https://technet.microsoft.com/en-us/library/dd581819(v=ws.10).aspx) to restart the service. Could you

[2016-12-02 15:44] rneugeba commented on #120
@oparoz thanks for getting back to us and glad that Beta31 seems to work for you. We'll close this issue in a few days if we don't hear back but you can always re-open later if you still have the issue.

[2016-12-02 15:57] rneugeba commented on #130
@glucaci you seem to be running Windows 10 on top of VirtualBox. Since Docker for Windows also uses virtualisation the underlying system needs to support nested virtualisation. We have no control nor visibility on how the Windows VM is configured nor how well the various hypervisors support nested virtualisation (it's very hard to get right) so we can't really support this scenario.

@jplonghi do

[2016-12-02 15:57] #130 closed

[2016-12-02 15:58] rneugeba commented on #235
Closing this issue due to lack of response. Please re-open if the issue persists and you have further information.
Thanks

[2016-12-02 15:58] #235 closed

[2016-12-02 16:04] rneugeba commented on #247
@Mchl thanks for trying Beta31 and glad to see there is some progress. Starting "most of the time" of course is better than not starting at all, but it would be good if it starts all the time. I'd be interested in a diagnostics ID from when you see a failure.
Thanks

[2016-12-02 16:15] rlpowell commented on #72
Oh, for the record: this is with a fresh docker VM after a reboot.

[2016-12-02 16:17] robrich opened #277 "docker 1.13.0-rc2: MobyLinuxVM doesn't get an IP"
Machine is Windows 10 Pro build 14393.447
Docker for Windows version 1.12.3-beta30.1

Using Docker for Win 1.12.3-beta30.1 (see https://github.com/docker/for-win/issues/265) I would often get the message "failed to get an IP 60 times".  Restarting the VM a few times in the Hyper-V manager would solve the concern.

After upgrading to Docker for Win 1.13.0-rc2, Docker no longer crashes on startup, a

[2016-12-02 16:47] dgageot commented on #166
ping @simonferquel

[2016-12-02 16:51] simonferquel commented on #166
Hi @timotei could you please provide a diagnostic ID after restarting docker for windows, setting proxy and switching to Windows containers ?

[2016-12-02 16:54] dgageot commented on #72
@Matthias247 @cfstras @rlpowell I'm working on a fix. A good way to test it would be for you to contact by at david dot gageot at docker.com. I'll send you a pre-release version for you to test.

[2016-12-02 17:04] simonferquel commented on #263
Yes, I confirm, Azure AD authentication does not work for connecting remotely to a windows share.
The workaround is to create a local user account on Windows, give it the correct NTFS access rights for the things you want to mount in your containers, and configure drive sharing using this local account.

[2016-12-02 17:05] MeQuake commented on #260
@rneugeba I tried latest beta version, still didn't work but there is progress:
[code]

But I couldn't manage to upload diagnostic.

[2016-12-02 17:06] dgageot commented on #275
@jabbera Can you please close Docker for Windows, run this is an elevated Powershell and then restart Docker for Windows?

[code]

[2016-12-02 17:08] dgageot commented on #227
@DjTrilogic Could you please give a try to Docker for Windows Beta 31. It contains an updated version of dockerd for Windows Containers.

[2016-12-02 17:10] dgageot commented on #212
@TheoAndersen Can you please close Docker for Windows, run this is an elevated Powershell and then restart Docker for Windows?

[code]

[2016-12-02 17:10] dgageot commented on #203
@braveness23 Could you please give a try to Docker for Windows Beta 31. It contains an updated version of dockerd for Windows Containers.

[2016-12-02 17:12] dgageot commented on #199
@cons0l3 Could you please give a try to Docker for Windows Beta 31. It contains an updated version of dockerd for Windows Containers.

[2016-12-02 17:17] simonferquel commented on #246
Won't do before we use the new fancy installer infrastructure :(

[2016-12-02 17:17] dgageot commented on #152
@ManoMarks Can you try with latest Beta 31?

[2016-12-02 17:18] dgageot commented on #118
@BarnumD This is scheduled to be released in next version

[2016-12-02 17:18] rneugeba commented on #260
@bbodenmiller could you try another thing? From the error it appears that powershell can't find certain classes. Could you try something like:
[code]

You should get a fairly long list starting with something like:
[code]

[2016-12-02 17:20] forevermatt opened #278 "In Docker for Windows, docker-compose run fails to set up link aliases"
### Expected behavior
Be able to communicate from one container to another container using a [link alias](https://docs.docker.com/compose/compose-file/#/links) defined in a docker-compose.yml file (version 2 syntax) when the first container was accessed via `docker-compose run`.

### Actual behavior
Cannot ping the 2nd container from the first container (accessed via `docker-compose run`) using th

[2016-12-02 17:59] bbodenmiller commented on #260
Well I have a very short list

[code]

[2016-12-02 18:03] MeQuake commented on #260
My list is the same like @bbodenmiller it seems we have broken WMI. I was also upgrading from Windows 8.

[2016-12-02 18:10] jabbera commented on #275
@dgageot Same issue:

[2016-12-02 18:27] MeQuake commented on #260
Okay, I repaired WMI once again using solution from most liked answer from this topic:
https://social.technet.microsoft.com/Forums/office/en-US/8ed26d46-9994-4052-a307-5b071805aea8/wmi-corrupt-how-to-reinstallrepair?forum=winservergen
and:
https://support.software.dell.com/vworkspace/kb/88861 (To fully rebuild the WMI Repository follow these steps:)
Now after running
`Get-WmiObject -Namespace ROOT

[2016-12-02 18:34] rneugeba commented on #260
I din't really know how these things are provided or where they come from, but one other thing which might be worth trying is using [this utility](https://gallery.technet.microsoft.com/scriptcenter/WMI-Explorer-Search-WMI-cd87e309).

Once you downloaded it, you need to source is like `. .\Search-WMINameSpace.ps1` and then in the powershell (must be elevated, I think) you can do something like:
[co

[2016-12-02 18:43] rahilwazir commented on #62
@rneugeba Thanks
I've tried with first two suggestions, and got no luck with them.

This solved the issue followed by reboot:
[code]

Can you tell me is there any side effect? Seems like it removes localgroup `administrators` from group `SERVICE`. Sorry but I've no idea why this was required in the first place?

Again, thanks for the solution!

[2016-12-02 18:43] jabbera commented on #275
@dgageot Just to be clear the powershell cmdlet gives me the same error. I'm unable to add any new container networks (Get-ContainerNetwork returns nothing) at all, let alone get the nat going.

New-ContainerNetwork -Name nat1
New-ContainerNetwork : The handle is invalid.

[2016-12-02 18:59] aysark opened #279 "Docker fails to show containers/images: An error occurred trying to connect: Get"
### Expected behavior
Docker respond with listing of containers/images..etc.

### Actual behavior
I'm using Docker for Windows 10.  It has been working fine for the past 2 months.  Suddenly yesterday, not sure if its because i switched between beta & stable version- but either way, it stopped working correctly.

I have tried uninstalling/reinstalling multiple times docker stable release, i have re

[2016-12-02 19:06] cons0l3 commented on #199
@dgageot retest with beta31 was not successful. it still hangs when outputting lots of lines. it is independent which program is used e.g. `C:> type` a large text file to console. it hangs.

[2016-12-02 19:37] rneugeba commented on #62
@rahilwazir To be honest,  have no idea. I just found this through googling and where this solution was discssed, people did not know why this worked but there were no other side effects reported.

glad it worked. Closing

[2016-12-02 19:37] #62 closed

[2016-12-02 19:50] ManoMarks commented on #152
Seems to be working fine now

[2016-12-02 20:07] tommed opened #280 "Can't share C drive, doesn't mount"
As requested here: https://github.com/docker/kitematic/issues/2028
Not related to: https://github.com/docker/for-win/issues/114

### Expected behavior

Looking to persist data from Redis (via Linux Containers) to a share on my user's Documents folder. Go into Settings and enable C drive for sharing, then press apply, C drive should then be shared and folder in my Documents folder should be used as

[2016-12-02 20:35] rneugeba commented on #196
@kallie-b thanks for helping to debug this. Can this issue be closed?

[2016-12-02 20:55] kallie-b commented on #196
Yes it can, thank you :)

[2016-12-02 20:56] dgageot commented on #152
@manomarks neat. I'm closing the issue then

[2016-12-02 20:56] #152 closed

[2016-12-02 21:05] #196 closed

[2016-12-02 21:13] MeQuake commented on #260
I found that DebugInfo-2016-12-02_21-45-13.log has been generated
http://pastebin.com/sbVFY14t
I see few privileges errors like:
`
SystemStartOptions
The boot configuration data store could not be opened.
Odmowa dost©pu. (access denied just in polish)
`

`
bcdedit
The boot configuration data store could not be opened.
Odmowa dost©pu. (access denied)
`

Not sure if it's important, but I tried to ru

[2016-12-02 21:40] eliassal commented on #196
So many thanks for the team who spent more than hour debugging and unearth the root cause of the issues, special thanks to Kali and Vikrant. I wish all support team for other software can provide such freindly support. IN fact I used a daemon.json file with parameteres that were not needed and one of them which caused the network issue was "bridge=none" which is specific to linux machines

[2016-12-02 22:19] jhowardmsft commented on #124
@dgageot To be clear, this is a bug in Windows and the base image. It's not something DfW is going to be able to fix. FWIW, it hasn't been serviced in 14393.447.amd64fre.rs1_release_inmarket.161102-0100. I'm not sure if it's due in the December update though.

[2016-12-02 22:37] rneugeba commented on #277
@robrich I'm a little confused by the description. You say that `docker run` works for you now when using Docker for Windows. That's great. And from the logs it does look also that it is working.

But, where do you see that the VM doesn't get an IP address?

Also, with Docker for Windows you do not need to use `docker-machine` anymore. Docker for Windows creates and manages it's own virtual machin

[2016-12-02 23:01] robrich commented on #277
I open the Hyper-V manager, choose the MobyLinuxVM, switch to the Networking tab, and it correctly shows DockerNAT connection, but it shows a blank space where the IP should be.

[2016-12-02 23:23] dgageot commented on #124
@jhowardmsft Thanks a lot for the information. @douglaswaights I'm going to close this issue since it's not something Docker for Windows can fix

[2016-12-02 23:23] #124 closed

[2016-12-02 23:27] dgageot commented on #254
@asadsahi Have you tried Beta31?

[2016-12-02 23:28] dgageot commented on #250
@tetsu61 Beta 31 was just released with a fixed documentation url. Does it help?

[2016-12-02 23:31] rneugeba commented on #278
thanks for the detailed report. I can repro this with Beta31 which comes with docker-compose 1.9. I suspect an issue with `docker-compose` and will ping the team but maybe also @djs55 can take a look?

I've installed `drill` in the alpine container with `apk update && apk add drill` and then in the container:
[code]
and in the logs I see that for the second query the DNS request is forwarded to th

[2016-12-02 23:31] dgageot commented on #279
@aysark Thanks for the report. You should maybe use Docker for Windows Beta 31 instead of the stable channel. It contains a lot of fixes that didn't make it yet to the stable channel.

[2016-12-02 23:33] dgageot commented on #280
@tommed Thank you for the report! Can you please share with us a diagnostic id? Are you using latest Beta31 version of Docker for Windows?

[2016-12-02 23:33] MeQuake commented on #260
@rneugeba I'm almost sure that the problem is related with "Docker for Windows Service".
I followed this tutorial: https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_10?f=255&MSPPError=-2147217396 and it worked from powershell without any problems.

I found some debug tool, and now I'm posting results when:
1. Just "Docker for Windows Service" is runn

[2016-12-02 23:38] aysark commented on #279
@dgageot i did, i tried beta 31...

[2016-12-02 23:40] asadsahi commented on #254
@dgageot @rneugeba Yes, Thanks for pointing to this version.

Docker is running on windows 10. However no I am having some unknown error while running asp.net core application from visual studio 2017 RC using docker tools. Not sure if this is the right place to escalate that.

[2016-12-02 23:46] rneugeba commented on #278
Using `docker inspect` I see the alias `alias.to.two` is missing on windows:
[code]

while on Docker for Mac:
[code]

Both use:
[code]

[2016-12-03 00:03] rneugeba commented on #277
@robrich that's fine and expected in Beta31. We disabled the integration service in the VM which reports the IP address so the host can't determine the IP address anymore (it doesn't really need to)

Is everything else working for you?

[2016-12-03 00:04] friism commented on #254
@asadsahi I recommend posting on Stackoverflow or the Docker Forums. Add the link to your question in a comment here.

[2016-12-03 00:04] aysark commented on #20
I get this error too:

[code]

DID: A206EAE7-951D-49C9-81E7-2E3468164D81/2016-12-02_15-33-06

I'm using a nested-virtualization enabled windows 10 vm.

[2016-12-03 00:05] rneugeba commented on #254
@asadsahi Thanks for getting back to us and glad that the base Docker for Windows is now working for you. I'm closing this issue.

for the other issue, please follow @friism suggestion

[2016-12-03 00:05] #254 closed

[2016-12-03 00:13] rneugeba commented on #279
@aysark do you have `DOCKER_HOST` set in your environment? By default the docker CLI should try to connect to the daemon via a named pipe and not via `http://0.0.0.0:2375/`

[2016-12-03 00:20] rneugeba commented on #278
closing this issue in favour of https://github.com/docker/compose/issues/4212 which is where the compose team is handling it. @forevermatt thanks for reporting and you may want to watch the issue for progress

[2016-12-03 00:20] #278 closed

[2016-12-03 00:39] ahasnaini opened #281 "Can't start docker on windows 10"
### Expected behavior
Docker starts
### Actual behavior
Docker errors with unable to create vm
### Information

A diagnostic was uploaded with id: E7B518E3-6641-4E19-912B-EB56E76C2C26/2016-12-03_00-36-57
I already have other VMs running in hyper V so I know that hyper v is working as expected

Unable to send Start: Unable to create: The running command stopped because the preference variable "Erro

[2016-12-03 01:16] londoncalling commented on #267
@friism , docs updated per [PR 780 on docker.github.io](https://github.com/docker/docker.github.io/pull/780).

[2016-12-03 01:17] robrich commented on #277
Nope.  I fire up a docker container for a hello-world express app, hit `localhost:3000` and get a timeout.  If I knew the Docker VM IP, I'd try `that_ip:3000`, but ... hidden both from Hyper-V manager and `docker-machine`.

[2016-12-03 01:24] rneugeba commented on #277
you don't need the IP. Ports from containers should be exposed on localhost.  `docker-machine` is not relevant in this context.

Could you provide the steps to reproduce your issue, like dockerfiles/compose files etc

[2016-12-03 01:42] rneugeba commented on #260
@MeQuake to me this doesn't look like a Docker for Windows issue. Can you try the following:
- Quit the Docker for Windows application
- use taskmgr or process explorer to kill any services with Docker in the name
- open Hyper-V Manger
- create a new virtual machine. When you get to the `Specify Name and Location` step, just hit finish
- Select the newly create virtual machine, select `Connect` an

[2016-12-03 05:34] naeemsarfraz commented on #104
Yes, this is no longer an issue for me

[2016-12-03 06:23] hexxellor commented on #281
I initially got that error too, but after I tried starting it again it worked fine. I assume you've tried to start it multiple times right?

[2016-12-03 08:04] bbodenmiller commented on #260
Following `sfc /scannow` (which returned "The source files could not be found" so unsure if it did anything) and https://social.technet.microsoft.com/Forums/office/en-US/8ed26d46-9994-4052-a307-5b071805aea8/wmi-corrupt-how-to-reinstallrepair?forum=winservergen I now have different error and following results

[code]

New diag ID: BCB18A1D-8777-44E8-96F4-A9F689139B70/2016-12-02_23-59-54

[code]

[2016-12-03 08:15] bbodenmiller commented on #260
Working:

[code]

Also Hyper-v test from https://github.com/docker/for-win/issues/260#issuecomment-264606122

[2016-12-03 08:32] StefanTBG opened #282 "Firewall exception when trying to share C drive"
### Expected behavior
Attempting to share C drive.

### Actual behavior
Fails with firewall exception.

### Information

  - Diagnostic ID: 236A65AD-0948-4231-8C5B-A092636C5540/2016-12-03_03-24-05
  - Windows 10 build 14971
  - Beta release of Docker
  - I can see a firewall exception called DockerProxy already configured for port 445
  - No 3rd part ant-virus software, just Windows Defender

[2016-12-03 08:43] #104 closed

[2016-12-03 12:00] MeQuake commented on #260
I'm able to create and run new Hyper-V machine via Hyper-V manager
<img src="http://i.imgur.com/CWgc8Sq.jpg">
And even run this MobyLinuvVM machine which is creating by Docker:
<img src="http://i.imgur.com/F55a3oV.jpg">

I tried to run commands such as @bbodenmiller used above, but here is output..
[code]

Relating to this: https://github.com/docker/for-win/issues/67 the only solution is to reinst

[2016-12-03 12:08] bbodenmiller commented on #260
Well it looks like https://social.technet.microsoft.com/Forums/office/en-US/8ed26d46-9994-4052-a307-5b071805aea8/wmi-corrupt-how-to-reinstallrepair?forum=winservergen and uninstalling and reinstalling Docker may have actually worked for me. Not sure if it matters but after uninstall and reinstall this time I did not connect to VPN and opened Docker and it worked. So I restarted and connected to VP

[2016-12-03 12:11] bbodenmiller commented on #260
@MeQuake before giving up and reinstalling I'd give [repair install](http://www.tenforums.com/tutorials/16397-repair-install-windows-10-place-upgrade.html) a chance. It essentially reinstalls important files without affecting any of your data or installed programs.

[2016-12-03 12:36] MeQuake commented on #260
Success..
<img src="http://i.imgur.com/mqS1Ti7.jpg">
I removed whole Docker, reinstalled but didn't launch it after installation is completed. I went to "C:\Program Files\Docker\Docker\resources"
And I applied modification from this valuable post: https://github.com/docker/for-win/issues/216#issuecomment-260843209 to **MobyLinux.ps1**
Then I just **Docker for Windows** as administrator and it work

[2016-12-03 12:41] bbodenmiller commented on #260
I also have a post out at Super User where I summarized how we fixed PowerShell: http://superuser.com/a/1152468/143551

[2016-12-03 13:00] rneugeba commented on #260
@bbodenmiller @MeQuake glad it's working for you! @bbodenmiller thanks also for the SuperUser post/summary, very useful.

We probably won't add checks to the Docker for Windows application itself, since this issue is not that common, but we are working on some tooling to analyse diagnostics which should detect issues like this and provide guidance on how to fix it.

Closing

[2016-12-03 13:00] #260 closed

[2016-12-03 13:54] robrich commented on #277
Fail on me.  I forgot the `-p 3000:3000`.  It works like a charm.  Closing...

[2016-12-03 13:54] #277 closed

[2016-12-03 14:03] dgageot commented on #246
@oliversalzburg @Schweinepriester To be clear, we find that annoying too. I think it's one of the first tickets @rneugeba created on the project last February. The reason we didn't fix it is that the tool we use to build our installer doesn't support that.
Until docker 1.13 is GA, we are not going to change the installer.
However, after 1.13 is GA, one of the first things we are going to deploy on

[2016-12-03 14:04] dgageot commented on #282
@simonferquel Can you take a look at the diagnostics, please?

[2016-12-03 14:06] dgageot commented on #275
@jabbera I'm not sure I understand. Can you share the output of this script?
[code]

[2016-12-03 14:08] jabbera commented on #275
It doesn't output anything. I'll snap a screenshot in a few minutes

[2016-12-03 14:12] dgageot commented on #225
Hi @zer0beat, thanks for your report. Is is the Linux engine or the Windows containers engine that you are trying to make listen on `0.0.0.0`?
 + If it's the **Linux** engine, I'm afraid this won't work and won't be fixed.
 + If it's the **Windows** engine, I'm afraid you can't (as of Beta 31) configure dockerd via the `daemon.json` GUI. It's something we developed already but that's going to ship

[2016-12-03 14:16] dgageot commented on #218
Hi @imgdat, I believe this is a duplicate of https://github.com/docker/for-win/issues/71. Can you confirm?

[2016-12-03 14:17] dgageot commented on #213
@pkch Can you give a try to the latest Beta 31 and tell us if the issue is solved?

[2016-12-03 14:19] dgageot commented on #207
@silencej Can you please give a try to Docker for Windows Beta31 that was released recently and tell us if your issue is solved?

[2016-12-03 14:19] jabbera commented on #275
![ss](https://cloud.githubusercontent.com/assets/301208/20859894/751fb9cc-b939-11e6-8fed-3523f6346eae.png)

[code]

[2016-12-03 14:20] dgageot commented on #187
@thariman Can you please give a try to Docker for Windows Beta31 and tell us if this fixes the issue for you?

[2016-12-03 14:21] dgageot commented on #182
@vvsh Can you please give a try to Docker for Windows Beta31 and tell us if it fixes the issue for you?

[2016-12-03 14:21] dgageot commented on #178
@HuanhuanSunMSFT Can you please give a try to Docker for Windows Beta31 and tell us if it fixes the issue for you?

[2016-12-03 14:22] dgageot commented on #174
@rneugeba @dave-tucker What's the status on this one?
@l8nite Have you reproduced the issue on Docker for Windows Beta31, released recently?

[2016-12-03 14:25] dgageot commented on #179
@friism Can you confirm this limitation?

[2016-12-03 14:29] dgageot commented on #184
@numunir I'm afraid this is not a Docker for Windows specific issue. It's more a general Tensor Flow  or docker usage question, so I'm going to close the ticket.

[2016-12-03 14:29] #184 closed

[2016-12-03 14:30] dgageot commented on #186
@medelasri Do you still have this issue? Have you tried a more recent version of Docker for Windows, like Beta 31, released this week.

[2016-12-03 14:31] dgageot commented on #210
@ocafebabe @jimmyanttila Could you give a try to Docker for Windows Beta31 and tell us if it fixes the issue?

[2016-12-03 14:31] l8nite commented on #174
@dgageot I haven't tried with the Docker for Windows Beta31. Were changes made specifically to address this? Testing is non-trivial for me due to requiring VirtualBox for work

[2016-12-03 14:32] dgageot commented on #208
@pbearne @wadjeroudi @green-frog Can this issue be closed then?

[2016-12-03 14:35] dgageot commented on #192
@eliassal I'm sorry we can't fix the size every container is taking out there. So I'm going to close this issue. Feel free to weight on #185 since it's a very valid issue.

[2016-12-03 14:35] #192 closed

[2016-12-03 14:37] dgageot commented on #209
I'm going to close this ticket as a duplicate of #188 (which was given a more appropriate title)

[2016-12-03 14:37] #209 closed

[2016-12-03 14:38] dgageot commented on #199
@friism @lzybkr @jhowardmsft is it a know Windows Containers issue?

[2016-12-03 14:39] dgageot commented on #221
@whitecolor I'm not sure I understand what you are trying to achieve. Is it a Windows container or a Linux container you are trying to connect to?

[2016-12-03 14:43] dgageot commented on #275
@friism any idea how to fix this?

[2016-12-03 14:44] dgageot commented on #174
@l8nite I know that more fixes where done on the vpnkit/DNS side but I can't offer no guarantee! ;-)

[2016-12-03 14:48] dgageot commented on #263
@pcgeek86 I'm really sorry I'm going to close the issue. The workaround given by @simonferquel is the only way to go.

[2016-12-03 14:48] #263 closed

[2016-12-03 14:57] dgageot commented on #217
@tianon thanks a lot for the feedback! After 1.13 is GA, we plan to improve the user experience for users who don't need the linux engine.

[2016-12-03 18:56] imgdat commented on #218
@dgageot Yes it's a duplicate.

[2016-12-03 19:13] dgageot commented on #218
@imgdat Thanks a lot! Closing as a duplicate of #71 then

[2016-12-03 19:13] #218 closed

[2016-12-03 23:07] whitecolor commented on #188
This issue has is more appropriate name then #188

There is also alike issue in docker for mac: https://github.com/docker/for-mac/issues/77

I also experience this for example with `git`, when I attach as volume some folder and make `git` operations on it, with quite large code base speed of operation is significantly slower then on dev machine.

To reproduce it you may just take some image with G

[2016-12-03 23:20] kamkie opened #283 "long time to start"
### Expected behavior
docker for windows is ready in 1 minute

### Actual behavior
docker for windows is ready after hour

### Information

  - Diagnostic ID 27CA4E77-3441-4D83-9240-B52F69F2EF03/2016-12-03_20-29-11
  - windows 10 insider preview 14971
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

### Steps to

[2016-12-04 00:28] swinster opened #284 "System process CPU utilisation excessively high when Docker is installed, even when not running"
### Expected behavior
CPU utilisation should not be impaired with Docker NOT running

### Actual behavior
System process constantly runs at around 35% after docker has been started, then stopped

### Information

- C8049946-E28F-4BA1-99FD-EA2E5855E6D2/2016-12-04_00-18-16
- Even when docker is shut down, HyperV service switched off, the System process CPU remains at 35%
- Set Docker not to start on

[2016-12-04 01:05] thariman commented on #187
I reinstall windows 10.

On Dec 3, 2016 9:20 PM, "David Gageot" <notifications@github.com> wrote:

[2016-12-04 01:41] swinster commented on #284
Likely - https://answers.microsoft.com/en-us/windows/forum/windows_10-performance/high-cpu-utilisation-after-running-a-hyper-v-vm/053ed1ff-c737-4dab-96d4-29ffa663cd49?auth=1

[2016-12-04 02:42] whitecolor commented on #221
@dgageot
I need to connect to running containers from Windows dev machine where docker is installed.
This can be currently done by adding appropriate routes to routing table via 10.0.75.2 (this IP of docker linux host running on HyperV I believe).

[2016-12-04 02:53] friism commented on #284
Thanks for reporting! I suspect this is a dupe of https://github.com/docker/for-win/issues/220, so closing.

Please re-open if that's not the case.

[2016-12-04 02:53] #284 closed

[2016-12-04 03:24] pcgeek86 commented on #263
Thanks guys, I'll use that work around

[2016-12-04 06:50] sitex commented on #283
Same problem is here.
Docker is taking a very long time to start.

### Expected behavior

docker for windows is ready after **_few seconds_** (as it said in a tool-tip)

### Actual behavior

docker for windows is ready after hour

### Information

- Diagnostic ID B28AE6BC-5E88-43F5-9C24-82D5F775D899/2016-12-04_14-49-38
- windows 10 pro. version 1607. build 14393.447

### Steps to reproduce the beh

[2016-12-04 07:04] xdrew commented on #188
Facing this issue on symfony app developing.
![Symfony](https://dl.dropboxusercontent.com/u/18445063/SNAG-0487.jpg)

[2016-12-04 14:01] ramiwi opened #285 "Failed to start Docker beta31 after Windows 10 latest update (to build 14965)"
### Expected behavior
Start Docker as windows 10 starts
### Actual behavior
Fail to start, gives this error:
[NamedPipeServer][Error  ] Unable to execute Start: Unable to stop: Couldn't stop VM MobyLinuxVM
at Fatal, <No file>: line 358
at Stop-VM-Force, <No file>: line 354
at Stop-MobyLinuxVM, <No file>: line 287
at <ScriptBlock>, <No file>: line 365    at Docker.Backend.ContainerEngine.Linux.Stop

[2016-12-04 15:33] rneugeba commented on #283
@sitex looking at the Logs, your issue is completely different to @kamkie. Could you please open a separate issue? Your delay is caused here:
[code]
Thanks

[2016-12-04 15:44] kamkie commented on #283
i had this same situation on older version of docker for windows
`
[14:30:33.843][Firewall       ][Info   ] Opening ports for C:\Program Files\Docker\Docker\Resources\com.docker.proxy.exe...
[14:30:34.239][Updater        ][Info   ] Local build 8488 is as good as the remote 8488 on channel Stable
[14:45:18.003][Firewall       ][Info   ] Ports are opened
`

[2016-12-04 16:53] oliversalzburg commented on #246
Ah, I see. Thanks for the update :)

[2016-12-04 16:59] sitex opened #286 "Open firewall ports takes a long time"
### Expected behavior

docker for windows is ready **_after few seconds_** (as it said in a tool-tip)

### Actual behavior

docker for windows is ready after 15 minutes

### Information

  - Diagnostic ID B28AE6BC-5E88-43F5-9C24-82D5F775D899/2016-12-04_14-49-38
  - windows 10 pro. version 1607. build 14393.447

### Steps to reproduce the behavior

  1. install docker for windows
  2. start docker

[2016-12-04 17:01] sitex commented on #283
#286 Created @rneugeba

[2016-12-04 17:01] #120 closed

[2016-12-04 17:02] #113 closed

[2016-12-04 17:19] dgageot commented on #286
@sitex It looks like you are using the stable channel. Can you try Docker for Windows Beta31? It contains a lot of fixes to the boot sequence.

[2016-12-04 17:23] dgageot commented on #285
@ramiwi Can you update to Beta 31 and tell if the issue is still there?

[2016-12-04 17:30] dgageot commented on #237
@vincebowdren Before you configured `dockerd`, have you tried to connect to consul from inside a container with a simple curl? There's a change that your firewall rejects communications from the Moby VM to the host on port 8500.

[2016-12-04 17:33] dheater opened #287 "Switch to Windows container fails - Continuation of issue#90"
### Note
This seems to be a continuation of issue #90 which has been closed and I do not have the ability to reopen.

### Expected behavior

Switch to Windows containers ... succeeds

### Actual behavior

Switch to Windows containers ... fails

### Information

Previous beta version of Docker for Windows was working (1.12.3 beta 29.3)
I updated to Version 1.13.0-rc2-beta31

DisableVSmbOplock was s

[2016-12-04 17:37] dgageot commented on #287
I see this error in the logs:
[code]

@friism have you seen that already?

[2016-12-04 17:39] dgageot commented on #281
@ahasnaini It looks like you are using the stable version of Docker for Windows. Can you give a try to Beta31 and tell us if it fixes your issue?

[2016-12-04 17:43] dgageot commented on #282
@StefanTBG Could you give a try to Docker for Windows Beta31 and tell us if you see a different behaviour?

[2016-12-04 19:55] ramiwi commented on #285
I think its already beta 31, see this screenshot:
![docker-info-2016-12-04](https://cloud.githubusercontent.com/assets/1592063/20868772/30c02512-ba6c-11e6-8e61-c08fc0787732.png)

[2016-12-04 20:40] ramiwi commented on #285
I think its already beta 31, see this screenshot:
![docker-info-2016-12-04](https://cloud.githubusercontent.com/assets/1592063/20868772/30c02512-ba6c-11e6-8e61-c08fc0787732.png)

[2016-12-04 20:41] ramiwi commented on #285
Now it started successfully with windows.
(It failed 3 times - on startup, then when manually started and on another windows startup).

[2016-12-04 21:01] dheater commented on #287
After several uninstall/reinstalls, deleting the c:\ProgramData\Docker folder, and uninstalling and reinstalling the HyperV feature, its working now. So many changes over the past few hours. Sorry I can't say what exactly got it working again.

[2016-12-04 21:01] #287 closed

[2016-12-05 05:32] airtonix commented on #167
imo, the correct way to deal with this is to use the $SSH_AUTH_SOCK which is available on systems that have at least (i think) `pshazz` installed:

[code]

[2016-12-05 06:11] StefanTBG commented on #282
@dgageot I uninstalled and then grabbed the latest beta version and can see that the version is 1.13.0-rc2-beta31. I'm still seeing the same behavior.

Here's the new diagnostic ID: 236A65AD-0948-4231-8C5B-A092636C5540/2016-12-05_01-08-07.

[2016-12-05 07:23] Morgy93 commented on #109
@rneugeba Will this resolve the issue?

https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/

[2016-12-05 07:38] sitex commented on #286
@dgageot things got worse with Docker for Windows Beta31 - 22 minutes to start
Diagnostic ID B28AE6BC-5E88-43F5-9C24-82D5F775D899/2016-12-05_15-33-12

[2016-12-05 08:29] alvesman commented on #178
Version 1.13.0-rc2-beta31 (9123)
Running OK on Hyper-V. When switching to Windows Containers:

Error response from daemon: open \\.\pipe\docker_engine_windows: The system cannot find the file specified.

   em Docker.Backend.DockerDaemonChecker.Check()
   em Docker.Backend.ContainerEngine.Windows.DoStart(Settings settings)
   em Docker.Backend.ContainerEngine.Windows.Start(Settings settings)
   em

[2016-12-05 09:15] Mchl commented on #247
Hello @rneugeba ,
Here's one of these cases:
A5817C2A-671B-4CF9-A003-BF2C9CA4C21A/2016-12-05_10-10-39

You'll notice that the message I get now is different: `Docker hv-sock proxy (vsudd) is not reachable`

Should we handle this within this ticket, or shold I open another one?

[2016-12-05 10:42] vvsh commented on #282
@StefanTBG, I have had the same issue before 1.13.0-rc2-beta31 (9123), but on beta31 everything works.

[2016-12-05 11:21] simonferquel commented on #282
@StefanTBG Are you sure you don't have a 3rd party firewall installed ?
Also, I see that you have VMWare services running. That can introduce some nasty bugs with Hyper-V.

[2016-12-05 11:32] oliversalzburg opened #288 "Unable to build images: "Unknown instruction: CURL""
### Expected behavior
Previously, I was able to build images with the `docker build` command.

### Actual behavior
When I run `docker build`, it gives me the error `Error response from daemon: Unknown instruction: CURL`.

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu:  E068E1FF-4B34-4943-A387-A74951CF6150/2016-12-05_12-31-16

[2016-12-05 11:41] vincebowdren commented on #237
@dgageot You're completely right. I checked with nmap (connecting from within a container), and it told me the port was filtered:

    PORT     STATE    SERVICE
    8500/tcp filtered fmtp

I reconfigured the windows firewall to stop blocking the port, and nmap confirmed that it was showing as open:

    PORT     STATE SERVICE
    8500/tcp open  fmtp

And that was enough to let docker restart with

[2016-12-05 11:59] rneugeba commented on #286
@sitex thanks for filing a separate issue. Looks like on the stable branch, the majority of the time is spent here:
[code]

On the Beta channel the a large chunk of time is spent here:
[code]

[2016-12-05 12:00] rneugeba commented on #286
@dgageot both seems firewall related...any idea?

[2016-12-05 12:12] justincormack commented on #288
There were some Docker file parsing changes in 1.13, which are probably
going to be reverted soon.

However it does mean your Docker file is fairly ambiguous, either with
comments or spaces after \ continuation or similar.

On 5 Dec 2016 11:32 a.m., "Oliver Salzburg" <notifications@github.com>
wrote:

Expected behavior

Previously, I was able to build images with the docker build command.
Actual b

[2016-12-05 12:20] oliversalzburg commented on #288
Yeah, we have *tons* of that going on. Should that be considered a problem or should we just hang tight until the fix rolls out?

[2016-12-05 12:38] sitex commented on #286
@rneugeba are you talking about Windows Firewall?
I've just switched off Windows Firewall and started Docker for Windows - same issue - 25 minutes to start (New High Score!)
Diagnostic ID B28AE6BC-5E88-43F5-9C24-82D5F775D899/2016-12-05_20-34-05

[2016-12-05 13:21] forevermatt commented on #278
Sounds good. Thanks!

[2016-12-05 13:26] MaherJendoubi opened #289 "Unable to remove or upgrade from Docker 1.12.3-beta30.1 (8711)"
### Expected behavior

### Actual behavior

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc) : Microsoft Windows 10 Enterprise [version 10.0.14393]

### Steps to reproduce the behavi

[2016-12-05 13:52] timotei commented on #166
Hmm, it seems after I restarted the Docker For Windows service it works! :)

[2016-12-05 13:54] simonferquel commented on #166
Hmm yes, indeed, we did not restart the windows container engine after changing the proxy settings in public beta. Next one will bring improvements in this area

[2016-12-05 13:56] timotei commented on #166
@simonferquel I just wanted to double-check, and it seems the `dockerd.exe` has the HTTP_PROXY env variable set. Is that intended? (Cause I don't have any set from outside)

[2016-12-05 14:18] simonferquel commented on #166
Yes, that is the proper way to set proxy settings for dockerd.

[2016-12-05 14:35] fmasa commented on #188
@dimasnake Are you sure you have beta 21 installed? I found out that installer auto-updates to latest version no matter what.

@friism Is there any roadmap for this issue?

[2016-12-05 15:26] fmasa opened #290 ""Restart docker..." button removes all images and volumes"
### Expected behavior
_"Restart docker..."_ button restarts VM without deleting everything. Every pre-beta31 version worked that way.
### Actual behavior
_"Restart docker..."_ button removes all images and volumes.

### Information
Diagnostic ID: 21BA5754-F71A-41EF-9AB8-5CBE69D11D11/2016-12-05_16-17-54

### Steps to reproduce the behavior

  1. Start container with data volume (e.g. https://hub.do

[2016-12-05 16:24] Sdcxv commented on #20
same problem on Version: 1.13.0-rc2-beta31

[2016-12-05 16:49] rneugeba commented on #290
@fmasa I can't reproduce this. When I restart Beta31 the images I had before are still present afterwards. So at least on my system the images are still there.

You also mention mentioned volumes...could you give a concrete example to reproduce?

thanks

[2016-12-05 16:51] fmasa commented on #290
Sure, I'll try provide more accurate Steps in a few hours.

[2016-12-05 17:16] MPJHorner commented on #54
I had the same issue, BETA working perfectly.

[2016-12-05 19:32] TheoAndersen commented on #212
I tried the powershell commands, and exited docker, and upgraded to the latest version 1.13.0-rc2-beta31. Firstly this made me able to run containers again, though only without mapping ports.

When i map ports this happens
[code]

Any suggestions would be helpful, i have no idéa what this error means. I've also attached the docker logs (cleaned out the dir prior to running the container with port

[2016-12-05 19:59] TheoAndersen commented on #212
I just found the Debug-ContainerHost script and gave it a try. (https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/Debug-ContainerHost)

[code]

The NAT Network internal prefix does not overlap with external IP, bit failed. Would sounds a bit like something that could be related to port mapping.

A little more docker network info
[code]

Attached a

[2016-12-05 20:40] TheoAndersen commented on #212
I think i figured it out...

Changing the darn command, to make the port mapping part come before the image... makes it work...

So instead of
[code]
Which fails with a strange error.

I'll do
[code]

which works.

Sorry for the trouble :/

[2016-12-05 20:40] #212 closed

[2016-12-05 23:43] dgageot commented on #290
@fmasa Could you have clicked in "Reset to Factory Default" by mistake?

[2016-12-05 23:45] dgageot commented on #237
@vincebowdren Good to know! I'm going to close the issue then.

[2016-12-05 23:45] #237 closed

[2016-12-05 23:47] dgageot commented on #285
@ramiwi Feel free to close the issue if you see it working more reliably

[2016-12-06 00:41] adamtuliper opened #291 "Docker Hangs with "Docker is Starting""
### Expected behavior
Docker should start :)

### Actual behavior
Doesn't start, it hangs, never completes startup (seemingly)
Command line fails even running in elevated cmd prompt

error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.25/images/json: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker cli

[2016-12-06 02:17] dheater opened #292 "docker pull microsoft/windowsserver core fails to extract: access denied"
### Expected behavior

Expect image to download and extract into c:\ProgramData\Docker

### Actual behavior

Fails to register layer due to Access denied error

### Information

Docker for Windows version 1.13.0-rc2-beta31

Running commands below from PowerShell run as administrator.

### Steps to reproduce the behavior

I've been getting the following permission denied error with Docker for windo

[2016-12-06 02:29] adamtuliper commented on #291
Additional details - after a time passed  "An error occured" dialog shows with diagnostic id 9FB71E2E-E9D5-48EE-BE18-C265DF906CF8/2016-12-05_18-26-40

   at Docker.Backend.ContainerEngine.Linux.ConnectToVsud(TaskCompletionSource`1 vmId)
   at Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)
   at Docker.Backend.ContainerEngine.Linux.Start(Settings settings)
   at Docker.Core.Pipe.Na

[2016-12-06 02:59] NoodlesNZ commented on #291
I also have this problem, I uploaded diagnostics to 5F1E67E8-BEF0-4964-9D9E-2D87AD5C2928/2016-12-06_15-56-53

I have tried stable and beta

[2016-12-06 08:45] justgos commented on #290
I have the same problem.
Two times in a row actually : / so I'm sure it was "Restart", not "Reset" )

After the first time I'd:
1. pulled jupyter/minimal-notebook
2. installed some staff on it
3. committed as a new version
4. pressed "Restart Docker"
5. got additional ~8 GB free space on hdd and only one Docker image - "d4w/nsenter

Diagnostic ID: 7804DFFB-7C12-4CD3-B6CA-A82AEEB28E40/2016-12-06_10

[2016-12-06 10:25] rneugeba commented on #283
@kamkie @sitex apologies. On closer inspection of the logs, it looks like you have the same issues. In both cases it seems to take a long time to open firewall ports. So, I'm closing this in favour of #286 which has more comments. Apologies for the confusion

[2016-12-06 10:25] #283 closed

[2016-12-06 10:25] KekSfabrik opened #293 "moby VM loses track of time and doesn't synchronize to hostsystem"
### Expected behavior

Time in a container is the same as the time of the hostsystem (+/- drift between syncs)

### Actual behavior

moby is paused and not shut down during hostsystem reboot and therefor maintains the time it was initially started, ignoring the that the time has changed

### Information

  - Version 1.12.3 (8488) from the Stable channel (d63ec34)
  - Win 10 Pro 1607 (Build 14393.4

[2016-12-06 10:41] rneugeba commented on #286
I had a closer look at the logs, as well as the logs reported by @kamkie on #283 (which looks like the same issue).

@kamkie `1.13.0-rc2-beta31` Windows build 14971:
[code]
@sitex `1.12.3-stable` Windows build 14393
[code]
@sitex `1.13.0-rc2-beta31` Windows build 14393:
[code]

So, in all cases it takes a *very* long time to open the Firewall ports. On a normal system with Beta31 we see something

[2016-12-06 10:45] rneugeba commented on #293
@KekSfabrik Thanks for reporting. This looks like a duplicate of #72 so I'm closing it. If you look at #72 we released a partial fix with Beta31 and working on an improved fix for Beta32.

[2016-12-06 10:45] #293 closed

[2016-12-06 11:01] asolopovas commented on #56
It looks like issue is so difficult to implement that developers don't even want to talk about it, that's why it gets closed without even discussing it.

[2016-12-06 11:07] KekSfabrik commented on #293
okay, sorry about that -- looked around but didn't see the issue for some reason

thank you :)

[2016-12-06 11:34] msnelling opened #294 "No networking in Windows containers"
### Expected behavior
Should be able to ping external hosts.

### Actual behavior
Unable to ping external hosts

### Information
Unable to supply "Diagnose & Feedback" since there doesn't seem to be any for Windows containers!

Windows 10, Version 1607 (OS Build 14393.479)
Docker for Windows 1.13.0-rc2-beta31 (9123)

Output from Debug-ContainerHost.ps1
[code]
### Steps to reproduce the behaviour
1

[2016-12-06 11:44] rneugeba commented on #56
@asolopovas
- To implement this correctly with SMB/CIFS requires significant changes to the generic Linux Virtual Filesystem layer, not just improvements to the Linux Kernel SMB implementation.
- Another option is to go the route we have taken with Docker for Mac, which uses a user-space file system (FUSE) in Linux and then passes this to a daemon on the host which implements the requires semantic

[2016-12-06 11:50] peterbud opened #295 "Stdout with Windows 2016 host works, but fails with Windows 10 Pro host"
### Expected behavior
Windows 2016 host and Windows 10 Pro host should behave the same way for the same container.

### Actual behavior
The following dockerfile works if the host is Windows 2016 but fails if the host is Windows 10 Pro.

More general running a docker container on Windows 10 Pro host somehow cannot handle stdout properly as I see. The below mentioned MSYS2 binaries are running fine

[2016-12-06 11:51] dgageot commented on #290
@fmasa @justgos You are right, this is actually a huge bug. When the VM fails to stop properly, we have to force kill it. We also added a piece of code that deletes the VM to be sure we didn't introduce some corruption when we killed the VM's process. This new piece of code introduced in Beta31 has a huge bug. It also deletes the data disk with the VM.
This is going to be fixed quickly in the Beta

[2016-12-06 12:02] rneugeba commented on #294
I can't reproduce this:
[code]

Could you switch to Linux containers and then upload a diagnostics from the UI. We collect a bunch of additional information, including network configuration, which may be useful to debug this.

Thanks

[2016-12-06 12:04] msnelling commented on #294
Sure, I've uploaded the diagnostic with id: BB18D810-C7E9-421F-8CAC-5BD99F075A2D/2016-12-06_12-03-46

[2016-12-06 12:08] msnelling commented on #294
I have managed to get some network connectivity using the transparent mode but the default NAT still doesn't work.
[code]

[2016-12-06 12:32] ramiwi commented on #285
Failed today on windows startup with the following error:
[code]
[log20161206.txt](https://github.com/docker/for-win/files/633832/log20161206.txt)

A crash report was uploaded with the following id:
76203926-E85E-4E11-9ED5-FE0A56B41D73/2016-12-06_13-13-35

[2016-12-06 12:51] BDvirus commented on #290
hi @dgageot
I can also confirm that it's happens to me, also with Beta31.
It's unpleasant.. :( but this is what it is..
I realy hope it's is going to be fixed quickly in the next Beta.
And other interesting thing...
When I switch to "Windows Containers" all of the windows container where there :)
So half of comfort.. only the linux containers gone..

[2016-12-06 13:26] rneugeba commented on #294
Thanks for the diagnostics. Here is what I see:

You have the `nat` switch:
[code]
which looks ok, except the `SwitchType` is set to `Private`, while on my systems it's `Internal`. IIRC for NAT networking the switch type needs to be `Internal`.

You have a `NetNAT` object, which looks fine:
[code]
Except, on my systems the subnet is a `/20` and not a `/12` as on yours.

You are missing a Ethernet

[2016-12-06 13:27] simonferquel commented on #290
A fix is on its way for the next beta (hopefully this week). Sorry for the inconvenience !

[2016-12-06 13:46] msnelling commented on #294
Thanks for taking a look at this. No I didn't modify the configuration, there is no `C:\ProgramData\Docker\config\daemon.json` file.
Here's the output of the PowerShell commandlets as requested.
[code]

[2016-12-06 13:50] peterbud commented on #262
@timotei : what is your docker host: Windows Server 2016 or Windows 10 Pro? I have found a similar issue but only on Windows 10 Pro host. Windows Server 2016 seemed to work OK. See #295

[2016-12-06 14:30] amalm commented on #273
Can I workaround this be de-installing Docker for Windows, i.e. the Hyper-V box?
This will probably remove the docker containers, correct?

[2016-12-06 14:30] #273 closed

[2016-12-06 15:03] rneugeba commented on #294
Hmm, I don't think the `vEthernet (HNSTransparent)` adapter was there before (when I looked at the diagnostics).

Have you tried changing the switch type on the `nat` switch to `Internal`?

[2016-12-06 15:08] msnelling commented on #294
Hmmm, it looks like I just changed the `DockerNAT` adapter to `internal`. The new HNSTransparent adapter could be from this command `docker network create -d transparent transparent` I mentioned earlier?

Here is the updated output from thos commandlets.
[code]

[2016-12-06 15:18] rneugeba commented on #294
OK, this looks more sane now. Does your test still fail?

[2016-12-06 15:21] msnelling commented on #294
Yes this still fails I'm afraid.
`docker run --rm -ti microsoft/nanoserver ping 8.8.8.8`
`docker run --rm -ti --network=nat microsoft/nanoserver ping 8.8.8.8`

This succeeds:
`docker run --rm -ti --network=transparent microsoft/nanoserver ping 8.8.8.8`

[2016-12-06 16:00] frankgreco commented on #56
@rneugeba Is Docker planning on implementing this? [Here](https://docs.docker.com/docker-for-windows/troubleshoot/) is says,  "Currently, inotify does not work on Docker for Windows. This will become evident, for example, when an application needs to read/write to a container across a mounted drive. **This is a known issue that the team is working on.**"

Is there an estimated time for this functi

[2016-12-06 16:04] dimasnake commented on #188
@fmasa I disable auto-update. I have 1.12.0-beta21 (build: 5971). You have in 21 beta performance better? Show output if this command `dd if=/dev/zero of=test.dat bs=1024 count=100000` inside docker container.

[2016-12-06 16:29] rlpowell commented on #290
Oh dear.  I routinely end up with stuck files, on probably an at-least-daily basis.  That is: files in a shared (-v volume mount) directory that cannot be deleted, on the docker or windows sides. (As I mentioned in another ticket: this is so common that I assumed you knew about it; let me know if I should open a ticket.)   I have to reboot to fix this.  I suspect that rebooting in that case *also*

[2016-12-06 16:33] rlpowell commented on #290
Actually: can I *downgrade* to remove this behaviour?  That would be really really nice.  Actually, since all my images are gone, I suppose I could just uninstall and install an older beta.

[2016-12-06 16:35] rlpowell commented on #290
Hmm.  No way to get older betas.  Not sure if this is worth downgrading to stable if y'all are going to have it done in the next day or two.

[2016-12-06 17:34] friism commented on #56
@frankgreco I've sent a PR to update the docs. As @rneugeba pointed out, we don't have a lot of good options at the moment. We're aware that this is an annoying limitation, and we're continuously evaluating progress in WSL and Samba to see what improvements we might incorporate.

@frankgreco @asolopovas what programming framework are you using? Does it not have a polling mode for looking for files

[2016-12-06 17:44] asolopovas commented on #56
@friism I am using browsersync haven't found any polling modes in it but was searching for. I know that webpack has it but I use combination of browsersync with webpack and hot module reload and it does not seem to work if I enable poling just in webpack. I simply installed all necessary tools on my host so that I can operate looks like we just have to be a bit more patient.

[2016-12-06 18:38] tylkomat commented on #267
I have the same issue while not running in a VM. My ID is: EF5B5C5D-8BE2-400B-B341-39C486F7F6C0/2016-12-06_19-28-48

[2016-12-06 19:53] adamtuliper opened #297 "DNS stopped working for containers"
### Expected behavior
Expecting the ability to do a dns lookup, as utilities in containers expect it. It did work - now it stopped. No config settings have changed manually. I haven't rebooted to retry, want to see if there's an issue we can catch here at work. Last night I forced the service to stop after cpu was elevated for a number of minutes when I went to exit a simple container. Its since b

[2016-12-06 22:11] timotei commented on #262
It's on Win 10 Pro. IIRC I tested on WS2016 in a VM and I had the same issue, but I will retest.

[2016-12-06 22:48] ramiwi commented on #285
Successfully started manually later.

[2016-12-07 01:00] whitecolor commented on #258
I think something like that happened again:
https://gist.github.com/whitecolor/298f39503edf29dafc9a474c2876c388

A diagnostic was uploaded with id: F9849748-1D6A-446A-9818-2B3F9C15D9E6/2016-12-07_05-59-16

[2016-12-07 01:06] friism commented on #294
@jmesser81 what are good ways we can help users debug problems of this kind?

[2016-12-07 01:26] friism commented on #188
@fmasa we're aware of the problem. Note that volume I/O performance will likely always be slower than pure in-container performance and pure on-host performance because the host-mounted volume filesystem is mounted over a network.

We're interested in making that overhead as low as possible, of course, but we're not keen on adding a lot of toggles that users have to change depending on what softwa

[2016-12-07 02:27] whitecolor commented on #221
Did I still failed to explain my request in OP?

1) I'm running docker-for-windows on windows machine.
2) Containers that are run on this platform has internal IPs like 172.18.x.x
3) I want **to reach (be able to ping) running containers directly** from Windows machine (not using port mapping, I want to reach container's IP)

By default one **can not just `ping 172.18.x.x`**, but I found out the s

[2016-12-07 08:10] peterbud commented on #262
Its worthwhile to read [this](https://github.com/StefanScherer/dockerfiles-windows/issues/30)

It seems that the --tty is the problem.
You can give a try running the helloworld.exe **from outside** of the container:
`docker run [container name] c:\\msys2\\helloworld.exe`

[2016-12-07 13:14] jabbera commented on #275
I reimaged my desktop to "resolve" this so I wont' be able to provide any more information.

[2016-12-07 13:14] #275 closed

[2016-12-07 14:07] Hronom commented on #221
@whitecolor Thanks for workaround!
Also faced with this problem under windows, under linux I don't have such a problem...

I need to have access to the containers directly by IP address, for example by `172.18.0.3`

[2016-12-07 15:34] amalm commented on #273
Manage to remove 1.12.3 by following https://forums.docker.com/t/cannot-uninstall-docker-for-windows/15661/14 and some patience waiting for restarting win.
Installed the 1.12.3-beta31, the Hyper-V still there afterwards.

Bottom line: Remove is only possible with manual work.

[2016-12-07 17:44] JMesser81 commented on #294
As @rneugeba pointed out, the switch type being private and no internal vNIC is a problem. I'll add some checks in the Debug-ContainerHost.ps1 script to ensure nat vmSwitch is of type internal and there is a corresponding Host vNIC with the NAT default gateway IP assigned to it.

As to what the problem could be now, could you check a few more things:
1) Run ipconfig /all within the nanoserver cont

[2016-12-07 18:50] tupadr3 commented on #27
In case it helps:
I have Hyper-V configured to store the VHD's on "D:\" and the windows 10 anniversary update **magically** made "D:" disappear. Docker failed to start with the message:
[code]
After "D:" was restored everything worked again.

[2016-12-07 20:15] af6140 commented on #225
It's the docker daemon itself, can only listen on 127.0.0.1 ip, it cannot be managed by remote tools.

[2016-12-07 22:06] yohanb commented on #267
Same for me.
When switching from Windows to Linux containers, Docker fails with the following message:
![image](https://cloud.githubusercontent.com/assets/812993/20988040/edcba1e0-bc9c-11e6-8ca9-38f65926a971.png)

-  Docker version: 1.13.0-rc3-beta32 (9266)
- Windows version: Windows 10 Enterprise, 1607

[2016-12-07 23:57] PatrickLang commented on #220
A new build was just released: https://blogs.windows.com/windowsexperience/2016/12/07/announcing-windows-10-insider-preview-build-14986-pc/ If you have problems, please go ahead and open a new issue on it.

[2016-12-08 01:05] friism commented on #220
@PatrickLang fixed it for me!

❤️

[2016-12-08 01:20] MatthewMiele opened #298 "Empty volumes when specifying a remote host"
Im not to sure where this issue lies or if its even an issue (might be something thats not supported?) but as I could not find any documentation on this I am opening this ticket.

I have Docker installed on Windows 10 (using HyperV) and inside Bash for Windows (Ubuntu) I have just the docker client.

The problem is that when I run my container using ` -H tcp://0.0.0.0:2375` the volumes that I spec

[2016-12-08 01:53] friism commented on #298
When running the Docker CLI from inside Bash for Windows, you likely won't be able to volume-mount folders that reside in the Bash for Windows filesystem. That's because that filesystem is not shared with the Linux VM running the Docker daemon - only the standard `D:\` Windows filesystem is available to be volume-mounted into containers.

[2016-12-08 04:33] PatrickLang opened #299 "Error switching to Linux containers on Windows Insider build 14986"
### Expected behavior
No errors switching to Linux containers

### Actual behavior
MobyLinuxVM seems to start, cpu usage looks good (unlike Windows build 14971)

[code]

### Information

Diagnostic ID:
Upload seems to keep hanging and spinning docker.service at nearly 100% CPU. I don't have an ID :(

Versions:
[code]

### Steps to reproduce the behavior

  1. Update to Windows Insider fast build 1

[2016-12-08 05:52] PatrickLang commented on #299
Well, a reboot later it started working. I'll close this out.

[code]

[2016-12-08 05:52] #299 closed

[2016-12-08 08:29] kamkie commented on #286
on windows 14986 and docker for windows 1.13.0-rc3-beta32 (9266) problem still exists
27CA4E77-3441-4D83-9240-B52F69F2EF03/2016-12-08_09-09-21

[2016-12-08 09:11] MatthewMiele commented on #298
I understand that if trying to use the full path it wouldn't work. Such as
`/mnt/d/Projects/` ....
But should using a relative path such ` . ` work?

Or does Docker for Windows do some kind of extra translation to resolve it
to the correct path to match the shared path in the HyperV VM....and as the
Docker client in bash is trying to talk straight to the daemon , this
translation process isn't hap

[2016-12-08 09:21] rneugeba commented on #220
@PatrickLang thanks for the heads up. I can confirm that the update fixed the problem for me.

[2016-12-08 10:58] roolebo commented on #147
@fishhead108 thanks! the workaround works.

[2016-12-08 11:38] msnelling commented on #294
@JMesser81 , here's the (sanitised) container ipconfig output...
[code]

And the host...
[code]

[2016-12-08 11:56] vamsikrishnagithub opened #300 "Disk space still utilized even after deleting containers and images."
### Disk space should be released

### Disk space is utilized

###

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

### Steps to reproduce the behavior
I am using docker 1.12.3(8488) in windows 10.

[2016-12-08 12:11] rneugeba commented on #244
I'm re-opening this as we there was a minor bug in Beta31 which prevents the TRIM support to actually be activated. We noticed this too late to merge a fix for Beta32 (released this week) but it should be available in the next Beta (Beat33). Apologies for the  delay

[2016-12-08 12:12] rneugeba commented on #300
@vamsikrishnagithub thanks for reporting. This is a known issue (see #244) and we have a solution in master which will ship with the next Beta update. Closing this issue as a duplicate.

[2016-12-08 12:12] #300 closed

[2016-12-08 12:14] rneugeba commented on #290
Beta32 shipped yesterday and it should fix this issue. Please re-open if you still have the same issue.

[2016-12-08 12:14] #290 closed

[2016-12-08 12:17] rneugeba commented on #269
Beta32 shipped yesterday should fix this, closing. Please re-open if the issue persists

[2016-12-08 12:17] #269 closed

[2016-12-08 12:33] rneugeba commented on #166
@timotei could you try Beta32, released yesterday? It should contain the fix mentioned above. Thanks

[2016-12-08 13:00] timotei commented on #166
I just tried the latest:

* unset proxy
* verify pull does not work
* set proxy
* verify pull it works

It seems to work just fine :)

[2016-12-08 13:42] egor-laufer opened #301 "docker system prune command crashes"
### Expected behavior
`docker system prune` command works

### Actual behavior
`docker system prune` command crashes with `panic: runtime error: index out of range`

### Information

  - Diagnostic ID: C150D8A3-5644-4CAA-9ABD-F6EA04175BF3/2016-12-08_16-37-07
  - `Docker version 1.13.0-rc3, build 4d92237`
  - Windows 10 Pro, OS Build 14393.447

### Steps to reproduce the behavior

  1. run `docker

[2016-12-08 14:36] thaJeztah commented on #301
ping @mlaventure PTAL

[2016-12-08 14:56] whitecolor commented on #221
@Hronom I wonder how it is done on linux, which gateway routes 172. address to containers?

[2016-12-08 15:02] Hronom commented on #221
@whitecolor On linux if I type in console `ifconfig`, I get next network interfaces:
[code]
So where is a network interface `br-fccc8ee02778` with IP `172.18.0.1` and mask `255.255.0.0`

[2016-12-08 15:05] whitecolor commented on #221
So probably on windows host there too should such of interface with proper address added.

[2016-12-08 15:05] bspisak commented on #291
I have the same issue ..

Anyone has make it work maybe ?

A diagnostic was uploaded with id: 4F9EEB8E-3F7D-4FD6-B847-25A69D50C5D0/2016-12-08_14-53-2

[2016-12-08 15:22] friism commented on #298
@MatthewMiele no, relative path wouldn't work either. When you shared the "D:\" drive with Docker, that made the files and folders on the D: drive available to be volume mounted into containers. But since the Bash on Windows filesystem is not represented on the D-drive, you can't mount relative paths from there. It _might_ work if you mounted something like `D:\foo\bar`.

[2016-12-08 15:25] vamsikrishnagithub commented on #300
Is there a way to clean up the already used storage space??

[2016-12-08 15:34] MatthewMiele commented on #298
That's does not work as Linux complains that that is not a valid / existing
path :(.

So it looks like it can't be done.

But are volumes even supported when using remote hosts in general?

On 8 Dec 2016 3:22 pm, "Michael Friis" <notifications@github.com> wrote:

[2016-12-08 15:42] mlaventure commented on #301
It looks like `docker/docker/pkg/term` doesn't support reading just 1 byte from a windows console atm :sweat_smile:

ping @jhowardmsft, it looks like the following should be added to `docker/docker/pkg/term/windows/ansi_reader.go`:

[code]

[2016-12-08 15:58] hoatle commented on #188
anyone here wanna try a truly universal software development platform?

teracy-dev is created to set up a universal development platform which has the same development workflow on Mac, Linux and Windows with good developer experience and productivity in mind.

We have docker and docker-compose preinstalled, better than docker toolbox, docker native app.

The project is here: https://github.com/ter

[2016-12-08 16:15] rmcolbert commented on #297
To add to this, the DNS proxy hosted on the NAT gateway IP is what appears to be failing. You receive a Server failed response from nslookup if you attempt to query it from the host directly or if testing from inside a windowsservercore container. If you switch DNS to use an off-host DNS server, it works. Steps to verify:
[code]
Once the container launches, run the following to test current settin

[2016-12-08 16:24] msnelling commented on #294
I have just tried uninstalling Docker, removed all Hyper-V network adaptors, nuked `C:\ProgramData\Docker`, rebooted and re-installed the latest Docker beta (rc3-beta32).

Docker doesn't start (default Linux) first time, need to exit and re-launch. Here is the diagnostic id `BB18D810-C7E9-421F-8CAC-5BD99F075A2D/2016-12-08_15-58-30`

Linux container networking seems ok...
[code]

Switching to Windo

[2016-12-08 17:13] fmasa commented on #188
@friism Some performance hit in mounted volumes is expected, but it for this particular use case it's just too much for DfW to be usable on daily basis.
I don't see way to optimize smb shares w/o some sort of toggles. Different stacks have different requirements. Why don' you give an option to tweak some parameters in config files if not in GUI? You're cutting not unsignificant part of community o

[2016-12-08 17:39] peterbud commented on #295
One additional comment:
* I have tested the same dockerfile using a Windows 10 Pro host and a nanoserver base image (`FROM microsoft/nanoserver` see full dockerfile attached below): stdout is NOT working
* I have tested the same dockerfile using a nanoserver host: it is also broken in the same way like the Windows 10 Pro host.

So in my understanding **only** the Windows Server 2016 host works wel

[2016-12-08 19:09] Slamper commented on #216
Is there a plan to apply this fix to the Docker for Windows release version ?

[2016-12-08 21:35] rneugeba commented on #166
@timotei thanks for getting back. Glad it's working for you. Closing

[2016-12-08 21:35] #166 closed

[2016-12-08 21:49] dgageot commented on #250
I'm going to close this issue, has it seems the fixed documentation is enough now.

[2016-12-08 21:49] #250 closed

[2016-12-08 21:50] dgageot commented on #208
I'm going to assume this issue can be closed

[2016-12-08 21:50] #208 closed

[2016-12-08 21:51] dgageot commented on #280
@tommed Any chance Beta31 or Beta32 fixed this issue?

[2016-12-08 21:52] dgageot commented on #279
@aysark Any news?

[2016-12-08 21:53] dgageot commented on #227
@DjTrilogic Any news?

[2016-12-08 21:53] dgageot commented on #203
@braveness23 any news?

[2016-12-08 21:53] dgageot commented on #72
Hi @Matthias247 @cfstras @rlpowell have you tried to install Beta32?

[2016-12-09 02:40] JMesser81 commented on #294
So in the first example, before you re-installed Docker and removed Hyper-V Net adapters, the Gateway IP address for the NAT network (172.26.192.1) was not assigned to the vEthernet (nat) vNIC for some reason. This would mean routing to external networks would not work.

In the second example, with nat, I'm guessing the Gateway IP address is still not assigned to the internal host vNIC. For transp

[2016-12-09 02:44] JMesser81 commented on #227
@dgageot  - the analogous network driver on Windows is called nat. A default nat network is created when the Windows docker service/engine first starts. Please refer to this page for more info:
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/container_networking

[2016-12-09 02:54] JMesser81 commented on #221
If your Windows containers are connecting to the default **nat** network on the container host, there should be a host vNIC named (e.g., vEthernet (nat)) with the NAT network's default gateway IP address assigned to this interface. Could you please verify this by running ipconfig /all

If that's true, then both the internal NAT network prefix and the external network prefix should be "on-link" fro

[2016-12-09 06:58] psfpro opened #302 "Interactive mode is not yet supported on Windows"
### Actual behavior
When I run comand `docker-compose run php composer install`
I got error
[code]

### Information
A diagnostic was uploaded with id: 99ACFB01-68DE-4FBC-8BF5-ABF179D37CEE/2016-12-09_09-56-35

[2016-12-09 07:20] rlpowell commented on #290
Well, the installation of Beta32 triggered this issue, so that was unpleasant (but not unexpected).  Time to rebuild everything again wee!

[2016-12-09 09:58] mbp opened #303 "Cannot share C drive when on AzureAD domain"
### Expected behavior

C drive should be shared

### Actual behavior

C drive cannot be shared

### Information

  - Diagnostic ID: 7B66A5D7-A80C-4A8E-8C48-34DFF49D4BC4/2016-12-09_10-56-02
  - Docker: 1.13.0-rc3-beta32 (9266)
  - Windows 10 Pro

### Steps to reproduce the behavior

  1. Go to Docker Settings => "Shared Drives"
  2. Share C drive, enter password
  3. Wait for a bit, nothing happens

[2016-12-09 10:02] PetaPetaPeta commented on #298
I have the same setup. The way I got it to work is mounting the volume with the absolute Windows path. So instead of the `/mnt/d/...`-path you should use `D:/...`.

[2016-12-09 10:08] mbp commented on #303
I found related issue #132

I solved the problem by adding a new user account to my machine (local user) with Administrator permissions. Then I used this user for sharing the drive.

However - I guess it still should work to share drives even when on AzureAD.

[2016-12-09 10:42] rneugeba commented on #302
This is a known limitation in compose 1.8 which is fixed in 1.9 (see https://github.com/docker/compose/issues/3194).

We plan to update compose in the stable branch to 1.9 soon, but already ship compose 1.9 in the beta channel, so I'm closing this issue.

Please try the beta channel from [here](https://docs.docker.com/docker-for-windows/) and re-open if it doesn't fix your issue.

[2016-12-09 10:42] #302 closed

[2016-12-09 13:56] jtnord opened #304 "Error when switching to Windows containers"
### Expected behaviour

When I "switch to windows containers" in the docker app it should work.

### Actual behavior

It failed with:

[code]
### Information

  - Diagnostic ID 4C36067F-0848-4ECE-B0F4-887DD80EA81B/2016-12-09_13-55-28
  - a reproducible case if this is a bug.
  - page URL if this is a docs issue or the name of a man page: N/a
  - host distribution and version (Windows version, buil

[2016-12-09 14:02] jtnord opened #305 "BugSnag appears to not be working."
### Expected behavior

On a crash a bugsnap bundle is uploaded and ther eare not errors about uploading in the log file

### Actual behavior

Errors related to bugsnag are in the log file which to me implies the bugsnag report was not uploaded.

[code]

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu. `4C36067F-0848-4ECE-B0F4-887DD80EA81B/2016-12-09_14-00-42`
  - a reprod

[2016-12-09 14:11] rneugeba commented on #305
@dgageot @jeanlaurent can you take a look at what's happening here?

[2016-12-09 14:16] rneugeba commented on #304
Could you try running the debug script from Microsoft found [here](https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/Debug-ContainerHost). It diagnoses common issues with Windows containers.

For networking, there is also @JMesser81  PR for additional checks [here](https://github.com/Microsoft/Virtualization-Documentation/pull/513)

[2016-12-09 14:31] psfpro commented on #302
Thank you!

[2016-12-09 14:39] tommed commented on #280
I'll take a look, thanks

[2016-12-09 15:32] pcharvet opened #306 "'Unable to write to the database' on Windows 10 pro x64"
### Expected behavior
docker starts when windows starts and does it without error
### Actual behavior
docker start fails and yes we did try with the last stable version to start with similar results. Google gave us #130 which perfectly matches what's happening to me (we sent the report from docker).
So we tried the beta and here I am.
### information
There is a small difference between the beta an

[2016-12-09 15:45] timotei commented on #262
So, I have Windows Server 2016 Version 1607 (14393.447), in a Hyper-V VM, and I tried running the same scenario. It seems I have the same behaviour.

[code]

[2016-12-09 16:13] jasonwzs commented on #27
@damtur I encountered exactly same problem as what you encountered. I am using the same build and the errors in the log file is same.
The docker for windows was working fine before I tried to run minikube on my machine. I start minikube with hyper-v driver without creating a new external switch in hyper-v, so it uses the internal DockerNAT switch and since then the docker stopped running. After do

[2016-12-09 16:43] icezimo opened #307 "The VM couldn't get an IP address after 60 tries"
Hi, I have some problems about docker. I have read the issue about this problem but i can't fix it. I have reinstalled docker and hyper-v but it doesn't work.

**Expected behavior**

To get docker to start, after upgrade to 1.12.3 from 1.12.1.

**Actual behavior**
Unable to start: The VM couldn't get an IP address after 60 tries
at Fatal, <No file>: line 353
at Start-MobyLinuxVM, <No file>: line 2

[2016-12-09 16:44] justincormack commented on #307
Have you tried the beta channel? This has some fixes that may help, and will be promoted to stable later.

[2016-12-09 16:48] icezimo commented on #307
@justincormack thanks, i will try it. =))

[2016-12-09 17:10] #307 closed

[2016-12-09 17:28] jhowardmsft commented on #301
Hmmm. I'm not sure. The emulation in pkg/term/windows isn't used on a "native" Windows 10 console. @egor-laufer - what was the console you were using? cmd.exe? PowerShell? Or a third party console?

It doesn't repro using PS:
[code]

[code]

[2016-12-09 17:31] jhowardmsft commented on #301
Ah, it is used on a "legacy" console if you click this button in console properties:

![image](https://cloud.githubusercontent.com/assets/10522484/21058316/2ec732f8-bdf2-11e6-87ab-96a5ec02432e.png)

I have a repro. Investigating.

[2016-12-09 18:01] jhowardmsft commented on #301
@mlaventure Your fix does cure the panic and allows the command to work. But I'm seeing a new issue which is the "y/N" input isn't echoed to the console (or a CRLF). Investigating why. (Note it's my last day in the office for the year today, so if I can't figure the second part, I'll submit a PR to the engine for the first part of the fix anyway).

[2016-12-09 18:30] friism commented on #306
@pcharvet Are you running Docker for Windows directly on hardware, or is inside another virtualization system (like VMWare)?

[2016-12-09 20:00] aysark commented on #279
@rneugeba Fixed it, by removing DOCKER_HOST in my env vars, it was set to tcp://0.0.0.0:2375/, not sure why/how.

[2016-12-09 20:10] dgageot commented on #305
@simonferquel ^^

[2016-12-09 20:12] rneugeba commented on #279
thanks. closing

[2016-12-09 20:12] #279 closed

[2016-12-09 20:14] markcandelora opened #308 "Running any docker command results in "Error response from daemon: An invalid argument was supplied.""
I'm fairly new to docker (better late than never, right?!).  I followed the getting started documentation and everything was going swimmingly until I tried starting a web server:
`docker run -d -p 80:80 --name webserver nginx`

I was unable to bind to port 80 (probably due to some stupid virus scan software or something) - during my attempts to troubleshoot the issue, I started getting the error "

[2016-12-09 20:15] simonferquel commented on #305
Hmm acknowledged, i'll hotfix on monday :(

[2016-12-09 20:22] markcandelora commented on #308
Ok, I just noticed the "Reset" option in the settings window... that fixed it.

[2016-12-09 20:22] #308 closed

[2016-12-09 21:03] jornh commented on #304
After the update to `beta32.1` from `beta31` AFAIK I got bitten by this too with `Error creating default network: HNS failed with error : The parameter is incorrect.`

https://github.com/docker/for-win/issues/90#issuecomment-254678067 helped me with a fix as it turned out `Get-ContainerNetwork` didn't return a NAT any more. If this was due to the the Docker update or something else is hard for me

[2016-12-09 21:11] rneugeba commented on #304
Excellent. Thanks for letting us know. Closing

[2016-12-09 21:11] #304 closed

[2016-12-09 21:34] StefanTBG commented on #282
Closing this out. After updating today, this issue has been resolved. Current version: 1.13.0-rc3-beta32.1 (9324). Thanks for the help @simonferquel and @dgageot.

[2016-12-09 21:34] #282 closed

[2016-12-09 21:57] jornh opened #309 "Reset to factory defaults in Windows containers mode result in `Error creating default network: HNS failed with error : The parameter is incorrect.`"
### Expected behavior

Reset to factory default should result in a functioning Windows mode

### Actual behavior

`PS C:\Users\jornh> Get-ContainerNetwork` does not return anything

_and_ same error as reported in #304:
[code]

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu: 3FA2B1C7-21C2-429F-A4E5-DFDE352275E1/2016-12-09_22-21-46
  - host distribution and version: Windo

[2016-12-09 22:19] Matthias247 commented on #72
@dgageot I could test it only very briefly since I'm working on something different at the moment. But apperently it works now. After an hour of standby I can still build the stuff without automake complaining about wrong time.
Thanks for fixing it!

[2016-12-09 22:20] dgageot commented on #72
@Matthias247 Good to hear!

[2016-12-09 22:33] jhowardmsft commented on #301
Fix submitted in https://github.com/docker/docker/pull/29287, and second-part fixed by https://github.com/docker/docker/pull/29288

[2016-12-09 22:54] jornh commented on #292
I experience something very similar on my Win 10 Enterprise both with `docker pull microsoft/windowsservercore` and `nanoserver` (and have been doing that for a couple of beta releases).

I have McAfee Endpoint Security - could this whole thing be related to #355 ??

[2016-12-10 00:00] tony-owens commented on #174
I confirmed that 1.30.0-rc3-beta32.1 resolved this issue for me.

[2016-12-10 01:24] yohanb opened #310 "Docker hv-sock proxy (vsudd) is not reachable"
**Description**

Using Docker for Windows (beta), when I switch to Linux containers using the system tray menu, it throws this error after ~30sec.:
![image](https://cloud.githubusercontent.com/assets/812993/20988966/fa5e7938-bca0-11e6-9828-a168dde47a06.png)

**Output of `log.txt`:**

[code]

[2016-12-10 07:35] S3curityPlu5 commented on #309
Reset to factory defaults does not work for me either, I am having a hell of a time getting Docker for windows running again on Windows 10 14393 and also Docker in Windows Server 2016 as well. Always getting: "An error occurred trying to connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/version: open //./pipe/docker_engine: The system cannot find the file specified". . In the windows 10 cas

[2016-12-10 08:38] rneugeba commented on #310
Thanks for your report. It looks like your linux kernel crashes. Could you upload diagnostics and provide the diagnostics ID? It contains additional information which would be useful for debugging this.
Thanks

[2016-12-10 08:43] rneugeba commented on #276
Closing this issue due to inactivity. Please re-open when you have an update. Thanks

[2016-12-10 08:43] #276 closed

[2016-12-10 09:46] peterbud commented on #262
I agree that it should work also _within_ the container. I believe we have more than just one issue, and I'm just trying to isolate.
For me it seems that there are at least two issues:
* `--tty ` is not working at all with MSYS2 programs stdout when you open an interactive session (`docker run -i`) to the container

* There is a difference how WS2016 hosts and Win10 hosts are behaving as they run

[2016-12-10 12:40] MatthewMiele commented on #298
Ah! Yes that works! Thanks Peter.
I didn't think to try that, I assumed that would be one case that
definitely wouldn't work! Ha

Also I had been using the relative paths because it allowed me to use the
same compose file if I'm on my windows does machine or Linux machine.
Using the absolute Windows path means I wouldn't be able to do that.

On 9 Dec 2016 10:02 am, "Peter Poulsen" <notifications@g

[2016-12-10 12:44] #298 closed

[2016-12-10 13:31] timotei commented on #262
Well, in WS2016 final release it *doesn't* work either. Last time it worked was in WS2016 TP5. But my TP5 VM is gone and I had trouble getting a new one in the exact state as the previous one was (via the old way of installing the Container Images - not through the Docker client + pull)

I am trying to see how I can further investigate the issue from MSYS2's PoV. Something has changed between the

[2016-12-10 14:38] rahilwazir commented on #310
After the recent update, I'm getting the exact same error:
[code]

And it does not generate diagnostics ID, keep saying:

[2016-12-10 15:14] rneugeba commented on #281
I'm closing this issue due to inactivity. @ahasnaini please re-open when you tried with the Beta channel and the issue persists.

[2016-12-10 15:14] #281 closed

[2016-12-10 15:15] yohanb commented on #310
@rneugeba I'm trying to upload the diagnostics but it hangs.  Don't know how long this should take:
![image](https://cloud.githubusercontent.com/assets/812993/21074218/9371d756-bec1-11e6-8e5e-c062e3b7b00f.png)

[2016-12-10 15:43] yohanb commented on #310
If it an be of any help, here's the DebugInfo file:
[DebugInfo-2016-12-10_10-10-39.txt](https://github.com/docker/for-win/files/643840/DebugInfo-2016-12-10_10-10-39.txt)

[2016-12-10 15:55] rneugeba commented on #310
@yohanb thanks. the DebugInfo is what I was after

[2016-12-10 17:10] dsmaher commented on #187
@dgageot - I have what appears to be the same issue.  I'm using Version 1.13-rc3-beta32.1, and docker is reporting the following error on startup:

[code]

The "crash report" that runs while that error is shown hangs forever, and the Docker for Windows Service chugs along consuming ~18-20% CPU.  When I kill that, the Docker for Windows UI consumes 18-20% CPU.

I've tried uninstalling + reinstallin

[2016-12-11 08:24] peterbud commented on #262
I guess you are right. I have compiled the above `helloworld.c `using MINGW64 environment and compiler (that is gcc 6.2) , and put the exe into the docker container, and it was working in the container properly, printed to stdout without problem.

On the other side I have tried to compile it under MSYS2, which was working, I could test it at command prompt, but in the docker container even the red

[2016-12-11 09:36] rahilwazir commented on #310
@rneugeba After restarted my system twice, docker started fine 😟 , no more error.

[2016-12-11 09:38] rneugeba commented on #178
@alvesman thanks for trying anf for the logs. The important portion is:
[code]

We have since released another Beta (Beta32.1) which has an updated docker daemon. Could you try that as well?

Also, If that also fails, Microsoft provides a handy script to debug Window container issues [here](https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/Debug-Con

[2016-12-11 09:47] rneugeba commented on #182
I had a look at the above logs, but they are also truncated. The latest Beta 32.1 has a fix in the log collection. Could you try it and provide a diagnostics Id?

[2016-12-11 09:55] timotei commented on #262
@peterbud I used the latest version of MSYS2 32bit from https://msys2.github.io/

MSYS2 version: 20161025

[code]

I copied just the .dlls required to run it fine, and the `s` one was required

[2016-12-11 09:57] rneugeba commented on #186
Closing due to inactivity. Please re-open if the issue still persists in the latest Beta. Also, then could you provide times for the what takes long, e.g. using the `Measure-Command` powershell CmdLet.

[2016-12-11 09:57] #186 closed

[2016-12-11 10:05] rneugeba commented on #207
Closing this due to inactivity and as a potential duplicate of #182. If the issue still persists with the latest Beta (which has a fix for the log collection) please post a diagnostics ID there.

[2016-12-11 10:05] #207 closed

[2016-12-11 10:06] geurtjens commented on #130
I have successfully run "Docker for Windows" on a Macbook pro with the latest version of MacOSX, parallels and Windows 10 Pro.

Specifically I am running OSX 10.12.1 (sierra) using "Parallels Desktop 12 Pro Edition" with docker for windows running on Windows 10 Pro version 10.0.14393.

The reason it works is because I use Parallels Desktop 12 Pro Edition.  Pro edition allows nested virtualisation.

[2016-12-11 10:09] rneugeba commented on #210
This looks like what is already tracked here: https://github.com/docker/docker/issues/27423
Please take a look there and provide any additional information if required.
Thanks
Closing

[2016-12-11 10:09] #210 closed

[2016-12-11 10:17] rneugeba commented on #227
Closing due to inactivity. Please re-open if the issue still persists and/or the information provided in the link above is insufficient

[2016-12-11 10:17] #227 closed

[2016-12-11 11:28] rneugeba commented on #247
Thanks for the new logs. Something funny is going on:
[code]
and then:
[code]
and on the second start:
[code]
and then further done:
[code]
and the VM continues to boot:
[code]

So, both times it took more than 60s to boot half way through the kernel so the application assumes something is wrong. The second time round we don't kill/restart the VM and can see that it takes about 120s to boot to the

[2016-12-11 12:18] peterbud commented on #262
I see - I'm using the 64-bit version of MSYS2, but the same version. And on that it's a different file.
what is the result of  `pacman -Ql gcc-libs`?

For me this is the result:

[code]

I have also checked with Dependency Walker what are the dependencies of the `helloworld.exe `which I have compiled under msys2 (which is not working in docker host), but it depends **only**  on MSYS-2.0.DLL and do

[2016-12-11 12:36] jornh commented on #309
@S3curityPlu5 regarding the pipe connection problem does the Microsoft script or even better the improved version in the PR mentioned in https://github.com/docker/for-win/issues/178#issuecomment-266272334 bring you forward (if you haven't already tried it)?

Ideally, I think "reset to factory" could make the same checks and fixes as the script - or the UI at least give hints to try that script (ma

[2016-12-11 12:48] timotei commented on #262
This is my result:
[code]

[2016-12-11 13:17] timotei commented on #262
So, I did some more tests.

I created a MSYS2-based program, but instead of using print/iostream, I used directly the Win32 API.

Here's the `helloworld-windows.c` source code:
[code]

[code]

[2016-12-11 13:26] timotei commented on #262
One more update. I printed the `GetLastError` to see if I can get a proper indication on why it fails to write to the stdout.

The program source code is now:

[code]

And the output from docker:
[code]

So, it seems... an invalid handle is handed out to the app... (which confirms the `bad file descriptor` from ls, in my initial report). Now, what next? :) Since we're working directly with the Win

[2016-12-11 13:38] S3curityPlu5 commented on #309
OK I am not using the beta, should I uninstall the stable version and switch to the beta??
It seems like part of what is happening is that my mobylinux Hyper-V VM is not controllable from docker, as it even fails to shut down when I use Hyper-V manager to shut it down. Running the Debug-ContainerHost.ps1 script yields an empty log file and a message in the console of  unable to configure the Docke

[2016-12-11 13:51] friism commented on #262
Checking with @jhowardmsft to see if he might know how to get to the bottom of this.

[2016-12-11 14:34] vvsh commented on #182
@rneugeba, sorry, I uninstalled Windows on that PC, so I cannot provide such information anymore. On another PC I do not have such issues having Windows 10 Enterprise version.

[2016-12-11 14:52] rneugeba commented on #182
Thanks for getting back. I'm closing this issue as we don't have a way to debug it anymore. Glad you have a system where it works.

[2016-12-11 14:52] #182 closed

[2016-12-11 14:54] rneugeba commented on #207
#182 was closed because the user has moved to a different system. @silencej please re-open this issue if you had a chance to try with the latest beta and the issue still persists

[2016-12-11 16:13] mikelor commented on #241
@rneugeba - I had the same issue with failing on the Open logs step.
[FeedbackSettings][Info ] Open logs

Downloading the latest beta fixed the problem for me. But it could also be due to the fact that I uninstalled the current stable version and reinstalled a newer version.

[2016-12-11 17:18] jornh commented on #309
Not beta, so I guess the only thing we have established is that factory reset does not work for your particular case with the stable release branch then. *Maybe* also that the disappearing DockerNat on factory reset is not an issue in stable, just a regression in beta?

@S3curityPlu5 the uncontrollable MobyLinuxVM, and not networking, sounds like your real issue then. For fun I just tried stopping

[2016-12-11 18:11] S3curityPlu5 commented on #309
Ok it will be moved

Sent via the Samsung Galaxy S®6 active, an AT&T 4G LTE smartphone
-------- Original message --------From: jornh <notifications@github.com> Date: 12/11/16  12:18 PM  (GMT-05:00) To: docker/for-win <for-win@noreply.github.com> Cc: jgnetworksecurity <james@jgnetworksecurity.com>, Mention <mention@noreply.github.com> Subject: Re: [docker/for-win] Reset to factory defaults in Windo

[2016-12-11 18:27] S3curityPlu5 opened #311 "Reset to Factory defaults in Docker stable version Windows 10 - Dockerd docker engine service still refusing to start..."
NOTE: I Thought I HAd SOLVED THIS PROBLEM , its just that the dockerd service still won't start... see last comment please for solution-
### Expected behavior
Reset to Factory defaults should bring windows 10 pro to working container host,

### Actual behavior
Docker Error popup displays:
Receives error: Unable to start: The VM couldn't get an IP address after 60 tries
at Fatal, <No file>: line 35

[2016-12-11 18:36] S3curityPlu5 commented on #311
digging through the logs and I see the following ip addresses are being used
192.168.65.2:55084 -> 192.168.65.10 2387
However, I have my Docker nat set to 10.0.75.1
This may be the reason that the VM is not getting an address, but where is the docker daemon getting 192.168.65 from?

[2016-12-11 18:40] S3curityPlu5 commented on #311
MobyLinuxVM was recreated successfully when reset to factory settings, but new  VM then Failed to shut down, after three attempts event log  =
No more attempts will be made to automatically restart the virtual machine 'MobyLinuxVM' (ID=7B86AAA0-BF9E-4E71-ADA8-EE4030354FD1) because it has stopped responding to repeated attempts to restart it.

[2016-12-11 18:44] S3curityPlu5 commented on #311
OK, - Important -  Still using the stable version and changed the DOCKER NAT Network Adapter to 192.168.65.2 and the default gateway to 192.168. 65.1 and now it is working from command line as expected.  I did not change the addresses in the docker for windows application however.

[2016-12-11 21:59] NoodlesNZ commented on #291
I've updated to the latest beta and it's still happening. I have uploaded another diagnostic to 5F1E67E8-BEF0-4964-9D9E-2D87AD5C2928/2016-12-12_10-57-43

[2016-12-11 23:31] saaadel opened #312 "Can't start "docker for windows""
### Expected behavior
started docker
### Actual behavior
hold on starting stage
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
A9638626-3DED-4D8F-97E2-5D96D87CE01B/2016-12-12_02-22-05
  - a reproducible case if this is a bug, Dockerfiles FTW
just installed docker from site, and ran item 1 from https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start

[2016-12-11 23:33] saaadel commented on #312
Possible duplicate of Docker Hangs with "Docker is Starting" #291

[2016-12-12 08:20] timotei commented on #262
@peterbud So, it seems that we *can* use interactive input, but not `-t/--ty`:

[code]

[2016-12-12 08:54] peterbud commented on #262
That's what I have tried to describe in my [previous comment](https://github.com/docker/for-win/issues/262#issuecomment-266193544)

[2016-12-12 09:07] totomakers opened #313 "Can't share drive on domain account"
### Expected behavior

Share C:/ drive from Docker

### Actual behavior

Nothing happend.

### Information
[code]

[code]

### Steps to reproduce the behavior

1. Login in DOMAIN/ACCOUNT
2. Run docker and try share drive
3. Nothing happen and drive is not share

### What i try

1. Create share on windows and type //10.0.75.1/ on explorer : Share is create
2. Try to ping 10.0.75.1 and my machine fr

[2016-12-12 09:08] rneugeba commented on #312
@saaadel thanks for the report. We have an issue in the stable Branch where not all logs are collected. Could you try the latest Beta and see if that fixes the issue? If not we should at least get more logs from it.
thanks

[2016-12-12 10:15] pcharvet commented on #306
I run Docker directly on hardware.

[2016-12-12 10:38] simonferquel commented on #313
Hi,
Could you send a diagnostic just after trying to share the C drive ?

Is there a 3rd party firewall on your machine ?

[2016-12-12 10:52] simonferquel commented on #309
The 2 issues where different.
I am working on the Windows Containers one.
@jornh Can you give me the results of the following powershell commands (in an elevated powershell command prompt):
`Get-ContainerNetwork` and `Get-NetNat`

[2016-12-12 10:54] totomakers commented on #313
Diagnostic ID : 6B0AB737-1E6B-4FCD-9CE0-ABFE66987E4B/2016-12-12_11-53-06

It's fresh install of windows, firewall disabled and windows defender too :)

[2016-12-12 11:03] simonferquel commented on #313
Is this an on premise Domain or an Azure AD domain ?

[2016-12-12 11:04] totomakers commented on #313
Not an Azure AD domain :)

[2016-12-12 11:05] simonferquel commented on #313
Ok, so is the AD controllable reachable from your computer while testing ?

[2016-12-12 11:08] totomakers commented on #313
I didn't know how my compagny manage the domain. But i can ask them. What should i do ?

[2016-12-12 11:11] simonferquel commented on #313
If your on your corporate network, it should be good.
From the diags, I see that smb2/smb3 are disabled (maybe due to a corporate policy). Could you ask your administrator if there is a policy blocking file sharing in your network ? (we rely on Samba file sharing in Docker for Windows)

[2016-12-12 11:20] totomakers commented on #313
Ah ! it's solve my issue.

`regedit` -> `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\LanmanServer\Parameters`
Set `SMB2` Key to `1` (enabled)

Thanks for help 👍

[2016-12-12 11:20] #313 closed

[2016-12-12 11:20] simonferquel commented on #294
In beta 32, the reset to default feature while using Windows Containers should remove every netnat / container networks and make dockerd recreate them with safe defaults. Could you try to reset to defaults and check if network connectivity is back ?

[2016-12-12 11:31] msnelling commented on #294
@JMesser81 I downloaded and ran the script from your PR but it didn't help I'm afraid.
@simonferquel Thanks but doing this seems to have broken the system even more.
[code]
[code]

[2016-12-12 11:50] S3curityPlu5 commented on #311
Since this is still open I should comment that although I am able to run docker containers, the docker daemon, or engine (dockerd service) is still refusing to start, when attempting to start from command line receive the following error:  level=fatal msg="unable to configure the Docker daemon with file
C:\\ProgramData\\docker\\config\\daemon.json: json: cannot unmarshal string into Go value of ty

[2016-12-12 12:28] whitecolor commented on #222
@dgageot I see the tag acknowledge so, I don't need to provide more info?

[2016-12-12 12:30] whitecolor commented on #221
@dgageot can you please comment on this I believe it is quite important and basic networking issue.

[2016-12-12 12:36] cfstras commented on #72
@dgageot I immediately got problems because I had deactivated Hyper-V to do a clean install -- and saw you pushed a hotfix because the installer did not remind me I still had it disabled :)

Since then, docker has been working like a charm for me! Thanks for all your efforts!

[2016-12-12 13:12] marjorienorm commented on #312
I'm having a star-up issue as well.  On start up I get an error with the following associated log

Version: 1.13.0-rc3-beta32.1 (9324)
Channel: Beta
Sha1: 31bcc0f6246738430a332a16bb698aa5ea48d80c
Started on: 2016/12/12 07:07:55.434
Resources: C:\Program Files\Docker\Docker\Resources
OS: Windows 10 Enterprise
Edition: Enterprise
Id: 1511
Build: 10586
BuildLabName: 10586.672.amd64fre.th2_release_sec

[2016-12-12 13:52] rneugeba commented on #312
@simonferquel can you take a look at:
[code]
This doesn't look too good to me

[2016-12-12 14:04] simonferquel commented on #312
Hi @marjorienorm, could you go to the diagnostics tab, upload a diagnostic and give as the is ?

Thanks

[2016-12-12 15:52] msnelling commented on #294
@JMesser81 @simonferquel I uninstalled/reinstalled docker/rebooted to at least get back to it simply failing to ping. I didn't see the `-ForceCleanup` option for the `CleanupContainerHostNetworking.ps1` script previously, when I run it with that option I get...
[code]

I notice the `Cannot find any service with service name 'docker'` message, Docker for Windows uses the service name `com.docker.se

[2016-12-12 15:57] simonferquel commented on #294
The Get-service message is not a problem, but the Remove-NetNat one is problematic. Did you run a Get-ContainerNetwork | Remove-ContainerNetwork before that one ?

[2016-12-12 15:59] msnelling commented on #294
I have run that command before while trying everything to make this work.

[2016-12-12 16:01] simonferquel commented on #294
@friism Could you have someone from Windows Containers Networking look at this issue ? Thanks !

[2016-12-12 16:39] friism commented on #294
@simonferquel Jason is already on the thread, let's see if he has ideas.

[2016-12-12 16:41] forgottenswitch commented on #262
Isn't it just a seh-`msys.dll`-being-incompatible-with-non-seh issue?

[2016-12-12 17:11] tommiehansen commented on #150
@fmasa Yeah. All these small niggles is sort of a problem though. I wished the default did not require a lot of tinkering just to support certain edge cases.

[2016-12-12 18:09] dgageot commented on #72
@cfstras Good to hear, I'm going to close the issue then!

[2016-12-12 18:09] #72 closed

[2016-12-12 18:11] dgageot commented on #174
I'm going to close this issue. Feel free to reopen if you still face the issue

[2016-12-12 18:21] dgageot commented on #203
@braveness23 I'm going to assume the issue is fixed and close this issue. Feel free to reopen if it's not the case.

[2016-12-12 18:21] #203 closed

[2016-12-12 19:31] jornh commented on #309
Sure @simonferquel, and thanks for so quickly looking into this.

Here is my current state (due to I manually did `New-ContainerNetwork -Name nat -Mode NAT –subnetprefix 10.0.76.0/24` as mentioned in https://github.com/docker/for-win/issues/304#issuecomment-266122685):

[code]
After performing a Docker factory reset I get:
[code]

Not sure if it matters at all - probably not - but seeing 10.x.x.x

[2016-12-12 20:07] eliassal opened #314 "How make docker host respond on port 2375"
### Can access Docker host remotely

### Actual behavior
I am trying to access my docker from a 2nd machine using tcp://mydockerhost:2375 but not able to reach it. After doing a netstat, I noticed that the IP 127.0.0. listening is listening on the is port
as follows

I am trying to access my docker from a 2nd machine using tcp://mydockerhost:2375 but not able to reach it. After doing a netstat, I

[2016-12-12 20:10] eliassal commented on #314
Sorry; there is a mistake while I was typing
Changed to
"hosts": ["tcp://0.0.0.0:2375"]
it crashed also

[2016-12-12 20:13] jornh commented on #309
Followup:

After the factory reset above (done in Linux Containers mode) I did `docker run --rm alpine ls` to confirm Linux containers was working. Switching to Windows Containers resulting in the same error dialog as originally reported (as expected due to the missing ContainerNetwork) - and this new diagnostic id: `3FA2B1C7-21C2-429F-A4E5-DFDE352275E1/2016-12-12_21-03-21`

[2016-12-12 20:35] peterbud commented on #262
@timotei Just to have the complete picture, I have run the same test with the 64-bit version of MSYS2.

The `helloworld-windows.exe ` gives the same invalid handle.

Then I just run a few tes copying the **whole** `msys64/usr/bin` folder into the container, and run some test with 64-bit version of MSYS2 executables, and none of them was able to put anything on the console, except foy `cygcheck.exe

[2016-12-12 20:41] jornh commented on #311
In your last comment I just noticed this:

C:\ProgramData\docker\config\daemon.json: json: cannot unmarshal string into Go value of type bool"

Sounds like a problem with the contents of this file. So, what's to content of your `daemon.json`?

For reference after I completely nuked my `C:\ProgramData\docker\` tree before installing beta 32.1 mine is now just an empty JSON object, so: `{}`. Maybe y

[2016-12-12 21:09] saaadel commented on #312
Still have this bug on beta, but after windows was started:
- I have stopped docker service,
- exited from docker in tray,
- started service again,
- and booted docker in tray
and it's working now

[2016-12-12 22:29] rneugeba commented on #314
are you trying to reach windows containers or Linux containers?

[2016-12-12 22:41] eliassal commented on #314
Linux containers

[2016-12-12 22:42] friism commented on #225
@af6140 Docker for Windows is currently optimized for local development of Dockerized apps. For that reason, there's no way to expose the Docker Engine on a public interface (which would let anyone on the local network schedule containers on your machine).

If you want to set up Docker host that's available to more people, I can recommend taking a look at [Docker Machine](https://docs.docker.com/m

[2016-12-12 22:43] friism commented on #314
@eliassal I think this might be a duplicate of this question: https://github.com/docker/for-win/issues/225#issuecomment-266576967

[2016-12-12 23:23] eliassal commented on #314
Michael, in your our response to question 225, you recommend to play with the docker-machine. 1st, I have Docker for windows on the win10, wouldn't this create some issues.
I understand that Docker for windows cann't be configured and reached from outside, is this something that will be fixed in later versions or it is just by design and it will be always like this

[2016-12-12 23:37] friism commented on #314
@eliassal you can use Docker Machine with Docker for Windows to create more local hosts by using the hyper-v Docker Machine driver. Details here:

 * https://github.com/docker/labs/tree/master/swarm-mode/beginner-tutorial
 * https://github.com/docker/labs/blob/master/swarm-mode/beginner-tutorial/swarm-node-hyperv-setup.ps1

Or you can simple use any cloud host supported by docker-machine (which is

[2016-12-12 23:45] eliassal commented on #314
Thanks Michael, I have a couple of linux machines and hosting docker but I am doing a POC for a customer who is full MS stack. I managed to convince technical director to start Dockerisation of their Dev machines as a start point. Later, Also, they need to integrate a release workflow between Jenkins and Docker for windows. It will be difficult to convince them to switch activities to any linux en

[2016-12-12 23:47] justincormack commented on #314
You can run a small proxy container that accepts connections on 2375 and connects to the docker daemon socket (bind mounted in), and then publish the port on that so it is available on the host.

[2016-12-13 01:00] jasonwzs opened #315 "Docker fails to start with an error after message 'Connect Internal Switch DockerNAT'"
### Expected behavior
Docker start successfully

### Actual behavior
Docker fails to start

### Information
This is the snippet of log file containing the error message:
[16:31:02.204][PowerShell     ][Info   ] Run script with parameters: -Create True -SwitchSubnetAddress 10.0.75.0 -SwitchSubnetMaskSize 24 -CPUs 2 -Memory 2048 -IsoFile C:\Program Files\Docker\Docker\Resources\mobylinux.iso...
[16:

[2016-12-13 01:52] reypm opened #316 "1.13.0-rc3-beta32.1 (9324) does not start"
### Expected behavior
Docker start properly and container can start up

### Actual behavior
 - Docker doesn't start (the icon on the taskbar still animated and I can't access the GUI)
 - As soon as I run the command `docker-compose up -d` from Windows Power Shell it ends with the following output:
[code]
### Information
Below is the content log file for Docker:
[code]
### Steps to reproduce the be

[2016-12-13 01:55] friism commented on #315
@jasonwzs can you try a factory reset?

[2016-12-13 08:58] eliassal commented on #314
justin, wait wait , hold a moment, i am not expert yet in docker, is theres any doc or tutorial for the steps to follow, I am in the learning stage :-)

[2016-12-13 11:24] visual4 opened #317 "All Containers lost during Update to 1.13.0-rc3-beta32"
### Expected behavior
After the Update, I expected to be able to start my existing containers like usual and like after the other updates before.
### Actual behavior
All of my containers, images and the login information to docker hub were lost. During update I was asked if I wanted to migrate data from docker toolbox, (which was still installed on my system, despite, I have been using docker for

[2016-12-13 12:37] rneugeba commented on #316
Thanks, the compose error message is expected since the Linux VM is not running.

It's interesting that the stable version  is working. Could you upload a diagnostics, it contains additional information which will allow us to debug this further.

[2016-12-13 13:52] S3curityPlu5 commented on #311
Thanks, I may have to nuke it but for now ... Here is the file
{
    "authorization-plugins": [],
    "bridge": "",
    "cluster-advertise": "",
    "cluster-store": "",
    "debug": true,
    "default-ulimits": {},
    "disable-legacy-registry": false,
    "dns": [],
    "dns-opts": [],
    "dns-search": [],
    "exec-opts": [],
    "fixed-cidr": "",
    "graph": "",
    "group": "",
    "hosts":

[2016-12-13 13:52] #311 closed

[2016-12-13 14:39] reypm commented on #316
How I do that?

[2016-12-13 14:44] rneugeba commented on #316
In the systray there is a little whale icon. right-click on it and select Diagnose & Feedback. Then "Upload diagnostics". This may take a while, but afterwards there should be a diagnostics ID displayed which will us to retrieve the diagnostics

[2016-12-13 16:13] yohanb commented on #310
@rneugeba any news on what might be the issue? Thanks

[2016-12-13 17:00] rneugeba commented on #274
@yohanb also reported this in #310 but was unable to upload diagnostics. His DebugInfo and Logs are attached.
[DebugInfo-2016-12-10_10-10-39.txt](https://github.com/docker/for-win/files/649528/DebugInfo-2016-12-10_10-10-39.txt)
[log.txt](https://github.com/docker/for-win/files/649531/log.txt)

[2016-12-13 17:02] rneugeba commented on #310
I hadn't had a chance to look at this closer, but it's indeed a very odd error. A different user has seen this as well (reported under #274) so I'm closing this as a duplicate. I've already copied your info over to the older issue and tagged you in a comment, so you should get updates from there.

[2016-12-13 17:02] #310 closed

[2016-12-13 17:53] rneugeba commented on #274
@andythorne reported it used to work on Beta30.1 but broke with Beta31. We updated the Linux kernel from 4.4.30 to 4.8.x between these betas and there some significant changes to `./arch/x86/include/asm/fpu/internal.h` where the warning is reported.

@yohanb could you try downgrading to Beta30.1 from here: https://download.docker.com/win/beta/1.12.3.8711/InstallDocker.msi
You may have to uninstall

[2016-12-13 18:13] jornh commented on #292
Hooray, it seems I found a (somewhat cumbersome) partial workaround:

1. Spin up a Server 2016 in Hyper-V and install Docker on it. It works fine and has no problems doing `docker pull`.

2. Inside that machine then do `docker save -o NANOsave.tar.gz microsoft/nanoserver`

3. Copy the image to your Win 10 machine and in Windows container mode do a `docker load -i NANOsave.tar.gz`

4. 😆 x 3 in a qu

[2016-12-13 18:13] JMesser81 commented on #294
@msnelling  - Did you run this script from an elevated prompt? I'm not sure of any other reason why deleting NAT network would fail unless it was actively being used by a VM. The script should stop docker and HNS services as well as clean-up any running containers so I there should not be any containers attached to that NAT.

Also, please make sure to immediately reboot (without typing in any othe

[2016-12-13 19:17] rneugeba commented on #274
The other thing which may be relevant are Windows updates. Both @andythorne and @yohanb are on `14393.0` while the latest version with all updates installed is `14393.479` (you can check this in Powershell with, for example `$PSVersionTable.BuildVersion`.

The linux kernel crash is likely a very subtle issue with advertised CPU features and both of you have relatively modern Skylake CPUs. It is po

[2016-12-13 19:20] ramiwi commented on #285
Beta32.1 works fine.

[2016-12-13 19:20] #285 closed

[2016-12-13 20:30] eliassal opened #318 "How make docker host respond on port 2375 on Centos 7"
I have docker on Centos 7, just upgraed it to 1.10.3 using yum. I have a Docker file in etc/sysconfig.
I am trying to make docker listen on 0.0.0.0:2375 or machineIP:2375 and not 127.0.0.1
I added the following line
 DOCKER_OPTS="-H tcp://127.0.0.1:2375 -H unix:///var/run/docker.sock"
restarted docker, nothing happens, I don't see anything listening on port 2375. I stopped docker and rerun it with

[2016-12-13 21:04] bbodenmiller commented on #260
Worth noting, my same PowerShell issue has returned.

[2016-12-13 23:08] shanselman opened #319 "Unable to mount drive, warned of firewall issues when there aren't any"
### Expected behavior

Still unable to mount a drive. Firewall warning appears even though firewall rule is set.

![image](https://cloud.githubusercontent.com/assets/2892/21163089/d529e374-c145-11e6-9baa-cf86bc0c71cd.png)

### Actual behavior

On Windows 10 14986 with Docker Beta. I get the firewall warning with a default hello world isntall.

### Information

 A diagnostic was uploaded with id: 4

[2016-12-14 00:55] reypm commented on #316
@rneugeba sorry for the delay here you go:

[2016-12-14 02:52] yohanb commented on #274
@rneugeba I forgot to mention but the Docker for Windows stable build works fine with Hyper-V on my workstation.

[2016-12-14 04:52] rsaliy commented on #17
It isn't working for me too
Crash report BF641EE2-6BEE-405C-B6DD-E5489E163E2C/2016-12-14_06-46-25

[2016-12-14 08:26] rneugeba commented on #17
@rsaliy the fix is only on the Beta channel, not on the stable channel. Could you try the latest Beta?

[2016-12-14 08:28] rneugeba commented on #274
@yohanb which Windows version are you running on your Workstation (output of `$PSVersionTable.BuildVersion`)?

[2016-12-14 08:50] simonferquel commented on #319
Hi Scott, we don't support insider builds for now but I'll still have a look to your diagnostics file to see if I see something obvious. Keep you posted!

[2016-12-14 09:16] simonferquel commented on #319
The only thing I see is that I don't see any event in the Samba Server eventlog related to the DockerNat virtual network interface (as if the listener was not aware of this interface). It might be because of log truncation (we only get the last messages in the eventlog within diagnostics data).

Can you try from your local machine to access \\10.0.75.1\c (just make sure D4W did not remove the file

[2016-12-14 10:45] rneugeba commented on #318
I'm closing this issue as it is not related to Docker for Windows.

You need to start the docker *daemon* to listen on port 2375, so something like:
[code]
(note the `d` and no quotes compared to your command line)

then you need to tell the docker client how to connect to the server. A common way to do so is using the `DOCKER_HOST` environment variable. Like
[code]
Note, you need to change `192.1

[2016-12-14 10:45] #318 closed

[2016-12-14 10:56] rneugeba commented on #316
I'm not entirely sure if there is something wrong with your system. The Linux VM booted and there is a container running.

Also the log is from the stable release and not from the beta as the title of the issue suggests

[2016-12-14 11:32] marcospc6 commented on #271
Im having the same problem with the same build of Windows (1607) just after I've installed the anniversary update and the Linux Subsystem (for using bash), I guess this is somehow related but I cant solve it

[2016-12-14 11:37] ahoka opened #320 "An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full"
### Expected behavior
Normal operation or meaningful error message.
### Actual behavior
Lost network access to some of the containers (but not all), docker ps fails with error message:
Error response from daemon: An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full.
### Information

Diagnostic ID:
9DE458B7-12ED-4FC1-9313-0E2A

[2016-12-14 11:44] rneugeba commented on #271
@marcospc6 when you say the same problem, what do you mean? Do you see the same error message? This can have many different reasons. If you provide a diagnostics ID I can take a look

[2016-12-14 11:48] ahoka commented on #320
Restarting docker seems to be a good workaround.

[2016-12-14 12:12] marcospc6 commented on #271
@rneugeba  I have been waiting for a while but my internet is not helping with uploading the log, I believe my companys proxy is interfering with it so I will paste the log here:

Version: 1.13.0-rc3-beta32.1 (9324)
Channel: Beta
Sha1: 31bcc0f6246738430a332a16bb698aa5ea48d80c
Started on: 2016/12/14 10:00:02.080
Resources: C:\Program Files\Docker\Docker\Resources
OS: Windows 10 Pro
Edition: Profess

[2016-12-14 12:19] rneugeba commented on #274
@marcospc6 reported the same issue on #271. Logs attached.

Note this is also on 14393.0. @marcospc6 would it be possible for you to installed windows updates? It looks like you have none installed.

[log.txt](https://github.com/docker/for-win/files/651684/log.txt)

[2016-12-14 12:20] rneugeba commented on #271
@marcospc6 you have the same issue which is tracked on @274.  I added a comment there and pinged you on it

[2016-12-14 12:29] eliassal commented on #318
Ok thanks, in the future I will post to correct forum. However, I stopped the docker server with
systemctl docker stop
which went fine but when I try
sudo dockerd -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock
I get back
sudo: dockerd: command not found

Thanks again for your help

[2016-12-14 12:34] eliassal commented on #318
Also, can you please share the url for the forum for docker for centos
Thanks

[2016-12-14 12:44] rneugeba commented on #318
I don't know about centos and where dockerd is installed and how it is started. You could try the general discussion or the DockerEngine forums on https://forums.docker.com/ or stackoverflow. there may also be centos specific fora

[2016-12-14 13:41] yohanb commented on #274
@rneugeba indeed, according to `$PSVersionTable.BuildVersion` I'm on 14393.0.  Windows updates are controlled by my employer so I'll see what I can do :)

[2016-12-14 22:56] reypm commented on #316
@rneugeba here you go:

![untitled](https://cloud.githubusercontent.com/assets/627886/21204557/02a857dc-c226-11e6-977f-94e0f36d6178.png)

Upload a diagnostic is not working either ....
![untitled](https://cloud.githubusercontent.com/assets/627886/21204718/afb3f72e-c226-11e6-86be-e475940ce67a.png)

Here is the log file content:
[code]

Don't know if that helps.

[2016-12-14 23:18] rneugeba commented on #316
Thanks. does the Upload Diagnostics not finish and print an ID?

[2016-12-14 23:25] astondg commented on #286
Just to add to the feedback I'm seeing a long Docker startup as well with a lot of time spent in a similar location in the logs on Windows 10 build 14393.576 and Docker 1.12.3 (8488)

7369A615-9854-4C40-844A-9262478A0217/2016-12-15_09-24-03

`[07:52:53.983][Firewall       ][Info   ] Opening ports for C:\Program Files\Docker\Docker\Resources\com.docker.proxy.
exe...
[07:52:54.108][Updater        ][

[2016-12-14 23:33] reypm commented on #316
@rneugeba nope, it doesn't finish

[2016-12-14 23:43] rneugeba commented on #316
Hmm.

Somewhere in `C:\Users\ReynierPM\AppData\Local\Temp`, possibly in `q1hkmx0c.w3b` or in `54i4ug3k.dxi` should be a bunch of files. Could you upload them there or email them to me at rolf.neugebauer@docker.com?

[2016-12-14 23:46] rneugeba commented on #316
@dgageot @simonferquel any idea why the debug logs are not uploaded? There doesn't seem to be an obvious error

[2016-12-15 00:04] reypm commented on #316
@rneugeba sure, that's all I have found

[directories.zip](https://github.com/docker/for-win/files/653461/directories.zip)

[2016-12-15 03:18] yohanb commented on #274
@rneugeba your instincts were on par;  Beta30.1 works on my machine without any new Windows updates.

[2016-12-15 09:10] msnelling commented on #294
@JMesser81 I definitely ran the script in an elevated prompt, a number of times. However this morning I tried again by installing windows updates/uninstalling Docker/rebooting/installing Docker/switching between Linux & Windows containers and then running the script again and it seems to have cleared everything up.
I wonder if this had anything to do with it... https://support.microsoft.com/en-us/

[2016-12-15 10:24] apetres opened #321 "Memory is limited by default to 1GB"
### Expected behavior
When running ``windowsservercore`` without memory limit, the container should have as much memory as the host.
### Actual behavior
The container has its memory **limited to 1GB**.
### Information
[code]
[code]

I actually discovered this issue when an application tried to allocate memory and failed.
As a workaround I specified a memory limit > 1GB in ``docker run``.

### Step

[2016-12-15 11:05] rneugeba commented on #294
@msnelling do i read this right and it's now working for you?

[2016-12-15 11:07] msnelling commented on #294
@rneugeba Yes that's correct, although I feel a bit uneasy since I don't think I did anything new or special to make it work.

[2016-12-15 11:17] rneugeba commented on #294
Great to hear that it now works, and yes it's somewhat unsatisfying not to know what fixed it.

[2016-12-15 11:17] #294 closed

[2016-12-15 11:22] rneugeba commented on #321
@apetres thanks for the report. Could you open an issue on https://github.com/docker/docker as this is not an issue specific to the Docker for Windows application, but more related to the core docker engine. Thanks

[2016-12-15 11:22] #321 closed

[2016-12-15 11:25] rneugeba commented on #163
We just release Beta33 which has a new settings option in the advanced tab to change the location of the VHDX file. Closing this issue

[2016-12-15 11:25] #163 closed

[2016-12-15 11:26] rneugeba commented on #244
Beta 33 was just released and it contains the fix mentioned above. Please give it a try.
Closing this issue (again).

[2016-12-15 13:31] apetres commented on #321
@rneugeba I tried to reproduce it on Linux (Debian host, two Debian containers). I checked ``MemTotal`` in the result of ``cat /proc/meminfo``, it was the same for the host and the two containers, meaning that the containers have access to the entire memory.
It seems that this is a Windows-related issue.

[2016-12-15 13:38] rneugeba commented on #321
Yes it's a Windows *container* related issue. Windows containers are setup by the Docker engine as well and the relevant devs hang out on the `docker/docker` github project. This tracker is mostly for the Docker for Windows application which ships with the Docker engine.

[2016-12-15 14:46] skellytt opened #322 "Docker for Windos 10 not starting"
### Expected behavior
Docker starts normally

### Actual behavior
Docker starts with errors
### Information

  - Diagnostic ID: D178-4074-8035-52587FAF9167/2016-12-15_05-52-44
  - OS Name:                   Microsoft Windows 10 Pro Insider Preview
    OS Version:                10.0.14986 N/A Build 14986

### Steps to reproduce the behavior

  1. Open Docker

[2016-12-15 15:14] alvesman commented on #178
Version 1.13.0-rc3-beta33 (9442)
Running OK on Hyper-V. When switching to Windows Containers:

Docker daemon failed with message:
time="2016-12-15T15:11:29.118169900Z" level=info msg="Windows default isolation mode: hyperv"
time="2016-12-15T15:11:29.140168400Z" level=info msg="Graph migration to content-addressability took 0.00 seconds"
time="2016-12-15T15:11:29.140168400Z" level=info msg="Loading

[2016-12-15 16:21] whitecolor commented on #221
@Hronom
Can you confirm that the latest beta version doesn't work too? (without routes added to routing table)
I just remember now that when I installed the latest I might not check it with clean routing table. (Just don't want to install and then rollback again.)

[2016-12-15 17:49] billhab opened #323 "Another app is currently holding the xtables lock"
### Expected behavior
It should work.

### Actual behavior
Creation of a network bridge fails with
com.github.dockerjava.api.exception.InternalServerErrorException: {"message":"unable to add inter-network communication rule: Another app is currently holding the xtables lock; waiting (1s) for it to exit...\n (\u003cnil\u003e)"}

### Information

A diagnostic was uploaded with id: A793F06A-2BB2-4848

[2016-12-15 18:23] dgageot commented on #305
@jtnord This should be fixed in Beta33 released today. PTAL

[2016-12-15 18:37] eliassal commented on #318
meugeba, I have successfully started docker on a win 2k16 using a daemon.json file with only
{
    "graph": "E:\\DockerMachines",
	"hosts": ["tcp://192.168.1.34:2375", "npipe://"]

}
I checked it is listening on port 2375. However, whatever run or pull command I run, I get

docker pull nanori/jenkins-windows-slave
Using default tag: latest
Error response from daemon: Get https://registry-1.docker.

[2016-12-15 18:39] eliassal commented on #318
As a side note, I have also setup docker containers on my laptop (win 10 container not docker for windows) with the same exact daemon.json file and everything is working like a charm

[2016-12-15 19:12] jornh commented on #178
@alvesman to get around this error in your Debug-ContainerHost.ps1.txt dump (which I also have experienced):
[code]
You can try `New-ContainerNetwork -Name nat -Mode NAT –subnetprefix 10.0.76.0/24` in an elevated PowerShell. If that doesn't do it try the repair script as suggested in https://github.com/docker/for-win/issues/178#issuecomment-266272334 above.

[2016-12-15 19:30] bbodenmiller opened #324 "Hyper-V was unable to find a virtual switch with name "DockerNAT"."
### Expected behavior

For Docker to actually start

### Actual behavior

Error

[code]

### Information

Crash ID C48B068A-5C27-4F79-AF10-F7EB3615E5EF/2016-12-15_11-10-48

### Steps to reproduce the behavior

  1. Install Docker
  1. Docker fails

Worth noting I previously had the issues at https://github.com/docker/for-win/issues/260 which I fixed and it worked for a few days then this issue sta

[2016-12-15 19:33] bbodenmiller commented on #324
Indeed it looks like the switch is not being created properly by Docker?

[code]

[2016-12-15 19:38] bbodenmiller commented on #324
[code]

[2016-12-15 20:16] bbodenmiller commented on #324
In `MobyLinux.ps1` I changed `New-VMSwitch $SwitchName -SwitchType Internal -ea SilentlyContinue | Out-Null` to `New-VMSwitch $SwitchName -SwitchType Internal` and now failing with:

[code]

[2016-12-15 22:04] DeepHorizons commented on #274
I'm running into a similar problem with Beta33. I got this error when attempting to start the service. On the fourth try, the service successfully started. I'm running Windows 10 with 14393.479

[2016-12-15 22:25] coben07 opened #325 "registry-mirrors daemon config not being honored"
### Expected behavior
I expect docker to use the registry specified in the registry-mirrors daemon config when retrieving images with a pull command or build of a Dockerfile.  We're using a nexus registry as a pass-thru cache of dockerhub.

### Actual behavior
Docker ignores the registry mirror config and goes straight to dockerhub registry.  I did confirm that when directly addressing the local r

[2016-12-15 23:09] rneugeba commented on #274
@DeepHorizons could you provide a diagnostics ID? You may get the same error message for a number of different reasons and looking at the diagnostics will allow us to triage the issue better

[2016-12-16 00:26] ve7bwn opened #326 "Sharing C drive fails with "Firewall detected" dialog box when port 445 wide open"
### Expected behavior
No error message.
### Actual behavior
Error message: A firewall is blocking file Sharing between Windows and the containers. See documentation for more info.
### Information
My sys op guy has gone over the firewall setting with me and confirms that port 445 is open and in use.

Diagnostic ID = 1ABE22CB-AAB0-42B7-B641-8EDBCF313ED6/2016-12-15_16-19-12

### Steps to reproduce th

[2016-12-16 02:01] friism commented on #319
Might be related: https://github.com/docker/for-win/issues/326

[2016-12-16 02:31] DeepHorizons commented on #274
@rneugeba Sorry about that, here is the info
### Information
Diagnostic ID: EA171801-B737-4B02-8B8C-677BFCD04CAF/2016-12-15_21-21-41
OS: Windows 10 build 14393.479
Docker: 1.13.0-rc3-beta33 (9442)

[2016-12-16 09:25] kristinnv12 commented on #274
I am having the same issue. Not been able to start the service.

<pre>
Docker hv-sock proxy (vsudd) is not reachable
   at Docker.Backend.ContainerEngine.Linux.ConnectToVsud(TaskCompletionSource`1 vmId)
   at Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)
   at Docker.Backend.ContainerEngine.Linux.Start(Settings settings)
   at Docker.Core.Pipe.NamedPipeServer.<>c__DisplayClass8_0

[2016-12-16 11:16] daniel-onisoru commented on #147
The workaround with hosts didn't worked for me.
I noticed that I have a network adapter called Broken Docker Adapter (20161215T1111536705Z) (1) .. that for some reason exists.

Disabling that did the trick.

[2016-12-16 12:02] alvesman commented on #178
PS C:\Temp> New-ContainerNetwork -Name nat -Mode NAT –subnetprefix 10.0.75.0/24
New-ContainerNetwork : Object already exists
At line:1 char:1
+ New-ContainerNetwork -Name nat -Mode NAT –subnetprefix 10.0.75.0/24
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [New-ContainerNetwork], VirtualizationException
    + FullyQualifi

[2016-12-16 17:25] Jason0307 opened #327 "Unable to share 'D' drive"
Expected behavior

Would be able to Share D Drive using Settings > Share Drive

Actual behavior

UI asks for Credentials, enter the credentials but not share the driver.

Information

Diagnostic ID = 7DEAE932-325F-4B0F-9C2A-6D3A2DA3075A/2016-12-17_01-22-08
Windows 10, Docker Version 1.12.3(8488)

[2016-12-16 20:16] rneugeba commented on #274
@kristinnv12 your issue is different. The kernel boots fine, but overall your Linux VM boots very slowly. Are you, by any chance running Windows 10 inside a VM. If not, please open a separate issue.

@DeepHorizons I have no idea why, but your diagnostics does not include the Log file. Could you attach it? You can retrieve it by going to the Diagnostics and click on the Log link. Ideall do that aft

[2016-12-16 20:26] rneugeba commented on #323
@billhab thanks for your report. This looks like an issue with the core docker engine running inside the Linux VM in Docker for Windows. Could you file an issue under https://github.com/docker/docker with the information they require (like `docker info`, `docker version` output etc) and also include details about the Java API client and other useful information. It will also help the engine team i

[2016-12-16 20:26] #323 closed

[2016-12-16 20:28] rneugeba commented on #322
@skellytt thanks for the report. The Diagnostics ID you supplied is not complete. There are bits missing from the start of the UUID. Could you update?
Thanks

[2016-12-16 20:39] DeepHorizons commented on #274
@rneugeba
Attached is the log, and here is the new diagnostic ID: EA171801-B737-4B02-8B8C-677BFCD04CAF/2016-12-16_15-34-08

[log.txt](https://github.com/docker/for-win/files/658183/log.txt)

[2016-12-16 21:02] rneugeba commented on #274
@DeepHorizons thanks for the quick reply. Your issue is also different to the one covered here. Your system is low on memory. There are several instances of this error:
[code]

Eventually the VM starts. I noticed you already have reduced the VMs memory to 1GB from the default of 2GB, but due to high memory pressure things are booting very slowly and the start fails at various stages. 4GB is really

[2016-12-16 21:10] rneugeba commented on #241
@mikelor thanks for the info. I'm closing this issue since it's fixed for some folks and others have not been responding for a while. Please re-open if this issue persists with the latest beta

[2016-12-16 21:10] #241 closed

[2016-12-16 21:11] amireldor opened #328 "Single file mount is not updating when changed on docker host"
(note: mounted folders work just fine, files getting updated and all)

### Expected behavior

Mount a single file on Windows to a container, update the file on Windows, see changes on the file inside the container.

### Actual behavior

I mount a single file from Windows to a Linux container. When I update the file on Windows, the changes are **not** reflected in the Linux container. This is not r

[2016-12-17 03:25] davidobrien1985 opened #329 "Docker for Windows not starting"
After booting Windows I am greeted with this error message:

[code]

Docker version 1.13.0-rc3, build 4d92237

[2016-12-17 03:36] friism commented on #329
@davidobrien1985 thanks for reporting. Can you:

 * run the diagnostics (if that's available)
 * try factory reset
 * Try the MS debug script: https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/Debug-ContainerHost (possibly even the new version that has more networking tests: https://github.com/Microsoft/Virtualization-Documentation/pull/513)

[2016-12-17 06:47] Pjstaab commented on #220
Is there a way to force this build? Windows keeps telling me it might take a day or two to receive a new build but I still am not having any luck. I am on the insider fast ring.

[2016-12-17 12:26] tonkajuris commented on #274
Getting same error:
[mylog.txt](https://github.com/docker/for-win/files/658839/mylog.txt)

[2016-12-17 12:36] rneugeba commented on #274
@tonkajuris thanks for the logs. The error message you get is the same, but the issue is different. Your Linux VM is booting up quite sloe. Could you please open a new issue and provide a diagnostics ID?
Thanks

[2016-12-17 13:56] tonkajuris opened #330 "Docker For Windows Error Linux VM booting up slow"
### Expected behavior
Docker Starts
### Actual behavior
Docker Error with the message:
[code]
### Information
- Diagnostic ID: 3C0AAF9D-0582-43A4-A472-048E72FAC683
- The upload diagnostic process was in an endless loop and had cpu at 100%

- Posted log file to issue #274
- Windows 10.0.14393 Build 14393
### Steps to reproduce the behavior

  1. New Install
  2. Error happens from fresh install.

[2016-12-17 17:08] jamestharpe opened #331 "Unable to start docker on Windows 10: Generic failure"
### Expected behavior

Docker starts

### Actual behavior

Docker crashes with the following message: Unable to execute Start: Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Generic failure

### Information

  - Diagnostic ID: 499B149D-C318-4872-95A9-400222AE7F06/2016-12-17_12-05-49
  - Windows 10 Profession

[2016-12-17 17:38] nerumo opened #332 "Can't upload diagnostics"
### Description
When I try to upload the diagnostics to post a problem, the UI tells me forever that it's uploading. If I check the logs manually, I get the log below. If I close and reopen the UI, it still says that it's uploading. In the task manager I see that the com.docker.engine service has a quite a heavy CPU load.

### Log
Version: 1.13.0-rc3-beta33 (9442)
Channel: Beta
Sha1: 2bfbf38699af8

[2016-12-17 20:19] boscogh opened #333 "Virtual disk location uses wrong default setting of Hyper-V Manager"
### Expected behavior
If I move MobiLinuxVM.vhdx to another place (other hdd) and chage settings of MobiLinuxVM appropriately, I expect VM will use disk from new place
### Actual behavior
VM uses Hyper-V Manager default virtual disk folder for searching it disk. If it's moved, it recreated, so Docker become clear, no images, no containers.
If I change Hyper-V Manager default virtual disk folder, t

[2016-12-17 20:47] tonkajuris commented on #330
I switched to the stable version of Docker and it works although strangely the About Docker says 1.13.0-rc3-beta33 (9442).

[2016-12-17 20:47] #330 closed

[2016-12-17 21:20] dheater commented on #292
Also running on a Lenovo with SSD. I disabled McAfee and the install succeeded

[2016-12-17 21:20] #292 closed

[2016-12-18 08:06] wentaozhu commented on #324
I faced the same issue.

[2016-12-18 08:09] wentaozhu commented on #315
Yes. Factory reset is okay. But I need to revise the daemon configuration to use, such as
 "storage-opt": "d:\\docker",
  "graph": "d:\\docker",
"storage-opt": [
    {
      "DM.basesize": "50G"
    }
.
Then the docker will restart and face the same issue.

[2016-12-18 08:10] wentaozhu commented on #324
Factory rest will be ok.

[2016-12-18 08:27] wentaozhu commented on #324
Maybe the daemon configure is wrong.

[2016-12-18 08:27] wentaozhu commented on #315
My configure file is wrong. Sorry.

[2016-12-18 11:35] bbodenmiller commented on #324
I tried factory reset, no luck.

[2016-12-18 12:21] rneugeba commented on #333
Which version of Docker for Windows are you using? The latest Beta has a new settings which allows you to move the VHDX. Could you try that?

[2016-12-18 12:26] rneugeba commented on #332
@simonferquel could you take a look?

[2016-12-18 12:38] dgageot commented on #327
Hi @Jason0307 could you please try [Docker for Windows Beta 33](https://docs.docker.com/docker-for-windows/) and tell us if it works better?

[2016-12-18 12:39] dgageot commented on #325
Hi @coben07 could you please try Docker for Windows Beta 33 and tell us if it works better?

[2016-12-18 12:42] dgageot commented on #332
@nerumo @rneugeba This is going to be fixed in Beta34

[2016-12-18 12:44] rneugeba commented on #331
@jamestharpe thanks for the report. There seems to be something broken with your Hyper-V installation. I see errors in the `Microsoft-Windows-Hyper-V-VMMS` event log like:
[code]

A few questions/suggestions:
- Could you try to manually create a empty Hyper-V VM and start it and see if that works? You can just go to Hyper-V manager and create a new VM and click through the steps. Then double click

[2016-12-18 12:45] dgageot commented on #324
Hi @bbodenmiller  could you please try Docker for Windows Beta 33 and tell us if it works better?

[2016-12-18 12:49] dgageot commented on #303
@mbp Sorry, as explained in #132 this is not something we can fix. The workaround you used is the best thing we can do. So, I'm going to close this ticket

[2016-12-18 12:49] #303 closed

[2016-12-18 12:51] dgageot commented on #315
@jasonwzs @wentaozhu Can we close the issue then?

[2016-12-18 12:52] dgageot commented on #320
Hi @ahoka Can we close the issue then or are you facing this issue often?

[2016-12-18 12:53] dgageot commented on #328
@amireldor Which version of Docker for Windows are you using? Can you share a diagnostic id so that we can investigate?

[2016-12-18 12:54] bradyemerson opened #334 "Not able to see host ports from 10.0.75.1, but can from 192 host IP"
### Expected behavior

Should be able to reach container host from inside container over 10.0.75.1 ip address.

### Actual behavior
[code]

### Information

- Version 1.12.3 (8488)
- Windows 10 running hyper-v
- I confirmed 10.0.75.1 is my host IP via ipconfig
- I'm on a corporate laptop assigned to a domain

### Steps to reproduce the behavior

  1. I utilized nmap to test open ports from my 10 I

[2016-12-18 12:57] dgageot commented on #317
Hi @visual4 Sorry there was a bug in Beta31 that could lead to losing all your containers. It is fixed in Beta32, but it got triggered during the upgrade process. I'm going to close this issue since it's fixed now.

[2016-12-18 12:57] #317 closed

[2016-12-18 14:49] nerumo opened #335 "Failed starting container: 'failed to create endpoint'"
### Description
I use windows server containers with a compose file. Since networking with windows containers is a bit shaky, I use the default external network 'nat' which is created by default. From time to time if I go up and down with compose, I get errors when starting a container. Stopping, rebuilding, restarting container does not help. Sometimes it helps to restart com.docker.engine, somet

[2016-12-18 16:23] boscogh commented on #333
I use 1.12.3 stable channel
I actually successfully workarounded issue by changing default location of Hyper-V VM disks, to point the directore there I moved the MobiLinuxVM.vhdx, after that, dockers peek it up successfuly.
I just feel this is not worked as designed, and not straightforward

[2016-12-18 16:33] rneugeba commented on #333
Thanks for the feedback. Closing this issue as this has been fixed in Beta which provides a Settings element to move the VHDX location just for the MobyLinuxVM.VHDX. This will be rolled into a stable release in the future.

[2016-12-18 16:33] #333 closed

[2016-12-18 16:51] lypanov commented on #50
The above Powershell should really be in the documentation. It's just not enough to have to search for 10 minutes to find this Github issue.

[2016-12-18 18:11] rlpowell opened #336 "Please give a "stop asking until the next update" option in the updater."
I'm on the beta, but I've been burned badly by bugs in the last few updates, so at this point I don't want to install any until an update comes along that has something I really want, but the popup keeps bugging me.  :P  It would be nice if in addition to "remind me later" there was "don't ask until the next update".

[2016-12-18 18:22] thaJeztah commented on #336
Any reason to not switch to the stable channel?

[2016-12-18 18:46] artisticcheese opened #337 "Upload diagnostics hanging indefinetely"
### Expected behavior
Diagnostics uploaded
### Actual behavior
Hanging indefintely
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
See description

[code]
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)
Version 1.13.0-rc3-beta33

[2016-12-18 18:50] artisticcheese opened #338 "Error can't stat during image build"
### Expected behavior
Build new image
### Actual behavior
Error thrown
[code]
### Information
When trying to build image error is being thrown

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
Can not upload diagnostic log due to bug
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (W

[2016-12-18 21:14] amireldor commented on #328
I'm using the stable version and this is the diagnostic id: 22270F62-32B5-4086-A6BB-8C6AB5E4F858/2016-12-18_22-52-12

Stranger things happened, but I think I'm starting to get a clue...

On a different admin user on the same machine, I ran similar commands as I mentioned above. It seemed as the volumes I mounted on the ephemeral containers kept a persistent state which is different than the actual

[2016-12-18 21:25] jasonwzs commented on #315
I tried factory reset, but it didn't work.

[2016-12-18 22:39] friism commented on #335
Thanks for reporting. When your system is in a stuck state, can you please run this diagnose script and post the result? https://github.com/Microsoft/Virtualization-Documentation/blob/6eabaf3a3792632f753d4d38b919f749f9f57bd1/windows-server-container-tools/Debug-ContainerHost/Debug-ContainerHost.ps1

[2016-12-18 22:41] friism commented on #50
@simonferquel could we auto-open these ports during install?

[2016-12-18 22:49] friism commented on #338
Can you build any images? What happens if you use a relative path, eg. `cd d:\docker` and then `docker build .`

[2016-12-18 22:55] friism commented on #315
What happens if you try to start the Moby VM manually using Hyper-V manager?

[2016-12-18 22:55] jornh commented on #336
Looks like unchecking **Settings -> General -> [ ] Automatically check for updates** comes pretty close to what you want

[2016-12-18 23:02] artisticcheese commented on #338
Same issue. Also can not build ANY images. My dockerfile has simple instruction FROM microsoft/iis and nothing else.

[code]

[2016-12-18 23:18] friism commented on #338
Is `d:\docker` the directory that holds your Docker graph directory? It may not be usable as build context, see https://github.com/docker/docker/issues/27739

What happens if you just create an empty directory, eg. `C:\foo`  or `D:\bar`, place your Dockerfile there and try the build?

[2016-12-18 23:38] artisticcheese commented on #338
Yes, building from different directory works (like d:\foo).
My graph directory is d:\\docker\\images not d:\\docker
So what is exact limitation of building images?

[2016-12-19 00:00] friism commented on #338
@artisticcheese all the the build-context directory (`d:\docker` in your case) is send to the Docker daemon as build context, including sub direcotries. The `images`  folder will container a lot of symlinks and other non-standard files that make that make Docker work, and this won't work.

cc'ing @jhowardmsft to see if errors might be improved for cases like this.

[2016-12-19 00:00] friism commented on #338
Closing issue.

[2016-12-19 00:00] #338 closed

[2016-12-19 07:22] ksiamro opened #339 "Docker being slow on Windows 10"
I created own Apache-php dockerfile with docker compose on Widnows 10 Enterprise.
I'm using Docker 1.12.3.
I follow https://msdn.microsoft.com/en-us/virtualization/hyperv_on_windows/quick_start/walkthrough_install and I have enabled Hyper-V on step 3, but in systeminfo.exe its
`Hyper-V Requirements: A hypervisor has been detected. Features required for Hyper-V are not be displayed.`
About 1-2 week

[2016-12-19 07:58] mbp commented on #303
@dgageot ok. But I also think it would be quite useful if the application actually told me that it was not possible to mount the drive. As mentioned, nothing happens in the UI. I have to go to the log file to find that error.

[2016-12-19 08:27] simonferquel commented on #50
@friism it is already done on beta channel (and stable 1.13 will have it)

[2016-12-19 08:55] Mchl commented on #247
Hello,

Since [this comment](https://github.com/docker/for-win/issues/247#issuecomment-262709822) I always start Docker with task manager started. What I noticed is that whenever the average CPU load at the moment of starting is above 20% Docker fails to start. My current strategy is to:
1. Disable Docker start on system start
2. Disable Processor Power Management in Windows' Power Options
3. Clos

[2016-12-19 09:25] andrei-tofan commented on #67
I think there's a bug somewhere in the code base Docker, here is a quick workaround:
- Open Hyper V Manager
- Delete all duplicate MobyLinuxVM
- Restart docker

![docker](https://cloud.githubusercontent.com/assets/23150031/21307330/c42455d6-c5dd-11e6-9ec1-e486e941e0e9.png)

[2016-12-19 09:28] rneugeba commented on #67
@andrei-tofan did you have multiple MobyLinuxVMs? That should not happen... @dgageot @simonferquel

[2016-12-19 11:12] rneugeba commented on #337
@artisticcheese this looks like a dup of #332 so I'm closing it. Beta34 should have a fix.
thanks

[2016-12-19 11:12] #337 closed

[2016-12-19 11:33] rneugeba commented on #339
@ksiamro thanks for the report
- the message: `Hyper-V Requirements: A hypervisor has been detected. Features required for Hyper-V are not be displayed` is expected.
- the `d4w/nsenter` is not really downloaded, it comes with the Docker for Windows installation. We use it to mount shared volumes.

As for your problem of docker slowing down, it's going to be tricky to debug without having access an

[2016-12-19 12:02] rneugeba commented on #334
@bradyemerson this looks like a duplicate of #37. Could you confirm that you try to connect from a container to service running on the host?

Also, I'm a little confused about `10.0.75.1`. This is the default address we use for the internal network between the Linux VM and the host but you say that it's your "Host IP address".

FWIW with Beta33 I can do:
[code]
and:
[code]

[2016-12-19 15:01] Hronom commented on #221
@whitecolor sorry I'm don't have a chance to test this under beta version...

[2016-12-19 15:30] friism commented on #50
@simonferquel awesome, thx

[2016-12-19 17:13] Schnabbel opened #340 "Docker not Starting Windows 10"
### Expected behavior
Docker starting up normally
### Actual behavior
Docker not starting but throwing an error message instead
### Information
 - Diagnostic ID: 49AA8D2A-F004-404C-99BF-0D1E4AA28B1E/2016-12-19_18-06-35

 - host distribution and version (Windows version, build number, etc): Windows 10 Edu N 64bit Build 14393

   Already tried reinstalling Docker, did not solve the problem.

### Ste

[2016-12-19 19:50] bbodenmiller commented on #324
Still broken

[code]

[2016-12-19 20:05] bbodenmiller commented on #324
I'm trying to get a crash ID but unfortunately it just hangs forever.

[2016-12-19 21:03] rneugeba commented on #340
@Schnabbel thanks for the report. It looks like the system is starting ok, but very slow and there are a few other things which I believe have been fixed in the Beta channel. Could you try the latest Beta from https://download.docker.com/win/beta/InstallDocker.msi

[2016-12-19 21:48] coben07 commented on #325
Tested on Docker for Win Beta 33, same issue.  Adding screenshoot of daemon config screen.

Reproduced on Beta 33 by:

- set registry-mirrors
- ran docker pull node:6.9.2 expecting docker to pull from aforementioned registry mirror but it pulls from dockerhub instead.

If I fully prefix the registry (pmnexus02d:8883/node:6.9.2) it works fine, but my understanding is that by setting the registry mi

[2016-12-19 21:48] Schnabbel commented on #340
@rneugeba Unfortunately installing the latest Beta didn't fix the problem. I uploaded a new diagnosis with the Beta version here: 49AA8D2A-F004-404C-99BF-0D1E4AA28B1E/2016-12-19_22-44-18

[2016-12-20 00:00] glonnon opened #341 "Host route table is not correctly updated for linux containers."
### Expected behavior
The docker for windows beta linux networking isn't working correctly.  There isn't a route entry to correctly route requests from the host to the container.

### Actual behavior

The routing table on the host is not correctly updated after starting up the Linux VM container.  Network requests to the container are unable to be routed correctly.  This works correctly for docker

[2016-12-20 07:32] Jason0307 commented on #327
@dgageot I will have a try and then give your feedback as soon as possible.

[2016-12-20 07:58] avcarrillo commented on #326
I have the same issue. Tried Stable and Beta. Completely disabled firewall, uninstalled/reinstalled. No luck

[23:56:23.084][NamedPipeClient][Info   ] Sending Mount(F, DockerHost:**********, Docker.Core.Settings)...
[23:56:23.086][NamedPipeServer][Info   ] Mount(F, DockerHost:**********, Docker.Core.Settings)
[23:56:23.086][SambaShare     ][Info   ] Mount F
[23:56:23.101][ApiProxy       ][Info   ]

[2016-12-20 08:07] lakeba-solutions opened #342 "Impossible to change memory size"
### Expected behavior
Change memory size
### Actual behavior
Grey out Advanced page
### Information
Docker for Windows Beta on Windows 10

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

### Steps

[2016-12-20 08:21] nerumo commented on #335
Checking for common problems
Describing Windows Version and Prerequisites
 [+] Is Windows 10 Anniversary Update or Windows Server 2016 93ms
 [+] Has KB3192366, KB3194496, or later installed if running Windows build 14393 38ms
 [+] Is not a build with blocking issues 24ms
Describing Docker is installed
 [+] A Docker service is installed - 'Docker' or 'com.Docker.Service'  43ms
 [+] Service is runni

[2016-12-20 08:26] #340 closed

[2016-12-20 08:28] rneugeba commented on #340
@Schnabbel did something fix your issue?

[2016-12-20 11:15] ksiamro commented on #339
Thanks for answer ;)

ad. d4w/nsenter - Oh, good to know. I couldn't find any info about that.
I was afraid about it cause sometimes d4w/nsenter is running few mins after Windows up.

I tried factory reset. Uninstall and install docker again. Also remove and build all images.

Can I provide You more info?

[2016-12-20 14:31] ckiddo74 opened #343 "some files cannot be accessed/removed in shared volumes (host+container): access denied"
I have been using docker for windows 10 for a while, and it is working fine except for a tiny problem. There are occasions when some files cannot be accessed or removed in shared volumes. When this happens, I cannot remove the file neither from the container nor from the host. On the host side, it gives me the error that I do not have security access to said file (I do). There are no processes loc

[2016-12-20 16:23] friism commented on #342
That suggests Docker is not up and running yet. Can you run containers? Please upload a diagnostic dump, if possible.

[2016-12-20 17:32] dsmaher commented on #187
UPDATE:  I tried hacking the registry to remove the switch.... and that just made Docker move on to a different error.  I didn't save the information, but there might be a crash report for it.

Then I tried uninstalling Hyper-V and reinstalling it.  Unfortunately, that was my worst mistake.  Perhaps if I tried the hyper-v reinstall before the registry hack, it wouldn't have been so catastrophic, b

[2016-12-20 17:44] lanmingle opened #344 "Default extended user group ID? Docker group GID"
/var/run $ id
uid=1000(jenkins) gid=1000(jenkins) groups=1000(jenkins)
/var/run $ docker info
Cannot connect to the Docker daemon. Is the docker daemon running on this host?
/var/run $ ls
docker.sock
/var/run $

告诉在windows上或者mac上都不能进入ssh，但是我希望内置有一个用户和组都是 docker 并这个 uid/gid 都能是 1000，那么后续的定制怎么可以按照这个来创建运行用户

Told in the windows or Mac can enter the SSH, but I hope to have a built-in user and group is

[2016-12-20 18:26] ve7bwn commented on #326
I'm happy to report that the latest beta version, 1.13.0-rc4, appears to have fixed this problem.

[2016-12-20 18:26] #326 closed

[2016-12-20 18:31] avcarrillo commented on #326
It didn't appear to resolve the issue on my pc. I ran the update utility of Docker to this version. Do I need to uninstall/reinstall?

[10:29:41.526][SambaShare     ][Error  ] Unable to mount F drive: firewall is blocking
[10:29:41.527][SambaShare     ][Info   ] Removing share F
[10:29:41.605][NamedPipeClient][Info   ] Received response for Mount
[10:29:41.604][NamedPipeServer][Info   ] Mount done

[2016-12-20 18:34] ve7bwn commented on #326
I did not have to un-/re-install.  The update notification dialog box popped up so I pushed the "go ahead and install" button (or whatever it said).  After the update was complete, I tried Shared Drives again and it worked.

[2016-12-20 18:46] PatrickLang commented on #220
14986 was [recently deployed to Windows Insider - Slow ](https://blogs.windows.com/windowsexperience/2016/12/07/announcing-windows-10-insider-preview-build-14986-pc/#gF7TmP7uE3ZHUw8p.97) as well. Are you still waiting on it?

I think they will release an ISO [here](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewadvanced?wa=wsignin1.0) eventually, but it's still showing 1496

[2016-12-20 19:15] avcarrillo commented on #326
That's what I had tried, but it didn't work for me. I will try the un-/re-install route to see if that works, and update the thread

[2016-12-20 19:29] avcarrillo commented on #326
Steps I performed:
1. Uninstalled Docker
2. Confirmed Hyper-V had no VMs
3. Rebooted
4. Disabled Firewall
5. Installed Docker Beta 1.13.0-rc4
6. Attempted to enabled Shared Drives for F. Received error Firewall detected. A firewall is blocking file Sharing between windows and the containers. Log shows the following. (Confirmed firewall is off)

[11:27:27.822][SambaShare     ][Error  ] Unable to mo

[2016-12-20 19:33] ve7bwn commented on #326
I closed this incident and therefore recommend you create one of your own to track your specific problem.

[2016-12-20 19:34] lakeba-solutions commented on #342
All solved with the nightly update.

[2016-12-20 19:34] #342 closed

[2016-12-20 19:38] friism commented on #342
@lakeba-solutions awesome, thanks for following up.

[2016-12-20 19:47] avcarrillo opened #345 "Sharing drive fails with "Firewall detected" dialog box"
### Expected behavior
Share specified drive with Docker containers
### Actual behavior
Error message: A firewall is blocking file Sharing between Windows and the containers. See documentation for more info.
### Information

When trying to share any of the available drives in the Docker -> Settings -> Shared Drives menu, I get the following error.

Error message: A firewall is blocking file Sharing

[2016-12-20 19:50] dmeenan commented on #324
Have the same problem.  And now Hyper-V is corrupted too - can't remove/reinstall - it just fails, rolls back.  Leaving the broken vestiges of a Hyper-V switch (doesn't show up in the gui) named DockerNAT wandering the halls of my registry haunting every attempt to get Docker running.  Oh how I wish I hadn't clicked "upgrade" this morning.

[2016-12-20 19:50] Pjstaab commented on #220
I'm definitely still on 1495. I get the emails saying new builds come out but I'm not getting any updates on my computer.

[2016-12-20 21:37] borgdrone7 opened #346 "After upgrading to 1.12.5 from 1.12.3 docker very slow"
### Expected behavior
To be as fast as it was before latest version

### Actual behavior
At least 50 times slower than before

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
43324D64-296A-49C0-9FFC-7C48BB9D15B5/2016-12-21_00-29-46

  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distributi

[2016-12-20 23:58] PatrickLang commented on #220
@Pjstaab I'm sorry it's not working out. Unfortunately Windows Update is out of my area of expertise so I don't think I can help with it here. The best option for finding a solution is to check posts here or create a new one: https://answers.microsoft.com/en-us/insider/forum/insider_wintp

[2016-12-21 01:01] Pjstaab commented on #220
I'm not in a horrible rush, just though on the off chance that someone knew something I could kickstart it but it's not the end of the world.

[2016-12-21 01:36] reypm opened #347 "Can't start Docker after move the VM to another location different than default"
### Expected behavior
Docker restart successfully

### Actual behavior
Docker fails to start

### Information

  - Diagnostic ID: A0BDD173-6099-4B7B-A902-73A9C05DED36/2016-12-20_20-33-06
  - Docker logs (if help): [log.txt](https://github.com/docker/for-win/files/665268/log.txt)
  - Docker Version: 1.12.5 (9503)
  - Channel: Stable
  - OS: Windows 10 Pro
  - Edition: Professional
  - Id: 1607
  -

[2016-12-21 05:13] bradyemerson commented on #334
@rneugeba thanks for the response. This does seems similar to #37 and will try to use the nginx suggestion.  The service I'm trying to connect to specifically is Windows file share (port 445) to enable folder sharing between host and container.  Currently I'm unable to enable C drive for sharing.

To clarify on 10.0.75.1, I'm referring to the internal network.  I can see that my host machine has b

[2016-12-21 06:26] nerumo opened #348 "docker compose startup failes due to network"
### Expected behavior
I can start containers through docker compose without having to create a network
### Actual behavior
If don't specify an external network in the docker compose file, I get the errors seen in the logs below and the containers won't start.

### Diagnostics ID
BEC692C9-F355-4958-8663-603BB2E296F9/2016-12-21_07-21-13

### Log
Version: 1.13.0-rc4-beta34 (9562)
Channel: Beta
Sha1:

[2016-12-21 09:15] borgdrone7 commented on #346
Hi,
I figured out it is something related to network as when I disable Fiddler speed is back to normal. It may only affect setups where proxy is used (like Fiddler for example).

[2016-12-21 09:15] #346 closed

[2016-12-21 10:17] rneugeba commented on #334
This sounds more like a firewall issue. Is port 445 enabled? Do you have any third party firewall software installed?

[2016-12-21 11:38] o6uoq commented on #214
I had the same error.

After a little trial and error, I've got Version 1.13.0-rc4-beta34 (9562) of Docker now working from a fresh install.

- uninstalled Docker using CCleaner
- cleaned traces of Docker under Program Files* and under my Windows user directories (make sure you turn hidden files and folders on, just to be sure)
- cleaned temporary directories within Windows
- checked Hyper-V manag

[2016-12-21 11:40] jmkgreen opened #349 "Uninstall hangs"
### Expected behavior
Product removal

### Actual behavior

Log indicates something had happened, but process stalls.

### Information

See log.txt Gist: https://gist.github.com/jmkgreen/34f386c7ef81f8877f48ad1f2c85c2ca

### Steps to reproduce the behavior

I my case I had accepted an upgrade prompt but that upgrade had hung so after several minutes I rebooted. That was some weeks ago - I am now b

[2016-12-21 12:33] bradyemerson commented on #334
The standard DockerProxy rules are enabled in the Windows Firewall.  I'm not aware of any other firewall in place. We do have McAfee and Malwarebytes as well.

I tried the nginx proxy approach suggested in #37 and it's not able to bind to port 445 as the windows service has already bound to it.  I could use a nonstandard port (ex 8445), but is it possible to tell Docker to use this port instead of

[2016-12-21 12:56] davidobrien1985 commented on #329
Diagnostics: 7FF335B8-A6FB-4C48-BC1E-B9F79F69CB3A/2016-12-21_23-53-35
Already done factory reset.

[code]

@friism

[2016-12-21 15:48] BeardedYeti opened #350 "MobyLinuxVM Failed to Start and Initialize"
### Expected behavior
Successful installation of Docker for Windows

### Actual behavior
MobyLinuxVM fails to start and initialize.

### Information
- Diagnostic ID
E04D2794-EC75-4EC2-8731-DCFFC2A76CA5/2016-12-21_10-23-45

- Docker for Windows 1.12.5 (9503)
- Windows 10 Pro 64Bit
- Toolbox was used prior. Everything was successfully uninstalled including Oracle Virtual Box.

- Error Message. See l

[2016-12-21 16:21] friism commented on #329
pinging @JMesser81.

@davidobrien1985 can you try the clean-up script too? Note that it can be a bit [heavy-handed](https://github.com/Microsoft/Virtualization-Documentation/pull/513#issuecomment-266611693).

[2016-12-21 16:59] ahoka commented on #320
What additional info do you need?

[2016-12-21 19:05] roolebo commented on #179
I'm running Windows 10 Insider Preview 14965 and hitting the same failure in Windows system call.
[code]
In my case the directory doesn't exist in the container but exists on the host.
Diagnostic ID: E1A58DA7-5E26-4EE2-943E-56BF3D71B146/2016-12-21_21-57-08

[2016-12-22 01:58] reypm commented on #350
This is likely the same issue as reported in https://github.com/docker/for-win/issues/347

[2016-12-22 07:15] Mchl commented on #247
Updated Docker to 1.13.0-rc4-beta34 (9562)

I can now start Docker without disabling Processor Power Management or having to close all applications.
Actually so far it never failed to start
Baseline CPU usage is around 20-25%
Time it takes from clicking on 'Reset' button until 'Docker is running' message is around 45-50 seconds

[2016-12-22 08:41] nerumo commented on #335
it might be linked to the issue https://github.com/Microsoft/Virtualization-Documentation/issues/273

[2016-12-22 09:43] davidobrien1985 commented on #329
Got back to testing this (on vacation in Thailand right now).
I ran the clean up script again (I ran it before getting on the plane) and now it works.

[2016-12-22 10:50] mfaizanse commented on #196
Mine deamon.json file does have any line for bridge but I am still facing the exact same issue. What should I do to resolve? @kallie-b

[2016-12-22 11:40] pachkovsky commented on #221
I can confirm that 'route add' method is not working with latest beta.

[2016-12-22 13:03] neridonk commented on #350
Same problem help me pls

[2016-12-22 14:18] friism commented on #329
Awesome, thanks for following up.

[2016-12-22 14:18] #329 closed

[2016-12-22 14:18] whitecolor commented on #221
@pachkovsky so and without route (out of the box) it too doesn't work I believe in the latest beta?

@rneugeba  @dgageot
Not sure why there is not reaction from the team?

[2016-12-22 14:20] pachkovsky commented on #221
@whitecolor without the route it's not working neither in 1.2.x nor in 1.3

[2016-12-22 15:04] kallie-b commented on #196
Okay, so you don't have external connectivity from your containers? Do you mind copying and pasting the contents of your daemon.json file? Also, will you do the following and report the results back to me?

- Get-ContainerNetwork
- Get-NetNatExternalAddress
- Run any two containers in interactive mode (e.g. docker run -it  microsoft/nanoserver powershell)
- Ping one container from the other (you c

[2016-12-22 16:36] eliassal commented on #196
Hi Kali, I presume that this response is for mfaizance.

I still have the issue  #27911 with docker on win2k16 box where I can not run a basic command.box  Vikrant tried to help when we were in the skype session. I did not see any response from Patrick since you responded following our session.
Thanks

[2016-12-22 16:54] kallie-b commented on #196
Right, yes it is--thank you. I forgot to @ mention him. I'll take a look at your other issue and see if I can get someone's attention about it. Happy Holidays!

[2016-12-22 17:34] jpayne commented on #350
Same issue here. Windows 10, Docker stable release.

[2016-12-22 18:15] jpayne commented on #350
I seem to have the Docker stable build working now.

Hyper-V apparently does not like the Samsung 960 Pro I just installed in my ThinkPad. Trying to create a virtual disk (either via Docker or the Hyper-V Manager) on the 960 Pro fails, sometimes with a BSOD attributed to "secnvme.sys". Fortunately, I also have a Samsung 850 Pro in this system, so I configured Hyper-V to use it by default, and virt

[2016-12-22 20:53] marvinvperez opened #351 "Docker can't extract image on Windows 10 Enterprise (Anniversary) running on Bootcamp (MAC)"
### Expected behavior
Image extracted after docker pull microsoft/nanoserver

### Actual behavior

Image is successfully downloaded but failed to extract.

### Information

I am running windows 10 enterprise (anniversary) on bootcamp under mac. Installed the latest of docker for windows beta, run it, and switch to windows container. I've got the error below when trying to pull microsoft/nanoserver

[2016-12-22 22:37] xblanc33 commented on #314
Dear all,

I am also trying to reach my docker host on port 2375 from one of it container.

@friism, the use case I want too unlock is this one : https://engineering.riotgames.com/news/jenkins-ephemeral-docker-tutorial

It appears that I cannot reach it but I don't understand why. Is it a question of credential ?

Thanks a lot.

[2016-12-23 03:34] scmrus commented on #157
btw, looks like bug was fixed. I don't have any problems last days.

[2016-12-23 04:59] mfaizanse commented on #196
Thank you @kallie-b for your response. I have shared the details below:

**My environment:**
**Windows 10 Enterprise x64**
version 1607
OS build 14393.576

**Docker version:**
Client:
 Version:      1.13.0-rc4
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   88862e7
 Built:        Sat Dec 17 01:34:17 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.13.0-rc4
 API version:  1.25

[2016-12-23 13:35] gerritjanf commented on #216
This fixed the issue for me 💃

[2016-12-23 14:04] Mikaka27 opened #352 "Cannot share drive if windows account has no password"
### Expected behavior
Don't ask for credentials if local windows user doesn't have any password.

### Actual behavior
Impossible to click ok while leaving the password field empty.

### Information

  - Diagnostic ID: B77F5BF3-DCFB-4AB3-BEC4-762CBCE8E736/2016-12-23_15-00-47
  - Windows 10 anniverssary

### Steps to reproduce the behavior

  1. Install docker for windows
  2. Make sure local user (

[2016-12-23 17:00] jasonwzs commented on #315
It can be started manually using hyperv manager but no ip address is assigned

[2016-12-23 18:50] jornh commented on #309
Just tried a factory reset now after update to D4W version `1.13.0-rc4-beta34 `. Looks like the issue is fixed and the `nat` network is now correctly restored.

Steps:
1. Perform factory reset
1. Check via `Get-ContainerNetwork` return a result as below

[code]

Closing the issue. Thanks & merry 🎄 🎅

[2016-12-23 18:50] #309 closed

[2016-12-23 20:42] jornh commented on #347
Looks like the path is hard-coded in version 1.12.5. Try uninstalling that version and switch to the beta version (or wait for 1.13.0 to come out in January I think). It supports moving the MobyLinuxVM VHD

See this related discussion on the Docker Forum https://forums.docker.com/t/move-mobylinuxvm-vhdx-to-another-drive/26293/2

The error in your log attached above indicates that you moved all of