[2017-01-30 16:51] friism commented on #445
I think this is a duplicate of https://github.com/docker/for-win/issues/39

For the time being, this won't work. You should either just use in-container storage or use a volume not mounted from your Windows host.

Is there a particular reason you want the data to be on the windows host?

[2017-01-30 16:51] #445 closed

[2017-01-30 18:25] FrenchBen commented on #440
@dgageot I'll try to create a patch for this - Thanks for the help.

[2017-01-30 18:50] rneugeba commented on #446
@trimox could you provide a diagnostics ID?

@mmaguigan there is an error in the logs saying that the Hyper-V VM could not be started:
[code]
not very helpful...
But I also see remnants of a VMware installation in the diagnostics. Did you have VMware installed? Could you try completely un-installing it? Hyper-V and VMware can't be used together on the same host and we have seen many issues where H

[2017-01-30 19:17] michaelva commented on #418
Looks like it's because the time synchronization service is not activated by default when the MobyLinuxVm is created in Hyper-V. When activated, the time is correctly synchronized between the host and the containers.

However the MobyLinuxVm is deleted and recreated every time docker is restarted, which means that the time synchronization service must be manually reactivated after each restart.

[2017-01-30 19:22] rneugeba commented on #418
@michaelva thanks for this additional information. This looks like a dup of https://github.com/docker/for-win/issues/409

@mattmeye could you check if the timesychronisation service is enabled?

[2017-01-30 19:56] ahoehma commented on #442
Hi, how can I check that this particular port is open ... I believe my
firewall (BitDefender) is blocking nothing ... I can't see any special rule
anywhere. Also, the docker settings-dialog doesn't show this firewall
warning (shown in documentation). The same behaviour happens for C and E.

2017-01-30 9:00 GMT+01:00 David Gageot <notifications@github.com>:

[2017-01-30 20:11] dgageot commented on #447
Closing as it's a duplicate of #406

[2017-01-30 20:20] weshead commented on #447
The solution provided in #406 does not solve my issue.

[2017-01-30 20:31] dgageot commented on #447
@weshead OK, sorry I have closed your issue a bit quickly. I'm reopening it.

[2017-01-30 20:41] mmaguigan commented on #446
@rneugeba, I have not ever had VMWare installed on this computer. Perhaps it is detecting VMWare Horizons Client which is used to connect to VDI instances in our ESXi cluster - it should not be interfering with virtualization as I have Hyper-V enabled and no other hypervisor should be able to operate.

I agree that the logs were not helpful. I am afraid I must censor some of my computer informatio

[2017-01-30 20:52] mmaguigan commented on #446
No change with Horizon Viewer removed.

[code]

Diagnostic Code: **F349369D-7646-4A5F-A691-0445B1F6C4B2/2017-01-30_15-46-27**
[log2.txt](https://github.com/docker/for-win/files/740251/log2.txt)

[2017-01-30 21:25] jelster commented on #427
@soymilkfj - I think that's good news because it means that wget was able to make the request and receive a response. In your wget command, add `-UseBasicParsing` and you'll instead get the response content. All things being equal, it might appear your initial issue may have been resolved since you are receiving data from the external endpoint.

wget : The response content cannot be parsed because

[2017-01-30 23:05] rg-srini commented on #67
Had the same issue and followed all the suggestions listed here. Got the same errors ...
Finally going to re-install Windows :(

[2017-01-31 01:17] tmpvar commented on #416
#406 has been closed, but things are still broken on my end.

I've tried using the latest docker, both stable and beta channels, and have installed all available windows updates.

[2017-01-31 06:28] Elufimov opened #448 "Windows Server 2016 compatibility"
### Expected behavior
Normal installation of Docker for Windows on Windows Server 2016

### Actual behavior
![5f14c8385989c074caab97a664e12428](https://cloud.githubusercontent.com/assets/423130/22454454/641e656c-e79f-11e6-9047-4a00d4231007.png)
### Information

  - Windows Server 2016 (Version 1607, OS Build 14393.639)
  - Docker for Windows 1.13.0 and Beta 39

### Steps to reproduce the behavior

[2017-01-31 08:26] SG5 opened #449 "Share drive under user with no password"
### Expected behavior
Click `ok` with empty password

### Actual behavior
`ok` button disabled and took enable state only with not empty  password field

### Steps to reproduce the behavior

  1. Share drive C:

[2017-01-31 09:43] rneugeba commented on #449
@SG5 Thanks for the report. This is a duplicate of #366, #352 and we commented on there that we rely on Authenticated Samba mounts, so this won't fix.

[2017-01-31 09:43] #449 closed

[2017-01-31 09:49] rneugeba commented on #448
Thanks for your report. This is expected behaviour for now as we currently only support Windows 10 version (as per https://docs.docker.com/docker-for-windows/). We have, however an internal tracking issue to support for Windows Server.

[2017-01-31 10:27] Elufimov commented on #448
Thanks for quick response! Could you tell when windows server support will land?

[2017-01-31 10:31] rneugeba commented on #448
we are currently in the process of refactoring the installer which will also enabled Windows Server support. I can't give exact timelines for this, but we are not talking several months...

[2017-01-31 10:33] mattmeye commented on #418
@rneugeba timesychronisation is not enabled, can i enable this by default?

[2017-01-31 10:34] Elufimov commented on #448
It is great. I will wait for updates then.

[2017-01-31 10:39] rneugeba commented on #418
@mattmeye thanks for the confirmation. This looks like a dup of #409 so I'm closing it. I'll ping you and @michaelva  on #409 so that you get updates.

[2017-01-31 10:39] #418 closed

[2017-01-31 10:41] rneugeba commented on #409
@mattmeye and @michaelva observed the same issue over on #418.

The next beta (beta40) has updated linux kernel patches which are supposed to handle the negotiation of the TimeSync protocol between the Linux VM and the Windows host correctly. I'll ping you here once it is released.

[2017-01-31 11:09] rdoerga commented on #214
I had a similar problem. Fixed it by:
- uninstall Docker
- run Hyper-V manager (start menu, search for Hyper-V)
- deleted the MobyLinuxVM virtual machine
- reboot
- install Docker

After this, the VM was created again and docker started normally. I think uninstalling Docker doesn't remove the VM, so if something is wrong with that, reinstalling ends up using that same defective VM.

[2017-01-31 11:59] Jan0707 opened #450 "Docker freezes Windows [on boot]"
### Expected behavior

Should boot and launch docker

### Actual behavior

Freezes during boot/login

### Information

- Cannot provide any

### Steps to reproduce the behavior

1 ) Most recent version of Windows 10.
2) Install Docker for windows
3) Docker encounteres the error mentioned in #447
4) System freezes
5) Hard reset
6) System keeps freezing during boot/login

I would appreciate any help

[2017-01-31 13:22] efaruk opened #451 "Set-TimeZone Changing Host Machine TimeZone too"
## BUG REPORT INFORMATION

**Description**
When we use Set-TimeZone in windowscore based container its changing host machine timezone too.

### Expected behavior
Use Set-TimeZone to set only container timezone
### Actual behavior
Set-TimeZone affecting both container and host machine
### Information
I'm running windows docker host machine inside of an Oracle VirtualBox

**Output of `docker version

[2017-01-31 14:29] rneugeba commented on #451
I can not reproduce this with 1.13 and a base nanoserver image nor with the `microsoft/dotnet-framework:3.5` image. I've tried Windows 10 Pro builds 14393.693 and 15014.1000.

This issue tracker is actually for the Docker for Windows application, which currently does not run on Windows Server, so I'm closing this issue.

I suggest to open an issue on https://github.com/docker/docker/  or maybe on

[2017-01-31 14:29] #451 closed

[2017-01-31 16:03] rneugeba commented on #409
We have just released Beta40 with the updated kernel. You can download it here: https://download.docker.com/win/beta/InstallDocker.msi. Could you try and see if it fixes your issue? If not, I'd be interested in seeing the diagnostics upload from it.
Thanks

[2017-01-31 16:05] rneugeba commented on #400
Beta40 is out, which should have a potential fix. Could you try it from here: https://download.docker.com/win/beta/InstallDocker.msi

[2017-01-31 16:17] richraid21 commented on #400
Seems to be working in beta40. Will update on any changes.

[2017-01-31 16:26] viscropst opened #452 "Docker pulling failed on Server 2016 Standard"
Hi there,
I am a beginner for Windows Container on Windows Server 2016 with docker.
I tried to docker push microsoft/sample-dotnet
### Expected behavior
Pulling successful and Running well.
### Actual behavior

![image](https://cloud.githubusercontent.com/assets/16207250/22473785/ee563ea6-e814-11e6-933e-c915042eb781.png)

### Information
I am using CMD with Administrator mode.

![image](https://cl

[2017-01-31 16:31] friism commented on #452
Thanks for reporting!

Please see this issue for possible fixes and more details: https://github.com/Microsoft/Virtualization-Documentation/issues/355

The problem is not related to the Docker for Windows product, so I'll close this issue - feel free to reopen or follow up if you have questions.

[2017-01-31 16:31] #452 closed

[2017-01-31 16:35] dgageot commented on #400
Thanks @richraid21 I'm going to close the issue then. Feel free to reopen if the issue is back in the future.

[2017-01-31 16:35] #400 closed

[2017-01-31 17:05] waza-ari commented on #38
I basically have the same problem, did not find a solution yet. Would be interested if someone find a solution to natively use dockerized python containers on OS X with PyCharm.

[2017-01-31 17:41] chanansh commented on #38
Managed to solve this by using the native engine rather than the old docker-machine way. See stackoverflow question [here](http://stackoverflow.com/questions/41921775/tls-verification-issue-when-setting-up-remote-docker-interpreter-in-pycharm-in-w):

[2017-01-31 17:44] waza-ari commented on #38
I am also using the native engine, but got the same problem there. Using tcp://localhost:2376 or tcp://localhost:2375 results in a connection refused message. Not sure how to configure this at all using OS X. This however has nothing to do with this original topic, so I am going to ask somewhere else.

[2017-01-31 17:56] dgageot commented on #442
@ahoehma do you have a way to stop BitDefender and test?

[2017-01-31 17:59] dgageot commented on #438
@jack17529 which one?

[2017-01-31 17:59] dgageot commented on #417
@kristopher-d any chance you could try?

[2017-01-31 18:01] gh0st commented on #417
@dgageot for me everything is greyed out in the settings menu.

[2017-01-31 18:01] dgageot commented on #388
@braveness23 any chance you could try these?

[2017-01-31 18:22] chananshgong commented on #38
If it tells you a folder is missing, try creating it manually.

On Tue, Jan 31, 2017 at 7:44 PM, Daniel Herrmann <notifications@github.com>
wrote:

--
Hanan Shteingart
Data Scientist @ gong.io

[2017-01-31 22:13] bradyemerson commented on #37
This can be closed. It is definitely something related to our corporate Win 10 settings, but I have been unable to narrow it to a specific setting or conflicting software. It works fine on my non-corporate Win 10 machine.

I have worked around this by using Docker Toolbox + VirtualBox.

[2017-01-31 22:14] bradyemerson commented on #334
This can be closed. It is definitely something related to our corporate Win 10 settings, but I have been unable to narrow it to a specific setting or conflicting software. It works fine on my non-corporate Win 10 machine.

I have worked around this by using Docker Toolbox + VirtualBox.

[2017-01-31 22:14] #334 closed

[2017-01-31 22:40] slpixe commented on #27
I hope this helps some people, as I've just had the issue, I've resolved my Docker not being able to load up reporting that virtualisation wasn't enabled (even though it was showing on the task manager).

By turning off the "Hyper-V" service from "Windows Features", restarting, then enabling it again:
![image](https://cloud.githubusercontent.com/assets/385692/22487667/30401c6a-e806-11e6-9748-a0c37

[2017-01-31 23:09] londoncalling commented on #27
@rneugeba @friism please see @slpixe 's comment on what worked. It's essentially a reboot of Hyper-V service. Is this worth adding to the docs?

[2017-02-01 01:22] PatrickLang commented on #199
@rneugeba best thing is to raise it with your MS contacts outside of GitHub. Having the VSO IDs (like John added above) is a helpful breadcrumb so I can look up status but unfortunately there's no public database we can share for internally tracked issues & changes

[2017-02-01 01:48] johnnyhoffman opened #453 "Cannot set hosts in daemon configuration"
### Expected behavior
Start docker with the value of `"hosts"` from the Daemon config
### Actual behavior
Failure to start daemon because of conflict with -H flag
### Information

  - Diagnostic ID: `D6EBFDA6-3FCC-4AD3-BD57-560DCB6D3905/2017-01-31_17-30-49`
  - Windows 10 Pro, Version 1607
  - Docker version 1.13.0, build 49bf474

### Steps to reproduce the behavior

  1. Go to Settings in GUI
  2

[2017-02-01 02:32] viscropst commented on #452
And I found a new problem,I can not login the docker hub in docker.
![image](https://cloud.githubusercontent.com/assets/16207250/22493202/a01f838c-e869-11e6-90e9-fd3b58f992a2.png)

[2017-02-01 02:40] friism commented on #452
@viscropst have you created an account?

[2017-02-01 03:21] amrael commented on #409
I too have the issue but my case is more critical.
The localtime of host, `Wed Feb   1 12:11:25 JST 2017` is fast-forwarded to `Web Feb   1 12:11:25 UTC 2017` on docker container that means the time on the container has +9 hours of time difference. So I'm required to enable Time Sync from Hyper-V manager every time I launch it.

Here's diagnostics,
AC405871-1670-4236-B7F4-5059EFCBD50E/2017-02-01_1

[2017-02-01 03:23] viscropst commented on #452
I created the account and type the correct password.

[2017-02-01 03:25] amrael commented on #409
I forgot to mention that Beta40 didn't help at all.

[2017-02-01 06:24] jack17529 commented on #438
Current beta version for windows available on the website.

[2017-02-01 06:29] dgageot commented on #438
@jack17529 Can you please provide a log file or a diagnostic id? Without additional information, we can't investigate.

[2017-02-01 06:33] dgageot commented on #453
@johnnyhoffman Thanks for the report. `hosts` settings is not supported on Docker for Windows. Can I ask you why you need this feature?

[2017-02-01 10:33] dermeister0 commented on #430
I decided to move Docker directory to another drive. So I stopped the Docker service and modified the daemon.json file:

    {  "graph": "D:\\Docker" }

Then I moved content from C:\ProgramData\docker directory to D:\Docker, except *config* folder.

Is it correct way?

[2017-02-01 10:45] rneugeba commented on #430
The UI has a settings menu, which should allow you to edit the daemon.json file both for windows and linux containers. Once you apply, it should restart the daemon.

[2017-02-01 10:46] dermeister0 commented on #430
Yes, but I need to move the content (images and volumes). I don't want to download all images again.

[2017-02-01 10:46] dockergirl opened #454 "Docker on Windows 10 Ent VM The operation has timed out com.docker.db.exe: Failed to set up server socket listening on hyperv-connect .... Unix.Unix_error(Unix.ENETDOWN, "socket", "")"
### Expected behavior
Docker shall start-up first time (beta docker)
Hyper V enabled & ok.
But it is a VM and i dont have much info about VM System because it is operated by other department.
 I think its VMWare, could you suggest VMWare neccessary setting for running docker ?
### Actual behavior
Error : Operation has timed out.
at Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)

[2017-02-01 10:52] rneugeba commented on #430
Understood (they are not small). Maybe stop docker for windows, copy the content, start docker for window, edit the config file, and then remove the old content.

We have an internal issue tracking adding a UI element to change the windows container storage location. I've tagged this issue there.

[2017-02-01 11:26] rs38 commented on #297
Same issue here. Any idea to dig deeper?

[2017-02-01 12:16] rneugeba commented on #454
Thanks for your report. Please see: https://docs.docker.com/docker-for-windows/troubleshoot/#/running-docker-for-windows-in-nested-virtualization-scenarios
for some details. The link also lists some reasons why we can't really support Docker for Windows inside a Windows VM, so I'm closing this issue. If you have further questions please comment, and I see if I can help.

[2017-02-01 12:16] #454 closed

[2017-02-01 13:22] An0ncoder commented on #370
I have the same Problem here. New Windows 10 Pro Installation, tried docker stable and beta.

875DF937-4B22-401A-9FF3-E0405D562C6E/2017-02-01_14-20-41

[2017-02-01 14:46] dockergirl commented on #454
I understood your point. I have only the problem when you work in development it is easy to "purchase" another VM while it is not easy to "purchase" another HW PC. In my situation, it seems impossible...at least takes months until everybody confirms & order & finally get delivered & all the licenses & all the papers signed...:-)so i have to find some solution for the moment. It is bad that you can

[2017-02-01 15:01] rneugeba commented on #454
How are your VMs provisioned? Are these VMs in the cloud or on-prem?
If on-prem it might be worth talking to your administrators...

Do you want to run windows containers or Linux containers?

[2017-02-01 16:48] mmaguigan commented on #446
can we remove the needs more information label?

[2017-02-01 18:14] johnnyhoffman commented on #453
@dgageot I wanted the feature so that I could securely communicate with docker on my test server (via the [.NET Client for Docker Remote API](https://github.com/Microsoft/Docker.DotNet). I assumed that `hosts` is/was supported in Docker for Windows because I was following [this blog post](https://stefanscherer.github.io/protecting-a-windows-2016-docker-engine-with-tls/) which uses it in the same w

[2017-02-01 19:27] cfstras opened #455 "Config File gets corrupted on Windows crash"
### Expected behavior
Docker starts back up after the system crashed with a bluescreen

### Actual behavior
A message appears:
```Unable to start Docker for Windows service: 2 at Docker.Program.Run(IReadOnlyCollection`1 args)```
This is a copy of #208 -- I figured out what caused this and have reproduced it (accidentally) at least two times.

When I look into `%APPDATA%/Docker/settings.json` after

[2017-02-01 23:19] rg-srini commented on #67
reinstalled the OS. Docker was running good for a day. Again crashed :(

Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Failed to create the virtual hard disk.

The system failed to create 'C:\Users\Public\Documents\Hyper-V\Virtual hard disks\MobyLinuxVM.vhdx'.
at New-MobyLinuxVM, <No file>: line 218

Diagno

[2017-02-02 03:34] silverbp opened #456 "Failed to Start Docker Service on GCE"
### Expected behavior

Install Docker on Windows Server 2016 and for the service to start.

### Actual behavior

After installing Docker on Windows Server 2016 in GCE I get the following error in the event log.
[code]

### Information

  - Windows Server 2016 Core (also tried non-core 2016 version)
  - GCE Cloud Hosting
  - Docker Version 1.13.0 (But have also tried the 1.12 in the OneGet/Nuget re

[2017-02-02 03:39] silverbp commented on #456
I've also tried the documented way of installing docker which uses oneget and install 1.12... version, the above install 1.13. Neither will start up.

[2017-02-02 06:03] soymilkfj commented on #427
@jelster
I used `wget -UseBasicParsing ` and got this message

[code]
Do I download successfully ?
I can't find the file.

[2017-02-02 07:57] dockergirl commented on #454
Im talking to my admins, answer : only next week they can look at the VM system settings. I dont think it is cloud in that meaning though. But what is cloud anyway...I have a .net c# App & want to build a container for linux. I want to take the click once runtime (operated by IIS of Win server at the moment) & build it for apache in a linux container cloud (how to call it hmmm...).With that, i cou

[2017-02-02 08:36] dgageot commented on #456
Hi @silverbp I haven't tried those yet, but have you take a look at Google's instructions? https://cloud.google.com/compute/docs/containers/#docker_on_windows

[2017-02-02 08:38] dgageot commented on #455
Hi @cfstras, it's nice that you managed to identify the root cause of this issue. We are going to take a look at what we can do to better deal with this kind of situation in the future.

[2017-02-02 10:03] Almenit opened #457 "Can't create a Windows container with 4G of memory on Windows 10"
### Expected behavior
A Windows container with 4G of memory
### Actual behavior
Error response from daemon: container f0a146e253d820674f1d7116bc59237a2fea5f7963688a5081d647b1c0625c29 encountered an error during CreateContainer: failure in a Windows system call: The handle is invalid. (0x6).
### Information

  - Diagnostic ID: D56E4B55-0A2E-4DEB-B014-876267EC5BA1/2017-02-02_10-56-52
  - Version: 1.

[2017-02-02 11:57] minherz opened #458 "Port binding does not work for locahost"
### Expected behavior
When running windows container with `-p<host_port>:<exposed_port>` I expect to be able to access the application in container via `localhost:<host_port>`.

### Actual behavior
I need to discover the container IP and access the application in container via `<container ip>:<exposed port>` only. The application cannot be accessed via `localhost:<host_port>`.
### Information

  -

[2017-02-02 12:14] tomskip123 commented on #386
Yes sorry, just to confirm. it seems that the beta has resolved this issue i will reopen if it starts to re-occur

[2017-02-02 12:18] rneugeba commented on #386
Thanks for confirming and glad it's working for you

[2017-02-02 12:39] rneugeba commented on #457
Thanks for your report. I can't reproduce this issue on my system, but it does look like an issue with the docker engine and not the Docker for Windows application. There error is coming from the windows engine daemon.

Could you open an issue on https://github.com/docker/docker and provide the output of:
[code]
as well as the contents of the log file which you can get from the `Diagnose & Feedbac

[2017-02-02 12:41] djmarland commented on #147
I also encountered the same problem after updating to 1.13.
To find my loopback address I typed `Ping Loopback` into Powershell. It turns out my loopback address is in IPv6, so *that* was what I added to the hosts file.

`::1 COMPUTERNAME`

Seems to be working now

[2017-02-02 13:21] Alessar opened #459 ".dockerignore-file documentation"
Possible it is documentation issue.
https://docs.docker.com/engine/reference/builder/#/dockerignore-file

Documentation says that ```/foo/bar``` and ```foo/bar``` it are the same.
### Expected behavior
Expected that ```/node_modules``` and ```node_modules``` will be the same too.
### Actual behavior
In case ```node_modules``` looks like, all stuff in that directory are ignored correctly.
In case `

[2017-02-02 13:27] silverbp commented on #456
Hm, can't believe I didn't find that before, that works, thanks for the help!

[2017-02-02 13:27] #456 closed

[2017-02-02 13:29] Almenit commented on #457
Ok thanks
Issue submitted.

[2017-02-02 13:29] #457 closed

[2017-02-02 14:06] friism commented on #427
@soymilkfj you want to do:

    Invoke-WebRequest https://www.python.org/ftp/python/3.5.1/python-3.5.1.exe
 -UseBasicParsing -OutFile python-3.5.1.exe

[2017-02-02 14:10] friism commented on #458
This is working as expected: https://blog.sixeyed.com/published-ports-on-windows-containers-dont-do-loopback/

@londoncalling we should document this.

[2017-02-02 14:12] anonzak commented on #447
I am having the same issue. I uploaded a crash report with the diagnostic id of : 81C31915-F89E-4A87-9050-C4E3472B0BCF/2017-02-02_08-09-00

[2017-02-02 14:14] friism commented on #459
@Alessar please re-open on the `docker/docker` repo since this is an engine issue.

It would also be good if you could expand your examples to make it easier to reproduce the problem.

Thanks!
Michael

[2017-02-02 14:14] #459 closed

[2017-02-02 15:21] minherz commented on #458
Does it mean that using an ethernet interface IP i cannot access the exposed port either? Say, my host has ethernet interface with IP 10.0.0.100 and I have an exposed port bound to the port 88 of the host. Does the above mean that I still cannot access the container by 10.0.0.100:88 from the host?

[2017-02-02 17:30] RakhiShrivastava opened #460 "unable to install docker for windows on windows 10 pro"
### Expected behavior
It must be installed on Windows 10 Pro
### Actual behavior
![image](https://cloud.githubusercontent.com/assets/6279747/22560565/1bbe1bde-e99b-11e6-980a-0f60c7f38bb0.png)

### Information
I am having Windows 10 Pro and hyper-V is enabled.Still docker for windows installation is not working.

![image](https://cloud.githubusercontent.com/assets/6279747/22560609/479cc890-e99b-11e

[2017-02-02 21:47] fcatae commented on #427
I just ran into this problem in which the name resolution wasn't working properly. 
Solution: I configured daemon.json (at c:\programdata\docker\config) to use the DNS server 8.8.8.8.
The daemon.json parameters are described here:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon
Hope it helps.

[2017-02-02 23:19] friism commented on #458
@minherz you cannot access it _from the host_, but other hosts on the network will be able to access `10.0.0.100:88`

[2017-02-03 00:25] fc0712 commented on #426
I'm experiencing the same

Will include log when I'm back at my Pc

[2017-02-03 02:09] mlarose commented on #447
same here: E801B467-8977-49ED-83E4-E2B052CD75A8/2017-02-02_21-04-47

[2017-02-03 02:33] kallie-b commented on #427
Apologies, until now I missed that I was pinged on this thread.

@soymilkfj  -- can you update me on where you are now with this issue? Also when you ran the ./CleanupContainerHostNetworking.ps1 script, did you do so with the -CaptureTraces argument? If you run the script with that argument the script should "hang" and ask you to repro your issue. Then once you've done that, you stop the script by

[2017-02-03 03:30] gotaker opened #461 "Failure to create DockerNAT"
### Expected behavior

### Actual behavior
post installation the docker is in starting state for ever. tried rebooting.
Win 10 Hyper-V and Containers enabled.
![image](https://cloud.githubusercontent.com/assets/22026226/22578466/ff27ed34-e9ee-11e6-8a69-86ec656aa552.png)

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu. ( B1CAD71C-3B42-4FCC-B56F-0A1F65ADF967/2017-02-03_08-

[2017-02-03 03:44] soymilkfj commented on #427
@kallie-b OK I will send the e-mail.
@friism I used and got a python-3.5.1.exe

[2017-02-03 03:59] briandmaher commented on #216
Brilliant, thanks so much! I was going a bit nvts trying to troubleshoot Hyper-V. You prob saved me many hours; much appreciated!

[2017-02-03 05:21] Ltek opened #462 "Win 10: Unable to destroy: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Invalid class"
### Expected behavior
Docker does not error when starting

### Actual behavior
Docker is fubar'd and will not run not matter what I try

Unable to destroy: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Invalid class

   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.ContainerE

[2017-02-03 07:26] CMCDragonkai commented on #367
Identified networks can be assigned a `NetworkCategory` of Public, Private or Domain. Firewall rules are often separated in Public, Private or Domain. By making the network identified, one can assign it a network category, to say private, so that private firewall rules apply to it. If you leave it as unidentified, then giving it a network category gives it to all unindentified networks (and not al

[2017-02-03 07:52] dgageot commented on #462
Duplicate of #436

[2017-02-03 07:52] #462 closed

[2017-02-03 07:57] dgageot commented on #460
Hi @RakhiShrivastava Can you give us the output of `Get-WmiObject Win32_OperatingSystem | fl *` in a Powershell?

[2017-02-03 08:12] minherz commented on #458
Thank you, @friism. Is there a plan to introduce this functionality into roadmap? Although it does not have a big difference for production, this hindrance complicates the development process.

[2017-02-03 08:52] denofernandes commented on #461
Help!
I appear to be encountering a 'similar', reproducible issue on Windows 10 Pro of Docker never completing its start-up?

See Windows build info:
https://cloud.githubusercontent.com/assets/13504913/22584856/9b9c2a66-e9ec-11e6-8af8-785b5f82c78c.png).

See my Docker diagnostic info:
C2D8A26B-2C4D-4717-9A6E-F831D54AE2E3/2017-02-03_08-20-53

See docker log report:

Version: 1.13.0 (9795)
Channel:

[2017-02-03 10:05] rneugeba commented on #458
@minherz I don't know about MSFTs plans to make this available. With Linux containers on Windows, we have a great deal of flexibility because we have our own component (VPNKit) in the network path.With Windows containers we do not have the necessary hooks to do the same.

[2017-02-03 11:44] akadrac commented on #446
Remove the DockerNAT virtual switch from hyper-v and then try the re-installation.  Looks very similar to an issue I had when upgrading on the last stable version.

[2017-02-03 12:12] minherz commented on #458
Thank you.

[2017-02-03 12:12] #458 closed

[2017-02-03 13:07] kvahuja commented on #461
Same issue for me..

A diagnostic was uploaded with id: CB075645-BF3A-4632-8ACF-EB4906826B5E/2017-02-03_18-36-32
========

Log File
=======
Version: 1.13.0 (9795)
Channel: Stable
Sha1: 0c6d765c5482987c547f4b2b68f04167ebd3f352
Started on: 2017/02/03 18:30:46.965
Resources: C:\Program Files\Docker\Docker\Resources
OS: Windows 10 Pro
Edition: Professional
Id: 1607
Build: 14393
BuildLabName: 14393.693

[2017-02-03 14:59] friism commented on #458
I do believe Microsoft is working on making exposed ports available on localhost for Windows containers. @kallie-b can perhaps help clarify.

[2017-02-03 16:23] DannyAllegrezza commented on #446
Having the same problem on my machine. Ironically, I have used Docker Toolbox on my machine but cannot seem to get the new version of Docker to work. Same errors. I'm well aware that all hints of Virtual Box need to be removed, so I have taken the necessary steps to do so (minus formatting the drive and reinstalling Win 10).

Hoping some useful info will come out of this thread.

I've tried:

* Re

[2017-02-03 16:36] mikedarke commented on #334
If you do find a solution to this @bradyemerson let me know, I'm having the same issue on our corporate network as well.

[2017-02-03 16:50] bradyemerson commented on #334
@mikedarke I used Docker Toolbox (https://www.docker.com/products/docker-toolbox) with Oracle VirtualBox instead hyper-v.

[2017-02-03 17:42] bcorcoranJMP opened #463 "Inability to pull windows/nanoserver"
### Expected behavior
docker pull windows/nanoserver succeeds

### Actual behavior
failed to register layer: re-exec error: exit status 1: output: ProcessUtilityVMImage C:\ProgramData\Docker\windowsfilte
r\4a7fcaefe91154b56d2068a0ef8d23d43f4b853decc66955e4ca5d4e25f625de\UtilityVM: The process cannot access the file because
 it is being used by another process.
### Information
87C74FDD-6D06-4304-A2

[2017-02-03 17:53] mikedarke commented on #334
@bradyemerson yeah thanks, I'll try that instead as well

[2017-02-03 17:55] duczz commented on #239
i have the same issue

[2017-02-03 18:48] Ltek commented on #436
I did several web searches and it looks like this is a fairly common problem and has been for a long time. Is the Docker team going to address this? ... is there a fix, or is this going to be logged as a Known Bug or it is just being ignored?

[2017-02-03 21:04] devops2017 commented on #74
Task Manager showing virtualization is disabled under performance tab. How I can enable it?

[2017-02-03 22:11] rneugeba commented on #463
The error in question seems to be:
[code]

[2017-02-03 23:14] fc0712 commented on #426
Any status on this issue?

[2017-02-03 23:48] rneugeba commented on #426
we are still debugging the issue

[2017-02-04 09:24] dimasnake commented on #188
I tested on 1.13.1-rc1-beta40 (9961)
The speed inside the container is now faster
[code]
But loading pages of local web site has become very slow - 44 seconds.

[2017-02-04 10:47] nikkozzblu commented on #447
same here 6E7050A3-AF56-4804-BDFA-6318BB670407/2017-02-04_11-45-41
... a nightmare it sometimes works after
Uninstall docker (restart)
Disable/enable hyper-V (restart)(restart)
Install docker (restart)

And sometime it doesn t
Absolutly no useful logs, nowhere...

[2017-02-04 11:50] rneugeba commented on #388
Closing due to inactivity. Please re-open if the issue persists with the latest Beta and you have tried the above suggestion
Thanks

[2017-02-04 11:50] #388 closed

[2017-02-04 11:51] rneugeba commented on #398
Closing due to inactivity. Please re-open if you have the info requested.
thanks

[2017-02-04 11:51] #398 closed

[2017-02-04 11:59] rneugeba commented on #412
How did the re-install go?

[2017-02-04 11:59] rneugeba commented on #428
@pkch did the factory reset work for you?

[2017-02-04 12:21] rneugeba commented on #167
I'm afraid, but I suspect there is no easy fix. We use SMB/CIFS for volume mounts and SMB does not map file permissions very well between Linux and NTFS. You also can't map sockets over SMB. I'm afraid this is a wont-fix and I'm closing the issue.

One workaround might be copy the ssh keys into the container (either from a volume mount or via the Dockerfile) and then change the permission on they

[2017-02-04 12:21] #167 closed

[2017-02-04 12:33] rneugeba commented on #289
Is installer on a network drive or do you have roaming profile? Just curious where the "network resource" mentioned in the second last screen shot comes from.

Also, can you try to manually un-install the application and then download and install the latest stable or beta?

Thanks

[2017-02-04 12:36] rneugeba commented on #291
@NoodlesNZ  @bspisak does the latest version work for you as well (after manual un-install)? If not, could you provide an updated diagnostics?
thanks

[2017-02-04 12:37] rneugeba commented on #297
@rs38 which version are you on? Could you provide a diagnostics?

@rmcolbert @adamtuliper can you also try the latest version (either beta or stable)?

Thanks

[2017-02-04 12:52] rneugeba commented on #463
Can you install either Process Explorer or the `handle` utility from sysinternals and see which process uses the above files?

[2017-02-04 13:18] rneugeba commented on #444
@danieldefrancisco-lr thanks for your report. Could you try a factory reset?

Basically from the logs it looks like everything is starting more or less fine. , but at the end the docker daemon inside the Linux VM does not start properly.

Here is the snippet from the Logs (just showing the logs from the Moby VM):
[code]
So, docker is being started and then we run some tests and even in the VM `doc

[2017-02-04 13:40] rneugeba commented on #461
@kvahuja could you please un-install and re-install Docker for Windows? Something with you upgrade seem to have gone wrong and there is a mis-match between `dockerd` running inside the Linux VM (it's on 1.12.5) and the docker version on the host (which is 1.13). Before un-installing it would be great if you could re-confirm with `docker info`. If the re-install does not work, could you please open

[2017-02-04 13:43] rneugeba commented on #461
@gotaker In the logs I see:
[code]
Could you try, in an elevate powershell (after quitting Docker for Windows):
[code]
and see if that throws an error. If not, could you then try to start the Docker for Windows?

[2017-02-04 13:46] rneugeba commented on #461
@denofernandes you indeed seem to have the same issue. Could you also try what I suggested in the previous comment?
Thanks

[2017-02-04 14:05] rneugeba commented on #67
@rg-srini there is an odd message in your diagnostics:
[code]
and
[code]
and
[code]

Is there anything special about the location? Do you run a virus scanner or other security software which may prevent creating the image?

[2017-02-04 14:10] rneugeba commented on #461
@psykzz reported the same issue on #434
A8BF08A2-6EE8-4BD3-BD9F-9E699A11A033/2017-01-27_00-55-57

[2017-02-04 14:11] rneugeba commented on #434
@psykzz thanks for your report. Other users see the same issue (reported on #461) I'm closing this as a duplicated. I've tagged you in #461 so you should get updates there.
thanks

[2017-02-04 14:11] #434 closed

[2017-02-04 14:43] kvahuja commented on #461
@rneugeba  will do. an update - when it's starting up, I did a "Check update" and docker starts every time. don't know if this is a coincidence or what - if i don't do a "check update" it stalls, and comes up every time i do check update - every single time.

however, I will reinstall the version and update.

[2017-02-04 15:21] devedse opened #464 "Object reference not set to an instance of an object when starting docker for windows"
**Description**

I installed Docker onto my computer but got a blue screen after the installation. (Due to an unrelated problem where I can't create HyperV VHD's on my C Drive due to a Bios NVME driver).

I created a symlink for the c:\users\....\.docker\machine\machines folder to another drive which would solve the issue of the blue screen.

However when I now start Docker for Windows.exe I only

[2017-02-04 19:50] Ltek commented on #412
reinstall didnt help a bit ... there is a serious problem with Docker on Win10. I did web searches and there are MANY reports of the exact same problem with no real fix... a few people have only gotten it to work out of dumb luck.

Too bad the dev team is ignoring this problem.

[2017-02-04 21:53] rneugeba commented on #412
@Ltek thanks for getting back. We are not ignore the problems, but the main issues are pretty much out of our control. We simply utilise some Microsoft technologies like Hyper-V. Unfortunately, on some systems Hyper-V is not working as expected and we try our best with the resource available to handle those cases.

Have you tried manually creating a Hyper-V VM as I suggested above? If that is not

[2017-02-04 23:26] rs38 commented on #297
Sure, what exactly?

[2017-02-05 05:52] pkch commented on #428
Yes, actually not even a factory reset but a computer reboot (although it's possible a new version of docker was installed in the meantime).

[2017-02-05 08:50] rneugeba commented on #428
Thanks for getting back and glad that it's now working for you. Closing

[2017-02-05 08:50] #428 closed

[2017-02-05 09:12] rneugeba commented on #297
@rs38 you can upload diagnostics as described [here](https://docs.docker.com/docker-for-windows/#diagnose-and-feedback#diagnose-and-feedback) and then let us know the diagnostics ID.
thanks

[2017-02-05 09:16] whitecolor commented on #214
Had the same issue on latest beta too.

[2017-02-05 11:30] rneugeba commented on #464
@devedse With Docker for Windows you don't need to play with `docker-machine`. Just start the application and it will create thew Linux VM for you. There should be an icon in the systray

[2017-02-05 12:18] msadikkose commented on #446
I have exactly same problem. I just tried to install my new windows 10 pc.

[2017-02-05 12:22] devedse commented on #464
Hey meugeba, thanks for your advice, but as I described in my post, the issue is that I can't start the docker application. So no matter how bad I would like to do that, that is actually the main issue :).

[2017-02-05 12:42] rneugeba commented on #446
@msadikkose @DannyAllegrezza could you please upload diagnostics and share the ID here.
thanks

[2017-02-05 12:43] rneugeba commented on #464
can you send the crash report and report the Diagnostics ID?

[2017-02-05 13:08] devedse commented on #464
I uploaded the log as:
![image](https://cloud.githubusercontent.com/assets/2350015/22626389/7c601d62-ebac-11e6-88f9-ad73dc159c49.png)

[2017-02-05 15:17] msadikkose commented on #446
This is diagnostic Id of my log  D1225885-D86F-40A3-8E8A-AA6357C4B1CB/2017-02-05_18-14-23

[2017-02-05 15:17] rs38 commented on #297
Oh, sorry I forgot to mention, I ran into that same sort of DNS trouble **on a windows server based docker**. Apart from that  [debug powershell skript](https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/Debug-ContainerHost) I am not aware of further diagnosis.

[2017-02-05 15:21] rneugeba commented on #297
@rs38 If you have DNS trouble with docker on Windows Server, could you file an issue on https://github.com/docker/docker. If you do, please provide the output of `docker info` and the docker daemon logs, and ideally something to repro the issue with.This issue tracker is for the Docker for Windows application.
thanks

[2017-02-06 07:24] TapaniRundgren opened #465 "Can't execute any docker commands on Windows10"
### Expected behavior
docker ps
<list running processes>
### Actual behavior
$ docker ps
Exception 0xc0000005 0x0 0x0 0x18000890a
PC=0x18000890a

syscall.Syscall(0x7ffe6030dc40, 0x2, 0x284, 0x3, 0x0, 0x0, 0x0, 0x288)
        /usr/local/go/src/runtime/syscall_windows.go:163 +0x6b
github.com/docker/docker/vendor/github.com/Microsoft/go-winio.setFileCompletionNotificationModes(0x284, 0x203, 0x0, 0xff

[2017-02-06 09:48] scollado opened #466 "Unable to share C: Drive [firewall]"
### Expected behavior
Drive C: shared successfully

### Actual behavior
Checking C: drive and then clicking "Apply" don't change anything. Resetting the credentials does not help.

### Information

  - Diagnostic ID : FCA9BF04-D241-40FA-8169-695E18CA3D1E/2017-02-06_10-02-55
  - Host : Windows 10 Pro, in AD domain (work computer)
  - Docker 4 Windows : 1.13.0 (9795)
  - Logs showing following error

[2017-02-06 11:01] riahc3 opened #467 "Docker breaks Windows networking services when enabling Hyper-V on a non compatible processor"
**Description**

Docker enabled Hyper-V on a non SLAT processor that is not compatible with Windows 10 1607 Hyper-V and it broke a lot of networking services (OpenVPN, Npcap, etc)

**Steps to reproduce the issue:**

Install OpenVPN and nmap on a processor without SLAT.
Install Docker
Docker will ask you if you want to enable Hyper-V. Say yes.
Docker gives a error but auto restarts any ways.
Weird

[2017-02-06 11:04] rneugeba commented on #465
Looks like you are hitting the same issues others are hitting. The issue is already tracked:
- https://github.com/docker/docker/issues/27423
- https://github.com/Microsoft/go-winio/issues/34
so I'm closing this issue.
Thanks for reporting.

[2017-02-06 11:04] #465 closed

[2017-02-06 12:34] simonferquel commented on #417
Thanks for the report. The issue should have been fixed and this should make it in next beta (beta 41).
Please make sure to update to beta41 as soon as you get prompted for it.

[2017-02-06 12:39] simonferquel commented on #420
@djs55 Logs suggest an issue with vpnkit, but are pretty useless (formatting is totally wrong). Can you get in touch with @gregory-vc ?

[2017-02-06 12:46] simonferquel commented on #427
I suppose the issue is fixed then. Closing the issue (feel free to have a direct followup with @kallie-b)

[2017-02-06 12:46] #427 closed

[2017-02-06 13:08] simonferquel commented on #432
It seems that for whatever reason, the Docker NAT network gets created with DHCP turned on (even if we explicitly turn it off).

Can you try to re-create the DockerNAT internal switch manually ?
In Powershell (in admin mode) run:
[code]
Then go to network & sharing center > Change adapter settings
Right click on "vEthernet (DockerNAT)" > properties
Double click on "Internet Protocol Version 4 (TCP

[2017-02-06 13:21] simonferquel commented on #436
Your Windows installation seem to have problems : can you try to run a simple `Get-NetIPAddress` in powershell ? We are relying on it for VM setup and it seems to fail (witch shouldn't happen)

[2017-02-06 13:23] simonferquel commented on #440
The fix should be in this week's releases (both beta and stable)
Thanks for this report !

[2017-02-06 13:27] simonferquel commented on #442
Some Firewall can bypass our protection by accepting the connection but routing it to a mute handler. I don't know Bitdefender but it might be related. Can you please stop it and retry ?

[2017-02-06 13:31] mmaguigan commented on #446
@akadrac, I do not have a DockerNAT in Hyper-V.

[2017-02-06 13:45] simonferquel commented on #443
Could you uninstall first and then install the latest msi ?

[2017-02-06 13:50] atouboul commented on #466
Hi,

I have exactly the same issue :/

The thing is that it works when I disable the Windows Firewall.
I tried to setup a logger which warns me when the Firewall blocks something but in that particular case nothing is blocked. I do not know where to look.

Best regards,

Arnaud

[2017-02-06 13:51] simonferquel commented on #447
@weshead I can't find your diagnostics upload, can you re-create one ?

[2017-02-06 13:58] bcorcoranJMP commented on #463
The directory mentioned does not even exist (guid that starts with 4a).  A subsequent pull attempt references a directory starting with a guid of dde4, but that does not exist either.  Running ProcessExplorer and searching for file handles in use in directory c:\ProgramData\Docker does not reveal anything.

I've rebooted several times, and the problem still exists.

[2017-02-06 14:00] simonferquel commented on #447
@anonzak From your logs it seems that it is due to a global slowliness on your machine (Docker for Windows times out while the Linux OS is still loading - and it completes its boot process successfully a few moments after that). Can you try to stop over software running on your machine (and eating resources the the VM could you to start faster)?

[2017-02-06 14:04] simonferquel commented on #447
@mlarose your logs indicate a crash pretty early in the Linux VM boot sequence. @rneugeba could you have a look at E801B467-8977-49ED-83E4-E2B052CD75A8/2017-02-02_21-04-47 ?

[2017-02-06 14:07] weshead commented on #447
@simonferquel
Diagnostic ID:
735276D9-0F4C-43AD-B75A-C69292381A0E/2017-02-06_08-05-42

[2017-02-06 14:08] simonferquel commented on #447
@nikkozzblu Same as @anonzak your machine seems very slow. @rneugeba Could you check if there might be something in moby logs that might explain this slowliness ?

[2017-02-06 14:22] macronomicus commented on #54
oooooh yay!!  I've been missing kalabox on my windows 10 box, have been using the built in win10-Ubuntu as my localhost, which is definitely sweet, but obviously not as streamlined nor as feature rich as kalabox is with pantheon and all its glory.  Cant wait to test it out, really wish I had checked back in sooner lol.

[2017-02-06 14:24] simonferquel commented on #447
@weshead For whatever reason, your diagnostics update still fails. Can you at least send me Docker for Windows logs to simon.ferquel at docker.com ?

[2017-02-06 14:27] simonferquel commented on #450
What you can do to prevent Docker for attempting to start is to disable virtualization support. That would provide you a way to safely boot to windows and even send us a diagnostic file :)

[2017-02-06 14:36] weshead commented on #447
@simonferquel You got it.

[2017-02-06 14:39] simonferquel commented on #464
@devedse can you try to remove everything in C:\Users\<username>\AppData\Roaming\Docker ?

[2017-02-06 14:48] simonferquel commented on #466
@scollado it seems that your IT department is blocking access to Samba Shares from non - Windows machines by enforcing a Windows Only authentication protocol. the VM runnin your containers runs on Linux and is blocked from your Share server (you can see it in SMB-Server logs).

Can you reach an administrator so that he can help you further diagnose the issue ?

[2017-02-06 14:51] simonferquel commented on #467
Thanks for the feedback. @rneugeba should we check that SLAT / etc. is enabled prior to enable Hyper-V related features ?

[2017-02-06 15:31] rneugeba commented on #447
@weshead thanks for the logs. You have the same issue as @mlarose (https://github.com/docker/for-win/issues/447#issuecomment-277693780) which is a duplicate of #274. This can only be fixed by installing windows updates as this seems to be a bug in Hyper-V.

[2017-02-06 16:15] rneugeba commented on #447
I'm closing this issue as the original issue reported by @weshead  (and also experienced by @mlarose) is a duplicate of #274 and the fix is to install Windows updates.

@nikkozzblu and @anonzak both your systems seem really slow. Docker for Window starts a Hyper-V Linux VM which on most systems, even on most of our laptops takes about 10-15 seconds to start. It fails on both your system because th

[2017-02-06 16:15] #447 closed

[2017-02-06 16:44] rneugeba commented on #467
SLAT/EPT was introduced by Intel with Nehalem in 2008 (quite a long time ago...). I'm surprised Windows does not check stuff like this before enabling Hyper-V. We could check for SLAT...

[2017-02-06 16:57] simonferquel commented on #467
I think they don't check it because the extension can be enabled / disabled from BIOS settings even after the hv feature is installed.

[2017-02-06 21:03] weshead commented on #447
Just to follow up with the resolution.

The solution was to update Windows.
Windows was failing silently over a .NET 3.5 framework issue. This is the reason I was unaware of the latest updates to Windows.
Thank you for troubleshooting this for me.

[2017-02-06 21:14] rneugeba commented on #447
@weshead thanks for the update and glad it works for you now. I had a couple of systems where the auto-update also stopped.

[2017-02-06 21:29] sierran commented on #188
But still terrible performance with Symfony + Nginx + MySql, 11 seconds for blank page.

[2017-02-06 22:48] peterhorvath commented on #114
Hi Guys,

I've the latest docker for windows and can't start the sharing.
It says firewall is blocking it.
I see the rules added to the firewall by default DockerSmbMount.
And even thought i am on a domain machine my domain profile is windows firewall turned off.

Is there a way to figure out what is blocking. I have ESET and McAfee but none is saying it would block anything. I am on windows 10 en

[2017-02-06 23:10] kallie-b commented on #458
@minherz -- apologies for the delay, and I'll be happy to clarify.

We are working on this, and we know that it's a complication that is causing frustration in the development process. There are two cases we're aware of:

1. Host <--> container communication using the host IP
2. Host <--> container communication using localhost (or 127.0.0.1)

The first item is a fix that we have resolved, and sho

[2017-02-07 00:09] rneugeba commented on #114
@peterhorvath can you add your details to #345. Looks more appropriate. Could you also add a diagnostics ID.

[2017-02-07 08:50] joben opened #468 "Error when switching to Windows Containers"
### Expected behavior
Switch docker to use Windows Containers
### Actual behavior
Error during the switch. Docker Whale turns red.
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
2A8D0902-3D7C-41BF-ABE0-BA7E5CC4E130/2017-02-07_16-42-05
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distrib

[2017-02-07 09:09] simonferquel commented on #468
Hi @joben
From the logs, I see that it is a Windows Container Networking issue (something the Docker for Windows team is not responsible for).

Could you please submit this issue to https://github.com/docker/docker/issues ?

[2017-02-07 09:54] fmiguelmmartins opened #469 "Impossible to ping/connect/access container IP in docker for windows"
### Expected behavior
Being able to ping/connect the container.
I've tried
- telnet localhost 5672
- telnet 172.17.0.2 (Ip of the container obtained with docker inspect container ID)
- ping 172.17.0.2

### Actual behavior
Timeout, can't connect.

For a few days now I've been having difficulty accessing a RabbitMQ container from my host machine (Windows 10) I've tried reproducing this in two differ

[2017-02-07 10:59] cs96and opened #470 "Slow DNS lookups"
This seems to be a similar problem to the Mac issue https://github.com/docker/for-mac/issues/973.  That was supposedly fixed in beta 31.  However I am seeing the same issue on Windows on beta 40.  I've tried a factory reset, and also uninstalling/reinstalling but neither makes any difference.

### Expected behavior
DNS lookups take a few milliseconds

### Actual behavior
DNS lookups are taking sev

[2017-02-07 11:12] atmorell commented on #426
Is there any workaround for this crash?

[2017-02-07 12:17] minherz commented on #458
@kallie-b, great news! And thank you for the update. If there is a chance that you can provide a KB number for the anticipated update, i will appreciate that.

[2017-02-07 14:05] scollado commented on #466
@simonferquel IT said there was no specific limitation on domain level for shares, and indeed other coworkers don't get this problem.
We'll try to follow the auth logs of the shared folder and report back here when I'll get more details about what's going on.

@atouboul I tried with Windows Firewall disabled, but no result. The problem seems to be with the authentication when trying to mount the s

[2017-02-07 14:31] tobias-kuendig commented on #409
I am experiencing the problems reported in #72. If I shut down my host and reboot it after 5 minutes the time of all containers runs 5 minutes behind. Enabling time sync fixes this problem until the next reboot since the MobyLinuxVM gets recreated and the time sync setting gets disabled again.

I am running beta 40.

[2017-02-07 14:36] simonferquel commented on #466
Can you try to create a local windows account and use it to share the drive ? (this will require correct ntfs rights on the folders you want to use though)

[2017-02-07 14:40] peterhorvath commented on #345
I have similar problem.
I am on corporate network with corporate laptop with windows 10 enterprise 64bit development mode enabled.
Domain profile has the firewall turned off.

A diagnostic was uploaded with id: 2A4F4285-C322-442B-896E-CE391D2F163E/2017-02-07_09-32-55
![image](https://cloud.githubusercontent.com/assets/1454081/22695442/cf46cbb2-ed18-11e6-9bf6-46d0973439fe.png)
![image](https://clou

[2017-02-07 14:40] simonferquel commented on #469
With Docker for Windows, you can't access a container ip directly but need to map the port on the host (except if you are trying to reach the container from another container).

Please run your container with -p 5672:5672 and try to reach it on 127.0.0.1:5672

[2017-02-07 14:42] simonferquel commented on #470
@djs55 could it be an issue in VpnKit ?

[2017-02-07 14:49] fmiguelmmartins commented on #469
Mate you are an absolute life saver! Thanks for the explanation. It is working now!

In linux I would just run the container without specifying the port, inspect the port/ip  and it worked. Good to know that in Windows the process is different.

Cheers!

[2017-02-07 15:04] #469 closed

[2017-02-07 16:22] simonferquel commented on #345
The network between the Linux VM and Windows is categorized as public. Can you check in Network and Sharing Center / Change advanced settings that file and printer sharing is enabled for "Guest or public" networks ?

[2017-02-07 16:31] peterhorvath commented on #345
![image](https://cloud.githubusercontent.com/assets/1454081/22700318/3e7f08d2-ed28-11e6-9438-0a7a16924ef1.png)
![image](https://cloud.githubusercontent.com/assets/1454081/22700472/d3154b46-ed28-11e6-8e37-d4a7e2d41ab0.png)

[2017-02-07 18:25] dazhao-msft opened #471 "Shared drive broken when switching networks"
This is a customer issue reported by a VS user. The original comment is at https://developercommunity.visualstudio.com/content/problem/16774/docker-error-when-running-aspnet-core-11-web-app.html.

Here is his original comment:

_I reported the incorrect version # in the .yml file and have been told it will be fixed in the next RC update. I also have a problem every time I move between networks. Fo

[2017-02-07 20:07] sthuber90 commented on #466
Hi, I also have exactly the same problem When trying to share a drive I always get the error that a firewall is blocking the connection. But I allowed everything to pass through the firewall -> no change, even deactivated the firewall -> still no change

**Information**
- Diagnostic ID: 8B12CBE2-8366-4B05-8C8F-740C68352C0A/2017-02-06_15-41-18)
- Windows 10 Pro with AD
- Sophos Antivirus
- Docker 4

[2017-02-07 20:20] workmonitored opened #472 "Docker not mounting directory properly"
### Expected behavior
Docker should mount the volume correctly during initial start.
### Actual behavior
Docker does not mount the volume correctly. The files are not visible during initial starting of windows 10 system. Stopping and starting container is needed.
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
495E0286-6973-4DD1-8ABD-83199CE63B9C/2017-02-07_13-04-16
  -

[2017-02-07 21:22] caleblloyd opened #473 "Unable to set Docker for Windows Containers Daemon Settings"
Version: 1.13.1-rc2-beta41 (10019)
Channel: beta

**Expected Behavior**

Daemon configuration settings should get put into ` C:\ProgramData\Docker\config\daemon.json`

**Actual Behavior**

Even if I manually set `C:\ProgramData\Docker\config\daemon.json`, it is overwritten with `{}` every time I click "Switch to Windows Containers"

![image](https://cloud.githubusercontent.com/assets/2414837/22712

[2017-02-07 21:37] Ltek commented on #412
Yes, I can create, and run, other Hyper-V VMs just fine.

From: Rolf Neugebauer [mailto:notifications@github.com]
Sent: Saturday, February 04, 2017 2:53 PM
To: docker/for-win <for-win@noreply.github.com>
Cc: Ltek <ltek.llc@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [docker/for-win] Win10 : virtualization enabled but Docker does not see it - will not load (#412)

@Ltek <https://g

[2017-02-07 22:44] kallie-b commented on #458
Let me see what I can do :)

[2017-02-07 23:17] mauro-dellachiesa opened #474 "Windows container loses network connection when connecting the host to Pulse Secure VPN"
### Expected behavior
Windows container should have access to the external network (internet) and still be accessible from host
after connecting the VPN (Pulse Secure)
### Actual behavior
Windows container has network connection until the VPN is connected on the host.
### Information

  - Diagnostic ID: 9AC0171B-D643-4B71-813A-6A8C0ACB121C/2017-02-07_20-05-51
  - Windows 10 Pro Version	10.0.14393

[2017-02-08 01:59] tinchou commented on #453
I'm also interested in this feature. I have a powerful desktop machine and a laptop on the same network, and I'm trying to open up my desktop docker daemon so I can run all my Linux containers there.

[2017-02-08 08:41] dockergirl commented on #454
Thought i add that finally i got one Win10 PC & docker latets is working fine for build containers.

[2017-02-08 08:48] dockergirl opened #475 "How can i reset permission for my own added files(Click Once .Net c#) in a docker container image ?"
### Files shall be ok to read/write & all...Docker For Windows on Windows 10 building nginx with .Net Click Once content.

### Warning by docker build & i dont see my website in IE localhost. Build successful with this warning. Container exec do well...nginx up&running, my files i can list with ls in container.

### Information

  -SECURITY WARNING: You are building a Docker image from Windows aga

[2017-02-08 08:51] rneugeba commented on #454
great. Glad that it is working for you

[2017-02-08 09:01] simonferquel commented on #471
Thanks for the report.

Just unsharing - re-sharing the drive should work imo. There seem to have 2 parts for this issue:
- The Firewall thing (making sure port 445 on the host is reachable from the Linux VM) -> we fixed that by creating a firewall rule that allows port 445 to be reached on the internal HV network endpoint from (and only from) the Linux VM IP
- The Samba server service enabling/di

[2017-02-08 09:04] simonferquel commented on #453
We have now an internal ticket tracking this issue. Can't give a date on when it will be enabled though.

[2017-02-08 09:10] simonferquel commented on #472
Thanks for the report. It is a tricky issue as for now, we need the Docker daemon to be running to mount shared drives (and when starting, the daemon automatically start the containers marked as "restart: always").

@justincormack could we do something in moby (or even just in our mount/nsenter script) to make the cifs mount persistent across reboot to make sure it is mounted before starting docke

[2017-02-08 09:23] simonferquel commented on #473
This is a UI issue:
Daemon.json settings for Linux and Windows containers are separated. So, when you are switched to Linux containers, editing the daemon.json only applies to Linux. After switching to Windows containers, the Daemon tab should show you the Windows daemon.json content (and allow you to edit it as you want). Clicking "apply" will restart the Windows daemon with those settings.

Alth

[2017-02-08 09:24] simonferquel commented on #473
I'll wait for confirmation that this works for you and close the issue

[2017-02-08 09:26] simonferquel commented on #474
Are you running your app in a Linux container or a Windows one ?

On a Linux container, if port is correctly exposed, you should access it using localhost:<port>

[2017-02-08 09:29] simonferquel commented on #475
Can you please share your `dockerfile` and the `docker run` command you are using ?

[2017-02-08 09:42] dockergirl commented on #475
FROM nginx:latest
# RUN apt-get -y update && apt-get
COPY  myClickOnceStuff /usr/share/nginx/www/myClickOnceStuff
CMD ["nginx", "-g", "daemon off;"]

[2017-02-08 09:48] justincormack commented on #472
@simonferquel sure, you just need to pass the credentials in.

[2017-02-08 10:25] scollado commented on #466
@simonferquel I tried with a local account : same behavior (check box, click apply, wait, back to initial state)

SMBServer Security event logs report following error (OS is in french) :
[code]

[2017-02-08 10:34] atouboul commented on #466
Hello,

Just to let you know:
When disabling my firewall, I have noticed that when sharing the C drive, windows behaves like if docker/hyper-v are in a public network.
I have disabled only my firewall for the public network in order to find this.

At the end since there was no actual solutions, I ended up by creating a linux VM on my machine and set docker in a linux environment. not the best solu

[2017-02-08 10:58] cs96and commented on #470
The issue occurs in beta 41.

[2017-02-08 11:28] caleblloyd commented on #473
The problem for me is that my network bridge is somehow messed up and now I can't start Docker for Windows without it, so my "Switch to Windows Containers" never completes successfully.. https://github.com/docker/docker/issues/30280

Also, what if someone puts invalid settings in the `daemon.json` and then can't get the windows daemon to start?  Then they will never be able to change them in the G

[2017-02-08 12:14] simonferquel commented on #473
Hmm, you are right.
As a temporary workaround, you can go to c:\users\<username>\AppData\Roaming\Docker and edit settings.json. Just add `"WindowsDaemonOptions":"{  \"bridge\": \"none\"}"` in the root json object.

[2017-02-08 12:17] simonferquel commented on #475
The permission should not be a problem. You might want to look at the nginx image documentation though to know where to put content files.

The warning just says that as the security model of windows and Linux are different, it uses a default that says basically "everything is read/write/executable"

[2017-02-08 12:46] mauro-dellachiesa commented on #474
I'm running a Windows container (microsoft/aspnet) on a Windows host.

[2017-02-08 13:17] dockergirl commented on #475
COPY static-html-directory /usr/share/nginx/html :-)
it was the error...now working see my pages on localhost :-) ...have to check if they are working though.

[2017-02-08 13:33] simonferquel commented on #474
Ok, could you file an issue on https://github.com/docker/docker/issues ? Networking with Windows containers is handled in the Core docker project

[2017-02-08 13:39] mauro-dellachiesa commented on #474
Sure thing! Thanks

[2017-02-08 14:23] friism commented on #453
@johnnyhoffman @tinchou if we enabled this, how would you want authentication to work?

 * Windows AD login
 * `docker login`, using your Docker ID
 * None (not a good idea)

[2017-02-08 14:30] rneugeba commented on #71
@workmonitored reported the same issue on #472.

[2017-02-08 14:30] rneugeba commented on #472
I'm closing this as a duplicate of https://github.com/docker/for-win/issues/71. Please continue the discussion there. @workmonitored I'll ping you on that issue, so that you get updates from there

[2017-02-08 14:30] #472 closed

[2017-02-08 14:35] simonferquel commented on #71
The only way I can think of it would require at least to keep the credential in clear text in memory (like in datakit and exposed to moby trough 9pmount).
Feels meehh! to me.

[2017-02-08 14:52] josephby opened #476 "Docker starts on login even when Start Docker when you log in" checkbox is cleared"
### Expected behavior
1. Start Windows
2. Log In
Docker should not start at log in. Docker icon should not be visible in the System Tray.

### Actual behavior
1. Start Windows
2. Log In

#### Results:
* Docker dialog box appears warning that Hyper-V is not installed
* Docker icon is visible in system tray.
* If you right click the Docker icon and click "Settings," you will see that "Docker is runn

[2017-02-08 15:17] simonferquel commented on #476
What version of Docker for Windows are you using ? I did not manage to reproduce the issue

[2017-02-08 15:17] ldlchina commented on #432
I have the same issue. The steps above do not work for me.
Diagnostics ID: A9FBB75A-B349-4CE5-A394-2FF57745B3D0/2017-02-08_23-14-56.

[2017-02-08 15:18] simonferquel commented on #475
Can we close the issue rhen ?

[2017-02-08 15:19] simonferquel commented on #474
Closing the issue on this tracker then :) thanks !

[2017-02-08 15:19] #474 closed

[2017-02-08 15:32] dockergirl commented on #475
Yes but if it had been a security issue then is there any manual to get the command from ? I mean i have to edit a file in an image, how do i do that ? Do i remove the file and then add myeditedfile with dockerfile ?

[2017-02-08 15:35] simonferquel commented on #369
No idea, maybe a proxy server with a fancy authentication protocol ?

[2017-02-08 15:37] rneugeba commented on #432
@ldlchina your error message is different. Could you upgrade to either 1.13 stable or the latest Beta if it still doesn't work open another issue.
thanks

[2017-02-08 15:37] simonferquel commented on #475
what you can do is in your dockerfile, changing the rights on the files you just added with a `RUN chmod ...` command for putting explicit access rights to your file

[2017-02-08 15:37] #475 closed

[2017-02-08 15:38] simonferquel commented on #473
Please let me know if the workaround works. The UI part of the issue is now tracked internally.

[2017-02-08 15:46] minherz commented on #458
Thank you a lot.

[2017-02-08 15:48] caleblloyd commented on #473
Workaround works great - thanks!

[2017-02-08 16:19] weidi commented on #369
It´s a bluecoat proxy and until now i managed connections through it with
every piece of software even my own ;)

2017-02-08 16:35 GMT+01:00 Simon Ferquel <notifications@github.com>:

[2017-02-08 16:21] josephby commented on #476
1.13.0 (9795).
Also, note that the user I am using is *not* an Administrator.

[2017-02-08 16:27] #473 closed

[2017-02-08 17:19] ftdube opened #477 "Docker service fails to start with Powershell error: Creating the virtual machine failed"
### Expected behavior
Docker service starts with no error

### Actual behavior
Docker fails to start and I get an error saying :

Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Creating the virtual machine failed.
at New-MobyLinuxVM, <No file>: line 197
at <ScriptBlock>, <No file>: line 374
   at Docker.Back

[2017-02-08 17:32] simonferquel commented on #477
Can you try to create any VM manually from Hyper-V manager ?

[2017-02-08 18:10] zonyl opened #478 "Device Option not mapping Serial Port COMx to container"
### Expected behavior
Serial Port from host available to container
 docker run --device COM3:/dev/ttyS2

### Actual behavior
 docker run --device COM3:/dev/ttyS2 -v /c/Projects/mh/local:/usr/src/misterhouse/local -t -i zonyl/misterhouse
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: linux runtime spec devices: error gathering device information while adding cu

[2017-02-08 18:43] workmonitored commented on #71
So basically the docker daemon starts before I login and does not have access to the directory I have access to and then when I login and stop and start the docker image, it has credentials and it can see the files.

In my case, I have a windows domain account and local account with admin rights. When I pull up the procexp64 from sysinternals, it looks like it is running under user id with local a

[2017-02-08 18:44] tinchou commented on #453
Whatever's best for cross-platform! If one day I move that daemon to a Linux host or a Mac host, ideally it'd be transparent to me. I'm only talking to a docker daemon to run Linux Containers, I don't care about the host.

[2017-02-08 20:44] 022738 commented on #214
I fixed this by reducing the length of the file path - c:\vhd, from an extended path. Also changed permissions on the folder

[2017-02-08 23:30] gmcghie commented on #398
That is correct.  Mounting a folder that contains the client certificates and using those to connect to the database.  I confirmed that the volume was there and that I could read the certificate files prior to submitting the bug.  Works fine on the mac, not at all on windows.

[2017-02-09 01:05] braveness23 commented on #388
Sorry about the long delay.  Life happened.  I have been keeping up with Beta upgrades so I am current.  Here is the output

PS F:\Users\Xxx\Desktop\Docker for Win> .\CleanupContainerHostNetworking.ps1 -Cleanup -ForceDeleteAllSwitches
docker : Error response from daemon: bridge is a pre-defined network and
cannot be removed
At F:\Users\Xxx\Desktop\Docker for Win\CleanupContainerHostNetworking.ps1:

[2017-02-09 03:17] Ltek commented on #214
Where/how are you 'reducing the length of the file path"?

[2017-02-09 07:21] 022738 commented on #214
In docker settings - mine is now c:\vhd
On Thu, 9 Feb 2017 at 03:17, Ltek <notifications@github.com> wrote:

[2017-02-09 09:20] adi8i commented on #310
Exactly the same issue here, on Windows 10 PRO, I see there are many references of similar issues...

[2017-02-09 10:28] rneugeba commented on #310
@adi8i the error can have many causes. Please file a separate issue with a Diagnostics ID so we can take a look.
Thanks

[2017-02-09 10:30] rneugeba commented on #478
The container is running in a Linux VM and it is not possible to map host (windows) devices such as the serial port into the VM so you can't map it into the container. So unfortunately, this won't fix

[2017-02-09 10:30] #478 closed

[2017-02-09 14:06] devedse commented on #464
Will check that out

[2017-02-09 15:05] jtnord commented on #466
Have exactly the same issue, but the machine is not part of a domain.

[code]

[2017-02-09 15:15] chymerix opened #479 "Unable to execute Start: Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Failed to create the virtual hard disk. The system failed to create 'C:\Users\Public\Documents\Hyper-V\Virtual Hard Disks\MobyLinuxVM.vhdx'. at New-MobyLinuxVM"
### Information

  - Diagnostic ID: A59BE300-120E-483E-A887-4F182F44F14C/2017-02-09_10-13-08

### Steps to reproduce the behavior

I can't get Docker to start on Windows 10. It errors out every time with this error:

Unable to execute Start: Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Failed to create the

[2017-02-09 15:28] chymerix commented on #479
Some additional information: When I look at the C:\Users\Public\Documents\Hyper-V\Virtual Hard Disks directory, I do see that the MobyLinuxVM.vhdx is there. When I delete that image and try restarting Docker, my system crashes and I get this error:

DRIVER_IRQL_NOT_LESS_OR_EQUAL

What failed: secnvme.sys

I have a Samsung 960 Pro SSD - I wonder if this is causing the issue?

[2017-02-09 15:30] chymerix commented on #479
Confirmed: https://github.com/docker/for-win/issues/350

[2017-02-09 15:30] #479 closed

[2017-02-09 15:51] jtnord commented on #466
So an update from the above.  I need to access my personal files which are restricted to my user.

so I was using my username and password when sharing.
However if I changed to use the local computers administrator account then the share worked - however I am unable to access my files inside the docker container (permission denied) - which is not unsurprising.

The firewall and public/private netw

[2017-02-09 16:16] jtnord opened #480 "Shared Drives do not work if password contains unsafe linux shell characters"
### Expected behavior

The username and password I enter can be used to create/mount a share

### Actual behavior

if my password contains unsafe characters like `! " $ * ( '` (the list to the right has not been fully vetted and there may be more unsafe characters or it may be just a subset of them that cause issues) then the share is created but the mount fails and then the share is destroyed.  T

[2017-02-09 17:43] rneugeba commented on #480
@jtnord I'm pretty sure that the special characters you mention above work as we test them (and some are in my password). Here is what we use for testing:
`P@s;w," .%^*03rd$`\/r!`
`d$!ø§£µîüéàæøå4`
`s=#~2))-+|{}[]<>`
The two missing from your list is `(` which should be fine, and `'` which may be special

[2017-02-09 18:02] jtnord commented on #480
@rneugeba well it didn't work for my with my normal user account.
I created a new account with password `myPassword!$` and it didn't work.
I change the password to `myPassword` and it worked first time.

Maybe it is the combination coupled with the fact that it is at the end?  I don't know but the above steps reproduced the issue for me.

[2017-02-09 18:59] rneugeba commented on #480
I've just tried with Beta41 and the password you mention just works

[2017-02-09 18:59] keslerm commented on #351
I am having the same issue with installing images. FWIW I was able to download the nanoserver image last night. I then tried to download the windowsservercore image today but that failed, so to test I removed the nanoserver image and reset docker, and am now unable to now even load the nanoserver image.

The only thing that had changed between then is I moved my computer from one wifi network to a

[2017-02-09 22:34] fredgate commented on #448
So how to use docker-compose on windows server 2016 ? The recommanded installation provides only the daemon and the client but not compose.

[2017-02-09 23:08] johnnyhoffman commented on #453
Thanks for the updates!
I agree with @tinchou - it would be preferable to have something OS agnostic.
My team doesn't use Windows AD, and it might be overkill to set it up for this use case.

[2017-02-09 23:31] friism commented on #448
Invoke-Webrequest https://github.com/docker/compose/releases/download/1.11.1/docker-compose-Windows-x86_64.exe -OutFile $Env:Programfiles\docker\docker-compose.exe

[2017-02-10 05:51] avcarrillo commented on #345
Guest or Public File and printer sharing are set to on. Still have the same problem

[2017-02-10 06:14] avcarrillo commented on #345
Ok, I was able to get it working on my pc. The issue is I am on a corp domain, and the group policy was keeping the firewall on. I tried adding all the rules recommended by the Docker Docs, and disabling the actual windows service, but no luck. I finally follwed the instructions here https://www.vanstechelman.eu/windows/how_to_bypass_domain_policy_firewall_settings, but instead of removing the reg

[2017-02-10 09:14] simonferquel commented on #480
Per chance, are you using an old version of Docker for Windows (I mean, very old) ?

[2017-02-10 09:26] sthuber90 commented on #466
What I find somewhat strange is that even if I share my C: drive manually for everyone and then try to activate sharing in docker4win it will enable sharing and say that it's successfull, then suddenly decides that the "firewall is blocking", which I checked and cannot be the case, before unmounting C: drive again.

Also I see a container derived from the d4w/nsenter image starting up, when trying

[2017-02-10 09:30] parha commented on #320
I seem to be experiencing this (or a similar) issue.
Diagnostic ID: DD0B897E-F560-41B6-B1E8-D4D0675B2E39/2017-02-10_10-12-16

[2017-02-10 10:01] weidi commented on #369
I think it´s a 407 based authentication method so any browser or so prompts
for a password. Normally any other tool or linux is working when specifying
e.g. http_proxy="http://user:password@proxy.fqdn.net"

2017-02-10 10:11 GMT+01:00 Simon Ferquel <notifications@github.com>:

[2017-02-10 10:28] rneugeba commented on #440
this should now be fixed in both the beta and the stable channel. Thanks for bringing this to our attention

[2017-02-10 10:28] #440 closed

[2017-02-10 13:30] sethmoore opened #481 "Windows docker image build hangs on creating a directory"
### Expected behavior
A windows docker image is successfully built.

### Actual behavior
A windows docker image build is unsuccessful.

### Information
Running Windows 10 OS build 14393.0

I'm following the [instructions given by Microsoft][1] to create a windows docker image for an ASP.Net application but for some reason it can't get past the `mkdir` step.

Here is the dockerfile:

    FROM micro

[2017-02-10 13:49] yvesdelvaux opened #482 "[NamedPipeServer][Error ] Pipe failure: Pipe hasn't been connected yet"
### Expected behavior
I can restart Docker without restart my pc.

### Actual behavior
Docker doesn't restart and freeze.

### Information

  - Diagnostic ID : 6C2349F8-BC33-4B0F-9D88-DA5E76C8BD03/2017-02-10_14-32-36
  - Reproductible case : Update the docker or restart it
  - host distribution and version (Windows version, build number, etc) Windows 10 14393

### Steps to reproduce the behavior

[2017-02-10 14:28] dockergirl opened #483 "Dockerimage won't get its content refreshed by dockerbuilt."
###
I built an nginx image with my default ClickOnceStuff as a game . Now, i want to get the container in the productive cloud where i need to add the complete ClickOnce content & all my nice webpages.

### Actual behavior
I changed dockerfile COPY to the another directory, where i have my complete web content and changed the line COPY blabla ...It did not work IE is still displaying the old conte

[2017-02-10 14:36] jophlyn opened #484 "MobyLinuxVM failed to start [Hyper-V]"
### Expected behavior
Docker running after install
### Actual behavior
'MobyLinuxVM' could not initialize.

'MobyLinuxVM' failed to start.
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
F6143753-3D13-4B54-B7B3-936C5DEF2646/2017-02-10_09-19-47
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host

[2017-02-10 14:43] rneugeba commented on #409
I'm curious as to why the Time synchronisation service is not running. Is it not enabled by default or does it get disabled. We can't reproduce it here.

Could someone try the following:

- Exit the application
- In an elevated powershell: `& 'C:\Program Files\Docker\Docker\resources\MobyLinux.ps1' -destroy`. *Note* this will remove all your container images.
- in an elevated powershell: ` while (

[2017-02-10 14:51] dockergirl commented on #483
Finally, i deleted the image ...but is there any command or something ? I mean it is very annoying because how should i know that a build wont build ??? There is no message.

[2017-02-10 14:57] friism commented on #483
@dockergirl please use this repo for reporting bugs and issues with Docker for Windows. If you're looking for suggestions and help on using Docker, please file a post with details on what you're trying to do on the forums: https://forums.docker.com/

[2017-02-10 14:57] #483 closed

[2017-02-10 14:59] dockergirl commented on #483
yes but the content is not refreshed is it not a bug for you ?

[2017-02-10 15:03] friism commented on #483
@dockergirl please provide more details and a simple test that I can inspect run that reproduces the problem, and I'll let you know.

[2017-02-10 15:13] dockergirl commented on #483
Pull official nginx image and create a simple dockerfile like
FROM nginx:latest
# RUN apt-get -y update && apt-get
COPY  mywebsite /usr/share/nginx/html
CMD ["nginx", "-g", "daemon off;"]

mywebsite will contain a simple htm page mywebpage.htm just writing hello world (for me it is the complete Click Once stuff but it doesnt matter, simple static html content will do)

put docker file beside myweb

[2017-02-10 15:22] aversag commented on #370
I have the same here after upgrade

582E2819-12CA-4CAD-924C-F3B87D9F13EA/2017-02-10_16-09-08

ty

[2017-02-10 15:24] sethmoore commented on #481
The combination of a Windows update and getting the newest version of Docker solved my problem.

[2017-02-10 15:34] dlwyatt commented on #349
I've encountered the same problems recently; in my case, the uninstall (or upgrade) hangs when trying to remove the DockerNAT switch from Hyper-V.  I've worked around it by uninstalling Hyper-V, rebooting, then uninstalling / upgrading Docker, and finally reinstalling Hyper-V.  That's annoying, since it involves two reboots, but it's better than nothing.

[2017-02-10 15:40] friism commented on #483
By default `ps` only shows running containers. Use `ps -a` to also show stopped containers. To have containers automatically removed once they exit, use `docker run --rm <your-image>`.

[code]

As you can see above, the scenario you describe works great.

[2017-02-10 16:24] rneugeba commented on #484
Thanks for your report. Your system seems to have both bits of  VirtualBox and VMware installed. In particular your networking still seems to be running through Virtual Box. Hyper-V does not work with either VirtualBox nor VMare installed (see [here](https://docs.docker.com/docker-for-windows/#what-to-know-before-you-install)).

Out of curiosity could you provide the output of `get-computerinfo *h

[2017-02-10 16:36] rneugeba commented on #482
Thanks for your report. Something seems to have gone wrong during the upgrade process. It's not clear what, but could you try:
- Reset to factory defaults (from the whale menu, Settings, reset)
- If that doesn't work, manually uninstall docker and download the latest installer from https://docs.docker.com/docker-for-windows/

Thanks

[2017-02-10 16:38] rneugeba commented on #481
Great that you managed to solve it and it is working. Closing.

[2017-02-10 16:38] #481 closed

[2017-02-10 18:13] bcorcoranJMP commented on #463
I was able to get a pre-deployment copy of Symantec Endpoint 14.0.  Installing this and putting in the appropriate folder exceptions (program files\Docker, ProgramData\Docker) has fixed the problem.  This could be a pretty big issue for users that have AV software blocking use of temp files during a pull.

[2017-02-10 18:13] #463 closed

[2017-02-10 18:25] ftdube commented on #477
Ironically it seems like rebooting my PC fixed the issue.  But I can't seem to have access to my grid even if the containers are running and the docker ps command doesn't seem to work :\

[2017-02-10 18:27] rneugeba commented on #463
Thanks for getting back to us and glad it's working. I'll pass the above on

[2017-02-10 19:29] nancwang opened #485 ""docker --version" got Exception in Window 10 pro"
### Expected behavior
Docker version 1.12.0, build 8eab29e, experimental

### Actual behaviour
Exception 0xc0000005 0x0 0x240c67af2a4 0x18000890a
PC=0x18000890a

syscall.Syscall(0x7ffc73a4dc40, 0x2, 0x30c, 0x3, 0x0, 0x0, 0x0, 0x310)
        /usr/local/go/src/runtime/syscall_windows.go:163 +0x6b
...

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
55B0B206-D953-476C-8234-

[2017-02-10 19:56] friism commented on #485
Do you have WebCompanion installed? https://github.com/docker/docker/issues/27423#issuecomment-278292231

[2017-02-10 20:24] eferias opened #486 "Docker memory issue??"
### Expected behavior
to run
### Actual behavior
doesn't run
### Information
says that i am out of memory, however i am trying to run it on a brand new surface 4 pro and i have over 75% of my hard drive free. under advanced settings, it shows that the memory is being maxed out at 2048gb. every other system that runs docker (that i've seen) shows its using at least 2gb but it wont let me pass 2048

[2017-02-10 20:50] nancwang commented on #485
Thanks friism! removing WebCompanion makes docker work but my IE got issue. I can live with Firefox.

[2017-02-10 21:28] mmisztal1980 opened #487 "Docker stuck in "Docker is starting" state"
### Expected behavior
Docker should start, and the Windowed-app should be usable. CLI should be usable, and a small Linux VM should be present in Hyper-V.

### Actual behavior
Docker is stuck in starting state, and most of the options in the windowed app are frozen. The tray icon says "docker is starting" and it doesn't change. Attempts to run a container result with an error in the CLI. No Moby-L

[2017-02-10 21:51] mmisztal1980 commented on #487
**Update**
I've uninstalled Hyper-V and rebooted the machine. Docker has picked this up and prompted me to enable Hyper-V - which I did. after a reboot the issue persists.

[2017-02-10 22:36] rneugeba commented on #485
thanks for reporting. Closing as a dup of https://github.com/docker/docker/issues/27423

[2017-02-10 22:36] #485 closed

[2017-02-10 22:48] jophlyn commented on #484
I tried to run the get-computerinfo command, and it failed.  I then learned that it was a command introduced in Power Shell 5.1, and I only had 5.0 installed.  After digging to figure out why the latest Power Shell wasn't installed, I discovered that because of some change in IT Update policy, my computer hasn't received an update in several months.  A few hours of applying Windows updates later,

[2017-02-10 22:48] #484 closed

[2017-02-10 22:50] rneugeba commented on #486
The memory referred to in the error message is RAM not the hard disk. Your system seems to have only 4GB of memory which is a "bit tight" to run a Linux VM which is configured by default to use 2GB. You can adjust the memory for the VM in the settings menu under the advanced tab. Note, while you can reduce the memory used by the VM it may have a performance impact or cause other issues.

I'm closi

[2017-02-10 22:50] #486 closed

[2017-02-10 22:56] rneugeba commented on #482
@mmisztal1980 reported the same error with exactly the same error message on https://github.com/docker/for-win/issues/487 with diagnostics id 5239E3DB-D0D2-47AE-B158-5D03C5A0619A/2017-02-10_22-19-15

the error message is:
[code]

[2017-02-10 22:57] rneugeba commented on #487
@mmisztal1980 thanks for your report. You seem to have the exact same error message as in #482. I'm closing this as a duplicate. I've mentioned you on that issue so that you should get updates. Could you try what I suggested in: https://github.com/docker/for-win/issues/482#issuecomment-278993095

[2017-02-10 22:57] #487 closed

[2017-02-10 23:09] rneugeba commented on #390
I'm closing this issue and locking it. The issue is quite old and we have released major updates on both the beta and stable channel. If you still have an issue, please open a new issue.
Thanks

[2017-02-10 23:09] #390 closed

[2017-02-10 23:11] rneugeba commented on #407
Closing this issue due to inactivity. Please re-open if you additional information.
thanks

[2017-02-10 23:11] #407 closed

[2017-02-10 23:12] rneugeba commented on #410
Closing this issue due to inactivity. Please re-open if you have additional information.
thanks

[2017-02-10 23:12] #410 closed

[2017-02-10 23:14] rneugeba commented on #433
Closing this issue due to inactivity. Please re-open if you have additional information
thanks

[2017-02-10 23:14] #433 closed

[2017-02-10 23:14] rneugeba commented on #438
Closing this issue due to inactivity. Please re-open when you have the additional information
thanks

[2017-02-10 23:14] #438 closed

[2017-02-10 23:16] rneugeba commented on #441
Closing this issue due to inactivity. Please re-open when you have the additional information and please provide a diagnostics ID so that we can take a look.
thanks

[2017-02-10 23:16] #441 closed

[2017-02-10 23:19] rneugeba commented on #460
Closing this issue due to inactivity. Please re-open once you verified that your windows build has the required version (build 10586 or nevwer). Either via the command listed above or `$PSVersionTable`

[2017-02-10 23:19] #460 closed

[2017-02-11 00:11] dvprao commented on #482
https://github.com/docker/for-win/issues
CAFC569A-DA17-4E8C-ABA5-D9AF5DFA1809/2017-02-10_16-08-08
error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.26/containers/json: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker client must be run elevated to connect. This error may also indicate that the docker

[2017-02-11 00:14] rneugeba commented on #484
@jophlyn thanks for getting back and glad it is now working for you

[2017-02-11 00:19] rneugeba commented on #482
@dvprao thanks for the report. I have already filed on internal issue

[2017-02-11 00:55] jtnord commented on #480
Nope - 1.13.1-rc2-beta41

[2017-02-11 02:36] mmisztal1980 commented on #482
@rneugeba It's impossible to use the "reset". All the options in the "Reset" pane are grayed out.

[2017-02-11 02:41] mmisztal1980 commented on #482
@rneugeba I've reinstalled docker for windows using the latest **stable** installer. Same issue.

[2017-02-11 09:46] rneugeba commented on #482
@mmisztal1980 could you provide a diagnostics ID? thanks

[2017-02-11 09:56] mmisztal1980 commented on #482
Latest uploaded diagnostic: 5239E3DB-D0D2-47AE-B158-5D03C5A0619A/2017-02-11_10-55-40

[2017-02-11 10:28] rneugeba commented on #482
@mmisztal1980 thanks for the quick response. Your issue seems different. could you file a separate issue? Thanks

[2017-02-11 10:28] mmisztal1980 commented on #482
I already did, but you closed it :D

[2017-02-11 10:30] rneugeba commented on #482
Ah, sorry. Yes, you other logs under 5239E3DB-D0D2-47AE-B158-5D03C5A0619A/2017-02-10_22-19-15 do show this error. Sorry, for the confusion

[2017-02-11 10:38] mmisztal1980 commented on #482
No problem, I suppose we can reopen it and continue there?

[2017-02-11 10:49] rneugeba commented on #482
no, your other logs contain the same error as the report on this issue. we need to look into why there is a backtrace and why subsequently nothing works anymore.

Did older versions work for you?
Did you install/update any software, in particular AV software?

[2017-02-11 10:54] mmisztal1980 commented on #482
It used to work up to a week ago, there was an update recently, but it didn't work by then.
My AV software is ESET NOD32, but I haven't made any updates to it's configuration recently.

[2017-02-11 11:27] rneugeba commented on #482
Could you try disabling the AV software and see if it works?

Also, could you try to revert to 1.12.6 from here https://download.docker.com/win/stable/1.12.6.9655/InstallDocker.msi

and also 1.13.0 from here:  https://download.docker.com/win/stable/1.13.0.9795/InstallDocker.msi

that would help us narrow down if it's something we changed.

Thanks

[2017-02-11 12:02] mmisztal1980 commented on #482
I've disabled the following features in NOD:
- HIPS (host intrusion prevention system)
- Real-time file system protection

No effect, docker is still "stuck" in "Docker is starting state". I'll try the older versions next.

[2017-02-11 12:06] JonCubed commented on #417
I'm getting this error with beta 42

diagnostic id: 41560D0B-E5AF-41B4-94BD-0C90C899004C/2017-02-11_22-59-15

OS: Windows 10 Pro
Build: 14393

[2017-02-11 12:13] mmisztal1980 commented on #482
##v1.12.6 :

Docker seems to be stuck again. Last meaninfgul enrtry in the log suggests that it was trying to create the Hyper-V NAT switch.

[code]

I'm attempting to upload a diagnostic but I'm not getting the UI to present me with the diagnostic's ID.

[2017-02-11 14:06] yvesdelvaux commented on #482
Thanks for the answer. I have installed the new version manually. That's work for the moment. But the next update can fail if this issue is not solved.

I already have this problem at the previous update. The issue appears with the Windows container version of docker.

[2017-02-11 18:42] neoaisac commented on #291
Docker crashes in Windows 10 PRO 64 bits every time after install. My Windows version is 1607, build 14393.693.
I've tried Docker 1.13.10 and 1.13.11 (which supposedly should have fixed it).
In both cases the installation was OK but the initialization of the service failed and an error window was shown.

The error is:

[code]
And the log below:
[code]

[2017-02-11 22:16] rneugeba commented on #291
@neoaisac could you please open a new issue and provide a diagnostics ID. Thanks

[2017-02-12 07:55] LiuSai-Dream commented on #286
If anyone can post download link of 1.13.0-beta39 docker. Thanks.

[2017-02-12 09:58] neoaisac opened #488 "The MobyLinux VM boots slowly"
### Expected behavior
Docker should start

### Actual behavior
After installation, Docker for Windows tries to start. I do have a taskbar icon showing that Docker is starting until it turns red and fails.

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
8267D089-D6EB-4ED3-A59E-F4826CFF53DC/2017-02-12_09-52-25

  - host distribution and version (Windows version, build num

[2017-02-12 09:58] neoaisac commented on #291
Done on https://github.com/docker/for-win/issues/488

[2017-02-12 12:50] cyberjoac commented on #482
+1

[2017-02-12 13:11] rneugeba commented on #482
@yvesdelvaux thanks for getting back. This is weird...Do you have any AV software installed?

@cyberjoac can you provide a diagnostic ID?

[2017-02-12 13:13] rneugeba commented on #286
@LiuSai-Dream why do you need Beta39? Do you see the issue with the latest Beta/Stable? If so could you provide a diagnostics ID so we can take a look?

[2017-02-12 13:31] scollado commented on #466
Just updated to 1.13.1, problem still occuring with exactly the same behavior/log messages

[2017-02-12 13:40] DongyueWang opened #489 "docker-machine created with driver hyperv could not connecting to exported ports"
### Expected behavior
Waiting for machine to be running, this may take a few minutes...
Detecting operating system of created instance...
Waiting for SSH to be available...
Detecting the provisioner...
Provisioning with boot2docker...
Copying certs to the local machine directory...
Copying certs to the remote machine...
Setting Docker configuration on the remote daemon...
Checking connection to Do

[2017-02-12 14:03] cyberjoac commented on #482
Just uploaded the diagnostic ID: 639B87D4-CE3B-4850-90DC-A38C83D12E6A/2017-02-12_16-01-57

Please note I can't see any VM in the Hyper-V manager..

[2017-02-12 14:28] minherz opened #490 "Cannot define volume via Dockerfile"
### Expected behavior
When creating a docker image with volume the image should be created.

### Actual behavior
An error `Unrecognised volume spec: invalid volume specification: '\test1'` is shown at step of execution of the `VOLUME` command.

### Information

  - Diagnostic ID: F9F388E9-7AB0-4CE8-BD59-045CF28124A7/2017-02-12_16-18-51
  - a reproducible case if this is a bug, Dockerfiles FTW
  -

[2017-02-12 14:43] Derek-Ashmore commented on #214
This is still an issue for me on V1.13.1.  Is there an archive windows install for 1.13.0?

I've tried the instructions from:

* vijayantkatyal commented on Nov 27, 2016
* o6uoq commented on Dec 21, 2016

I suspect that the issue has something to do with the fact that there is no MobyLinuxVM in Hyper-V after the failed install

Error text (full log file attached):
[code]
[log.txt](https://github.c

[2017-02-12 15:58] friism commented on #489
You're probably missing `--hyperv-virtual-switch`. See this: https://github.com/docker/labs/blob/master/swarm-mode/beginner-tutorial/swarm-node-hyperv-setup.ps1

Could I ask you to please close and re-open this on the docker-machine repo? https://github.com/docker/machine/

[2017-02-12 16:01] brooksa321 commented on #488
+1 Same issue

[2017-02-12 16:40] mmisztal1980 commented on #482
@rneugeba while using v12, I was consistently unable to upload any diagnostics.
I've updated to v13.0. The main issue persists, however I'm now able to upload diagnostics again, so :
I've uploaded a new diagnostic : 5239E3DB-D0D2-47AE-B158-5D03C5A0619A/2017-02-12_17-37-41

[2017-02-12 16:41] mmisztal1980 commented on #482
Another observation:
v12: while navigating the panes of the docker for windows application I'm aboe to see controls' contents, such as Subnet Mask, Subnet Address etc. - can't see any content in v13.

[2017-02-12 17:12] #489 closed

[2017-02-12 17:47] DongyueWang commented on #489
the hyperv-virtual-switch is DockerNAT which is internal net type.
should I create a virtual switch of external net type ?

2017-02-12 16:58 GMT+01:00 Michael Friis <notifications@github.com>:

[2017-02-12 19:45] 022738 commented on #214
Looks to me like you have a long path specified for your virtual machine -
C:\Users\Public\Documents\Hyper-V\Virtual Hard Disks\MobyLinuxVM.vhdx,
shorten it and see what happens
On Sun, 12 Feb 2017 at 14:43, Derek C. Ashmore <notifications@github.com>
wrote:

[2017-02-12 20:17] eliezeralmeida opened #491 "Sharing Windows 10; Firewall problem (firewall disabled)."
### Expected behavior
Disk Sharing C:

### Actual behavior
Firewall Blocking; But my firewall is disabled!

### Information
Diagnostic ID: B0370B99-0420-4F97-8E6F-29AD4C0F0FA9/2017-02-12_18-06-59
Docker Version: Version 1.13.1 (10072)
Windows Version: Windows 10 Pro Insider Preview, Build: 15031

### Steps to reproduce the behavior

1 - Right click on the Docker icon
2 - Click Settings
3 - Cripple

[2017-02-12 20:42] eliezeralmeida commented on #491
Apparently the problem is with the compilation Preview Insider;
I looked at the issues again and found something similar here # 355;

If this is really the problem, sorry for the issue.

[2017-02-12 21:03] yvesdelvaux commented on #482
@rneugeba Yes I have an AV (Trend Micro OfficeScan). I can't disable it. My firm has a strict security policy about it.

[2017-02-12 21:55] d4nc00per commented on #366
Is it possible to add something to the UI that explains why a password is enforced?

[2017-02-12 22:56] Ltek commented on #214
Path length is not the problem, changing it is not a fix. I tried C:\Docker
Crash Report with short path... 41D0C09E-1985-40D1-9DF6-8A3623AB67EA/2017-02-12_15-54-39

[2017-02-12 23:15] Derek-Ashmore commented on #214
Thanks for looking at this.

If it is path lengthissue, it was introduced with V1.13.1.  I ran into this on an upgrade with the same path. The same environment ran under 1.13.0 and several versions before that.

Yes, I did several complete reinstalls with reboots in between as part of trying to fix.

[2017-02-13 04:22] jazmatician commented on #488
+1 same issue

[2017-02-13 04:32] harrydengchao opened #492 "I reinstall Docker in win10, it's welcome interface and set the interface are white."
The effect is as follows, is the official website to download the latest stable version：
![image](https://cloud.githubusercontent.com/assets/13941171/22869611/6b3e7b7a-f1db-11e6-8691-675265de936a.png)

However, the service is running normally
PS C:\Users\Administrator> docker -v
Docker version 1.13.1, build 092cba3

Is there any solution?

[2017-02-13 05:12] harrydengchao commented on #492
This problem is solved. I was reinstall several times, and then inexplicable on it. Very strange

[2017-02-13 05:12] #492 closed

[2017-02-13 08:21] Nephelo opened #493 "Error when switching to Linux container"
### Expected behavior
Switch to Linux containers will start docker deamon.

### Actual behavior
Error when switching to Linux containers:
`Unable to create: Der ausgeführte Befehl wurde beendet, da die Einstellungsvariable "ErrorActionPreference" oder ein allgemeiner Parameter auf "Stop" festgelegt ist: Fehler beim Erstellen eines neuen virtuellen Computers.

MobyLinuxVM: Fehler beim Erstellen..
b

[2017-02-13 08:35] tungmilan commented on #349
I ran in this problem today as well. I have tried disabling Docker startup and services but still couldn't remove it from my Windows 10 Pro 64-bit

![Uninstall hang](https://cloud.githubusercontent.com/assets/6590141/22876108/e6dd4606-f183-11e6-965a-95624b96b2d1.png)

[2017-02-13 09:27] dockergirl commented on #483
Thank you. The only thing i chaged in my code that i added the cat thing & copied the dockerfile into mycontent folder. Now it works. Im sorry, im totally new to docker. In Visual Studio if i click build then that was it all so far...but im learning fast. I try to ask next time the docker forum.

[2017-02-13 09:52] meedel opened #494 "dockerNAT interferes with VPN connection"
### Expected behavior
I want to make a VPN business connection.
### Actual behavior
The connection is successful but after several seconds the connection ends with the message "Network change detected"
### Information
Working with Docker for Windows 1.13.1-beta42 (10069)
When I disable the DockerNAT interface the connection is recoverd.

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
D0

[2017-02-13 10:42] rneugeba commented on #482
@cyberjoac thanks for the diagnostics ID. You indeed have the same issue as others.

@mmisztal1980 hmm, odd. Could you attach a screen shot from the 1.13 control panel? Thanks

[2017-02-13 11:05] mmisztal1980 commented on #482
@rneugeba here you go:
![docker-v13-issues](https://cloud.githubusercontent.com/assets/1357057/22880999/c3f9a48e-f1e4-11e6-88fa-729049f9cf14.png)

[2017-02-13 11:38] danieldefrancisco-lr commented on #444
Hey Rolf,

Factory reset solved the problem!

Thank you very much for your help.

On Sat, Feb 4, 2017 at 2:18 PM, Rolf Neugebauer <notifications@github.com>
wrote:

--

*Daniel de Francisco*

Global Services

Spain and Portugal

Mobile: +34 645 87 65 76

Liferay Spain

Tel. +34 917 336 343 .

<http://liferay.com/>
Enterprise. Open Source. For Life
Síguenos en  <http://www.facebook.com/pages/Lifera

[2017-02-13 11:44] Crack commented on #409
It errors with:
[code]

Names are localized:
[code]
("Time Synchronization" is "Synchronizacja czasu", and it's disabled)

MobyLinux.ps1 uses localized names instead of IDs, which fails on non-English systems:
[code]

[2017-02-13 11:50] rneugeba commented on #482
It's not clear to me where the issue is, so, it would be good if you could try running  a bunch of experiments so we could try to narrow down the area.

Before doing these, please make sure you are on the latest beta or stable version. Then quit the application and stop the `com.docker.service` by issuing `Stop-Service com.docker.service` from and elevated powershell.  Also clear all the log files

[2017-02-13 11:52] mmisztal1980 commented on #482
@rneugeba proceeding with your suggestions, please give me 1-2hrs to complete, as I'm at work right now :)

[2017-02-13 11:58] ups216 commented on #416
@tmpvar did you restart your system after install all update? and if still not, install KB3213986. One of my client had the same issue and the kb fixed it.

[2017-02-13 12:07] rneugeba commented on #493
Thanks for the report. The diagnostics don't contain anything conclusive, just things like:
[code]

I see you have several other Hyper-V VMs. Do they work? Can you create new VMs manually without errors. The error comes from `C:\Program Files\Docker\Docker\resources\MobyLinux.ps1` which basically just creates a Linux VM using powershell but fails

[2017-02-13 12:08] rneugeba commented on #444
excellent. glad it's working for you. closing

[2017-02-13 12:08] #444 closed

[2017-02-13 12:21] mmisztal1980 commented on #482
@rneugeba

#UI Test:

Diagnostic uploaded: 5239E3DB-D0D2-47AE-B158-5D03C5A0619A/2017-02-13_13-19-31

Attaching all logs since the install of the latest beta. After install, I've shut it down to ensure that the MobyLinuxVM is destroyed as you've requested.

[DebugInfo-2017-02-13_13-19-31.txt](https://github.com/docker/for-win/files/771001/DebugInfo-2017-02-13_13-19-31.txt)
[install-log.txt](https:/

[2017-02-13 12:27] Nephelo commented on #493
Thank you very much for your help.
Yes, all other VMs worked but I didn't notice that creating a new one fails. The issue was a wrong default configuration of my Hyper-V (the default folder for VMs didn't exist). This resulted in a failure when creating a new VM.

[2017-02-13 13:12] dockergirl commented on #483
I dont want to talk much about this but still have to...after succeeding once, i wanted to repeat this & then also removing images,container, cat did not help. Then i downloaded Chrome & it worked with Chrome once...after did 2x midification did not anymore...soi have to add to the troubleshooting IE & Chrome (both i tried) must not be enabled to keep content while docker build more time...because

[2017-02-13 13:18] mmisztal1980 commented on #482
# Hyper-V Test

[code]

The cmdlet doesn't seem to be able to finish creating the NAT switch.

[2017-02-13 13:45] rneugeba commented on #409
@Crack Thanks for your report, but I can't repro it. I switched my computer to German and re-installed and get this:
[code]
So the service names are in German and TimeSync (Zeitsynchronisierung) is enabled as expected...I do have english as a language pack installed as well  so that might be a difference...

For completeness:
[code]
Here the match did not work. Which is kinda weird

[2017-02-13 13:49] rneugeba commented on #493
Great. I think I saw the issue once before with a different user...we should probably add a check for this as the error messages we get are not obvious. Closing

[2017-02-13 13:49] #493 closed

[2017-02-13 13:58] rneugeba commented on #491
I'm on insider build 15031 and I can access shared drives with the firewall turned off and on.

Do you have any other AV or firewall software installed?

[2017-02-13 14:20] Vatvat99 opened #495 "Docker doesn't start up anymore in Windows 10"
### Expected behavior

Start Docker for Windows.

### Actual behavior

After installing Virtualbox, Docker for Windows doesn't start on Windows 10, and display this error :
La référence d'objet n'est pas définie à une instance d'un objet.
   à Docker.Program.Run(IReadOnlyCollection`1 args)

I have uninstalled Virtualbox but Docker still doesn't start.

### Information

  - Diagnostic ID : A18A9802

[2017-02-13 14:35] rneugeba commented on #490
Thanks for the report. Looks like two things are missing, the drive letter and I think you also need to specify/override the escape character. This:
[code]
works for me.

@friism do have a place where we document common pitfalls between Unix/Linux and Windows Dockerfiles?

[2017-02-13 14:46] rneugeba commented on #488
@brooksa321 @jazmatician could you please file a separate issue with a diagnostics ID. The error message can have several different cause and seperate issues will allow us to triage these separately.

[2017-02-13 14:50] rneugeba commented on #488
@neoaisac The main issue is that on your system the Linux VM is booting quite slowly. Normally the system VM boots in around 10s. On your system even the kernel boot takes more than 60s We have a timeout value of 60s (which is quite conservative) and this is exceeded on your system.

Is there other load on the system? How old is the system?

[2017-02-13 15:00] rneugeba commented on #494
@meedel thanks for your report.

I'm not sure I quite understand the issue. Are you saying that your VPN connection terminates because of something Docker for Windows does?

We typically do not change the network settings once Docker is up and running. We do monitor the network for changes such as DNS server changes etc.

One possibility is a potential IP address clash. We configure an internal ne

[2017-02-13 15:06] rneugeba commented on #495
Thanks for your report. It looks like this error happens during an upgrade?

Have you tried to un-install the application, download the new installer from https://docs.docker.com/docker-for-windows/ and install it from fresh?

Thanks

[2017-02-13 15:15] minherz commented on #490
Thank you. The suggest script works. The same syntax (standard windows path syntax) works when mounting the volume to shared folder with `docker run` command.

[2017-02-13 15:15] #490 closed

[2017-02-13 15:25] rneugeba commented on #477
@ftdube I'm closing this issue as the original issue seem to have resolved itself with a reboot. Could you open a new issue with more of a description (and errors) and new diagnostics of what's not working. I can't quite understand your brief description above
thanks

[2017-02-13 15:25] #477 closed

[2017-02-13 15:25] rneugeba commented on #468
Closing this issue, assuming you have filed a new issue on docker/docker.
thanks

[2017-02-13 15:25] #468 closed

[2017-02-13 15:36] Vatvat99 commented on #495
Well, I tried to un-install and install again from the new installer, just to give it a try because I already did that a couple of times last friday, and also this morning, and guess what, Docker is now running ! So you solved the problem, thx so much ! 🥇

I thought it came from the install of Virtualbox, as it is not compatible with docker, but I also did an upgrade to docker v1.13.1 on friday. D

[2017-02-13 15:52] rneugeba commented on #495
@Vatvat99 thanks for getting back. weird. I don't think we changed anything with the installer (or much else) apart from a docker update since the previous beta. The changelog doesn't show anything relevant. Weird...I suspect it might be related to your system, maybe some remnants of virtualbox. Since this will be almost impossible to root cause and since it's now all working for you, I'm closing

[2017-02-13 15:52] #495 closed

[2017-02-13 19:14] weavermount opened #496 "Docker Failed To Initalize ... after installing Android Emulator (Andy46_.16)"
### Expected behavior
Docker service / gui loads

### Actual behavior
Docker fails to initialize

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
1EBBE537-6B80-4E7D-ADEE-2C908AB3434B/2017-02-13_10-56-35

  -GUI error message
Object reference not set to an instance of an object.
   at Docker.Program.Run(IReadOnlyCollection`1 args)

- Logs
Version: 1.13.1 (10072)
Channel:

[2017-02-13 19:25] friism commented on #496
Android Emulator uses HAXM for virtualization, which is incompatible with Hyper-V (used by Docker for Windows).

[2017-02-13 19:26] #496 closed

[2017-02-13 19:46] weavermount commented on #496
well that's something.  Can you suggest a fix for docker?

[2017-02-13 20:02] rneugeba commented on #496
Unfortunately, that is not something we can fix easily. Both HAXM and Hyper-V use the Intel virtualisation extensions and only one piece of software can control them. The only fix would be to port Docker for Windows to use HAXM which is a major engineering effort and it would break windows containers as well

[2017-02-13 21:17] neoaisac commented on #488
The system is 1yo.

On 13 Feb 2017 2:50 pm, "Rolf Neugebauer" <notifications@github.com> wrote:

[2017-02-13 22:43] bhabermaas opened #497 "Permission denied on Windows 10 when writing to host volume"
### Expected behavior
It should work. It used to before updating to docker 1.13.0

### Actual behavior
Fails with permission denied.

### Information
A diagnostic was uploaded with id: A793F06A-2BB2-4848-AECB-269265A747E3/2017-02-13_17-36-24
  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or th

[2017-02-13 22:45] bhabermaas commented on #497
I have allowed all permissions on the mounted volume.  If I use the CLI to run the container and mount the volume I can write if I chmod 777.
Using the Remote API, the volume has a bind rw, but unable to write and get permission denied.

[2017-02-13 23:17] rneugeba commented on #497
Thanks for the report. Could you provide a concrete example for us to better understand the issue?
thanks

[2017-02-13 23:27] Crack commented on #409
I have a pure Polish system: one from Win 7 -> 10 upgrade and one with Win 10 OEM, no language packs.

I just changed this line to
[code]
and recreated my VM. Now I have:
[code]
So time sync enabled, but Shutdown and Heartbeat still disabled. Which makes sense, because the script asks for Get-VMIntegrationService and filters results by Name, which is localized. It should use ID.

[2017-02-14 00:22] tmpvar commented on #416
Yeah, I've been keeping up on all the windows updates and am on the docker for win beta channel (currently Version 1.13.1-beta42 (10069)) and the issue persists

![update-status](https://cloud.githubusercontent.com/assets/46673/22909352/96acb9d4-f221-11e6-92b3-c48f396cfa91.png)

I shutdown my windows box daily, and on every boot 2 minutes later I get the docker error described in the OP

[2017-02-14 07:36] meedel commented on #494
@rneugeba thanks for your quick reply.
We are using the NetScaler software from Citrix Systems.
The NetScaler software does change the DNS server when setting up a VPN connection. ( with an internal address ) I also get an internal IP adres from this service. ( 10.14.x.x )
The only thing I can see is that I get a good VPN connection when I disable the DockerNAT device. When I enable this device, a

[2017-02-14 10:26] rneugeba commented on #409
Thanks for the help/debug. Could you try the attached script? Instead of matching on Names it matches on Service ID.

To test the script:
- exit Docker for Windows
- Open an elevated powershell in  `C:\Program Files\Docker\Docker\resources`
- Execute `.\MobyLinux.ps1 -destroy`
- Copy the new script (attached below) over the existing one
- Execute `.\MobyLinux.ps1 -create`
- Check output
- Start th

[2017-02-14 10:54] andyliddle commented on #309
I am having this issue on latest stable release

[2017-02-14 12:09] rneugeba commented on #416
@tmpvar I re-open the issue since this is not a dup of #406. It looks like an entirely different issue. I've changed the title to better reflect what's going on

We start a Linux VM in Hyper-V as part of the application start. On normal systems this VM boots in ~10s. We check in the application if the VM was started. We have a timeout of 60s. From your logs the VMs doesn't even get half way throug

[2017-02-14 12:24] rneugeba commented on #494
How is your VPN connection when you quit the Docker for Windows application but don't touch the `DockerNAT` switch? If you exit the app the switch should still be active and running like this:
[code]

[2017-02-14 13:23] rneugeba commented on #289
Closing due to inactivity, please re-open if the issue persists and you have further information

[2017-02-14 13:23] #289 closed

[2017-02-14 13:25] rneugeba commented on #291
Closing due to inactivity (and it was fixed at least for the original reporter). Please open a new issue if you still have the same issue

[2017-02-14 13:25] #291 closed

[2017-02-14 13:31] bhabermaas commented on #497
Very simple.  This was working and now it isn't.

PS C:\Users\bihaber> docker run --rm -it -u fmwpltfm -v //d/dockerOutput:/output:rw fmwtest:latest bash
fmwpltfm@ef5fab65723e:/$ cd /output
fmwpltfm@ef5fab65723e:/output$ ls -al
total 4
drwxr-xr-x 2 root root   60 Feb 14 13:20 .
drwxr-xr-x 1 root root 4096 Feb 14 13:27 ..
-rw-r--r-- 1 root root    0 Feb 14 13:20 test
fmwpltfm@ef5fab65723e:/output$

[2017-02-14 13:34] rneugeba commented on #430
I've also filed an internal issue regarding the UI consuming 100% CPU. While an un-usual case  I think we should better just quit the application if that happens. Thanks for reporting

[2017-02-14 13:38] rneugeba commented on #464
A few more pointers:
- Could you send us a crash report/diagnostics and report the diagnostics ID here?
- Could you check with `Get-Service com.docker.service` if the service is running?

[2017-02-14 13:43] rneugeba commented on #476
I too can not reproduce it. I'm not running this as administrator either, though I am in the local admin group (you have to be in order to use Docker for Windows) but I start the app with my normal credentials.

Out of curiosity, why do you get the Hyper-V warning? Did you disable it?

[2017-02-14 13:47] rneugeba commented on #497
When you say it sued to work, which version did you use before? stable or beta channel?
thanks

[2017-02-14 13:49] bhabermaas commented on #497
No problem on 1.12 stable.  I upgraded to 1.13.0 and it worked. then I got a notice to update. hasn't worked since.

[2017-02-14 13:57] rneugeba commented on #497
I can't reproduce this. I tried your command line above, but it can't find the `fmwtest` image so I use standard ubuntu and use two different users already configured.
[code]
Could you provided the output of `id` when inside your container as user `fmwpltfm`?

We did not change anything with regards to the mounting between 1.13.0 stable and the latest stable. I tried the above on the latest Beta,

[2017-02-14 13:59] bhabermaas commented on #497
Must be a Windows 10 update that is causing it.

[2017-02-14 14:19] rneugeba commented on #497
I'm not sure. I've tried on build 10586.672 and 14393.693 (latest RS1 update) and latest insider fast ring build 15031.0 and all three work

[2017-02-14 14:24] bhabermaas commented on #497
Seems to be tired to what userid I specify for the container.  I have added that user to windows and given it all access to the disk.  But I still get permission denied.  Is there anyway that I can turn off permission checking for a mount?

[2017-02-14 14:30] rneugeba commented on #497
The UID mapping is done by the samba client/server and is not easily changeable.

What is the output of `id` when you are inside the container?
What is are the permissions on the `/output` directory in the container?

[2017-02-14 14:31] DannyAllegrezza commented on #446
@msadikkose it appears my issue is also Hyper-V related. Would you happen to have found a fix for your issue yet?

P.S: Swapped in a new HDD with Windows 10 and things work fine. Rather unfortunate I can't figure out how to fix it on my original drive.

[2017-02-14 14:33] rneugeba commented on #446
might be similar to what folks are seeing on #482

[2017-02-14 14:36] rneugeba commented on #482
Thanks for testing to quick. Could you try creating a VMswitch manually, something like:
[code]
from an elevated powershell prompt?

[2017-02-14 14:37] bhabermaas commented on #497
If I run without the mount, the permissions look correct -

PS C:\Users\bihaber> docker run --rm -it fmwtest:latest bash
root@d74e5994d6b7:/# ls -al /test_output
total 8
drwxrwxrwx 1 fmwpltfm root 4096 Aug 23 08:53 .
drwxr-xr-x 1 root     root 4096 Feb 14 14:34 ..
root@d74e5994d6b7:/# exit
exit

If I run it with the mount then the permissions are lost -

PS C:\Users\bihaber> docker run --rm -it -u

[2017-02-14 14:47] rneugeba commented on #497
because in the first case you are loooking at a local directory in the container and in the second case you are looking at the drectory mounted from the host. These are different directories with different permission settings

[2017-02-14 14:49] bhabermaas commented on #497
So how do I get the permissions to agree?  On windows the dockerOutput directory has full access for user fmwpltfm (windows user).

[2017-02-14 14:53] bhabermaas commented on #497
![snap1](https://cloud.githubusercontent.com/assets/8658889/22934027/7483a32a-f29b-11e6-987c-e85986d08b22.gif)

[2017-02-14 15:10] rneugeba commented on #497
This has little to do with the permissions on the host (ie windows). When you share the drive in Docker for Windows you provide a username/password in the dialog box. This is passed to the Linux VM which uses these credentials to SMB mount the drive. Inside the VM the directories are mounted with the default user and permission (root and 0755).

I'm not entirely sure why this works for me, but not

[2017-02-14 15:16] bhabermaas commented on #497
Below is the same output but with the user id from container.  I have tried putting the windows user in all different groups but with no affect.
ALL I WANT TO DO IS HAVE MY PROGRAM RUNNING IN THE CONTAINER BE ABLE TO WRITE ITS OUTPUT TO THE DIRECTORY ON WINDOWS.

PS C:\Users\bihaber> docker run --rm -it -u fmwpltfm -v //d/dockerOutput:/test_output:rw fmwtest:latest bash
fmwpltfm@2631ad002435:/$ id

[2017-02-14 15:32] rneugeba commented on #497
I understand what you want to do. No need to use all capital letters. It's rude

[2017-02-14 15:33] bhabermaas commented on #497
Sorry I apologize.

[2017-02-14 16:18] cnjack opened #498 "com.docker.db does not start"
Windows 10 Pro 64-bit docker Version 1.13.1 (10072) Channel: Stable 94675c5

Unable to write to the database. Exit code: 1
   在 Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)
   在 Docker.Backend.ContainerEngine.Linux.Restart(Settings settings)
   在 Docker.Core.Pipe.NamedPipeServer.<>c__DisplayClass8_0.<Register>b__0(Object[] parameters)
   在 Docker.Core.Pipe.NamedPipeServer.RunAct

[2017-02-14 18:11] bhabermaas commented on #497
I uninstalled Docker 1.13.1 and reinstalled Docker 1.12.3 -- problem solved.
The moral of the story is: Do not update to a newer Docker if the one you have that works!!!
Obviously Docker 1.13 stable isn't as stable as it should be.

[2017-02-14 19:02] mmisztal1980 commented on #482
@rneugeba the script froze while trying to create the switch ... Reinstalling Hyper-V

[2017-02-14 19:24] rneugeba commented on #482
@mmisztal1980 you mean even the plain cmdlet `New-VMSwitch -Name FooBar -SwitchType Internal` freezes? If so I'll ping some folks at MSFT

[2017-02-14 19:34] mmisztal1980 commented on #482
@rneugeba yes. it doesn't complete

[2017-02-14 19:36] mmisztal1980 commented on #482
@rneugeba this is what I'm basically getting:

![docker-v13-hyperv-issue](https://cloud.githubusercontent.com/assets/1357057/22945660/3d7d9ac0-f2f5-11e6-9974-db273df2520a.png)

[2017-02-14 19:38] rneugeba commented on #482
@mmisztal1980 thanks. I've pinged some MSFT folks. I've seen `New-VMSwitch` now on quite a few of our users systems

[2017-02-14 19:39] mmisztal1980 commented on #482
@rneugeba if they'd like to do a screen sharing session, to examine my pc, I'm happy to help

[2017-02-14 20:37] josephby commented on #476
I upgraded to 1.13.1 and can no longer reproduce this. Thanks!

[2017-02-14 20:37] #476 closed

[2017-02-14 20:39] rneugeba commented on #482
@mmisztal1980 thanks for the offer...I may get back to you on it, But for now could you do:
[code]
and let it hang for a while. And then, in a different elevated powershell:
[code]
Also, execute `wevtutil gl System` and then either attach or email me the file from `c:\Windows\system32\WinEvt\Logs\System.evtx`. My email is rolf<dot>neugebauer<at>docker<dot>com

many thanks for the help

[2017-02-14 20:40] rneugeba commented on #476
Thanks for checking and closing. Glad it's fixed for you, though not sure why it was broken in the first place...

[2017-02-14 20:57] mmisztal1980 commented on #482
@rneugeba Here you go:

![docker-v13-ps](https://cloud.githubusercontent.com/assets/1357057/22948616/7ff5f3a2-f2ff-11e6-8d20-e32a5ad4df9a.png)
[ipconfig.txt](https://github.com/docker/for-win/files/775259/ipconfig.txt)

While trying to run wevutil I'm getting:
[code]

So I've exported the Windows Logs\System manually:
[System.zip](https://github.com/docker/for-win/files/775273/System.zip)

Please

[2017-02-14 21:00] rneugeba commented on #482
Thanks a lot

[2017-02-14 21:16] mmisztal1980 commented on #482
@rneugeba
Interestingly, I found this in my device manager:

![docker-v13-hyperv-issue2](https://cloud.githubusercontent.com/assets/1357057/22949638/3e9b2054-f303-11e6-8e63-4867f2c1e8a0.png)

[2017-02-14 22:40] Crack commented on #409
It works, now VM has proper services:
[code]

[2017-02-14 23:19] rneugeba commented on #409
@Crack Thanks for testing. I'll make a PR and see that it makes it into the next release

[2017-02-15 00:34] michaelva commented on #385
I have the exact same issue on Window 10 Pro with docker 1.13.1-beta42. I usually have to restart docker to solve the problem.

[2017-02-15 00:59] mattdanskey opened #499 "`docker save` with a windowsservercore image fails on file integrity checksum"
### Expected behavior
Able to run `docker save` with an image based on `microsoft/windowsservercore`

### Actual behavior
Attempting to save results in the following message:

### Information

Diagnostic ID: 0E44D6BA-6725-4804-ABD5-25A91047AADE/2017-02-14_16-31-51
Docker version 1.13.1, build 092cba3
Windows 10 Pro, build 14393.693
Running inside of Parallels

I've been unable to use `docker save`

[2017-02-15 01:07] dineshgovindasamy commented on #482
Those are leaked VNIC's.

Do you have any proprietary teaming solution or LBFO team created on this host?

[2017-02-15 01:12] dineshgovindasamy commented on #482
@mmisztal1980 @rneugeba Could you please also run the following cleanupscript and share us the logs?

https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/CleanupContainerHostNetworking

Please run it with CleanupContainerHostNetworking.ps1 with the -ForceCleanup parameter, this will perform log collection and also cleanup those leaked NICS.

[2017-02-15 02:46] friism commented on #499
[code]

@jhowardmsft do you know what might be going on?

[2017-02-15 03:27] jhowardmsft commented on #499
This sounds very similar to https://github.com/docker/docker/issues/25893. Can you file an issue over to docker/docker instead of here.

[2017-02-15 06:45] jerryau commented on #214
Had the same issue.  Got it working by:

- Uninstalling Docker
- Removing all remaining 'docker' files/folders e.g. C:\ProgramData\Docker
- Uninstalling Hyper-V (through windows features)
- Removing all Hyper-V network adapters
- Installing back Hyper-V
- Installing Docker

[2017-02-15 07:39] mmisztal1980 commented on #482
@dineshgovindasamy
I'm not sure what you mean? What is a LBFO or a teaming solution? You mean a VPN/SDN?

Logs attached. I've tried it twice, first using ```-Cleanup```, the using ```-ForceDeleteAllSwitches```

[PreCleanupState_HWOLYOCW.zip](https://github.com/docker/for-win/files/776305/PreCleanupState_HWOLYOCW.zip)
[PreCleanupState_PSVKYOAH.zip](https://github.com/docker/for-win/files/776306/Pre

[2017-02-15 09:12] JonCubed commented on #417
@simonferquel @simonferquel  @dgageot  any chance you have any suggestions on how to fix this?

[2017-02-15 10:54] rneugeba commented on #482
@JonCubed hit the same issue over at https://github.com/docker/for-win/issues/417#issuecomment-279139804. The diagnostics ID is
41560D0B-E5AF-41B4-94BD-0C90C899004C/2017-02-11_22-59-1

[2017-02-15 11:15] mmisztal1980 commented on #482
@dineshgovindasamy
For clarity, I'm using [zerotier](https://www.zerotier.com/) SDN/VPN to stay connected to one of my networks. The iface is visible in the device manager screenshot.

[2017-02-15 11:15] rneugeba commented on #498
@cnjack thanks for your report. Do you happen to have any AV or other security software running? If so, could you try and disabled it and retry?

[2017-02-15 11:37] rneugeba commented on #214
I'm locking this issue as it has become very messy with different versions and different issues making it very hard to track.

The application not starting can have a number of different reasons and it makes our triage a lot easier if we initially have separate issues filed and thne merge them ourselves into groups. If you still have an issue, please try the latest Beta from https://docs.docker.co

[2017-02-15 11:44] rneugeba commented on #114
I'm going to close and lock this issue. We added some documentation regarding firewalls and have other issues open with more specific firewall issues. If you still have an issue and it is not yet tracked in one of the more specific ones, please create a new issue.
thanks

[2017-02-15 11:44] #114 closed

[2017-02-15 11:48] rneugeba commented on #118
I'm closing this issue. We've added the option to change the daemon config to the UI a while back. If the settings in the daemon config don't work, this would be an issue with the docker engine itself and an issue should be filed on https://github.com/docker/docker.
thanks for the report

[2017-02-15 11:48] #118 closed

[2017-02-15 12:35] rneugeba commented on #147
I've changed the title to better reflect the issue.

On our systems we do not have the computer name in `C:\Windows\System32\drivers\etc\hosts` and don't encounter the issue so I'm a little at a loss here why this fails for some users. However, the workaround seems easy and straight forward.

[2017-02-15 12:58] msadikkose commented on #446
@DannyAllegrezza Actually not yet. I searched about issue, my problem is installing windows 10 from image which is generated from a computer wihtout virtulization capability. I think clean windows 10 installation can be helpful.

[2017-02-15 13:53] rneugeba commented on #224
Could you try the latest Beta if you still have issues? In Beat39 we made some significant performance improvements to the networking stack.

[2017-02-15 13:57] rneugeba commented on #217
I created an internal tracking issue for this. Thanks for the request

[2017-02-15 14:00] rneugeba commented on #173
This issue seem to have falling through the cracks...It is quite old and there have been many changes since. I'm closing it but please re-open if you encounter the issue again.

Thanks for reporting and apologies that we didn't respond sooner.

[2017-02-15 14:00] #173 closed

[2017-02-15 14:07] rneugeba commented on #150
With Beta39 we made some significant improvements to the performance of the networking stack. It's not at the same level as normal Hyper-V networking but a step in the right direction. Coudl you try it and see if it improves your experience to acceptable levels?

[2017-02-15 14:11] rneugeba commented on #409
The fix is now in master and hopefully will go out with the next Beta

[2017-02-15 14:13] rneugeba commented on #389
Closing. thanks again for the report.

[2017-02-15 14:13] #389 closed

[2017-02-15 14:19] rneugeba commented on #387
I'm closing this issue as it seems like a compose issue not an issue with the Docker for Windows application. If this is still an issue, please open one on https://github.com/docker/compose
thanks for reporting

[2017-02-15 14:19] #387 closed

[2017-02-15 14:21] rneugeba commented on #372
This looks like an issue with compose and not with the Docker for Windows application, which ships compose. If the issue is still there with the latest Beta/Stable, which ships an updated version of compose, please open an issue on https://github.com/docker/compose
thanks for reporting

[2017-02-15 14:21] #372 closed

[2017-02-15 14:25] rneugeba commented on #383
@Pantkowsky could you try the latest Beta/Stable and if that still doesn't work, try a factory reset, and if that doesn't work, could you provide a new Diagnostics ID for someone to take a look at?
Thanks

[2017-02-15 14:27] rneugeba commented on #392
@unclev @matjazmav have you had a change to try what @simonferquel suggested?
thanks

[2017-02-15 14:32] meedel commented on #494
Do you mean when I stop docker for windows?
Than the DockerNAT interface is automaticly removed.

If I stop docker for windows ( or disable the dockerNAT interface ) the VPN connection is recovered.

[2017-02-15 14:39] rneugeba commented on #405
@mi-hol thanks for your report. From what I can see from the logs, everything should be working fine after the you increased the memory. There was however a long 24s delay after the VM boot because it looks like the VHD (virtual hard disk) was corrupted and needed repairing.

What is the error message you are seeing?

[2017-02-15 14:43] tfritsch-km commented on #316
I also get the exac same error message (`pywintypes.error: (2, 'WaitNamedPipe', 'The system cannot find the file specified.')
docker-compose returned -1`) on windows 10 Home 64 when using Powershell or Cmder. I noticed that when using docker quickstart terminal everything is fine (docker-compose up runs without any error). Any idea on this ?

[2017-02-15 14:54] rneugeba commented on #419
From the Logs the start hangs when creating the DockerNAT switch:
[code]
I'll close this as a dup of #461 and will mention you on there so that you receive updates.

[2017-02-15 14:54] #419 closed

[2017-02-15 14:54] rneugeba commented on #461
@gh0st reported the same issue on https://github.com/docker/for-win/issues/419 with diagnostics ID: EF9F277B-CF59-4CC2-AE6E-06AF17222108/2017-01-23_13-18-44

[2017-02-15 15:00] rneugeba commented on #420
@gregory-vc could you try the latest Beta 42? Beta39 onwards have some significant changes to the networking stack which may fix your issue but also may give us better debug information.
thanks

[2017-02-15 15:02] minherz opened #500 "Docker DNS does not resolve container address by name on user-defined network in Windows"
### Expected behavior
A command like `ping db` where `db` is a name of the container does not succeed returning "Ping request could not find host minio1. Please check the name and try again."

### Actual behavior
A command that use container name should resolve to container IP and succeed.

### Information

  - Diagnostic ID: F9F388E9-7AB0-4CE8-BD59-045CF28124A7/2017-02-15_16-45-57
  - Docker host

[2017-02-15 15:05] sugun999 commented on #360
Yes, I understood that it is specific our vpn. Hence closing this

[2017-02-15 15:05] #360 closed

[2017-02-15 15:08] rneugeba commented on #494
If you stop the Docker for Windows application the `DockerNAT` switch should remain in place. We do not remove it. You can double check with the `Get-NetAdapter` and `Get-VMSwitch`.

It would be good to know if the issue persists if the DockerNAT switch is still there and the application is *not* running.

[2017-02-15 15:11] rneugeba commented on #316
@tfritsch-km Docker for Windows does not work on Window10 Home...

[2017-02-15 15:15] rneugeba commented on #360
@sugun999 We obviously would like to work in environments with VPNs etc but unfortunately we have very little control over the VPN settings. We are looking into other options for filesharing which do not required the current network based setup but have not found a suitable replacement yet.

[2017-02-15 15:19] rneugeba commented on #500
@friism do you know if name resolution with compose names is supposed to work with Windows containers?

[2017-02-15 15:34] tfritsch-km commented on #316
Sorry @rneugeba , I should have mentioned I use Docker Toolbox and not Docker for Windows (I thought that mentioning win10Home was clear enough, my fault). Anyway since I got the exact same error message, I thought that the docker quickstart terminal workaround could help here too (I came to this issue when googling for the error).

[2017-02-15 15:36] rneugeba commented on #316
NP, it'd odd though because with toolbox there are no named pipes involved...

[2017-02-15 15:37] minherz commented on #500
Regarding added area labels: I used `docker-compose` in order to not post dockerfile with two run commands. The effect is the same.

[2017-02-15 15:38] rneugeba commented on #199
I still see the issue on insider build 15031 and docker 1.13.1

[2017-02-15 15:50] friism commented on #316
@tfritsch-km if you're using Docker Toolbox, remember to run `docker-machine env` to get your shell configured so that Docker will use the VM created by `docker-machine`: https://docs.docker.com/machine/reference/env/

[2017-02-15 15:53] efraser67 commented on #436
Having the same issue when changing Switching back from using Windows to Linux containers...  Any progress on this?

[2017-02-15 16:00] friism commented on #500
Yeah, it works fine: https://github.com/docker/labs/blob/master/windows/windows-containers/MultiContainerApp.md

@minherz can you try without creating a custom network, and just relying on the existing NAT network?

Or if you're on Windows 10 insider build, you can try the new overlay networking support: https://blogs.technet.microsoft.com/virtualization/2017/02/09/overlay-network-driver-with-supp

[2017-02-15 16:00] rneugeba commented on #286
@kamkie could you try again with the latest beta. We added some additional logging which may help us diagnosing this.
thanks

[2017-02-15 16:02] rneugeba commented on #436
@efraser67 do you have a diagnostics ID for us to take a look at?

[2017-02-15 16:07] efraser67 commented on #436
F1E7D54E-50D7-4184-A0A5-D31126969C88/2017-02-15_11-05-35

[2017-02-15 16:08] minherz commented on #500
I use Windows 10, but not sure whether it is insider or official build.
The docker-compose works on default network as well as using CLI. What is a problem to work for user-defined network?

[2017-02-15 16:09] efraser67 commented on #436
Also get the same error when trying to Reset to Default under settings...

[2017-02-15 16:40] friism commented on #500
I haven't personally tested divying up the NAT network, but the docs are here: https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-networking#multiple-nat-networks

My point is that this is way simpler using the overlay driver (available in Windows 10 insider builds): https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/swarm

[2017-02-15 16:52] minherz commented on #500
This is what I did (see step#1 in the "Steps to reproduce the behavior").
The question remain why it does not resolve the name.
I have updated the title of the issue to reflect that DNS does not work only for user-defined networks.
The documentation does not require any additional tweaks in order to have containers to be resolved when connected to user-defined network.

[2017-02-15 17:23] tfritsch-km commented on #316
Thank you @friism, using `docker-machine env` followed by the command suggested in the prompt (`@FOR /f "tokens=*" %i IN ('docker-machine env') DO @%i`) makes the 'WaitNamedPipe' error go away and docker-compose runs fine whatever shell I use (tested with Cmder) !

[2017-02-15 17:35] mattdanskey commented on #499
@jhowardmsft Done!

[2017-02-15 17:36] #499 closed

[2017-02-15 18:19] friism commented on #500
pinging @msabansal

[2017-02-15 18:34] rneugeba commented on #297
Closing due to inactivity. Please re-open if the latest beta did not fix the original issue.
thanks

[2017-02-15 18:34] #297 closed

[2017-02-15 19:15] kamkie commented on #286
Version: 1.13.1-beta42 (10069) on windows 10 15031
 27CA4E77-3441-4D83-9240-B52F69F2EF03/2017-02-15_19-42-43

[2017-02-15 20:32] Xandroid4Net opened #501 "Container fails to run in priviledged mode"
### Expected behavior
When using docker-compose up with the yml file below, container will run in priviledged mode.

[code]

dockerfile for base node image

[code]

dockerfile for hapi server with serialport

[code]

### Actual behavior

When docker-compose up is run the initialization fails with the following error

PS C:\Users\honeyws\Documents\ComApiNodeWindows> docker-compose up
Removing comap

[2017-02-15 20:53] rneugeba commented on #501
Thanks for your report. This seems like an issue with the windows docker engine. Could you file an issue on https://github.com/docker/docker instead? I wouldn't be surprised if `--priviledged` does not work the same way as it does on Linux as it is related to the Linux capabilities.

[2017-02-15 21:36] gavvvr opened #502 "After PC reboot docker version gets executed with error"
### Expected behavior

Client and server info to display normally

### Actual behavior

### Information

I have Windows 10 Pro and clean docker installation.
Diagnostics id is: F068A9F3-E1DD-4082-B56E-07AE117C7941/2017-02-16_00-34-59

### Steps to reproduce the behavior

  1. Install Docker
  2. Reboot PC
  3. open cmd.exe or powershell and type `docker version`

[2017-02-15 22:41] mjquigley opened #503 "Docker fails to start: 'MobyLinuxVM' failed to start worker process: An invalid HANDLE was specified."
### Expected behavior
Docker starts succesfully
### Actual behavior
Docker fails to start and displays the following error
[code]
### Information
Diagnostic ID:  FB75CB56-6738-46B8-A624-6311000D4192/2017-02-15_16-33-54

System information:
Windows 10 Enterprise
Version 1607
Build 14393.693

Docker Version: 1.13.1-beta42 (10069)

### Steps to reproduce the behavior

  1. Start docker
  2. Docker fa

[2017-02-15 23:06] devedse commented on #464
rneugeba, I tried to do that but as you can see in the screenshot above the diagnostic id is unreadable.

I will have access to this machine next week again, so then I will continue my investigation.

[2017-02-16 00:29] msabansal commented on #500
@minherz  This should have worked, Not sure why  this is not working. Trying it out.

[2017-02-16 00:31] msabansal commented on #500
@minherz Can you please let me know what happens when you run docker run -it --net=prototype_net --name=db microsoft/nanoserver cmd

and then try to ping db from another container.

[2017-02-16 07:08] DragonOnTheBeach opened #504 "system root pool is not available for windows - docker - mlpack"
Hi,

I am running docker on windows using docker toolbox.

I already have a docker image which has mlpack installed in it and I was using it, without any issue, on Ubuntu 16.04. I saved the image using `docker save` command and trying to use the same tar on windows.

The docker image is successfully loaded using `docker load` command.

When I am trying to run a basic command  which will define an

[2017-02-16 08:54] sthuber90 commented on #466
Docker Version 1.13.1 (10072) the problem still persists on my PC. Following the solution #345didn't help at all.
![image](https://cloud.githubusercontent.com/assets/4415930/23014060/b7762f2a-f42d-11e6-9b55-0dadaa9861ee.png)

[2017-02-16 09:39] steve-heslouin commented on #72
This error remains on Mac OS with latest beta docker version

Client:
 Version:      1.13.1-rc1
 API version:  1.25
 Go version:   go1.7.4
 Git commit:   2527cfc
 Built:        Sat Jan 28 00:43:00 2017
 OS/Arch:      darwin/amd64

Server:
 Version:      1.13.1-rc1
 API version:  1.25 (minimum version 1.12)
 Go version:   go1.7.4
 Git commit:   2527cfc
 Built:        Sat Jan 28 00:43:00 2017
 OS/Ar

[2017-02-16 10:11] gregory-vc commented on #420
@rneugeba ok, i try it a bit later, but seems problems was not permanent, nevertheless forced me come back on ubuntu docker :)

[2017-02-16 10:27] rneugeba commented on #72
@steve-heslouin this is already tracked here https://github.com/docker/for-mac/issues/1260

[2017-02-16 10:29] minherz commented on #500
@msabansal,
today, after restarting the computer with docker, every scenario works as expected. i tried both the docker-compose script scenario and running two containers from base images and it worked. i am unaware of any update to docker or windows OS that happened during this time.

[2017-02-16 10:29] #500 closed

[2017-02-16 10:38] rneugeba commented on #502
@gavvvr thanks for the report. I had a look at the logs and they look fine. Maybe I don't quite understand the issue. You mentioned you get the error after a reboot. Does it work after waiting for a while? Is the application running (check the systray and look for the whale)? The docker command would only work once the animation of the whale stops.

[2017-02-16 10:40] rneugeba commented on #286
@kamkie thanks for the updated logs

[2017-02-16 11:15] rneugeba commented on #500
@minherz thanks for getting back and glad it is working for you. It's weird indeed.

[2017-02-16 11:16] rneugeba commented on #464
@devedse thanks for getting back

[2017-02-16 11:19] rneugeba commented on #504
@DragonOnTheBeach thanks for your report. Could you file an issue on the docker toolbox tracker https://github.com/docker/toolbox? This issue tracker is for the Docker for Windows application, which is a different way of running Docker on Windows

[2017-02-16 11:19] #504 closed

[2017-02-16 11:26] leinad13 opened #505 "Docker Crashes while pulling images"
### Expected behavior
Should be able to use docker pull to download images

### Actual behavior
Download stops / hangs and never finishes, dock tray icon is also unresponsive - so unable to provide the diagnostic ID.

http://imgur.com/k3Nh0sw

I've found I've been able to use Kitematic to obtain images, but not while in the office as it doesn't abide by the docker proxy settings.

### Information

[2017-02-16 11:38] wh1t3rabbit commented on #503
Experiencing the same. Made sure virtualisation enabled in BIOS and HyperV running. Same error with the same line numbers.

[code]

[2017-02-16 12:11] rneugeba commented on #503
Thanks for the reports. The logs sadly don't contain much more information. The error is from the powershell cmdlet `Start-VM`. I gather that Docker for Windows used to work (1.13.0) but doesn't anymore. Did this happen during the upgrade to 1.13.1 or after? The Logs are a bit inconclusive here. We didn't really change much in the application between 1.13.0 and 1.13.1. I also saw no Windows update

[2017-02-16 12:13] rneugeba commented on #505
Thanks for the report. Could you restart the application and then send us the diagnostics. Hopefully there are some breadcrumbs in the old log files.
thanks

[2017-02-16 14:39] embray commented on #137
I am seeing a similar issue.  This happened with me when running the autoconf `./configure` script for a particular project that was, for various reasons, making `config.log` into a symlink.  It can be reproduced as follows:

In `C:\test` I have two files:
`configure.ac`:
[code]
and `Makefile.in` which is empty (it doesn't matter either way).

Now I run `docker -t -i --rm -v C:\test:/test ubuntu:1

[2017-02-16 15:08] mjquigley commented on #503
Docker worked on 1.13.0.  After upgrading to 1.13.1 it continued to work until I rebooted my machine.

I am running some McAfee security suite (unfortunately I don't have permissions to disable this to see if it's the source of the problem)

I tried the recommend steps, I couldn't get any VMs to start in Hyper-V.

[2017-02-16 15:22] minherz opened #506 "DeviceIOControl Win32 API call returns strange result for SYMLINKD folder mounted to docker volume"
### Expected behavior
When calling `DeviceIOControl` the resulted "substitute name" that can be derived from the `REPARSE_DATA_BUFFER` structure is expected to start with `\??\` in a case the call returns the absolute path.
### Actual behavior
When the `DeviceIOControl` is called in the windows container for a folder that is mounted volume and appears in the listing (by `dir` command) as SYMLINKD

[2017-02-16 15:35] rneugeba commented on #137
@embray thanks for the detailed report. I can repro this with the latest beta on the latest windows insider build. FWIW I can also reproduce this directly in the Linux VM, ie not inside a container.

We use SMB/CIFS mounts from Linux and there we specify the [mfsymlinks](https://wiki.samba.org/index.php/UNIX_Extensions#Minshall.2BFrench_symlinks) option to emulate symlinks on the Linux side only.

[2017-02-16 15:41] rneugeba commented on #503
@mjquigley Thanks for the quick response. This then does not seem to be a issue specific to Docker for Windows but somethings seems to stop Hyper-V from working...sigh

Could you try disabling the Hyper-V feature from the UI (`Apps and Features`) and then reboot. Enable it again and then reboot?

Alternatively (or in parallel) can you ask your IT department, if you have such a thing, if they chang

[2017-02-16 15:44] rneugeba commented on #506
@minherz thanks for the detailed report. This seems an issue with the windows docker engine and it would be better to file an issue on https://github.com/docker/docker as this is where those developers hang out.
Thanks

[2017-02-16 15:50] minherz commented on #506
Please, advise how the issue can be moved? Will it be enough to open an issue there with a link to this one?

[2017-02-16 15:50] mjquigley commented on #503
I tried disabling and re-enabling Hyper-V, didn't seem to have any affect.

I tried reaching out to our IT department but they weren't very helpful with providing the information I asked for.  I'll try again this afternoon and see if I can get some more information out of them.

[2017-02-16 15:57] rneugeba commented on #506
Unfortunately, GH does not allow moving issues between projects (otherwise I would have done that :).

It's best if you open a new issue there. Since you already typed everything up nicely here, I'd hit the "Edit Comment" button above on your original post and then copy and paste into the new issue.

It's also a good idea to add the output of `docker info` to the body

[2017-02-16 16:12] lisaiceland commented on #74
This problem is NOT fixed. Plz don't close this and move on. Needs fixing please. Thnx

[2017-02-16 16:15] rneugeba commented on #74
@lisaiceland please read my reason for closing it and suggestion on what to do if you still have the issue [here](https://github.com/docker/for-win/issues/74#issuecomment-263881536)

[2017-02-16 16:19] lisaiceland commented on #74
really? we should expect better from a stable release of Docker. Pleas, we can do better really.

[2017-02-16 16:20] lisaiceland commented on #74
works fine on MacOS latest for 02/16/2017

[2017-02-16 16:20] srinathanand commented on #74
@lisaiceland -  have you made sure that Virtualization is enabled?

[2017-02-16 16:21] gavvvr commented on #502
@rneugeba the application in tray was running and indicated the docker is ready (green circle in settings).
I solved the problem by `Settings -> Reset -> Restart Docker...`
Now i can't reproduce it when i restart PC :)

[2017-02-16 16:28] rneugeba commented on #74
@lisaiceland please open a new issue with a *diagnostics ID* so that we can take a look. This issue is way to messy with lots of different issues posted by users. It's not easy to triage such an issue with so much noise.

In almost all of the case where something like this happens it is actually *not* an issue with Docker for Windows but most likely an issue with a given Windows installation or in

[2017-02-16 16:31] rneugeba commented on #502
Thanks for getting back and glad it's now working. Weird, though and I wish I knew why it broke. In any case, closing this issue for now, please re-open if it happens again.
thanks

[2017-02-16 16:31] #502 closed

[2017-02-16 16:33] embray commented on #137
Cool--I was planning on testing that as well but had to move on to other things a well.  That definitely increases my suspicion that this is actually a Linux bug.

[2017-02-16 16:53] Vatvat99 opened #507 "Is there a way to have better performance on Windows ?"
### Expected behavior

Expect a web page to load in a few seconds, like 5.

### Actual behavior

The load time of my pages are between 15sec and 40sec, on Windows. On a linux machine, it goes from 1sec to 5sec. I know there is other issues opened regarding performance, but I hoped there was a way to improve it a little bit, even if it's a hack or something I don't know, because 40sec make it just

[2017-02-16 16:57] rneugeba commented on #507
Could you give an example/reproduction of this? Without details it's hard to tell where the bottleneck is (network, VM, disk, ...).

Is you symphony project on a volume mount? If so does it go faster if you copy it into the container?

Which version of docker for windows are you?

[2017-02-16 17:00] Sdcxv commented on #498
Unable to write to the database. Exit code: 1
   在 Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)
   在 Docker.Backend.ContainerEngine.Linux.Start(Settings settings)
   在 Docker.Core.Pipe.NamedPipeServer.<>c__DisplayClass8_0.<Register>b__0(Object[] parameters)
   在 Docker.Core.Pipe.NamedPipeServer.RunAction(String action, Object[] parameters)

BDD27502-F7B3-410C-98C5-9673A12742E4/2

[2017-02-16 17:08] rneugeba commented on #506
thanks. closing this issue

[2017-02-16 17:08] #506 closed

[2017-02-16 17:09] rneugeba commented on #501
thanks for filing the issue. closing this one

[2017-02-16 17:09] #501 closed

[2017-02-16 17:10] rneugeba commented on #498
@Sdcxv thanks for the report. Do you have any third party antivirus or firewall software installed?

[2017-02-16 17:31] Sdcxv commented on #498
@rneugeba Nope，I had tried to turn off windows defender too, It don't work.

And then I use Total Uninstall uninstall all docker files, reboot and install the stable version.
It crash at the same place.

And I also try to run C:\Program Files\Docker\Docker\Resources\com.docker.db.exe --url hyperv-connect://1a26e8da-d32e-4b47-a153-2ac5bbe3fc5b,\\.\pipe\dockerDataBase --color never on Powershell, ha

[2017-02-16 18:02] lisaiceland commented on #74
yes. all the recommendations...I have them enabled. Done.

Thank You.
Lis

Regards,
Happy Analyzing, Developing, Managing & Launching Dreams Daily!

Bless. Ciao!

Lisa Kristinardottir (Lis) | Lisaiceland.com | USAGains.com

   P
*Save a tree! Please consider your environmental responsibility before
printing. *
*Don't print this e-mail unless it's really necessary.*

*CONFIDENTIALITY NOTICE*

This

[2017-02-16 18:05] mmaguigan commented on #446
I just want to emphasize that this issue occurred on a Windows 10 Enterprise instance that was running docker successfully until the aforementioned update. Reinstalling Windows is not in any way an option as docker is a small part of my already very busy schedule - the issue is not related to #482. Let me know what you need to move this issue along and I will do my best, but please let's keep mome

[2017-02-16 18:11] artisticcheese opened #508 "Docker NIC adapter shall not register DNS name with DNS server"
### Expected behavior
Checkbox on HNS Internal NIC for DNS registration shall be unchecked
### Actual behavior
Box is checked
### Information
HNS adapter shall have automatic DNS registration disabled. This setting registers private docker IP with Active Directory DNS and causing problems for internal communications

### Steps to reproduce the behavior

![image](https://cloud.githubusercontent.com

[2017-02-16 19:22] rneugeba commented on #508
@artisticcheese thanks for the report. The HNS adapter is managed by the Windows docker engine (which is just packaged by the Docker for Windows application). Could you file an issue on https://github.com/docker/docker instead as this is the more appropriate forum for it and the developers responsible for it are more likely to respond there.
thanks

[2017-02-16 19:24] artisticcheese commented on #508
Submitted https://github.com/docker/docker/issues/31098

[2017-02-16 19:25] rneugeba commented on #508
thanks. cosing

[2017-02-16 19:25] #508 closed

[2017-02-16 19:52] rneugeba commented on #446
@mmaguigan thanks for the comment. I don't think this is an issue with Docker for Windows per se as the command/powershell cmdlet which fails is `Start-VM`. Prior to that everything looks to be set up fine. There is also an un-helpful message in the Hyper-V event log saying that it failed to start the VM without any details...

- can you try, quitting the app, and then from an elevated powershell

[2017-02-16 20:16] mmaguigan commented on #446
@rneugeba, thanks that was very helpful. Sure enough, I created an empty VM with no attached network interface (just to rule out DockerNAT from any relation to the issue) and sure enough, I cannot start any virtual machines anymore. The user interface and the PowerShell command fail with the same error.

Below are the events from ```Hyper-V-Worker\Admin``` in the event viewer in chronological orde

[2017-02-17 01:08] markl17 commented on #125
so is there a way to use straight c:\wamp\www:/usr/nginx/html?

[2017-02-17 08:29] Vatvat99 commented on #507
Here are some infos :

VM: Hyper-V on Windows Pro
Docker : 1.13.1
HDD : 300Gb free on 500 GB
Network : It's a fiber connection (40Mb up & down)

Here is an extract of my docker-compose.yml, my project is on a mounted volume:
[code]

[2017-02-17 10:49] rneugeba commented on #507
Thanks for the info. The purpose of asking to try to copy the files into the container was more to figure out if slowdown is due to the shared volume access or something else.

From your description it is impossible to figure out where the slowdown comes from. It could be shared volume access, could be network related, could be virtualisation overheads etc.

[2017-02-17 10:55] rneugeba commented on #125
@markl17 I'm not sure what you try to do: Does something like:
[code]
not work for you? If so, please open a separate issue with error message and diagnostics ID.
Thanks

[2017-02-17 11:04] rneugeba commented on #446
Thanks for checking...just love the usefulness of error messages (not). Could you try disabling the Hyper-V feature, reboot, re-enable the Hyper-V feature reboot and see if that fixes it?

Also, do you have any third security (AV or firewall) software installed. We have seen some unhealthy interactions with some of them.

[2017-02-17 12:44] markl17 commented on #125
yes it seems to work becouse when i do eec /bin/sh and go to /gin/share/nginx/html i see all of my files yet when i browse to it it tells me forbiden so explain me that one

[2017-02-17 13:01] rneugeba commented on #125
could you open a separate issue with sample command line to reproduce?
thanks

[2017-02-17 13:09] rneugeba commented on #137
@embray I could reproduce the issue on a Ubuntu Linux VM and will send details to the relevant linux kernel mailing list. I'd like to credit you for the easy repro so if you send me your email address I'll cc you (otherwise will just refer to your GH profile). My email address is rolf<dot>neugebauer<at>docker<dot>com

[2017-02-17 13:09] markl17 commented on #125
i thought this is about mounting a different point than c:\users

[2017-02-17 17:59] willseward commented on #453
Also without that option, I believe running things like the visualizer tool and portainer are prohibited. Correct me if I'm wrong.

[2017-02-17 19:00] JeremyKennedy commented on #455
I'd like to add that I encountered this problem as well, but deleting the file didn't fix it. I deleted the ProgramData, Roaming, and Local folders, but I still encountered the error.

I ended up fixing it when I noticed that the startup type of the "Docker for Windows" service was set to disabled, so I changed it to manual. This fixed my issue.

I submitted a crash report: CE61147B-EB18-4B48-9598

[2017-02-18 07:59] absalan commented on #355
I had same issue and I just solved it.
My internet security software was blocking file and printer sharing. If you do too, Just right click on the drive that you want to share with docker in file explorer and click on Sharing tap. Than click on advanced sharing. On that popup check the "Share this folder" checkbox and click ok. If your security software warned you just click on it and enable file

[2017-02-18 11:05] sthuber90 commented on #355
@absalan When I share my C: drive manually thorugh the advanced sharing settings and then try to activate in the docker settings, I get the notification that firewall is blocking, [which it is not](https://github.com/docker/for-win/issues/466#issuecomment-280271394) (#466) and after that the C: drive is not shared anymore.

[2017-02-18 11:32] rneugeba commented on #355
@sthuber90 that's interesting. If you don't enable sharing in the Advanced Settings does it work? Also, how do you enable it? There are several options in the menu. Could you maybe share a screenshot?
thanks

[2017-02-18 21:49] mmisztal1980 commented on #482
@dineshgovindasamy @rneugeba
I've uninstalled zerotier and docker has started successfully.

[2017-02-18 23:57] rneugeba commented on #482
@mmisztal1980 great to know. We recently had several issue with various AV/security softwares and looks like zerotier is another one to look out for

[2017-02-19 00:21] rneugeba commented on #482
@yvesdelvaux do you have any AV/security  software installed? And if so could you try disabling?

[2017-02-19 00:47] Daniel15 opened #509 ""Inconsistent parameters PolicyStore PersistentStore and Dhcp Enabled""
### Expected behavior
Docker starts as expected

### Actual behavior
I get this error when Docker tries to start:
[code]

 - Diagnostic ID: `CBA474E7-9602-4C9E-8530-24E26DFEF16B/2017-02-18_16-44-48`
 - System info:
   - Windows 10.0.14971 Build 14971
   - Docker version 1.13.1, build 092cba3

[2017-02-19 00:55] Daniel15 commented on #509
I uninstalled Docker, restarted, reinstalled Docker, restarted again, and it seems to be working fine now. Feel free to close this issue if my crash report doesn't have any useful information.

[2017-02-19 12:26] matjazmav commented on #392
@simonferquel @rneugeba

When I try manually stop Docker for Windows service I get this error, but service is stopped.

![image](https://cloud.githubusercontent.com/assets/9011654/23102206/5b944ae6-f6a5-11e6-88a7-e8d13b7eb835.png)

I tried uninstalling it with `InstallerCli.exe -k -u` but noting happend, then I killed InstallerCli process and tried to uninstall it via Control Panel\Programs\Progra

[2017-02-19 18:13] eliezeralmeida commented on #491
I have no other firewall installed.
I use only Microsoft Antivirus

[2017-02-19 20:31] highsource commented on #65
I'm running into this right now:

[code]

(Crash report id `F2A3BD75-FCA0-429E-BD32-B2E488D8067D/2017-02-19_21-28-45`.)

I've enabled Hyper-V during Docker installation.

[2017-02-19 20:33] highsource commented on #65
I've checked [this fix](http://blog.elmore.be/docker-for-windows-start-up-error/) but the suggested feature was already enabled.

[2017-02-19 20:39] absalan commented on #355
@sthuber90 Try to share another drive. windows does have some policy for windows drive and that's why it's preventing you from sharing drive C.

[2017-02-19 21:50] eliezeralmeida commented on #491
I tried this solution without success.
[#355 issuecomment: 271889419](https://github.com/docker/for-win/issues/355#issuecomment-271889419)

[2017-02-20 00:18] JonCubed commented on #482
@rneugeba @dineshgovindasamy let me know if you need me to do anything to help debug this issue, love to get docker working again

[2017-02-20 01:03] pcarrier commented on #65
@highsource this is a different error. Please open a separate issue.

[2017-02-20 01:07] pcarrier commented on #65
@maxsu your issue was already covered implicitly by my initial message:

@highsource did you try to follow the instructions from https://github.com/docker/for-win/issues/65#issuecomment-243458778 ?

[2017-02-20 07:44] sthuber90 commented on #355
@absalan The computer is work on is a corporate one and only has a C drive, otherwise I would have tested sharing an other drive.

@rneugeba
![GIF showing firewall and C drive sharing error](https://cloud.githubusercontent.com/assets/4415930/23115950/35966e02-f748-11e6-9a08-7cd999e2409b.gif)

[code]
Even though it says that the firwall is blocking this cannot be the case, as mentioned [here](https

[2017-02-20 08:23] micdah commented on #426
Not to be pushy, but any updates on this issue?

If there is anything I can do to help (_such as testing beta/development versions_), I'll be happy to oblige.

[2017-02-20 08:23] rneugeba commented on #482
@JonCubed Have you tried what I suggested [here](https://github.com/docker/for-win/issues/482#issuecomment-279365617)?Most importantly the Hyper-V test?

Also do you run any third party AV/FW software?

[2017-02-20 08:32] atmorell commented on #426
Almost thought it was solved by the latest update, but my containers became unresponsible after 1-2 hours of high load.

[2017-02-20 09:19] rneugeba commented on #426
Unfortunately, the main developer for the component in question, VPNKit, was busy with some other work but will take a look this week. @micdah your reproduction is very useful for the debug. Again thanks for the effort in putting this together.

[2017-02-20 10:02] hindsight20-20 commented on #355
This has got nothing to do with suspected policies for the C drive. I just tried to share D and got the same results:
`[10:54:49.631][NamedPipeClient][Info   ] Sending GetDefaultVhdxPath()...
[10:54:50.636][NamedPipeServer][Info   ] GetDefaultVhdxPath()
[10:54:51.643][NamedPipeClient][Info   ] Received response for GetDefaultVhdxPath
[10:54:51.642][NamedPipeServer][Info   ] GetDefaultVhdxPath done

[2017-02-20 10:24] absalan commented on #355
@sthuber90 try to shrink volume on dick management to create another drive. I guess windows doesn't allow you to share the drive C for security reason.

@hindsight20-20 The issue you have is for your 3rd party security software or windows firewall. You have to make sure to enable file and drive sharing through those to let you share your drive.

[2017-02-20 11:41] sthuber90 commented on #355
@absalan It's not a windows issue. When I try with my private PC sharing the C drive works just fine

[2017-02-20 12:06] hindsight20-20 commented on #355
@david You mean like this:[cid:image003.png@01D28B7A.1513DD20]

In addition there are the 2 rules introduced by the docker installer:
[cid:image006.png@01D28B7A.1513DD20]

That configuration was already there when I ran the test today. Is there anything missing?

I even bumped the DockerNAT NIC to private profile (`Set-NetConnectionProfile -NetworkCategory Private`) to make sure _File and Printer_

[2017-02-20 14:07] ladvishal1985 commented on #139
I am facing the same issue. I downloaded Docker(stable windows) from https://docs.docker.com/docker-for-windows/install/. Post installation Hypervisor is enabled which leads to Windows restart. Then the wifi never starts. I tried uninstalling the Docker and disabled the Hyper-V which leads to Windows restart and again the wifi works normally. I tried this twice.
I have Windows 10 Enterprise. Again

[2017-02-20 14:55] meedel commented on #494
I hope I understand your update.
If I stop Docker for Windows the DockerNAT interface / switch is gone.
There's no switch in Get-VMSwitch anymore and no Hyper-V ethernet adapter.

There are some changes in the routing table when enabling the DockerNAT adapter.
There should be the problem in combination with the VPN connection error.

[2017-02-20 15:21] rneugeba commented on #494
When I exit the Docker for Windows application (via right-click on the systray whale icon), the `DockerNAT` switch is not deleted. It still shows up in `Get-VMSwitch`.

[2017-02-20 15:50] efraser67 commented on #436
Folks,

I was wondering if there may be a work around for this as it is making it impossible to work with docker.  Every time I attempt to download an image it stops me letting me know that the image won't work with the Windows OS.  I've even tried to install a separate boot2docker vm and connect to it with PS.  Which tells me it can't use the certificate due to an X509 error.

Any and all help wo

[2017-02-20 16:18] Vatvat99 commented on #507
I copied the files into the container but the slowdown remains. So it doesn't seem to come from the shared volume access.

[2017-02-20 17:15] friism commented on #507
@Vatvat99 interesting - can you post your docker-compose.yml and setup details when copying the files into the container?

[2017-02-20 17:21] sdevane opened #510 "Docker Fails to start on window 10 - Again"
E6FFA2BB-D727-4248-8381-20F15D8FD314/2017-02-20_17-14-46
### Expected behavior
Docker starts
### Actual behavior
Fails to start with erro: "Hardware assisted virtualization and DEP must be enabled in the BIOS. See ...."

### Information
DEP and VT already enabled as I have had Docker running successfully a couple of months back.

  - E6FFA2BB-D727-4248-8381-20F15D8FD314/2017-02-20_17-14-46
  - a r

[2017-02-20 19:10] bfloydd commented on #67
For whatever it's worth, I had this problem on Docker 1.13.1 (10072), Windows 10 Enterprise 74bit and took six steps to solve it. This seemed to happen after messing with Hyper-V Manager's virtual switch settings. 1) Uninstall Docker. 2) Remove Hyper-V entirely from computer via "Add Remove Features.." 3) Reboot twice. 4) Re-add Hyper-V 5) Reboot 15 times while facing TRUE NORTH. 6) Re-installed D

[2017-02-20 20:00] vvsh opened #511 "lstat D:\1\data-storage.jar: no such file or directory during ADD"
Dockerfile:

FROM schickling/opencv

ARG jarfile
WORKDIR /usr/app
ADD ${jarfile} /usr/app

I am building image using the following image:

docker build --build-arg jarfile=D:\1\data-storage.jar .

### Expected behavior

Jar is copied into a container.

### Actual behavior

Sending build context to Docker daemon 2.048 kB
Step 1/4 : FROM schickling/opencv
 ---> 29c2513b623b
Step 2/4 : ARG jarfile
 -

[2017-02-20 20:10] kevinykuo commented on #482
OK guys this is what I did to resolve the issue on my end. Go to "Turn Windows features on or off", disable all Hyper-V related features, reboot, then Docker should ask if it can enable and reboot for you. Let it do that and see if it's fixed. If not I'd probably try manually re-enabling Hyper-V. Good luck.

[2017-02-20 20:55] djs55 commented on #426
Sorry for the delay -- I'm planning to investigate this issue this week.

I notice in @rneugeba 's logs quoted above an assertion failed in `lwt`/`uwt` (the libraries we use on top of `libuv` for asychronous I/O on Windows and Mac) There is a newer version of `uwt` containing various bug fixes -- I'll see if that makes a difference first since I was planning an upgrade anyway.

The Mac and Windows

[2017-02-20 21:44] friism commented on #511
The source of the `ADD` most be in the context of the build (i.e. the `.` in `docker build`). Details here: https://docs.docker.com/engine/reference/builder/#/add

I'm closing this issue for now. If you have follow-up questions on how to use Docker, please start a topic on the [Docker Forums](https://forums.docker.com/c/docker-for-windows) (this issue tracker is for reporting bugs and problems).

[2017-02-20 21:44] #511 closed

[2017-02-20 22:19] rg-srini commented on #67
@rneugeba - Thanks for your time. After a lot analysis, found out the root cause

After updating from Windows 10 to the Anniversary Update (build 1607), I experienced issues with Hyper-V. I was not able to start my virtual machines.

http://demo102.phpcaiji.com/article/bbaicbi-upgrading-to-windows-10-anniversary-edition-and-hyper-v.html

1. Uninstalled Docker.
2. Removed Hyper-V
3. Uninstalled all

[2017-02-21 04:58] londoncalling commented on #139
@ladvishal1985 Disabling Hyper-V would cause problems, as it must be enabled.

Can you read through these topics and make sure you are following the protocols?

[What to know before you install](https://docs.docker.com/docker-for-windows/troubleshoot/#virtualization-must-be-enabled

[Hyper-V (in Troubleshooting)](https://docs.docker.com/docker-for-windows/troubleshoot/#hyper-v) (includes a link to

[2017-02-21 07:36] absalan commented on #355
@hindsight20-20  What about your security software? It has own firewall and it will block the connection. The last thing would be that to check.

[2017-02-21 07:39] MarcoMiltenburg opened #512 "Traceroute on host machine not working anymore"
Ever since I installed Docker for Windows yesterday, my tracert command shows strange results. This is a trace route to ww.google.nl on the host machine (not in a container):

![image](https://cloud.githubusercontent.com/assets/6213937/23154790/ea18922a-f80f-11e6-8cfb-f7c4412259d4.png)

This is what it looks like in a container:

![image](https://cloud.githubusercontent.com/assets/6213937/23155009

[2017-02-21 08:12] hindsight20-20 commented on #355
Just using Windows Firewall and Defender. Using the given config everything should be good, right?
If so, I guess I’ll have to wait for the next insider build and hope MS will be using the relevant pieces of code from 14393 or 15014.
Strange thing is though, that this was working in the current build for like 5 min or so at some point. I don’t get it :|

Sent from my Windows 10 phone

From: david<

[2017-02-21 08:28] Vatvat99 commented on #507
Here is my docker-compose file. There is a project "app1" which is a php/mysql website. There is node-container for node JS, an api, and the "app2" project, which is a symfony project.

[code]

Regarding the setup, in my docker files I copy the files of my projects with this :

`COPY app1 /var/www/app1`

[2017-02-21 11:50] JonCubed commented on #482
UI Test Diagnostic Id: 41560D0B-E5AF-41B4-94BD-0C90C899004C/2017-02-21_22-44-54

Hyper-V test fails on create with

[code]

cc @rneugeba

[2017-02-21 11:56] dgageot commented on #491
Hi @eliezeralmeida, we've tried to fix this issue in a test release that can be downloaded here: https://download-stage.docker.com/win/samba-experiment/10154/InstallDocker.msi

*Warning: This version will not auto-update to a newer version. It's only meant for testing. You must uninstall the version you have currently installed before you install this test version.*

[2017-02-21 11:56] dgageot commented on #466
Hi @scollado @sthuber90 @jtnord, we've tried to fix this issue in a test release that can be downloaded here: https://download-stage.docker.com/win/samba-experiment/10154/InstallDocker.msi

*Warning: This version will not auto-update to a newer version. It's only meant for testing. You must uninstall the version you have currently installed before you install this test version.*

[2017-02-21 11:57] dgageot commented on #380
Hi @GergelyMindler @thecatwhisperer @itcrab, we've tried to fix this issue in a test release that can be downloaded here: https://download-stage.docker.com/win/samba-experiment/10154/InstallDocker.msi

*Warning: This version will not auto-update to a newer version. It's only meant for testing. You must uninstall the version you have currently installed before you install this test version.*

[2017-02-21 11:58] roie4job opened #513 "top args cause to error"
### Expected behavior
the command:
docker top [container_id] args1 arg2 ...
will return the same output as:
docker exec [container_id] ps  args1 arg2 ...

### Actual behavior
output is:
Error response from daemon: Error running ps: exit status 1

### Steps to reproduce the behavior

 1. docker run tomcat:8.0
 2. docker top [container_id] -e -o pid,lstart,pcpu,pmem,sz,ni,stat,cmd

### Information

[2017-02-21 11:58] dgageot commented on #355
Hi @medhatelmasry @hindsight20-20 @sthuber90, we've tried to fix this issue in a test release that can be downloaded here: https://download-stage.docker.com/win/samba-experiment/10154/InstallDocker.msi

*Warning: This version will not auto-update to a newer version. It's only meant for testing. You must uninstall the version you have currently installed before you install this test version.*

[2017-02-21 11:59] dgageot commented on #345
Hi @avcarrillo @peterhorvath @denisvmedia, we've tried to fix this issue in a test release that can be downloaded here: https://download-stage.docker.com/win/samba-experiment/10154/InstallDocker.msi

[2017-02-21 11:59] dgageot commented on #319
Hi @shanselman @markharrisonuk, we've tried to fix this issue in a test release that can be downloaded here: https://download-stage.docker.com/win/samba-experiment/10154/InstallDocker.msi

[2017-02-21 12:35] hindsight20-20 commented on #355
Hi @absalan,
sorry to be the bearer of bad news, but after installing the experimental build I see no changes in behavior.
I have attached the log file covering everything after starting the experimental version. I have tried sharing C with FW up, then again with FW deactivated for the DockerNAT NIC and finally a third time after bumping the DockerNat network from public to private profile (with s

[2017-02-21 13:01] pennywisdom opened #514 "docker-compose - failed to create endpoint [[service]] on network nat"
docker-compose up is failing randomly on windows server 2016. Details below. Seems similar to [335](https://github.com/docker/for-win/issues/335) which was closed due to inactivity not with a resolution as far as I can see.

In my situation for the data below, I am standing up 4 or 5 services in the compose file and sometimes it succeeds and sometimes it fails. Seems quite random.

### Expected be

[2017-02-21 13:13] sthuber90 commented on #466
@dgageot Thanks for the update. Unfortunately it didn't change a thing for me
[code]

[2017-02-21 13:14] eliezeralmeida commented on #491
Did not work!
Same behavior. I tried with Firewall on and off.

Log: [docker-log.txt](https://github.com/docker/for-win/files/790176/docker-log.txt)
Diagnostic: B0370B99-0420-4F97-8E6F-29AD4C0F0FA9/2017-02-21_10-09-31

[2017-02-21 13:26] pennywisdom commented on #514
closing, upgraded to docker version 1.13.0 and compose 1.11.1 and testing again with the latest versions.

[2017-02-21 14:38] dgageot commented on #513
See https://github.com/docker/docker/issues/31161

[2017-02-21 14:39] dgageot commented on #513
@justincormack wdyt?

[2017-02-21 15:19] justincormack commented on #513
We could add GNU `ps` to Moby instead of the default one, I think we may have an internal issue for this from way back. I still think it is a bug in Docker that it does not actually define it. Also I think the docker containers we ship do not have GNU `ps`, and it is not listed as a requirement, its kind of annoying.

[2017-02-21 16:01] friism commented on #512
ping @msabansal do see if he has suggestions.

I'm seeing the same thing on my machine.

[2017-02-21 16:02] friism commented on #139
The networking clean-up scripts from Microsoft are another good resource: https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/CleanupContainerHostNetworking

[2017-02-21 16:06] friism commented on #507
Is it faster if you don't mount the log directories from the host (I'm guessing that's what `shared-logs` is)? It might also be worth trying with out volumes to establish a baseline.

[2017-02-21 16:07] pennywisdom commented on #514
Re-opening as this error is occuring using docker 1.13.1 and compose 1.11.1

[2017-02-21 16:12] friism commented on #513
Internal issue is `3491`. Also reported here: https://forums.docker.com/t/docker-top-appears-to-behave-differently-than-on-linux-systems/13326/2

[2017-02-21 16:50] nickiannone opened #515 "Cannot connect to Docker Server on Win10 Pro"
### Expected behavior
Docker client and server start, `docker version` lists version numbers for both

### Actual behavior
Docker client starts, cannot connect to server. Lists connection failure (see Steps to reproduce, below)

### Information

  - Diagnostic ID: 78D68BD1-7D5F-4BA9-A112-83223AEB6A58/2017-02-21_10-41-37
  - Following https://docs.docker.com/docker-for-windows/
  - Windows 10 Pro (

[2017-02-21 16:55] nickiannone commented on #515
[log.txt](https://github.com/docker/for-win/files/790823/log.txt)

[2017-02-21 17:25] pennywisdom commented on #514
closing again, moving to more appropriate repo

[2017-02-21 17:25] #514 closed

[2017-02-21 17:39] nickiannone commented on #515
In administrative PowerShell, ran the following command to test: `wget https://github.com/Microsoft/Virtualization-Documentation/raw/master/windows-server-container-tools/Debug-ContainerHost/Debug-ContainerHost.ps1 -UseBasicParsing | iex`

Received the following output:
[code]

[2017-02-21 18:08] oscarnevarezleal commented on #188
Same problem here.
image: iamluc/symfony super SLOW

[2017-02-21 19:24] msabansal commented on #512
net stop winnat 

Is fixing the issue. Will investigate this once I can get cycles.

[2017-02-21 19:53] nickiannone commented on #515
Found a solution messing around with `docker-machine`. Turns out my install process somehow didn't create a default machine using the appropriate driver (note that I did have Oracle VirtualBox AND Hyper-V installed, and was able to get the Hyper-V manager running, and it showed a single MobyLinux VM on my system). Here's what I did to get it running (in administrative Powershell):

[code]

[2017-02-21 20:29] nickiannone commented on #515
More progress.

After cleaning up the docker machine I created via `docker-machine rm my-machine`, and disabling Hyper-V in Windows via the Powershell command `Disable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V-All` (NOT a typo, there's actually no space in `Microsoft-Hyper-V-All`), I was able to try again using Oracle VirtualBox. (NOTE that disabling Hyper-V will restart your c

[2017-02-21 20:44] nickiannone commented on #515
More weirdness. Oracle VirtualBox UI shows the machine in the list of VMs, but it remains powered off.

Invoking `docker run -it ubuntu bash` worked, but I was unable to figure out how to exit the bash prompt without closing the Powershell window.

After opening a new administrative Powershell window, even more weirdness:

- `docker version` results in a similar error as before, with the client ve

[2017-02-21 20:57] nickiannone commented on #515
After adding the environment variables listed by `docker-machine env my-machine` to my User Variables in Windows, and re-launching both a user-level and administrative PowerShell window, I've eliminated all but the pesky system certificate pool error. `docker-machine active` correctly shows `my-machine` as the active machine, and `docker version` lists the client and server versions.

Not sure if

[2017-02-21 21:07] dgageot commented on #515
@nickiannone `Docker Machine` and `Docker for Windows` don't mix well. If you have window 10 Pro, you should really get rid of `Machine` and use `Docker for Windows`.
If you decide to do that, make sure you don't have any environment variable pointing to a docker machine host. It's mandatory for `Machine` but will break `Docker for Windows`. You initial description makes me think you had D4W prope

[2017-02-21 21:11] nickiannone commented on #515
See, that's the issue; I tried installing Docker for Windows, and couldn't get it to work properly! I'm not sure if it was VirtualBox not playing nice with the Docker for Windows installer, but it just wouldn't work. I can try wiping my system clean of Hyper-V, Vbox, and both docker-machine and D4W, then starting over fresh, as I think that should work, but I managed to at least get something work

[2017-02-22 02:19] kenchilada commented on #139
I had the same problem.  I had a "External Virtual Switch" that functioned, and my docker host got an IP from DHCP on the LAN.  When WIFI is enabled, it all breaks.  Seems a problem with bridging?  I read elsewhere that I needed to remove external switch and create a NAT virtual switch with "New-NetNat".  This actually worked fine until the next time I rebooted.

Hyper-V feels so fragile, I feel l

[2017-02-22 02:43] kenchilada commented on #139
Followup to previous... if I reboot it starts working again.

In case it helps anyone, I followed this guide to setup the NAT switch...
http://www.thomasmaurer.ch/2016/05/set-up-a-hyper-v-virtual-switch-using-a-nat-network/

Then I stood up a dhcp server on that network to assign ipv4 addresses.

[2017-02-22 05:39] sazwqa commented on #491
Didn't work. Diagnostic ID: 42BF299E-4D59-4211-B09B-E753A1131C3B/2017-02-21_21-38-26

[2017-02-22 09:51] dgageot commented on #491
@eliezeralmeida @sazwqa Sorry to hear that. We'll keep you posted when we have another version to try. Thanks for your help!

[2017-02-22 09:52] dgageot commented on #466
@sthuber90 Sorry to hear that. We'll keep you posted when we have another version to try. Thanks for your help!

[2017-02-22 09:52] dgageot commented on #355
@hindsight20-20 Sorry to hear that. We'll keep you posted when we have another version to try. Thanks for your help!

[2017-02-22 10:13] cs96and commented on #470
Aby update on this?

[2017-02-22 12:15] Sdcxv commented on #498
Unable to write to the database. Exit code: 1
   at Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)
   at Docker.Backend.ContainerEngine.Linux.Start(Settings settings)
   at Docker.Core.Pipe.NamedPipeServer.<>c__DisplayClass8_0.<Register>b__0(Object[] parameters)
   at Docker.Core.Pipe.NamedPipeServer.RunAction(String action, Object[] parameters)

BDD27502-F7B3-410C-98C5-9673A12742

[2017-02-22 12:20] Sdcxv commented on #498
Log file

Version: 1.13.1 (10072)
Channel: Stable
Sha1: 94675c5a765e2c51fba6c10b87e0a1a4ed3dde51
Started on: 2017/02/22 19:56:15.133
Resources: C:\Program Files\Docker\Docker\Resources
OS: Windows 10 Pro Insider Preview
Edition: Professional
Id: 1607
Build: 15031
BuildLabName: 15031.0.amd64fre.rs2_release.170204-1546
File: C:\Users\sdcxv\AppData\Local\Docker\log.txt
CommandLine: "C:\Program Files\

[2017-02-22 13:37] eliezeralmeida commented on #491
@dgageot if you need me to do some testing, just let me know, I'll be happy to help.

[2017-02-22 17:07] mchadwickchennault opened #516 "Mysql cannot be reached when running in Windows"
### Expected behavior
Docker containers should work consistently across platforms. Specifically, my container should be able to connect to mysql in OS X and Windows 10 Anniversary.

### Actual behavior
Cannot connect to mysql on Windows 10 Anniversary.

### Information
The following docker-compose.yml works perfectly in OS X, but not in Windows.
[code]

  - Diagnostic ID from "Diagnose & Feedback"

[2017-02-22 18:34] dgageot commented on #430
@dermeister0 We just release version `17.03.0-rc1` of Docker for Windows. Please give it a try and tell us if it's better now.

[2017-02-22 18:35] dgageot commented on #409
@copitz @amrael @Crack We just release version `17.03.0-rc1` of Docker for Windows. Please give it a try and tell us if it's better now.

[2017-02-22 18:36] dgageot commented on #286
@kamkie @sitex @davidflam @astondg @furio We just release version `17.03.0-rc1` of Docker for Windows with overhauled code for the firewall management. Please give it a try and tell us if it's better now.

[2017-02-22 18:37] dgageot commented on #417
Sorry @JonCubed we don't have a fix yet. We'll keep you posted when we have.

[2017-02-22 18:59] friism commented on #516
@mchadwickchennault the service host name is not expected to be available from the host. If you're connecting from the host, connect to `localhost` on port 3306.

[2017-02-22 19:06] mchadwickchennault commented on #516
Thank you for the quick feedback.

I am attempting to connect from the "php" container, not the "mysql" container.

`mysql -h localhost -u **** -p` results in `ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)`

Also, connecting to "mysql" works in OS X.

[2017-02-22 19:31] avanzarit-in opened #517 "iptables update issue"
### Expected behavior

### Actual behavior

### Information
Error starting daemon: Error initializing network controller: error obtaining controller instance: failed to create NAT chain: iptables failed: iptables -t nat -N DOCKER: iptables v1.6.0: can't initialize iptables table `nat': Permission denied (you must be root)
Perhaps iptables or your kernel needs to be upgraded.
### Steps to reproduce

[2017-02-22 20:03] nickiannone commented on #515
Well, I've managed to break things further. Through an uninstall script I located here (https://forums.docker.com/t/cannot-uninstall-docker-for-windows/15661/11), I was able to clear out most of the problems, but it seems as though I've introduced more. Here's the script I used:

[code]

I was able to uninstall D4W and clean up what I thought was everything. Unfortunately, this only made things wo

[2017-02-22 20:34] grangeway commented on #455
I've seen this behaviour on other dotnet apps - so i'd be really interested to know if anyone investigates further if there's an underlying dotnet/windows bug here

[2017-02-22 20:57] davidflam commented on #286
@dgageot I've just tried Docker version 17.03.0-rc1 and it is much faster. Under 30 seconds.

[2017-02-22 22:01] kamkie commented on #286
@dgageot it is much better now, but still i have some problems

installation took 20 minutes but after that docker was working

after restart docker was working but still marked as starting (commands like `docker ps`) and it "crashed" 27CA4E77-3441-4D83-9240-B52F69F2EF03/2017-02-22_22-55-49

but even after that `docker ps` is working

response from docker ps before timeout
[code]

[2017-02-22 22:03] nickiannone commented on #515
Progress.

I found a similar PowerShell script in "C:\Program Files\Docker\Docker\resources\ForceRemoveDocker.ps1", and was able to modify it to suit my purposes and clean everything out properly. Below is my custom removal file:

[code]

After executing this script, reinstalling D4W from the Installer, and waiting for it to show the "Docker is now up and running!" prompt, everything works as expe

[2017-02-22 22:37] audioboxer217 commented on #464
I'm seeing the same issue.  I confirmed that the 'com.docker.service' does show RUNNING. I sent a crash report (Diag ID: 83E0204E-E01B-4DEA-ABAB-726BE7C306C9/2017-02-22_16-29-13).  Screenshot of the message and the log.txt below

I was also getting Blue Screen at boot for a while until I disabled Docker for Win as a Startup item.  Not sure if that's related or not because if I manually start it a

[2017-02-22 22:42] nzigel commented on #355
It didn't work for me either

Version: 17.03.0-ce-rc1 (10154)
Channel: samba-experiment
Sha1: c9d10818634709c97d0c66fa31ae3d3a9fc5e9c9
Started on: 2017-02-23 11:32:59.232
Resources: C:\Program Files\Docker\Docker\Resources
OS: Windows 10 Pro Insider Preview
Edition: Professional
Id: 1607
Build: 15007
BuildLabName: 15007.1000.amd64fre.rs_prerelease.170107-1846
File: C:\Users\********\AppData\Local\

[2017-02-23 01:20] Ltek opened #518 "Both Stable & Beta fail to install properly, or run, on Win10"
### Expected behavior
Docker to start properly

### Actual behavior
Unable to destroy: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Invalid class

   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.ContainerEngine.Linux.DoDestroy(Boolean keepVolume)
   at Docker.Backend.Contai

[2017-02-23 08:55] adrpor opened #519 "Access Apache installed inside Ubuntu 14.04 container."
### Expected behavior
Access Apache installed inside Ubuntu 14.04 container (installed on MobyLinuxVM - with o IP) on Windows 10

### Actual behavior
Can't access default Apache on Ubuntu container on 127.0.0.1

### Information
A diagnostic was uploaded with id: CD9DB034-FCCB-4C25-9502-C6F276E0F13E/2017-02-23_09-31-09
I'm using Docker (stable version) for Windows
Get-NetNat doesn't return any valu

[2017-02-23 09:29] dgageot commented on #517
@avanzarit-in This is not a Docker for Windows issue. `iptables` can't run in an unprivileged container. Your should run with `docker run --cap-add=NET ...`
Please close this issue if it works for you.

[2017-02-23 09:30] dgageot commented on #518
This is a duplicate of https://github.com/docker/for-win/issues/436

[2017-02-23 09:30] #518 closed

[2017-02-23 09:35] dgageot commented on #519
@adrpor if you want to access the apache that's in a container, from the host, you have to publish port 80. eg. `docker run -it ubuntu:trusty -p 80:80 /bin/bash`
I'm going to close this issue as it's not a Docker for Windows issue

[2017-02-23 10:04] adrpor commented on #519
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "e
xec: \"-p\": executable file not found in $PATH".

[2017-02-23 10:06] adrpor commented on #519
I'm not able to run -p 80:80  due to Error starting userland proxy: Bind for 0.0.0.0:80 failed: port is already allocated.

port 8080:80 is returning the error above

[2017-02-23 10:15] dgageot commented on #519
@adrpor Sorry My command is in the wrong order. It should be `docker run -it -p 80:80 ubuntu:trusty /bin/bash`. If port `80` is already used, it means another container is already publishing this port or something is using this port on the host. What's the result of `docker run -it -p 8888:80 ubuntu:trusty /bin/bash`?

[2017-02-23 11:09] henningst commented on #436
I'm getting the exact same error almost every time I reboot Windows 10.

I usually get it up and running after doing "Reset to factory defaults" a couple of times. Resetting once rarely works, so it has to be done multiple times.

Here are a couple of error dumps:
600E8F38-6852-4E3B-BEC7-43B00FE475FD/2017-02-23_10-00-56
600E8F38-6852-4E3B-BEC7-43B00FE475FD/2017-02-23_10-01-50

**Environment**
Wind

[2017-02-23 11:10] adrpor commented on #519
Thank you, no issues as below 👍 :

![localhost](https://cloud.githubusercontent.com/assets/25367080/23256256/025e66c4-f9bf-11e6-8ea0-38ac88da5da2.png)

However http://127.0.0.1/ is returns completely empty html doc. (not apache)

`<head><link rel="alternate stylesheet" type="text/css" href="resource://gre-resources/plaintext.css" title="Zawijaj długie wiersze"></head><body><pre></pre></body>`

I'm

[2017-02-23 12:51] adrpor commented on #519
I'm glad that the problem is fixed.

PS. Can we find out why port 80 was already allocated when when running ubuntu container?

[2017-02-23 13:38] piwi91 opened #520 "Moby does not start at all"
### Expected behavior
Docker starting

### Actual behavior
Docker crashes while starting

### Information

1BCE9076-E5FE-4E59-AACA-6AFF2C24B428/2017-02-23_14-34-48

Microsoft Windows 10 Pro
Windows 10.0.14393 Build 14393

### Steps to reproduce the behavior

New laptop and it crashes immediately after the setup:

[code]

[2017-02-23 13:55] amrael commented on #409
I've confirmed that the latest version fixed the problem!

[2017-02-23 14:19] rneugeba commented on #409
Thanks for confirming and Thanks to @Crack for the figuring out that the language settings were the cause. I'm closing this issue as there is a released Beta available with a fix

[2017-02-23 14:19] #409 closed

[2017-02-23 14:28] dgageot commented on #519
@adrpor It looks like Skype is using port 80 on your machine. I'm glad the issue is fixed for you. I'm closing the issue

[2017-02-23 14:28] #519 closed

[2017-02-23 14:29] janwerner opened #521 "Feature request: support Hyper-V Dynamic Memory"
Currently, it can be difficult to run Docker for Windows on systems that have less than 16 GB of RAM. Dynamic memory might help with that.

The issue has already been discussed on the [forums](https://forums.docker.com/t/hyper-v-usage-of-dynamic-memory/11703/5).

[2017-02-23 15:59] cluick opened #522 "Docker pull fails with "no route to host" when accessing insecure registry in LAN"
### Expected behavior

We are using an insecure registry in our LAN which is reachable via "myhost:5000". I´ve added "myhost:5000" to the list of insecure registries in Docker Settings / Deamon and restarted docker.
Now I´m expecting that I can pull a docker image from this registry.

### Actual behavior

Executing "docker pull myhost:5000/kinf-4.3-components" on the Windows command line (cmd.exe)

[2017-02-23 16:13] endasil opened #523 "Another Docker hv-sock proxy (vsudd) is not reachable"
### Expected behavior
Start and Run.
### Actual behavior
Fail to start
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

### Steps to reproduce the behavior

Install Docker for Windo

[2017-02-23 16:23] diman82 commented on #345
Didn't help in my case.

[2017-02-23 16:26] dgageot commented on #345
Thank you @diman82, we'll keep you posted when we have another version to test.

[2017-02-23 16:34] junhwong opened #524 "Missing command arguments on windows system restart"
### Expected behavior
When Windows system starts, it is possible to start docker  container correctly(e.g: docker run ....command arguments)
### Actual behavior
Missing command arguments on windows system restart
### Information
[code]

### Steps to reproduce the behavior
  0. use this images: https://hub.docker.com/_/mysql/
  1. docker run --name some-mysql -v /my/own/datadir:/var/lib/mysql -e MY

[2017-02-23 16:41] endasil commented on #523
Got this working by decreasing the max cpu allowed by World Community Grid from 100 to 20.

[2017-02-23 16:41] #523 closed

[2017-02-23 17:27] seydu commented on #497
@bhabermaas How did you downgrade to 1.12?
I am trying to do so but I cannot find that version of docker for Windows.

[2017-02-23 17:32] bhabermaas commented on #497
Fortunately I had the earlier download so I could install it after uninstalling 1.13.  You should ask the Docker people where you can get earlier releases.

[2017-02-23 17:50] seydu opened #525 "Files locked in cache directory"
### Expected behavior
Process should have write permission to a cache directory and all its sub-directories)

### Actual behavior
When I start a container to run PHP FPM to serve Symfony2 some files in the cache directory are locked and the process cannot write in them. No way to remove remove the files (inside the container, in Windows using file explorer or Powershell, even when using Administra

[2017-02-23 17:53] seydu commented on #497
Thank you

[2017-02-24 00:09] fredgate opened #526 "ps -a"
### Expected behavior

### Actual behavior

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

### Steps to reproduce the behavior

  1. ...
  2. ...

[2017-02-24 01:03] kjwise commented on #350
@jpayne I can confirm. Happens to me as well.
There's a thread on TechNet: https://social.technet.microsoft.com/Forums/en-US/858acc34-14f6-4b0c-b040-226b1aa83d11/hyperv-crashes-when-using-the-samsung-nmve-driver-with-the-960-pro-ssd