[2016-12-23 23:39] teoulas opened #353 "Rails quickstart from the docs doesn't work"
I first encountered this error when I tried to build some images for a Ruby app I'm working on. It seems the issue is not with my app, since the same error is triggered when building the demo/quickstart docker image for Rails: https://docs.docker.com/compose/rails/

I have successfully built the images on Docker for Mac and Linux.

### Expected behavior

The image should be built.

### Actual beha

[2016-12-24 04:34] shadercode commented on #342
Hello, I am running containers, but I am limited to 2 CPUs and 2 GB Ram as well.  I am using docker for windows beta, installed using the msi package from [this](url) page.  I would like to use the build in which this problem was fixed.  What are my options for obtaining this?  I am guessing you don't rebuild a msi package nightly, so will I have to build it locally and install it some other way?

[2016-12-24 05:04] erikh opened #354 "certain volume paths seem to segfault with winpty"
### Expected behavior

no segfaulting, maybe an error

### Actual behavior

latest stable d4w, in a git bash (just.. don't ask what I was doing here :D):

[code]

Should segfault, at least it is doing it reliably here.

Diagnostic ID: BEEACCD9-63EB-4C11-BB7E-764117837D09/2016-12-23_21-03-09

[2016-12-24 05:32] erikh commented on #354
This may very well be a bug in winpty too.

[2016-12-24 07:42] #344 closed

[2016-12-24 23:56] marvinvperez commented on #351
**Additional information from the service log file:**

Version: 1.13.0-rc4-beta34 (9562)
Channel: Beta
Sha1: 2645901539fab5b7cc22ff1d6e17eae10a250cdc
Started on: 2016/12/23 17:50:38.676
Resources: C:\Program Files\Docker\Docker\Resources
OS: Windows 10 Enterprise
Edition: Enterprise
Id: 1607
Build: 14393
BuildLabName: 14393.576.amd64fre.rs1_release_inmarket.161208-2252
File: C:\ProgramData\Docker\

[2016-12-25 05:40] medhatelmasry opened #355 "Error: A firewall is blocking file Sharing between Windows and the containers"
### Expected behavior
I am using Docker for windows 10 with a Linux container. I am unable to share a drive. I get a firewall error when I do so similar to case https://github.com/docker/for-win/issues/345. This was working OK until I reset my credentials and it stopped working.
### Actual behavior
When I try to share any drive I get error:
A firewall is blocking file Sharing between Windows and t

[2016-12-25 07:00] xdrew commented on #188
Is there any ETA?

[2016-12-26 16:01] friism opened #356 "Cannot change to Windows Containers"
Diagnostics: 0C170A20-248A-4C0B-B759-49C82718AA77/2016-12-26_10-55-12

![image](https://cloud.githubusercontent.com/assets/126104/21484053/8766d0c4-cb5a-11e6-9910-13f6c795b17c.png)

I think my Windows 10 might be in a weird state:

![image](https://cloud.githubusercontent.com/assets/126104/21484057/94665f06-cb5a-11e6-8152-e244ee6172c6.png)

[2016-12-26 16:16] friism commented on #356
A restart fixes the problem it seems. Leaving issue open for now in case this should be made more durable

[2016-12-26 22:03] shadercode opened #357 "Use nightly build and retain ability to use Linux containers on Windows"
Is it possible to install from a nightly build, but still retain the functionality that allows one to use linux containers on Windows?

A known [issue ](https://github.com/docker/for-win/issues/342) prevents changing settings for Linux containers, but this has been resolved and is available as a nightly update.  However, the only way to run linux containers on Windows seems to be to install using

[2016-12-27 03:14] jan4984 opened #358 "always "starting..." in windows 10"
### Expected behavior
docker in running state
### Actual behavior
docker is always in 'starting...' state
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.

25DECF22-65CA-4A6F-A7B5-E2A0FE10FD9D/2016-12-27_11-10-35

  - a reproducible case if this is a bug, Dockerfiles FTW

install docker for windows, then "docker is  starting...". I have wait for 30 mins.

  - page URL if

[2016-12-27 08:12] joyhope commented on #347
After restart the docker, the MobyLinuxVM is recreate in the c:/user/public/ ... .  It eats all my disk C.  I could not do normal working now.  Waiting for it fixed.

[2016-12-27 16:02] rneugeba commented on #347
@joyhope as @jornh pointed out this is fixed in the Beta version where there is a settings menu to move the VHDX. Could you try that? This will be rolled into the 1.13 stable release, so I'm closing this issue.

[2016-12-27 16:02] #347 closed

[2016-12-27 18:14] friism commented on #188
@xdrew we're scheduling work on performance improvements in the first quarter of 2017.

[2016-12-27 18:55] maestroh commented on #155
This command works in cmder
`docker ps -aq | xargs -n 1 docker rm`

[2016-12-27 20:07] mpratt62 commented on #358
Having the same issue. I do not have any docker images setup yet.

[2016-12-27 20:11] mpratt62 commented on #358
When in powershell these commands hang:

docker info
docker events

[2016-12-27 21:03] Mikaka27 opened #359 "Cannot mount volume on windows"
### Expected behavior
Volume mounting works on windows

### Actual behavior
Error is received: C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: mkdir /c: file exists.

### Information

  - B77F5BF3-DCFB-4AB3-BEC4-762CBCE8E736/2016-12-27_21-53-18
  - Docker version: 1.12.5 (9503)
  - Windows 10 64-bit anniversary
  - I'm following this guide to pack aspnet core t

[2016-12-27 21:53] teoulas commented on #353
Well, I finally found the culprit. For future reference,  if anyone else has a "Killer wireless" WiFi card, make sure you disable this "Advanced Stream Detect" feature:

![ssl-killer](https://cloud.githubusercontent.com/assets/53618/21509215/98e3e838-cc8f-11e6-9690-7b8033c713a0.png)

Killer feature I tell you... SSL killer!

[2016-12-27 21:53] #353 closed

[2016-12-28 12:11] PetaPetaPeta commented on #298
@MatthewMiele I think it's probably faulty behavior that the relative path is converted to an absolute path on the client you are running on irrespective of the value of DOCKER_HOST. The conversion should probably be done by the docker server instead to ensure that it is correct. Maybe we should open an issue to ask for this feature?
I have same issue with the relative paths being way more conveni

[2016-12-28 12:13] PetaPetaPeta commented on #359
Do you have "Shared Drives" enabled in Docker for Windows?

[2016-12-28 14:36] friism commented on #298
The general answer is "no" - host volume mounting only works when on the same host as the daemon or if there's special handling (as is the case with Docker for Windows).

[2016-12-28 14:51] sugun999 opened #360 "sharing drive throws firewall block error with windows native docker when cisco anyconnect VPN is ON"
Expected Behaviour:

Filesharing should work even corporate cisco anyconnect VPN is ON

Actual behaviour:

Sharing drive C fails by throwing firewall block detected error

Information:

Installed native docker on windows 10 enterprise version 10.0.14393
Also, F-secure is installed on my laptop and opened necessary network firewall openings with f-secure (to allow all traffic between 10.0.75.1 & 10

[2016-12-28 16:13] AhnMo opened #361 "I have trouble with starting container."
I installed docker as shown on the Microsoft homepage(https://docs.microsoft.com/ko-kr/virtualization/windowscontainers/quick_start/quick_start_windows_10).

Then I try to start container, but there is a problem as shown below.

CONTAINER ID        IMAGE                  COMMAND             CREATED             STATUS              PORTS               NAMES
9f41f09e9678        microsoft/nanoserver

[2016-12-28 16:58] friism commented on #361
I cannot reproduce this. Can you provide a full repro, eg. how did you create the container in the first place?

[2016-12-28 17:39] rneugeba commented on #221
@whitecolor could you please provide exact steps on how to reproduce on what you try to achieve, including the command line you use to start `dnsdock`.
thanks

[2016-12-28 17:42] rneugeba commented on #247
@Mchl glad it works for you now. I'm closing this issue. If others still have this or a similar issue, please create a new issue.
thanks

[2016-12-28 17:42] #247 closed

[2016-12-28 17:52] AhnMo commented on #361
Oh! Here it is.

CONTAINER ID        IMAGE                  COMMAND             CREATED             STATUS              PORTS
   NAMES
9f41f09e9678        microsoft/nanoserver   "cmd"               2 hours ago         Created
   quizzical_goodall
PS C:\WINDOWS\system32> docker run -it microsoft/nanoserver cmd
c:\program files\docker\docker.exe: Error response from daemon: container 73bc6ac7b17b8f5

[2016-12-28 17:57] rneugeba commented on #361
@AhnMo this issue tracker is for issues related to the Docker for Windows application. You seem to be using a docker engine version (`1.14.0-dev`) which we don't ship as part of that application. Your issue also seems to be more related to the core docker engine so I'm closing this issue. Could you instead open an issue on https://github.com/docker/docker/issues with the details?
Thanks

[2016-12-28 17:57] #361 closed

[2016-12-28 18:08] rneugeba commented on #356
@friism thanks for the report. Your system indeed looks like in a weird state with no windows features listed at all. I see you are on insider build 14971 (which is not the latest, I'm on 14986) and I can't reproduce this, so I'm closing this as there is very little we can do in terms of debug (your reboot seem to have fixed whatever issue there was)

[2016-12-28 18:08] #356 closed

[2016-12-28 18:51] rneugeba commented on #341
@glonnon what's your use case? Docker for Windows does not really provide the ability to access the internal network, but we do, as you describe, provide a mechanism to access the exposed container ports on localhost.

[2016-12-28 18:53] rneugeba commented on #343
@ckiddo74 would it be possible to provide steps to reproduce the issue?  When it happens, do you still have containers running? What does `docker ps -a` say, what does `docker inspect` of the containers say?

[2016-12-28 18:56] rneugeba commented on #345
@simonferquel could you take a look?

[2016-12-28 18:58] rneugeba commented on #348
@nerumo thanks for the report. Could you provide a compose file to reproduce the issue?
Thanks

[2016-12-28 19:17] rneugeba commented on #350
@reypm the error message in your logs is different. It says:
[code]
I also see that it seem to have worked with the 1.12.5-stable...could you please open a separate issue with the details?

[2016-12-28 19:18] rneugeba commented on #350
@neridonk could you provide a diagnostics ID so we can take a look?

[2016-12-28 20:10] johnrb2 commented on #359
I was having the same issue and found it was due to my cisco vpn. Docker then runs into firewall issues.

[2016-12-28 20:11] johnrb2 commented on #355
I got this issue and it was coming from my cisco vpn. Once I disabled the VPN I could share just fine but now I don't have access to the databases I need....

[2016-12-28 20:17] rneugeba commented on #350
@BeardedYeti Thanks for the detailed report. Creating an external switch should not be an issue. I have that setup as well.

The Hyper-V event log is not very helpful:
[code]

If you can't create other VMs with Hyper-V manager that is, of course an issue. SO that should be looked at first...

Can you try creating an empty VM, basically create a new VM and then click through `Next` on every step wi

[2016-12-28 20:19] rneugeba commented on #351
@marvinvperez thanks for your report. Could you try the `Debug-ContainerHost.ps1` script from: https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/Debug-ContainerHost and see if that shows up anything?

[2016-12-28 20:48] whitecolor commented on #221
@rneugeba
Well `dnsdock` actually has nothing to do with this issue. The problem with accessing containers by IP from windows machine.

- You just start any container (but container should be able to respond to pings).
- Then you need to get its IP. Suppose it is default `bridge` network, so: `docker network inspect bridge` (usually something like  *172.17.0.2*)
- Try to ping this IP **from window

[2016-12-28 20:56] rneugeba commented on #354
actually this is not the daemon seg-faulting but `winpty`. I've updated the subject.

When running `winpty  docker run -it -v c:/var/run/docker.sock://var/run/docker.sock ubuntu` this creates a `winpty.exe.stackdump` file:
[code]
which indicates a stack overflow.

Running the command: `docker run -v c:/var/run/docker.sock://var/run/docker.sock ubuntu` (note, no `winpty` and no `-it`) it works fine

[2016-12-28 20:56] #354 closed

[2016-12-28 21:17] rneugeba commented on #359
I can't reproduce the issue, but, your command line (`docker run -it --rm -v "$pwd:/sln" microsoft/aspnetcore-build:1.0.1`) is missing a `\` after the `$pwd`. So with:
[code]
it works for me(tm).

Looking at the logs, there seem to be have been an issue with sharing the `C:` or `D:` drive. I see:
[code]
However looking at the logs from the Linux VM I see that the `C:` drive is actually mounted.

C

[2016-12-28 21:21] rneugeba commented on #349
@simonferquel could you take a look?

[2016-12-28 21:31] rneugeba commented on #358
@jan4984 thanks for your report. Something doesn't seem right with your Hyper-V installation. normally in `bcdedit` the `hypervisorlaunchtype` is set to `Auto` but in your case it is set to `Off`. Unfortunately a lot of the other diagnose output is in Chinese, which I'm not fluent in (and doing google translate is somewhat cumbersome).

Could you quit and un-install the Docker for Windows applicat

[2016-12-28 22:18] SpencerTuft commented on #360
Me too.

[2016-12-28 23:38] whitecolor opened #362 "File watching on mounted volumes doesn't work"
### Expected behavior
For example these popular packages:
`tsc --watch` (typescript compiler)
`nodemon`
`node-dev`
`webpack`

should be able to watch file changes on mounted volumes.

### Actual behavior
tsc --watch (doesn't work on mounted volumes)
nodemon (works too only using legacy flag)
[node-dev](https://github.com/fgnass/node-dev/issues/190) (works only with legacy `--poll` option)

Will it

[2016-12-28 23:51] erikh commented on #354
Oof, yeah. sorry!

On Wed, Dec 28, 2016 at 12:56 PM, Rolf Neugebauer <notifications@github.com>
wrote:

[2016-12-29 00:19] treeder commented on #220
@Pjstaab did you change to the fast ring of the windows insider builds?  You need to do that.

[2016-12-29 00:24] medhatelmasry commented on #355
The only firewall on my computer is the generic Windows Firewall for
Windows 10. I see only one inbound rule in allowing port 445 from local
address 10.0.75.1 to remote address 10.0.75.2.

I still get the same error when I disable windows firewall. I am not sure
what else to do.

On Wed, Dec 28, 2016 at 12:11 PM, John Bench <notifications@github.com>
wrote:

[2016-12-29 01:16] friism commented on #362
Thanks for reporting, this is a known limitation: https://docs.docker.com/docker-for-windows/troubleshoot/#inotify-on-shared-drives-does-not-work

[2016-12-29 01:16] #362 closed

[2016-12-29 01:17] whitecolor commented on #362
Ok, it seems that `tsc` works, not sure why it seem to me that it doesn't.

[2016-12-29 02:03] marvinvperez commented on #351
Hi @rneugeba ,
Here is my diagnostic ID: 68411D86-D2CF-4F1A-988A-37B9EA8B83CE/2016-12-29_09-55-11

Also, I ran Debug-ContainerHost.ps1 and here's the result:

PS C:\temp> .\Debug-ContainerHost.ps1
Checking for common problems
Describing Windows Version and Prerequisites
 [+] Is Windows 10 Anniversary Update or Windows Server 2016 64ms
 [+] Has KB3192366, KB3194496, or later installed if running Wi

[2016-12-29 06:47] jan4984 commented on #358
@rneugeba thank you for help.

It's the `hypervisorlaunchtype`  I think. I have turn a linux pc now,  so I will just close this issue.

[2016-12-29 06:47] #358 closed

[2016-12-29 08:13] johnvanloon opened #363 "Exception when pulling an image"
After getting the anniversary update of Windows 10 (Winver: 1607, build 14393.576) I followed the steps on this page: https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10

However when trying to pull any image (tried several from docker-hub, both based on nano-server and server-core), I get an exception when the first layer is at 100% extracting:

fa

[2016-12-29 10:22] rneugeba commented on #363
@johnvanloon thanks for your report. Could you try the `Debug-ContainerHost.ps1` script from: https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/Debug-ContainerHost and see if that shows up anything?

Also, could your provide a diagnostics ID? This uploads additional information which might be useful for debugging this issue
Thanks

[2016-12-29 10:25] rneugeba commented on #280
Closing due to inactivity. Please re-open if the issue still exists with the latest beta and provide a new diagnostics ID.
Thanks

[2016-12-29 10:25] #280 closed

[2016-12-29 10:28] rneugeba commented on #157
@scmrus glad to hear it's working now. @pmsousa @cfstras @casperdcl do you still have the issue with the latest Beta?

[2016-12-29 10:30] rneugeba commented on #213
Closing issue do to inactivity. Please re-open if the issue still persists with the latest Beta.
Thanks

[2016-12-29 10:30] #213 closed

[2016-12-29 10:35] rneugeba commented on #274
I've changed the title of the issue to better reflect the issue.

@marcospc6 @andythorne @yohanb have you had a chance to try with windows updates installed?

[2016-12-29 11:34] simonferquel commented on #349
Can you manually close Docker for windows, and stop the com.docker.service service before uninstalling ?

[2016-12-29 11:57] johnvanloon commented on #363
Diagnostics ID = 5FD2D3E0-F72B-486F-A8E4-26BC33063E9D/2016-12-29_09-03-07

Output from Debug-ContainerHost.ps1 is below.
The fact that the base-image is not installed, makes sense as I'm not able to pull any.
Looking at the network  message right now, but I think that's not related, right?

Checking for common problems
Describing Windows Version and Prerequisites
 [+] Is Windows 10 Anniversary Upd

[2016-12-29 12:06] johnvanloon commented on #363
FYI: Fixed the NAT issue in the debug-output. However, as expected, this does not resolve the issue of not being able to pull an image.

[2016-12-29 12:43] pmsousa commented on #157
@rneugeba Nope, problem solved!

[2016-12-29 12:54] rneugeba commented on #320
@ahoka I had a look at your logs and there is nothing conclusive.

The error comes from from here:
[code]

The error code is this [WSAENOBUFS 10055](https://msdn.microsoft.com/en-us/library/windows/desktop/ms740668(v=vs.85).aspx) and likely comes from the Hyper-V socket implementation.

I notice you are on Windows build `14393.0`. There are have been several important updates and bug fixes to that

[2016-12-29 12:56] rneugeba commented on #322
closing due to lack of response. Please re-open when you have an update diagnostics ID.
Thanks

[2016-12-29 12:56] #322 closed

[2016-12-29 13:24] ahoka commented on #320
Thanks for the RCA. I haven't encountered this problem again, so you can close the issue.

[2016-12-29 13:24] #320 closed

[2016-12-29 13:50] rneugeba commented on #221
@whitecolor what's your use case? If you want to monitor a container there are a number of other options...

A bit of a background, while the access via `172.x.x.x` (or similar) may work on a local Linux host there are a number of additional considerations:
- this is only the case for the default `bridge` networking mode. Other networking modes work different, especially if you consider network pl

[2016-12-29 14:59] whitecolor commented on #221
Thanks second that is a good advice for some (I believe rare) cases. But the much more important case is developer's convenience in accessing running services by fixed names not fixed/or not fixed  ports. Having to deal with different port number for multiple services is very inflexible and clumsy way to go while development.

So the case, why we need it. Accessing multiple web services:

- Often

[2016-12-29 15:01] rneugeba commented on #316
@reypm thanks for the log files.

I see sometime indication that the app used to work on `2016/12/12 00:00:20.850` and `2016/12/14 17:41:10.318` but failed in between on `2016/12/12 20:29:04.979` with:
[code]
It also later failed on `2016/12/14 17:44:50.429` with:
[code]
and that is the last in the log.

I also see various VMware processes running as well as well as VMware network adapters, which

[2016-12-29 15:11] reypm commented on #316
@rneugeba to be honest I don't know for sure what could be happening, you're right Vmware and Hyper-V doesn't like each other so in order to use Docker I had to disable Vmware which I did. After several tries meaning installing and uninstalling Docker, enabling/disabling Hyper-V I make it to work with the beta version.

 I will try the latest Beta/RC and see if it's still working. Will let you kno

[2016-12-29 15:18] rneugeba commented on #316
Thanks for getting back so quick and looking forward hearing back

[2016-12-29 16:04] csandanov commented on #274
Same issue here (under Parallels 12), uploaded diagnostic E17F7771-943E-4986-ABB0-76FE4CDEF8E5/2016-12-29_23-03-32

[2016-12-29 16:22] rneugeba commented on #274
@csandanov your issue is not the same. There is no Linux kernel crash as [this one](https://github.com/docker/for-win/issues/274#issuecomment-264174559). In general we don't support running Docker for Windows where it is running inside a Windows 10 VM. The reason is that this requires nested virtualisation to be support very well and:
- this is quite hard and not many hypervisors get it quite righ

[2016-12-29 16:58] rneugeba commented on #221
I had a closer look and i can confirm that the `route add` trick does work on 1.12.5-stable but does not work on the latest beta (1.13.0-rc4 beta34). Digging a bit deeper I noticed that with 1.13.0-rc4 The ICMP echo request packets arrive on the interface but get dropped by the `FORWARD` iptables chain. In 1.13.0-rc4 the default policy for the `FORWARD` chain is set to `DROP` while in 1.12.5 the p

[2016-12-29 17:01] rneugeba commented on #341
Closing this issue as a duplicate of #221. Please see in particular the comments [here](https://github.com/docker/for-win/issues/221#issuecomment-269632645) and [here](https://github.com/docker/for-win/issues/221#issuecomment-269659422)

[2016-12-29 17:01] #341 closed

[2016-12-29 17:30] yohanb commented on #274
@rneugeba installed the latest Windows updates (14393.576) and it now works with the latest version of Docker for win, Version 1.13.0-rc4-beta34 (9562).

Thanks for the help!

[2016-12-29 17:34] rneugeba commented on #274
@yohanb excellent. Thanks for getting back and confirming my suspicion.

[2016-12-29 17:39] rneugeba commented on #274
I've marked this issue as `5-will-be-closed` as [this comment](https://github.com/docker/for-win/issues/274#issuecomment-269663988) suggests that the issue is related to advertised CPU features as [detailed here](https://github.com/docker/for-win/issues/274#issuecomment-266833657) and is very likely a bug in Hyper-V which can be fixed by installing the latest updates.

I will be closing this issue

[2016-12-29 18:09] whitecolor commented on #221
Why? What is your recommendation arguments?

[2016-12-29 18:19] rneugeba commented on #221
`Whale systray rightclick -> Settings -> Daemon`. Then toggle `Basic` to `Advanced` and you get an editor window where you can add `"iptables": false` to the daemon configuration.

Accessing container by IP may make your development flow easier but for production it certainly will be better to expose ports and services properly.

[2016-12-29 18:21] whitecolor commented on #221
Thanks.

Yeah, that it is obviously for enhancing development workflow with docker & docker-compose.

[2016-12-29 18:53] rneugeba commented on #118
@dgageot this does not seem to work with `1.13.0-rc4-beta34 (9562)`:
[code]

using `bip` gives an error because it's not a windows Daemon option, but https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-networking suggests to use `fixed-cidr`. Any idea?

[2016-12-29 19:04] rneugeba commented on #305
closing since I haven't seen any issues with this in any diagnostics I looked at since. @jtnord please re-open if you still see the issue

[2016-12-29 19:53] kallie-b commented on #196
We need to see if you have DNS configured on your host--it looks like you don't have external DNS configured on the containers. Please run the following from your host and report back the results:

`get ipconfig /all `

[2016-12-29 20:24] eliassal commented on #196
Hi Kallie,

Here is the output, I have a DNS which is the same for all my

Windows IP Configuration

   Host Name . . . . . . . . . . . . : myServer

   Primary Dns Suffix  . . . . . . . : my.net

   Node Type . . . . . . . . . . . . : Hybrid

   IP Routing Enabled. . . . . . . . : No

   WINS Proxy Enabled. . . . . . . . : No

   DNS Suffix Search List. . . . . . : my.net

Ethernet adapter vEther

[2016-12-29 20:31] eliassal commented on #196
Sorry, was this for me or for mfaizanse? I responded quickly as I thought you were chasing the issue of not being able to pull on the other machine with win2K16

[2016-12-29 20:32] kallie-b commented on #196
Apologies, this was for mfaizanse. I will remember to mention him from now on to avoid ambiguity!

[2016-12-29 20:37] drchilds opened #364 "Unable to Share C: drive with AzureAD credentials."
### Expected behavior
Selected drive is shared after entering AzureAD credentials.
### Actual behavior
1. User is prompted for credentials after selecting drive and clicking "Apply".
2. After a few seconds the selected drive is de-selected, and no error is shown.
### Information
  - Windows 10 Anniversary, fully patched.
  - Docker for Windows Beta 1.13.0-rc4-beta34 (9562)

### Steps to reproduce

[2016-12-30 00:25] reypm commented on #316
@rneugeba I've installed Docker 1.13 RC34 and it didn't work either. Here is the message I got as soon as I try to start Docker:

[code]

A crash report has been uploaded with the diagnostic ID: `AAD16731-8612-4717-BB12-BA2A5ED94345/2016-12-29_19-21-19`

I have Vmware installed but because I've enabled Hyper-V back I can not uninstall it. I will try to remove both and start from scratch.

[2016-12-30 00:50] reypm commented on #316
After have both uninstalled and install `1.13 RC4 beta34` I am able to start successfully Docker using the 1.13 RC4 Beta 34. I'll close the issue and I'll reopen again if have the issue again. Thank you for the support

[2016-12-30 00:50] #316 closed

[2016-12-30 04:36] mfaizanse commented on #196
Thanks @kallie-b for your time. I somehow got the issue resolved. I don't know the exact solution but I hit and tried some settings of default nat adapter and then reinstalling the docker resolved the issue..:)

[2016-12-30 10:29] rneugeba commented on #364
@drchilds Unfortunately, as explained in #132 this is not something we can fix. The workaround is to create a local user (see #132 and #303).

[2016-12-30 10:29] #364 closed

[2016-12-30 11:07] dgageot commented on #325
Thanks @coben07 or the details.

+ Did you configure the registry as a pull though cache? https://docs.docker.com/registry/recipes/mirror/#/running-a-registry-as-a-pull-through-cache
+ @dmp42 any idea?

[2016-12-30 11:40] rneugeba commented on #221
@whitecolor could you confirm if the workaround suggested is working for you?
Thanks

[2016-12-30 11:48] rneugeba commented on #301
@egor-laufer this seems to be fixed in  1.13.0-rc4 which is shipping with Beta34. I've tried it with legacy console and without and it doesn't seem to crash anymore. I'm closing this issue, but please re-open if it is still an issue for you on the latest beta

[2016-12-30 11:48] #301 closed

[2016-12-30 11:50] rneugeba commented on #332
@nerumo this should be fixed in the latest Beta (beta34) so I'm closing. Please re-open if the issue still exist for you.
Thanks

[2016-12-30 11:50] #332 closed

[2016-12-30 11:52] rneugeba commented on #306
@pcharvet could you try the latest beta and if that stiff fails provide a Diagnostics ID for us to take a closer look?
Thanks

[2016-12-30 11:54] pachkovsky commented on #221
@rneugeba works for me

[2016-12-30 11:58] rneugeba commented on #288
@justincormack do you know if the relevant changes in 1.13 have been reverted? Is there an issue/PR for it?
@oliversalzburg have you tried 1.13.0-rc4 which ships with Bets34?

[2016-12-30 12:04] rneugeba commented on #211
Closing this issue. It seems that the issue was fixed by updating the version and we didn't have other reports of a similar issues and messing with the installer to provide better feedback is going to be tricky...

[2016-12-30 12:04] #211 closed

[2016-12-30 12:11] rneugeba commented on #187
I'm closing this issue. @thariman seems to have fixed it by re-installing.

@dsmaher your system seemed to have been in a very bad state. This there was no followup I assume the re-install fixed it. If not, please try the latest Beta an open a new issue.

Thanks

[2016-12-30 12:11] #187 closed

[2016-12-30 12:12] justincormack commented on #288
I think they were all reverted by 1.13.0-rc4.

[2016-12-30 12:23] rneugeba commented on #312
I'm closing this issue. It seems @saaadel has fixed the issue. @marjorienorm if you still have an issue please try the latest Beta and open a new issue with a Diagnostics ID so that we can take a closer look.
Thanks

[2016-12-30 12:23] #312 closed

[2016-12-30 12:31] saaadel commented on #312
Just will add details: problems only for linux containers on Windows. Stop-start scenario can help, tried it multiple times. Sad only that it does not work out of the box

[2016-12-30 13:08] whitecolor commented on #221
@rneugeba
After adding `"iptables": false`
- Yes I can now ping 172.x from windows machine
- docker is not publishing ports (on windows machine)
- containers can not reach windows dev machine and external hosts

https://docs.docker.com/engine/reference/commandline/dockerd/#linux-configuration-file
There is multiple warning about disabling this option:

Co considering this need to have more instruc

[2016-12-30 13:44] sendit2me commented on #331
Was getting a similar error, basically deleted the Docker NAT in the switches,
there was no MobyLinuxVM created, but this was created, and the NAT, when I reset to factory defaults.

[2016-12-30 13:45] sendit2me commented on #315
Was getting a similar error, basically deleted the Docker NAT in the switches,
there was no MobyLinuxVM created, but this was created, and the NAT, when I reset to factory defaults.

see also https://github.com/docker/for-win/issues/331

[2016-12-30 13:59] rneugeba commented on #185
The latest beta (Beta34) now allows editing the Daemon config via the UI under `Settings -> Daemon` and toggle to advanced.

I've tried setting the `"graph"` option and it seems to work.

[2016-12-30 15:08] rneugeba commented on #191
The latest Beta (Beta34) now has  reset to factory option for Windows containers which removes container images and other artefacts and should significantly reduce disk space used. It does not completely remove the `C:\ProgramData\Docker` directory.

Doing this on uninstall is not going to be easy. As mentioned above the only safe way to do this is via `docker rmi` and the user may have already sw

[2016-12-30 16:07] sameronline commented on #39
I still can replicate this behavior on 1.12.5 (9503) stable

[2016-12-30 16:18] rneugeba commented on #221
Oops, you are right. In that case, I'm afraid, there is no easy way to achieve what you want.

I will discuss next week with some other folks but, unfortunately, this might be closed as won't fix

[2016-12-30 16:33] whitecolor commented on #221
@rneugeba

Surely this should be not, at least there should be some maybe hacky way to achieve this, (I don't know: maybe change this ip-forward policy manually in `MobyLinuxVM`).

I think this is important feature, and if it won't be available it would be a very bad favor for dev folks. Just not many people use docker in development yet, because it is really hard to get smooth dev workflow (it is

[2016-12-30 16:52] rneugeba commented on #221
You can enter the root namespace via nsenter as with Linux containers. Something like
[code]
should do the trick.

[2016-12-30 17:17] rneugeba commented on #295
@peterbud thanks  for the detailed report. It looks like this is a duplicate of #262 which seems to have more details. Are you OK with closing this in favour or #262?

[2016-12-30 17:31] rneugeba commented on #262
@timotei @peterbud thanks for the detailed instructions.

I've just tried with 1.13-rc4 which, IIRC, had some console related fixes but still no dice. Tried from `powershell` with `cmd` and `powershell` in the container as well as from `git-bash` on the host.

And for completeness (but I think you tried this already above):
[code]

And:
[code]

[2016-12-30 17:51] coben07 commented on #325
Thanks @dgageot and @dmp42.  I do have the registry configured as a pull through cache. It is a [nexus registry](https://www.sonatype.com/docker) inside our firewall as opposed to the official Registry docker image.   I did test it with a "docker pull pmnexus:8883/node" and confirmed the following behavior:  1st pull the nexus registry passes through to dockerhub to get the oficial node image and

[2016-12-30 19:43] oliversalzburg commented on #288
@rneugeba I'm on 1.12.5 for now

[2016-12-30 21:16] kallie-b commented on #196
Good to hear, I'm glad you got it resolved. If you figure out exactly what was going wrong do let me know :)

[2016-12-30 21:26] rneugeba commented on #288
@oliversalzburg thanks for getting back. I'm closing this issue for now assuming it is fixed as per @justincormack comment. Please re-open if the issue is still present the next time you try 1.13.
thanks

[2016-12-30 21:26] #288 closed

[2016-12-31 02:45] josephgardner opened #365 "Can't start docker service on windows server VM"
### Expected behavior
Docker service should start

### Actual behavior
WARNING: Waiting for service 'docker (Docker)' to start...
indefinitely

### Information

Running windows server 2016 in a parallels vm on osx. I was able to run the nanoserver helloworld, but the image dowload kept crashing with "unexpected EOF." I tried to pull the windowsservercore image,  same type of crashes. Rebooted and

[2016-12-31 06:32] peterbud commented on #295
@rneugeba OK, lets close this, and use the #262 to track the issue

[2016-12-31 06:32] #295 closed

[2016-12-31 09:25] statdev commented on #350
rneugeba:
Im having the same issue on W10. The applet fails to start, complaining about memory and launching the VM fails due to memory. Ive got quite a bit of RAM left, so I figured Id try running another VM.

I was able to run multiple VMs without an issue, whatever is wrong lies within Docker.

[2017-01-01 19:43] EnzoTheBrown opened #366 "Docker4Windows: File Sharing Needs Password, My Computer Doesn't Have One"
### Expected behavior
make C:// a shared drive
### Actual behavior
Asking a password I don't have can't go further
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build number, etc)

### Steps to repr

[2017-01-02 14:05] simonferquel commented on #366
Hi @EnzoTheBrown By design, we rely on authenticated samba shares, so you need to protect your user account with a password to enable drive sharing

[2017-01-02 14:08] simonferquel commented on #365
@friism  I think this one is not related to Docker for Desktop, could you redirect the issue to people working on Windows server containers ?

[2017-01-02 14:14] simonferquel commented on #363
@friism it seems not to be a docker for desktop bug but more a Windows container issue. Can you bring someone to help diagnose it ?

[2017-01-02 14:15] simonferquel commented on #360
Hi, which version of Docker for Windows are you using ? can you try latest beta ?

[2017-01-02 16:47] friism commented on #365
@josephgardner can you re-open this here: https://github.com/Microsoft/Virtualization-Documentation/

You'll probably want to try to reset the networking as documented here: https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/CleanupContainerHostNetworking#force-networking-cleanup

[2017-01-02 16:47] #365 closed

[2017-01-02 18:23] friism commented on #363
@johnvanloon I think this might be a dupe of https://github.com/Microsoft/Virtualization-Documentation/issues/355

In addition to the HP stuff, do you have any antivirus software that might cause trouble?

[2017-01-03 02:55] vowstar opened #367 "Docker HyperV vEthernet (DockerNAT) is Un-identified Network (Public Network) in tray"
### Expected behavior

Hide the tray icon of vEthernet (DockerNAT)

### Actual behavior

The system tray always show vEthernet (DockerNAT) is Un-identified Network (Public Network)

### Information

  - System: Microsoft Windows 10 Professional 10.0.14393
  - Docker: Docker 1.12.5
  - A laptop with Wi-Fi

### Steps to reproduce the behavior

#### Method 1
  1. Install Docker 1.12.5 (Hyper V versio

[2017-01-03 06:25] sudhakar999 commented on #360
Hi Simonferquel,

Thanks for the reply. I tried with both stable channel (1.12.5) & beta channel (1.13.0-rc4) and the end result is the same error which is "Firewall blocking file sharing between windows and the container. See documentation for more info"

Please note that all "file and printer sharing" inbound rules of windows firewall settings are enabled for private, public and domain profiles

[2017-01-03 08:03] johnvanloon commented on #363
It indeed seems to be a duplicate of that issue.
We are using Windows Defender for anti-malware and I am not able to disable that or that exclude any files or folders.

[2017-01-03 08:32] Pjstaab commented on #220
@treeder I've been on the fast ring, tried switching to slow for a day and then back to fast, nothing seems to work.

[2017-01-03 10:45] rneugeba commented on #221
Discussed this with my colleagues and unfortunately there doesn't seem an easy/natural way to expose the container network on the host with Docker for Windows/Mac. Closing this as won-fix

[2017-01-03 10:45] #221 closed

[2017-01-03 10:55] rneugeba commented on #363
@johnvanloon thanks for checking and commenting on  Microsoft/Virtualization-Documentation#355. The issue is probably better tracked there as this seems to be a more generic Windows issue rather than a Docker for Windows issue, so I'm closing this here. If you prefer tracking here, please re-open.
Thanks

[2017-01-03 10:55] #363 closed

[2017-01-03 12:11] whitecolor commented on #221
@rneugeba that is really sad and disappointing to hear. Can you advice how what can be manually changed in the MobyLinuxVM to make this available again (as it was when it worked)?

[2017-01-03 12:29] rneugeba commented on #221
As mentioned above, this is a change which was introduced with Docker engine 1.13 with [this PR](https://github.com/docker/libnetwork/pull/1526) due to [this issue](https://github.com/docker/docker/issues/14041). This was a genuine issue and it's good that it got fixed.

There is no easy workaround I can see. You could disable `iptables` and then manage the rules yourself, but that seems very erro

[2017-01-03 12:55] jmkgreen commented on #349
@simonferquel ok did this - the uninstaller "Please wait while Windows configures Docker" progress bar gets further but stops at about 15% complete.

The `install-log.txt`:

[code]

The process has again hung so I `Cancel` and am left with `Canceling...`. Now off to reboot again as I have no other option.

[2017-01-03 13:02] jmkgreen commented on #349
So I've not rebooted and against gone to uninstall Docker. This time I get an estimated time remaining - and this time it swiftly disappears!

Again, `install-log.txt`:

[code]

Add/Remove Programs no longer lists `Docker` (finally).

[2017-01-03 15:49] dsmaher commented on #187
Yes, reinstalling Windows fixed the problem.  After further investigation, it's possible that my hyper-v state may have been corrupted by a bad (older) Window Insider Preview build.  The current Windows preview build with the current Docker Beta build is fine.

[2017-01-03 18:30] johnrb2 commented on #360
Okay so what I have found out is that the vpn doesn't like the IP using 10.0.75.1 most likely because it is used by the business already.

You need to go to the Network Connections and going to the properties of NAT. And update docker network.

![image](https://cloud.githubusercontent.com/assets/13036323/21618327/a3923f4c-d1a7-11e6-94bd-10c886743549.png)

[2017-01-03 18:33] johnrb2 commented on #360
You might only need to change it in docker though. The IP can be 192.168.[whatever < 255].0

[2017-01-03 18:34] johnrb2 commented on #360
Yeah you just go to network settings in docker.

[2017-01-03 20:01] Downes opened #368 "docker-cloud installation fail"
Expected behavior

C:\Users\downess>docker-cloud -v
docker-cloud 1.0.0
Actual behavior

C:\Users\downess>docker-cloud -v
Traceback (most recent call last):
File "c:\program files\anaconda3\lib\site-packages\dockercloud\api\auth.py", line 56, in load_from_file
out = p.communicate(input=HUB_INDEX)[0]
File "c:\program files\anaconda3\lib\subprocess.py", line 1072, in communicate
stdout, stderr = self

[2017-01-03 21:29] jasonwzs commented on #315
I finally get it working by using the following workaround:
In resources\MobyLinux.ps1, comment the line $vm | Set-VMFirmware -EnableSecureBoot Off -BootOrder $vm.DVDDrives, replace it with following two lines:
$iso = $vm | Get-VMFirmware | select -ExpandProperty BootOrder | where {$_.FirmwarePath.EndsWith("Scsi(0,1)")}
$vm | Set-VMFirmware -EnableSecureBoot Off -FirstBootDevice $iso

It's still u

[2017-01-04 00:36] rneugeba commented on #315
@jasonwzs glad it worked for you. Looks like another case where #216 would have helped...

@dgageot maybe we should change the script. WDYT?

[2017-01-04 01:54] tonkajuris commented on #274
This is strange but it seems to be working fine for me now.  I started with the Beta build and then went to the stable version.  Then back to the beta and it works a charm.  No issues thus far and I've been able to run images just fine.   Thanks for the help.

[2017-01-04 06:29] abhinav-h-saxena commented on #248
What is the resolution for this issue?

[2017-01-04 20:51] friism commented on #355
@simonferquel do you have time to look at @medhatelmasry dump?

[2017-01-04 21:06] sugun999 commented on #360
Hi,

Thanks for the info. Instead of trying all the numbers (1-254) for IP part, is there any specific rule/criteria in choosing the number, so that it works?

[2017-01-04 21:08] johnrb2 commented on #360
You just don't want it to be one that is already in use by something else.

[2017-01-04 21:11] johnrb2 commented on #360
http://trendblog.net/ever-wondered-use-192-168-x-x-ip-addresses-home/

[2017-01-05 06:50] whitecolor commented on #221
For those who need a solution:
1) Get inside MobyLinuxVM: `docker run --rm -ti --privileged --network=none --pid=host justincormack/nsenter1 /bin/sh`
2) Change policy to `ACCEPT` from `DROP`: `iptables -A FORWARD -j ACCEPT`

Seems to work.

[2017-01-05 07:14] thedewi commented on #349
I'm having the same problems. To some extent these issues appear to be 7 months old: https://forums.docker.com/t/cannot-uninstall-docker-for-windows/15661

I tried manually removing components as per ebriney's powershell instructions on that thread, although some of the commands were not quite correct. Afterwards I successfully installed the latest version, hoping things would be fixed, but I am o

[2017-01-05 08:03] weidi opened #369 "Docker for Win wont accept HTTP Proxy with password auth"
### Expected behavior
In the Proxies Section there should be an additional fiel for authentication
### Actual behavior
even when writing down user:pass@proxy docker wont be able to connect to docker backend
![image](https://cloud.githubusercontent.com/assets/2188062/21672915/d4170bf0-d325-11e6-8bb6-1e3580f6262e.png)

### Information
[08:51:05.305][Notifications  ][Error  ] Failed to connect to doc

[2017-01-05 08:49] sugun999 commented on #360
Hi,

I tried with several free network IPs but still docker throws same error when trying to share C drive.

[2017-01-05 11:51] rneugeba commented on #366
closing as this won't fix

[2017-01-05 11:51] #366 closed

[2017-01-05 13:00] simonferquel commented on #355
@medhatelmasry I see that you are using an insider preview of Windows. Unfortunately in latest build there  seem to have a bug with Samba sharing preventing drive sharing with the linux VM to work.

We don't have any workaround for now (except reverting to Windows 14393)

[2017-01-05 17:18] markharrisonuk commented on #319
I have the same issue - same build of Windows.

A43F6C92-060D-4D75-BA23-71C77EAE932E/2017-01-05_17-16-47

[2017-01-05 20:23] johnrb2 commented on #360
I had to get a computer with an operating system that was the full version of Windows 10 Pro instead of the companies modified version of Windows 10 and my computer had to be off the company's domain. It could be an issue with that. I am not an official docker worker. But I would suggest trying docker for windows beta and see if it fixes it and uploading a diagnostic file and copy and sharing the

[2017-01-05 20:50] friism commented on #360
@johnrb2 thanks for following up - it'd be very useful for us to learn what exactly blocked Docker on a normally configured machine.

[2017-01-05 20:57] spboyer opened #370 "Unable to mount C: Drive"
### Expected behavior
Enable shared drive

### Actual behavior
Check box (C Drive) enter credentials
Log File shows success
[code]

###Result
After applying and "Updating Drives" completes, box is unchecked. Drive not shared

### Information
docker version
[code]

Log below
[code]

[2017-01-05 20:59] spboyer commented on #370
@stevelasker
@friism

[2017-01-05 21:04] friism commented on #370
@spboyer thanks for posting the log. Would you mind also running Diagnostics (it's in "Diagnose & Feedback") and posting the diagnostic ID here?

[2017-01-05 21:06] spboyer commented on #370
@friism sorry forgot to put that in the post.

ID: 2AC40128-CB79-4E00-A5AC-D480A3470074/2017-01-05_16-05-31

[2017-01-05 21:08] spboyer commented on #370
I'll mention as well that this is a regression, was working in a previous version.

[2017-01-05 21:22] friism commented on #370
@spboyer I haven't looked at the dump, but I'm guessing that you're on an insider build. Is it possible that the regression cropped up after upgrading your Windows build?

Not useful to you, but I'm on fast ring and have volume mounting working with the latest beta:

    [System.Environment]::OSVersion.Version

    Major  Minor  Build  Revision
    -----  -----  -----  --------
    10     0      1

[2017-01-05 21:35] SteveLasker commented on #370
@spboyer is it possible you're working off corpnet, and don't have access to a domain controller. I'm still having to revert to a local account as D4W doesn't have a good way to cache credentials in this flow: https://blogs.msdn.microsoft.com/stevelasker/2016/06/14/configuring-docker-for-windows-volumes/

[2017-01-05 22:20] spboyer commented on #370
@SteveLasker not a domain joined machine.
@friism - running the following version
[code]

[2017-01-06 02:50] Frankwin commented on #327
I tried the beta, but no dice

[2017-01-06 02:53] Frankwin commented on #370
I have the same issue except w/ my D drive. It was working earlier today, but for some reason has stopped working. I uploaded a diagnostic as well:
B0B700A8-3EE2-4690-BE57-B926E7AF4292/2017-01-05_19-52-52

[2017-01-06 03:04] galvesribeiro commented on #104
@dgageot / @naeemsarfraz I just have the same issue:

[code]
The diagnostic id: `0F6418D8-255D-4BCD-91E6-540721CC0C9D/2017-01-06_01-02-39`

I'm using latest Windows Insider update:
![image](https://cloud.githubusercontent.com/assets/4714040/21706107/b9c2e720-d3ab-11e6-86ae-7793fcc422b0.png)

And the `docker --info`: `Docker version 1.13.0-rc4, build 88862e7`

I'm unable to run any container while

[2017-01-06 13:37] whitecolor opened #371 "Interoperability with Ubuntu bash for windows"
It is possible to install `docker/docker-compose` in lightweight Ubuntu for windows and interact with docker for windows docker host, so it works quite ok.

The problem is that ubuntu for windows mounts drives into `/mnt` (`/mnt/c`, `/mnt/d`) and in MobyLinuxVM drives a mount into `/` (`/c`, `/d`), to make it possible to attach/map volumes in ubuntu bash shell current workaround is to make symlink

[2017-01-06 19:48] coben07 commented on #325
Thanks @dgageot and @dmp42 for your time.   Upon further research, I determined that the issue is an [open issue with the Nexus registry](https://issues.sonatype.org/browse/NEXUS-10813).

To quote a statement from the ticket, "This is not possible at the moment, since the local docker can not be configured to transmit credentials to the configured mirror and Nexus 3 does not allow unauthenticated

[2017-01-06 19:48] #325 closed

[2017-01-07 00:52] kobenauf opened #372 "Docker 1.13.0-rc5 removed color from console"
### Expected behavior
Docker content still appears in color

### Actual behavior
As of the Docker build that just occurred (Docker version 1.13.0-rc5, build 43cc971) the color that did appear in my console is now gone.  This is pretty important in helping me easily separate and manage the 6 containers running in the same docker-compose instance.

### Information
I use cygwin/bash on Windows 10.

[2017-01-07 12:39] marvinvperez commented on #363
@johnvanloon
Hi, can you share how did you fix the NAT issue? I'm also getting this error. Thanks

[-] Specified Network Gateway IP for NAT network is assigned to Host vNIC 57ms
Expected: {True}
But was: {False}
209: $vmNicGatewayIPExists | Should Be $true
at , C:\Users\jovanloon\Downloads\Debug-ContainerHost.ps1: line 209

[2017-01-07 13:09] rneugeba commented on #363
@marvinvperez could you try:
https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/CleanupContainerHostNetworking

This is supposed to diagnose and fix up networking issues with Windows Containers
Thanks

[2017-01-07 13:10] rneugeba commented on #372
thanks for the report. Could you give an example command line which used to have colour and does not anymore?
thanks

[2017-01-07 14:18] marvinvperez commented on #363
@rneugeba
Hi, thanks for reply. I did as suggested on the link but not luck. The --ForceCleanup says completed but when I ran ./Debug-ContainerHost.ps1 again I still the same issue.

Basically, I just spin-up a new Azure VM from template Windows Server 2016 Datacenter with Docker Container so I assume networking should be working already.
Thanks.

[2017-01-07 14:24] vipin-banka opened #373 "Containers are not working after update to Docker version 1.13.0-rc5, build 43cc971 on windows"
### Expected behavior
All containers should work as is.

### Actual behavior
Containers exists in programdata docker folder but not able to start.
Even docker ps -a command not showing existing containers in the list.

### Information
I just upgraded docker for windows to Docker version 1.13.0-rc5, build 43cc971

[2017-01-07 14:32] Arlington1985 commented on #352
Same problem. After setting password was possible to share

[2017-01-07 14:37] MartinJohns commented on #274
I'm having the same issue, running fully updated Windows 10 Pro and Docker 1.13.0-rc5-beta35 (9606). My diagnostic id is `2A8EBE56-FB9E-4F30-B29C-C435FE42E4DE/2017-01-07_15-33-03`.

[2017-01-07 14:43] rneugeba commented on #363
@marvinvperez I would suggest opening an issue on https://github.com/Microsoft/Virtualization-Documentation

[2017-01-07 14:45] marvinvperez commented on #363
@rneugeba , thanks! yeah will do.

[2017-01-07 14:54] rneugeba commented on #373
Thanks for the report. Existing running or stopped containers do not necessarily persist during update so won't show up in `docker ps -a` after the update.

The `programdata` folder contains the container images and they should still be there. You can check with `docker images`

[2017-01-07 15:10] rneugeba commented on #368
@Downes thanks for the report.

There seem to be two different things in your report. One seem to be related to not being able to run dockercloud with Anaconda Python directly on the Windows host. For this it would be better to file an issue on the [Docker Cloud CLI github project](https://github.com/docker/dockercloud-cli). FWIW I can successfully install `docker-cloud` via pip on my Windows syst

[2017-01-07 15:10] #368 closed

[2017-01-07 16:00] rneugeba commented on #274
@MartinJohns Thanks for your report. Your issue is different. The kernel crash is below and it is different to the one listed above.

Your Windows does not seem to be fully updated. The version is: `BuildLabName: 14393.0.amd64fre.rs1_release.160715-1616` I beleive when updates are installed, the number after the `14393` would be non-zero.

Could you manually check for updates? If that doesn't help

[2017-01-07 16:01] Downes commented on #368
As nearly as I can guess, it's a Python version thing, as I'm running 3.5.2 and you're running 2.7.12

Even though you've closed this, that did not make the errors go away for me, so I'll keep investigating.

[2017-01-07 16:01] rneugeba commented on #274
As indicated [earlier](https://github.com/docker/for-win/issues/274#issuecomment-269665350), closing this issue

[2017-01-07 16:01] #274 closed

[2017-01-07 16:03] rneugeba commented on #368
@Downes you might be right that this is a Python version issue. As suggested, the [Docker Cloud CLI github project](https://github.com/docker/dockercloud-cli) would be a better place to report it.

[2017-01-07 16:04] friism commented on #368
@Downes can you re-open on the Docker Cloud CLI project repo as Rolf suggested? https://github.com/docker/dockercloud-cli

People monitoring that repo can better help fix problems with the Cloud CLI.

[2017-01-07 16:19] davidflam commented on #286
I think I'm also having the same problem. Docker startup is slow compared to previous versions (1.21.1 was ok). It looks like the problem is with VPN proxy. Logs bellow are from a "clean" install on my system, about 30 seconds pauses while starting VPN proxy and opening ports. Maybe somekind of timeout? If I run some containers, the problem gets worse, increasing pauses to several minutes.

**Vers

[2017-01-07 16:27] rneugeba commented on #357
@shadercode I'm not sure I understand your request.

- Docker for Windows/Mac currently does not have nightly builds but we ship updated Beta's almost every week. For the Betas we typically use the latest RC from engine. For the stable channel we only ship released version of docker engine (and provide updates if engine is updated)
- There are nightly builds from docker engine, but the issue you r

[2017-01-07 16:27] #357 closed

[2017-01-07 16:29] rneugeba commented on #157
thanks for getting back. Closing issue.

[2017-01-07 16:29] #157 closed

[2017-01-07 16:55] rneugeba commented on #199
@cons0l3 Could you try the latest beta (Beta35) with docker engine 1.13.0-rc5? I believe there have been some console related changes since the beta you tried/reported on last.

With Beta35 I can don things like:
[code]
in a servercore container, which produces around to 4000 lines of output.

[2017-01-07 16:58] rneugeba commented on #331
Closing this issue due to lack of activity. Please re-open if the issue persists with the information requested.
thanks

[2017-01-07 16:58] #331 closed

[2017-01-07 17:00] rneugeba commented on #335
Further to @friism suggestion, there is now also a diagnostics/repair script for networking related issue at: https://github.com/Microsoft/Virtualization-Documentation/tree/6eabaf3a3792632f753d4d38b919f749f9f57bd1/windows-server-container-tools/CleanupContainerHostNetworking

could you try that as well?

[2017-01-08 08:14] whitecolor commented on #221
@rneugeba maybe create an issue in docker to add a parameter in for docker deamon config like `ip-forward-policy`?

[2017-01-08 11:45] MartinJohns commented on #274
@rneugeba I was indeed not on the latest Windows updates without me noticing it. Some cumulative update could not be installed (it retried for many days). I always got the following error:

In case anyone else encounters these issues, I had to execute the following commands in an elevated command prompt:

[code]

After this the update could be installed and Docker started to work. :-)

[2017-01-08 12:23] rneugeba commented on #274
@MartinJohns glad it's working for you now a and thanks for the commands.

[2017-01-08 14:13] cons0l3 commented on #199
retest was not successfull. it still hangs the terminal as described above. retested all different error variants on thre different computers.

**λ docker version**
Client:
 Version:      1.13.0-rc5
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   43cc971
 Built:        Thu Jan  5 03:07:30 2017
 OS/Arch:      windows/amd64

Server:
 Version:      1.13.0-rc5
 API version:  1.25 (minimum ve

[2017-01-08 14:34] cons0l3 opened #374 "docker rm throws access denied error after upgrade to new version of docker"
### Expected behavior
a `docker rm {CID}` does not throw a access denied error while renaming the container to "{CID}_removing".

### Actual behavior
removing a container with `docker rm` outputs:

[code]

### Information

**λ docker info**
[code]

**λ docker version**
[code]

### Steps to reproduce the behavior

  1. docker image created with previous docker version
  2. docker rm {CID}

[2017-01-08 16:58] friism commented on #374
@cons0l3 thanks for reporting - this looks like a Docker Engine bug, could I get you to re-open at https://github.com/docker/docker/issues/new and ping `jhowardmsft`?

If you remember, please also detail how the container was created, and what custom configuration (if any) you did - it looks like the Engine is configured to use a non-standard graph-driver location and is now getting an "Access den

[2017-01-09 02:31] JLospinoso opened #375 "Error installing"
### Expected behavior
Docker should startup after installation

### Actual behavior
Docker crashes with an error reporting dialogue

### Information

[code]

### Steps to reproduce the behavior

  1. Install docker on Windows 10 x64
  2. Click through prompts, see error reporting dialogue when Docker tries to run.

### Note

I had previously installed (and removed) Docker Toolbox. Not sure if this

[2017-01-09 02:37] JLospinoso commented on #375
Same problem with beta:

[code]

[2017-01-09 02:38] JLospinoso commented on #375
Diagnostic ID: 5AF29D2F-F801-4F62-BF57-1973F5D62A4D/2017-01-08_20-37-28

[2017-01-09 07:42] adamtuliper commented on #291
Latest updates still no workie. Any thoughts @rneugeba et al?

[2017-01-09 08:35] alvesman commented on #178
Problem solved with Version 1.13.0-rc5-beta35 (9606)

[2017-01-09 09:07] rneugeba commented on #291
@adamtuliper could you upload a diagnostics and report the ID here?

[2017-01-09 12:29] ramondeklein opened #376 "Unable to map files into Windows container"
### Expected behavior
Mapping a file should show the file in the container. On Linux based systems, it is possible to map both files and directories into a container. Docker for Windows only seem to support the mapping of directories.

### Actual behavior
The container doesn't start, but the error message **invalid mount config for type "bind": source path must be a directory** is shown.

### Info

[2017-01-09 12:40] ramondeklein commented on #376
I would like this functionality to be able to map the application's configuration into the directory. This configuration file should be located in the same directory and should have a fixed name (default .NET app.config).

[2017-01-09 16:55] adamtuliper commented on #291
See two of them I reported above , just did one with the latest too.
9FB71E2E-E9D5-48EE-BE18-C265DF906CF8/2017-01-09_08-51-17

[2017-01-10 09:04] whitecolor opened #377 "Error terminates docker-compose attached output"
Periodically get such error with docker-compose output:
[code]

It doesn't stop process, just terminates attached output.

Usually it happens after service is restarted (from other terminal)

Seems to be related:
https://github.com/docker/compose/issues/3336

[2017-01-10 09:15] phuky94 opened #378 "com.docker.db.exe crashes"
**Expected behavior**
docker starts when windows starts and does it without error

**Actual behavior**
Docker start fails and yes we did try with the last stable version and the beta version, similar results.

**Information**
There is a small difference between the beta and stable docker as the beta fails even more to start.
We get :
`Unable to write to the database. Exit code: 1 à Docker.Backend.

[2017-01-10 11:14] rneugeba commented on #375
@JLospinoso thanks for your report. It looks like you already have another Hyper-V VM installed. I assume it is working, so Hyper-V is working in general on your system, right?

Note, it's not a a problem having another VM, actually quite good to verify that Hyper-V is working fine.

The error seems to be that the application fails to create the VM, which is odd...

I didn't see anything obvious i

[2017-01-10 12:03] ajzele commented on #370
Sadly, seems like the same issue on my side. Windows 10 PRO with Hyper-V. I have uploaded diagnostic as well, E5F9AC40-669F-4B9C-90FE-C5B46759398C/2017-01-10_12-57-24.

In case it helps. a little screenshot https://goo.gl/xDOpQg and https://goo.gl/t9vySa. After I punch in pass, the log shows https://gist.github.com/ajzele/478d7c6d10a1345f744b91c6fba040d8.

Hope this gets resolved soon :(

[2017-01-10 12:31] JLospinoso commented on #375
@rneugeba Thanks for the prompt response!

Disabling the "Broken Docker Adapter" did the trick. I can't delete it, though.

Any idea what might have caused the issue?

[2017-01-10 12:31] #375 closed

[2017-01-10 13:45] rneugeba commented on #375
Thanks for getting back. We basically rename adapters we can't remove/delete to `Broken Docker Adapter`. We try reasonably hard to delete them but on some small number of system there seem to be cases where we can't remove them and we don't know why and we don't know how these systems get into the state...

I think there might be some inconsistencies between registry entries etc...

[2017-01-10 14:34] JLospinoso commented on #375
Makes sense. What are you using to try to remove? WMI? Is the source available?

[2017-01-10 14:52] rneugeba commented on #375
The source is mostly in `C:\Program
Files\Docker\Docker\resources\MobyLinux.ps1`

On Tue, Jan 10, 2017 at 2:34 PM, Josh Lospinoso <notifications@github.com>
wrote:

[2017-01-10 17:53] planetf1 opened #379 "Docker for Windows fails to resolve DNS when VPN active"
### Expected behavior
When VPN is activated on the (windows) host docker networking should continue working normally in the containers (using default networking setup)

### Actual behavior
When VPN is activated DNS resolution is not possible using the auto-set DNS server in the docker images

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
6E0573AA-4A4D-4F32-8E8C-E493E4A

[2017-01-10 18:01] planetf1 commented on #379
As an aside, I did look at posting on the docker forum initially, but for some reason my id is suspended?? (also planetf1). I tweeted @dockersupport but no response?

[2017-01-10 18:07] rneugeba commented on #379
@planetf1 thanks for your report. Any change you could upload a diagnostics and let us know the ID? We try to figure out the DNS config reconfigure the network used by the Linux VM and the diagnostics should contain some useful information to figure out what went wrong.
Thanks

[2017-01-10 18:09] planetf1 commented on #379
I did :-) ID was 6E0573AA-4A4D-4F32-8E8C-E493E4A248D8/2017-01-10_17-46-45

I'll do another one now in case it didn't work - 6E0573AA-4A4D-4F32-8E8C-E493E4A248D8/2017-01-10_18-09-02

[2017-01-10 18:11] planetf1 commented on #379
I also uploaded a diagnostic with the VPN stop (this is the working configuration) in case it helps show the difference

A diagnostic was uploaded with id: 6E0573AA-4A4D-4F32-8E8C-E493E4A248D8/2017-01-10_18-10-28

[2017-01-11 06:34] denisvmedia commented on #345
I also have the same problem. And yes, disabling Windows Firewall doesn't help. No 3rd-party Firewall or Antivirus is installed.

[2017-01-11 06:36] denisvmedia commented on #355
Look, I don't think there is a bug in Windows. It used to work for me (and still works on another PC with the most recent insider release), but then I had to reset the settings of Docker, after that it stopped working.

[2017-01-11 07:41] whitecolor commented on #377
Also
https://github.com/docker/compose/issues/4090

[2017-01-11 09:18] simonferquel commented on #355
@denisvmedia there was a bug before 15002 with remote access in general (not only Samba File sharing, but also with RDP). I don't know if it did hit everyone though and I suppose Microsoft fixed that in 15002.

[2017-01-11 09:44] GergelyMindler opened #380 "Cannot share drive between Windows 10 and Docker"
### Expected behavior
Sharing is success.

### Actual behavior
I tried to share my D:\ drive (Docker is installed to C:\):
![kep](https://cloud.githubusercontent.com/assets/24973489/21843285/ad890d3e-d7ea-11e6-98e1-74e7de899ee3.png)

After I clicked to "Apply", I got this message (with and without Firewall):
![kep](https://cloud.githubusercontent.com/assets/24973489/21843294/bc1282fe-d7ea-11e6-919

[2017-01-11 09:53] denisvmedia commented on #355
@simonferquel unfortunately, I don't know, but what really surprises me that this stopped working only after I did the reset in Docker. So even if there is a bug in Windows, there must be a workaround - otherwise how could it work before? (and still works on another PC) I'd be happy to find it... If I can help anyhow, I'm open for that, because currently my work is completely stopped due to this i

[2017-01-11 11:18] TewWe opened #381 "DockerForWin should create/remove routes for networks the same way linux does"
### Expected behavior

Host machine should be able to communicate with the containers through IP address, without creating static routes manually.

### Actual behavior

Network traffic is not routed from host machine to the containers (through virtual switch), only if static routes are specified manually.

### Information

  - Diagnostic ID: 1D3D519B-776A-4D94-B4FB-533628263606/2017-01-11_11-47-25

[2017-01-11 14:56] denisvmedia commented on #355
I solved it! Now it works again. I found a comment of @gorbunovav in #114, it worked for me:

[2017-01-11 14:58] denisvmedia commented on #114
@gorbunovav thank you, it worked for me.

[2017-01-11 15:27] wiktorn commented on #352
Also - if you set a password, share, and then change back the user settings to no password, the settings menu will show that sharing is enabled but once you reboot the OS, actual volume mounts will silently fail.

[2017-01-11 15:51] rneugeba commented on #381
@TewWe thanks for the report. Adding the routes kinda works on the stable branch with 1.12 but won't work on 1.13 (see [here](https://github.com/docker/for-win/issues/221#issuecomment-269659422) for example). In Linux you can only access the other container by IP on the local host (but not from other hosts) so it's best to explicitly exporting ports (or create named services) which also works on D

[2017-01-11 15:51] #381 closed

[2017-01-11 16:17] rneugeba commented on #378
@phuky94 thanks for the report. It looks like one of the components in Docker for Windows (`com.docker.db.exe`) crashes on start while trying an operation on a Named Pipe. This is unusual...A few questions

Does this happen every time you start docker or only sometimes?

When you quit the application could you check which docker processes are running (in an elevate powershell, using `Get-Process *

[2017-01-11 16:21] rneugeba commented on #378
@pcharvet reported the same issue on #306

[2017-01-11 16:21] rneugeba commented on #306
I'm closing this issue in favour of #378. @pcharvet I've tagged you in a comment on that issue so you get notifications on updates on that issues.

[2017-01-11 16:21] #306 closed

[2017-01-11 16:41] rneugeba commented on #178
@alvesman glad it's working for you with the update. I'm closing this. @HuanhuanSunMSFT you reported this issue quite a while ago. If you still have the issue on the recent Beta, please re-open.
thanks

[2017-01-11 16:41] #178 closed

[2017-01-11 17:54] rneugeba commented on #214
Thanks for the report. Some of you managed to fix the issue, while other reports are quite old. There also seem to be a mixture of issues so it's hard to track. For this reason I'm closing this issue.

Should you still have an issue, please try the latest Beta and if that doesn't fix it, open a new issue with a diagnostics ID. This would allow us to triage and look for duplicates etc.

Thanks
rolf

[2017-01-11 17:54] #214 closed

[2017-01-11 18:12] Frankwin commented on #370
Is there any update on this issue? It's currently completely preventing me from running Docker on my machine and since all of our projects are using Docker now this is a severe issue for me.

[2017-01-11 18:43] rneugeba commented on #379
@planetf1 ah, sorry, missed the diagnostics ID in the original post.

I had a quick look and it seems like you may have manually configured a DNS server in the UI? Could you removing it?

Otherwise, I do see some DNS queries going through and get responses but they seem to get droped.

@djs55 could you take a look and see if this is similar to the issue we discussed the other day?

[2017-01-11 20:12] planetf1 commented on #379
@rneugeba I don't have a DNS server coded in the docker UI. It's set to "automatic" (though 8.8.8.8 is showing as greyed out in the manual textbox)

I've checked the hosts's adapters too... and again all are set to automatic.
My HOME dhcp tends to return 8.8.8.8, though I'm at a family member's tonight where their ISP DNS servers are in use. In the office it will be others again. Of course connect

[2017-01-11 20:26] rneugeba commented on #352
Thanks for the report. This is a duplicate of #366 and we commented on there that we rely on Authenticated Samba mounts, so this won't fix.

[2017-01-11 20:26] #352 closed

[2017-01-11 22:54] jelster commented on #374
I can report having the same problem with same errors and conditions. I am able to create and delete containers. There seems to be a correlation between this issue and a container using volumes, because I haven't observed this problem with containers that do not have mounted volumes (could just be coincidence though!). I guess a question for @cons0l3 is whether or not the container throwing the er

[2017-01-11 23:47] l8nite commented on #174
@dgageot I can't re-open the issue, but I am still seeing the problem on Version: 1.13.0-rc5-beta35 (9606) today:

[code]

[2017-01-11 23:52] rneugeba commented on #174
@l8nite  reopening. Could you provide a new diagnostics ID for the latest Beta? We added  a bunch of additional logging/diagnostics since and it might provide a clue

[2017-01-11 23:53] l8nite commented on #174
A diagnostic was uploaded with id: BDA55B9C-A0E9-4065-A6BE-EC1A91E8D598/2017-01-11_15-52-52

[2017-01-11 23:58] rneugeba commented on #174
this looks similar to #379 but it would be good if @djs55 could take a closer look at the diagnostics

[2017-01-12 06:25] tverboon commented on #267
@rneugeba Not sure if something has changed with Docker regarding this. But I am now running Parallels on my Late 2015 iMac instead of late 2009. The big difference of course is that my late 2015 iMac has the required hypervisor Intel goodies _Intel VT-x feature set that includes Extended Page Tables (EPT)_

And docker is running on virtualized Windows in Parallels. Great!

[2017-01-12 07:32] sugun999 commented on #360
Hi Docker team,
Any workaround to get sharing drive works even with cisco anyconnect vpn?

[2017-01-12 09:45] TewWe commented on #221
I would also bump this for a workaround. As @whitecolor suggests, it shouldn't be a default, but some option that would allow to turn on something like a "developer mode" with the ip-forward-policy setting, so for non-prod purposes it could still help a lot.

How we use docker for development, so why we would need such feature?
The environment we are developing to is a very data- and inter-depende

[2017-01-12 10:54] whitecolor commented on #221
I've created a proposal in docker repo about allowing to override ip forward policy https://github.com/docker/docker/issues/30093

[2017-01-12 11:45] rneugeba commented on #221
Note, that this only works because we have two network interfaces in Windows and one is accessible from the host (the 10.0.75.1 one). This is only used for SMB filesharing and if we find a different path for it, it may go away. Providing a more generic way of accessing the internal docker network, which works across Windows and Mac is non-trivial. We had discussed some options internally, but none

[2017-01-12 15:03] ateimoo commented on #131
You can't pull any windows images using Docker Toolbox!!!
The daemon is Linux running on virtualbox. No mention of this in Docker docs :(

[2017-01-12 15:10] whitecolor commented on #221
Currently route is added to `10.0.75.2`, which this IP for?

I believe it still should be possible to have access from windows/mac PC to docker internal network. It is all just IP which provides inter-network routing. Linux native installation provides access to docker network, why windows should not provide it? Besides windows and mac installation mostly used for development, I think it is really

[2017-01-12 16:12] friism commented on #360
@sugun999 if possible, can you upload a diagnostic dump from the app and post the id here?

[2017-01-12 16:21] mikedarke commented on #345
I'm experiencing potentially the same issue, attempting to share either my C or D drives results in the "A firewall is blocking file Sharing between Windows and the containers". Windows firewall is disabled.

OS:	Microsoft Windows 10 Pro
Version: 10.0.14393 Build 14393
Docker version 1.13.0-rc5, build 43cc971 (Also tested on 1.12.5, build 7392c3b)
Diagnostic id: 932A343C-F6C5-4BD6-95F2-942E1726EBB

[2017-01-12 18:59] sugun999 commented on #360
Hi friism,

Thanks for the reply. Before sending dump, Could you please let me know, what diagnostic report contains?
Will the docker collects any security info?

[2017-01-12 20:24] peterhorvath opened #382 "Docker for Windows frozen in starting state."
**### Expected behavior**
Docker for Windows to start
**### Actual behavior**
Docker for Windows stays is systry and keeps saying starting.....
**### Information**

  **- Diagnostic ID from "Diagnose & Feedback" in the menu.**
C90A5AB9-CD1B-4641-A455-056915E93DE4/2017-01-12_15-13-19
  **- a reproducible case if this is a bug, Dockerfiles FTW**
Latest stabel and latest beta
  **- page URL if this i

[2017-01-12 21:02] adamtuliper commented on #291
@rneugeba is there someone internal here at Microsoft that would be a better contact to work more directly with? Would like to get this figured out, as it clearly affects others.
@bspisak and @NoodlesNZ do you have the same issue still?

[2017-01-12 21:28] Pantkowsky opened #383 "Unable to start docker for windows"
### Expected behavior
Docker starts up
### Actual behavior
Docker fails to start up
### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
          B6024EAB-3AD7-4ADB-9777-C5144555648A/2017-01-12_22-18-08
  - a reproducible case if this is a bug, Dockerfiles FTW
     Docker 1.12.6 (9655) stable
  - page URL if this is a docs issue or the name of a man page
  - host distributio

[2017-01-12 21:30] NoodlesNZ commented on #291
Still happening here. I just updated to the latest docker beta, rebooted etc. Diagnostic here: 5F1E67E8-BEF0-4964-9D9E-2D87AD5C2928/2017-01-13_10-28-54

[2017-01-12 21:53] friism commented on #360
@sugun999 the diagnostic dump is pretty comprehensive to help us fully debug problems on user systems. Access to the dumps is limited to engineers working on Docker for Mac and Windows, and we handle the dumps with care.

If you're not comfortable using the diagnostic feature, please access the logs after encountering this problem, remove any sensitive info and paste the relevant log snippet in th

[2017-01-12 21:54] friism commented on #383
Is this running in a VM or other virtualized system?

[2017-01-12 21:55] friism commented on #383
Also, can you please try the beta channel and see if Docker starts with that? I includes recent fixes and updates.

[2017-01-12 21:59] friism commented on #291
@simonferquel @ebriney have you had a chance to look at the diagnostics?

[2017-01-12 22:06] Pantkowsky commented on #383
I don't think so. It runs on my windows and I don't have any other virtual machine running on it. If this is what you were asking about.

What do you mean by saying "beta channel" ?

Thanks for the help!

[2017-01-12 22:09] friism commented on #383
The beta channel download is here: https://docs.docker.com/docker-for-windows/

[2017-01-12 22:12] sonofagunn commented on #345
I have the same problem. The only info I have that may help is that everything works fine when I am physically in my corporation's office. I get this firewall error if I am working from home, whether or not I am connected to the VPN. My corporation does have "DirectAccess" which I am connected to.

[2017-01-12 22:47] rneugeba commented on #291
@adamtuliper I had a look at your logs earlier but then got side-tracked and didn't reply.

There is something weird happening on your system. On a couple of starts some of the Windows processes we start take a very a long to start and the Linux VM also takes a long time. This could be due to high load. I noticed you have a whole bunch of other VMs configured (which should not be a problem) but if

[2017-01-12 23:17] rneugeba commented on #383
I would definitely suggest to try the Beta channel. The Linux VM boots fine but there seems to be some issue with the app detecting that it has booted. This code was changed significantly in the Beta and it would be good to see if that works

[2017-01-12 23:22] rneugeba commented on #382
Thanks for the report. In the diagnostics I see remnants of VirtualBox. Could you completely un-install VBox and try again? Hyper-V (used by Docker for Windows) does not work with other virtualisation software installed.
Thanks

[2017-01-13 00:37] jhowardmsft commented on #199
One question - is this using the Windows 10 legacy console, or the native console? (I assume the docker client is running locally on the Windows 10 box). You can go into properties for the console. Legacy will have the checkbox checked (and have been restarted).

The reason I ask is an important one - OSs prior to Windows 10, or on Windows 10 where legacy mode is enabled, we use a terminal emulato

[2017-01-13 08:36] luastoned commented on #383
I updated to 1.12.6 today and the same error occured, same operating system.

Go to Reset > Reset to factory defaults, that did the job for me.

[2017-01-13 08:40] noderat commented on #370
I'm now encountering this issue as well.

F0B2E427-996A-4066-923F-1E144E2DB23E/2017-01-13_01-38-46

[2017-01-13 09:04] Pantkowsky commented on #383
I installed the Docker Beta. Still getting the same error.

[2017-01-13 10:24] itcrab commented on #380
Hi. maybe my experience help you.

I have this problem on Windows 10 and easy fix it. I my case problem in my antivirus software.
I use Kaspersky Internet Security and it activated Network Screen Protection for all Networks and Docker Network (Hyper-V Virtual Ethernet Adapter). By default all vEthernet (DockerNAT) sets by Public Network (protected).

I solve this problem just change Docker Network

[2017-01-13 11:15] smrau opened #384 "Moby memory won't exceed 6570MB"
### Expected behavior

I want to allocate 8GB or more memory to run a large container.

### Actual behavior

Any setting above 6570MB is ignored by Hyper-V. There is more than 4GB of RAM still available after Docker starts.

### Information

  - Diagnostic ID: 59172D14-6E15-4C6E-AAB0-9F43ECD1DE17/2017-01-13_21-50-14
  - Windows 10 Enterprise, version 1607, 16GB RAM.

Looking at the Docker logs, th

[2017-01-13 11:16] itcrab commented on #380
I wrote issue to Kaspersky for automated setts all Docker Network is Trust Network.

[2017-01-13 11:26] bspisak commented on #291
still happening @adamtuliper I have the latest version now :(

[2017-01-13 13:10] rneugeba commented on #384
Thanks for your report. Unfortunately, I can't reproduce this (see attached screen shot and also:
[code]
If I then reduce the memory and start another VM (with 8GB) and try to increase the memory of the DockerForWindows VM I get and error (screenshot also attached). All this is pretty much as expected...I'm doing this on Windows 10 Pro (not Enterprise) but that shouldn't matter.

Looking at your l

[2017-01-13 13:18] sebastien-f opened #385 "Credentials needs to be reset all the time"
### Expected behavior
Once credentials have been applied for Shared Drives, not having to set them again on a regular basis.

### Actual behavior
I have two drives shared (F: & G:) through the Shared Drives menu in the settings. Those drives are where my projects are stored.

I'm creating my container something along this :

docker run -d -p 80:80 -p 3306:3306 -v G:\\__SOURCES\projectname\:/var/ww

[2017-01-13 13:30] simonferquel commented on #384
The error seem to indicate that the VM was manually started from Hyper-V manager and that Docker for Windows did not see that (and tried to change memory settings thinking that the VM was stopped). For the reported allocated memory clamped at 6GB I have unfortunately no clue. Can you try to stop docker for windows and manually create an HyperV VM with 12GB (statically allocated) and see if you get

[2017-01-13 15:04] tomskip123 opened #386 "Docker stripping my auth headers??"
I am using JWT auth with my JS app. when i start up docker from scratch then run up my containers every thing works fine.

However if i don't manually exit docker (forget to turn it off) when i finish working it seems when i turn my computer back on the next day and powershell: docker ps my containers still seem to be running?

So seeing that its running i try and login to my app and get a token n

[2017-01-13 15:33] sugun999 commented on #360
HI Friism,

Below is log excerpt which is logged when trying to share drive C.
Please note that F-secure software with my laptop, is not blocking anything. I added rule to allow all traffic from any IPv4 which is working without VPN.

Could you please take a look at this and provide solution for this issue why filesharing doesn't work with VPN?

[log_excerpt.txt](https://github.com/docker/for-win/

[2017-01-13 16:03] simonferquel commented on #360
From the log, I see that you changed the IP settings of the VM (it says your host has IP 192.168.230.1, so your VM should have 192.168.230.2).
From the following lines, I see that the VM cannot reach port 445 on 192.168.230.1. By any chance, can you make sure that the IP settings you chose do not conflict with the VPN connection IP ? (or just dump your `ipconfig /all` here)

[2017-01-13 16:55] itcrab commented on #380
@friism ok, when I touch new information - I will send you message

[2017-01-13 17:04] scmrus opened #387 "docker-compose and env_file in cp1251"
### Information
Version: 1.13.0-rc6-beta36 (9696)
Channel: Beta
Sha1: 64a715b54327a0ec8f28076d1a343f4c811856fb
Started on: 2017/01/13 19:29:14.277
Resources: C:\Program Files\Docker\Docker\Resources
OS: Windows 10 Pro
Edition: Professional
Id: 1511
Build: 10586
BuildLabName: 10586.672.amd64fre.th2_release_sec.161024-1825

### Steps to reproduce the behavior

1. docker-compose.yml
[code]

2. .env (

[2017-01-13 17:08] scmrus commented on #387
env_file can be converted to UTF-8 to fix it.

[2017-01-13 17:28] justincormack commented on #387
Yaml only supports UTF-8 and UTF-16 so this is all you can use.

[2017-01-13 17:35] scmrus commented on #387
yep, stupid mistake, but I hope this information can save some time for smb

[2017-01-13 17:39] sugun999 commented on #360
Hi Simeon,

Before or after opening VPN, I do see that "Ethernet adapter vEthernet (DockerNAT) 2" has

   IPv4 Address. . . . . . . . . . . : 192.168.230.1(Preferred)
   Subnet Mask . . . . . . . . . . . : 255.255.255.0

Ofcourse there is new virtual adapter gets created with VPN is ON and it gets own IPv4 address 141.19x.xxx.xxx and not conflicting with above docker Ethernet adapter.

[2017-01-13 19:53] peterhorvath commented on #382
Thanks that was it after i completely removed virtual box it is working.
Does that mean that i can't install and use virtual box for other purposes if i want to have docker for widows as well?

[2017-01-13 20:09] rneugeba commented on #382
Thanks for getting back and glad it's working for you. I'm closing this issue.

To answer your question, you definitely can't use them at the same time, and switching between them can also cause problem...Judging by the number of issues we see, I'm not sure there is a reliable way to switch between them.

[2017-01-13 20:09] #382 closed

[2017-01-13 20:10] rneugeba commented on #359
Closing this issue due to lack of response. Please re-open if the issue persist.
thanks

[2017-01-13 20:10] #359 closed

[2017-01-13 20:13] rneugeba commented on #351
Looks like there might be an issue with networking.  Could youfirst try to update to the latest Beta (there are more fixes for windows containers) and if that doesn't fix it try the script here: https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/CleanupContainerHostNetworking

Thanks

[2017-01-13 20:14] rneugeba commented on #315
Closing. Seems to be fixed. Please re-open if the issue persists.

[2017-01-13 20:16] rneugeba commented on #343
Closing this issue due to lack of response. Please re-open if you have some steps to reproduce this issue or other additional information

[2017-01-13 20:16] #343 closed

[2017-01-13 20:17] rneugeba commented on #348
Closing issue due to lack of response. If the issue persists, please re-open with a sample compose file for reproduction
thanks

[2017-01-13 20:17] #348 closed

[2017-01-13 20:21] rneugeba commented on #386
Thanks for the report. Could you try the Beta channel? There where quite a few chenges
thanks

[2017-01-13 22:08] smrau commented on #384
HI guys

Thanks for your feedback.

Each time I restart Docker, the VM restarts.

Other experiments I’ve done:

-          Shut down Docker, change the memory setting in Hyper-V, manually restart the VM, and it started fine. I then restarted Docker, which restarted the VM with the clamped setting.

-          Start Docker, manually shutdown the VM, increase the memory, restart, which worked. Excep

[2017-01-13 22:32] braveness23 opened #388 "An error occurred when selecting "Switch to Windows containers...""
### Expected behavior

docker switches to windows containers

### Actual behavior

An error occured

Docker daemon failed with message:
time="2017-01-13T17:20:40-05:00" level=warning msg="Running experimental build"
time="2017-01-13T17:20:40.221825700-05:00" level=debug msg="Listener created for HTTP on npipe (//./pipe/docker_engine_windows)"
time="2017-01-13T17:20:40.226826100-05:00" level=info m

[2017-01-13 22:35] braveness23 opened #389 "Misspelling in the error dialog box. "An error occured""
### Expected behavior

"An error occurred" (with two 'r's)

### Actual behavior

"An error occured" (with one 'r')

### Information

  - host distribution and version (Windows version, build number, etc)

C:\Users\xxx>docker version
Client:
 Version:      1.13.0-rc6
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   2f2d055
 Built:        Wed Jan 11 21:47:55 2017
 OS/Arch:      windows/amd6

[2017-01-13 22:43] rneugeba commented on #384
The VM stops by design when you quit the app.

You should not need to mess with the VM in Hyper-V manager (it's best if you don't at all). Starting the VM in Hyper-V manager when the app is not running does not work as the VM depends on some services running on the host. So, if the app starts it will restart the VM.

So it's best to try to focus on why setting the memory via the Docker for Windows

[2017-01-14 00:21] marvinvperez commented on #351
@rneugeba

I've updated the docker and run the script again but still no luck. :( Would docker for windows should really work on bootcamp?

Here's my new diagnostic id: 68411D86-D2CF-4F1A-988A-37B9EA8B83CE/2017-01-14_08-17-10

docker version:
Client:
 Version:      1.13.0-rc6
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   2f2d055
 Built:        Wed Jan 11 21:47:55 2017
 OS/Arch:      wi

[2017-01-14 01:16] BruceGilham opened #390 "[NamedPipeServer][Error ] Unable to execute Start: Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Element not found."
### Expected behavior
Docker Creates VM and Runs
### Actual behavior
Docker returns error
### Information
Diagnostic ID:
B0C7-37907FB04E2E/2017-01-13_17-12-11

Reproduce:
Install Docker

Version
Windows 10 Pro

### Steps to reproduce the behavior
Unknown

Log:
Version: 1.12.6 (9655)
Channel: Stable
Sha1: 258480fd147da7888a440ed7808d255c0fb15bb7
Started on: 2017/01/13 00:02:25.552
Resources: C:\Pro

[2017-01-14 05:06] BeyondLimitation opened #391 "[bug] Docker is not working!"
Diagnostic id: 7287BFDD-FFC2-40D0-8316-CDB6888C32D5/2017-01-14_13-59-35

My issue: i cannot connect my docker!
I typed `docker info` but i got a error!
And Docker was not running. Removed & Reinstalled it, but same...

What should i do?

[2017-01-14 06:43] vorotech commented on #214
Hello here,
I had similar issue. Docker wasn't able to start with an error described in [comment](https://github.com/docker/for-win/issues/214#issuecomment-259719691).
I tried everything: re-install Docker, re-enable Hyper-V Windows feature, stable/beta channel of Docker, Powershell with Unrestricted execution policy. No results.
Finally I tried one simple solution.
In my Hyper-V manager path to V

[2017-01-14 09:42] rneugeba commented on #214
@vorotech wow, that's a new one. Thanks for sharing. I'll add it to the diagnostics

[2017-01-14 13:49] rneugeba commented on #388
Thanks for the report. Could you try:
https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/Debug-ContainerHost

This script looks for common issues with Windows containers. And if it suggest there is a networking issue could you also try:
https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/CleanupContainer

[2017-01-14 13:55] rneugeba commented on #390
Thanks for your report. Unfortunately, the diagnostics ID is truncated. The first part should be a full [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier). Could you repost?
Thanks

[2017-01-14 14:02] rneugeba commented on #391
On your system the Linux VM starts very slowly, but in the end I see it running

what's the error you get?

You could also try the latest Beta. It probably won't start faster but may not display the error.
Thanks

[2017-01-14 17:41] matjazmav opened #392 "[BUG] Docker freezes when upgrading"
I tried to upgrade docker, but process freezed. I have also tried to remove it but that also freezes?

[code]

[2017-01-14 20:26] GergelyMindler commented on #380
@itcrab @friism Hi Guys, sorry for my late answer. This sounds good if the solution is so easy. Could you explain me how could I change the Docker Network from Public to Trusted? I am not so familiar with Docker and I do not see this option here :
![image](https://cloud.githubusercontent.com/assets/24973489/21957835/2a40d07a-daa0-11e6-8852-da511e243dee.png)

[2017-01-14 20:30] GergelyMindler commented on #380
@itcrab Otherwise I am not sure that my problem comes from my antivirus program. What I know that in my case, the switching off of firewall does not help me.

[2017-01-14 21:31] itcrab commented on #380
@GergelyMindler first of all - I say about my solved problem on Docker:
![image](https://cloud.githubusercontent.com/assets/494995/21958202/7dded2ac-daca-11e6-9534-df934e30519d.png)

[2017-01-14 21:35] itcrab commented on #380
@GergelyMindler

I do this in my antivirus (firewall include in it).
![image](https://cloud.githubusercontent.com/assets/494995/21958229/4bf12d5c-dacb-11e6-9215-3b3848c6d64a.png)

[2017-01-14 21:38] GergelyMindler commented on #380
@itcrab I use the same version of Docker

[2017-01-14 21:41] GergelyMindler commented on #380
@itcrab Hm, I use Comodo, not Kaspersky... but the problem is  the same... I check it where could I do what you did in Kaspersky

[2017-01-14 21:57] itcrab commented on #380
@GergelyMindler you may do little test:
- disable all components of Comodo (full exit);
- reset to factory defaults Docker (!!! all containers will be lost);
- test sharing disk D.
Can test?

[2017-01-14 22:00] itcrab commented on #380
@GergelyMindler maybe reset to factory defaults don't needed - you may first test without this step.

[2017-01-14 22:04] itcrab commented on #380
@GergelyMindler I found this page:
https://docs.docker.com/docker-for-windows/troubleshoot/#/docker-fails-to-start-when-firewall-or-anti-virus-software-is-installed

[2017-01-15 06:11] smrau commented on #384
Thanks Rolf. I agree. The issue was a show-stopper for me, so I’ve rolled back to the latest stable version and all works well. (I don’t need Windows container support for now.)

From: Rolf Neugebauer [mailto:notifications@github.com]
Sent: Saturday, 14 January 2017 9:44 AM
To: docker/for-win <for-win@noreply.github.com>
Cc: smrau <smr@prominence.net.au>; Author <author@noreply.github.com>
Subject

[2017-01-15 10:58] d3x0r commented on #17
I've been searching all over for 'beta channel' and have failed.
I have this issue still...  so maybe in a month beta isn't relesaed?
[code]
<cut>
[code]

I don't see it attempting to get anything.....

[2017-01-15 11:22] rneugeba commented on #17
@d3x0r we release betas almost weekly. The latest is available for download from the main Docker for Windows page: https://docs.docker.com/docker-for-windows/

[2017-01-15 12:08] rneugeba commented on #384
@smrau glad it is working for you on stable. Very odd that it works with stable but not with the beta. Since we can't reproduce it and I haven't seen any other users reporting it, I'm closing this issue for now.

Please note that we are going to update the stable channel to the Beta code base once docker 1.13 is released. You may want to keep the 1.12.6 stable installer around just in case the upd

[2017-01-15 12:08] #384 closed

[2017-01-15 15:04] braveness23 commented on #388
.\Debug-ContainerHost.ps1
Checking for common problems
Describing Windows Version and Prerequisites
 [+] Is Windows 10 Anniversary Update or Windows Server 2016 506ms
 [+] Has KB3192366, KB3194496, or later installed if running Windows build 14393 118ms
 [+] Is not a build with blocking issues 20ms
 [+] Has 'Containers' feature installed 5.65s
Describing Docker is installed
 [+] A Docker service i

[2017-01-15 15:06] braveness23 commented on #388
Running CleanupContainerHostNetworking.ps1 resulted with 'Complete!!!' but I was still unable to switch to Windows containers.  Received same error

[2017-01-15 15:54] BeyondLimitation commented on #391
@rneugeba What a strange... Now works fine. Closing this issue.
????

[2017-01-15 15:54] #391 closed

[2017-01-15 16:44] matjazmav commented on #392
To fix failed upgrade, I had to go to "Uninstall or change a program" find Docker and repair it. At least it works now, but I still can't upgrade it.

[2017-01-15 19:51] GergelyMindler commented on #380
@itcrab thank you

[2017-01-15 20:01] rlyders commented on #196
Hoping someone else might benefit from my lesson learned:

I was seeing the same "WaitNamedPipe" error while trying to run through the Eventuate.io demo after having just installed native Docker for Windows on Windows 10 Pro 64-bit. The problem was solved by a restart. I was setting up a new laptop and had completed numerous installs. I guess after all the restarts, I hadn't noticed that the Docke

[2017-01-15 21:56] hurricaneMitch commented on #390
I am having the same issue and it repros on all of my Windows 10 devices. I have uninstall/reinstalled Docker and Run as Admin. I have launched VMs in Hyper-V with no issue.

Diagnostics ID is 0AFB8C5E-4B18-4C4B-BCD2-A1646425CFBB/2017-01-15_13-52-56

And the logs are

Version: 1.12.6 (9655)
Channel: Stable
Sha1: 258480fd147da7888a440ed7808d255c0fb15bb7
Started on: 2017/01/15 13:51:51.417
Resources

[2017-01-15 22:26] d3x0r commented on #17
Okay beta does get an address and runs; but a couple nodeos images I tried don't work(?)  I don't know how to know if it(docket) works..... sorry first day new tool

[2017-01-15 23:34] friism commented on #390
@hurricaneMitch it looks like there's a problem with Hyper-V on your machine. Can you try creating any old Hyper-V VM to see if that's functional for you?

It would also be valuable to know whether this is running on hardware or in a VM.

[2017-01-16 04:48] itcrab commented on #380
@GergelyMindler disable Comodo (full exit) works or no?

[2017-01-16 09:20] smrau commented on #384
Hi Rolf. Thanks for the heads-up on the next release.

One thought that may explain my symptoms: I started with the (previous) stable release, then decided to try the beta. I missed the advice that I should uninstall the existing installation, and installed the beta on top of stable. Probably a coincidence.

Thanks again for your help.

Steve.

From: Rolf Neugebauer [mailto:notifications@github.co

[2017-01-16 14:43] jtnord commented on #304
made no changes - but upgraded to beta37 and confirm it is now working as expected.

[2017-01-16 14:46] jtnord commented on #305
@dgageot not sure how I can test without crashing Docker - and upgrading fixed the crash I reported in #304 - will re-open if I see it again.

[2017-01-16 14:59] cristoforo commented on #390
Same issue here.

Diagnostic ID is 27EF6D01-9D82-469E-8AC3-136444A69D4D/2017-01-16_15-57-42
Runnning on hardware

Log:
[code]

[2017-01-16 19:48] cristoforo commented on #390
Also tried the `MobyLinux.ps1' -destroy` and `create`:

[code]
But `create` returns an error
[code]

[2017-01-16 22:12] random0000 opened #393 "Docker not starting after update to 1.13.0-rc7-beta37 (9733)"
I have diligently been upgrading whenever there is an update available without having any issues.  This last time I was in Windows container mode when I applied the update.  I was also experimenting with node labels and service constraints.  Here is the crash report diagnostic id: D72C48A6-52BE-4CB7-9BB9-BE6F019495D2/2017-01-16_13-59-00.

I get that error on startup, however when I switch to Linux

[2017-01-17 01:46] hurricaneMitch commented on #390
@friism I am running on hardware. Two different Desktops and a laptop.
I booted up other VMs with no issue. When I was doing that I noticed that I had about 10 different MobyLinuxVMs. I deleted them all and everything works fine now. Docker drops a new VM on installation and running Docker.

My suspicion is that, after update of Docker, the previous versions VM is the one failing. Not exactly sure

[2017-01-17 10:06] charany1 commented on #390
I'm facing the same issue .

[2017-01-17 10:12] cristoforo commented on #390
**[solved]**

Here's what worked for me: Windows 10 has a new "Reset network" command under Settings.
Just applied that, rebooted and Docker was working again.

How to Reset Network interface on Windows 10:
Select the Start  button, then select Settings  > Network & Internet > Status > Network reset.

[2017-01-17 15:46] denisvmedia opened #394 "Docker on Windows is not usable with volumes mapped to local directories"
### Expected behavior

Remote operations should work as if the directories are local to the container

### Actual behavior

There are multiple problems:

  1. It is EXTREMELY slow (for example I can't work normally with Symfony through Docker - cache/vendors folders mapped to the local host are created/updated too slow).
  2. Apart it is too slow, in most of the cases I even can't delete a cache f

[2017-01-17 16:41] sugun999 commented on #360
Hi,

Any ideas?

[2017-01-17 19:01] GergelyMindler commented on #380
@itcrab I cannot disable Comodo but I found the same menuitem as you:
![image](https://cloud.githubusercontent.com/assets/24973489/22035213/6e63f178-dcef-11e6-9cab-877d85e372b1.png)

The used language is Hungarian, "Tűzfal" = Firewall, "Hálózati zónák" = Network zones. The problem is that here I did not found Docker network - but the Docker is running.

[2017-01-17 19:02] GergelyMindler commented on #380
@itcrab So, currently this problem is open yet.

[2017-01-17 19:15] itcrab commented on #380
@GergelyMindler you may send message to Comodo for help give right settings for Docker

[2017-01-18 02:37] mscribe opened #395 "PXE boot related service doesn't work on Docker for Windows"
*Moved [issue #30196](https://github.com/docker/docker/issues/30196) from docker/docker to docker/for-win.*

**Description**
When I try running a simple TFTP service on port 69/udp on Docker for Windows, I cannot fetch a file from it.  I really want to be able to connect a laptop to a network, run a Docker container on it, and start PXE booting other computers from the laptop.

**Steps to reproduc

[2017-01-18 09:29] Heshyo commented on #54
Docker 1.12.6 wasn't working but 1.13.0 RC0 Beta37 works well.

[2017-01-18 11:51] jmartsch commented on #129
This problem still exists in Beta 37 and in stable version. It takes several minutes for docker to start.

The ID of my uploaded diagnostic is:
E91C48DC-A11B-47F3-975E-7802F3FFF234/2017-01-18_12-47-53

Here is an excerpt from my logfile where you can see that I started Docker at 12:30 and the message that Docker has started appeared 9 minutes later at 12:39.

[code]

[2017-01-18 11:58] huww98 commented on #129
I reset my Windows firewall, now everything works well.

[2017-01-18 12:00] jmartsch commented on #129
@huww98 What do you mean with reset the Windows firewall? What did you do? Disabled it?

[2017-01-18 12:03] jmartsch commented on #129
@huww98 Now I know. Reset the firewall to default. Now Docker is starting up quick. Thanks for the suggestion.

[2017-01-18 13:15] gh2k commented on #271
I understand this issue is closed, but I'm wondering if anyone managed to get a solution. I'm having an issue similar to the first post here running Win10 under VMWare Workstation 12.

During boot I see:
[code]

I don't have 240 processors. I don't know if this (and the associated stacktrace) is relevant.

This results in the same error in the end:

[code]

I'm running this:

[code]

[2017-01-18 14:01] rneugeba commented on #271
@gh2k do you have all windows updates installed? `$PSVersionTable.BuildVersion` gives you the revision number like:
[code]
I suspect the issue is do do with an older Hyper-V version not quite setting up the ACPI table right.

The 240 processors are unrelated. Hyper-V just advertises them as potential number of processor, irrespective of how many are configured for the the VM (which is a bit weird,

[2017-01-18 14:14] sebastien-f commented on #385
Issue still exists in Docker version 1.13.0-rc7, build 48a9e53.

If I can provide anything that would help troubleshoot that issue, feel free to tell me.

I have try so many things to fix this, but I've run out of idea.

[2017-01-18 14:56] caleblloyd opened #396 "Switch to Windows Containers: Error creating default network: HNS failed with error : The parameter is incorrect."
### Expected behavior

Click on "Switch to Windows Containers" and Docker for Windows Containers works.

### Actual behavior

Error on switching to windows containers every time.  Linux containers work fine.

### Information

Crash report ID: E958D2D3-3554-427C-92CD-47C9FA318338/2017-01-18_09-50-22

Things I have tried:
- Reset to Factory Defaults in Docker for Windows
- Uninstall/Reinstall Docker

[2017-01-18 16:13] panmanphil opened #397 "the --dns option is not working with windows container"
### Expected behavior
calling docker run with the --dns <some dns server> should use that server as the sole, or at least as the first dns server in the list
### Actual behavior
The default gateway is listed as the first dns server in the list on my vm ware hosted windows 10 instance. On a windows 2016 instance, the hosts dns server is listed first.
### Information
Windows 2016 version:
PS C:\Wind

[2017-01-18 16:47] simonferquel commented on #397
Thanks for the report. @friism Can we have someone from Windows Containers team look at it ? (we don't do anything related to dns in D4D.

[2017-01-18 16:54] simonferquel commented on #396
Hi @caleblloyd, can you try the script at https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/CleanupContainerHostNetworking with -Cleanup ? Then a try with -Cleanup -ForceDeleteAllSwitches ? (ForceDeleteAllSwitches will throw away all your Hyper-v Virtual switch though)

[2017-01-18 16:58] simonferquel commented on #395
@djs55 Can you have a look at it ? I suspect it is an issue with the udp forwarder on vpnkit. Does it route packets both ways ?

[2017-01-18 17:00] simonferquel commented on #394
Hi @denisvmedia, could you try with latest beta ?

[2017-01-18 17:07] simonferquel commented on #393
Diagnostics tell that some KBs are missing in your computer:
  [Fail] Missing KB3192366, KB3194496, or later installed
Can you try to update Windows (using Windows Updates) ?

[2017-01-18 17:09] simonferquel commented on #392
Can you try to update after having closed Docker for Windows and stopping the Docker for Windows Service ?

[2017-01-18 17:12] simonferquel commented on #390
@cristoforo thanks for the workaround. Alternatively, latest beta should have fixed most of the startup related issues

[2017-01-18 17:13] simonferquel commented on #389
Thanks for the report @braveness23 we'll make sure to fix that soon !

[2017-01-18 17:16] simonferquel commented on #388
@braveness23 Can you try with -Cleanup and -ForceDeleteAllSwitches ? You'll have to reboot after that.

[2017-01-18 17:21] simonferquel commented on #385
Thanks @sebastien-f, we'll investigate this further and eventually come with a fix. By any chance, is there a networking setting change when this occur ? (like change of wifi network, vpn connection,...)

[2017-01-18 17:27] simonferquel commented on #377
This seem to be a docker-compose issue. Can you report the issue on https://github.com/docker/compose/issues ?

[2017-01-18 17:29] matjazmav commented on #392
I had stopped both service and program, but when I start program, it sais that service is not running, then I click start service. Docker is now running and then I get popup that update is available, naturally I click update without killing service and closing docker for windows. Can you change workflow, check for update should preform before starting docker?

[2017-01-18 17:29] simonferquel commented on #376
@ramondeklein thanks for the report, it is indeed a limitation of windows containers. @friism do you know if something is planned to fix that ?

[2017-01-18 17:32] simonferquel commented on #374
As @friism said, this is an engine issue and you should report it on there github repo. jhowardmsft. I'm closing it on this side then.

[2017-01-18 17:32] #374 closed

[2017-01-18 17:35] simonferquel commented on #392
You can just download the latest msi on https://docs.docker.com/docker-for-windows/. It will update your installation as would do the automatic update (but you'll be able to do it while everything is closed)

[2017-01-18 18:01] whitecolor commented on #377
Yes I believe it can be close here.

[2017-01-18 18:01] #377 closed

[2017-01-18 18:26] caleblloyd commented on #396
@simonferquel I tried running that script as administrator with `-Cleanup -ForceDeleteAllSwitches` and it did not fix the issue.

I also ran the [debug container host script](https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/Debug-ContainerHost), here is the output:
[code]

[2017-01-18 18:59] gmcghie opened #398 "Container with SSL connection to AWS mysql DB fails on windows, works fine on Mac"
### Expected behavior
Docker containers should work consistently across platforms

### Actual behavior
The windows version is unable to connect (connection timeout) to mysql database using an SSL connection.  The same container on a mac works fine connecting to the mysql database over SSL.

### Information
I have a Python-Flask application that requires data to be encrypted across the wire.  As su

[2017-01-18 19:45] sebastien-f commented on #385
@simonferquel Thank you for acknowledging the issue. Regarding your question : no networking settings change that I am aware. Computer is connected via ethernet to a router, which itself is behind the internet box. Computer is configured with a static IP, internet IP is static too. I have a VPN connection to connect to a remote network, but said connection is triggered by hand only and I have not

[2017-01-18 19:50] gmcghie commented on #398
## Important:  You can eliminate all of my code by running the container, opening a bash shell, and then executing:

`mysql --host=<AWS Host> --ssl-mode=REQUIRED --ssl-ca=/sessions/rds-combined-ca-bundle.pem --user=<username>--password=<password> <database name>`

Again, this works fine from the Mac, does not work on Windows.

[2017-01-18 21:13] friism commented on #398
@gmcghie your repro is not very specific. It looks like you're trying to mount a folder with client certificates into the container and then using those to connect to the database.

Can you confirm that that volume mounting is happening correctly and that mysql/python can correctly read the volume-mounted certificates?

[2017-01-18 21:15] friism commented on #397
@panmanphil can you reopen this in https://github.com/docker/docker/issues/new and ping @msabansal ?

[2017-01-18 21:55] panmanphil commented on #397
Will do

[2017-01-18 21:55] #397 closed

[2017-01-18 22:37] ExiaSR opened #399 "Unable to run Docker on Windows 10 Pro"
### Expected behavior
Make it run
### Actual behavior
Ask me to enable Hardware assisted virtualization and data execution protection must be enabled in the BIOS.
### Information
  * Diagnostic ID: E53C-43B5-8BDF-7D607FD61B52/2017-01-18_15-31-48
  * OS: WIndows 10 Pro
  * Docker Version: 1.13.0-rc7-beta37 (9733)

### Steps to reproduce the behavior
Follow the installation guide.

### Note
  * I al

[2017-01-18 22:52] msabansal commented on #397
@panmanphil This is by design. We have this because we want to enable service discovery. 172.17.48.1 is the server address of dns server running in docker which intercepts container name queries and allow service name resolution

[2017-01-19 00:07] random0000 commented on #393
That did the trick - thanks and will also keep that in mind going forward!

[2017-01-19 00:07] #393 closed

[2017-01-19 00:16] panmanphil commented on #397
That would be fine, and needed for swarm, I understand that. But, if it doesn't delegate to other dns servers the entries it directly controls, how can --dns accomplish anything?

In this case the scenario is aws ecs with a vpc + vpn to an internal datacenter. We need to be able to resolve names in that datacenter, and have a dns server to do so. Even if that dns server was route53, we'd want to p

[2017-01-19 00:30] msabansal commented on #397
It does delegate to other servers. The first request always goes to the docker dns server which replies back with a SRV_FAIL response in case name doesn't match a service/container. DNS client in windows then delegates and continues resolving the query using other dns servers in the list.

[2017-01-19 00:32] msabansal commented on #397
@panmanphil I believe you should not have any issues with the scenario you are talking about. If you are seeing an issue perhaps you can take a network trace on the host and see if the query is not going to the DNS servers you mentioned.

[2017-01-19 01:21] panmanphil commented on #397
It is not getting resolved, yes perhaps a network trace would help confirm this. But consider this.

On the host
nslookup myserver.example.com (works with dns server listed)

docker run -it --<and so on> --dns mydnsserver microsoft/windowsservercore cmd
in the container
nslookup myserver.example.com (does not work)

Other than not delegating what else could this be? there is only the nat network.

[2017-01-19 01:34] msabansal commented on #397
Not sure about the issue. This should have worked. Perhaps there is some issue with network routing.  you can do nslookup - mydnsserver and see if there is an issue. Nslookup doesn't delegate so I think that is an issue.

[2017-01-19 01:50] braveness23 commented on #389
perrfect ;-)

[2017-01-19 02:55] richraid21 opened #400 "Can't Run - Windows 10"
### Expected behavior
Docker Launches
### Actual behavior
Error Thrown
### Information

3587B5AC-BB75-4F2A-9138-418F6747141C/2017-01-18_21-53-37

[log.txt](https://github.com/docker/for-win/files/715571/log.txt)

### Steps to reproduce the behavior

  1. Attempt to run
  2. Fail

[2017-01-19 10:03] gh2k commented on #271
Yeah, everything is up to date. The host machine is fairly beefy and I've allocated the guest 8GB of RAM.

[code]

I realise it's not a particularly sane configuration. I'm writing some documentation for my team and don't have convenient access to a PC with Windows on it. I'll scrounge up a spare drive and set up dual-boot.

[2017-01-19 10:11] simonferquel commented on #396
Ok, this is definitely a windows docker engine issue. Please reissue the bug on https://github.com/docker/docker/issues,

[2017-01-19 10:21] simonferquel commented on #399
From the diagnostics file, it seems that you are running VMWare, and that is why Hyper-V can't kick off (only one hypervisor can run on a single machine).

Please uninstall VMWare and try if it works better.

[2017-01-19 10:22] simonferquel commented on #400
Can you verify if you can create a VM manually and launch it using Hyper-V manager ?

[2017-01-19 10:58] simonferquel commented on #369
Can you try with the proper http:// prefix ? like http://user:pass@host:port ?

[2017-01-19 11:00] simonferquel commented on #367
Hi, @vowstar, Thanks for the suggestion. Out of curiosity, why do you want this to be an identified network ?

[2017-01-19 11:03] simonferquel commented on #360
Unfortunately no. It seems that Cisco AnyConnect include some kind of firewall blocking port 445. We'll need to investigate more thoroughly, but we need the proper Cisco infrastructure to test it.

[2017-01-19 16:00] simonferquel commented on #396
I'm closing the issue in for-win, thanks

[2017-01-19 16:00] #396 closed

[2017-01-19 16:02] simonferquel commented on #392
Did the issue get resolved ?

[2017-01-19 16:19] jelster commented on #374
Hi @simonferquel, thanks for taking the time to respond. If I could impose another moment of your time to explain how I might tell the difference between an engine issue (as you'd identified this one to be) and a D4W issue? For example, would it be accurate to say that anything thrown by the daemon is an engine issue, or is there more nuance (in general) than that? I want to have a better understa

[2017-01-19 16:26] matjazmav commented on #392
Nop, I still got stuck.
![image](https://cloud.githubusercontent.com/assets/9011654/22115139/423f04ec-de6c-11e6-86bc-cc6439878e54.png)

[2017-01-19 16:38] simonferquel commented on #392
This step can take a few minutes to go. Can you give it some more time ?

[2017-01-19 17:14] trodrigues commented on #56
I know +1s in issue comments don't help but I'd just like to add my voice here and say this is an issue that I also care about very much and would love to see it addressed in the future. In fact, I found this issue here today because I saw this was an issue a few months ago and decided to come back and look for what the current status of this situation was.

[2017-01-19 18:27] eivantsov opened #401 "How to restart Docker with proxy settings using powershell or cmd"
I am trying to restart Docker service on Win 10, but after it is stopped and restarted  I cannot use any docker syntax:

[code]

My goal here is first to restart Docker without using Windows client app. Also another question: how to apply proxy settings for Docker, again, without interacting with the application (using powershell or cmd)

[2017-01-19 18:43] matjazmav commented on #392
I left it for about 1 hour and it is still on the same place.

[2017-01-19 19:26] breed85 commented on #392
I have also been having this same problem for several weeks. Automatic upgrades get stuck and installing from the new MSI gets stuck as well.

[2017-01-19 21:20] rneugeba commented on #401
are you trying to use windows or Linux container?

If you are using Linux containers, we don't support starting it via powershell.

If you use Windows containers and don't want to use the UI, you can always just use the stand alone package as per: https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10

[2017-01-20 01:03] Phoenyx33 opened #402 "Problem with running Docker for Windows (Hyper-v) plus updated info"
### Expected behavior
Docker should run.
### Actual behavior
Docker crashes with error info as below.
### Information
  - Diagnostic ID from "Diagnose & Feedback" in the menu.
               2CA89324-0D8B-4274-B40C-2B2670824C47/2017-01-19_19-27-08
  - a reproducible case if this is a bug, Dockerfiles FTW
               Info as in Issue #27, #28 and others.
  - page URL if this is a docs issue or t

[2017-01-20 01:17] Phoenyx33 commented on #147
For me, no broken adapter, hosts didn't work, trying Beta/Experimental didn't work. <sigh>
Added a new Issue with Diagnostic as I found a new glitch to this. It seems to think the mobylinux.iso
is invalid and tells me to use a "valid Boot Media". Issue #402 with attached diagnostic number.

[2017-01-20 01:26] ExiaSR commented on #399
@simonferquel
Hi Simon.  Thanks for the reply,

I tried to uninstall the VMWare, but it is still not working.

* Diagnostic ID: F702C5DB-E53C-43B5-8BDF-7D607FD61B52/2017-01-19_18-23-17

[2017-01-20 02:31] richraid21 commented on #400
Hyper V seems to be having problems with Secure Boot (Or at least the MobyLinux.ps1 script is having trouble setting it properly).

After looking into the problems and logs, and running the PowerScript scripts manually, I was able to find the issue. After googling for a bit, I found this [issue](https://github.com/docker/for-win/issues/216#issuecomment-260843209). Referenced in this linked comment

[2017-01-20 02:32] richraid21 commented on #402
Try editing you MobyLinux.ps1 script at line 250 by replacing

`$vm | Set-VMFirmware -EnableSecureBoot Off -BootOrder $vm.DVDDrives`

with

[code]

Fixed my issue #400

[2017-01-20 02:33] JackieJ commented on #324
Experienced the same problem after this morning's update to 1.13.0. Here my powershell output for adapters.

[code]

I have Windows 10 Enterprise build 10586.713. Tried reinstall with elevated rights but no luck.

[2017-01-20 03:04] SpencerTuft commented on #360
I did what @johnrb2 did and it worked just fine for me. I don't think Cicso anyConnect has to block port 445 to work properly. If it did, then it wouldn't be working for me or johnrb2.

[2017-01-20 03:59] reypm commented on #394
@denisvmedia I am not experimenting such behavior and I am working with Symfony, maybe I misunderstood the issue. Anyway this is [my repository](https://github.com/reypm/symfony3app/tree/httpd) give it a try and let me know if you still experimenting the same issue. I am using the latest beta - a RC I think?

[2017-01-20 07:20] unclev commented on #392
I confirm this issue for the `Docker version 1.12.6, build 78d1802` when upgrading to `Docker version 1.13.0, build 49bf474`, - managed to upgrade with the @breed85's workaround. Windows version:
[code]

[2017-01-20 08:51] simonferquel commented on #392
Hi, InstallerCli.exe -k -u kills Docker for Windows processes (the Docker for Windows UI, as well as the Windows service, as well as any other executable we need to bring connectivity to the Linux VM). Then it stops / delete the linux VM and its vhd, remove our settings file and on Windows containers enabled builds, restart temporarly the Windows daemon to remove all containers, networks, volumes

[2017-01-20 09:01] simonferquel commented on #399
It seems that VMWare uninstallation did not reset the bootloader setting to a working Hyper-V environment. Can you try to launch `BCDEDIT /Set {current} hypervisorlaunchtype auto` in an elevated command prompt and restart your machine ?

[2017-01-20 09:17] simonferquel commented on #400
Ok @richraid21 thanks for the details. We'll evaluate the risk to modify this for everybody in next beta !

[2017-01-20 10:44] Malmas commented on #271
I have also exactly the same issue. First I had this error: "The VM couldn't get an IP address after 60 tries" After the update I installed today I get this new  issue (Docker hv-sock proxy (vsudd) is not reachable).

In my logs I also see the following errors:
 **- tsc: Fast TSC calibration failed
 - tsc: Unable to calibrate against PIT
 - tsc: HPET/PMTIMER calibration failed**

I'm  Running a  W

[2017-01-20 11:24] eivantsov commented on #401
@rneugeba yes, just old good linux containers. I'd like to be able to restart Docker from my application just like it's done in a nativr Docker for windows when you apply proxy settings or just restart Docker.

[2017-01-20 11:26] rneugeba commented on #401
I'm afraid that's currently not possible. You can only change the settings via the UI for now.

What's your use case?

[2017-01-20 11:28] eivantsov commented on #401
My application needs Docker as a dependency and it checks Docker health and connectivity. I want to hide Docker from a user, i.e. if proxy settings need to be applied, I want to do that in my app, without having a user to to Docker app UI.

[2017-01-20 12:18] rneugeba commented on #401
@eivantsov Docker for Windows is designed as an desktop application to be used by end users/developers. So I'm closing this issue as won't fix

[2017-01-20 12:18] #401 closed

[2017-01-20 12:25] rneugeba commented on #378
I'm closing due to lack of activity. Please re-open if the problem persists with the latest Beta and you have the information suggested above.
Thanks

[2017-01-20 12:25] #378 closed

[2017-01-20 12:27] rneugeba commented on #373
Closing this due to inactivity. Please re-open if there is additional information.
Thanks

[2017-01-20 12:27] #373 closed

[2017-01-20 12:31] rneugeba commented on #350
Closing this issue due to inactivity. @statdev please open a separate issue with a diagnostics ID and the latest Beta or stable release. @BeardedYeti please re-open if you still have the issue and have tried the suggestion above.
thanks

[2017-01-20 12:31] #350 closed

[2017-01-20 12:38] eivantsov commented on #401
@rneugeba thanks for clarifying.

[2017-01-20 13:41] richraid21 commented on #400
Just a little bit more information:

There seems to be a problem with my(alot of?) Hyper V installs. I can create a Gen1 VM instance with an ISO attached (all in one go), but I cannot setup a Gen2 VM with an iso attached (all in one go).

In order to successfully create a Gen2 VM instance, I need to create it without an attached ISO. Then, after the VHDX is created, go in and attach the ISO manual

[2017-01-20 13:50] hindsight20-20 commented on #355
I see this issue in Win10 Insider build 15007. Just submitted feedback to MS about this since it had been fixed in a prev. (way older, might have been 14393) Insider build. Currently updating to 15014.

[2017-01-20 14:44] eczajk1 opened #403 "error: g++: internal compiler error: Killed (program cc1plus)"
### Expected behavior

Docker image to build properly  -  trying to build an image that I have built and re-build many times in previous version of Docker.

Note that I have just upgraded to ```Version 1.13.0 (9795)```.

### Actual behavior

Build errors that appears to be related to memory issues:

[code]

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.

[code]

  - a r

[2017-01-20 14:54] justincormack commented on #403
Yes there seems to be an issue that the swap is not being enabled.

As a temporary measure if you do
[code]

it should mount it. I will prepare a fix.

[2017-01-20 14:55] hindsight20-20 commented on #355
Volume mapping is working again in Win10 Insider build 15014.

[2017-01-20 14:56] rneugeba commented on #199
I was now able to repro this with 1.13.0 on windows 10 pro (10.0.14393.693). The Legacy console tickbox is not ticked.
I just did a:
[code]
followed by:
[code]

here is the docker info:
[code]

@jhowardmsft would it be better to move this over to `docker/docker`?

[2017-01-20 15:27] syncxplus opened #404 "d4w/nsenter keeps coming back after I deleted it"
### Expected behavior
NA
### Actual behavior
NA
### Information
Does anyone know what this image is? It keeps appearing when I run "docker images" every time after a docker restart. I have ran "docker rmi 9e4f13a0901e" to delete the image but after a docker restart, it is present again.
running env:
Windows10 14393.693
Docker version 1.12.5, build 7392c3b

### Steps to reproduce the behavior
1. Ju

[2017-01-20 15:34] friism commented on #404
Also reported on forums: https://forums.docker.com/t/what-is-the-image-d4w-nsenter-it-keeps-coming-back-after-i-delete-it-is-this-malware/27247

@simonferquel could this somehow be run as a non-userland container?

@syncxplus [can you please update to Docker 1.13.0](https://docs.docker.com/docker-for-windows/)? That the latest stable release. If the problem persists, generate a diagnostic dump and

[2017-01-20 15:44] simonferquel commented on #404
This is an image we use internally to remotely administrate the Linux VM (mount shared drives, ...) shipping with Docker for Windows (it is not pulled, but loaded from disk).
You can delete it, but it will be re-loaded each time Docker for Windows needs to take an administrative action.

[2017-01-20 15:47] eczajk1 commented on #403
This script didn't seem to work for me, but increasing the VM allocation did.  Thanks!

[2017-01-20 17:18] mi-hol opened #405 "1.13.0-beta38 error in restart when memory was increased"
### Expected behavior
restart completes
### Actual behavior
restart shows error
### Information

  - Diagnostic ID: 277494A5-97DE-4EAC-90BF-527A07BB66C0/2017-01-20_18-09-01
  - W10 Enterprise Version 1607 Build 14393.567

### Steps to reproduce the behavior

  1. upgrade to Docker 1.13.0-beta38
  2. increased memory from 4096MB to 4608 MB
 3. error as in diagnostic data

[2017-01-20 18:33] mattgould opened #406 "Docker hv-sock proxy (vsudd) is not reachable"
### Expected behavior
Docker runs

### Actual behavior
Docker failes with error:
  Docker hv-sock proxy (vsudd) is not reachable

### Information
Diagnostic ID: E9D48564-7054-4F6B-A5A7-EA1B04B7871E/2017-01-20_11-31-24

### Steps to reproduce the behavior

  1. Allowed Docker to update and it stopped working

[2017-01-20 18:51] mattgould commented on #406
I have tried resetting Docker and also removing it and reinstalling from a new download.
It was working fine before it told me that there was a new version available and I allowed it to upgrade.

[2017-01-20 19:14] Jonathan34 commented on #179
facing the same if the folder contains a folder... can't try without the nested folder though

[2017-01-20 20:33] ExiaSR commented on #399
Thanks, it works now.

[2017-01-20 20:33] #399 closed

[2017-01-21 00:16] phpguru opened #407 "Can't launch certain containers after upgrade to Docker for Windows 1.13"
### Expected behavior

Containers should run. I should be able to use Docker.

### Actual behavior

Containers won't run, can't be deleted or restarted. I cannot use Docker.

### Information

A diagnostic was uploaded with id: B64A3FC5-3D24-47A3-AC32-D089A367F5EE/2017-01-20_17-09-50
Windows 10

### Steps to reproduce the behavior

1. Allow Docker to auto-update
2. Reboot as directed
3. After resta

[2017-01-21 02:05] anongitmous commented on #271
Uninstalling KB3213986 fixed this issue for me.

[2017-01-21 03:31] dsech opened #408 "Startup error after updating to 1.13"
Windows 10 Pro, Hyper-V with MobyLinuxVM.
Had latest 1.12 version installed, on stable channel.
Installed 1.13 after receiving the update notification.
Now, when starting, it crashes with error:

[code]

Diagnostic ID: 9F2F69FE-6E71-44CF-A43C-0E479A1D4628/2017-01-21_04-28-40

I've also uninstalled and reinstalled 1.13, but it throws the same error.

Also, the VM doesn't exist anymore in Hyper-V Ma

[2017-01-21 13:21] dsech commented on #408
All is working after rebooting windows.

[2017-01-21 13:21] #408 closed

[2017-01-21 13:50] copitz opened #409 "Enable time sync for MobyLinuxVM"
### Expected behavior

The time within docker containers should be the same as on the host.

### Actual behavior

The time within docker containers drifts by some seconds (interestingly mostly ahead). The problem can be solved by enabling **Integration Services > Time synchronization** in MobyLinuxVM settings - but after docker is restarted, its disabled again.

### Information

  - Diagnostic ID:

[2017-01-21 13:58] justincormack commented on #409
There are some bugs in the time integration service kernel modules for Linux against different Windows versions, which may well be related to this. cc @rneugeba

[2017-01-21 16:16] copitz commented on #409
@rneugeba Yes, this was after I enabled the TimeSync manually

[2017-01-21 18:26] wouterds commented on #147
Same issue. Tried uninstalling it, re-installing it, installing the beta version, .. Since the last update of Docker it doesn't start anymore for me.

Windows 10 Pro.

3E50F123-046F-4158-A67E-D4BCD708C35C/2017-01-21_19-25-41

[2017-01-21 19:00] denisvmedia commented on #394
@reypm @simonferquel

My research shows that I "reynierpm/docker-centos7-supervisord:latest" image (used in Dockerimage by @reypm) has no problems with deleting the files and but "alpine:edge" (which is used by my container) has this problem.

I went further. I took my huge cache folder and put it to d:\data\dev. I ran two commands over it (both times I restored the folder of course).

First test

[2017-01-21 19:06] denisvmedia commented on #394
Here is another example that works. So, seems there is an issue only with `alpine`...

[code]

[2017-01-21 22:41] reypm commented on #394
@denisvmedia can you share your Dockerfile?

[2017-01-21 22:45] denisvmedia commented on #394
@reypm it happens even without Dockerfile... This command `docker run -v d:/data:/data alpine rm -rf /data/dev` runs with errors if /data/dev is a fairly big (e.g. cache dir from Symfony). And it happens only with alpine image. I switched to centos:latest and the problem is gone.

[2017-01-22 02:15] weavermount opened #410 "Clicking "Shared Drives" tab causes crash"
### Expected behavior
Can switch to "Shared Drives" tab.

### Actual behavior
Docker for Windows crashes when clicking button to switch tab

### Information
Diagnostic ID: 1EBBE537-6B80-4E7D-ADEE-2C908AB3434B/2017-01-21_18-10-13

### Steps to reproduce the behavior

  1. Open Settings window
  2. Click "Shared Drives"
  3. Crash

[2017-01-22 03:43] kddlb commented on #406
I hsve the same issue, with Diagnostic ID `C36420E5-F955-412C-85FB-AA284069EF4B/2017-01-22_00-42-42`.

[2017-01-22 08:39] groupe-pichet commented on #406
Hello, I has the same PB during a new install => `B244A149-E903-44BC-B5C1-7EBDA98A2659/2017-01-22_09-34-20`

[2017-01-22 08:43] leolorenzoluis opened #411 "Can't switch to linux containers in Windows 10 Azure VM"
### Expected behavior
Docker for Linux Container not working
### Actual behavior
Docker for Linux Container should run

### Information

Diagnostic ID: 694A9871-018A-4B14-9CFB-79E8A5846283/2017-01-22_08-41-21
[code]

### Steps to reproduce the behavior

  1. Start docker and switch to Linux container

[2017-01-22 10:18] denisvmedia commented on #394
However, the problem with the files is gone, still the productivity is bad... The app loading too slow. And I don't know how to prove that (as I'm not allowed to share the sources). It takes 13 seconds to load the app. And assets in dev-mode are being loaded forever :(  On the same PC without Docker it works fast.

If anyone knows an open source Symfony app with reach functionality that I could te

[2017-01-22 10:42] denisvmedia commented on #394
Here is a screenshot from the profiler: http://share.pho.to/Ab0lG
This is how it works without docker: http://share.pho.to/Ab0le

[2017-01-22 13:00] syncxplus commented on #404
@friism Upgrade to 1.13.0 build 49bf474, the issue still existed.
Already upload a  diagnostic dump with id **5D4DAECD-A3D2-445F-BA39-793A38A9969B/2017-01-22_20-55-20**

[2017-01-22 14:30] juliankolbe commented on #372
Im having the same issue. I usually run my docker-compose up from the the git for windows gitbash terminal. It used to have colors and worked perfectly. So the container names had colors as well as some of their output. (Node.js container for example produced colored log outputs). Now however the logs all are all white and there is exactly zero color. I really need a fix for this. Help is apprecia

[2017-01-22 16:46] friism commented on #411
Virtualization is required for Docker for Windows to work with Linux containers. Nested virtualization is not available in Azure VMs, so this won't work.

https://docs.docker.com/docker-for-windows/troubleshoot/#virtualization-must-be-enabled

[2017-01-22 16:46] #411 closed

[2017-01-22 18:31] wendelmax commented on #114
You can change the status of the docker network in the settings center of Kaspersky to trusted.
10.0.75.1/24 (vEthernet (DockerNAT)) -->> trusted

[2017-01-23 02:08] Ltek opened #412 "Win10 : virtualization enabled but Docker does not see it - will not load"
### Expected behavior
Docker would start

### Actual behavior
Getting this error on Docker startup...
"Hardware assisted virtualization and data execution protection must be enabled in the BIOS"

### Information

 - Diagnostic ID from "Diagnose & Feedback" in the menu: Docker will
 not run, dont see a way to do this
- log.txt attached
 - host distribution and version : Win 10, latest version of Do

[2017-01-23 02:14] friism commented on #412
Can you create a Hyper-V manually? (you can create any old linux or windows VM to test)

[2017-01-23 02:26] Ltek commented on #412
I don't know, I don't use Hyper-V for anything else. Hyper-V starts and there are no Event Log errors (I read the Microsoft Hyper-V troubleshooting guide)

here's all the specs from systeminfo command:

Host Name:                 OFFICE
OS Name:                   Microsoft Windows 10 Pro
OS Version:                10.0.14393 N/A Build 14393
OS Manufacturer:           Microsoft Corporation
OS Confi

[2017-01-23 07:56] AmitHassonHPE commented on #274
I have the same issue.
Diagnostic ID: 3EF07AF2-8BFC-4D3B-B391-ECBC6038BFC6/2017-01-23_09-46-32

1. Fresh install (when virtualization not enabled in bios)
2. Enabled virtualization and got this error (also after a couple of reboots).

[2017-01-23 08:03] Deathofdemigod opened #413 "Reclaimable space value has wrong format"
### Expected behavior
Reclaimable space in readable format.

### Actual behavior

PS C:\WINDOWS\system32> docker system df
TYPE                TOTAL               ACTIVE              SIZE                RECLAIMABLE
Images              13                  10                  15.65 GB            -4.752e+10 B (-303%)
Containers          14                  0                   0 B                 0 B

[2017-01-23 09:20] rneugeba commented on #274
@AmitHasson thanks for your report. Your issue is different to the one report initially on the issue. Could you un-install Docker for Windows and install the new version manually. If you issue persist, could you create a new issue with a new diagnostics ID?
Thanks

[2017-01-23 09:30] robcthegeek commented on #147
Same issue here - Docker fails to start and it reports that it can't my machine name can't be resolved.

:boom: **Crash Report:** `93F4B946-F34A-4EBF-AFC6-B3F6151F3464/2017-01-23_09-26-59`

Tried a complete re-install, no dice.

Let me know if there's anything you want me to try/guinea pig. I need to get this up and running ASAP! 😄

[2017-01-23 10:24] micdah commented on #320
I seem to be experiencing this (or a similar) issue.

Diagnostic ID: 30667474-C49F-4185-B957-3A7AE1F38393/2017-01-23_11-19-16

I am running fairly few containers (only running 4 containers), but I am putting a high load on one particular (mssql-server-linux) running about 10 services on the host machine as well as a handfull of websites and API's all pulling from the mssql container.

[2017-01-23 10:46] Zougi commented on #402
That might be worth a PR!? Thanks @richraid21!

[2017-01-23 11:11] rneugeba commented on #412
Could you supply a diagnostics ID? We collect a bunch of additional data which may help us to debug.

Also, in Hyper-V Manager, if you just create an empty VM. `New -> Virtual Machine` and then just click through the defaults. Once the VM is created, select it, click on `Connect` and power it up. If hyper-v is working you should see something like this:

![screen shot 2017-01-23 at 11 09 51](https

[2017-01-23 11:13] rneugeba commented on #372
@juliankolbe could you provide a concrete sample command line?
thanks

[2017-01-23 11:19] sugun999 commented on #360
Hi SpencerTuft,

Could you please let me know, what is subnet address/mask you tried?

[2017-01-23 11:45] dermeister0 opened #414 "F1-F4 keys do not work in Far Manager inside Docker terminal opened in ConEmu"
F1-F4 keys do not work in Far Manager inside Docker terminal opened in ConEmu

### Expected behavior

F1-F12 keys work in Docker terminal under ConEmu.

### Actual behavior

F5-F12 keys work in ConEmu.
F1-F12 keys work in real console.

### Information

Diagnostic ID: F0A02330-1871-4BFD-83F8-86402B74876B/2017-01-23_18-30-41
OS: Windows 10 Pro (EN)
OS version: 10.0.14393
Docker version: 1.13.0-rc5,

[2017-01-23 11:47] dermeister0 commented on #414
https://github.com/docker/docker/issues/27389

[2017-01-23 13:21] mikenhg5 opened #415 "Docker hv-sock proxy is not reachable - diag id = 14203433-9F27-432F-9AE2-629299ADF26A/2017-01-23_13-13-12"
### Expected behavior

Took latest version as at 23rd Jan 2017, having had Docker working fine previously

Latest version required a reboot, expected Docker to start OK

### Actual behavior

Docker fails to start
[Docker Error Log.txt](https://github.com/docker/for-win/files/723668/Docker.Error.Log.txt)

Error message

Docker hv-sock proxy (vsudd) is not reachable
   at Docker.Backend.ContainerEng

[2017-01-23 13:37] tmpvar opened #416 "MobyLinux VM takes a long time to boot"
### Expected behavior

Docker runs

### Actual behavior

Docker fails with the following error

[code]
### Information

#### Diagnostic IDs
 - Stable (1.13.0) - 246AC402-739A-42BE-A040-2E718383F233/2017-01-23_08-15-39
 - Beta (1.13.0-beta38) - 246AC402-739A-42BE-A040-2E718383F233/2017-01-23_08-31-13

#### System Information

Windows 10 Pro running on an i7-5960X

[code]

### Steps to reproduce the

[2017-01-23 14:17] thecatwhisperer commented on #380
Having the same issues as the OP.  Tried the following:

- Disabling firewall
- disconnecting from VPN connections

**E888DD20-2CD0-47F9-BED0-8036680B4F1D/2017-01-23_10-06-54**

[2017-01-23 15:12] sisu4u commented on #345
I have this problem as well. But for me it is definitely no firewall blocking that.
What helps me is:
- Open Network and sharing center
- Properties of my ethernet connection
- Uninstalling "File and Printer Sharing for Microsoft Networks"
- Installing "File and Printer Sharing for Microsoft Networks"
- *Without* restarting the docker host I can now just share drive c:\

Sadly I have to do this ev

[2017-01-23 15:21] casperdcl commented on #147
Personally there was no way for me to get around this other than leaving ZoneAlarm permanently uninstalled. If anyone has zonealarm + docker + win10 all working harmoniously do let me know.

[2017-01-23 18:00] kristopher-d commented on #248
Closing this issue was inappropriate, particularly without comment. It's a real issue.

Unable to create: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: The object already exists.

   at Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)
   at Docker.Backend.ContainerEngine.Linux.Restart(Settings settings)
   at

[2017-01-23 18:04] kristopher-d opened #417 "Unable to create: The object already exists"
### Expected behavior
Docker starts
### Actual behavior
Docker Fails to start
### Information
Diagnostic 628E11F1-55C2-42EF-B589-CB9259407C2C/2017-01-23_10-02-03 uploaded

Windows 10 Pro
Version 1607
Build 14393.693

### Steps to reproduce the behavior
Attempt to start Docker for Win.

[2017-01-23 18:29] SpencerTuft commented on #360
I used this: 255.255.255.0

[2017-01-23 18:40] michaelva opened #418 "Docker 1.13 ignores the host timezone"
### Expected behavior

The time in containers should be the same as the host system.

### Actual behavior

After upgrading to docker 1.13, the host time is synced as if it was a UTC time. The host timezone is not taken into account.

On the host:  Mon Jan 23 10:23:22 PST 2017
In the container: Mon Jan 23 2:23:22 PST 2017

### Information
  - host distribution and version: Windows 10 pro 10.0.14393

[2017-01-23 18:44] justincormack commented on #418
I think this may be due to Windows setting the host clock with local time, but Linux expected UTC. May have to introduce a configured offset for Linux.

[2017-01-23 21:13] friism commented on #248
@abhinav-h-saxena @kristopher-d can you check whether you're hitting this issue: https://github.com/docker/for-win/issues/402

If so, please run diagnostics and post the diagnostic ids there - if not, please open separate issue.

[2017-01-23 21:21] gh0st opened #419 "Docker 1.13 fails to launch, sits at Docker is starting..."
### Expected behavior
Docker launches.

### Actual behavior
Docker stays at "Docker is starting..."

### Information
Diag ID: EF9F277B-CF59-4CC2-AE6E-06AF17222108/2017-01-23_13-18-44

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Wi

[2017-01-23 21:22] gh0st commented on #417
Same problem.

[2017-01-23 22:08] jasonwzs commented on #315
How can I reopen this issue? The workaround works but I have to apply this workaround every time when docker is upgraded to a new version. We need an official fix for this issue (same as #216)

[2017-01-23 22:57] rneugeba commented on #315
@jasonwzs Thanks for the feedback. I've created an internal tracking issue for this.

[2017-01-23 23:44] Ltek commented on #412
If I knew how to create a diagnostics ID I would… how can it be done when Docker will not run/load?

I’m going to uninstall and reinstall both Hyper-V and docker – let you know how that goes

From: Rolf Neugebauer [mailto:notifications@github.com]
Sent: Monday, January 23, 2017 4:12 AM
To: docker/for-win <for-win@noreply.github.com>
Cc: Ltek <ltek.llc@gmail.com>; Author <author@noreply.github.com>

[2017-01-24 01:18] nhannb commented on #406
I have the same issue as well
CF1E3678-F30E-4038-91C9-626477E3B624/2017-01-24_08-17-39

[2017-01-24 01:39] adamtuliper commented on #291
Interestingly enough, the last version upgrades did nothing - even with removal previously. The latest one about a week ago fixed it for me, seemingly OK since.

[2017-01-24 04:19] earlcherry commented on #416
the same problem

[2017-01-24 04:19] earlcherry commented on #415
the same problem

[2017-01-24 05:53] pejaycz commented on #370
Same here :-(

C8D7FF10-1B9A-43BE-8B1A-05DC948AFA91/2017-01-24_06-51-40

[2017-01-24 09:48] gregory-vc opened #420 "Docker not response on all command"
### Expected behavior

### Actual behavior

### Information

  - A diagnostic was uploaded with id: 1AAF2F3F-38CB-4C57-AA9F-705FDA340340/2017-01-24_12-28-01
  - Windows 10 Pro

### Steps to reproduce the behavior

I launch my web app by url http://localhost:8086/ (for example) aaand docker immediatly not response on all commads like
  - docker ps
  - docker-compose ps

about 5-10 minutes, and then

[2017-01-24 10:42] lijiayi commented on #244
There has to be a work around right?

[2017-01-24 10:59] rneugeba commented on #244
this has now been released both on stable and beta, so no workaround should be necessary.

[2017-01-24 11:13] rneugeba commented on #400
@jasonwzs reported [here](https://github.com/docker/for-win/issues/315#issuecomment-274633206) that the workaround poster [here](https://github.com/docker/for-win/issues/216#issuecomment-259855519) works, but needs to be redone after every update.

[2017-01-24 11:14] rneugeba commented on #315
Closing this in favour of #400 which also has an internal tracking issue. @jasonwzs I've tagged you on that issue, so that you should get updates

[2017-01-24 11:14] #315 closed

[2017-01-24 14:16] minherz opened #421 "GetFileAttributesEx <src>: The system cannot find the path specified"
### Expected behavior
When building an image from a conventional Dockerfile on Windows 10 Enterprise x64 (build >=1607) the COPY command will work
### Actual behavior
The COPY command fails with a message:
'GetFileAttributesEx <src>: The system cannot find the path specified' where <src> is a file or a folder (with trailing \) of the existing file in a path which is the same to the location of the

[2017-01-24 14:48] friism commented on #421
This works fine for me. Are you sure your file is named `app0` and not `app0.dll`?

[code]

[2017-01-24 15:07] minherz commented on #421
The `app` is a folder name. In the file the copying goes to `/app/` with trailing slash. The error that I receive hints that there is a problem to access the local (source) files and not the destination. When doing it through VS2017 RC I even see the folder created in the image.
Please, mind that I am working with Windows containers. I thought that this info will be reported by Docker diagnostics

[2017-01-24 15:13] friism commented on #421
I can't reproduce that either. Can you try with absolute paths and separately with fewer slashes, etc.?

[code]

[2017-01-24 15:24] minherz commented on #421
I am not sure what do you mean by fewer slashes? The docker documentation states I cannot use absolute path as COPY <src>. I tried to copy the content into drive C: (system) and selected simpler names for folders and the file. On the clean environment I have found the problem.
The behavior was due the .dockerignore which was in the context of the Dockerfile. Once the file was removed, everything s

[2017-01-24 15:24] #421 closed

[2017-01-24 17:53] JettJones opened #422 "Docker 1.13 cli gives a warning about crypto/x509"
### Expected behavior
Docker ouput should be free of warnings (unless there's something to fix)

### Actual behavior
Docker 1.13.0 provides a developer warning on every run - it is reporting a library does not exist on windows. That's not something I can fix as a user.
[code]
### Information
  - host distribution and version (Windows version, build number, etc)
running on windows 10 pro, Version 1

[2017-01-24 19:24] JettJones opened #423 "docker-compose fails to mount volumes on docker-machine (linux) host."
### Expected behavior
Using an existing docker-compose file, which works in docker `1.12` - I should be able to mount a volume from the docker host.  The larger use case is to mount the docker-socket, for running something like registrator or logspout, but this issue reproduces with any bind mount.

### Actual behavior
It seems that docker-compose for windows is doing some windows-specific path ma

[2017-01-24 19:40] dagbjorn commented on #422
I see the same issue running on Windows 10 Home, Version 1607 (OS Build 14393.693) after upgrading from Docker 1.12.6 to 1.13.0. Docker seems to work alright, but the warning is annoying.

[2017-01-24 19:45] friism commented on #423
You should make sure that the environment variable `COMPOSE_CONVERT_WINDOWS_PATHS` is false: https://github.com/docker/compose/releases/tag/1.10.0

If you encounter further problems, please follow up on the docker compose repo (or possibly on Toolbox or Boot2docker).

[2017-01-24 19:45] #423 closed

[2017-01-24 20:03] nouryf opened #424 "Docker for windows installer fails to install on my Windows 10 Pro"
1- I downloaded the installer .msi at https://download.docker.com/win/stable/InstallDocker.msi
2- When executing the .msi I get an error "This version of Docker requires Windows 10 Pro, ...."

My OS is Windows 10 Pro.

I turned on Hyper-V package in case that was the blocker for the installer but I still have the same error.

Any had the same issue ? or may be a solution for it or it's cause since

[2017-01-24 20:26] jimmyharris opened #425 "Docker does not preserve Hyper-V memory setting on startup"
### Expected behavior

Docker respects my Hyper-V memory settings when launching the docker-for-windows application.

### Actual behavior

Docker sets the default configuration to whatever is set in the docker application configuration.

### Information

  - Diagnostic ID: 0B317FEB-9ADA-429C-A3CF-7400E0CCEF4E/2017-01-24_14-25-11
  - Windows Version: 10.0.14393.693

### Steps to reproduce the behav

[2017-01-24 20:27] jimmyharris commented on #425
Additionally, it would be nice if Docker's "Advanced" Settings pane supported enabling and disabling dynamic memory on windows.

[2017-01-24 20:59] micdah opened #426 "Exposed ports become unresponsive after heavy load"
Michael Friis directed me to submit an issue here (_see [issue 30400](https://github.com/docker/docker/issues/30400) for more_)

I am experiencing an intermittent issue with Docker for Windows, where suddenly all the exposed ports become unresponsive, no connection can be made to the containers. This happens when a lot of activity is put on the containers from the host machine, I am running 4 cont

[2017-01-24 22:27] JettJones commented on #423
Thanks, with the name of the setting, I found a tracking issue already on compose: https://github.com/docker/compose/issues/4240

Setting the value to `false` or `0` still fails with the same error about the volume name.  `1` and `true` are what the setting needs to be. (Seemingly the name is backwards)

`set COMPOSE_CONVERT_WINDOWS_PATHS=1`

Also toolbox is [`Legacy`](https://docs.docker.com/tool

[2017-01-24 23:06] friism commented on #423
@JettJones there's a 1.13 toolbox release: https://github.com/docker/toolbox/releases/tag/v1.13.0

[2017-01-24 23:44] JettJones commented on #423
oh, I didn't realize - both of the download links I found were for `1.12.6`, so combined with the Legacy tag in the docs, I assumed that's meant no more updates.

https://www.docker.com/products/docker-toolbox
https://docs.docker.com/toolbox/toolbox_install_windows/

[2017-01-25 03:26] soymilkfj opened #427 "Make Dockerfile Failed on Windows container"
Hi there,
I am new for Docker on Windows 10.
I try to make my Dockerfile FROM microsoft/windowsservercore but it had some wrong .
Why can't I make new image ?

### Expected behavior
 - Make a new image
 - Install some software in container (e.g. python、lazrus ....)
### Actual behavior
 - Pull the image microsoft/windowsservercore successfully
 - Failed to build a new image form microsoft/windowsse

[2017-01-25 03:38] soymilkfj commented on #427
@friism Sorry for my poor English. Can you give me some suggestions from my problem?

[2017-01-25 03:55] friism commented on #427
It looks like you cannot access `https://www.python.org` - can you make sure that you have access to that from your container host and that no proxy or similar is getting in the way?

[2017-01-25 04:00] soymilkfj commented on #427
@friism Here is my setting
![1485316665630](https://cloud.githubusercontent.com/assets/24770283/22277313/8c02eaac-e2f5-11e6-80fb-2f85f302c08e.jpg)

[2017-01-25 05:20] soymilkfj commented on #427
I try into microsoft/windowsservercore container
 (use > docker run -i -t microsoft/windowsservercore powershell.exe)
and have same issue.
[code]

[code]

[2017-01-25 05:40] friism commented on #427
Please try the networking debug script: https://github.com/Microsoft/Virtualization-Documentation/tree/master/windows-server-container-tools/CleanupContainerHostNetworking

[2017-01-25 05:47] dgageot commented on #404
@syncxplus @friism This container is used to mount the shared drives, so each time docker is restarted, the container is reloaded. @syncxplus is it an actual issue for you or was it just something that you found suspicious?

[2017-01-25 05:50] dgageot commented on #413
Thanks @Deathofdemigod for the report. Could you report this issue on docker/docker? This is not something that can be fixed in Docker for Windows, so I'm going to close this one. Thanks again!

[2017-01-25 05:50] #413 closed

[2017-01-25 05:53] dgageot commented on #415
Closing as it's a duplicate of #406

[2017-01-25 05:53] #415 closed

[2017-01-25 05:53] dgageot commented on #416
Closing as it's a duplicate of #406

[2017-01-25 05:53] janhartigan commented on #188
@friism if it helps, the biggest difference I've been able to see in my two environments is down to two things: cpu or hard drive i/o (especially ssd vs hdd).

[2017-01-25 05:55] dgageot commented on #422
@JettJones Thanks for the report. Can I ask you to open an issue on docker/docker? I guess this is not something that can be fixed on Docker for Windows, so I'm going to close the ticket.

[2017-01-25 05:55] #422 closed

[2017-01-25 06:03] soymilkfj commented on #427
@friism
I have ran ./CleanupContainerHostNetworking.ps1  and get a file named "PreCleanupState_MVIWKRDA"

[code]
[code]
[code]

[2017-01-25 06:13] dgageot commented on #425
@jimmyharris We don't support users making changes directly in the Hyper-V Manager. That includes memory settings. As for the Dynamic memory, we have no plan to support it because it introduces random issues. I'm sorry I'm going to close that issue.

[2017-01-25 06:13] #425 closed

[2017-01-25 08:29] Malmas commented on #271
@anongitmous and do you also run your Windows on a VM?

[2017-01-25 08:40] pkch opened #428 "No space left on device"
`docker pull python` or `docker commit ...` fail with an "out of space" message.

Diagnostic ID: 5C6BAFC1-902A-48C1-86BD-C2E50A8F354B/2017-01-25_00-31-23

Docker 1.13.0 (9795) under Windows 10 Build 14393

[code]

I don't know how to reproduce this (it works fine on another computer with a similar setup).

I'm sure my Windows hard drive has plenty of space.

[Related SO question](http://stackoverf

[2017-01-25 08:41] dgageot commented on #403
@eczajk1 The swap is now enabled on Beta39. Also it seems that increasing the memory worked. Are you ok to close this issue?

[2017-01-25 08:58] dgageot commented on #417
@kristopher-d You are currently using version 1.12.6 on Stable channel. Can you update to the latest version and tell us if it's better?

[2017-01-25 09:00] dgageot commented on #417
Sorry, in fact you updated to 1.13. Let me check again...

[2017-01-25 09:02] dgageot commented on #417
@kristopher-d Is it possible for you to Reset to Factory defaults?

[2017-01-25 09:33] neridonk opened #429 ""ErrorActionPreference" or common parameter is set to Stop: Element not found."
### Expected behavior
Docker should run

### Actual behavior
Docker fails

### Information
I can create the mobyLinuxvm with thte Hyperv gui (Generation 1)
https://github.com/docker/for-win/issues/67#issuecomment-245841516
BUT when i try to run the machine i get
"Boot failed: not a bootable disk. No bootable device."

this tip here didnt helped me too...
https://github.com/docker/for-win/issues/40

[2017-01-25 10:24] dermeister0 opened #430 "Docker for Windows - high CPU usage when service is stopped"
### Expected behavior

Docker service is stopped.

Docker logo in tray does not consume much resources. The Settings dialog shows 'Docker is stopped' message.

### Actual behavior

Docker service is stopped.

    PS C:\Users\anton> Get-Service com.docker.service

    Status   Name               DisplayName
    ------   ----               -----------
    Stopped  com.docker.service Docker for Windo

[2017-01-25 10:29] tschmit commented on #406
exact same issue (both channel stable and beta) on a new windows 10 pro installation

[2017-01-25 10:57] katygarner opened #431 "Docker for Windows Failed To Start"
### Expected behavior

Expect to see that docker has started successfully

### Actual behavior

After several minutes, error saying "Invalid bind address format: http://localhost:2375" and docker has not started.

### Information

  - Diagnostic ID: 8B05F453-80F1-4E18-95A3-6FF744157E1B/2017-01-25_10-50-55
  - Windows 10 Pro (OS Build 14393.693)

### Steps to reproduce the behavior

  1. Try to Sta

[2017-01-25 11:02] ARKAFAJ commented on #30
I have docker for windows beta, installed using the msi package from the docker-for-windows page.
However it is not starting and is showing an error insufficient memory. I have reduced the virtual machine memory to 512 mb. still it is not working. i am a very beginner in using these tools. it will be a grat help if someone could help me in this. Thanks in advance

[2017-01-25 12:55] luca-moser opened #432 "DHCP enabled on DockerNAT"
### Expected behavior
It should start.

### Actual behavior
Crashes on a fresh installation. Note: the MobyLinuxVM is never created in Hyper-V

### Information

Log file:
[code]

[2017-01-25 14:15] rneugeba commented on #174
@l8nite could you try [Beta 39](https://download.docker.com/win/beta/InstallDocker.msi), which was just released. It contains some fixes to the integrated DNS which may solve your issue. If you still have issues with DNS, it would be great if you could provide a new diagnostics ID for us to take a look at.
Thanks

[2017-01-25 14:15] rneugeba commented on #379
@planetf1 could you try [Beta 39](https://download.docker.com/win/beta/InstallDocker.msi), which was just released. It contains some fixes to the integrated DNS which may solve your issue. If you still have issues with DNS, it would be great if you could provide a new diagnostics ID for us to take a look at.
Thanks

[2017-01-25 15:13] planetf1 commented on #379
I just tried the latest beta and checking now all is working fine. DNS is resolved when on vpn (including for servers within the private intranet) and when not.

HOWEVER in the interim I switched from the production win 10 build to the insider/fast build (currently on 15014)  due to other networking issues, so unfortunately I can't be sure which change actually fixed it.

[2017-01-25 15:29] rneugeba commented on #379
Thanks for getting back so quick and glad it's working now. I'm closing the issue.

It's almost certainly the VPNKit update. We fixed the behaviour when multiple DNS servers were in use and one returned an error before the real answer came back. From the diagnostics you sent this looked like what was happening.

[2017-01-25 15:29] #379 closed

[2017-01-25 16:45] kutenai commented on #406
Ack. I've been trying to get Docker running on a windows VM for a while. Did not realize it required Parallels PRO to do it till yesterday. I bought the upgrade, downloaded it, and was all excited to run it.. and I got this. So dissappointed right now, but hopeful there is a fix coming??

[2017-01-25 16:57] mattgould commented on #406
To be absolutely clear, I am getting this error when running windows natively, not in a VM.
I am running Windows version:
[code]

[2017-01-25 19:13] micdah commented on #426
I have tested the sample code on my Mac running the newest version of docker as well, and the issue doesn't seem to appear there. Although I am still experiencing intermitten connection failure across all threads at once - but here it recovers immediately and continues to work, no fuss.
Whereas on Windows, the port is dead and cannot be used again before Docker has been restarted.

[2017-01-25 19:25] jimmyharris commented on #425
I can understand that perspective but it is frustrating that we cannot, as users, attempt to work with hyper-v 's dynamic memory despite the random issues.  I would be more than happy to make the attempt to resolve these issues if I were able to modify docker for windows to support these capabilities myself, but there doesn't appear to be a path to even attempt to experiment with these issues with

[2017-01-25 19:50] britomi opened #433 "Docker does not start..."
### Expected behavior

Docker starts.

### Actual behavior

Docker does not start.

### Information

Issue began after first time install of Docker for Windows on a Windows 10 laptop.

Win 10 1151 (build 10586.713)

C0926195-32E6-4899-ABAC-348AA5AD363D/2017-01-25_14-37-45  - Diagnostic ID from "Diagnose & Feedback" in the menu.

### Steps to reproduce the behavior

  1. Start Docker.

[2017-01-25 20:18] anongitmous commented on #271
@Malmas , yes, Windows 10 was running in a VM (VMWare 12.5.2)

[2017-01-25 21:00] Malmas commented on #271
@anongitmous Can you drop your Hypervisor settings? For example how many CPU's have you assigned to your Windows 10 VM? Because I still have the problem and I haven't installed update KB3213986.

[2017-01-25 21:43] anongitmous commented on #271
Server
GPU 1. VMWare SVGA 3D
Use this GPU with RemoteFX - grayed out
Allow vms to span physical NUMA nodes - checked
Simultaneous storage migrations - 2
Allow enhanced session mode - checked
User
Keyboard - Use on the virtual machine - selected
Mouse Release Key - Ctrl-ALt-Left Arrow
Use Enhanced Session mode - checked

VMWare Settings
Mem - 16GB
Processors - 8 (2 x 4 cores per processor)
Virtuali

[2017-01-25 23:05] mattgould commented on #406
After applying all windows updates and restarting, Docker is now working again.

[2017-01-25 23:05] #406 closed

[2017-01-26 01:39] kutenai commented on #267
It is unfortunate that this issue is closed. I have a very specific reason to use Docker under Parallels with windows on my Mac.. I'm supporting others that "do windows", so for me, it's a process development and validation need.

Parallels Pro purportedly support this, so not sure why it's failing. I've spent 2 last two days on and off updating, validating and basically doing everything I can thi

[2017-01-26 01:46] friism commented on #267
@kutenai can you create and run a normal Linux Hyper-V VM inside your Windows parallels VM on your Mac?

[2017-01-26 01:47] kutenai commented on #267
I've never tried. I'll have to google how to do that, but I'll give it a shot.

[2017-01-26 02:07] friism commented on #427
@soymilkfj does it work after the clean-up? Checking with @kallie-b to see if she has ideas

[2017-01-26 02:11] l8nite commented on #174
@rneugeba It is working! I verified I can resolve both internal and external domains while connected to VPN, and things continued to resolve correctly when I disconnect from the VPN.

🍻 and 🌮 for you guys!

[2017-01-26 02:11] #174 closed

[2017-01-26 02:13] soymilkfj commented on #427
It still can't wget .  :(

[2017-01-26 02:46] kutenai commented on #267
Yes, I am able to boot a Hyper-V with an iso image, and it appears to be working as expected.

[2017-01-26 04:03] syncxplus commented on #404
@dgageot Thanks for your explain. So far I see it is not a actual issue. Just feel confused since the container is not pulled by myself. It's an expected behaviour, right? If that we can close this topic.

[2017-01-26 05:14] ThePhoenyx commented on #402
Unfortunately for me, that didn't work either, Rich. As I commented in someone else's issue, at least the Docker Toolbox does work for me. Only the Docker for Windows (ie. the hyper-v version) refuses to work.

On a side note, when Microsoft's new update (Creator's Update? Whatever...) is probably going to cause
even more problems. I wonder if I can get the Ubuntu version working under Bash4Ubuntu

[2017-01-26 05:45] #404 closed

[2017-01-26 06:53] tverboon commented on #267
@kutenai Which Mac are you running on? Could you run this command in Terminal and see if it returns 1:
`sysctl kern.hv_support`

On my Late 2009 iMac it didn't work with Parallels 11 or Parallels 12 Pro, my Late 2015 iMac with Parallels 11 is working. I figured the big difference is the Intel processor.

[2017-01-26 11:26] gokhansengun commented on #76
Tried everything including fresh install of Win 10. Issue appeared to be not enabling VT-x support from VMware :-)

ps: I am running Windows on a Mac

[2017-01-26 12:33] mattmeye commented on #418
+1 ( see https://github.com/docker/docker/issues/30322 )

[2017-01-26 13:28] rneugeba commented on #418
Maybe I'm missing something, but with Beta 39 I get the following:
[code]
I changed timezones in between. The time in the container shows UTC correctly irrespective of the timezone setting of the host.

[2017-01-26 13:39] eczajk1 commented on #403
Fine with me.  Thanks for the help.

[2017-01-26 13:39] #403 closed

[2017-01-26 14:05] s0ar commented on #274
Updating Windows 10 with the Update package KB3213986 resolved the issue for me. For some reason this package could not be installed via Windows update automatically so i downloaded and installed it manually from here: http://www.catalog.update.microsoft.com/Search.aspx?q=KB3213986

[2017-01-26 14:09] philsown commented on #355
@johnrb2 - did you ever figure this out with Cisco VPN? My team are all using a docker container for development and it's made WFH really annoying. Thoughts? Thanks, Phillip

[2017-01-26 14:13] philsown commented on #355
\\\\10.0.75.1\C

[2017-01-26 14:38] johnrb2 commented on #355
@philsown yeah I just had to change the address in network settings to 192.168.x.x since the VPN was already using the 10.0 ones.

[2017-01-26 14:45] johnrb2 commented on #355
@philsown there is another thread regarding the Cisco VPN that my solution didn't work for @sugun999 he or she could use some help.

[2017-01-26 14:49] johnrb2 commented on #355
On issue #360

[2017-01-26 18:31] kutenai commented on #267
Tom,

Yes, it returns 1.
I am on an 2010 MacPro with dual quad-core Xeons. These are Westemere
processors and they do support the intel hardware virtualization, Virt-X
or whatever it's called.

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2017-01-26 19:31] jhowardmsft commented on #199
I'm investigating - looks like this only repros in Hyper-V containers, so is most likely a platform bug from what I've debugged so far. Let me get back to you once I know more and have looped in some folks internally here.

[2017-01-26 19:41] tverboon commented on #267
Strange thing is that I don't have the Pro edition of Parallels 11. According to Parallels, it should not work. I bought 12 Pro for the old iMac, hoping it would work, but it didn't. I'm running Windows 10 Pro on Parallels 11 on MacOS Sierra.

What is your exact configuration?

[2017-01-26 19:54] kutenai commented on #267
I don't know how much detail you want, but here's a start.

Hardware: Mac Pro 2010, 8-core - dual 2.4Ghz Xeon CPU's. 32GB of Ram.

Core Operating System: latest version of OSX Sierra.

Parallels: Parallels Desktop 12 for Mac Pro Edition

Windows VM: Windows 10 Pro, 64bit, with all of the latest patches and
updates that the update utility reports.

Docker: Docker for Windows version 1.13. I've trie

[2017-01-26 20:16] friism commented on #188
Beta39 released this week has significant performance improvements. We're working on making it faster still.

[2017-01-26 21:48] jhowardmsft commented on #199
Have verified this is a platform bug in RS1. It only affects Hyper-V containers as I mentioned above. The fix is in post-RS1 builds (I verified on build 15010). I don't know whether a fix will be back-ported though. @patricklang for tracking.

@rneugeba There probably little point having an issue open here as there's nothing that can be done in docker for Windows or in any of the OSS code supporti

[2017-01-26 21:59] rneugeba commented on #199
@jhowardmsft thanks for digging into this. I'll verify tomorrow with the latest insider build and then may close this.

In the future which issue tracker is the best for this type of stuff? I'm happy to redirect users to the appropriate forum

[2017-01-26 22:00] jhowardmsft commented on #199
I'm not sure, this type of issue (platform bug) has come up a few times. I'll leave that for @PatrickLang to determine :smile:

[2017-01-27 00:58] psykzz opened #434 "DockerNAT stalls when creating"
### Expected behavior
Docker starts normally

### Actual behavior
Docker is starting forever, never actually finishing

### Information
Diag ID: A8BF08A2-6EE8-4BD3-BD9F-9E699A11A033/2017-01-27_00-55-57

I tried a few things like restarting, and reinstalling hyper v, no dice.
I tried to run the mobylinux.ps1 manually first deleteing and then with `-create` again no change.

I finally used the force

[2017-01-27 05:40] tverboon commented on #267
Well we have the same setup for the most part. The most obvious differences are the underlying hardware and Parallels Desktop version. You could try to run a backup of your VM image on parallels desktop 11: http://www.parallels.com/directdownload/pd11/

Other than that I am out of ideas, because it's either something in Docker or Parallels or both.

[2017-01-27 08:26] bhumesh opened #435 "Error response from daemon: Unknown instruction: HYDRATE"
### Expected behavior
Should give * BUILD SUCCEEDED *
### Actual behavior
Sending build context to Docker daemon 112.6 kB
Error response from daemon: Unknown instruction: HYDRATE
### Information
I am trying to generate sample image using provided here https://github.com/jkingyens/docker4xcode but ran into this issue. Below is docker information:

$ docker -v
Docker version 1.13.0, build 49bf474

$

[2017-01-27 11:50] rneugeba commented on #267
Docker for Windows should be able to run inside Windows 10 VM running on top of Parallels and or VMware on a Mac provided it the VM is properly configured, and even then it is possible that sometimes issues occur due to the way Parallels and VMware virtualise the Hardware. FWIW, I run Docker for Windows in a Windows VM on VMware Fusion on my Mac and we use Windows VMs on ESXi for testings. And in

[2017-01-27 14:22] friism commented on #435
`HYDRATE` is not a Dockerfile instruction. It appears to be invented by the xcode-related project you reference, which is not affiliated with Docker.

Here's a Dockerfile reference: https://docs.docker.com/engine/reference/builder/

[2017-01-27 14:22] #435 closed

[2017-01-27 14:41] Ltek commented on #214
I've tried all of the above, nothing works event on latest beta. opening new issue with diags

Unable to destroy: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Invalid class

   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.ContainerEngine.Linux.DoDestroy(Boolean keepVolume)

[2017-01-27 14:53] Ltek opened #436 "Docker does not run - create VM in Hyper-V "Unable to destroy: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Invalid class""
### Expected behavior
docker fresh install should start and create VM in Hyper-V

### Actual behavior
does not create VM and throws error...

Unable to destroy: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Invalid class

at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
at Docker.Backend.ContainerEn

[2017-01-27 14:55] rneugeba commented on #199
@jhowardmsft @PatrickLang I retested on insider build 15014.1000 and the `Get-ChildItem -Recurse` still hangs.

[2017-01-27 16:27] nouryf commented on #424
I updated my Windows 10 Pro to anniversary edition and the installer error is now gone. So it seems like a minimum build version is needed for Windows Pro to install 'Docker for Windows'. Having any build of Windows Pro seems to be not enough.

[2017-01-27 16:28] #424 closed

[2017-01-27 18:09] kutenai commented on #267
I have verified all of the items you mention above. I have 8GB and 4 CPU's assigned to the VM, and then 2 CPU's with 2GB assigned to Docker. I have nested virt. enabled, windows is up-to-date, etc.. I also have Westmere processors..

But, as you said, YMMV. I think my next step is to install a fresh copy of Windows 10.. since the one I'm using has a lot of cruft. Windows always did have a tendency

[2017-01-27 18:23] londoncalling commented on #267
@rneugeba @friism I _could_ add some of this info, with appropriate caveats, under an FAQ or Troubleshooting somewhere, as a link off of the "not supported" line, if you like. Let me know if this would lead to more or less problems/overhead.

[2017-01-27 19:03] oferpl opened #437 "net/http: TLS handshake timeout"
### Expected behavior

### Actual behavior

### Information

  - Diagnostic ID : A172D1A8-178E-4CA7-8546-82EEBD6FDFE3/2017-01-27_21-00-52

### Steps to reproduce the behavior

  1. Tryied to pull microsoft/iis:nanoserver and failed over "net/http: TLS handshake timeout"

[2017-01-28 10:48] SG5 commented on #157
Have same issue with stable docker 1.12.6 (9655), re-sharing solved problem

[2017-01-28 13:29] jack17529 opened #438 "Docker in red does not quit after quitting in the icon tray."
Should quit when clicked.

Insted It restarted again.

### Steps to reproduce the behavior

  1. Wait till the docker becomes red or nonfunctional.
  2. Try to quit by right clicking in the icon tray.

[2017-01-28 14:02] rneugeba commented on #426
@micdah Thanks for the very detailed repro (probably the most detailed I've seen sofar!).

Just for my record, I had to install the dotnet CLI tools from [here](https://www.microsoft.com/net/core#windowscmd) to compile and run the stress test.

The issue seems to be with a component called `VPNKit`. We run some stress tests against it in CI but your case seems to put an heavier load on it.

In the

[2017-01-28 15:48] Breuls commented on #378
I'm running into the same problem. My Windows machine is a virtual one, downloaded from the [Windows Dev Center](https://developer.microsoft.com/en-us/windows/downloads/virtual-machines), and I downloaded the Docker for Windows from the [website](https://docs.docker.com/docker-for-windows/) (I tried stable and beta).

When I start, I get the "Unable to write to the database." as mentioned above. T

[2017-01-28 17:43] rneugeba commented on #432
Thanks for the report. Could provide a diagnostics ID? You can upload it via the whale systray icon and then Diagnose & Feedback.
Thanks

[2017-01-28 17:56] rneugeba commented on #433
Thanks for the report. I had a look at the diagnostics and it looks like everything is more or less starting fine, but *very* slowly. As part of the Application start we boot  Linux VM on Hyper-V. Even on quite nimble dual core Intel NUCs the VM typically boot in 5-10 seconds. On your system it often takes way more than 60s, sometimes to only even half boot the Linux kernel....

Docker for Windows

[2017-01-28 18:00] rneugeba commented on #431
@katygarner thanks for your report. It looks like you have the `DOCKER_HOST` environment variable set:
[code]
could you unset it and try again? You may have to log out and in again for the change to take effect.

[2017-01-28 18:00] mahaalkhairy opened #439 "Trying to connect to http, ip, and tcp using docker but failing"
### Expected behavior

get a http:// connection for the running result

### Actual behavior
Error:
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: error during connect: Post http://MY_SERVER_IP:2375/v1.25/containers/create: dial tcp: lookup MY_SERVER_IP: getaddrinfow: No such host

### Information

  - Diagnostic ID: E795E212-E8D6-420A-ABE3-D5CE015926A5/2017-01-28_12-42-13
  - host distri

[2017-01-28 18:05] rneugeba commented on #335
Closing this issue due to inactivity. If you still have the issue, please re-open after you tried with the latest Beta and the above suggestions.
Thanks

[2017-01-28 18:05] #335 closed

[2017-01-28 18:07] rneugeba commented on #386
Closing due to inactivity. Please re-open if you still have the issue with the latest Beta and provide a new diagnostics ID.
Thanks

[2017-01-28 18:07] #386 closed

[2017-01-28 18:24] rneugeba commented on #439
@mahaalkhairy I'm not sure I understand your scenario. If you have Docker for Windows installed and running on you local machine you don't need to specify the `-H` option.

If you try to use the docker CLI to interact with a docker daemon running on a another machine you need to make sure that the firewall allows connection to port 2375 and that the daemon is listening on the main interface.

[2017-01-28 18:43] rneugeba commented on #428
It looks like the Linux VM did not find the hard disk as I see:
[code]
In the Logs. Could you check that `C:\Users\Public\Documents\Hyper-V\Virtual Hard Disks\MobyLinuxVM.vhdx` exists? Could you also try a factory reset?

thanks
rolf

[2017-01-28 18:58] pkch commented on #428
@rneugeba Yes, `C:\Users\Public\Documents\Hyper-V\Virtual hard disks\MobyLinuxVM.vhdx` exists. I don't want to do factory reset yet; I'm pretty sure it will fix the problem, but then I wouldn't be able to do any additional diagnostics to find the bug. I guess if nothing useful can be done, I'll factory reset in a few days.

[2017-01-28 19:43] manuc66 opened #440 "Docker log files contains docker hub password in clear after using Kitematic on Windows"
### Expected behavior
Kitematic should not use an authentication api where the password is put in the URL and any password should never be found in clear
### Actual behavior
Docker log files contains docker hub password in clear after using Kitematic on windows:

### Information about the Issue
- Windows `10`
- Kitematic `0.13.0.0`
- Docker `1.13.0 (9795)`
- file: `C:\Users\${user}\AppData\Local\D

[2017-01-28 20:11] rneugeba commented on #428
@pkch Hmm, I didn't see anything obvious in the diagnostics except this from the Linux boot:
[code]
This is the Linux kernel probing the VMBus for storage devices and reporting an error. It's a little un-usual since -12 is `ENOMEM`, but that might just be a wrong error code.

I think we have all the information we need at this stage, so please try the factory reset and see if it fixes it.

[2017-01-28 21:29] micdah commented on #426
@rneugeba Ah yes, I forgot to mention that you needed .net core tools, that is my bad. :-)
As this is such an intermittent issue, I figured a consistent way of reproducing it would be useful in diagnosing and identifying the issue.
Also I was curious whether the issue was specific to one of the services we are developing (normally these don't run under Docker, just for development at the moment),

[2017-01-28 21:57] rneugeba commented on #426
The VPNKit code received significant updates since 1.13.0 stable both in the DNS handling code as well as a on the main data path (including some performance improvements) so I'm not surprised that it fails in different ways.

Your test code seems to put a considerable stress on it...If I understand the code, it tries to continuously open up to 500 connections (depending on the number entered) con

[2017-01-28 21:58] rneugeba commented on #267
@londoncalling yeah, that would be useful. Then I can just link to it if similar issues arise.
thanks

[2017-01-28 22:24] micdah commented on #426
Yes that is correct, my first instinct what that it was related to either (or both) the number of concurrent connections and their activity/throughput.

So my first attempt to reproduce the issue, was having a configurable number of continuously open connections with high activity.

In my example code, I make no attempt to re-connect if a connection fails - so the connections seem to be stable, un

[2017-01-28 23:08] kutenai commented on #214
I am in the same situation at Ltek. I've tried just about everything. My crash report id is:
5E8A7F1E-5EC7-4091-B3D4-C35B7B7820A7/2017-01-28_15-59-42

I can see the MobyLinuxVM start, and shut down 2 times, but it keeps failing with the NamedPipServer issue.

Surely someone is familiar with that subsystem and could provide some possible troubleshooting/diagnostic steps to get that fixed?

[2017-01-28 23:12] Ltek commented on #214
Oddly enough, today my Docker is starting on boot, without crashing… BUT Hyper-V Manager does not show MobyLinux VM and when I try to connect/import it to Hyper-V, in the folder C:\Users\Public\Documents\Hyper-V\Virtual hard disks -- it tells me it does not find any virtual machines or I don’t have permissions!?  I checked Sec rights are fine.

I’ll trying uninstalling AGAIN!

From: ed@sharpertool

[2017-01-28 23:19] kutenai commented on #214
I just found a bit if information that may be useful.
I am able to create a Ubuntu Hyper-V VM manually, as a "Generation 1" VM. But, if I tried to create this as a Generation 2, I have issues.

Docker is creating the MobyLinuxVM as a Generation 2. Now, I have no understanding of the difference, except that the G2 uses SCSI. The Error I get is "Synthetic SCSI Controller (...) Failed to Power on wit

[2017-01-28 23:31] Ltek commented on #214
I can create a gen2 VM without issue on Hypr-V manager. But HV mgr does not 'see' the MobyLinuxVM in that same folder it just created a VM!?

[2017-01-28 23:33] kutenai commented on #214
The MobyLinuxVM only exists while Docker is trying to start, and probably while it is running normally. Mine creates one, but removes it once Docker fails to run.

From: Ltek <notifications@github.com>
Reply-To: docker/for-win <reply@reply.github.com>
Date: Saturday, January 28, 2017 at 4:31 PM
To: docker/for-win <for-win@noreply.github.com>
Cc: "ed@sharpertool.com" <kutenai@me.com>, Comment <comm

[2017-01-29 00:35] Ltek commented on #214
I just deleted MobyLinuxVM then ran Docker install again. Startup still gave the same error... and when starting MobyLinuxVM did not show in the folder like it did before.

[2017-01-29 00:42] londoncalling commented on #267
@rneugeba cool, I will do it!

[2017-01-29 00:55] BretFisher commented on #267
Some more info in my testing.  I have a similar setup and same error... Windows 10 Enterprise running on Parallels for Mac 12 Pro. macOS 12 on latest MacBook Pro 13".

I can start Hyper-V and create a Linux VM fine and run it fine.  The Moby VM, when the Docker agent starts it, uses 20-25% CPU and I never see it boot in the VM Console, Hyper-V just says "Connecting".

Docker for Mac used to work,

[2017-01-29 01:11] rneugeba commented on #267
@BretFisher the MobyLinux VM is configured to not use the console, but the serial console, which the Docker for Windows application is monitoring (and the output should be in the logs). So you won't see anything in the Hyper-V manager console. You also can't just boot the ISO because the Linux inside is configured to contact some services on the host during boot. So, if the app is not running the

[2017-01-29 01:29] friism commented on #374
@jelster sorry about the back and forth - I understand it's not 100% clear. Generally, problems directly related to running and managing containers and images should be reported on `docker/docker`. Anything related to installation, using the GUI functions of Docker for Windows, non-working networking with VPN, problems with host-volume sharing or any other problem that Docker for Windows specifica

[2017-01-29 02:00] Bandito11 opened #441 "Windows explorer freezes"
### Expected behavior
Right click the docker in the hidden icons in the taskbar and for it to do the actions
### Actual behavior
Right click the docker in the hidden icons in the taskbar and it opens the action I selected. But I have to restart windows explorer because it freezes.
### Information

### Steps to reproduce the behavior

  1. ... Right click the while in the hidden icons
  2. ...Or ju

[2017-01-29 05:58] sitex commented on #286
I have updated Docker to v.1.13.0-beta39.
And it looks like the issue is solved.

[2017-01-29 10:52] kamkie commented on #286
for me problem still exists
27CA4E77-3441-4D83-9240-B52F69F2EF03/2017-01-29_11-46-42

[2017-01-29 11:11] rneugeba commented on #286
@sitex thanks for reporting back and glad it's working for you now...

@kamkie thanks for trying Beta39. Your case looks slightly different. We try to open some ports in the firewall and only if that succeeds start some other components. On your system it takes something like 19 minutes for the firewall code to complete, thus delaying everything...

I've filed an internal tracking issue

[2017-01-29 11:23] rneugeba commented on #430
@dermeister0 thanks for the report. I can reproduce it.

The service is actually required to run when the application is running. And simply restarting the service does makes the CPU load go away, but then the app doesn't work. So basically you shouldn't really stop the service without quitting the application.

Why were you stopping the service?

[2017-01-29 11:25] davidflam commented on #286
I can confirm that is working as expected since 1.13.0-beta39.

[2017-01-29 13:22] yossi-neeman commented on #248
Have the same issue
ID - 52540761-A3D5-4CB1-A7EE-12326EB7A457/2017-01-29_15-05-40
Any resolution on this?

[2017-01-29 13:24] yossi-neeman commented on #402
Have the same issue
Editing the MobyLinux.ps1 script as suggested didn't solve the issue
ID - 52540761-A3D5-4CB1-A7EE-12326EB7A457/2017-01-29_15-05-40
Any resolution on this?

[2017-01-29 13:37] BM78 commented on #350
I have also encountered this issue with a Samsung 960 Pro.  It happens when I create a new standalone VHDX as well.  I plugged in an 850 EVO via USB, pointed the Hyper-V virtual disk path at it and was able to get things working.

[2017-01-29 13:51] jpayne commented on #350
This failure seems to be caused by Samsung's NVMe 2.0 driver for the 960 Pro. Reverting to Microsoft's NVMe driver caused VM creation to start working again. Seems Microsoft and/or Samsung have a Hyper-V incompatibility issue to sort out.

[2017-01-29 13:52] radulacatus commented on #214
I had the same issue as in the [initial comment](https://github.com/docker/for-win/issues/214#issue-188114338). Turned out i had two Virtual Switches with the same name. Once i removed them i was able to run docker without any reinstall. Might want to also check that in _Hyper-V Manager > Virtual Switch Manager_

[2017-01-29 14:14] chananshgong commented on #38
Waiting for a solution. I would like to connect to docker using PyCharm in windows and fail to do so as well.

[2017-01-29 19:03] Ltek commented on #214
Not a Virtual Switch Issue... I only have one, DockerNAT

[2017-01-29 19:14] ahoehma opened #442 "Can't use windows drive "f""
I'm trying to do https://jhipster.github.io/installation/ ...
Instead of mapping into my "user home" I want bind the volums to a directory on my F drive ...
I'm in a gitbash, docker is running ....

Andreas Höhmann@YueLong MINGW64 /f/workspace-docker/jhipster
$ pwd
/f/workspace-docker/jhipster
$ docker run --name jhipster -v `pwd`:/home/jhipster/app -v `pwd`/.m2:/home/jhipster/.m2 -p 8080:8080 -p

[2017-01-30 05:14] ghostsquad commented on #271
This should be reopened. I'm running Windows 10 (Host, not a guest), and this is the error that I get when starting Docker for Windows.

[2017-01-30 07:18] ekropotin commented on #316
I Faced the same issue with Docker Toolbox on Windows 7. Is any workaround avaliable?

[2017-01-30 07:38] luca-moser commented on #432
Uploaded, id: 6269B528-4109-4869-AAA5-D174CA067A07/2017-01-30_08-37-18

[2017-01-30 08:00] dgageot commented on #442
@ahoehma Thanks for the report. Are you able to mount another drive then F? I no drive can be mounted, can you check that there's no firewall blocking the communication between the HyperV Linux VM and your host. See https://docs.docker.com/docker-for-windows/#firewall-rules-for-shared-drives

[2017-01-30 08:01] dgageot commented on #441
Hi @Bandito11 Thanks for the report. Can you tell us which version of Docker for Windows you are using? Can you share logs or a diagnostic id with us?

[2017-01-30 08:03] dgageot commented on #440
@manuc66 Thanks for the report. I'm going to create a ticket for this issue in our internal tracker. I think the issue is 2 fold:
 + D4W should try to hide this type of password.
 + Kitematic shouldn't post a password in clear in the first place

@FrenchBen Do you think this can be fixed in Kitematic?

[2017-01-30 08:08] dgageot commented on #438
@jack17529 Thanks for the report. Can you tell us which version of Docker for Windows you are using? Also do you have logs or a diagnostic id to share?

[2017-01-30 08:14] dgageot commented on #437
Hi @oferpl Thanks for the report. Can you confirm you can pull other images than `microsoft/iis:nanoserver`? I see errors like `lookup registry-1.docker.io: getaddrinfow: No such host is known.` Maybe it was a transient issue.

[2017-01-30 08:16] atmorell commented on #426
I am seeing exactly the same behavior. VPNkit crashes under heavy load, and all containers stops responding. Restarting Docker makes everything great again ;)

`
dmesg on the docker VM in Hyper-V shows the following error:
docker run --rm --privileged debian:jessie dmesg
[ 90.463682] device veth719b2e2 entered promiscuous mode
[ 90.463788] IPv6: ADDRCONF(NETDEV_UP): veth719b2e2: link is not ready

[2017-01-30 08:16] dgageot commented on #429
Closing as a duplicate of https://github.com/docker/for-win/issues/390

[2017-01-30 08:16] #429 closed

[2017-01-30 08:22] dgageot commented on #414
@dermeister0 Can you make sure docker/docker#27389 describes your issue or create another issue on docker/docker? I'm going to close this ticket here because it's not something that can be fixed by Docker for Windows. Thanks a lot!

[2017-01-30 08:22] #414 closed

[2017-01-30 08:24] dgageot commented on #410
@weavermount I can't find the diagnostic related to the id your shared. Something else must have gone wrong? Can you make sure you have the latest version of Docker for Windows installed? Can you also share the logs manually or try again to upload a diagnostic?

[2017-01-30 08:27] PetaPetaPeta commented on #371
@whitecolor I can't seem to make the `ln -s /d /mnt/d` to work correctly. I still get the error: `ERROR: build path /mnt/c/... either does not exist, is not accessible, or is not a valid URL.` Do you do anything else to make it work?

[2017-01-30 08:29] dgageot commented on #407
Hi @phpguru Can you make sure nothing is using port `3306` on your windows machine? In your diagnostic logs, I can see `mysqld.exe` running on that port.
When a port is already taken on Windows, no container can use it since the way Docker for Windows works is that it will ultimately try to bind your containers to localhost (ie the windows box)

[2017-01-30 08:40] rneugeba commented on #271
could you open a new issue with a diagnostics ID?

[2017-01-30 08:44] zezke commented on #147
I ran into the same issue after installing the latest update. However @fishhead108's suggestion to edit the hosts files fixed my issue.

[2017-01-30 08:50] oferpl commented on #437
That was already resolved. Thanks.

[2017-01-30 08:50] #437 closed

[2017-01-30 08:54] dgageot commented on #369
Hi @weidi Any chance you got to try with `http://` prefix?

[2017-01-30 08:56] dgageot commented on #367
Hi @vowstar, I'm going to close this issue as it's not something we consider changing. Please free top reopen with more information if you feel it's important for you.

[2017-01-30 08:56] #367 closed

[2017-01-30 09:27] whitecolor commented on #371
@PetaPetaPeta does the link you created indied MobyLinuxVM works ok? First you should `mkdir -p /mnt`

Btw there is a problem with this workaround that every time docker engine restarts (for example on system reboot) it restores original MobyLinuxVIM image,, so you have to execute commands for liks again (I execute some cli file after each docker start **manually** which is kind of clumsy but work

[2017-01-30 09:58] katygarner commented on #431
@rneugeba Thanks for your response.

DOCKER_HOST wasn't showing in the environment variables gui, as I'd deleted it previously.  After your message I looked a little further and discovered that it was visible when I used "set" in the command window.  I managed to completely get rid of any trace of the environment variable and docker is now starting.

Thanks!

[2017-01-30 10:00] rneugeba commented on #431
Glad it's working for you now. Closing.

[2017-01-30 10:00] #431 closed

[2017-01-30 10:12] weidi commented on #369
Hi @simonferquel @dgageot , It´s not working with or without http://
I get:
`[10:51:39.227][UpdateFeedDownloader][Error`  ] The remote server returned an error: (407) Proxy Authentication Required.`
Also a problem is, that the UI stays in Docker is starting mode and i´m unable to cancle this to edit settings, so i do have to do it manually in settings.json

[2017-01-30 10:35] dgageot commented on #369
@simonferquel any idea?

[2017-01-30 10:40] atiwari1989 opened #443 "Docker failed to start"
### Expected behavior
Docker should start

### Actual behavior
Docker not starting.

### Information

  - Diagnostic ID from "Diagnose & Feedback" in the menu.
75C78334-B964-4DA5-9A86-31B48143BA98/2017-01-30_10-38-03
  - a reproducible case if this is a bug, Dockerfiles FTW
  - page URL if this is a docs issue or the name of a man page
  - host distribution and version (Windows version, build numb

[2017-01-30 10:40] jack17529 commented on #438
Beta version.

[2017-01-30 11:16] dgageot commented on #376
@ramondeklein @simonferquel I'm going to close this issue in favor of [this one](https://github.com/docker/docker/issues/30555) on docker/docker

[2017-01-30 11:16] #376 closed

[2017-01-30 11:20] dgageot commented on #179
@mlapierre @roolebo @Jonathan34 I'm going to close this issue in favor of [this one](https://github.com/docker/docker/issues/30556) on docker/docker. This is not something that can be fixed by Docker for Windows

[2017-01-30 11:20] #179 closed

[2017-01-30 11:39] dgageot commented on #372
@juliankolbe @kobenauf Did you have time to prepare a simple concrete sample command line?

[2017-01-30 11:42] dgageot commented on #443
Hi @atiwari1989 could you please try a more recent version of Docker for Windows? This should give us more information to debug your issue.

[2017-01-30 11:48] atiwari1989 commented on #443
Hi David,
It is giving error when I am trying to install updates as well.

Crash report uploaded with id
D15C29DC-93D4-42D3-B15E-9A2EA4AA69DC/2017-01-30_11-47-18

<http://www.openbet.com/> Abhijit Tiwari
Software Analyst
T: +44 208 742 1600

E: abhijit.tiwari@openbet.com
W: www.openbet.com
OpenBet Ltd
Chiswick Park Building 9
566 Chiswick High Rd
London
W4 5XT
UK
<https://www.openbet.com/email_pro

[2017-01-30 11:55] dgageot commented on #426
@djs55 Could you please take a look at the diagnostics?

[2017-01-30 12:26] juliankolbe commented on #372
@dgageot @rneugeba Hi, sorry it took a while. So i'm not exactly sure what you mean by sample command line, but i hope this is it. If it isn't let me know. So the one with colour is obviously cmder, which i have now adopted. The other is the gitbash for windows as supplied by git.

##### What it used to look like on gitbash more or less
![Image of Cmder](https://i.imgur.com/hRm51yq.png)

##### Wha

[2017-01-30 12:31] danieldefrancisco-lr opened #444 "Docker 1.13 fails to start"
### Expected behavior
Docker starts
### Actual behavior
Docker stays in "starting.." mode for some minutes and then it fails and it goes red. After it fails, Docker can not be exited.
### Information
  - Diagnostic ID from "Diagnose & Feedback" in the menu.
1BAC5013-20F1-4622-BE88-EF3C685BCF6D/2017-01-30_13-20-55

  - host distribution and version (Windows version, build number, etc)
Windows 10 Pr

[2017-01-30 13:56] sebastien-f commented on #385
Just to add more to the diagnostic : since updating to 1.13.0 build 49bf474 (more or less when it was available), I did not run into the issue until today (at the container start). Applying was not sufficient, I had to reset the credentials. I was connected to the VPN earlier today. I'll keep updating if I notice anything related to the issue and worthwile.

[2017-01-30 14:22] vrindanayak opened #445 "Mounting data volume for Postgres in docker for Windows doesn't work"
### Expected behavior
Postgres should start and mount the correct windows directory as a data volume

### Actual behavior
[code]

### Information

docker-compose.yml file :
[code]

Note : Substituted `<user>` with my user

docker-compose.env file
[code]

### Steps to reproduce the behavior

  1. Share Drive using Docker for Windows->Settings->Shared Drive -> C:
  2. Use _docker-compose up -d_

Sim

[2017-01-30 14:57] epineda commented on #316
workaround that works for me in Windows 10: reinstall Docker Toolbox.

[2017-01-30 14:59] reypm commented on #316
@ekropotin @epineda in the latest upgrades I've run I just open Hyper-V and then reset Docker through the GUI 2 or 3 times, that's enough at least for me, the cause not sure @rneugeba any advice here?

[2017-01-30 15:32] jelster commented on #374
@friism TYVM for the clarification! That helps a lot.

[2017-01-30 15:35] rneugeba commented on #400
we added the fix in master and it should hopefully make it into the next beta

[2017-01-30 15:35] friism commented on #431
@rneugeba do you think it would be worth checking for this in the installer?

[2017-01-30 15:45] rneugeba commented on #431
@friism created an internal tracking issue

[2017-01-30 16:15] mmaguigan opened #446 "Docker 1.13 breaks docker permanently for all versions?"
### Expected behavior
Docker should start.
### Actual behavior
Docker fails to create and start MobyLinuxVM.
### Information
I was operating on the Windows beta channel and received an update to 1.13 today. After the update I was repeatedly greeted with this message:

[code]

I have since tried uninstalling docker, installing the stable channel (which did not help), and then switching back to the

[2017-01-30 16:16] mahaalkhairy commented on #439
Thanks, my problem is fixed now

On Jan 28, 2017 1:24 PM, "Rolf Neugebauer" <notifications@github.com> wrote:

[2017-01-30 16:17] rneugeba commented on #439
great, thanks for getting back and good to hear it's working for you. Closing the issue

[2017-01-30 16:17] #439 closed

[2017-01-30 16:17] trimox commented on #446
+1 - This needs to get resolved

[2017-01-30 16:44] weshead opened #447 "Docker hv-sock proxy (vsudd) is not reachable"
### Expected behavior
Start and Run.
### Actual behavior
Fail to start
### Information
Error:
`
Docker hv-sock proxy (vsudd) is not reachable
at Docker.Backend.ContainerEngine.Linux.ConnectToVsud(TaskCompletionSource`1 vmId)
at Docker.Backend.ContainerEngine.Linux.DoStart(Settings settings)
at Docker.Backend.ContainerEngine.Linux.Restart(Settings settings)
at Docker.Core.Pipe.NamedPipeServer.<>c__